{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Inventory Universal API",
    "version": "0.0.6",
    "description": "Manage inventory catalog, contacts, sales orders, packages, shipments, and invoices"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoInventory/latest/actions/confirm-sales-order": {
      "put": {
        "operationId": "zohoInventory.confirm-sales-order",
        "summary": "Confirm Sales Order",
        "description": "Marks a sales order as confirmed in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/confirm-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "salesOrderId",
                  "organizationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "salesOrderId": {
                    "type": "string",
                    "description": "The Zoho Inventory salesorder_id for the sales order."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/create-contact": {
      "post": {
        "operationId": "zohoInventory.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "contactName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "contactName": {
                    "type": "string",
                    "description": "The display name for the contact."
                  },
                  "contactType": {
                    "type": "string",
                    "description": "Whether the contact is a customer or vendor.",
                    "default": "customer"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Company name for a business contact."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Internal notes for the contact."
                  },
                  "contactPersons[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more contact people associated with this contact."
                  },
                  "contactPersons[].firstName": {
                    "type": "string",
                    "description": "First name of the contact person."
                  },
                  "contactPersons[].lastName": {
                    "type": "string",
                    "description": "Last name of the contact person."
                  },
                  "contactPersons[].email": {
                    "type": "string",
                    "description": "Email address for the contact person."
                  },
                  "contactPersons[].phone": {
                    "type": "string",
                    "description": "Phone number for the contact person."
                  },
                  "contactPersons[].isPrimaryContact": {
                    "type": "boolean",
                    "description": "Whether this is the primary contact person."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_name": {
                            "type": "string"
                          },
                          "contact_id": {
                            "type": "string"
                          },
                          "contact_name": {
                            "type": "string"
                          },
                          "contact_persons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contact_type": {
                            "type": "string"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "currency_code": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "primary_contact_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/create-invoice": {
      "post": {
        "operationId": "zohoInventory.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "customerId",
                  "lineItems[]",
                  "lineItems[].itemId",
                  "lineItems[].quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer to bill on the invoice."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Invoice number when auto numbering is disabled."
                  },
                  "send": {
                    "type": "boolean",
                    "description": "Whether to send the invoice after creation."
                  },
                  "ignoreAutoNumberGeneration": {
                    "type": "boolean"
                  },
                  "date": {
                    "type": "string",
                    "description": "Invoice date in YYYY-MM-DD format."
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Invoice due date in YYYY-MM-DD format."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "External reference number for the invoice."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more invoice line items."
                  },
                  "lineItems[].itemId": {
                    "type": "string",
                    "description": "Item to add on this invoice line."
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity to invoice for this line."
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "description": "Rate for this invoice line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string"
                          },
                          "invoice_id": {
                            "type": "string"
                          },
                          "invoice_number": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "reference_number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/create-item": {
      "post": {
        "operationId": "zohoInventory.create-item",
        "summary": "Create Item",
        "description": "Creates a new item in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the item."
                  },
                  "rate": {
                    "type": "number",
                    "description": "Sales rate for the item."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the item."
                  },
                  "sku": {
                    "type": "string",
                    "description": "Stock keeping unit for the item."
                  },
                  "itemType": {
                    "type": "string",
                    "description": "Type of item to create.",
                    "default": "sales"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "item_id": {
                            "type": "string"
                          },
                          "item_type": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "product_type": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "number"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "track_inventory": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/create-package": {
      "post": {
        "operationId": "zohoInventory.create-package",
        "summary": "Create Package",
        "description": "Creates a new package in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/create-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "salesOrderId",
                  "date",
                  "lineItems[]",
                  "lineItems[].soLineItemId",
                  "lineItems[].quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "salesOrderId": {
                    "type": "string"
                  },
                  "packageNumber": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "lineItems[].soLineItemId": {
                    "type": "string"
                  },
                  "lineItems[].quantity": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "package_id": {
                            "type": "string"
                          },
                          "package_number": {
                            "type": "string"
                          },
                          "salesorder_id": {
                            "type": "string"
                          },
                          "salesorder_number": {
                            "type": "string"
                          },
                          "shipment_order": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "tracking_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/create-sales-order": {
      "post": {
        "operationId": "zohoInventory.create-sales-order",
        "summary": "Create Sales Order",
        "description": "Creates a new sales order in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/create-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "customerId",
                  "salesOrderNumber",
                  "lineItems[]",
                  "lineItems[].itemId",
                  "lineItems[].quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Customer to bill on the sales order."
                  },
                  "salesOrderNumber": {
                    "type": "string",
                    "description": "Unique number for the sales order."
                  },
                  "date": {
                    "type": "string",
                    "description": "Sales order date in YYYY-MM-DD format."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "External reference number for the sales order."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes shown on the sales order."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more sales order line items."
                  },
                  "lineItems[].itemId": {
                    "type": "string",
                    "description": "Item to add on this line."
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity to order for this line."
                  },
                  "lineItems[].rate": {
                    "type": "number",
                    "description": "Rate for this line item."
                  },
                  "lineItems[].description": {
                    "type": "string",
                    "description": "Description for this line item."
                  },
                  "ignoreAutoNumberGeneration": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "order_status": {
                            "type": "string"
                          },
                          "packages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "reference_number": {
                            "type": "string"
                          },
                          "salesorder_id": {
                            "type": "string"
                          },
                          "salesorder_number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/create-shipment-order": {
      "post": {
        "operationId": "zohoInventory.create-shipment-order",
        "summary": "Create Shipment Order",
        "description": "Creates a new shipment order in Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/create-shipment-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "salesOrderId",
                  "shipmentNumber",
                  "date",
                  "deliveryMethod",
                  "trackingNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Zoho Inventory organization ID to run this request against.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "packageIds": {
                    "type": "string",
                    "description": "Comma-separated package IDs to ship."
                  },
                  "salesOrderId": {
                    "type": "string",
                    "description": "Unique ID generated by the server for the Sales Order. This is required when creating a shipment order."
                  },
                  "shipmentNumber": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "referenceNumber": {
                    "type": "string"
                  },
                  "contactPersons[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of contact person IDs."
                  },
                  "deliveryMethod": {
                    "type": "string"
                  },
                  "trackingNumber": {
                    "type": "string"
                  },
                  "shippingCharge": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "delivery_method": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "packages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "salesorder_id": {
                            "type": "string"
                          },
                          "salesorder_number": {
                            "type": "string"
                          },
                          "shipment_id": {
                            "type": "string"
                          },
                          "shipment_number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          },
                          "tracking_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/get-contact": {
      "get": {
        "operationId": "zohoInventory.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "description": "The Zoho Inventory contact_id for the contact.",
            "schema": {
              "type": "string",
              "description": "The Zoho Inventory contact_id for the contact."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Zoho Inventory organization ID to run this request against.",
            "schema": {
              "type": "string",
              "description": "Zoho Inventory organization ID to run this request against.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_name": {
                            "type": "string"
                          },
                          "contact_id": {
                            "type": "string"
                          },
                          "contact_name": {
                            "type": "string"
                          },
                          "contact_persons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contact_type": {
                            "type": "string"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "currency_code": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "primary_contact_id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/get-invoice": {
      "get": {
        "operationId": "zohoInventory.get-invoice",
        "summary": "Get Invoice",
        "description": "Retrieves an invoice from Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "required": true,
            "description": "The Zoho Inventory invoice_id for the invoice.",
            "schema": {
              "type": "string",
              "description": "The Zoho Inventory invoice_id for the invoice."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Zoho Inventory organization ID to run this request against.",
            "schema": {
              "type": "string",
              "description": "Zoho Inventory organization ID to run this request against.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string"
                          },
                          "invoice_id": {
                            "type": "string"
                          },
                          "invoice_number": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "reference_number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/get-item": {
      "get": {
        "operationId": "zohoInventory.get-item",
        "summary": "Get Item",
        "description": "Retrieves an item from Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/get-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "description": "The Zoho Inventory item_id for the item.",
            "schema": {
              "type": "string",
              "description": "The Zoho Inventory item_id for the item."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Zoho Inventory organization ID to run this request against.",
            "schema": {
              "type": "string",
              "description": "Zoho Inventory organization ID to run this request against.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "item_id": {
                            "type": "string"
                          },
                          "item_type": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "product_type": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "number"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "track_inventory": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/get-package": {
      "get": {
        "operationId": "zohoInventory.get-package",
        "summary": "Get Package",
        "description": "Retrieves a package from Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/get-package"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packageId",
            "in": "query",
            "required": true,
            "description": "The Zoho Inventory package_id for the package.",
            "schema": {
              "type": "string",
              "description": "The Zoho Inventory package_id for the package."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Zoho Inventory organization ID to run this request against.",
            "schema": {
              "type": "string",
              "description": "Zoho Inventory organization ID to run this request against.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "package_id": {
                            "type": "string"
                          },
                          "package_number": {
                            "type": "string"
                          },
                          "salesorder_id": {
                            "type": "string"
                          },
                          "salesorder_number": {
                            "type": "string"
                          },
                          "shipment_order": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "tracking_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoInventory/latest/actions/get-sales-order": {
      "get": {
        "operationId": "zohoInventory.get-sales-order",
        "summary": "Get Sales Order",
        "description": "Retrieves a sales order from Zoho Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoInventory/latest/actions/get-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesOrderId",
            "in": "query",
            "required": true,
            "description": "The Zoho Inventory salesorder_id for the sales order.",
            "schema": {
              "type": "string",
              "description": "The Zoho Inventory salesorder_id for the sales order."
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Zoho Inventory organization ID to run this request against.",
            "schema": {
              "type": "string",
              "description": "Zoho Inventory organization ID to run this request against.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number"
                          },
                          "created_time": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "last_modified_time": {
                            "type": "string"
                          },
                          "line_items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "order_status": {
                            "type": "string"
                          },
                          "packages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "reference_number": {
                            "type": "string"
                          },
                          "salesorder_id": {
                            "type": "string"
                          },
                          "salesorder_number": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
[...]
