{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "MojoTxt Universal API",
    "version": "0.0.5",
    "description": "Send texts, manage subscribers, and track donations and lists"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mojoTxt/latest/actions/create-donation-keyword": {
      "post": {
        "operationId": "mojoTxt.create-donation-keyword",
        "summary": "Create Donation Keyword",
        "description": "Creates a donation keyword in MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/create-donation-keyword"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "keyword",
                  "phoneNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amountRequestMessage": {
                    "type": "string",
                    "description": "Prompt sent when no donation amount is supplied."
                  },
                  "ccbFund": {
                    "type": "number",
                    "description": "Church Community Builder fund number for exports."
                  },
                  "defaultAmount": {
                    "type": "number",
                    "description": "Default donation amount if the donor does not specify one."
                  },
                  "fundName": {
                    "type": "string",
                    "description": "Fund name for the donation keyword. MojoTxt currently defaults this when omitted, despite the docs marking it required."
                  },
                  "keyword": {
                    "type": "string",
                    "description": "The unique keyword for the donation fund."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The MojoTxt phone number in international format, like +17792533748."
                  },
                  "recurringScheduleId": {
                    "type": "number",
                    "description": "Default recurring schedule: 0 one-time, 1 weekly, 2 bi-weekly, 3 monthly, or empty to ask the user."
                  },
                  "thankYou": {
                    "type": "string",
                    "description": "Thank-you message sent after a successful donation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_id": {
                            "type": "number",
                            "description": "ID of the newly created donation keyword."
                          },
                          "message": {
                            "type": "string",
                            "description": "Human-readable create result message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the create request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/create-message": {
      "post": {
        "operationId": "mojoTxt.create-message",
        "summary": "Create Message",
        "description": "Creates a message in MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/create-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "Lists[]",
                  "message",
                  "phoneNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Lists[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "One or more list IDs to send the message to."
                  },
                  "media": {
                    "type": "string",
                    "description": "Media URL required when sending an MMS."
                  },
                  "message": {
                    "type": "string",
                    "description": "The message body to send."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The MojoTxt phone number in international format, like +17792533748."
                  },
                  "publishTime": {
                    "type": "number",
                    "description": "UNIX timestamp for when the message should be sent."
                  },
                  "scheduleType": {
                    "type": "string",
                    "description": "S for a specific send time or R for a time relative to subscription."
                  },
                  "sendAfter": {
                    "type": "number",
                    "description": "Delay before sending a relative message."
                  },
                  "sendAfterUnit": {
                    "type": "string",
                    "description": "Unit for SendAfter: hour, day, week, month, or year."
                  },
                  "type": {
                    "type": "string",
                    "description": "The message type, either SMS or MMS."
                  },
                  "url": {
                    "type": "string",
                    "description": "Tracking URL to append to the outgoing message."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_id": {
                            "type": "number",
                            "description": "ID of the newly created message."
                          },
                          "message": {
                            "type": "string",
                            "description": "Human-readable create result message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the create request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/create-subscription-list": {
      "post": {
        "operationId": "mojoTxt.create-subscription-list",
        "summary": "Create Subscription List",
        "description": "Creates a subscription list in MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/create-subscription-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "keyword",
                  "listName",
                  "phoneNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "keyword": {
                    "type": "string",
                    "description": "The unique keyword for the subscription list."
                  },
                  "listName": {
                    "type": "string",
                    "description": "The descriptive name of the subscription list."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The MojoTxt phone number in international format, like +17792533748."
                  },
                  "sendLastMessage": {
                    "type": "number",
                    "description": "Set to 1 to send the last sent message when someone joins the list."
                  },
                  "welcomeMessage": {
                    "type": "string",
                    "description": "Message sent to new subscribers when they join the list."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_id": {
                            "type": "number",
                            "description": "ID of the newly created subscription list."
                          },
                          "message": {
                            "type": "string",
                            "description": "Human-readable create result message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the create request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/delete-donation": {
      "delete": {
        "operationId": "mojoTxt.delete-donation",
        "summary": "Delete Donation",
        "description": "Deletes a donation from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/delete-donation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donationIdOrKeyword",
            "in": "query",
            "required": true,
            "description": "The donation keyword identifier or keyword value to delete.",
            "schema": {
              "type": "string",
              "description": "The donation keyword identifier or keyword value to delete."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Human-readable delete result message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the delete request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/delete-message": {
      "delete": {
        "operationId": "mojoTxt.delete-message",
        "summary": "Delete Message",
        "description": "Deletes a message from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/delete-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The message identifier to delete.",
            "schema": {
              "type": "string",
              "description": "The message identifier to delete."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Human-readable delete result message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the delete request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/delete-subscription-list": {
      "delete": {
        "operationId": "mojoTxt.delete-subscription-list",
        "summary": "Delete Subscription List",
        "description": "Deletes a subscription list from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/delete-subscription-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listIdOrKeyword",
            "in": "query",
            "required": true,
            "description": "The subscription list identifier or keyword value to delete.",
            "schema": {
              "type": "string",
              "description": "The subscription list identifier or keyword value to delete."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Human-readable delete result message."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the delete request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/export-donations": {
      "get": {
        "operationId": "mojoTxt.export-donations",
        "summary": "Export Donations",
        "description": "Retrieves a donation export from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/export-donations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donationIdOrKeyword",
            "in": "query",
            "required": true,
            "description": "The donation keyword identifier or keyword value to export.",
            "schema": {
              "type": "string",
              "description": "The donation keyword identifier or keyword value to export."
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Return donation transactions on or before this UNIX timestamp.",
            "schema": {
              "type": "string",
              "description": "Return donation transactions on or before this UNIX timestamp."
            }
          },
          {
            "name": "getPerson",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include donor contact information in the export.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to include donor contact information in the export."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Return donation transactions on or after this UNIX timestamp.",
            "schema": {
              "type": "string",
              "description": "Return donation transactions on or after this UNIX timestamp."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "record_count": {
                            "type": "number",
                            "description": "The number of export rows returned."
                          },
                          "result": {
                            "type": "string",
                            "description": "Whether the export request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "MojoTxt server timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/get-donation": {
      "get": {
        "operationId": "mojoTxt.get-donation",
        "summary": "Get Donation",
        "description": "Retrieves a donation from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/get-donation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "donationIdOrKeyword",
            "in": "query",
            "required": true,
            "description": "The donation keyword identifier or keyword value to retrieve.",
            "schema": {
              "type": "string",
              "description": "The donation keyword identifier or keyword value to retrieve."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AmountRequestMessage": {
                            "type": "string",
                            "description": "The amount prompt shown when donors omit a value."
                          },
                          "CCBFund": {
                            "type": "number",
                            "description": "The optional Church Community Builder fund number."
                          },
                          "DefaultAmount": {
                            "type": "number",
                            "description": "The default donation amount, if configured."
                          },
                          "DonationID": {
                            "type": "number",
                            "description": "The unique identifier for the donation keyword."
                          },
                          "FundName": {
                            "type": "string",
                            "description": "The name of the donation fund."
                          },
                          "Keyword": {
                            "type": "string",
                            "description": "The keyword donors use for the donation fund."
                          },
                          "KeywordID": {
                            "type": "number",
                            "description": "The keyword identifier associated with the donation keyword."
                          },
                          "LastDonationTime": {
                            "type": "number",
                            "description": "The UNIX timestamp of the latest donation."
                          },
                          "Listed": {
                            "type": "number",
                            "description": "Whether the donation keyword is active and listed."
                          },
                          "NumberOfDonors": {
                            "type": "number",
                            "description": "The number of unique donors for this keyword."
                          },
                          "RecurringScheduleID": {
                            "type": "number",
                            "description": "The default recurring donation schedule identifier."
                          },
                          "ThankYou": {
                            "type": "string",
                            "description": "The thank-you message sent after a donation."
                          },
                          "TotalAmountDonated": {
                            "type": "number",
                            "description": "The total amount donated through this keyword."
                          },
                          "TotalDonations": {
                            "type": "number",
                            "description": "The total number of donations through this keyword."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/get-message": {
      "get": {
        "operationId": "mojoTxt.get-message",
        "summary": "Get Message",
        "description": "Retrieves a message from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "description": "The message identifier to retrieve.",
            "schema": {
              "type": "string",
              "description": "The message identifier to retrieve."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Attach": {
                            "type": "string",
                            "description": "The attachment payload, if present."
                          },
                          "Filters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The filters applied to the message audience."
                          },
                          "HTML": {
                            "type": "string",
                            "description": "The HTML version of the message, if present."
                          },
                          "LinksClicked": {
                            "type": "number",
                            "description": "The number of recipients who clicked the tracked link."
                          },
                          "Lists": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "The subscription list IDs targeted by the message."
                          },
                          "Media": {
                            "type": "string",
                            "description": "The media URL for MMS messages, if present."
                          },
                          "Message": {
                            "type": "string",
                            "description": "The body of the message."
                          },
                          "MessageID": {
                            "type": "number",
                            "description": "The unique identifier for the message."
                          },
                          "MessagesSent": {
                            "type": "number",
                            "description": "The number of recipients who were sent the message."
                          },
                          "PublishTime": {
                            "type": "number",
                            "description": "The UNIX timestamp when the message is scheduled to be sent or was sent."
                          },
                          "Recipients": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The explicit recipients for the message, if present."
                          },
                          "ScheduleType": {
                            "type": "string",
                            "description": "Whether the message is scheduled at a specific time or relative to subscription time."
                          },
                          "SendAfter": {
                            "type": "number",
                            "description": "The delay interval used for relative scheduling, if present."
                          },
                          "SendAfterUnit": {
                            "type": "string",
                            "description": "The unit for the relative delay, if present."
                          },
                          "Sent": {
                            "type": "number",
                            "description": "The send status code for the message."
                          },
                          "StatusMessage": {
                            "type": "string",
                            "description": "The provider status message, if present."
                          },
                          "Type": {
                            "type": "string",
                            "description": "The message type, either SMS or MMS."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The tracked URL appended to the message, if present."
                          },
                          "UserID": {
                            "type": "number",
                            "description": "The owner user identifier for the message, if present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/get-subscription-list": {
      "get": {
        "operationId": "mojoTxt.get-subscription-list",
        "summary": "Get Subscription List",
        "description": "Retrieves a subscription list from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/get-subscription-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listIdOrKeyword",
            "in": "query",
            "required": true,
            "description": "The subscription list identifier or keyword value to retrieve.",
            "schema": {
              "type": "string",
              "description": "The subscription list identifier or keyword value to retrieve."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AutomationCount": {
                            "type": "number",
                            "description": "The number of automations configured for the list."
                          },
                          "Keyword": {
                            "type": "string",
                            "description": "The unique keyword for the subscription list."
                          },
                          "KeywordID": {
                            "type": "number",
                            "description": "The keyword identifier associated with the subscription list."
                          },
                          "Listed": {
                            "type": "number",
                            "description": "Whether the list is active and listed."
                          },
                          "ListID": {
                            "type": "number",
                            "description": "The unique identifier for the subscription list."
                          },
                          "ListName": {
                            "type": "string",
                            "description": "The descriptive name of the subscription list."
                          },
                          "SendLastMessage": {
                            "type": "number",
                            "description": "Whether the last sent message should be sent to new subscribers."
                          },
                          "SubscriberCount": {
                            "type": "number",
                            "description": "The number of subscribers in the list."
                          },
                          "WelcomeMessage": {
                            "type": "string",
                            "description": "The welcome message sent when a person joins the list."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/list-donations": {
      "get": {
        "operationId": "mojoTxt.list-donations",
        "summary": "List Donations",
        "description": "Retrieves donations for a MojoTxt phone number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/list-donations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          },
          {
            "name": "stats",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include donation statistics in the response.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to include donation statistics in the response."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CCBFund": {
                            "type": "number",
                            "description": "The optional Church Community Builder fund number."
                          },
                          "DefaultAmount": {
                            "type": "number",
                            "description": "The default donation amount, if configured."
                          },
                          "DonationID": {
                            "type": "number",
                            "description": "The unique identifier for the donation keyword."
                          },
                          "FundName": {
                            "type": "string",
                            "description": "The name of the donation fund."
                          },
                          "Keyword": {
                            "type": "string",
                            "description": "The keyword donors use for the donation fund."
                          },
                          "LastDonationTime": {
                            "type": "number",
                            "description": "The UNIX timestamp of the latest donation when stats are included."
                          },
                          "RecurringScheduleID": {
                            "type": "number",
                            "description": "The default recurring donation schedule identifier."
                          },
                          "TotalAmountDonated": {
                            "type": "number",
                            "description": "The total amount donated through this keyword when stats are included."
                          },
                          "TotalDonations": {
                            "type": "number",
                            "description": "The total number of donations through this keyword when stats are included."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mojoTxt/latest/actions/list-message-log": {
      "get": {
        "operationId": "mojoTxt.list-message-log",
        "summary": "List Message Log",
        "description": "Retrieves a message log from MojoTxt.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mojoTxt/latest/actions/list-message-log"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Filter the log to incoming (I) or outgoing (O) messages.",
            "schema": {
              "type": "string",
              "description": "Filter the log to incoming (I) or outgoing (O) messages."
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "Show messages older than this UNIX timestamp.",
            "schema": {
              "type": "string",
              "description": "Show messages older than this UNIX timestamp."
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "required": false,
            "description": "Show log entries for a specific subscription-list message.",
            "schema": {
              "type": "string",
              "description": "Show log entries for a specific subscription-list message."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": true,
            "description": "The MojoTxt phone number in international format, like +17792533748.",
            "schema": {
              "type": "string",
              "description": "The MojoTxt phone number in international format, like +17792533748."
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "Show messages newer than this UNIX timestamp.",
            "schema": {
              "type": "string",
              "description": "Show messages newer than this UNIX timestamp."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Body": {
                            "type": "string",
                            "description": "The text body of the message."
                          },
                          "Credits": {
                            "type": "number",
                            "description": "The number of MojoTxt credits consumed by the message."
                          },
                          "DeliveryStatus": {
                            "type": "string",
                            "description": "The carrier delivery status for outgoing messages."
                          },
                          "Direction": {
                            "type": "string",
                            "description": "Whether the message was incoming (I) or outgoing (O)."
                          },
                          "ErrorMessage": {
                            "type": "string",
                            "description": "The human-readable delivery error, if any."
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "The first name associated with the message contact."
                          },
                          "LastName": {
                            "type": "string",
                            "description": "The last name associated with the message contact."
                          },
                          "LogID": {
                            "type": "number",
                            "description": "The unique identifier for the message log record."
                          },
                          "Media": {
                            "type": "string",
                            "description": "The media URL for MMS messages, if present."
                          },
                          "PhoneNumber": {
                            "type": "string",
                            "description": "The phone number involved in the logged message."
                          },
                          "Timestamp": {
                            "type": "number",
                            "description": "The UNIX timestamp when the message was sent or received."
                          },
                          "Type": {
                            "type": "string",
                            "description": "The message type, either SMS or MMS."
                          },
                          "URLClickTimestamp": {
                            "type": "number",
                            "description": "The UNIX timestamp when the tracked URL was clicked, if present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
[...]
