{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Formstack Universal API",
    "version": "0.0.9",
    "description": "Build forms, collect submissions, and automate workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/formstack/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/formstack/latest/actions/copy-form": {
      "post": {
        "operationId": "formstack.copy-form",
        "summary": "Copy Form",
        "description": "Creates a copy of a form in Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/copy-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formId": {
                    "type": "string",
                    "description": "The ID of the form."
                  },
                  "includeIntegrations": {
                    "type": "boolean",
                    "description": "Whether to copy integrations.",
                    "x-mindcloud-advanced": true
                  },
                  "includeEmails": {
                    "type": "boolean",
                    "description": "Whether to copy emails.",
                    "x-mindcloud-advanced": true
                  },
                  "template": {
                    "type": "number",
                    "description": "ID of template to use when copying.",
                    "example": 123456,
                    "x-mindcloud-advanced": true
                  },
                  "folder": {
                    "type": "number",
                    "description": "ID of folder where the copy should be saved.",
                    "example": 123456,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canEdit": {
                            "type": "boolean",
                            "description": "Whether the user can edit this form."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the form was created."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Form fields included when returned by the API."
                          },
                          "folder": {
                            "type": "number",
                            "description": "ID of the folder where the form is located."
                          },
                          "formExtras": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Form extras response."
                          },
                          "formSettings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Form settings response."
                          },
                          "hasApprovers": {
                            "type": "boolean",
                            "description": "Whether this form has approvers configured."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID of the form."
                          },
                          "isEncrypted": {
                            "type": "boolean",
                            "description": "Whether the form is encrypted."
                          },
                          "isWorkflowForm": {
                            "type": "boolean",
                            "description": "Whether this form is a workflow form."
                          },
                          "isWorkflowPublished": {
                            "type": "boolean",
                            "description": "Whether this workflow is published."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "permissions": {
                            "type": "number",
                            "description": "User permission level for this form."
                          },
                          "submissionsCount": {
                            "type": "number",
                            "description": "Count of form submissions."
                          },
                          "submitButtonTitle": {
                            "type": "string",
                            "description": "Title of submit button on the live form."
                          },
                          "todaySubmissionsCount": {
                            "type": "number",
                            "description": "Count of today's form submissions."
                          },
                          "unreadSubmissionsCount": {
                            "type": "number",
                            "description": "Count of unread form submissions."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the form was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the live form."
                          },
                          "version": {
                            "type": "number",
                            "description": "Version of the form."
                          },
                          "viewKey": {
                            "type": "string",
                            "description": "View key of the form."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/count-form-submissions": {
      "get": {
        "operationId": "formstack.count-form-submissions",
        "summary": "Count Form Submissions",
        "description": "Retrieves submission counts for a form from Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/count-form-submissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "string",
              "description": "The ID of the form."
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "When to start submission count from.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "When to start submission count from."
            }
          },
          {
            "name": "lookbackPeriod",
            "in": "query",
            "required": false,
            "description": "How many days to count backwards from (maximum 7).",
            "schema": {
              "type": "number",
              "description": "How many days to count backwards from (maximum 7).",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "totalSubmissions": {
                            "type": "number",
                            "description": "Total submissions for the selected form."
                          },
                          "totalSubmissionsByDay": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Daily submission totals for the selected period."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/create-folder": {
      "post": {
        "operationId": "formstack.create-folder",
        "summary": "Create Folder",
        "description": "Creates a new folder in Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/create-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the folder.",
                    "example": "Batch C Folder"
                  },
                  "parent": {
                    "type": "number",
                    "description": "Parent folder ID.",
                    "example": 123,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent": {
                            "type": "string"
                          },
                          "permissions": {
                            "type": "string"
                          },
                          "subfolders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/create-form": {
      "post": {
        "operationId": "formstack.create-form",
        "summary": "Create Form",
        "description": "Creates a new form in Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/create-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the form.",
                    "example": "Customer Intake Form"
                  },
                  "template": {
                    "type": "number",
                    "description": "ID of template of the form.",
                    "example": 123456,
                    "x-mindcloud-advanced": true
                  },
                  "stockTemplate": {
                    "type": "string",
                    "description": "Stock theme template code for the form.",
                    "enum": [
                      "berryNice",
                      "blueAfterglow",
                      "calmZigZag",
                      "celadonParchment",
                      "clean",
                      "confetti",
                      "corporateOffice",
                      "dark",
                      "duskPop",
                      "formstack",
                      "geometric",
                      "light",
                      "midnight",
                      "minimalism",
                      "oceanTide",
                      "peachyKeen",
                      "simple"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "folder": {
                    "type": "number",
                    "description": "ID of the folder where the form will be created.",
                    "example": 123456,
                    "x-mindcloud-advanced": true
                  },
                  "submitButtonTitle": {
                    "type": "string",
                    "description": "Title of submit button on live form.",
                    "example": "Submit Form",
                    "x-mindcloud-advanced": true
                  },
                  "numberOfColumns": {
                    "type": "number",
                    "description": "Number of visible columns in the form.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "fieldLabelsPosition": {
                    "type": "string",
                    "description": "Position where field labels are placed on the live form.",
                    "enum": [
                      "left",
                      "top"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "saveSubmissionsToDatabase": {
                    "type": "boolean",
                    "description": "Flag to disable or enable submissions to be saved in the database.",
                    "x-mindcloud-advanced": true
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone of the form.",
                    "example": "US/Eastern",
                    "x-mindcloud-advanced": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the form.",
                    "example": "en",
                    "x-mindcloud-advanced": true
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Flag to make the form active or inactive.",
                    "x-mindcloud-advanced": true
                  },
                  "disabledMessage": {
                    "type": "string",
                    "description": "Message to show when the form is inactive.",
                    "example": "This form is currently unavailable.",
                    "x-mindcloud-advanced": true
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional fields to create with the form as raw Create Field objects.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canEdit": {
                            "type": "boolean",
                            "description": "Whether the user can edit this form."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the form was created."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Form fields included in the response."
                          },
                          "folder": {
                            "type": "number",
                            "description": "ID of the folder where the form is located."
                          },
                          "formExtras": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Form extras response."
                          },
                          "formSettings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Form settings response."
                          },
                          "hasApprovers": {
                            "type": "boolean",
                            "description": "Whether this form has approvers configured."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID of the form."
                          },
                          "isEncrypted": {
                            "type": "boolean",
                            "description": "Whether the form is encrypted."
                          },
                          "isWorkflowForm": {
                            "type": "boolean",
                            "description": "Whether this form is a workflow form."
                          },
                          "isWorkflowPublished": {
                            "type": "boolean",
                            "description": "Whether this workflow is published."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "permissions": {
                            "type": "number",
                            "description": "User permission level for this form."
                          },
                          "submissionsCount": {
                            "type": "number",
                            "description": "Count of form submissions."
                          },
                          "submitButtonTitle": {
                            "type": "string",
                            "description": "Title of submit button on the live form."
                          },
                          "todaySubmissionsCount": {
                            "type": "number",
                            "description": "Count of today's form submissions."
                          },
                          "unreadSubmissionsCount": {
                            "type": "number",
                            "description": "Count of unread form submissions."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the form was last updated."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the live form."
                          },
                          "version": {
                            "type": "number",
                            "description": "Version of the form."
                          },
                          "viewKey": {
                            "type": "string",
                            "description": "View key of the form."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/create-form-field": {
      "post": {
        "operationId": "formstack.create-form-field",
        "summary": "Create Form Field",
        "description": "Creates a new field in a Formstack form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/create-form-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formId": {
                    "type": "number",
                    "description": "The ID of the form.",
                    "example": 6457226
                  },
                  "label": {
                    "type": "string",
                    "description": "Label of the field.",
                    "example": "Batch C temporary field"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of the field.",
                    "enum": [
                      "address",
                      "checkbox",
                      "creditcard",
                      "datetime",
                      "email",
                      "embed",
                      "file",
                      "matrix",
                      "name",
                      "number",
                      "phone",
                      "product",
                      "radio",
                      "rating",
                      "richtext",
                      "section",
                      "select",
                      "signature",
                      "table",
                      "text",
                      "textarea"
                    ],
                    "default": "text"
                  },
                  "internalLabel": {
                    "type": "string",
                    "description": "Internal label of the field.",
                    "example": "batch_c_temp_field",
                    "x-mindcloud-advanced": true
                  },
                  "supportingText": {
                    "type": "string",
                    "description": "Description of the field.",
                    "example": "Temporary field for Batch C validation"
                  },
                  "useCallout": {
                    "type": "boolean",
                    "description": "Show the description in a callout box.",
                    "x-mindcloud-advanced": true
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Mark the field as required."
                  },
                  "readOnly": {
                    "type": "boolean",
                    "description": "Do not allow the field value to be changed.",
                    "x-mindcloud-advanced": true
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "Hide the field.",
                    "x-mindcloud-advanced": true
                  },
                  "unique": {
                    "type": "boolean",
                    "description": "Require a unique value for the field.",
                    "x-mindcloud-advanced": true
                  },
                  "hideLabel": {
                    "type": "boolean",
                    "description": "Hide the field label.",
                    "x-mindcloud-advanced": true
                  },
                  "columnSpan": {
                    "type": "number",
                    "description": "How many columns the field takes on the live form.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the field.",
                    "enum": [
                      "af",
                      "ar",
                      "bg",
                      "cs",
                      "cy",
                      "da",
                      "de",
                      "default",
                      "el",
                      "en",
                      "es",
                      "fi",
                      "fr",
                      "he",
                      "hr",
                      "hu",
                      "id",
                      "is",
                      "it",
                      "ja",
                      "kk",
                      "ko",
                      "nl",
                      "no",
                      "pl",
                      "pt",
                      "ro",
                      "ru",
                      "sk",
                      "sl",
                      "sq",
                      "sv",
                      "th",
                      "tr",
                      "vi",
                      "zh",
                      "zh-TW"
                    ],
                    "example": "default",
                    "x-mindcloud-advanced": true
                  },
                  "defaultValue": {
                    "type": "string",
                    "description": "Default value on the live form.",
                    "example": "Example value"
                  },
                  "options[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Options attached to the field.",
                    "x-mindcloud-advanced": true
                  },
                  "smartListId": {
                    "type": "number",
                    "description": "ID of the smart list to attach.",
                    "example": 123,
                    "x-mindcloud-advanced": true
                  },
                  "unlinkSmartList": {
                    "type": "boolean",
                    "description": "Unlink the smart list from the field.",
                    "x-mindcloud-advanced": true
                  },
                  "attributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Field attributes component.",
                    "x-mindcloud-advanced": true
                  },
                  "logic": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Logic for the field.",
                    "x-mindcloud-advanced": true
                  },
                  "numericCalculation[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Numeric calculation definition for the field.",
                    "x-mindcloud-advanced": true
                  },
                  "datetimeCalculation": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Datetime calculation definition for the field.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "confirmationText": {
                                "type": "string"
                              },
                              "hideInputCharacters": {
                                "type": "boolean"
                              },
                              "maxLength": {
                                "type": "number"
                              },
                              "minLength": {
                                "type": "number"
                              },
                              "placeholder": {
                                "type": "string"
                              },
                              "removeDataFromEmailsAndExports": {
                                "type": "boolean"
                              },
                              "requireConfirmation": {
                                "type": "boolean"
                              },
                              "restrictDataAccess": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "columnSpan": {
                            "type": "number"
                          },
                          "defaultValue": {
                            "type": "string"
                          },
                          "displayOrder": {
                            "type": "number"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "hideLabel": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          },
                          "labelKey": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "required": {
                            "type": "boolean"
                          },
                          "supportingText": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "unique": {
                            "type": "boolean"
                          },
                          "useCallout": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/create-form-prefill-url": {
      "post": {
        "operationId": "formstack.create-form-prefill-url",
        "summary": "Create Form Prefill URL",
        "description": "Generates a prefilled form URL in Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/create-form-prefill-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formId": {
                    "type": "string",
                    "description": "The ID of the form."
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Field IDs and values to prefill as raw prefill field objects."
                  },
                  "incompletePassword": {
                    "type": "string",
                    "description": "Password for prefill.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefilledUrl": {
                            "type": "string",
                            "description": "URL for the prefilled form."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/create-submission": {
      "post": {
        "operationId": "formstack.create-submission",
        "summary": "Create Submission",
        "description": "Creates a new submission in Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/create-submission"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId",
                  "fields[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formId": {
                    "type": "string",
                    "description": "The unique identifier of the form to submit to."
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of field values to submit."
                  },
                  "fields[].id": {
                    "type": "string",
                    "description": "The ID of the field to populate."
                  },
                  "fields[].value": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Provide the Formstack typed field-value object. For text fields use `{ \"value\": \"example text\" }`."
                  },
                  "read": {
                    "type": "string",
                    "description": "Whether to mark the submission as read upon creation.",
                    "enum": [
                      "false",
                      "true"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "userAgent": {
                    "type": "string",
                    "description": "The browser user agent string of the submitter.",
                    "x-mindcloud-advanced": true
                  },
                  "remoteAddr": {
                    "type": "string",
                    "description": "The IP address from which the submission is being made.",
                    "x-mindcloud-advanced": true
                  },
                  "latitude": {
                    "type": "string",
                    "description": "The GPS latitude coordinate if location data is available.",
                    "x-mindcloud-advanced": true
                  },
                  "longitude": {
                    "type": "string",
                    "description": "The GPS longitude coordinate if location data is available.",
                    "x-mindcloud-advanced": true
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "The unique device identifier if available from mobile submissions.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Array of field data contained in the submission."
                          },
                          "formId": {
                            "type": "number",
                            "description": "The ID of the form this submission belongs to."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID of the created submission."
                          },
                          "latitude": {
                            "type": "string",
                            "description": "The GPS latitude coordinate if location data was captured."
                          },
                          "longitude": {
                            "type": "string",
                            "description": "The GPS longitude coordinate if location data was captured."
                          },
                          "paymentStatus": {
                            "type": "string",
                            "description": "The current payment status if the form includes payment processing."
                          },
                          "remoteAddr": {
                            "type": "string",
                            "description": "The IP address from which the submission was made."
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time when the submission was created."
                          },
                          "userAgent": {
                            "type": "string",
                            "description": "The browser user agent string of the submitter."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/delete-form": {
      "delete": {
        "operationId": "formstack.delete-form",
        "summary": "Delete Form",
        "description": "Deletes a form from Formstack by marking it as deleted.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/delete-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the form is active."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date of form creation."
                          },
                          "dataUrl": {
                            "type": "string",
                            "description": "URL to form data."
                          },
                          "db": {
                            "type": "boolean",
                            "description": "Whether submissions are saved to the database."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the form is deleted."
                          },
                          "editUrl": {
                            "type": "string",
                            "description": "URL to edit the form."
                          },
                          "encrypted": {
                            "type": "boolean",
                            "description": "Whether the form is encrypted."
                          },
                          "folder": {
                            "type": "number",
                            "description": "ID of the folder where the form is located."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID of the form."
                          },
                          "inactive": {
                            "type": "boolean",
                            "description": "Whether the form is inactive."
                          },
                          "isWorkflowForm": {
                            "type": "boolean",
                            "description": "Whether the form is a workflow form."
                          },
                          "isWorkflowPublished": {
                            "type": "boolean",
                            "description": "Whether the workflow form is published."
                          },
                          "language": {
                            "type": "string",
                            "description": "Form language."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the form."
                          },
                          "numberOfColumns": {
                            "type": "string",
                            "description": "Number of visible columns in the form."
                          },
                          "progressMeter": {
                            "type": "string",
                            "description": "Whether progress meter is enabled."
                          },
                          "shouldDisplayOneQuestionAtATime": {
                            "type": "boolean",
                            "description": "Whether the form should display one question at a time."
                          },
                          "submissions": {
                            "type": "string",
                            "description": "Number of submissions."
                          },
                          "submissionsCount": {
                            "type": "number",
                            "description": "Count of form submissions."
                          },
                          "submissionsUnread": {
                            "type": "string",
                            "description": "Number of unread submissions."
                          },
                          "submitButtonTitle": {
                            "type": "string",
                            "description": "Title of the submit button."
                          },
                          "summaryUrl": {
                            "type": "string",
                            "description": "URL to form summary."
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "URL to form thumbnail."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Form timezone."
                          },
                          "unreadSubmissionsCount": {
                            "type": "number",
                            "description": "Count of unread form submissions."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date of last update."
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the live form."
                          },
                          "version": {
                            "type": "string",
                            "description": "Form version."
                          },
                          "viewKey": {
                            "type": "string",
                            "description": "View key of the form."
                          },
                          "views": {
                            "type": "string",
                            "description": "Number of form views."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/delete-form-field": {
      "delete": {
        "operationId": "formstack.delete-form-field",
        "summary": "Delete Form Field",
        "description": "Permanently deletes a field from a Formstack form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/delete-form-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "The ID of the form.",
            "schema": {
              "type": "number",
              "description": "The ID of the form.",
              "example": 6457226
            }
          },
          {
            "name": "fieldId",
            "in": "query",
            "required": true,
            "description": "The ID of the field.",
            "schema": {
              "type": "number",
              "description": "The ID of the field.",
              "example": 193364423
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "confirmationText": {
                                "type": "string"
                              },
                              "hideInputCharacters": {
                                "type": "boolean"
                              },
                              "maxLength": {
                                "type": "number"
                              },
                              "minLength": {
                                "type": "number"
                              },
                              "placeholder": {
                                "type": "string"
                              },
                              "removeDataFromEmailsAndExports": {
                                "type": "boolean"
                              },
                              "requireConfirmation": {
                                "type": "boolean"
                              },
                              "restrictDataAccess": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "columnSpan": {
                            "type": "number"
                          },
                          "defaultValue": {
                            "type": "string"
                          },
                          "displayOrder": {
                            "type": "number"
                          },
                          "hidden": {
                            "type": "boolean"
                          },
                          "hideLabel": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          },
                          "labelKey": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "readOnly": {
                            "type": "boolean"
                          },
                          "required": {
                            "type": "boolean"
                          },
                          "supportingText": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "unique": {
                            "type": "boolean"
                          },
                          "useCallout": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/delete-submission": {
      "delete": {
        "operationId": "formstack.delete-submission",
        "summary": "Delete Submission",
        "description": "Permanently deletes a submission and its associated data from Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/delete-submission"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "submissionId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the submission to delete.",
            "schema": {
              "type": "number",
              "description": "The unique identifier of the submission to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "The ID of the deleted submission."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/formstack/latest/actions/get-folder": {
      "get": {
        "operationId": "formstack.get-folder",
        "summary": "Get Folder",
        "description": "Retrieves details for a folder from Formstack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/formstack/latest/actions/get-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "The ID of the folder.",
            "schema": {
              "type": "number",
              "description": "The ID of the folder.",
              "example": 123
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent": {
                            "type": "string"
                          },
[...]
