{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PiAPI/Kling Universal API",
    "version": "0.0.2",
    "description": "Create and manage PiAPI Kling video, audio, avatar, motion-control, effects, and try-on tasks."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/piAPIKling/latest/actions/cancel-task": {
      "delete": {
        "operationId": "piAPIKling.cancel-task",
        "summary": "Cancel Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/cancel-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The pending PiAPI task ID to cancel.",
            "schema": {
              "type": "string",
              "description": "The pending PiAPI task ID to cancel."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider cancellation result message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/cancel-tasks-before-timestamp": {
      "delete": {
        "operationId": "piAPIKling.cancel-tasks-before-timestamp",
        "summary": "Cancel Tasks Before Timestamp",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/cancel-tasks-before-timestamp"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": true,
            "description": "Unix timestamp in seconds. Cancel pending Kling tasks created before this time.",
            "schema": {
              "type": "number",
              "description": "Unix timestamp in seconds. Cancel pending Kling tasks created before this time."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "number",
                            "description": "PiAPI response code."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider bulk cancellation result message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-avatar-video": {
      "post": {
        "operationId": "piAPIKling.generate-avatar-video",
        "summary": "Generate Avatar Video",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-avatar-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.imageUrl",
                  "input.localDubbingUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.imageUrl": {
                    "type": "string",
                    "description": "Source avatar image URL."
                  },
                  "input.localDubbingUrl": {
                    "type": "string",
                    "description": "Audio URL to drive the avatar speech."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Optional prompt to guide the avatar delivery."
                  },
                  "input.mode": {
                    "type": "string",
                    "description": "Avatar generation mode, such as std or pro."
                  },
                  "input.batchSize": {
                    "type": "number",
                    "description": "Number of avatar outputs to request."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-effects-video": {
      "post": {
        "operationId": "piAPIKling.generate-effects-video",
        "summary": "Generate Effects Video",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-effects-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.imageUrl",
                  "input.effect",
                  "input.prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.imageUrl": {
                    "type": "string",
                    "description": "Source image URL for the effects video."
                  },
                  "input.effect": {
                    "type": "string",
                    "description": "Effect name such as squish, kissing, hugging, or fighting."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe how the effect should play out in the scene."
                  },
                  "input.professionalMode": {
                    "type": "boolean",
                    "description": "Use the higher-cost professional effects mode."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-elements-video": {
      "post": {
        "operationId": "piAPIKling.generate-elements-video",
        "summary": "Generate Elements Video",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-elements-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.duration",
                  "input.elements[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe the desired elements-based video output."
                  },
                  "input.negativePrompt": {
                    "type": "string",
                    "description": "Describe what Kling should avoid in the elements video."
                  },
                  "input.duration": {
                    "type": "number",
                    "description": "Elements video length in seconds, typically 5 or 10."
                  },
                  "input.aspectRatio": {
                    "type": "string",
                    "description": "Output aspect ratio such as 16:9, 9:16, or 1:1."
                  },
                  "input.mode": {
                    "type": "string",
                    "description": "Elements generation mode, such as std."
                  },
                  "input.elements[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of 1-4 element objects, each with an image_url field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-motion-control-video": {
      "post": {
        "operationId": "piAPIKling.generate-motion-control-video",
        "summary": "Generate Motion Control Video",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-motion-control-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.imageUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.imageUrl": {
                    "type": "string",
                    "description": "Source image URL for motion control generation."
                  },
                  "input.videoUrl": {
                    "type": "string",
                    "description": "Optional motion reference video URL. Use this or Preset Motion."
                  },
                  "input.presetMotion": {
                    "type": "string",
                    "description": "Preset motion reference name. Use this or Video URL."
                  },
                  "input.motionDirection": {
                    "type": "string",
                    "description": "Motion direction mode from the PiAPI motion control contract."
                  },
                  "input.keepOriginalSound": {
                    "type": "boolean",
                    "description": "Keep the original sound from the motion reference when supported."
                  },
                  "input.mode": {
                    "type": "string",
                    "description": "Motion control generation mode, such as std or pro."
                  },
                  "input.version": {
                    "type": "string",
                    "description": "Supported motion control version, such as 2.6 or 3.0."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-omni-video": {
      "post": {
        "operationId": "piAPIKling.generate-omni-video",
        "summary": "Generate Omni Video",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-omni-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt",
                  "input.resolution",
                  "input.duration"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe the omni video you want Kling to generate."
                  },
                  "input.resolution": {
                    "type": "string",
                    "description": "Omni output resolution, such as 720p or 1080p."
                  },
                  "input.duration": {
                    "type": "number",
                    "description": "Omni video length in seconds."
                  },
                  "input.aspectRatio": {
                    "type": "string",
                    "description": "Output aspect ratio such as 16:9, 9:16, or 1:1."
                  },
                  "input.enableAudio": {
                    "type": "boolean",
                    "description": "Enable native audio generation in the omni output."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-sound": {
      "post": {
        "operationId": "piAPIKling.generate-sound",
        "summary": "Generate Sound",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-sound"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe the sound or soundtrack you want Kling to generate."
                  },
                  "input.duration": {
                    "type": "number",
                    "description": "Requested audio duration in seconds."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-turbo-video": {
      "post": {
        "operationId": "piAPIKling.generate-turbo-video",
        "summary": "Generate Turbo Video",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-turbo-video"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe the turbo video you want Kling to generate."
                  },
                  "input.negativePrompt": {
                    "type": "string",
                    "description": "Describe what Kling Turbo should avoid in the output."
                  },
                  "input.startImageUrl": {
                    "type": "string",
                    "description": "Optional starting frame image URL."
                  },
                  "input.endImageUrl": {
                    "type": "string",
                    "description": "Optional ending frame image URL."
                  },
                  "input.duration": {
                    "type": "number",
                    "description": "Turbo video length in seconds."
                  },
                  "input.aspectRatio": {
                    "type": "string",
                    "description": "Output aspect ratio such as 16:9, 9:16, or 1:1."
                  },
                  "input.mode": {
                    "type": "string",
                    "description": "Turbo generation mode, such as pro."
                  },
                  "input.version": {
                    "type": "string",
                    "description": "Turbo version, such as 2.5-turbo."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-video-from-image": {
      "post": {
        "operationId": "piAPIKling.generate-video-from-image",
        "summary": "Generate Video from Image",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-video-from-image"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.imageUrl",
                  "input.prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.imageUrl": {
                    "type": "string",
                    "description": "Source image URL for image-to-video generation."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe the motion or scene you want Kling to generate from the image."
                  },
                  "input.negativePrompt": {
                    "type": "string",
                    "description": "Describe what Kling should avoid in the output."
                  },
                  "input.imageTailUrl": {
                    "type": "string",
                    "description": "Optional ending frame image URL when supported by the selected Kling version."
                  },
                  "input.duration": {
                    "type": "number",
                    "description": "Video length in seconds when supported by the selected Kling version and mode."
                  },
                  "input.aspectRatio": {
                    "type": "string",
                    "description": "Output aspect ratio such as 16:9, 9:16, or 1:1."
                  },
                  "input.mode": {
                    "type": "string",
                    "description": "Kling generation mode, such as std or pro."
                  },
                  "input.version": {
                    "type": "string",
                    "description": "Kling version, such as 1.6, 2.5, or 2.6."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-video-from-text": {
      "post": {
        "operationId": "piAPIKling.generate-video-from-text",
        "summary": "Generate Video from Text",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-video-from-text"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.prompt": {
                    "type": "string",
                    "description": "Describe the video you want Kling to generate."
                  },
                  "input.negativePrompt": {
                    "type": "string",
                    "description": "Describe what Kling should avoid in the output."
                  },
                  "input.duration": {
                    "type": "number",
                    "description": "Video length in seconds when supported by the selected Kling version and mode."
                  },
                  "input.aspectRatio": {
                    "type": "string",
                    "description": "Output aspect ratio such as 16:9, 9:16, or 1:1."
                  },
                  "input.mode": {
                    "type": "string",
                    "description": "Kling generation mode, such as std or pro."
                  },
                  "input.version": {
                    "type": "string",
                    "description": "Kling version, such as 1.6, 2.5, or 2.6."
                  },
                  "input.enableAudio": {
                    "type": "boolean",
                    "description": "Enable native audio generation when the selected Kling version supports it."
                  },
                  "input.cfgScale": {
                    "type": "number",
                    "description": "Guidance scale for Kling video generation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
                          },
                          "taskId": {
                            "type": "string",
                            "description": "PiAPI task identifier."
                          },
                          "taskType": {
                            "type": "string",
                            "description": "PiAPI task type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIKling/latest/actions/generate-virtual-try-on": {
      "post": {
        "operationId": "piAPIKling.generate-virtual-try-on",
        "summary": "Generate Virtual Try-On",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIKling/latest/actions/generate-virtual-try-on"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.modelInput"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.modelInput": {
                    "type": "string",
                    "description": "Model or person image URL for the try-on request."
                  },
                  "input.upperInput": {
                    "type": "string",
                    "description": "Upper garment image URL."
                  },
                  "input.lowerInput": {
                    "type": "string",
                    "description": "Lower garment image URL."
                  },
                  "input.batchSize": {
                    "type": "number",
                    "description": "Number of try-on outputs to generate. PiAPI accepts values from 1 to 4.",
                    "default": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved task configuration."
                          },
                          "detail": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider detail payload when available."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider error payload."
                          },
                          "input": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Submitted task input payload."
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Task log entries when available."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Task timestamps and usage metadata."
                          },
                          "model": {
                            "type": "string",
                            "description": "Provider model name."
                          },
                          "output": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider output payload."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current task status."
[...]
