{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Addressfinder Universal API",
    "version": "0.0.7",
    "description": "Verify addresses, locations, emails, and phone numbers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/addressfinder/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/addressfinder/latest/actions/get-au-address-metadata": {
      "get": {
        "operationId": "addressfinder.get-au-address-metadata",
        "summary": "Get AU Address Metadata",
        "description": "Retrieves metadata for an Australian address from Addressfinder.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressfinder/latest/actions/get-au-address-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique address identifier obtained from the AU Address Autocomplete API.",
            "schema": {
              "type": "string",
              "description": "Unique address identifier obtained from the AU Address Autocomplete API."
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Address source dataset filter.",
            "schema": {
              "type": "string",
              "description": "Address source dataset filter.",
              "default": "GNAF,PAF"
            }
          },
          {
            "name": "gps",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include latitude and longitude when available.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to include latitude and longitude when available."
            }
          },
          {
            "name": "census",
            "in": "query",
            "required": false,
            "description": "Census year used for statistical area identifiers.",
            "schema": {
              "type": "number",
              "description": "Census year used for statistical area identifiers.",
              "default": 2016
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Registered domain used for activity monitoring.",
            "schema": {
              "type": "string",
              "description": "Registered domain used for activity monitoring."
            }
          },
          {
            "name": "ascii",
            "in": "query",
            "required": false,
            "description": "Set to 1 to normalize special characters to ASCII equivalents.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to normalize special characters to ASCII equivalents."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addressfinder/latest/actions/get-au-location-metadata": {
      "get": {
        "operationId": "addressfinder.get-au-location-metadata",
        "summary": "Get AU Location Metadata",
        "description": "Retrieves metadata for an Australian location from Addressfinder.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressfinder/latest/actions/get-au-location-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique location identifier obtained from the AU Location Autocomplete API.",
            "schema": {
              "type": "string",
              "description": "Unique location identifier obtained from the AU Location Autocomplete API."
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Registered domain used for activity monitoring.",
            "schema": {
              "type": "string",
              "description": "Registered domain used for activity monitoring."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addressfinder/latest/actions/list-au-address-suggestions": {
      "get": {
        "operationId": "addressfinder.list-au-address-suggestions",
        "summary": "List AU Address Suggestions",
        "description": "Finds Australian address suggestions in Addressfinder by partial query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressfinder/latest/actions/list-au-address-suggestions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "The partial address being searched.",
            "schema": {
              "type": "string",
              "description": "The partial address being searched."
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Address source dataset filter.",
            "schema": {
              "type": "string",
              "description": "Address source dataset filter.",
              "default": "GNAF,PAF"
            }
          },
          {
            "name": "stateCodes",
            "in": "query",
            "required": false,
            "description": "Filter results by state or territory codes.",
            "schema": {
              "type": "string",
              "description": "Filter results by state or territory codes."
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of suggestions to return.",
              "default": 10
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Registered domain used for activity monitoring.",
            "schema": {
              "type": "string",
              "description": "Registered domain used for activity monitoring."
            }
          },
          {
            "name": "postBox",
            "in": "query",
            "required": false,
            "description": "Include or restrict PO Box style addresses.",
            "schema": {
              "type": "string",
              "description": "Include or restrict PO Box style addresses."
            }
          },
          {
            "name": "canonical",
            "in": "query",
            "required": false,
            "description": "Exclude alias addresses when set.",
            "schema": {
              "type": "string",
              "description": "Exclude alias addresses when set."
            }
          },
          {
            "name": "highlight",
            "in": "query",
            "required": false,
            "description": "Highlight matching terms in the returned address text.",
            "schema": {
              "type": "string",
              "description": "Highlight matching terms in the returned address text."
            }
          },
          {
            "name": "ascii",
            "in": "query",
            "required": false,
            "description": "Normalize special characters to ASCII equivalents.",
            "schema": {
              "type": "string",
              "description": "Normalize special characters to ASCII equivalents."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addressfinder/latest/actions/list-au-location-suggestions": {
      "get": {
        "operationId": "addressfinder.list-au-location-suggestions",
        "summary": "List AU Location Suggestions",
        "description": "Finds Australian location suggestions in Addressfinder by partial query.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressfinder/latest/actions/list-au-location-suggestions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The query string to match against locations.",
            "schema": {
              "type": "string",
              "description": "The query string to match against locations."
            }
          },
          {
            "name": "locationTypes",
            "in": "query",
            "required": false,
            "description": "Comma-separated location types to allow: street, locality, or state.",
            "schema": {
              "type": "string",
              "description": "Comma-separated location types to allow: street, locality, or state."
            }
          },
          {
            "name": "stateCodes",
            "in": "query",
            "required": false,
            "description": "Filter results by state or territory codes.",
            "schema": {
              "type": "string",
              "description": "Filter results by state or territory codes."
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Registered domain used for activity monitoring.",
            "schema": {
              "type": "string",
              "description": "Registered domain used for activity monitoring."
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of results to return.",
              "default": 10
            }
          },
          {
            "name": "highlight",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include highlighted matching terms in the response.",
            "schema": {
              "type": "number",
              "description": "Set to 1 to include highlighted matching terms in the response."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/addressfinder/latest/actions/verify-au-address": {
      "get": {
        "operationId": "addressfinder.verify-au-address",
        "summary": "Verify AU Address",
        "description": "Verifies a full Australian address in Addressfinder.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/addressfinder/latest/actions/verify-au-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The address to be verified.",
            "schema": {
              "type": "string",
              "description": "The address to be verified."
            }
          },
          {
            "name": "gnaf",
            "in": "query",
            "required": false,
            "description": "Set to 1 to query the GNAF database.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to query the GNAF database.",
              "default": "1"
            }
          },
          {
            "name": "paf",
            "in": "query",
            "required": false,
            "description": "Set to 1 to query the PAF database.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to query the PAF database.",
              "default": "1"
            }
          },
          {
            "name": "gps",
            "in": "query",
            "required": false,
            "description": "Set to 1 to return latitude and longitude when available.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to return latitude and longitude when available."
            }
          },
          {
            "name": "extended",
            "in": "query",
            "required": false,
            "description": "Set to 1 to return additional GNAF metadata.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to return additional GNAF metadata."
            }
          },
          {
            "name": "census",
            "in": "query",
            "required": false,
            "description": "Census year used for statistical area identifiers.",
            "schema": {
              "type": "number",
              "description": "Census year used for statistical area identifiers."
            }
          },
          {
            "name": "stateCodes",
            "in": "query",
            "required": false,
            "description": "Filter results by state or territory codes.",
            "schema": {
              "type": "string",
              "description": "Filter results by state or territory codes."
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Registered domain used for activity monitoring.",
            "schema": {
              "type": "string",
              "description": "Registered domain used for activity monitoring."
            }
          },
          {
            "name": "postBox",
            "in": "query",
            "required": false,
            "description": "Set to 0 to exclude box-type addresses from verification results.",
            "schema": {
              "type": "string",
              "description": "Set to 0 to exclude box-type addresses from verification results."
            }
          },
          {
            "name": "ascii",
            "in": "query",
            "required": false,
            "description": "Set to 1 to normalize special characters to ASCII equivalents.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to normalize special characters to ASCII equivalents."
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
