{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GSA Public Comment Universal API",
    "version": "0.0.2",
    "description": "Query federal regulatory dockets, documents, and public comments from Regulations.gov."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gSAPublicComment/latest/actions/get-comment": {
      "get": {
        "operationId": "gSAPublicComment.get-comment",
        "summary": "Get Comment",
        "description": "Retrieves a specific comment from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/get-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commentId",
            "in": "query",
            "required": true,
            "description": "ID of the comment to return.",
            "schema": {
              "type": "string",
              "description": "ID of the comment to return."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Use attachments to include attachments in the response.",
            "schema": {
              "type": "string",
              "description": "Use attachments to include attachments in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Comment resource.",
                            "properties": {
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "agencyId": {
                                    "type": "string"
                                  },
                                  "comment": {
                                    "type": "string"
                                  },
                                  "commentOn": {
                                    "type": "string"
                                  },
                                  "commentOnDocumentId": {
                                    "type": "string"
                                  },
                                  "docketId": {
                                    "type": "string"
                                  },
                                  "documentType": {
                                    "type": "string"
                                  },
                                  "objectId": {
                                    "type": "string"
                                  },
                                  "postedDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "receiveDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "subtype": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "trackingNbr": {
                                    "type": "string"
                                  },
                                  "withdrawn": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string",
                                "description": "Comment ID."
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "relationships": {
                                "type": "object",
                                "properties": {
                                  "attachments": {
                                    "type": "object",
                                    "properties": {
                                      "links": {
                                        "type": "object",
                                        "properties": {
                                          "related": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPublicComment/latest/actions/get-docket": {
      "get": {
        "operationId": "gSAPublicComment.get-docket",
        "summary": "Get Docket",
        "description": "Retrieves a specific docket from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/get-docket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docketId",
            "in": "query",
            "required": true,
            "description": "ID of the docket to return.",
            "schema": {
              "type": "string",
              "description": "ID of the docket to return."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Docket resource.",
                            "properties": {
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "agencyId": {
                                    "type": "string"
                                  },
                                  "category": {
                                    "type": "string"
                                  },
                                  "displayProperties": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "dkAbstract": {
                                    "type": "string"
                                  },
                                  "docketType": {
                                    "type": "string"
                                  },
                                  "modifyDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "objectId": {
                                    "type": "string"
                                  },
                                  "rin": {
                                    "type": "string"
                                  },
                                  "subType": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string",
                                "description": "Docket ID."
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPublicComment/latest/actions/get-document": {
      "get": {
        "operationId": "gSAPublicComment.get-document",
        "summary": "Get Document",
        "description": "Retrieves a specific document from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "ID of the document to return.",
            "schema": {
              "type": "string",
              "description": "ID of the document to return."
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Use attachments to include attachments in the response.",
            "schema": {
              "type": "string",
              "description": "Use attachments to include attachments in the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Document resource.",
                            "properties": {
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "agencyId": {
                                    "type": "string"
                                  },
                                  "commentEndDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "commentStartDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "docketId": {
                                    "type": "string"
                                  },
                                  "documentType": {
                                    "type": "string"
                                  },
                                  "fileFormats": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "frDocNum": {
                                    "type": "string"
                                  },
                                  "objectId": {
                                    "type": "string"
                                  },
                                  "openForComment": {
                                    "type": "boolean"
                                  },
                                  "postedDate": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "subtype": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "topics": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "withinCommentPeriod": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string",
                                "description": "Document ID."
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "relationships": {
                                "type": "object",
                                "properties": {
                                  "attachments": {
                                    "type": "object",
                                    "properties": {
                                      "links": {
                                        "type": "object",
                                        "properties": {
                                          "related": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPublicComment/latest/actions/list-agency-categories": {
      "get": {
        "operationId": "gSAPublicComment.list-agency-categories",
        "summary": "List Agency Categories",
        "description": "Retrieves agency categories for an acronym from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/list-agency-categories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acronym",
            "in": "query",
            "required": true,
            "description": "Agency acronym, such as FAA.",
            "schema": {
              "type": "string",
              "description": "Agency acronym, such as FAA."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "acronym": {
                                      "type": "string"
                                    },
                                    "category": {
                                      "type": "string"
                                    },
                                    "default": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string"
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "Agency category resources."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPublicComment/latest/actions/list-comments": {
      "get": {
        "operationId": "gSAPublicComment.list-comments",
        "summary": "List Comments",
        "description": "Retrieves a list of comments from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/list-comments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyId",
            "in": "query",
            "required": false,
            "description": "Filter comments by agency acronym, such as EPA.",
            "schema": {
              "type": "string",
              "description": "Filter comments by agency acronym, such as EPA."
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "description": "Filter comments by keyword or identifier.",
            "schema": {
              "type": "string",
              "description": "Filter comments by keyword or identifier."
            }
          },
          {
            "name": "commentOnId",
            "in": "query",
            "required": false,
            "description": "Filter comments by the objectId of the document being commented on.",
            "schema": {
              "type": "string",
              "description": "Filter comments by the objectId of the document being commented on."
            }
          },
          {
            "name": "postedDate",
            "in": "query",
            "required": false,
            "description": "Filter comments by posted date in yyyy-MM-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter comments by posted date in yyyy-MM-dd format."
            }
          },
          {
            "name": "lastModifiedDate",
            "in": "query",
            "required": false,
            "description": "Filter comments by last modified date in yyyy-MM-dd HH:mm:ss format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter comments by last modified date in yyyy-MM-dd HH:mm:ss format."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "agencyId": {
                                      "type": "string"
                                    },
                                    "documentType": {
                                      "type": "string"
                                    },
                                    "objectId": {
                                      "type": "string"
                                    },
                                    "postedDate": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "withdrawn": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Comment ID."
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "Comment resources."
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "hasNextPage": {
                                "type": "boolean"
                              },
                              "hasPreviousPage": {
                                "type": "boolean"
                              },
                              "pageNumber": {
                                "type": "number"
                              },
                              "pageSize": {
                                "type": "number"
                              },
                              "totalElements": {
                                "type": "number"
                              },
                              "totalPages": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPublicComment/latest/actions/list-dockets": {
      "get": {
        "operationId": "gSAPublicComment.list-dockets",
        "summary": "List Dockets",
        "description": "Retrieves a list of dockets from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/list-dockets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyId",
            "in": "query",
            "required": false,
            "description": "Filter dockets by agency acronym, such as EPA.",
            "schema": {
              "type": "string",
              "description": "Filter dockets by agency acronym, such as EPA."
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "description": "Filter dockets by keyword or identifier.",
            "schema": {
              "type": "string",
              "description": "Filter dockets by keyword or identifier."
            }
          },
          {
            "name": "docketType",
            "in": "query",
            "required": false,
            "description": "Filter dockets by docket type.",
            "schema": {
              "type": "string",
              "description": "Filter dockets by docket type."
            }
          },
          {
            "name": "lastModifiedDate",
            "in": "query",
            "required": false,
            "description": "Filter dockets by last modified date in yyyy-MM-dd HH:mm:ss format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter dockets by last modified date in yyyy-MM-dd HH:mm:ss format."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "agencyId": {
                                      "type": "string"
                                    },
                                    "docketType": {
                                      "type": "string"
                                    },
                                    "lastModifiedDate": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "objectId": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Docket ID."
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "Docket resources."
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "hasNextPage": {
                                "type": "boolean"
                              },
                              "hasPreviousPage": {
                                "type": "boolean"
                              },
                              "pageNumber": {
                                "type": "number"
                              },
                              "pageSize": {
                                "type": "number"
                              },
                              "totalElements": {
                                "type": "number"
                              },
                              "totalPages": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPublicComment/latest/actions/list-documents": {
      "get": {
        "operationId": "gSAPublicComment.list-documents",
        "summary": "List Documents",
        "description": "Retrieves a list of documents from GSA Public Comment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPublicComment/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyId",
            "in": "query",
            "required": false,
            "description": "Filter documents by agency acronym, such as EPA.",
            "schema": {
              "type": "string",
              "description": "Filter documents by agency acronym, such as EPA."
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "description": "Filter documents by keyword or identifier.",
            "schema": {
              "type": "string",
              "description": "Filter documents by keyword or identifier."
            }
          },
          {
            "name": "docketId",
            "in": "query",
            "required": false,
            "description": "Filter documents by docket ID.",
            "schema": {
              "type": "string",
              "description": "Filter documents by docket ID."
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "description": "Filter documents by document type.",
            "schema": {
              "type": "string",
              "description": "Filter documents by document type."
            }
          },
          {
            "name": "frDocNum",
            "in": "query",
            "required": false,
            "description": "Filter documents by Federal Register document number.",
            "schema": {
              "type": "string",
              "description": "Filter documents by Federal Register document number."
            }
          },
          {
            "name": "postedDate",
            "in": "query",
            "required": false,
            "description": "Filter documents by posted date in yyyy-MM-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter documents by posted date in yyyy-MM-dd format."
            }
          },
          {
            "name": "commentEndDate",
            "in": "query",
            "required": false,
            "description": "Filter documents by comment end date in yyyy-MM-dd format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter documents by comment end date in yyyy-MM-dd format."
            }
          },
          {
            "name": "lastModifiedDate",
            "in": "query",
            "required": false,
            "description": "Filter documents by last modified date in yyyy-MM-dd HH:mm:ss format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter documents by last modified date in yyyy-MM-dd HH:mm:ss format."
            }
          },
          {
            "name": "subtype",
            "in": "query",
            "required": false,
            "description": "Filter documents by subtype.",
            "schema": {
              "type": "string",
              "description": "Filter documents by subtype."
            }
          },
          {
            "name": "withinCommentPeriod",
            "in": "query",
            "required": false,
            "description": "Set to true to return documents open for comment.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to return documents open for comment."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "attributes": {
                                  "type": "object",
                                  "properties": {
                                    "agencyId": {
                                      "type": "string"
                                    },
                                    "docketId": {
                                      "type": "string"
                                    },
                                    "documentType": {
                                      "type": "string"
                                    },
                                    "objectId": {
                                      "type": "string"
                                    },
                                    "openForComment": {
                                      "type": "boolean"
                                    },
                                    "postedDate": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "withinCommentPeriod": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Document ID."
                                },
                                "links": {
                                  "type": "object",
                                  "properties": {
                                    "self": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string",
                                  "description": "JSON:API resource type."
                                }
                              }
                            },
                            "description": "Document resources."
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "hasNextPage": {
                                "type": "boolean"
                              },
                              "hasPreviousPage": {
                                "type": "boolean"
                              },
                              "pageNumber": {
                                "type": "number"
                              },
                              "pageSize": {
                                "type": "number"
                              },
                              "totalElements": {
                                "type": "number"
                              },
                              "totalPages": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
