{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Exchange Rates API Universal API",
    "version": "0.0.3",
    "description": "Exchange Rates API provides current, historical, conversion, time-series, fluctuation, and supported-currency exchange-rate data for more than 170 currencies."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/exchangeRatesAPI/latest/actions/convert-currency": {
      "get": {
        "operationId": "exchangeRatesAPI.convert-currency",
        "summary": "Convert Currency",
        "description": "Converts an amount between currencies in Exchange Rates API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest/actions/convert-currency"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Three-letter currency code to convert from.",
            "schema": {
              "type": "string",
              "description": "Three-letter currency code to convert from.",
              "example": "USD"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Three-letter currency code to convert to.",
            "schema": {
              "type": "string",
              "description": "Three-letter currency code to convert to.",
              "example": "EUR"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to convert.",
            "schema": {
              "type": "number",
              "description": "Amount to convert.",
              "example": 25
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Optional historical conversion date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Optional historical conversion date in YYYY-MM-DD format.",
              "example": "2024-01-15"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date for the conversion rate data."
                          },
                          "historical": {
                            "type": "boolean",
                            "description": "Whether historical rates were used for this conversion."
                          },
                          "info": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conversion rate metadata including timestamp and rate."
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Conversion query details including from currency, to currency, and amount."
                          },
                          "result": {
                            "type": "number",
                            "description": "Converted amount result."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the conversion request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exchangeRatesAPI/latest/actions/get-historical-rates": {
      "get": {
        "operationId": "exchangeRatesAPI.get-historical-rates",
        "summary": "Get Historical Rates",
        "description": "Retrieves historical exchange rates from Exchange Rates API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest/actions/get-historical-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Past date for the requested historical rates in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Past date for the requested historical rates in YYYY-MM-DD format.",
              "example": "2024-01-15"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
            "schema": {
              "type": "string",
              "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
              "example": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY. Pass multiple values separated by `,`.",
              "example": "USD,CAD,JPY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base": {
                            "type": "string",
                            "description": "Base currency code used for the rates."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date for the returned historical rates."
                          },
                          "historical": {
                            "type": "boolean",
                            "description": "Whether the response is historical data."
                          },
                          "rates": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Map of currency codes to exchange-rate values."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the historical rates request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Unix timestamp for when the historical rates were collected."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exchangeRatesAPI/latest/actions/get-latest-rates": {
      "get": {
        "operationId": "exchangeRatesAPI.get-latest-rates",
        "summary": "Get Latest Rates",
        "description": "Retrieves latest exchange rates from Exchange Rates API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest/actions/get-latest-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
            "schema": {
              "type": "string",
              "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
              "example": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY. Pass multiple values separated by `,`.",
              "example": "USD,CAD,JPY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base": {
                            "type": "string",
                            "description": "Base currency code used for the rates."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date for the returned rates."
                          },
                          "rates": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Map of currency codes to exchange-rate values."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the latest rates request succeeded."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Unix timestamp for when the exchange rates were collected."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exchangeRatesAPI/latest/actions/get-rate-fluctuations": {
      "get": {
        "operationId": "exchangeRatesAPI.get-rate-fluctuations",
        "summary": "Get Rate Fluctuations",
        "description": "Retrieves exchange-rate fluctuations from Exchange Rates API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest/actions/get-rate-fluctuations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date of the fluctuation time frame in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date of the fluctuation time frame in YYYY-MM-DD format.",
              "example": "2024-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date of the fluctuation time frame in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date of the fluctuation time frame in YYYY-MM-DD format.",
              "example": "2024-01-31"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
            "schema": {
              "type": "string",
              "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
              "example": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY. Pass multiple values separated by `,`.",
              "example": "USD,CAD,JPY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base": {
                            "type": "string",
                            "description": "Base currency code used for the rates."
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End date of the fluctuation time frame."
                          },
                          "fluctuation": {
                            "type": "boolean",
                            "description": "Whether the response is from the fluctuation endpoint."
                          },
                          "rates": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Map of currency codes to start rate, end rate, change, and percent change values."
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date of the fluctuation time frame."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the fluctuation request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exchangeRatesAPI/latest/actions/list-supported-symbols": {
      "get": {
        "operationId": "exchangeRatesAPI.list-supported-symbols",
        "summary": "List Supported Symbols",
        "description": "Retrieves supported currency symbols from Exchange Rates API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest/actions/list-supported-symbols"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether the symbols request succeeded."
                          },
                          "symbols": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Map of supported three-letter currency codes to currency names."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/exchangeRatesAPI/latest/actions/list-time-series-rates": {
      "get": {
        "operationId": "exchangeRatesAPI.list-time-series-rates",
        "summary": "List Time Series Rates",
        "description": "Retrieves time-series exchange rates from Exchange Rates API.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/exchangeRatesAPI/latest/actions/list-time-series-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date of the time frame in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start date of the time frame in YYYY-MM-DD format.",
              "example": "2024-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date of the time frame in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End date of the time frame in YYYY-MM-DD format.",
              "example": "2024-01-31"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
            "schema": {
              "type": "string",
              "description": "Optional three-letter currency code for the base currency. Defaults to EUR when omitted.",
              "example": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated currency codes to limit the returned rates, such as USD,CAD,JPY. Pass multiple values separated by `,`.",
              "example": "USD,CAD,JPY"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "base": {
                            "type": "string",
                            "description": "Base currency code used for the rates."
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End date of the returned time frame."
                          },
                          "rates": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Map of dates to currency exchange-rate values."
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date of the returned time frame."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the time-series request succeeded."
                          },
                          "timeseries": {
                            "type": "boolean",
                            "description": "Whether the response is from the time-series endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
