{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Retell AI Universal API",
    "version": "0.0.7",
    "description": "Manage AI voice agents, chats, calls, and phone numbers"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/retellAI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/retellAI/latest/actions/add-knowledge-base-sources": {
      "put": {
        "operationId": "retellAI.add-knowledge-base-sources",
        "summary": "Add Knowledge Base Sources",
        "description": "Adds sources to a knowledge base in Retell AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retellAI/latest/actions/add-knowledge-base-sources"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "knowledgeBaseId",
                  "knowledgeBaseTexts[].title",
                  "knowledgeBaseTexts[].text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "knowledgeBaseFiles[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Files to add to the knowledge base. Limit to 25 files, where each file is limited to 50MB."
                  },
                  "knowledgeBaseId": {
                    "type": "string"
                  },
                  "knowledgeBaseTexts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Texts to add to the knowledge base."
                  },
                  "knowledgeBaseUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URLs to be scraped and added to the knowledge base. Must be valid urls."
                  },
                  "knowledgeBaseTexts[].title": {
                    "type": "string",
                    "description": "Title of the text."
                  },
                  "knowledgeBaseTexts[].text": {
                    "type": "string",
                    "description": "Text to add to the knowledge base."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "enableAutoRefresh": {
                            "type": "boolean",
                            "description": "Whether to enable auto refresh for the knowledge base urls. If set to true, will retrieve the data from the specified url every 12 hours."
                          },
                          "knowledgeBaseId": {
                            "type": "string",
                            "description": "Unique id of the knowledge base."
                          },
                          "knowledgeBaseName": {
                            "type": "string",
                            "description": "Name of the knowledge base. Must be less than 40 characters."
                          },
                          "knowledgeBaseSources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "filename": {
                                  "type": "string",
                                  "description": "Filename of the document."
                                },
                                "fileUrl": {
                                  "type": "string",
                                  "description": "URL of the document stored."
                                },
                                "sourceId": {
                                  "type": "string",
                                  "description": "Unique id of the knowledge base source."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the knowledge base source. Allowed values: document."
                                }
                              }
                            },
                            "description": "Sources of the knowledge base. Will be populated after the processing is done (when status is \"complete\")."
                          },
                          "lastRefreshedTimestamp": {
                            "type": "number",
                            "description": "Last refreshed timestamp (milliseconds since epoch). Only applicable when enable_auto_refresh is true."
                          },
                          "maxChunkSize": {
                            "type": "number",
                            "description": "Maximum number of characters per chunk when splitting knowledge base content."
                          },
                          "minChunkSize": {
                            "type": "number",
                            "description": "Minimum number of characters per chunk. Chunks smaller than this are merged with adjacent chunks."
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the knowledge base. When it's created and being processed, it's \"in_progress\". When the processing is done, it's \"complete\". When there's an error in processing, it's \"error\". When it is during kb updating, it's \"refreshing_in_progress\". Allowed values: in_progress, complete, error, refreshing_in_progress."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retellAI/latest/actions/create-chat": {
      "post": {
        "operationId": "retellAI.create-chat",
        "summary": "Create Chat",
        "description": "Creates a chat in Retell AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retellAI/latest/actions/create-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "agentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agentId": {
                    "type": "string",
                    "description": "The chat agent to use for the call."
                  },
                  "agentVersion": {
                    "type": "number",
                    "description": "The version of the chat agent to use for the chat. If not provided, will default to latest version."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An arbitrary object for storage purpose only. You can put anything here like your internal customer id associated with the chat. Not used for processing. You can later get this field from the chat object."
                  },
                  "retellLlmDynamicVariables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Add optional dynamic variables in key value pairs of string that injects into your Response Engine prompt and tool description. Only applicable for Response Engine."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentId": {
                            "type": "string",
                            "description": "Corresponding chat agent id of this chat."
                          },
                          "chatAnalysis": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "chatSuccessful": {
                                "type": "boolean",
                                "description": "Whether the agent seems to have a successful chat with the user, where the agent finishes the task, and the call was complete without being cutoff."
                              },
                              "chatSummary": {
                                "type": "string",
                                "description": "A high level summary of the chat."
                              },
                              "customAnalysisData": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Custom analysis data that was extracted based on the schema defined in chat agent post chat analysis data. Can be empty if nothing is specified."
                              },
                              "userSentiment": {
                                "type": "string",
                                "description": "Sentiment of the user in the chat. Allowed values: Negative, Positive, Neutral, Unknown."
                              }
                            }
                          },
                          "chatCost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "combinedCost": {
                                "type": "number",
                                "description": "Combined cost of all individual costs in cents"
                              },
                              "productCosts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "cost": {
                                      "type": "number",
                                      "description": "Cost for the product in cents for the duration of the call."
                                    },
                                    "isTransferLegCost": {
                                      "type": "boolean",
                                      "description": "True if this cost item is for a transfer segment."
                                    },
                                    "product": {
                                      "type": "string",
                                      "description": "Product name that has a cost associated with it."
                                    },
                                    "unitPrice": {
                                      "type": "number",
                                      "description": "Unit price of the product in cents per second."
                                    }
                                  }
                                },
                                "description": "List of products with their unit prices and costs in cents"
                              }
                            }
                          },
                          "chatId": {
                            "type": "string",
                            "description": "Unique id of the chat."
                          },
                          "chatStatus": {
                            "type": "string",
                            "description": "Status of chat.\n\n- `ongoing`: Chat session is ongoing, chat agent can receive new message and generate response.\n- `ended`: Chat session has ended, and no longer can generate new response.\n- `error`: Chat encountered error. Allowed values: ongoing, ended, error."
                          },
                          "chatType": {
                            "type": "string",
                            "description": "Type of the chat Allowed values: api_chat, sms_chat."
                          },
                          "collectedDynamicVariables": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dynamic variables collected from the chat. Only available after the chat ends."
                          },
                          "customAttributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom attributes for the chat"
                          },
                          "endTimestamp": {
                            "type": "number",
                            "description": "End timestamp (milliseconds since epoch) of the chat. Available after chat ends."
                          },
                          "messageWithToolCalls": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Content of the message"
                                },
                                "createdTimestamp": {
                                  "type": "number",
                                  "description": "Create timestamp of the message"
                                },
                                "messageId": {
                                  "type": "string",
                                  "description": "Unique id of the message"
                                },
                                "role": {
                                  "type": "string",
                                  "description": "Documents whether this message is sent by agent or user. Allowed values: agent, user."
                                }
                              }
                            },
                            "description": "Transcript of the chat weaved with tool call invocation and results."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "An arbitrary object for storage purpose only. You can put anything here like your internal customer id associated with the chat. Not used for processing. You can later get this field from the chat object."
                          },
                          "retellLlmDynamicVariables": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Add optional dynamic variables in key value pairs of string that injects into your Response Engine prompt and tool description. Only applicable for Response Engine."
                          },
                          "startTimestamp": {
                            "type": "number",
                            "description": "Begin timestamp (milliseconds since epoch) of the chat. Available after chat starts."
                          },
                          "transcript": {
                            "type": "string",
                            "description": "Transcription of the chat."
                          },
                          "version": {
                            "type": "number",
                            "description": "The version of the agent"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retellAI/latest/actions/create-chat-agent": {
      "post": {
        "operationId": "retellAI.create-chat-agent",
        "summary": "Create Chat Agent",
        "description": "Creates a chat agent in Retell AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retellAI/latest/actions/create-chat-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "piiConfig.categories[]",
                  "responseEngine",
                  "responseEngine.type",
                  "responseEngine.llmId",
                  "postChatAnalysisData[].type",
                  "postChatAnalysisData[].name",
                  "postChatAnalysisData[].description",
                  "piiConfig.mode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "guardrailConfig.inputTopics[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Selected prohibited user topic categories to check. When user messages contain these topics, the agent will respond with a placeholder message instead of processing the request."
                  },
                  "guardrailConfig.outputTopics[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Selected prohibited agent topic categories to check. When agent messages contain these topics, they will be replaced with a placeholder message."
                  },
                  "piiConfig.categories[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of PII categories to scrub from transcripts and recordings."
                  },
                  "postChatAnalysisData[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Post chat analysis data to extract from the chat. This data will augment the pre-defined variables extracted in the chat analysis. This will be available after the chat ends."
                  },
                  "postChatAnalysisData[].examples[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Examples of the variable value to teach model the style and syntax."
                  },
                  "responseEngine": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "webhookEvents[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Which webhook events this agent should receive. If not set, defaults to chat_started, chat_ended, chat_analyzed."
                  },
                  "responseEngine.type": {
                    "type": "string",
                    "description": "type of the Response Engine. Allowed values: retell-llm."
                  },
                  "responseEngine.llmId": {
                    "type": "string",
                    "description": "id of the Retell LLM Response Engine."
                  },
                  "responseEngine.version": {
                    "type": "number",
                    "description": "Version of the Retell LLM Response Engine."
                  },
                  "agentName": {
                    "type": "string",
                    "description": "The name of the chat agent. Only used for your own reference."
                  },
                  "autoCloseMessage": {
                    "type": "string",
                    "description": "Message to display when the chat is automatically closed."
                  },
                  "endChatAfterSilenceMs": {
                    "type": "number",
                    "description": "If users stay silent for a period after agent speech, end the chat. The minimum value allowed is 120,000 ms (2 minutes). The maximum value allowed is 259,200,000 ms (72 hours). By default, this is set to 3,600,000 (1 hour)."
                  },
                  "language": {
                    "type": "string",
                    "description": "Specifies what language (and dialect) the chat will operate in. For instance, selecting `en-GB` optimizes for British English. If unset, will use default value `en-US`. Select `multi` for multilingual support, currently this supports Spanish and English."
                  },
                  "webhookUrl": {
                    "type": "string",
                    "description": "The webhook for agent to listen to chat events. See what events it would get at [webhook doc](/features/webhook). If set, will binds webhook events for this agent to the specified url, and will ignore the account level webhook for this agent. Set to `null` to remove webhook url from this agent."
                  },
                  "webhookTimeoutMs": {
                    "type": "number",
                    "description": "The timeout for the webhook in milliseconds. If not set, default value of 10000 will apply."
                  },
                  "dataStorageSetting": {
                    "type": "string",
                    "description": "Controls what data is stored for this agent. \"everything\" stores all data including transcripts and recordings. \"everything_except_pii\" stores data but excludes PII when possible based on PII configuration. \"basic_attributes_only\" stores only basic metadata. If not set, defaults to \"everything\". Allowed values: everything, everything_except_pii, basic_attributes_only."
                  },
                  "dataStorageRetentionDays": {
                    "type": "number",
                    "description": "Number of days to retain call/chat data before automatic deletion. Must be between 1 and 730 days. If not set, data is retained forever (no automatic deletion)."
                  },
                  "optInSignedUrl": {
                    "type": "boolean",
                    "description": "Whether this agent opts in to signed url for public log. If not set, default value of false will apply."
                  },
                  "signedUrlExpirationMs": {
                    "type": "number",
                    "description": "The expiration time for the signed url in milliseconds. Only applicable when opt_in_signed_url is true. If not set, default value of 86400000 (24 hours) will apply."
                  },
                  "postChatAnalysisData[].type": {
                    "type": "string",
                    "description": "Type of the variable to extract. Allowed values: string."
                  },
                  "postChatAnalysisData[].name": {
                    "type": "string",
                    "description": "Name of the variable."
                  },
                  "postChatAnalysisData[].description": {
                    "type": "string",
                    "description": "Description of the variable."
                  },
                  "postChatAnalysisData[].required": {
                    "type": "boolean",
                    "description": "Whether this data is required. If true and the data is not extracted, the call will be marked as unsuccessful."
                  },
                  "postChatAnalysisModel": {
                    "type": "string",
                    "description": "Available LLM models for agents."
                  },
                  "analysisSuccessfulPrompt": {
                    "type": "string",
                    "description": "The prompt to use for post call analysis to evaluate whether the call is successful. Set to null to use the default prompt."
                  },
                  "analysisSummaryPrompt": {
                    "type": "string",
                    "description": "The prompt to use for post call analysis to summarize the call. Set to null to use the default prompt."
                  },
                  "analysisUserSentimentPrompt": {
                    "type": "string",
                    "description": "Prompt to guide how the post chat analysis should evaluate user sentiment. When unset, the default system prompt is used. Set to null to use the default prompt."
                  },
                  "piiConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "piiConfig.mode": {
                    "type": "string",
                    "description": "The processing mode for PII scrubbing. Currently only post-call is supported. Allowed values: post_call."
                  },
                  "guardrailConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "isPublic": {
                    "type": "boolean",
                    "description": "Whether the agent is public. When set to true, the agent is available for public agent preview link."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentId": {
                            "type": "string",
                            "description": "Unique id of chat agent."
                          },
                          "agentName": {
                            "type": "string",
                            "description": "The name of the chat agent. Only used for your own reference."
                          },
                          "analysisSuccessfulPrompt": {
                            "type": "string",
                            "description": "The prompt to use for post call analysis to evaluate whether the call is successful. Set to null to use the default prompt."
                          },
                          "analysisSummaryPrompt": {
                            "type": "string",
                            "description": "The prompt to use for post call analysis to summarize the call. Set to null to use the default prompt."
                          },
                          "analysisUserSentimentPrompt": {
                            "type": "string",
                            "description": "Prompt to guide how the post chat analysis should evaluate user sentiment. When unset, the default system prompt is used. Set to null to use the default prompt."
                          },
                          "autoCloseMessage": {
                            "type": "string",
                            "description": "Message to display when the chat is automatically closed."
                          },
                          "dataStorageRetentionDays": {
                            "type": "number",
                            "description": "Number of days to retain call/chat data before automatic deletion. Must be between 1 and 730 days. If not set, data is retained forever (no automatic deletion)."
                          },
                          "dataStorageSetting": {
                            "type": "string",
                            "description": "Controls what data is stored for this agent. \"everything\" stores all data including transcripts and recordings. \"everything_except_pii\" stores data but excludes PII when possible based on PII configuration. \"basic_attributes_only\" stores only basic metadata. If not set, defaults to \"everything\". Allowed values: everything, everything_except_pii, basic_attributes_only."
                          },
                          "endChatAfterSilenceMs": {
                            "type": "number",
                            "description": "If users stay silent for a period after agent speech, end the chat. The minimum value allowed is 120,000 ms (2 minutes). The maximum value allowed is 259,200,000 ms (72 hours). By default, this is set to 3,600,000 (1 hour)."
                          },
                          "guardrailConfig": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "inputTopics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Selected prohibited user topic categories to check. When user messages contain these topics, the agent will respond with a placeholder message instead of processing the request."
                              },
                              "outputTopics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Selected prohibited agent topic categories to check. When agent messages contain these topics, they will be replaced with a placeholder message."
                              }
                            }
                          },
                          "isPublic": {
                            "type": "boolean",
                            "description": "Whether the agent is public. When set to true, the agent is available for public agent preview link."
                          },
                          "isPublished": {
                            "type": "boolean",
                            "description": "Whether the chat agent is published."
                          },
                          "language": {
                            "type": "string",
                            "description": "Specifies what language (and dialect) the chat will operate in. For instance, selecting `en-GB` optimizes for British English. If unset, will use default value `en-US`. Select `multi` for multilingual support, currently this supports Spanish and English."
                          },
                          "lastModificationTimestamp": {
                            "type": "number",
                            "description": "Last modification timestamp (milliseconds since epoch). Either the time of last update or creation if no updates available."
                          },
                          "optInSignedUrl": {
                            "type": "boolean",
                            "description": "Whether this agent opts in to signed url for public log. If not set, default value of false will apply."
                          },
                          "piiConfig": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "categories": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "List of PII categories to scrub from transcripts and recordings."
                              },
                              "mode": {
                                "type": "string",
                                "description": "The processing mode for PII scrubbing. Currently only post-call is supported. Allowed values: post_call."
                              }
                            }
                          },
                          "postChatAnalysisData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "description": "Description of the variable."
                                },
                                "examples": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Examples of the variable value to teach model the style and syntax."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Name of the variable."
                                },
                                "required": {
                                  "type": "boolean",
                                  "description": "Whether this data is required. If true and the data is not extracted, the call will be marked as unsuccessful."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the variable to extract. Allowed values: string."
                                }
                              }
                            },
                            "description": "Post chat analysis data to extract from the chat. This data will augment the pre-defined variables extracted in the chat analysis. This will be available after the chat ends."
                          },
                          "postChatAnalysisModel": {
                            "type": "string",
                            "description": "Available LLM models for agents."
                          },
                          "responseEngine": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "llmId": {
                                "type": "string",
                                "description": "id of the Retell LLM Response Engine."
                              },
                              "type": {
                                "type": "string",
                                "description": "type of the Response Engine. Allowed values: retell-llm."
                              },
                              "version": {
                                "type": "number",
                                "description": "Version of the Retell LLM Response Engine."
                              }
                            }
                          },
                          "signedUrlExpirationMs": {
                            "type": "number",
                            "description": "The expiration time for the signed url in milliseconds. Only applicable when opt_in_signed_url is true. If not set, default value of 86400000 (24 hours) will apply."
                          },
                          "version": {
                            "type": "number",
                            "description": "The version of the chat agent."
                          },
                          "webhookEvents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Which webhook events this agent should receive. If not set, defaults to chat_started, chat_ended, chat_analyzed."
                          },
                          "webhookTimeoutMs": {
                            "type": "number",
                            "description": "The timeout for the webhook in milliseconds. If not set, default value of 10000 will apply."
                          },
                          "webhookUrl": {
                            "type": "string",
                            "description": "The webhook for agent to listen to chat events. See what events it would get at [webhook doc](/features/webhook). If set, will binds webhook events for this agent to the specified url, and will ignore the account level webhook for this agent. Set to `null` to remove webhook url from this agent."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retellAI/latest/actions/create-knowledge-base": {
      "post": {
        "operationId": "retellAI.create-knowledge-base",
        "summary": "Create Knowledge Base",
        "description": "Creates a knowledge base in Retell AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retellAI/latest/actions/create-knowledge-base"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "knowledgeBaseName",
                  "knowledgeBaseTexts[].title",
                  "knowledgeBaseTexts[].text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "knowledgeBaseFiles[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Files to add to the knowledge base. Limit to 25 files, where each file is limited to 50MB."
                  },
                  "knowledgeBaseName": {
                    "type": "string",
                    "description": "Name of the knowledge base. Must be less than 40 characters."
                  },
                  "knowledgeBaseTexts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Texts to add to the knowledge base."
                  },
                  "knowledgeBaseUrls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "URLs to be scraped and added to the knowledge base. Must be valid urls."
                  },
                  "knowledgeBaseTexts[].title": {
                    "type": "string",
                    "description": "Title of the text."
                  },
                  "knowledgeBaseTexts[].text": {
                    "type": "string",
                    "description": "Text to add to the knowledge base."
                  },
                  "enableAutoRefresh": {
                    "type": "boolean",
                    "description": "Whether to enable auto refresh for the knowledge base urls. If set to true, will retrieve the data from the specified url every 12 hours."
                  },
                  "maxChunkSize": {
                    "type": "number",
                    "description": "Maximum number of characters per chunk when splitting knowledge base. Default is 2000. content. Immutable after creation."
                  },
                  "minChunkSize": {
                    "type": "number",
                    "description": "Minimum number of characters per chunk. Chunks smaller than this will be merged with adjacent chunks. Must be less than max_chunk_size. Immutable after creation. Default is 400."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "enableAutoRefresh": {
                            "type": "boolean",
                            "description": "Whether to enable auto refresh for the knowledge base urls. If set to true, will retrieve the data from the specified url every 12 hours."
                          },
                          "knowledgeBaseId": {
                            "type": "string",
                            "description": "Unique id of the knowledge base."
                          },
                          "knowledgeBaseName": {
                            "type": "string",
                            "description": "Name of the knowledge base. Must be less than 40 characters."
                          },
                          "knowledgeBaseSources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "filename": {
                                  "type": "string",
                                  "description": "Filename of the document."
                                },
                                "fileUrl": {
                                  "type": "string",
                                  "description": "URL of the document stored."
                                },
                                "sourceId": {
                                  "type": "string",
                                  "description": "Unique id of the knowledge base source."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the knowledge base source. Allowed values: document."
                                }
                              }
                            },
                            "description": "Sources of the knowledge base. Will be populated after the processing is done (when status is \"complete\")."
                          },
                          "lastRefreshedTimestamp": {
                            "type": "number",
                            "description": "Last refreshed timestamp (milliseconds since epoch). Only applicable when enable_auto_refresh is true."
                          },
                          "maxChunkSize": {
                            "type": "number",
                            "description": "Maximum number of characters per chunk when splitting knowledge base content."
                          },
                          "minChunkSize": {
                            "type": "number",
                            "description": "Minimum number of characters per chunk. Chunks smaller than this are merged with adjacent chunks."
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the knowledge base. When it's created and being processed, it's \"in_progress\". When the processing is done, it's \"complete\". When there's an error in processing, it's \"error\". When it is during kb updating, it's \"refreshing_in_progress\". Allowed values: in_progress, complete, error, refreshing_in_progress."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/retellAI/latest/actions/create-phone-call": {
      "post": {
        "operationId": "retellAI.create-phone-call",
        "summary": "Create Phone Call",
        "description": "Creates a phone call in Retell AI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/retellAI/latest/actions/create-phone-call"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "agentOverride.agent.piiConfig.categories[]",
                  "fromNumber",
                  "toNumber",
                  "agentOverride.agent.responseEngine.type",
                  "agentOverride.agent.responseEngine.llmId",
                  "agentOverride.agent.pronunciationDictionary[].word",
                  "agentOverride.agent.pronunciationDictionary[].alphabet",
                  "agentOverride.agent.pronunciationDictionary[].phoneme",
                  "agentOverride.agent.voicemailOption.action",
                  "agentOverride.agent.voicemailOption.action.type",
                  "agentOverride.agent.voicemailOption.action.text",
                  "agentOverride.agent.ivrOption.action",
                  "agentOverride.agent.ivrOption.action.type",
                  "agentOverride.agent.postCallAnalysisData[].type",
                  "agentOverride.agent.postCallAnalysisData[].name",
                  "agentOverride.agent.postCallAnalysisData[].description",
                  "agentOverride.agent.customSttConfig.provider",
                  "agentOverride.agent.customSttConfig.endpointingMs",
                  "agentOverride.agent.piiConfig.mode",
                  "agentOverride.conversationFlow.modelChoice.type",
                  "agentOverride.conversationFlow.modelChoice.model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agentOverride.agent.backchannelWords[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Only applicable when enable_backchannel is true. A list of words that the agent would use as backchannel. If not set, default backchannel words will apply. Check out [backchannel default words](/agent/interaction-configuration#backchannel) for more details. Note that certain voices do not work too well with certain words, so it's recommended to experiment before adding any words."
                  },
                  "agentOverride.agent.boostedKeywords[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Provide a customized list of keywords to bias the transcriber model, so that these words are more likely to get transcribed. Commonly used for names, brands, street, etc."
                  },
                  "agentOverride.agent.fallbackVoiceIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "When TTS provider for the selected voice is experiencing outages, we would use fallback voices listed here for the agent. Voice id and the fallback voice ids must be from different TTS providers. The system would go through the list in order, if the first one in the list is also having outage, it would use the next one. Set to null to remove voice fallback for the agent."
                  },
                  "agentOverride.agent.guardrailConfig.inputTopics[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Selected prohibited user topic categories to check. When user messages contain these topics, the agent will respond with a placeholder message instead of processing the request."
                  },
                  "agentOverride.agent.guardrailConfig.outputTopics[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Selected prohibited agent topic categories to check. When agent messages contain these topics, they will be replaced with a placeholder message."
                  },
                  "agentOverride.agent.piiConfig.categories[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of PII categories to scrub from transcripts and recordings."
                  },
                  "agentOverride.agent.postCallAnalysisData[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Post call analysis data to extract from the call. This data will augment the pre-defined variables extracted in the call analysis. This will be available after the call ends."
                  },
                  "agentOverride.agent.postCallAnalysisData[].examples[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Examples of the variable value to teach model the style and syntax."
                  },
                  "agentOverride.agent.pronunciationDictionary[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "A list of words / phrases and their pronunciation to be used to guide the audio synthesize for consistent pronunciation. Check the dashboard to see what provider supports this feature. Set to null to remove pronunciation dictionary from this agent."
                  },
                  "agentOverride.agent.webhookEvents[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Which webhook events this agent should receive. If not set, defaults to call_started, call_ended, call_analyzed."
                  },
                  "agentOverride.conversationFlow.knowledgeBaseIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Knowledge base IDs for RAG (Retrieval-Augmented Generation)."
                  },
                  "agentOverride.retellLlm.knowledgeBaseIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of knowledge base ids to use for this resource."
                  },
                  "fromNumber": {
                    "type": "string",
                    "description": "The number you own in E.164 format. Must be a number purchased from Retell or imported to Retell."
                  },
                  "toNumber": {
                    "type": "string",
                    "description": "The number you want to call, in E.164 format. If using a number purchased from Retell, only US numbers are supported as destination."
                  },
                  "overrideAgentId": {
                    "type": "string",
                    "description": "For this particular call, override the agent used with this agent id. This does not bind the agent to this number, this is for one time override."
                  },
                  "overrideAgentVersion": {
                    "type": "number",
                    "description": "For this particular call, override the agent version used with this version. This does not bind the agent version to this number, this is for one time override."
                  },
                  "agentOverride": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Override configuration for agent, retell LLM, or conversation flow settings for a specific call."
                  },
                  "agentOverride.agent": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.responseEngine": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.responseEngine.type": {
                    "type": "string",
                    "description": "type of the Response Engine. Allowed values: retell-llm."
                  },
                  "agentOverride.agent.responseEngine.llmId": {
                    "type": "string",
                    "description": "id of the Retell LLM Response Engine."
                  },
                  "agentOverride.agent.responseEngine.version": {
                    "type": "number",
                    "description": "Version of the Retell LLM Response Engine."
                  },
                  "agentOverride.agent.agentName": {
                    "type": "string",
                    "description": "The name of the agent. Only used for your own reference."
                  },
                  "agentOverride.agent.versionDescription": {
                    "type": "string",
                    "description": "Optional description of the agent version. Used for your own reference and documentation."
                  },
                  "agentOverride.agent.voiceId": {
                    "type": "string",
                    "description": "Unique voice id used for the agent. Find list of available voices and their preview in Dashboard."
                  },
                  "agentOverride.agent.voiceModel": {
                    "type": "string",
                    "description": "Select the voice model used for the selected voice. Each provider has a set of available voice models. Set to null to remove voice model selection, and default ones will apply. Check out dashboard for more details of each voice model."
                  },
                  "agentOverride.agent.voiceTemperature": {
                    "type": "number",
                    "description": "Controls how stable the voice is. Value ranging from [0,2]. Lower value means more stable, and higher value means more variant speech generation. Check the dashboard to see what provider supports this feature. If unset, default value 1 will apply."
                  },
                  "agentOverride.agent.voiceSpeed": {
                    "type": "number",
                    "description": "Controls speed of voice. Value ranging from [0.5,2]. Lower value means slower speech, while higher value means faster speech rate. If unset, default value 1 will apply."
                  },
                  "agentOverride.agent.enableDynamicVoiceSpeed": {
                    "type": "boolean",
                    "description": "If set to true, will enable dynamic voice speed adjustment based on the user's speech rate and conversation context. If unset, default value false will apply."
                  },
                  "agentOverride.agent.enableDynamicResponsiveness": {
                    "type": "boolean",
                    "description": "If set to true, the agent will dynamically adjust how quickly it responds based on the user's speech rate and past turn-taking behavior in the call. If unset, default value false will apply."
                  },
                  "agentOverride.agent.volume": {
                    "type": "number",
                    "description": "If set, will control the volume of the agent. Value ranging from [0,2]. Lower value means quieter agent speech, while higher value means louder agent speech. If unset, default value 1 will apply."
                  },
                  "agentOverride.agent.voiceEmotion": {
                    "type": "string",
                    "description": "Controls the emotional tone of the agent's voice. Currently supported for Cartesia and Minimax TTS providers. If unset, no emotion will be used. Allowed values: calm, sympathetic, happy, sad, angry, fearful, surprised."
                  },
                  "agentOverride.agent.responsiveness": {
                    "type": "number",
                    "description": "Controls how responsive is the agent. Value ranging from [0,1]. Lower value means less responsive agent (wait more, respond slower), while higher value means faster exchanges (respond when it can). If unset, default value 1 will apply."
                  },
                  "agentOverride.agent.interruptionSensitivity": {
                    "type": "number",
                    "description": "Controls how sensitive the agent is to user interruptions. Value ranging from [0,1]. Lower value means it will take longer / more words for user to interrupt agent, while higher value means it's easier for user to interrupt agent. If unset, default value 1 will apply. When this is set to 0, agent would never be interrupted."
                  },
                  "agentOverride.agent.enableBackchannel": {
                    "type": "boolean",
                    "description": "Controls whether the agent would backchannel (agent interjects the speaker with phrases like \"yeah\", \"uh-huh\" to signify interest and engagement). Backchannel when enabled tends to show up more in longer user utterances. If not set, agent will not backchannel."
                  },
                  "agentOverride.agent.backchannelFrequency": {
                    "type": "number",
                    "description": "Only applicable when enable_backchannel is true. Controls how often the agent would backchannel when a backchannel is possible. Value ranging from [0,1]. Lower value means less frequent backchannel, while higher value means more frequent backchannel. If unset, default value 0.8 will apply."
                  },
                  "agentOverride.agent.reminderTriggerMs": {
                    "type": "number",
                    "description": "If set (in milliseconds), will trigger a reminder to the agent to speak if the user has been silent for the specified duration after some agent speech. Must be a positive number. If unset, default value of 10000 ms (10 s) will apply."
                  },
                  "agentOverride.agent.reminderMaxCount": {
                    "type": "number",
                    "description": "If set, controls how many times agent would remind user when user is unresponsive. Must be a non negative integer. If unset, default value of 1 will apply (remind once). Set to 0 to disable agent from reminding."
                  },
                  "agentOverride.agent.ambientSound": {
                    "type": "string",
                    "description": "If set, will add ambient environment sound to the call to make experience more realistic. Currently supports the following options:\n\n- `coffee-shop`: Coffee shop ambience with people chatting in background. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/coffee-shop.wav)\n- `convention-hall`: Convention hall ambience, with some echo and people chatting in background. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/convention-hall.wav)\n- `summer-outdoor`: Summer outdoor ambience with cicada chirping. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/summer-outdoor.wav)\n- `mountain-outdoor`: Mountain outdoor ambience with birds singing. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/mountain-outdoor.wav)\n- `static-noise`: Constant static noise. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/static-noise.wav)\n- `call-center`: Call center work noise. [Listen to Ambience](https://retell-utils-public.s3.us-west-2.amazonaws.com/call-center.wav)\nSet to `null` to remove ambient sound from this agent. Allowed values: coffee-shop, convention-hall, summer-outdoor, mountain-outdoor, static-noise, call-center."
                  },
                  "agentOverride.agent.ambientSoundVolume": {
                    "type": "number",
                    "description": "If set, will control the volume of the ambient sound. Value ranging from [0,2]. Lower value means quieter ambient sound, while higher value means louder ambient sound. If unset, default value 1 will apply."
                  },
                  "agentOverride.agent.language": {
                    "type": "string",
                    "description": "Specifies what language (and dialect) the speech recognition will operate in. For instance, selecting `en-GB` optimizes speech recognition for British English. If unset, will use default value `en-US`. Select `multi` for multilingual support."
                  },
                  "agentOverride.agent.webhookUrl": {
                    "type": "string",
                    "description": "The webhook for agent to listen to call events. See what events it would get at [webhook doc](/features/webhook). If set, will binds webhook events for this agent to the specified url, and will ignore the account level webhook for this agent. Set to `null` to remove webhook url from this agent."
                  },
                  "agentOverride.agent.webhookTimeoutMs": {
                    "type": "number",
                    "description": "The timeout for the webhook in milliseconds. If not set, default value of 10000 will apply."
                  },
                  "agentOverride.agent.dataStorageSetting": {
                    "type": "string",
                    "description": "Granular setting to manage how Retell stores sensitive data (transcripts, recordings, logs, etc.).\nThis replaces the deprecated `opt_out_sensitive_data_storage` field.\n- `everything`: Store all data including transcripts, recordings, and logs.\n- `everything_except_pii`: Store data without PII when PII is detected.\n- `basic_attributes_only`: Store only basic attributes; no transcripts/recordings/logs.\nIf not set, default value of \"everything\" will apply. Allowed values: everything, everything_except_pii, basic_attributes_only."
                  },
                  "agentOverride.agent.dataStorageRetentionDays": {
                    "type": "number",
                    "description": "Number of days to retain call/chat data before automatic deletion. Must be between 1 and 730 days. If not set, data is retained forever (no automatic deletion)."
                  },
                  "agentOverride.agent.optInSignedUrl": {
                    "type": "boolean",
                    "description": "Whether this agent opts in for signed URLs for public logs and recordings. When enabled, the generated URLs will include security signatures that restrict access and automatically expire after 24 hours."
                  },
                  "agentOverride.agent.signedUrlExpirationMs": {
                    "type": "number",
                    "description": "The expiration time for the signed url in milliseconds. Only applicable when opt_in_signed_url is true. If not set, default value of 86400000 (24 hours) will apply."
                  },
                  "agentOverride.agent.pronunciationDictionary[].word": {
                    "type": "string",
                    "description": "The string of word / phrase to be annotated with pronunciation."
                  },
                  "agentOverride.agent.pronunciationDictionary[].alphabet": {
                    "type": "string",
                    "description": "The phonetic alphabet to be used for pronunciation. Allowed values: ipa, cmu."
                  },
                  "agentOverride.agent.pronunciationDictionary[].phoneme": {
                    "type": "string",
                    "description": "Pronunciation of the word in the format of a IPA / CMU pronunciation."
                  },
                  "agentOverride.agent.normalizeForSpeech": {
                    "type": "boolean",
                    "description": "If set to true, will normalize the some part of text (number, currency, date, etc) to spoken to its spoken form for more consistent speech synthesis (sometimes the voice synthesize system itself might read these wrong with the raw text). For example, it will convert \"Call my number 2137112342 on Jul 5th, 2024 for the $24.12 payment\" to \"Call my number two one three seven one one two three four two on july fifth, twenty twenty four for the twenty four dollars twelve cents payment\" before starting audio generation."
                  },
                  "agentOverride.agent.endCallAfterSilenceMs": {
                    "type": "number",
                    "description": "If users stay silent for a period after agent speech, end the call. The minimum value allowed is 10,000 ms (10 s). By default, this is set to 600000 (10 min)."
                  },
                  "agentOverride.agent.maxCallDurationMs": {
                    "type": "number",
                    "description": "Maximum allowed length for the call, will force end the call if reached. The minimum value allowed is 60,000 ms (1 min), and maximum value allowed is 7,200,000 (2 hours). By default, this is set to 3,600,000 (1 hour)."
                  },
                  "agentOverride.agent.enableVoicemailDetection": {
                    "type": "boolean",
                    "description": "If set to true, will detect whether the call enters a voicemail. Note that this feature is only available for phone calls."
                  },
                  "agentOverride.agent.voicemailMessage": {
                    "type": "string",
                    "description": "The message to be played when the call enters a voicemail. Note that this feature is only available for phone calls. If you want to hangup after hitting voicemail, set this to empty string."
                  },
                  "agentOverride.agent.voicemailDetectionTimeoutMs": {
                    "type": "number",
                    "description": "Configures when to stop running voicemail detection, as it becomes unlikely to hit voicemail after a couple minutes, and keep running it will only have negative impact. The minimum value allowed is 5,000 ms (5 s), and maximum value allowed is 180,000 (3 minutes). By default, this is set to 30,000 (30 s)."
                  },
                  "agentOverride.agent.voicemailOption": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "If this option is set, the call will try to detect voicemail in the first 3 minutes of the call. Actions defined (hangup, or leave a message) will be applied when the voicemail is detected. Set this to null to disable voicemail detection."
                  },
                  "agentOverride.agent.voicemailOption.action": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.voicemailOption.action.type": {
                    "type": "string",
                    "description": "Allowed values: prompt."
                  },
                  "agentOverride.agent.voicemailOption.action.text": {
                    "type": "string",
                    "description": "The prompt used to generate the text to be spoken when the call is detected to be in voicemail."
                  },
                  "agentOverride.agent.ivrOption": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "If this option is set, the call will try to detect IVR in the first 3 minutes of the call. Actions defined will be applied when the IVR is detected. Set this to null to disable IVR detection."
                  },
                  "agentOverride.agent.ivrOption.action": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.ivrOption.action.type": {
                    "type": "string",
                    "description": "Allowed values: hangup."
                  },
                  "agentOverride.agent.postCallAnalysisData[].type": {
                    "type": "string",
                    "description": "Type of the variable to extract. Allowed values: string."
                  },
                  "agentOverride.agent.postCallAnalysisData[].name": {
                    "type": "string",
                    "description": "Name of the variable."
                  },
                  "agentOverride.agent.postCallAnalysisData[].description": {
                    "type": "string",
                    "description": "Description of the variable."
                  },
                  "agentOverride.agent.postCallAnalysisData[].required": {
                    "type": "boolean",
                    "description": "Whether this data is required. If true and the data is not extracted, the call will be marked as unsuccessful."
                  },
                  "agentOverride.agent.postCallAnalysisModel": {
                    "type": "string",
                    "description": "Available LLM models for agents."
                  },
                  "agentOverride.agent.analysisSuccessfulPrompt": {
                    "type": "string",
                    "description": "Prompt to determine whether the post call or chat analysis should mark the interaction as successful. Set to null to use the default prompt."
                  },
                  "agentOverride.agent.analysisSummaryPrompt": {
                    "type": "string",
                    "description": "Prompt to guide how the post call or chat analysis summary should be generated. When unset, the default system prompt is used. Set to null to use the default prompt."
                  },
                  "agentOverride.agent.analysisUserSentimentPrompt": {
                    "type": "string",
                    "description": "Prompt to guide how the post call or chat analysis should evaluate user sentiment. When unset, the default system prompt is used. Set to null to use the default prompt."
                  },
                  "agentOverride.agent.beginMessageDelayMs": {
                    "type": "number",
                    "description": "If set, will delay the first message by the specified amount of milliseconds, so that it gives user more time to prepare to take the call. Valid range is [0, 5000]. If not set or set to 0, agent will speak immediately. Only applicable when agent speaks first."
                  },
                  "agentOverride.agent.ringDurationMs": {
                    "type": "number",
                    "description": "If set, the phone ringing will last for the specified amount of milliseconds. This applies for both outbound call ringtime, and call transfer ringtime. Default to 30000 (30 s). Valid range is [5000, 300000]."
                  },
                  "agentOverride.agent.sttMode": {
                    "type": "string",
                    "description": "If set, determines whether speech to text should focus on latency or accuracy. Default to fast mode. When set to custom, custom_stt_config must be provided. Allowed values: fast, accurate, custom."
                  },
                  "agentOverride.agent.customSttConfig": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom STT configuration. Only used when stt_mode is set to custom."
                  },
                  "agentOverride.agent.customSttConfig.provider": {
                    "type": "string",
                    "description": "The STT provider to use. Allowed values: azure, deepgram."
                  },
                  "agentOverride.agent.customSttConfig.endpointingMs": {
                    "type": "number",
                    "description": "Endpointing timeout in milliseconds. Minimum is 100 for azure, 10 for deepgram."
                  },
                  "agentOverride.agent.vocabSpecialization": {
                    "type": "string",
                    "description": "If set, determines the vocabulary set to use for transcription. This setting only applies for English agents, for non English agent, this setting is a no-op. Default to general. Allowed values: general, medical."
                  },
                  "agentOverride.agent.allowUserDtmf": {
                    "type": "boolean",
                    "description": "If set to true, DTMF input will be accepted and processed. If false, any DTMF input will be ignored. Default to true."
                  },
                  "agentOverride.agent.userDtmfOptions": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.userDtmfOptions.digitLimit": {
                    "type": "number",
                    "description": "The maximum number of digits allowed in the user's DTMF (Dual-Tone Multi-Frequency) input per turn. Once this limit is reached, the input is considered complete and a response will be generated immediately."
                  },
                  "agentOverride.agent.userDtmfOptions.terminationKey": {
                    "type": "string",
                    "description": "A single key that signals the end of DTMF input. Acceptable values include any digit (0-9), the pound/hash symbol (#), or the asterisk (*)."
                  },
                  "agentOverride.agent.userDtmfOptions.timeoutMs": {
                    "type": "number",
                    "description": "The time (in milliseconds) to wait for user DTMF input before timing out. The timer resets with each digit received."
                  },
                  "agentOverride.agent.denoisingMode": {
                    "type": "string",
                    "description": "If set, determines what denoising mode to use. Use \"no-denoise\" to bypass all audio denoising. Default to noise-cancellation. Allowed values: no-denoise, noise-cancellation, noise-and-background-speech-cancellation."
                  },
                  "agentOverride.agent.piiConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.piiConfig.mode": {
                    "type": "string",
                    "description": "The processing mode for PII scrubbing. Currently only post-call is supported. Allowed values: post_call."
                  },
                  "agentOverride.agent.guardrailConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.agent.isPublic": {
                    "type": "boolean",
                    "description": "Whether the agent is public. When set to true, the agent is available for public agent preview link."
                  },
                  "agentOverride.retellLlm": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Override properties for Retell LLM configuration in agent override requests."
                  },
                  "agentOverride.retellLlm.model": {
                    "type": "string",
                    "description": "Available LLM models for agents."
                  },
                  "agentOverride.retellLlm.s2sModel": {
                    "type": "string",
                    "description": "Select the underlying speech to speech model. Can only set this or model, not both. Allowed values: gpt-4o-realtime, gpt-4o-mini-realtime, gpt-realtime, gpt-realtime-mini."
                  },
                  "agentOverride.retellLlm.modelTemperature": {
                    "type": "number",
                    "description": "If set, will control the randomness of the response. Value ranging from [0,1]. Lower value means more deterministic, while higher value means more random. If unset, default value 0 will apply. Note that for tool calling, a lower value is recommended."
                  },
                  "agentOverride.retellLlm.modelHighPriority": {
                    "type": "boolean",
                    "description": "If set to true, will use high priority pool with more dedicated resource to ensure lower and more consistent latency, default to false. This feature usually comes with a higher cost."
                  },
                  "agentOverride.retellLlm.toolCallStrictMode": {
                    "type": "boolean",
                    "description": "Whether to use strict mode for tool calls. Only applicable when using certain supported models."
                  },
                  "agentOverride.retellLlm.kbConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.retellLlm.kbConfig.topK": {
                    "type": "number",
                    "description": "Max number of knowledge base chunks to retrieve"
                  },
                  "agentOverride.retellLlm.kbConfig.filterScore": {
                    "type": "number",
                    "description": "Similarity threshold for filtering search results"
                  },
                  "agentOverride.retellLlm.startSpeaker": {
                    "type": "string",
                    "description": "The speaker who starts the conversation. Required. Must be either 'user' or 'agent'. Allowed values: user, agent."
                  },
                  "agentOverride.retellLlm.beginAfterUserSilenceMs": {
                    "type": "number",
                    "description": "If set, the AI will begin the conversation after waiting for the user for the duration (in milliseconds) specified by this attribute. This only applies if the agent is configured to wait for the user to speak first. If not set, the agent will wait indefinitely for the user to speak."
                  },
                  "agentOverride.retellLlm.beginMessage": {
                    "type": "string",
                    "description": "First utterance said by the agent in the call. If not set, LLM will dynamically generate a message. If set to \"\", agent will wait for user to speak first."
                  },
                  "agentOverride.conversationFlow": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Override properties for conversation flow configuration in agent override requests."
                  },
                  "agentOverride.conversationFlow.modelChoice": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "agentOverride.conversationFlow.modelChoice.type": {
                    "type": "string",
                    "description": "Type of model choice Allowed values: cascading."
                  },
                  "agentOverride.conversationFlow.modelChoice.model": {
                    "type": "string",
                    "description": "Available LLM models for agents."
                  },
                  "agentOverride.conversationFlow.modelChoice.highPriority": {
                    "type": "boolean",
                    "description": "Whether to use high priority pool with more dedicated resource, default false"
                  },
                  "agentOverride.conversationFlow.modelTemperature": {
                    "type": "number",
                    "description": "Controls the randomness of the model's responses. Lower values make responses more deterministic."
                  },
                  "agentOverride.conversationFlow.toolCallStrictMode": {
                    "type": "boolean",
                    "description": "Whether to use strict mode for tool calls. Only applicable when using certain supported models."
                  },
                  "agentOverride.conversationFlow.kbConfig": {
                    "type": "object",
[...]
