{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Shippo - Legacy Universal API",
    "version": "0.0.62",
    "description": "Multi-carrier shipping and label API for addresses, parcels, shipments, labels, tracking, refunds, orders, and carrier accounts."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shippo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shippo/latest/actions/create-insta-label": {
      "post": {
        "operationId": "shippo.create-insta-label",
        "summary": "Create Insta Label",
        "description": "Creates a shipping label in one Shippo API call.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/create-insta-label"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "carrier_account": {
                    "type": "string"
                  },
                  "label_file_type": {
                    "type": "string"
                  },
                  "shipment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.address_from.company": {
                    "type": "string"
                  },
                  "shipment.address_from.country": {
                    "type": "string"
                  },
                  "shipment.address_from.email": {
                    "type": "string"
                  },
                  "shipment.address_from.is_residential": {
                    "type": "boolean"
                  },
                  "shipment.address_from.name": {
                    "type": "string"
                  },
                  "shipment.address_from.phone": {
                    "type": "string"
                  },
                  "shipment.address_from.state": {
                    "type": "string"
                  },
                  "shipment.address_from.street1": {
                    "type": "string"
                  },
                  "shipment.address_from.street2": {
                    "type": "string"
                  },
                  "shipment.address_from.zip": {
                    "type": "string"
                  },
                  "shipment.address_return.company": {
                    "type": "string"
                  },
                  "shipment.address_return.country": {
                    "type": "string"
                  },
                  "shipment.address_return.email": {
                    "type": "string"
                  },
                  "shipment.address_return.is_residential": {
                    "type": "boolean"
                  },
                  "shipment.address_return.metadata": {
                    "type": "string"
                  },
                  "shipment.address_return.name": {
                    "type": "string"
                  },
                  "shipment.address_return.phone": {
                    "type": "string"
                  },
                  "shipment.address_return.state": {
                    "type": "string"
                  },
                  "shipment.address_return.street1": {
                    "type": "string"
                  },
                  "shipment.address_return.street2": {
                    "type": "string"
                  },
                  "shipment.address_return.validate": {
                    "type": "boolean"
                  },
                  "shipment.address_return.zip": {
                    "type": "string"
                  },
                  "shipment.address_to.company": {
                    "type": "string"
                  },
                  "shipment.address_to.country": {
                    "type": "string"
                  },
                  "shipment.address_to.email": {
                    "type": "string"
                  },
                  "shipment.address_to.is_residential": {
                    "type": "boolean"
                  },
                  "shipment.address_to.name": {
                    "type": "string"
                  },
                  "shipment.address_to.phone": {
                    "type": "string"
                  },
                  "shipment.address_to.state": {
                    "type": "string"
                  },
                  "shipment.address_to.street1": {
                    "type": "string"
                  },
                  "shipment.address_to.street2": {
                    "type": "string"
                  },
                  "shipment.address_to.zip": {
                    "type": "string"
                  },
                  "shipment.extra.dangerous_goods.biological_material": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.extra.insurance.content": {
                    "type": "string"
                  },
                  "shipment.extra.insurance.currency": {
                    "type": "string"
                  },
                  "shipment.extra.insurance.provider": {
                    "type": "string"
                  },
                  "shipment.extra.saturday_delivery": {
                    "type": "boolean"
                  },
                  "shipment.parcels[].length": {
                    "type": "string"
                  },
                  "async": {
                    "type": "boolean"
                  },
                  "shipment.address_from": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.address_from.city": {
                    "type": "string"
                  },
                  "shipment.address_return.city": {
                    "type": "string"
                  },
                  "shipment.address_to.city": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.certify": {
                    "type": "boolean"
                  },
                  "shipment.customs_declaration.items[].description": {
                    "type": "string"
                  },
                  "shipment.extra.billing.account": {
                    "type": "string"
                  },
                  "shipment.extra.bypass_address_validation": {
                    "type": "boolean"
                  },
                  "shipment.extra.dangerous_goods.biological_material.contains": {
                    "type": "boolean"
                  },
                  "shipment.extra.dangerous_goods.contains": {
                    "type": "boolean"
                  },
                  "shipment.extra.dangerous_goods.lithium_batteries.contains": {
                    "type": "boolean"
                  },
                  "shipment.extra.dry_ice.contains_dry_ice": {
                    "type": "boolean"
                  },
                  "shipment.extra.insurance.amount": {
                    "type": "string"
                  },
                  "shipment.parcels[].distance_unit": {
                    "type": "string"
                  },
                  "shipment.parcels[].extra.insurance": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.parcels[].extra.insurance.amount": {
                    "type": "string"
                  },
                  "shipment.address_return": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.customs_declaration.certify_signer": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.items[].mass_unit": {
                    "type": "string"
                  },
                  "shipment.extra.billing.country": {
                    "type": "string"
                  },
                  "shipment.extra.dry_ice": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.extra.dry_ice.weight": {
                    "type": "string"
                  },
                  "shipment.parcels[].extra.insurance.content": {
                    "type": "string"
                  },
                  "shipment.parcels[].height": {
                    "type": "string"
                  },
                  "shipment.address_to": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.customs_declaration.contents_explanation": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.items[].net_weight": {
                    "type": "number"
                  },
                  "shipment.extra.billing.participation_code": {
                    "type": "string"
                  },
                  "shipment.extra.dangerous_goods.lithium_batteries": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.extra.is_return": {
                    "type": "boolean"
                  },
                  "shipment.parcels[].extra.insurance.currency": {
                    "type": "string"
                  },
                  "servicelevel_token": {
                    "type": "string"
                  },
                  "shipment.customs_declaration": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.customs_declaration.contents_type": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.items[].origin_country": {
                    "type": "string"
                  },
                  "shipment.extra.billing.type": {
                    "type": "string"
                  },
                  "shipment.extra.reference_1": {
                    "type": "string"
                  },
                  "shipment.parcels[].extra.insurance.provider": {
                    "type": "string"
                  },
                  "shipment.parcels[].width": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.incoterm": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.items[].quantity": {
                    "type": "number"
                  },
                  "shipment.extra": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.extra.billing.zip": {
                    "type": "string"
                  },
                  "shipment.extra.reference_2": {
                    "type": "string"
                  },
                  "shipment.parcels[].mass_unit": {
                    "type": "string"
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "Override the authentication API key here",
                    "x-mindcloud-advanced": true
                  },
                  "shipment.customs_declaration.items[]": {
                    "type": "array",
                    "items": {}
                  },
                  "shipment.customs_declaration.items[].sku_code": {
                    "type": "string"
                  },
                  "shipment.parcels[]": {
                    "type": "array",
                    "items": {}
                  },
                  "shipment.parcels[].weight": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.eel_pfc": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.items[].tariff_number": {
                    "type": "string"
                  },
                  "shipment.extra.signature_confirmation": {
                    "type": "string"
                  },
                  "shipment.parcels[].template": {
                    "type": "string"
                  },
                  "shipment.shipment_date": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.aes_itn": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.test": {
                    "type": "boolean"
                  },
                  "shipment.extra.dangerous_goods": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.parcels[].metadata": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.items[].value_amount": {
                    "type": "number"
                  },
                  "shipment.extra.insurance": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.parcels[].extra": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.customs_declaration.items[].value_currency": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.non_delivery_option": {
                    "type": "string"
                  },
                  "shipment.extra.dangerous_goods_code": {
                    "type": "string"
                  },
                  "shipment.customs_declaration.b13a_filing_option": {
                    "type": "string"
                  },
                  "shipment.extra.billing": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shipment.customs_declaration.b13a_number": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "commercialInvoiceUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "eta": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "labelUrl": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "string"
                          },
                          "objectCreated": {
                            "type": "string"
                          },
                          "objectId": {
                            "type": "string"
                          },
                          "objectOwner": {
                            "type": "string"
                          },
                          "objectState": {
                            "type": "string"
                          },
                          "objectUpdated": {
                            "type": "string"
                          },
                          "order": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parcel": {
                            "type": "string"
                          },
                          "qrCodeUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rate": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "amountLocal": {
                                "type": "string"
                              },
                              "carrierAccount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "currencyLocal": {
                                "type": "string"
                              },
                              "objectId": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "servicelevelName": {
                                "type": "string"
                              },
                              "servicelevelToken": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "test": {
                            "type": "boolean"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "trackingStatus": {
                            "type": "string"
                          },
                          "trackingUrlProvider": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/create-label-with-rate-id": {
      "post": {
        "operationId": "shippo.create-label-with-rate-id",
        "summary": "Create Label with Rate ID",
        "description": "Creates a shipping label in Shippo from a rate ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/create-label-with-rate-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "async": {
                    "type": "boolean"
                  },
                  "rate": {
                    "type": "string"
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "Override the authentication API key here",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/create-refund": {
      "post": {
        "operationId": "shippo.create-refund",
        "summary": "Create Refund",
        "description": "Creates a refund for a Shippo shipping label.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/create-refund"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transaction"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "transaction": {
                    "type": "string"
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "Override the authentication API key here",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/create-shipment": {
      "post": {
        "operationId": "shippo.create-shipment",
        "summary": "Create Shipment",
        "description": "Creates a new shipment in Shippo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/create-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "carrier_accounts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "customs_declaration.certify_signer": {
                    "type": "string"
                  },
                  "customs_declaration.contents_explanation": {
                    "type": "string"
                  },
                  "customs_declaration.contents_type": {
                    "type": "string"
                  },
                  "customs_declaration.incoterm": {
                    "type": "string"
                  },
                  "customs_declaration.items[]": {
                    "type": "array",
                    "items": {}
                  },
                  "customs_declaration.items[].mass_unit": {
                    "type": "string"
                  },
                  "customs_declaration.items[].net_weight": {
                    "type": "number"
                  },
                  "customs_declaration.items[].origin_country": {
                    "type": "string"
                  },
                  "customs_declaration.items[].quantity": {
                    "type": "number"
                  },
                  "customs_declaration.items[].sku_code": {
                    "type": "string"
                  },
                  "customs_declaration.items[].tariff_number": {
                    "type": "string"
                  },
                  "customs_declaration.items[].value_amount": {
                    "type": "number"
                  },
                  "customs_declaration.items[].value_currency": {
                    "type": "string"
                  },
                  "customs_declaration.test": {
                    "type": "boolean"
                  },
                  "extra.billing.country": {
                    "type": "string"
                  },
                  "extra.billing.participationCode": {
                    "type": "string"
                  },
                  "extra.billing.type": {
                    "type": "string"
                  },
                  "extra.billing.zip": {
                    "type": "string"
                  },
                  "extra.dangerous_goods.biological_material": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "extra.dry_ice": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "extra.insurance": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "extra.insurance.content": {
                    "type": "string"
                  },
                  "extra.insurance.currency": {
                    "type": "string"
                  },
                  "extra.insurance.provider": {
                    "type": "string"
                  },
                  "extra.is_return": {
                    "type": "boolean"
                  },
                  "extra.reference_1": {
                    "type": "string"
                  },
                  "extra.reference_2": {
                    "type": "string"
                  },
                  "extra.saturday_delivery": {
                    "type": "boolean"
                  },
                  "extra.signature_confirmation": {
                    "type": "string"
                  },
                  "address_from": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address_from.name": {
                    "type": "string"
                  },
                  "address_return.city": {
                    "type": "string"
                  },
                  "address_to.name": {
                    "type": "string"
                  },
                  "customs_declaration.certify": {
                    "type": "boolean"
                  },
                  "customs_declaration.items[].description": {
                    "type": "string"
                  },
                  "extra.billing.account": {
                    "type": "string"
                  },
                  "extra.dangerous_goods.biological_material.contains": {
                    "type": "boolean"
                  },
                  "extra.dangerous_goods.contains": {
                    "type": "boolean"
                  },
                  "extra.dangerous_goods.lithium_batteries.contains": {
                    "type": "boolean"
                  },
                  "extra.insurance.amount": {
                    "type": "string"
                  },
                  "parcels[].extra": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "parcels[].extra.COD": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "parcels[].extra.COD.amount": {
                    "type": "string"
                  },
                  "parcels[].extra.insurance.amount": {
                    "type": "string"
                  },
                  "address_from.company": {
                    "type": "string"
                  },
                  "address_return": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address_return.state": {
                    "type": "string"
                  },
                  "address_to.company": {
                    "type": "string"
                  },
                  "parcels[].extra.COD.currency": {
                    "type": "string"
                  },
                  "parcels[].extra.insurance": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "parcels[].extra.insurance.content": {
                    "type": "string"
                  },
                  "parcels[].metadata": {
                    "type": "string"
                  },
                  "address_from.street1": {
                    "type": "string"
                  },
                  "address_return.name": {
                    "type": "string"
                  },
                  "address_to": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address_to.street1": {
                    "type": "string"
                  },
                  "extra.dangerous_goods.lithium_batteries": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "parcels[].extra.COD.payment_method": {
                    "type": "string"
                  },
                  "parcels[].extra.insurance.currency": {
                    "type": "string"
                  },
                  "parcels[].extra.reference_1": {
                    "type": "string"
                  },
                  "parcels[].mass_unit": {
                    "type": "string"
                  },
                  "address_from.street2": {
                    "type": "string"
                  },
                  "address_return.company": {
                    "type": "string"
                  },
                  "address_to.street2": {
                    "type": "string"
                  },
                  "parcels[]": {
                    "type": "array",
                    "items": {}
                  },
                  "parcels[].extra.insurance.provider": {
                    "type": "string"
                  },
                  "parcels[].extra.reference_2": {
                    "type": "string"
                  },
                  "parcels[].weight": {
                    "type": "string"
                  },
                  "address_from.street_no": {
                    "type": "string"
                  },
                  "address_return.street1": {
                    "type": "string"
                  },
                  "address_to.street_no": {
                    "type": "string"
                  },
                  "extra": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "extra.bypass_address_validation": {
                    "type": "boolean"
                  },
                  "extra.dangerous_goods": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "parcels[].distance_unit": {
                    "type": "string"
                  },
                  "address_from.city": {
                    "type": "string"
                  },
                  "address_return.street2": {
                    "type": "string"
                  },
                  "address_to.city": {
                    "type": "string"
                  },
                  "customs_declaration": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "extra.shipment_date": {
                    "type": "string"
                  },
                  "parcels[].height": {
                    "type": "string"
                  },
                  "address_from.state": {
                    "type": "string"
                  },
                  "address_return.street_no": {
                    "type": "string"
                  },
                  "address_to.state": {
                    "type": "string"
                  },
                  "async": {
                    "type": "boolean"
                  },
                  "parcels[].length": {
                    "type": "string"
                  },
                  "address_from.zip": {
                    "type": "string"
                  },
                  "address_return.zip": {
                    "type": "string"
                  },
                  "address_to.zip": {
                    "type": "string"
                  },
                  "customs_declaration.non_delivery_option": {
                    "type": "string"
                  },
                  "extra.dangerous_goods_code": {
                    "type": "string"
                  },
                  "parcels[].width": {
                    "type": "string"
                  },
                  "address_from.country": {
                    "type": "string"
                  },
                  "address_return.country": {
                    "type": "string"
                  },
                  "address_to.country": {
                    "type": "string"
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "Override the authentication API key here",
                    "x-mindcloud-advanced": true
                  },
                  "customs_declaration.eel_pfc": {
                    "type": "string"
                  },
                  "parcels[].template": {
                    "type": "string"
                  },
                  "address_from.phone": {
                    "type": "string"
                  },
                  "address_return.phone": {
                    "type": "string"
                  },
                  "address_to.phone": {
                    "type": "string"
                  },
                  "customs_declaration.aes_itn": {
                    "type": "string"
                  },
                  "address_from.email": {
                    "type": "string"
                  },
                  "address_return.email": {
                    "type": "string"
                  },
                  "address_to.email": {
                    "type": "string"
                  },
                  "customs_declaration.b13a_filing_option": {
                    "type": "string"
                  },
                  "address_from.is_residential": {
                    "type": "boolean"
                  },
                  "address_return.is_residential": {
                    "type": "boolean"
                  },
                  "address_to.is_residential": {
                    "type": "boolean"
                  },
                  "customs_declaration.b13a_number": {
                    "type": "string"
                  },
                  "extra.billing": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "address_from.metadata": {
                    "type": "string"
                  },
                  "address_return.metadata": {
                    "type": "string"
                  },
                  "address_to.metadata": {
                    "type": "string"
                  },
                  "address_from.validate": {
                    "type": "boolean"
                  },
                  "address_return.validate": {
                    "type": "boolean"
                  },
                  "address_to.validate": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/list-addresses": {
      "get": {
        "operationId": "shippo.list-addresses",
        "summary": "List Addresses",
        "description": "Retrieves saved shipping addresses from Shippo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/list-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": false,
            "description": "Override the authentication API key here",
            "schema": {
              "type": "string",
              "description": "Override the authentication API key here",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/list-all-carrier-parcel-templates": {
      "get": {
        "operationId": "shippo.list-all-carrier-parcel-templates",
        "summary": "List All Carrier Parcel Templates",
        "description": "Retrieves carrier parcel templates from Shippo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/list-all-carrier-parcel-templates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": false,
            "description": "Override the authentication API key here",
            "schema": {
              "type": "string",
              "description": "Override the authentication API key here",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/list-carrier-accounts": {
      "get": {
        "operationId": "shippo.list-carrier-accounts",
        "summary": "List Carrier Accounts",
        "description": "Retrieves carrier accounts connected to your Shippo account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/list-carrier-accounts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "description": "Set how many carrier accounts to return per page.",
            "schema": {
              "type": "number",
              "description": "Set how many carrier accounts to return per page."
            }
          },
          {
            "name": "serviceLevels",
            "in": "query",
            "required": false,
            "description": "Include service levels for each returned carrier account.",
            "schema": {
              "type": "boolean",
              "description": "Include service levels for each returned carrier account."
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "required": false,
            "description": "Filter carrier accounts by carrier token.",
            "schema": {
              "type": "string",
              "description": "Filter carrier accounts by carrier token."
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "description": "Filter the response by carrier account ID.",
            "schema": {
              "type": "string",
              "description": "Filter the response by carrier account ID."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Select which page of carrier accounts to return.",
            "schema": {
              "type": "number",
              "description": "Select which page of carrier accounts to return."
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": false,
            "description": "Override the authentication API key here",
            "schema": {
              "type": "string",
              "description": "Override the authentication API key here",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "next": {
                            "type": "string"
                          },
                          "previous": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "string"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "carrier": {
                                  "type": "string"
                                },
                                "carrierImages": {
                                  "type": "object",
                                  "properties": {
                                    "75": {
                                      "type": "string"
                                    },
                                    "200": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "carrierName": {
                                  "type": "string"
                                },
                                "isShippoAccount": {
                                  "type": "boolean"
                                },
                                "metadata": {
                                  "type": "string"
                                },
                                "objectId": {
                                  "type": "string"
                                },
                                "objectInfo": {
                                  "type": "object",
                                  "properties": {
                                    "authentication": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "objectOwner": {
                                  "type": "string"
                                },
                                "test": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shippo/latest/actions/list-transactions": {
      "get": {
        "operationId": "shippo.list-transactions",
        "summary": "List Transactions",
        "description": "Retrieves existing shipping labels from Shippo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shippo/latest/actions/list-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "rate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": false,
            "description": "Override the authentication API key here.",
            "schema": {
              "type": "string",
              "description": "Override the authentication API key here.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
