{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Timelink Universal API",
    "version": "0.0.6",
    "description": "Time tracking software for managing time entries, clients, projects, services, and users across Timelink's desktop, mobile, and web experiences."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/timelink/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/timelink/latest/actions/create-client": {
      "post": {
        "operationId": "timelink.create-client",
        "summary": "Create Client",
        "description": "Creates a client in the Timelink workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "ext_tool_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "autoupdateQuantity": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string"
                              },
                              "color": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "forceOauth": {
                                "type": "boolean"
                              },
                              "hasDemoData": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "industry": {
                                "type": "string"
                              },
                              "invoiceEmail": {
                                "type": "string"
                              },
                              "language": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "licenses": {
                                "type": "number"
                              },
                              "logo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "oauth": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "oauthProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "string"
                              },
                              "pullProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pushIntegration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pushProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "requiredFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "settings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sizeOfCompany": {
                                "type": "string"
                              },
                              "stripeExists": {
                                "type": "boolean"
                              },
                              "subscription": {
                                "type": "object",
                                "properties": {
                                  "endsAt": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "pastDue": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "product": {
                                    "type": "string"
                                  },
                                  "quantity": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "trial": {
                                    "type": "boolean"
                                  },
                                  "trialEndsAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "trialEndsAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "vatid": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zip": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "extToolId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/create-project": {
      "post": {
        "operationId": "timelink.create-project",
        "summary": "Create Project",
        "description": "Creates a project in the Timelink workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "ext_tool_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acronym": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "object",
                            "properties": {
                              "acronym": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "activeProjectsCount": {
                                "type": "number"
                              },
                              "billable": {
                                "type": "boolean"
                              },
                              "color": {
                                "type": "string"
                              },
                              "companyId": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "demoFlag": {
                                "type": "boolean"
                              },
                              "extToolId": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "imageId": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "info": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastSync": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "projectsCount": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "demoFlag": {
                            "type": "boolean"
                          },
                          "extToolId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "info": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/create-service": {
      "post": {
        "operationId": "timelink.create-service",
        "summary": "Create Service",
        "description": "Creates a service in the Timelink workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/create-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "ext_tool_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acronym": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "color": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "autoupdateQuantity": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string"
                              },
                              "color": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "forceOauth": {
                                "type": "boolean"
                              },
                              "hasDemoData": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "industry": {
                                "type": "string"
                              },
                              "invoiceEmail": {
                                "type": "string"
                              },
                              "language": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "licenses": {
                                "type": "number"
                              },
                              "logo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "oauth": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "oauthProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "string"
                              },
                              "pullProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pushIntegration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pushProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "requiredFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "settings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sizeOfCompany": {
                                "type": "string"
                              },
                              "stripeExists": {
                                "type": "boolean"
                              },
                              "subscription": {
                                "type": "object",
                                "properties": {
                                  "endsAt": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "pastDue": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "product": {
                                    "type": "string"
                                  },
                                  "quantity": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "trial": {
                                    "type": "boolean"
                                  },
                                  "trialEndsAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "trialEndsAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "vatid": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zip": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "defaultTimeEntryDescription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demoFlag": {
                            "type": "number"
                          },
                          "extToolId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "imageId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "info": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/create-time-entry": {
      "post": {
        "operationId": "timelink.create-time-entry",
        "summary": "Create Time Entry",
        "description": "Creates a time entry in Timelink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/create-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "user_id",
                  "client_id",
                  "started_at",
                  "ended_at"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "started_at": {
                    "type": "string"
                  },
                  "ended_at": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "ext_tool_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "boolean"
                          },
                          "billedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "endedAt": {
                            "type": "string"
                          },
                          "extToolId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isInterrupt": {
                            "type": "boolean"
                          },
                          "lastPush": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pushErrors": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pushState": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "serviceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startedAt": {
                            "type": "string"
                          },
                          "tempId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "extToolId": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/create-user": {
      "post": {
        "operationId": "timelink.create-user",
        "summary": "Create User",
        "description": "Creates a user in the Timelink workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "first_name",
                  "last_name",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The user's first name.",
                    "example": "Taylor"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The user's last name.",
                    "example": "Bot"
                  },
                  "email": {
                    "type": "string",
                    "description": "The user's email address.",
                    "example": "taylor.bot@example.com"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the user is active."
                  },
                  "admin": {
                    "type": "number",
                    "description": "Admin level. Docs say 9 makes the user an admin.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "color": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "autoupdateQuantity": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string"
                              },
                              "color": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "forceOauth": {
                                "type": "boolean"
                              },
                              "hasDemoData": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "industry": {
                                "type": "string"
                              },
                              "invoiceEmail": {
                                "type": "string"
                              },
                              "language": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "licenses": {
                                "type": "number"
                              },
                              "logo": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "oauth": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "oauthProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "string"
                              },
                              "pullProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pushIntegration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "pushProvider": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "requiredFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "settings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sizeOfCompany": {
                                "type": "string"
                              },
                              "stripeExists": {
                                "type": "boolean"
                              },
                              "subscription": {
                                "type": "object",
                                "properties": {
                                  "endsAt": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "pastDue": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "product": {
                                    "type": "string"
                                  },
                                  "quantity": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "trial": {
                                    "type": "boolean"
                                  },
                                  "trialEndsAt": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "trialEndsAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "vatid": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "zip": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "companyId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/delete-client": {
      "delete": {
        "operationId": "timelink.delete-client",
        "summary": "Delete Client",
        "description": "Deletes an existing client from Timelink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/delete-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/delete-client-by-external-id": {
      "delete": {
        "operationId": "timelink.delete-client-by-external-id",
        "summary": "Delete Client by External ID",
        "description": "Deletes an existing client from Timelink by external ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/delete-client-by-external-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extId",
            "in": "query",
            "required": true,
            "description": "The external reference ID for the client.",
            "schema": {
              "type": "string",
              "description": "The external reference ID for the client.",
              "example": "stage3-client-delete-001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/delete-project": {
      "delete": {
        "operationId": "timelink.delete-project",
        "summary": "Delete Project",
        "description": "Deletes an existing project from Timelink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/delete-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/delete-service": {
      "delete": {
        "operationId": "timelink.delete-service",
        "summary": "Delete Service",
        "description": "Deletes an existing service from Timelink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/delete-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/delete-time-entry": {
      "delete": {
        "operationId": "timelink.delete-time-entry",
        "summary": "Delete Time Entry",
        "description": "Deletes an existing time entry from Timelink.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/delete-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/delete-time-entry-by-external-id": {
      "delete": {
        "operationId": "timelink.delete-time-entry-by-external-id",
        "summary": "Delete Time Entry by External ID",
        "description": "Deletes an existing time entry from Timelink by external ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/delete-time-entry-by-external-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extId",
            "in": "query",
            "required": true,
            "description": "The external reference ID for the time entry.",
            "schema": {
              "type": "string",
              "description": "The external reference ID for the time entry.",
              "example": "stage3-time-entry-001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timelink/latest/actions/export-time-entries": {
      "get": {
        "operationId": "timelink.export-time-entries",
        "summary": "Export Time Entries",
        "description": "Exports time entries from the Timelink workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timelink/latest/actions/export-time-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Export start date.",
            "schema": {
              "type": "string",
              "description": "Export start date.",
              "example": "2026-03-31"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Export end date.",
            "schema": {
              "type": "string",
              "description": "Export end date.",
              "example": "2026-03-31"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "description": "Filter export to one client.",
            "schema": {
              "type": "string",
              "description": "Filter export to one client.",
              "example": "01ABC..."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
