{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Lightspeed Retail POS (X-Series) Universal API",
    "version": "0.0.7",
    "description": "Manage products, customers, sales, suppliers, and stores"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/create-customer": {
      "post": {
        "operationId": "lightspeedRetailPOSXSeries.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "lastName",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The customer's first name."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The customer's last name."
                  },
                  "email": {
                    "type": "string",
                    "description": "The customer's email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactSource": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerGroupId": {
                            "type": "string"
                          },
                          "customerGroupIds": {
                            "type": "string"
                          },
                          "customField1": {
                            "type": "string"
                          },
                          "customField2": {
                            "type": "string"
                          },
                          "customField3": {
                            "type": "string"
                          },
                          "customField4": {
                            "type": "string"
                          },
                          "dateOfBirth": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "doNotEmail": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "enableLoyalty": {
                            "type": "string"
                          },
                          "enablePromotionalSms": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "loyaltyBalance": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "onAccountLimit": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "physicalAddress1": {
                            "type": "string"
                          },
                          "physicalAddress2": {
                            "type": "string"
                          },
                          "physicalCity": {
                            "type": "string"
                          },
                          "physicalCountryId": {
                            "type": "string"
                          },
                          "physicalPostcode": {
                            "type": "string"
                          },
                          "physicalState": {
                            "type": "string"
                          },
                          "physicalSuburb": {
                            "type": "string"
                          },
                          "postalAddress1": {
                            "type": "string"
                          },
                          "postalAddress2": {
                            "type": "string"
                          },
                          "postalCity": {
                            "type": "string"
                          },
                          "postalCountryId": {
                            "type": "string"
                          },
                          "postalPostcode": {
                            "type": "string"
                          },
                          "postalState": {
                            "type": "string"
                          },
                          "postalSuburb": {
                            "type": "string"
                          },
                          "taxId": {
                            "type": "string"
                          },
                          "twitter": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          },
                          "yearToDate": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/create-product": {
      "post": {
        "operationId": "lightspeedRetailPOSXSeries.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The product name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Array of created product IDs returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/create-supplier": {
      "post": {
        "operationId": "lightspeedRetailPOSXSeries.create-supplier",
        "summary": "Create Supplier",
        "description": "Creates a new supplier in Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/create-supplier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The supplier name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/create-webhook": {
      "post": {
        "operationId": "lightspeedRetailPOSXSeries.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a new webhook in Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url",
                  "type",
                  "active"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "The destination URL for webhook deliveries."
                  },
                  "type": {
                    "type": "string",
                    "description": "The webhook event type."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the webhook is active."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "retailerId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-current-user": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountType": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deletedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emailVerifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "enabledMfa": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "images": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "imageSource": {
                            "type": "string"
                          },
                          "isPrimaryUser": {
                            "type": "boolean"
                          },
                          "permissions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "requirePasswordChange": {
                            "type": "boolean"
                          },
                          "restrictedOutletId": {
                            "type": "string"
                          },
                          "restrictedOutletIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "rules": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "seenAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "switchId": {
                            "type": "string"
                          },
                          "targetDaily": {
                            "type": "number"
                          },
                          "targetMonthly": {
                            "type": "number"
                          },
                          "targetWeekly": {
                            "type": "number"
                          },
                          "timeUntilDeletion": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "username": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-customer": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "The Lightspeed customer ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Lightspeed customer ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactSource": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerGroupId": {
                            "type": "string"
                          },
                          "customerGroupIds": {
                            "type": "string"
                          },
                          "customField1": {
                            "type": "string"
                          },
                          "customField2": {
                            "type": "string"
                          },
                          "customField3": {
                            "type": "string"
                          },
                          "customField4": {
                            "type": "string"
                          },
                          "dateOfBirth": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "doNotEmail": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "enableLoyalty": {
                            "type": "string"
                          },
                          "enablePromotionalSms": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "loyaltyBalance": {
                            "type": "string"
                          },
                          "loyaltyEmailSent": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "onAccountLimit": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "physicalAddress1": {
                            "type": "string"
                          },
                          "physicalAddress2": {
                            "type": "string"
                          },
                          "physicalCity": {
                            "type": "string"
                          },
                          "physicalCountryId": {
                            "type": "string"
                          },
                          "physicalPostcode": {
                            "type": "string"
                          },
                          "physicalState": {
                            "type": "string"
                          },
                          "physicalSuburb": {
                            "type": "string"
                          },
                          "postalAddress1": {
                            "type": "string"
                          },
                          "postalAddress2": {
                            "type": "string"
                          },
                          "postalCity": {
                            "type": "string"
                          },
                          "postalCountryId": {
                            "type": "string"
                          },
                          "postalPostcode": {
                            "type": "string"
                          },
                          "postalState": {
                            "type": "string"
                          },
                          "postalSuburb": {
                            "type": "string"
                          },
                          "sourceUniqueId": {
                            "type": "string"
                          },
                          "taxId": {
                            "type": "string"
                          },
                          "timeUntilDeletion": {
                            "type": "string"
                          },
                          "twitter": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          },
                          "yearToDate": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-outlet": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-outlet",
        "summary": "Get Outlet",
        "description": "Retrieves an outlet from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-outlet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outletId",
            "in": "query",
            "required": true,
            "description": "The Lightspeed outlet ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Lightspeed outlet ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currencySymbol": {
                            "type": "string"
                          },
                          "defaultTaxId": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "displayPrices": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "physicalAddress1": {
                            "type": "string"
                          },
                          "physicalAddress2": {
                            "type": "string"
                          },
                          "physicalCity": {
                            "type": "string"
                          },
                          "physicalCountryId": {
                            "type": "string"
                          },
                          "physicalPostcode": {
                            "type": "string"
                          },
                          "physicalState": {
                            "type": "string"
                          },
                          "physicalSuburb": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-product": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-product",
        "summary": "Get Product",
        "description": "Retrieves a product from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "The Lightspeed product ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The Lightspeed product ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountCode": {
                            "type": "string"
                          },
                          "accountCodePurchase": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "string"
                          },
                          "brand": {
                            "type": "string"
                          },
                          "brandId": {
                            "type": "string"
                          },
                          "buttonOrder": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "customizations": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dimensionsUnit": {
                            "type": "string"
                          },
                          "ecwidEnabledWebstore": {
                            "type": "string"
                          },
                          "familyId": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "hasInventory": {
                            "type": "string"
                          },
                          "hasVariants": {
                            "type": "string"
                          },
                          "height": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "images": {
                            "type": "string"
                          },
                          "imageThumbnailUrl": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "string"
                          },
                          "isComposite": {
                            "type": "string"
                          },
                          "length": {
                            "type": "string"
                          },
                          "loyaltyAmount": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "packaging": {
                            "type": "string"
                          },
                          "priceExcludingTax": {
                            "type": "string"
                          },
                          "priceIncludingTax": {
                            "type": "string"
                          },
                          "productCategory": {
                            "type": "string"
                          },
                          "productCodes": {
                            "type": "string"
                          },
                          "productSuppliers": {
                            "type": "string"
                          },
                          "productTypeId": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "skuImages": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "sourceId": {
                            "type": "string"
                          },
                          "sourceVariantId": {
                            "type": "string"
                          },
                          "supplier": {
                            "type": "string"
                          },
                          "supplierCode": {
                            "type": "string"
                          },
                          "supplierId": {
                            "type": "string"
                          },
                          "supplyPrice": {
                            "type": "string"
                          },
                          "tagIds": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "variantCount": {
                            "type": "string"
                          },
                          "variantName": {
                            "type": "string"
                          },
                          "variantOptions": {
                            "type": "string"
                          },
                          "variantParentId": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "string"
                          },
                          "weightUnit": {
                            "type": "string"
                          },
                          "width": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-register": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-register",
        "summary": "Get Register",
        "description": "Retrieves a register from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-register"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registerId",
            "in": "query",
            "required": true,
            "description": "The register ID.",
            "schema": {
              "type": "string",
              "description": "The register ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "askForNoteOnSave": {
                            "type": "string"
                          },
                          "askForUserOnSale": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "string"
                          },
                          "buttonLayoutId": {
                            "type": "string"
                          },
                          "cashManagedPaymentTypeId": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "emailReceipt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoicePrefix": {
                            "type": "string"
                          },
                          "invoiceSequence": {
                            "type": "string"
                          },
                          "invoiceSuffix": {
                            "type": "string"
                          },
                          "isOpen": {
                            "type": "string"
                          },
                          "isQuickKeysEnabled": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "outletId": {
                            "type": "string"
                          },
                          "printNoteOnReceipt": {
                            "type": "string"
                          },
                          "printReceipt": {
                            "type": "string"
                          },
                          "receiptTemplateId": {
                            "type": "string"
                          },
                          "registerCloseTime": {
                            "type": "string"
                          },
                          "registerOpenSequenceId": {
                            "type": "string"
                          },
                          "registerOpenTime": {
                            "type": "string"
                          },
                          "showDiscountsOnReceipts": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-retailer": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-retailer",
        "summary": "Get Retailer",
        "description": "Retrieves retailer information from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-retailer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountStatus": {
                            "type": "string"
                          },
                          "accountType": {
                            "type": "string"
                          },
                          "activatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "country": {
                            "type": "string"
                          },
                          "createCustomerByEmailReceipt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "culture": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "defaultDimensionsUnit": {
                            "type": "string"
                          },
                          "defaultTaxId": {
                            "type": "string"
                          },
                          "defaultWeightUnit": {
                            "type": "string"
                          },
                          "disableOnboardingTour": {
                            "type": "boolean"
                          },
                          "discountProductId": {
                            "type": "string"
                          },
                          "domainPrefix": {
                            "type": "string"
                          },
                          "ecwidOnboardingSurveyState": {
                            "type": "string"
                          },
                          "embeddedBarcodeOption": {
                            "type": "string"
                          },
                          "enabledIntegrations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "enabledPlatformApps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "enableLineItemConsolidation": {
                            "type": "boolean"
                          },
                          "giftCards": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasWebRegister": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "labelPrinterFormat": {
                            "type": "string"
                          },
                          "lightspeedUniqueId": {
                            "type": "string"
                          },
                          "loyalty": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "marketCode": {
                            "type": "string"
                          },
                          "marketSegment": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "noTaxGroupId": {
                            "type": "string"
                          },
                          "onAccount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "registerMigrationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "requirePasswordOnUserSwitch": {
                            "type": "string"
                          },
                          "restrictionState": {
                            "type": "string"
                          },
                          "restrictionStateReason": {
                            "type": "string"
                          },
                          "signupIndustryVertical": {
                            "type": "string"
                          },
                          "skuSequence": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ssoEnabled": {
                            "type": "boolean"
                          },
                          "storeCredit": {
                            "type": "boolean"
                          },
                          "storeUrl": {
                            "type": "string"
                          },
                          "subscription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subscriptionPlanVersion": {
                            "type": "number"
                          },
                          "taxExclusive": {
                            "type": "boolean"
                          },
                          "termsAndConditions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lightspeedRetailPOSXSeries/latest/actions/get-supplier": {
      "get": {
        "operationId": "lightspeedRetailPOSXSeries.get-supplier",
        "summary": "Get Supplier",
        "description": "Retrieves a supplier from Lightspeed Retail POS (X-Series).",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lightspeedRetailPOSXSeries/latest/actions/get-supplier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "required": true,
            "description": "The supplier ID.",
            "schema": {
              "type": "string",
              "description": "The supplier ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact": {
                            "type": "string"
                          },
                          "defaultMarkup": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
[...]
