{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "RentCast Universal API",
    "version": "0.0.6",
    "description": "Search property records, valuations, listings, and market statistics"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rentCast/latest/actions/get-market-statistics": {
      "get": {
        "operationId": "rentCast.get-market-statistics",
        "summary": "Get Market Statistics",
        "description": "Retrieves market statistics from RentCast for a ZIP code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/get-market-statistics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": true,
            "description": "A valid 5-digit US zip code.",
            "schema": {
              "type": "string",
              "description": "A valid 5-digit US zip code."
            }
          },
          {
            "name": "dataType",
            "in": "query",
            "required": false,
            "description": "The type of aggregate market data to retrieve.",
            "schema": {
              "type": "string",
              "description": "The type of aggregate market data to retrieve.",
              "enum": [
                "All",
                "Rental",
                "Sale"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "historyRange",
            "in": "query",
            "required": false,
            "description": "The number of months of historical market data to include.",
            "schema": {
              "type": "number",
              "description": "The number of months of historical market data to include.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "rentalData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "saleData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "zipCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/get-property-record-by-id": {
      "get": {
        "operationId": "rentCast.get-property-record-by-id",
        "summary": "Get Property Record by ID",
        "description": "Retrieves a property record from RentCast by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/get-property-record-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The RentCast property record ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The RentCast property record ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressLine2": {
                            "type": "string"
                          },
                          "assessorID": {
                            "type": "string"
                          },
                          "bathrooms": {
                            "type": "number"
                          },
                          "bedrooms": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyFips": {
                            "type": "string"
                          },
                          "features": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSaleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "legalDescription": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "lotSize": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerOccupied": {
                            "type": "boolean"
                          },
                          "propertyTaxes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyType": {
                            "type": "string"
                          },
                          "squareFootage": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateFips": {
                            "type": "string"
                          },
                          "subdivision": {
                            "type": "string"
                          },
                          "taxAssessments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "yearBuilt": {
                            "type": "number"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "zoning": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/get-rent-estimate": {
      "get": {
        "operationId": "rentCast.get-rent-estimate",
        "summary": "Get Rent Estimate",
        "description": "Retrieves a rent estimate from RentCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/get-rent-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "The full property address in the format Street, City, State, Zip.",
            "schema": {
              "type": "string",
              "description": "The full property address in the format Street, City, State, Zip."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude of the subject property when using coordinates instead of a full address.",
            "schema": {
              "type": "number",
              "description": "Latitude of the subject property when using coordinates instead of a full address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude of the subject property when using coordinates instead of a full address.",
            "schema": {
              "type": "number",
              "description": "Longitude of the subject property when using coordinates instead of a full address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "required": false,
            "description": "The subject property type.",
            "schema": {
              "type": "string",
              "description": "The subject property type.",
              "enum": [
                "Apartment",
                "Condo",
                "Manufactured",
                "Multi-Family",
                "Single Family",
                "Townhouse"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "required": false,
            "description": "The number of bedrooms in the subject property.",
            "schema": {
              "type": "number",
              "description": "The number of bedrooms in the subject property.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bathrooms",
            "in": "query",
            "required": false,
            "description": "The number of bathrooms in the subject property.",
            "schema": {
              "type": "number",
              "description": "The number of bathrooms in the subject property.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "squareFootage",
            "in": "query",
            "required": false,
            "description": "The total living area size of the subject property in square feet.",
            "schema": {
              "type": "number",
              "description": "The total living area size of the subject property in square feet.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "maxRadius",
            "in": "query",
            "required": false,
            "description": "The maximum distance in miles between comparable listings and the subject property.",
            "schema": {
              "type": "number",
              "description": "The maximum distance in miles between comparable listings and the subject property.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "daysOld",
            "in": "query",
            "required": false,
            "description": "The maximum number of days since comparable listings were last seen on the market.",
            "schema": {
              "type": "number",
              "description": "The maximum number of days since comparable listings were last seen on the market.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "compCount",
            "in": "query",
            "required": false,
            "description": "The number of comparable listings to use when calculating the estimate.",
            "schema": {
              "type": "number",
              "description": "The number of comparable listings to use when calculating the estimate.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lookupSubjectAttributes",
            "in": "query",
            "required": false,
            "description": "When enabled, RentCast attempts to look up subject property attributes to find more relevant comps.",
            "schema": {
              "type": "boolean",
              "description": "When enabled, RentCast attempts to look up subject property attributes to find more relevant comps.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comparables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "rent": {
                            "type": "number"
                          },
                          "rentRangeHigh": {
                            "type": "number"
                          },
                          "rentRangeLow": {
                            "type": "number"
                          },
                          "subjectProperty": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/get-rental-listing-by-id": {
      "get": {
        "operationId": "rentCast.get-rental-listing-by-id",
        "summary": "Get Rental Listing by ID",
        "description": "Retrieves a rental listing from RentCast by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/get-rental-listing-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The RentCast rental listing ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The RentCast rental listing ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressLine2": {
                            "type": "string"
                          },
                          "bathrooms": {
                            "type": "number"
                          },
                          "bedrooms": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyFips": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "daysOnMarket": {
                            "type": "number"
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSeenDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "listedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "listingAgent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "listingOffice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "listingType": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "lotSize": {
                            "type": "number"
                          },
                          "mlsName": {
                            "type": "string"
                          },
                          "mlsNumber": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "propertyType": {
                            "type": "string"
                          },
                          "removedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "squareFootage": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateFips": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "number"
                          },
                          "zipCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/get-sale-listing-by-id": {
      "get": {
        "operationId": "rentCast.get-sale-listing-by-id",
        "summary": "Get Sale Listing by ID",
        "description": "Retrieves a sale listing from RentCast by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/get-sale-listing-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The RentCast sale listing ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "The RentCast sale listing ID to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressLine2": {
                            "type": "string"
                          },
                          "bathrooms": {
                            "type": "number"
                          },
                          "bedrooms": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyFips": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "daysOnMarket": {
                            "type": "number"
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSeenDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "listedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "listingAgent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "listingOffice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "listingType": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "lotSize": {
                            "type": "number"
                          },
                          "mlsName": {
                            "type": "string"
                          },
                          "mlsNumber": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "propertyType": {
                            "type": "string"
                          },
                          "removedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "squareFootage": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateFips": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "number"
                          },
                          "zipCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/get-value-estimate": {
      "get": {
        "operationId": "rentCast.get-value-estimate",
        "summary": "Get Value Estimate",
        "description": "Retrieves a property value estimate from RentCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/get-value-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "The full property address in the format Street, City, State, Zip.",
            "schema": {
              "type": "string",
              "description": "The full property address in the format Street, City, State, Zip."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude of the subject property when using coordinates instead of a full address.",
            "schema": {
              "type": "number",
              "description": "Latitude of the subject property when using coordinates instead of a full address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude of the subject property when using coordinates instead of a full address.",
            "schema": {
              "type": "number",
              "description": "Longitude of the subject property when using coordinates instead of a full address.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "required": false,
            "description": "The subject property type.",
            "schema": {
              "type": "string",
              "description": "The subject property type.",
              "enum": [
                "Apartment",
                "Condo",
                "Land",
                "Manufactured",
                "Multi-Family",
                "Single Family",
                "Townhouse"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bedrooms",
            "in": "query",
            "required": false,
            "description": "The number of bedrooms in the subject property.",
            "schema": {
              "type": "number",
              "description": "The number of bedrooms in the subject property.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bathrooms",
            "in": "query",
            "required": false,
            "description": "The number of bathrooms in the subject property.",
            "schema": {
              "type": "number",
              "description": "The number of bathrooms in the subject property.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "squareFootage",
            "in": "query",
            "required": false,
            "description": "The total living area size of the subject property in square feet.",
            "schema": {
              "type": "number",
              "description": "The total living area size of the subject property in square feet.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "maxRadius",
            "in": "query",
            "required": false,
            "description": "The maximum distance in miles between comparable listings and the subject property.",
            "schema": {
              "type": "number",
              "description": "The maximum distance in miles between comparable listings and the subject property.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "daysOld",
            "in": "query",
            "required": false,
            "description": "The maximum number of days since comparable listings were last seen on the market.",
            "schema": {
              "type": "number",
              "description": "The maximum number of days since comparable listings were last seen on the market.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "compCount",
            "in": "query",
            "required": false,
            "description": "The number of comparable listings to use when calculating the estimate.",
            "schema": {
              "type": "number",
              "description": "The number of comparable listings to use when calculating the estimate.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lookupSubjectAttributes",
            "in": "query",
            "required": false,
            "description": "When enabled, RentCast attempts to look up subject property attributes to find more relevant comps.",
            "schema": {
              "type": "boolean",
              "description": "When enabled, RentCast attempts to look up subject property attributes to find more relevant comps.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comparables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "priceRangeHigh": {
                            "type": "number"
                          },
                          "priceRangeLow": {
                            "type": "number"
                          },
                          "subjectProperty": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/list-random-property-records": {
      "get": {
        "operationId": "rentCast.list-random-property-records",
        "summary": "List Random Property Records",
        "description": "Retrieves random property records from RentCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/list-random-property-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressLine2": {
                            "type": "string"
                          },
                          "assessorID": {
                            "type": "string"
                          },
                          "bathrooms": {
                            "type": "number"
                          },
                          "bedrooms": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyFips": {
                            "type": "string"
                          },
                          "features": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSaleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "legalDescription": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "lotSize": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerOccupied": {
                            "type": "boolean"
                          },
                          "propertyTaxes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyType": {
                            "type": "string"
                          },
                          "squareFootage": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateFips": {
                            "type": "string"
                          },
                          "subdivision": {
                            "type": "string"
                          },
                          "taxAssessments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "yearBuilt": {
                            "type": "number"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "zoning": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/search-property-records": {
      "get": {
        "operationId": "rentCast.search-property-records",
        "summary": "Search Property Records",
        "description": "Finds property records in RentCast by address or area.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/search-property-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name used to search for property records in a specific city.",
            "schema": {
              "type": "string",
              "description": "City name used to search for property records in a specific city."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Two-character state abbreviation used to search for property records in a specific state.",
            "schema": {
              "type": "string",
              "description": "Two-character state abbreviation used to search for property records in a specific state."
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Full street address used to search for a specific property or a circular area when paired with radius.",
            "schema": {
              "type": "string",
              "description": "Full street address used to search for a specific property or a circular area when paired with radius.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": false,
            "description": "5-digit zip code used to search for property records in a specific area.",
            "schema": {
              "type": "string",
              "description": "5-digit zip code used to search for property records in a specific area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude of the circular search area when searching by coordinates.",
            "schema": {
              "type": "number",
              "description": "Latitude of the circular search area when searching by coordinates.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude of the circular search area when searching by coordinates.",
            "schema": {
              "type": "number",
              "description": "Longitude of the circular search area when searching by coordinates.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Radius in miles used with address or coordinates to search within a circular area.",
            "schema": {
              "type": "number",
              "description": "Radius in miles used with address or coordinates to search within a circular area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeTotalCount",
            "in": "query",
            "required": false,
            "description": "When enabled, RentCast returns the total number of matching property records in the X-Total-Count response header.",
            "schema": {
              "type": "boolean",
              "description": "When enabled, RentCast returns the total number of matching property records in the X-Total-Count response header.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressLine2": {
                            "type": "string"
                          },
                          "assessorID": {
                            "type": "string"
                          },
                          "bathrooms": {
                            "type": "number"
                          },
                          "bedrooms": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyFips": {
                            "type": "string"
                          },
                          "features": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSaleDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "legalDescription": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "lotSize": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerOccupied": {
                            "type": "boolean"
                          },
                          "propertyTaxes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "propertyType": {
                            "type": "string"
                          },
                          "squareFootage": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateFips": {
                            "type": "string"
                          },
                          "subdivision": {
                            "type": "string"
                          },
                          "taxAssessments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "yearBuilt": {
                            "type": "number"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "zoning": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/search-rental-listings": {
      "get": {
        "operationId": "rentCast.search-rental-listings",
        "summary": "Search Rental Listings",
        "description": "Finds rental listings in RentCast by address or area.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/search-rental-listings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "The city to search for rental listings in.",
            "schema": {
              "type": "string",
              "description": "The city to search for rental listings in."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "The 2-letter state abbreviation used with city to search for rental listings.",
            "schema": {
              "type": "string",
              "description": "The 2-letter state abbreviation used with city to search for rental listings."
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "A full street address, optionally combined with radius to search nearby rental listings.",
            "schema": {
              "type": "string",
              "description": "A full street address, optionally combined with radius to search nearby rental listings.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": false,
            "description": "The 5-digit zip code used to search for rental listings in a specific area.",
            "schema": {
              "type": "string",
              "description": "The 5-digit zip code used to search for rental listings in a specific area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude of the circular search area when searching by coordinates.",
            "schema": {
              "type": "number",
              "description": "Latitude of the circular search area when searching by coordinates.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude of the circular search area when searching by coordinates.",
            "schema": {
              "type": "number",
              "description": "Longitude of the circular search area when searching by coordinates.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Radius in miles used with address or coordinates to search within a circular area.",
            "schema": {
              "type": "number",
              "description": "Radius in miles used with address or coordinates to search within a circular area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "The listing status to match.",
            "schema": {
              "type": "string",
              "description": "The listing status to match.",
              "enum": [
                "Active",
                "Inactive"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "includeTotalCount",
            "in": "query",
            "required": false,
            "description": "When enabled, RentCast returns the total number of matching rental listings in the X-Total-Count response header.",
            "schema": {
              "type": "boolean",
              "description": "When enabled, RentCast returns the total number of matching rental listings in the X-Total-Count response header.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string"
                          },
                          "addressLine2": {
                            "type": "string"
                          },
                          "bathrooms": {
                            "type": "number"
                          },
                          "bedrooms": {
                            "type": "number"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "countyFips": {
                            "type": "string"
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "daysOnMarket": {
                            "type": "number"
                          },
                          "formattedAddress": {
                            "type": "string"
                          },
                          "history": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastSeenDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "listedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "listingAgent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "listingOffice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "listingType": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "lotSize": {
                            "type": "number"
                          },
                          "mlsName": {
                            "type": "string"
                          },
                          "mlsNumber": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "propertyType": {
                            "type": "string"
                          },
                          "removedDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "squareFootage": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stateFips": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "yearBuilt": {
                            "type": "number"
                          },
                          "zipCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rentCast/latest/actions/search-sale-listings": {
      "get": {
        "operationId": "rentCast.search-sale-listings",
        "summary": "Search Sale Listings",
        "description": "Finds sale listings in RentCast by address or area.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rentCast/latest/actions/search-sale-listings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name used to search for sale listings in a specific city.",
            "schema": {
              "type": "string",
              "description": "City name used to search for sale listings in a specific city."
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Two-character state abbreviation used to search for sale listings in a specific state.",
            "schema": {
              "type": "string",
              "description": "Two-character state abbreviation used to search for sale listings in a specific state."
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Full street address used to search for a specific property or a circular area when paired with radius.",
            "schema": {
              "type": "string",
              "description": "Full street address used to search for a specific property or a circular area when paired with radius.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": false,
            "description": "5-digit zip code used to search for listings in a specific area.",
            "schema": {
              "type": "string",
              "description": "5-digit zip code used to search for listings in a specific area.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude of the circular search area when searching by coordinates.",
            "schema": {
              "type": "number",
              "description": "Latitude of the circular search area when searching by coordinates.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "longitude",
[...]
