{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Encodian - Sign Universal API",
    "version": "0.1.1",
    "description": "Send documents for signature using Encodian Sign."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/encodianSign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/encodianSign/latest/actions/create-trigr-webhook-subscription": {
      "post": {
        "operationId": "encodianSign.create-trigr-webhook-subscription",
        "summary": "Create Trigr Webhook Subscription",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianSign/latest/actions/create-trigr-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "callbackUrl",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "Webhook callback URL that Encodian Trigr should call."
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the Encodian Trigr webhook subscription."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the Trigr webhook subscription purpose."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code for the response."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message for the response."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether webhook subscription management succeeded."
                          },
                          "tenantWebHookId": {
                            "type": "number",
                            "description": "ID of the webhook subscription."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianSign/latest/actions/delete-trigr-webhook-subscription": {
      "delete": {
        "operationId": "encodianSign.delete-trigr-webhook-subscription",
        "summary": "Delete Trigr Webhook Subscription",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianSign/latest/actions/delete-trigr-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantWebHookId",
            "in": "query",
            "required": true,
            "description": "ID of the Encodian Trigr webhook subscription to delete.",
            "schema": {
              "type": "number",
              "description": "ID of the Encodian Trigr webhook subscription to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianSign/latest/actions/get-trigr-subscription-status": {
      "get": {
        "operationId": "encodianSign.get-trigr-subscription-status",
        "summary": "Get Trigr Subscription Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianSign/latest/actions/get-trigr-subscription-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availableActionsMonth": {
                            "type": "number",
                            "description": "Number of triggers remaining for the current calendar month."
                          },
                          "availableActionsMonthDec": {
                            "type": "number",
                            "description": "Decimal trigger availability value."
                          },
                          "billingInterval": {
                            "type": "string",
                            "description": "Billing interval."
                          },
                          "Errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "expiryDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subscription expiry date and time."
                          },
                          "HttpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code."
                          },
                          "HttpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message."
                          },
                          "monthlyActions": {
                            "type": "number",
                            "description": "Allowed triggers per month."
                          },
                          "OperationId": {
                            "type": "string",
                            "description": "Unique operation identifier."
                          },
                          "OperationStatus": {
                            "type": "string",
                            "description": "Operation status."
                          },
                          "subscriptionEnabled": {
                            "type": "boolean",
                            "description": "Whether the Encodian subscription is enabled."
                          },
                          "subscriptionLevel": {
                            "type": "string",
                            "description": "Current Encodian subscription level."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/encodianSign/latest/actions/sign-send-file-for-signature": {
      "post": {
        "operationId": "encodianSign.sign-send-file-for-signature",
        "summary": "Sign - Send File For Signature",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/encodianSign/latest/actions/sign-send-file-for-signature"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "sender",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Set the name of the envelope."
                  },
                  "sender": {
                    "type": "string",
                    "description": "Email address of the licensed sender for the workspace."
                  },
                  "file": {
                    "type": "string",
                    "description": "Base64-encoded file content to submit for signature."
                  },
                  "message": {
                    "type": "string",
                    "description": "Message to share with recipients."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Optional filename for the submitted file.",
                    "x-mindcloud-advanced": true
                  },
                  "labels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Labels to assign to the envelope.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time the envelope was created."
                          },
                          "envelopeId": {
                            "type": "string",
                            "description": "The unique identifier for the envelope."
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Errors returned by Encodian."
                          },
                          "httpStatusCode": {
                            "type": "number",
                            "description": "HTTP status code for the response."
                          },
                          "httpStatusMessage": {
                            "type": "string",
                            "description": "HTTP status message for the response."
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Labels assigned to the envelope."
                          },
                          "message": {
                            "type": "string",
                            "description": "Message shared with recipients."
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date and time the envelope was modified."
                          },
                          "operationId": {
                            "type": "string",
                            "description": "Unique operation identifier."
                          },
                          "operationStatus": {
                            "type": "string",
                            "description": "Operation status."
                          },
                          "status": {
                            "type": "string",
                            "description": "Envelope status."
                          },
                          "title": {
                            "type": "string",
                            "description": "Envelope title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
