{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ventrata Universal API",
    "version": "0.0.5",
    "description": "Manage Ventrata OCTO suppliers, products, availability, bookings, and orders from the public reseller API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ventrata/latest/actions/cancel-booking": {
      "delete": {
        "operationId": "ventrata.cancel-booking",
        "summary": "Cancel Booking",
        "description": "Cancels an existing booking in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/cancel-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "description": "Booking UUID from Ventrata.",
            "schema": {
              "type": "string",
              "description": "Booking UUID from Ventrata."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "availability": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "availabilityId": {
                            "type": "string"
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "cancellation": {
                            "type": "object",
                            "properties": {
                              "reason": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "string"
                              },
                              "utcCancelledAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "localDateTimeEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localDateTimeStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "option": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderReference": {
                            "type": "string"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "internalName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "productId": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "reseller": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resellerReference": {
                            "type": "string"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "unitItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "unitId": {
                                  "type": "string"
                                },
                                "unitType": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/confirm-booking": {
      "put": {
        "operationId": "ventrata.confirm-booking",
        "summary": "Confirm Booking",
        "description": "Confirms an existing booking in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/confirm-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "uuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "Booking UUID from Ventrata."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "availability": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "availabilityId": {
                            "type": "string"
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "cancellation": {
                            "type": "object",
                            "properties": {
                              "reason": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "string"
                              },
                              "utcCancelledAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "localDateTimeEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localDateTimeStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "option": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderReference": {
                            "type": "string"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "internalName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "productId": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "reseller": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resellerReference": {
                            "type": "string"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "unitItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "unitId": {
                                  "type": "string"
                                },
                                "unitType": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/confirm-order": {
      "put": {
        "operationId": "ventrata.confirm-order",
        "summary": "Confirm Order",
        "description": "Confirms an existing order in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/confirm-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Order identifier from Ventrata."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "bookings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "orderId": {
                                  "type": "string"
                                },
                                "orderReference": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoicePdfUrl": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "settlementMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/create-and-confirm-booking": {
      "post": {
        "operationId": "ventrata.create-and-confirm-booking",
        "summary": "Create and Confirm Booking",
        "description": "Creates and confirms a booking in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/create-and-confirm-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "availability": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "availabilityId": {
                            "type": "string"
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "cancellation": {
                            "type": "object",
                            "properties": {
                              "reason": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "string"
                              },
                              "utcCancelledAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "localDateTimeEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localDateTimeStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "option": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderReference": {
                            "type": "string"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "internalName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "productId": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "reseller": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resellerReference": {
                            "type": "string"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "unitItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "unitId": {
                                  "type": "string"
                                },
                                "unitType": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/create-booking": {
      "post": {
        "operationId": "ventrata.create-booking",
        "summary": "Create Booking",
        "description": "Creates a new booking in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/create-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "availability": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "availabilityId": {
                            "type": "string"
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "cancellation": {
                            "type": "object",
                            "properties": {
                              "reason": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "string"
                              },
                              "utcCancelledAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "localDateTimeEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localDateTimeStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "option": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderReference": {
                            "type": "string"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "internalName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "productId": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "reseller": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resellerReference": {
                            "type": "string"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "unitItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "unitId": {
                                  "type": "string"
                                },
                                "unitType": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/create-order": {
      "post": {
        "operationId": "ventrata.create-order",
        "summary": "Create Order",
        "description": "Creates a new order in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "bookings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "orderId": {
                                  "type": "string"
                                },
                                "orderReference": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoicePdfUrl": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "settlementMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/delete-order": {
      "delete": {
        "operationId": "ventrata.delete-order",
        "summary": "Delete Order",
        "description": "Deletes an existing order from Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/delete-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Order identifier from Ventrata.",
            "schema": {
              "type": "string",
              "description": "Order identifier from Ventrata."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "bookings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "orderId": {
                                  "type": "string"
                                },
                                "orderReference": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoicePdfUrl": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "settlementMethods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/extend-reservation": {
      "put": {
        "operationId": "ventrata.extend-reservation",
        "summary": "Extend Reservation",
        "description": "Extends an existing reservation in Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/extend-reservation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "uuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "Booking UUID from Ventrata."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "availability": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "availabilityId": {
                            "type": "string"
                          },
                          "cancellable": {
                            "type": "boolean"
                          },
                          "cancellation": {
                            "type": "object",
                            "properties": {
                              "reason": {
                                "type": "string"
                              },
                              "refund": {
                                "type": "string"
                              },
                              "utcCancelledAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "confirmable": {
                            "type": "boolean"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "emailReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "localDateTimeEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localDateTimeStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "option": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "optionId": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderReference": {
                            "type": "string"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "internalName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "productId": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "boolean"
                          },
                          "reseller": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resellerReference": {
                            "type": "string"
                          },
                          "settlementMethod": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierReference": {
                            "type": "string"
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "unitItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "unitId": {
                                  "type": "string"
                                },
                                "unitType": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "updatable": {
                            "type": "boolean"
                          },
                          "utcConfirmedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcCreatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcExpiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "utcUpdatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "voucher": {
                            "type": "object",
                            "properties": {
                              "redemptionMethod": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ventrata/latest/actions/get-availability": {
      "get": {
        "operationId": "ventrata.get-availability",
        "summary": "Get Availability",
        "description": "Retrieves availability from Ventrata.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ventrata/latest/actions/get-availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allDay": {
                            "type": "boolean"
                          },
                          "available": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "limitPaxCount": {
                            "type": "number"
                          },
                          "localDateTimeEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "localDateTimeStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "noShows": {
                            "type": "number"
[...]
