{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Short URL Universal API",
    "version": "0.0.4",
    "description": "Create, list, update, and delete Short URL App links across the official Short URL domains."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shortURL/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shortURL/latest/actions/create-short-url": {
      "post": {
        "operationId": "shortURL.create-short-url",
        "summary": "Create Short URL",
        "description": "Creates a new short URL in Short URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortURL/latest/actions/create-short-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseDomain",
                  "longUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseDomain": {
                    "type": "string",
                    "description": "Short URL domain to use for this request.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ],
                    "default": "surl.link"
                  },
                  "longUrl": {
                    "type": "string",
                    "description": "Destination URL to redirect to."
                  },
                  "shortUrl": {
                    "type": "string",
                    "description": "Optional custom short URL code."
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "Optional creator identifier.",
                    "x-mindcloud-advanced": true
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional short URL description."
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional expiration date in YYYY-MM-DD format.",
                    "x-mindcloud-advanced": true
                  },
                  "password": {
                    "type": "string",
                    "description": "Optional access password.",
                    "x-mindcloud-advanced": true
                  },
                  "maxUses": {
                    "type": "number",
                    "description": "Optional maximum number of uses.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Additional provider data."
                          },
                          "response": {
                            "type": "string",
                            "description": "Provider response message."
                          },
                          "responseCode": {
                            "type": "string",
                            "description": "Provider response code."
                          },
                          "shortUrl": {
                            "type": "string",
                            "description": "Created short URL code or full short URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortURL/latest/actions/delete-short-url": {
      "delete": {
        "operationId": "shortURL.delete-short-url",
        "summary": "Delete Short URL",
        "description": "Deletes an existing short URL from Short URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortURL/latest/actions/delete-short-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseDomain",
            "in": "query",
            "required": true,
            "description": "Short URL domain to use for this request.",
            "schema": {
              "type": "string",
              "description": "Short URL domain to use for this request.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ],
              "default": "surl.link"
            }
          },
          {
            "name": "shortUrl",
            "in": "query",
            "required": true,
            "description": "Short URL code to delete.",
            "schema": {
              "type": "string",
              "description": "Short URL code to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Additional provider data."
                          },
                          "response": {
                            "type": "string",
                            "description": "Provider response message."
                          },
                          "responseCode": {
                            "type": "string",
                            "description": "Provider response code."
                          },
                          "shortUrl": {
                            "type": "string",
                            "description": "Deleted short URL code or full short URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortURL/latest/actions/get-account-info": {
      "get": {
        "operationId": "shortURL.get-account-info",
        "summary": "Get Account Info",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortURL/latest/actions/get-account-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseDomain",
            "in": "query",
            "required": true,
            "description": "Short URL domain to use for this request.",
            "schema": {
              "type": "string",
              "description": "Short URL domain to use for this request.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ],
              "default": "surl.link"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Additional provider data."
                          },
                          "isPaid": {
                            "type": "string",
                            "description": "Account paid status when returned."
                          },
                          "remainingUrls": {
                            "type": "string",
                            "description": "Remaining URL allowance when returned."
                          },
                          "response": {
                            "type": "string",
                            "description": "Provider response message."
                          },
                          "responseCode": {
                            "type": "string",
                            "description": "Provider response code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortURL/latest/actions/list-short-urls": {
      "get": {
        "operationId": "shortURL.list-short-urls",
        "summary": "List Short URLs",
        "description": "Retrieves short URLs from Short URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortURL/latest/actions/list-short-urls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseDomain",
            "in": "query",
            "required": true,
            "description": "Short URL domain to use for this request.",
            "schema": {
              "type": "string",
              "description": "Short URL domain to use for this request.",
              "enum": [
                "0",
                "1",
                "2",
                "3"
              ],
              "default": "surl.link"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": false,
            "description": "Optional creator filter.",
            "schema": {
              "type": "string",
              "description": "Optional creator filter.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdBy": {
                            "type": "string",
                            "description": "Creator identifier."
                          },
                          "createdDate": {
                            "type": "string",
                            "description": "Created date."
                          },
                          "description": {
                            "type": "string",
                            "description": "Short URL description."
                          },
                          "expiryDate": {
                            "type": "string",
                            "description": "Expiration date."
                          },
                          "hasPassword": {
                            "type": "string",
                            "description": "Password protection status."
                          },
                          "lastAccessed": {
                            "type": "string",
                            "description": "Last access timestamp."
                          },
                          "longUrl": {
                            "type": "string",
                            "description": "Destination URL."
                          },
                          "shortUrl": {
                            "type": "string",
                            "description": "Short URL code or full short URL."
                          },
                          "status": {
                            "type": "string",
                            "description": "Short URL status."
                          },
                          "totalUses": {
                            "type": "string",
                            "description": "Maximum or total allowed uses."
                          },
                          "totalVisits": {
                            "type": "string",
                            "description": "Total visits."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shortURL/latest/actions/update-short-url": {
      "put": {
        "operationId": "shortURL.update-short-url",
        "summary": "Update Short URL",
        "description": "Updates an existing short URL in Short URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shortURL/latest/actions/update-short-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "baseDomain",
                  "shortUrl",
                  "newLongUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "baseDomain": {
                    "type": "string",
                    "description": "Short URL domain to use for this request.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3"
                    ],
                    "default": "surl.link"
                  },
                  "shortUrl": {
                    "type": "string",
                    "description": "Short URL code to update."
                  },
                  "newLongUrl": {
                    "type": "string",
                    "description": "Updated destination URL."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional updated description."
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional expiration date in YYYY-MM-DD format.",
                    "x-mindcloud-advanced": true
                  },
                  "password": {
                    "type": "string",
                    "description": "Optional updated access password.",
                    "x-mindcloud-advanced": true
                  },
                  "maxUses": {
                    "type": "number",
                    "description": "Optional maximum number of uses.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
                            "description": "Additional provider data."
                          },
                          "response": {
                            "type": "string",
                            "description": "Provider response message."
                          },
                          "responseCode": {
                            "type": "string",
                            "description": "Provider response code."
                          },
                          "shortUrl": {
                            "type": "string",
                            "description": "Updated short URL code or full short URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
