{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Hamsa Universal API",
    "version": "0.0.2",
    "description": "Build and manage AI voice agents for phone and web"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/hamsa/latest/actions/assign-phone-number-to-voice-agent": {
      "post": {
        "operationId": "hamsa.assign-phone-number-to-voice-agent",
        "summary": "Assign Phone Number to Voice Agent",
        "description": "Assigns a phone number to a Hamsa voice agent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/assign-phone-number-to-voice-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "phoneNumber",
                  "voiceAgentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "voiceAgentId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "voiceAgentId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/assign-twilio-number-to-voice-agent": {
      "post": {
        "operationId": "hamsa.assign-twilio-number-to-voice-agent",
        "summary": "Assign Twilio Number to Voice Agent",
        "description": "Assigns a Twilio number to a Hamsa voice agent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/assign-twilio-number-to-voice-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "twilioPhoneNumber",
                  "voiceAgentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "twilioPhoneNumber": {
                    "type": "string"
                  },
                  "voiceAgentId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "numberSid": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "voiceAgentId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/call-voice-agent-via-twilio": {
      "post": {
        "operationId": "hamsa.call-voice-agent-via-twilio",
        "summary": "Call Voice Agent via Twilio",
        "description": "Starts a Twilio call to a Hamsa voice agent.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/call-voice-agent-via-twilio"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "toNumber",
                  "twilioPhoneNumber",
                  "voiceAgentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agentDetails": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "toNumber": {
                    "type": "string"
                  },
                  "twilioPhoneNumber": {
                    "type": "string"
                  },
                  "voiceAgentId": {
                    "type": "string"
                  },
                  "webhookAuth": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiKeyId": {
                            "type": "string"
                          },
                          "billingId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "jobResponse": {
                            "type": "object",
                            "properties": {
                              "agentDetails": {
                                "type": "object",
                                "properties": {
                                  "agentName": {
                                    "type": "string"
                                  },
                                  "apiKeyId": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "greetingMessage": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "interrupt": {
                                    "type": "boolean"
                                  },
                                  "lang": {
                                    "type": "string"
                                  },
                                  "outcome": {
                                    "type": "string"
                                  },
                                  "preamble": {
                                    "type": "string"
                                  },
                                  "projectId": {
                                    "type": "string"
                                  },
                                  "realTime": {
                                    "type": "boolean"
                                  },
                                  "silenceThreshold": {
                                    "type": "number"
                                  },
                                  "tools": {
                                    "type": "object",
                                    "properties": {
                                      "accessToken": {
                                        "type": "string"
                                      },
                                      "calendarId": {
                                        "type": "string"
                                      },
                                      "calendarName": {
                                        "type": "string"
                                      },
                                      "eventTitle": {
                                        "type": "string"
                                      },
                                      "meetingDuration": {
                                        "type": "number"
                                      },
                                      "refreshToken": {
                                        "type": "string"
                                      },
                                      "timezone": {
                                        "type": "string"
                                      },
                                      "voiceAgentToolsId": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "voiceRecord": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "language": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "provider": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "voiceRecordId": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "callParams": {
                                "type": "object",
                                "properties": {
                                  "machineNumber": {
                                    "type": "string"
                                  },
                                  "userNumber": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "text": {
                                "type": "string"
                              },
                              "ttsMediaFile": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mediaUrl": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "processingType": {
                            "type": "string"
                          },
                          "relevantJobId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "systemModelKey": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalCost": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "usageTime": {
                            "type": "string"
                          },
                          "voiceAgentId": {
                            "type": "string"
                          },
                          "webhookUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/clone-voice-agent": {
      "post": {
        "operationId": "hamsa.clone-voice-agent",
        "summary": "Clone Voice Agent",
        "description": "Clones a voice agent in Hamsa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/clone-voice-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "agentName",
                  "voiceAgentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agentName": {
                    "type": "string"
                  },
                  "voiceAgentId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenticRag": {
                            "type": "boolean"
                          },
                          "agentName": {
                            "type": "string"
                          },
                          "alignment": {
                            "type": "object",
                            "properties": {
                              "greetingMessage": {
                                "type": "string"
                              },
                              "preamble": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "apiKeyId": {
                            "type": "string"
                          },
                          "backgroundNoise": {
                            "type": "boolean"
                          },
                          "cancelNoisePer": {
                            "type": "string"
                          },
                          "collectionId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enableAutoGainControl": {
                            "type": "boolean"
                          },
                          "greetingMessage": {
                            "type": "string"
                          },
                          "greetingMessageType": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "interrupt": {
                            "type": "boolean"
                          },
                          "isTemplate": {
                            "type": "boolean"
                          },
                          "knowledgeBaseItemsIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "lang": {
                            "type": "string"
                          },
                          "languageDialectSwitcher": {
                            "type": "boolean"
                          },
                          "llmConfig": {
                            "type": "object",
                            "properties": {
                              "apiKey": {
                                "type": "string"
                              },
                              "baseUrl": {
                                "type": "string"
                              },
                              "modelName": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "temperature": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "maxCallDuration": {
                            "type": "number"
                          },
                          "minInterruptionDuration": {
                            "type": "number"
                          },
                          "noiseCancellation": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "outcomeResponseShape": {
                            "type": "object",
                            "properties": {
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "test": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pokeMessages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "preamble": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "realTime": {
                            "type": "boolean"
                          },
                          "responseDelay": {
                            "type": "number"
                          },
                          "sendDenoisedToStt": {
                            "type": "boolean"
                          },
                          "silenceThreshold": {
                            "type": "number"
                          },
                          "speakerIdentification": {
                            "type": "boolean"
                          },
                          "thinkingVoice": {
                            "type": "boolean"
                          },
                          "tools": {
                            "type": "object",
                            "properties": {
                              "genderDetection": {
                                "type": "boolean"
                              },
                              "smartCallEnd": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userInactivityTimeout": {
                            "type": "number"
                          },
                          "vadActivationThreshold": {
                            "type": "number"
                          },
                          "voiceDictionaryIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "voiceId": {
                            "type": "string"
                          },
                          "voiceRecordId": {
                            "type": "string"
                          },
                          "waitForUserToSpeakFirst": {
                            "type": "number"
                          },
                          "webhookAuth": {
                            "type": "object",
                            "properties": {
                              "authKey": {
                                "type": "string"
                              },
                              "authSecret": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "webhookUrl": {
                            "type": "string"
                          },
                          "webToolsIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/create-ai-content": {
      "post": {
        "operationId": "hamsa.create-ai-content",
        "summary": "Create AI Content",
        "description": "Creates AI content in Hamsa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/create-ai-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "aiParts[]",
                  "jobId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "aiParts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "jobId": {
                    "type": "string"
                  },
                  "webhookAuth": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiKeyId": {
                            "type": "string"
                          },
                          "billingId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "jobResponse": {
                            "type": "object",
                            "properties": {
                              "facebookPost": {
                                "type": "string"
                              },
                              "faq": {
                                "type": "string"
                              },
                              "introduction": {
                                "type": "string"
                              },
                              "keyTopicsWithBullets": {
                                "type": "string"
                              },
                              "keywords": {
                                "type": "string"
                              },
                              "linkedInPost": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "threadsByInstagram": {
                                "type": "string"
                              },
                              "titles": {
                                "type": "string"
                              },
                              "transcriptionJobId": {
                                "type": "string"
                              },
                              "twitterThread": {
                                "type": "string"
                              },
                              "webArticleSEOFriendly": {
                                "type": "string"
                              },
                              "youtubeDescription": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mediaUrl": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "processingType": {
                            "type": "string"
                          },
                          "relevantJobId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "systemModelKey": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalCost": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "usageTime": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "webhookUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/create-customized-ai-content": {
      "post": {
        "operationId": "hamsa.create-customized-ai-content",
        "summary": "Create Customized AI Content",
        "description": "Creates customized AI content in Hamsa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/create-customized-ai-content"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "aiParts[]",
                  "aiParts[].aiPart",
                  "aiParts[].language",
                  "aiParts[].prompt",
                  "jobId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "aiParts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "aiParts[].aiPart": {
                    "type": "string"
                  },
                  "aiParts[].language": {
                    "type": "string"
                  },
                  "aiParts[].prompt": {
                    "type": "string"
                  },
                  "jobId": {
                    "type": "string"
                  },
                  "webhookAuth": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "webhookUrl": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiKeyId": {
                            "type": "string"
                          },
                          "billingId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "jobResponse": {
                            "type": "object",
                            "properties": {
                              "facebookPost": {
                                "type": "string"
                              },
                              "faq": {
                                "type": "string"
                              },
                              "introduction": {
                                "type": "string"
                              },
                              "keyTopicsWithBullets": {
                                "type": "string"
                              },
                              "keywords": {
                                "type": "string"
                              },
                              "linkedInPost": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "threadsByInstagram": {
                                "type": "string"
                              },
                              "titles": {
                                "type": "string"
                              },
                              "transcriptionJobId": {
                                "type": "string"
                              },
                              "twitterThread": {
                                "type": "string"
                              },
                              "webArticleSEOFriendly": {
                                "type": "string"
                              },
                              "youtubeDescription": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "mediaUrl": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "processingType": {
                            "type": "string"
                          },
                          "relevantJobId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "systemModelKey": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalCost": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "usageTime": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "webhookUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/create-voice-agent": {
      "post": {
        "operationId": "hamsa.create-voice-agent",
        "summary": "Create Voice Agent",
        "description": "Creates a new voice agent in Hamsa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/create-voice-agent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "agentName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "agenticRag": {
                    "type": "boolean"
                  },
                  "agentName": {
                    "type": "string"
                  },
                  "alignment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "backgroundNoise": {
                    "type": "boolean"
                  },
                  "cancelNoisePer": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "enableAutoGainControl": {
                    "type": "boolean"
                  },
                  "greetingMessage": {
                    "type": "string"
                  },
                  "greetingMessageType": {
                    "type": "string"
                  },
                  "interrupt": {
                    "type": "boolean"
                  },
                  "knowledgeBaseItemsIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "lang": {
                    "type": "string"
                  },
                  "languageDialectSwitcher": {
                    "type": "boolean"
                  },
                  "llmConfig": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "maxCallDuration": {
                    "type": "number"
                  },
                  "minInterruptionDuration": {
                    "type": "number"
                  },
                  "noiseCancellation": {
                    "type": "string"
                  },
                  "outcome": {
                    "type": "string"
                  },
                  "outcomeResponseShape": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "pokeMessages[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "preamble": {
                    "type": "string"
                  },
                  "realTime": {
                    "type": "boolean"
                  },
                  "responseDelay": {
                    "type": "number"
                  },
                  "sendDenoisedToStt": {
                    "type": "boolean"
                  },
                  "silenceThreshold": {
                    "type": "number"
                  },
                  "speakerIdentification": {
                    "type": "boolean"
                  },
                  "thinkingVoice": {
                    "type": "boolean"
                  },
                  "tools": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "type": {
                    "type": "string"
                  },
                  "userInactivityTimeout": {
                    "type": "number"
                  },
                  "vadActivationThreshold": {
                    "type": "number"
                  },
                  "voiceDictionaryIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "voiceId": {
                    "type": "string"
                  },
                  "waitForUserToSpeakFirst": {
                    "type": "number"
                  },
                  "webhookAuth": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "webhookUrl": {
                    "type": "string"
                  },
                  "webToolsIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "webToolsOverrides": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenticRag": {
                            "type": "boolean"
                          },
                          "agentName": {
                            "type": "string"
                          },
                          "alignment": {
                            "type": "object",
                            "properties": {
                              "greetingMessage": {
                                "type": "string"
                              },
                              "preamble": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "apiKeyId": {
                            "type": "string"
                          },
                          "backgroundNoise": {
                            "type": "boolean"
                          },
                          "cancelNoisePer": {
                            "type": "string"
                          },
                          "collectionId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enableAutoGainControl": {
                            "type": "boolean"
                          },
                          "greetingMessage": {
                            "type": "string"
                          },
                          "greetingMessageType": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "interrupt": {
                            "type": "boolean"
                          },
                          "isTemplate": {
                            "type": "boolean"
                          },
                          "knowledgeBaseItemsIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "lang": {
                            "type": "string"
                          },
                          "languageDialectSwitcher": {
                            "type": "boolean"
                          },
                          "llmConfig": {
                            "type": "object",
                            "properties": {
                              "apiKey": {
                                "type": "string"
                              },
                              "baseUrl": {
                                "type": "string"
                              },
                              "modelName": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "temperature": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "maxCallDuration": {
                            "type": "number"
                          },
                          "minInterruptionDuration": {
                            "type": "number"
                          },
                          "noiseCancellation": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "outcomeResponseShape": {
                            "type": "object",
                            "properties": {
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "test": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      },
                                      "type": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pokeMessages": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "preamble": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "realTime": {
                            "type": "boolean"
                          },
                          "responseDelay": {
                            "type": "number"
                          },
                          "sendDenoisedToStt": {
                            "type": "boolean"
                          },
                          "silenceThreshold": {
                            "type": "number"
                          },
                          "speakerIdentification": {
                            "type": "boolean"
                          },
                          "thinkingVoice": {
                            "type": "boolean"
                          },
                          "tools": {
                            "type": "object",
                            "properties": {
                              "genderDetection": {
                                "type": "boolean"
                              },
                              "smartCallEnd": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userInactivityTimeout": {
                            "type": "number"
                          },
                          "vadActivationThreshold": {
                            "type": "number"
                          },
                          "voiceDictionaryIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "voiceId": {
                            "type": "string"
                          },
                          "voiceRecord": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "image": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "languageCode": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "voiceRecordId": {
                            "type": "string"
                          },
                          "waitForUserToSpeakFirst": {
                            "type": "number"
                          },
                          "webhookAuth": {
                            "type": "object",
                            "properties": {
                              "authKey": {
                                "type": "string"
                              },
                              "authSecret": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "webhookUrl": {
                            "type": "string"
                          },
                          "webToolsIds": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/create-voice-dictionary": {
      "post": {
        "operationId": "hamsa.create-voice-dictionary",
        "summary": "Create Voice Dictionary",
        "description": "Creates a new voice dictionary in Hamsa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/create-voice-dictionary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "words[]",
                  "words[].pronunciation",
                  "words[].word"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "words[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "words[].pronunciation": {
                    "type": "string"
                  },
                  "words[].word": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "words": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "pronunciation": {
                                  "type": "string"
                                },
                                "word": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/hamsa/latest/actions/create-web-tool": {
      "post": {
        "operationId": "hamsa.create-web-tool",
        "summary": "Create Web Tool",
        "description": "Creates a new web tool in Hamsa.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/hamsa/latest/actions/create-web-tool"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "async",
                  "description",
                  "messages[]",
                  "messages[].content",
                  "messages[].type",
                  "name",
                  "params",
                  "toolSettings",
                  "toolSettings.methodType",
                  "toolSettings.serverUrl",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "async": {
                    "type": "boolean"
                  },
                  "collectionId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "messages[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "messages[].content": {
                    "type": "string"
                  },
                  "messages[].type": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "toolSettings": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "toolSettings.authToken": {
                    "type": "string"
                  },
                  "toolSettings.httpHeaders": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "toolSettings.methodType": {
                    "type": "string"
                  },
                  "toolSettings.pathParameters": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "toolSettings.serverUrl": {
                    "type": "string"
                  },
                  "toolSettings.timeout": {
                    "type": "number"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "async": {
                            "type": "boolean"
                          },
                          "collectionId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "params": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "persistentId": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "toolSettings": {
                            "type": "object",
                            "properties": {
                              "authToken": {
                                "type": "string"
                              },
                              "httpHeaders": {
                                "type": "object",
                                "properties": {
                                  "Authorization": {
                                    "type": "string"
                                  },
                                  "Content-Type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "methodType": {
                                "type": "string"
                              },
                              "pathParameters": {
                                "type": "object",
                                "properties": {
                                  "userId": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "serverUrl": {
                                "type": "string"
                              },
                              "timeout": {
[...]
