{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Owen Wilson Wow API Universal API",
    "version": "0.0.1",
    "description": "Retrieve Owen Wilson wow records, chronological selections, and movie/director lists from the public API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/owenWilsonWowAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/owenWilsonWowAPI/latest/actions/get-ordered-wow": {
      "get": {
        "operationId": "owenWilsonWowAPI.get-ordered-wow",
        "summary": "Get Ordered Wow",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/owenWilsonWowAPI/latest/actions/get-ordered-wow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "required": true,
            "description": "Chronological wow index.",
            "schema": {
              "type": "number",
              "description": "Chronological wow index."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "audio": {
                            "type": "string",
                            "description": "Audio URL."
                          },
                          "character": {
                            "type": "string",
                            "description": "Owen Wilson character."
                          },
                          "current_wow_in_movie": {
                            "type": "number",
                            "description": "Wow occurrence in the movie."
                          },
                          "director": {
                            "type": "string",
                            "description": "Movie director."
                          },
                          "full_line": {
                            "type": "string",
                            "description": "Full quoted line."
                          },
                          "movie": {
                            "type": "string",
                            "description": "Movie title."
                          },
                          "movie_duration": {
                            "type": "string",
                            "description": "Movie duration."
                          },
                          "poster": {
                            "type": "string",
                            "description": "Movie poster URL."
                          },
                          "release_date": {
                            "type": "string",
                            "description": "Movie release date."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "Wow timestamp."
                          },
                          "total_wows_in_movie": {
                            "type": "number",
                            "description": "Total wows in the movie."
                          },
                          "video": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Video URLs by resolution."
                          },
                          "year": {
                            "type": "number",
                            "description": "Release year."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/owenWilsonWowAPI/latest/actions/get-ordered-wow-range": {
      "get": {
        "operationId": "owenWilsonWowAPI.get-ordered-wow-range",
        "summary": "Get Ordered Wow Range",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/owenWilsonWowAPI/latest/actions/get-ordered-wow-range"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "required": true,
            "description": "Inclusive chronological wow index range, for example 3-7.",
            "schema": {
              "type": "string",
              "description": "Inclusive chronological wow index range, for example 3-7."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "audio": {
                                  "type": "string",
                                  "description": "Audio URL."
                                },
                                "character": {
                                  "type": "string",
                                  "description": "Owen Wilson character."
                                },
                                "current_wow_in_movie": {
                                  "type": "number",
                                  "description": "Wow occurrence in the movie."
                                },
                                "director": {
                                  "type": "string",
                                  "description": "Movie director."
                                },
                                "full_line": {
                                  "type": "string",
                                  "description": "Full quoted line."
                                },
                                "movie": {
                                  "type": "string",
                                  "description": "Movie title."
                                },
                                "movie_duration": {
                                  "type": "string",
                                  "description": "Movie duration."
                                },
                                "poster": {
                                  "type": "string",
                                  "description": "Movie poster URL."
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "Movie release date."
                                },
                                "timestamp": {
                                  "type": "string",
                                  "description": "Wow timestamp."
                                },
                                "total_wows_in_movie": {
                                  "type": "number",
                                  "description": "Total wows in the movie."
                                },
                                "video": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Video URLs by resolution."
                                },
                                "year": {
                                  "type": "number",
                                  "description": "Release year."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/owenWilsonWowAPI/latest/actions/get-random-wows": {
      "get": {
        "operationId": "owenWilsonWowAPI.get-random-wows",
        "summary": "Get Random Wows",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/owenWilsonWowAPI/latest/actions/get-random-wows"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "query",
            "required": false,
            "description": "Number of random wow results to retrieve.",
            "schema": {
              "type": "number",
              "description": "Number of random wow results to retrieve."
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Return a random wow from this year.",
            "schema": {
              "type": "number",
              "description": "Return a random wow from this year."
            }
          },
          {
            "name": "movie",
            "in": "query",
            "required": false,
            "description": "Return a random wow from this movie.",
            "schema": {
              "type": "string",
              "description": "Return a random wow from this movie."
            }
          },
          {
            "name": "director",
            "in": "query",
            "required": false,
            "description": "Return a random wow from this director.",
            "schema": {
              "type": "string",
              "description": "Return a random wow from this director."
            }
          },
          {
            "name": "wowInMovie",
            "in": "query",
            "required": false,
            "description": "Return a random wow by its occurrence number in the movie.",
            "schema": {
              "type": "number",
              "description": "Return a random wow by its occurrence number in the movie."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort multiple random results by movie, release_date, year, director, or number_current_wow.",
            "schema": {
              "type": "string",
              "description": "Sort multiple random results by movie, release_date, year, director, or number_current_wow."
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Sort direction: asc or desc.",
            "schema": {
              "type": "string",
              "description": "Sort direction: asc or desc."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "audio": {
                                  "type": "string",
                                  "description": "Audio URL."
                                },
                                "character": {
                                  "type": "string",
                                  "description": "Owen Wilson character."
                                },
                                "current_wow_in_movie": {
                                  "type": "number",
                                  "description": "Wow occurrence in the movie."
                                },
                                "director": {
                                  "type": "string",
                                  "description": "Movie director."
                                },
                                "full_line": {
                                  "type": "string",
                                  "description": "Full quoted line."
                                },
                                "movie": {
                                  "type": "string",
                                  "description": "Movie title."
                                },
                                "movie_duration": {
                                  "type": "string",
                                  "description": "Movie duration."
                                },
                                "poster": {
                                  "type": "string",
                                  "description": "Movie poster URL."
                                },
                                "release_date": {
                                  "type": "string",
                                  "description": "Movie release date."
                                },
                                "timestamp": {
                                  "type": "string",
                                  "description": "Wow timestamp."
                                },
                                "total_wows_in_movie": {
                                  "type": "number",
                                  "description": "Total wows in the movie."
                                },
                                "video": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Video URLs by resolution."
                                },
                                "year": {
                                  "type": "number",
                                  "description": "Release year."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/owenWilsonWowAPI/latest/actions/list-wow-directors": {
      "get": {
        "operationId": "owenWilsonWowAPI.list-wow-directors",
        "summary": "List Wow Directors",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/owenWilsonWowAPI/latest/actions/list-wow-directors"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Directors of movies containing a wow."
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/owenWilsonWowAPI/latest/actions/list-wow-movies": {
      "get": {
        "operationId": "owenWilsonWowAPI.list-wow-movies",
        "summary": "List Wow Movies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/owenWilsonWowAPI/latest/actions/list-wow-movies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Movie titles containing a wow."
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
