{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Twist Universal API",
    "version": "0.0.6",
    "description": "Manage Twist workspaces, channels, threads, and async messages"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/twist/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/twist/latest/actions/archive-channel": {
      "put": {
        "operationId": "twist.archive-channel",
        "summary": "Archive Channel",
        "description": "Archives an existing channel in Twist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/archive-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channelId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "channelId": {
                    "type": "number",
                    "description": "The id of the channel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/create-channel": {
      "post": {
        "operationId": "twist.create-channel",
        "summary": "Create Channel",
        "description": "Creates a new channel in Twist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/create-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "workspaceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the channel."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the new channel."
                  },
                  "public": {
                    "type": "boolean",
                    "description": "If enabled, the channel will be marked as public."
                  },
                  "workspaceId": {
                    "type": "number",
                    "description": "The id of the workspace."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "color": {
                            "type": "number"
                          },
                          "createdTs": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "filters": {
                            "type": "object",
                            "properties": {
                              "filterClosed": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "icon": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isFavorited": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "useDefaultRecipients": {
                            "type": "boolean"
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/create-comment": {
      "post": {
        "operationId": "twist.create-comment",
        "summary": "Create Comment",
        "description": "Creates a new comment in a Twist thread.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "content",
                  "threadId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "attachments": {
                    "type": "string",
                    "description": "JSON-encoded list of attachment objects returned by Upload attachment."
                  },
                  "content": {
                    "type": "string",
                    "description": "The content of the new comment."
                  },
                  "recipients": {
                    "type": "string",
                    "description": "Users to notify."
                  },
                  "sendAsIntegration": {
                    "type": "boolean",
                    "description": "Displays the integration as the comment creator."
                  },
                  "threadAction": {
                    "type": "string",
                    "description": "Can be close or reopen."
                  },
                  "threadId": {
                    "type": "number",
                    "description": "The id of the thread."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channelId": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "objIndex": {
                            "type": "number"
                          },
                          "postedTs": {
                            "type": "string"
                          },
                          "systemMessage": {
                            "type": "object",
                            "properties": {
                              "channelId": {
                                "type": "number"
                              },
                              "channelName": {
                                "type": "string"
                              },
                              "initiator": {
                                "type": "string"
                              },
                              "initiatorId": {
                                "type": "number"
                              },
                              "initiatorName": {
                                "type": "string"
                              },
                              "newTitle": {
                                "type": "string"
                              },
                              "oldTitle": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "threadId": {
                            "type": "number"
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/create-message": {
      "post": {
        "operationId": "twist.create-message",
        "summary": "Create Message",
        "description": "Creates a new message in a Twist conversation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/create-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "content",
                  "conversationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "attachments": {
                    "type": "string",
                    "description": "JSON-encoded list of attachment objects returned by Upload attachment."
                  },
                  "content": {
                    "type": "string",
                    "description": "The content of the new message."
                  },
                  "conversationId": {
                    "type": "number",
                    "description": "The id of the conversation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attachmentId": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "fileSize": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "underlyingType": {
                                  "type": "string"
                                },
                                "uploadState": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                },
                                "urlType": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "content": {
                            "type": "string"
                          },
                          "conversationId": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "objIndex": {
                            "type": "number"
                          },
                          "postedTs": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/create-thread": {
      "post": {
        "operationId": "twist.create-thread",
        "summary": "Create Thread",
        "description": "Creates a new thread in a Twist channel.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/create-thread"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "channelId",
                  "content",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "attachments": {
                    "type": "string",
                    "description": "JSON-encoded list of attachment objects returned by Upload attachment."
                  },
                  "channelId": {
                    "type": "number",
                    "description": "The id of the channel."
                  },
                  "content": {
                    "type": "string",
                    "description": "The content of the new thread."
                  },
                  "recipients": {
                    "type": "string",
                    "description": "Users that will be attached to the thread."
                  },
                  "sendAsIntegration": {
                    "type": "boolean",
                    "description": "Displays the integration as the thread creator."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the new thread."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channelId": {
                            "type": "number"
                          },
                          "closed": {
                            "type": "boolean"
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "inInbox": {
                            "type": "boolean"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isSaved": {
                            "type": "boolean"
                          },
                          "lastComment": {
                            "type": "object",
                            "properties": {
                              "channelId": {
                                "type": "number"
                              },
                              "content": {
                                "type": "string"
                              },
                              "creator": {
                                "type": "number"
                              },
                              "creatorName": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "objIndex": {
                                "type": "number"
                              },
                              "postedTs": {
                                "type": "number"
                              },
                              "systemMessage": {
                                "type": "object",
                                "properties": {
                                  "channelId": {
                                    "type": "number"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "initiator": {
                                    "type": "number"
                                  },
                                  "initiatorId": {
                                    "type": "number"
                                  },
                                  "initiatorName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "threadId": {
                                "type": "number"
                              },
                              "version": {
                                "type": "number"
                              },
                              "workspaceId": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastEditedTs": {
                            "type": "number"
                          },
                          "lastObjIndex": {
                            "type": "number"
                          },
                          "lastUpdatedTs": {
                            "type": "number"
                          },
                          "participants": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "pinned": {
                            "type": "boolean"
                          },
                          "postedTs": {
                            "type": "number"
                          },
                          "responders": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "snippetCreator": {
                            "type": "number"
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/get-channel": {
      "get": {
        "operationId": "twist.get-channel",
        "summary": "Get Channel",
        "description": "Retrieves a channel from Twist by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/get-channel"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "required": true,
            "description": "The id of the channel.",
            "schema": {
              "type": "number",
              "description": "The id of the channel."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "color": {
                            "type": "number"
                          },
                          "createdTs": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "filters": {
                            "type": "object",
                            "properties": {
                              "filterClosed": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "icon": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isFavorited": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "useDefaultRecipients": {
                            "type": "boolean"
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/get-current-user": {
      "get": {
        "operationId": "twist.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current authenticated user from Twist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrls": {
                            "type": "object",
                            "properties": {
                              "s195": {
                                "type": "string"
                              },
                              "s35": {
                                "type": "string"
                              },
                              "s60": {
                                "type": "string"
                              },
                              "s640": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "bot": {
                            "type": "boolean"
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "dateFormat": {
                            "type": "string"
                          },
                          "defaultWorkspace": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "primary": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "featureIdentifier": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "removed": {
                            "type": "boolean"
                          },
                          "restricted": {
                            "type": "boolean"
                          },
                          "scheduledBanners": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "setupPending": {
                            "type": "boolean"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "snoozed": {
                            "type": "boolean"
                          },
                          "theme": {
                            "type": "string"
                          },
                          "timeFormat": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/get-default-workspace": {
      "get": {
        "operationId": "twist.get-default-workspace",
        "summary": "Get Default Workspace",
        "description": "Retrieves the default workspace from Twist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/get-default-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrls": {
                            "type": "object",
                            "properties": {
                              "s195": {
                                "type": "string"
                              },
                              "s35": {
                                "type": "string"
                              },
                              "s60": {
                                "type": "string"
                              },
                              "s640": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "color": {
                            "type": "number"
                          },
                          "createdTs": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "defaultChannel": {
                            "type": "number"
                          },
                          "defaultConversation": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "security": {
                            "type": "object",
                            "properties": {
                              "guestsSupported": {
                                "type": "boolean"
                              },
                              "usersCanInstallIntegrations": {
                                "type": "boolean"
                              },
                              "usersCanInvite": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/get-or-create-conversation": {
      "post": {
        "operationId": "twist.get-or-create-conversation",
        "summary": "Get or Create Conversation",
        "description": "Finds a Twist conversation, or creates one if needed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/get-or-create-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "userIds",
                  "workspaceId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userIds": {
                    "type": "string",
                    "description": "JSON-encoded list of user IDs, for example [10073,10076]."
                  },
                  "workspaceId": {
                    "type": "number",
                    "description": "The id of the workspace."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "createdTs": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastActiveTs": {
                            "type": "string"
                          },
                          "lastMessage": {
                            "type": "object",
                            "properties": {
                              "attachments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "attachmentId": {
                                      "type": "string"
                                    },
                                    "fileName": {
                                      "type": "string"
                                    },
                                    "fileSize": {
                                      "type": "number"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "underlyingType": {
                                      "type": "string"
                                    },
                                    "uploadState": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "urlType": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "content": {
                                "type": "string"
                              },
                              "conversationId": {
                                "type": "number"
                              },
                              "creator": {
                                "type": "number"
                              },
                              "creatorName": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "objIndex": {
                                "type": "number"
                              },
                              "postedTs": {
                                "type": "string"
                              },
                              "version": {
                                "type": "number"
                              },
                              "workspaceId": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastObjIndex": {
                            "type": "number"
                          },
                          "private": {
                            "type": "boolean"
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "snippetCreators": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "userIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/get-thread": {
      "get": {
        "operationId": "twist.get-thread",
        "summary": "Get Thread",
        "description": "Retrieves a thread from Twist by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/get-thread"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "query",
            "required": true,
            "description": "The id of the thread.",
            "schema": {
              "type": "number",
              "description": "The id of the thread."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channelId": {
                            "type": "number"
                          },
                          "closed": {
                            "type": "boolean"
                          },
                          "commentCount": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "id": {
                            "type": "number"
                          },
                          "inInbox": {
                            "type": "boolean"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isSaved": {
                            "type": "boolean"
                          },
                          "lastComment": {
                            "type": "object",
                            "properties": {
                              "channelId": {
                                "type": "number"
                              },
                              "content": {
                                "type": "string"
                              },
                              "creator": {
                                "type": "number"
                              },
                              "creatorName": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "objIndex": {
                                "type": "number"
                              },
                              "postedTs": {
                                "type": "number"
                              },
                              "systemMessage": {
                                "type": "object",
                                "properties": {
                                  "channelId": {
                                    "type": "number"
                                  },
                                  "channelName": {
                                    "type": "string"
                                  },
                                  "initiator": {
                                    "type": "number"
                                  },
                                  "initiatorId": {
                                    "type": "number"
                                  },
                                  "initiatorName": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "threadId": {
                                "type": "number"
                              },
                              "version": {
                                "type": "number"
                              },
                              "workspaceId": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastEditedTs": {
                            "type": "number"
                          },
                          "lastObjIndex": {
                            "type": "number"
                          },
                          "lastUpdatedTs": {
                            "type": "number"
                          },
                          "participants": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "pinned": {
                            "type": "boolean"
                          },
                          "postedTs": {
                            "type": "number"
                          },
                          "responders": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "snippetCreator": {
                            "type": "number"
                          },
                          "starred": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/twist/latest/actions/get-workspace": {
      "get": {
        "operationId": "twist.get-workspace",
        "summary": "Get Workspace",
        "description": "Retrieves a workspace from Twist by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/twist/latest/actions/get-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "The id of the workspace.",
            "schema": {
              "type": "number",
              "description": "The id of the workspace."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrls": {
                            "type": "object",
                            "properties": {
                              "s195": {
                                "type": "string"
                              },
                              "s35": {
                                "type": "string"
                              },
                              "s60": {
                                "type": "string"
                              },
                              "s640": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "color": {
                            "type": "number"
                          },
                          "createdTs": {
                            "type": "number"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "defaultChannel": {
                            "type": "number"
                          },
                          "defaultConversation": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "security": {
                            "type": "object",
                            "properties": {
                              "guestsSupported": {
                                "type": "boolean"
                              },
                              "usersCanInstallIntegrations": {
                                "type": "boolean"
                              },
                              "usersCanInvite": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
