{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SimpleCirc Universal API",
    "version": "0.0.3",
    "description": "SimpleCirc helps magazine publishers manage subscribers, subscriptions, and mailing addresses."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/simpleCirc/latest/actions/create-or-update-address": {
      "post": {
        "operationId": "simpleCirc.create-or-update-address",
        "summary": "Create or Update Address",
        "description": "Creates or updates a subscriber address in SimpleCirc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/create-or-update-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "address1",
                  "city",
                  "state",
                  "zipcode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "address_1": {
                                    "type": "string"
                                  },
                                  "address_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "zipcode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "login_link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "renewal_link": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleCirc/latest/actions/create-subscriber": {
      "post": {
        "operationId": "simpleCirc.create-subscriber",
        "summary": "Create Subscriber",
        "description": "Creates a new subscriber in SimpleCirc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/create-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipcode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "address_1": {
                                    "type": "string"
                                  },
                                  "address_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "zipcode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "login_link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "renewal_link": {
                                "type": "string"
                              },
                              "subscriptions": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleCirc/latest/actions/create-subscription": {
      "post": {
        "operationId": "simpleCirc.create-subscription",
        "summary": "Create Subscription",
        "description": "Creates a subscription in SimpleCirc, or renews an existing one.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/create-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "publicationId",
                  "issuesPurchased"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "publicationId": {
                    "type": "number"
                  },
                  "issuesPurchased": {
                    "type": "number"
                  },
                  "copies": {
                    "type": "number"
                  },
                  "postageId": {
                    "type": "number"
                  },
                  "promoCode": {
                    "type": "string"
                  },
                  "giftgiverAccountId": {
                    "type": "string"
                  },
                  "neverExpires": {
                    "type": "boolean"
                  },
                  "qualified": {
                    "type": "boolean"
                  },
                  "qualifiedOn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "doNotRenew": {
                    "type": "boolean"
                  },
                  "amountPaid": {
                    "type": "number"
                  },
                  "amountDue": {
                    "type": "number"
                  },
                  "taxAmount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "questions": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "address_1": {
                                    "type": "string"
                                  },
                                  "address_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "zipcode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "login_link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "renewal_link": {
                                "type": "string"
                              },
                              "subscriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "auto_renew": {
                                      "type": "number"
                                    },
                                    "copies": {
                                      "type": "number"
                                    },
                                    "digital_status": {
                                      "type": "string"
                                    },
                                    "expiration_date": {
                                      "type": "string"
                                    },
                                    "giftgiver": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "issues_remaining": {
                                      "type": "number"
                                    },
                                    "last_issue": {
                                      "type": "number"
                                    },
                                    "last_order": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "last_publish_date": {
                                      "type": "string"
                                    },
                                    "last_volume": {
                                      "type": "number"
                                    },
                                    "never_expires": {
                                      "type": "number"
                                    },
                                    "postage_type_id": {
                                      "type": "number"
                                    },
                                    "promo_code": {
                                      "type": "string"
                                    },
                                    "publication_id": {
                                      "type": "number"
                                    },
                                    "publication_name": {
                                      "type": "string"
                                    },
                                    "qualified": {
                                      "type": "number"
                                    },
                                    "qualified_on": {
                                      "type": "string"
                                    },
                                    "questions": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "subscription_id": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleCirc/latest/actions/list-subscribers": {
      "get": {
        "operationId": "simpleCirc.list-subscribers",
        "summary": "List Subscribers",
        "description": "Retrieves a list of subscribers from SimpleCirc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/list-subscribers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscribers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_id": {
                                  "type": "string"
                                },
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "address_1": {
                                      "type": "string"
                                    },
                                    "address_2": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "zipcode": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "company": {
                                  "type": "string"
                                },
                                "custom_fields": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "email": {
                                  "type": "string"
                                },
                                "first_name": {
                                  "type": "string"
                                },
                                "last_name": {
                                  "type": "string"
                                },
                                "login_link": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "renewal_link": {
                                  "type": "string"
                                },
                                "subscriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "auto_renew": {
                                        "type": "number"
                                      },
                                      "copies": {
                                        "type": "number"
                                      },
                                      "digital_status": {
                                        "type": "string"
                                      },
                                      "expiration_date": {
                                        "type": "string"
                                      },
                                      "giftgiver": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "issues_remaining": {
                                        "type": "number"
                                      },
                                      "last_issue": {
                                        "type": "number"
                                      },
                                      "last_order": {
                                        "type": "object",
                                        "properties": {
                                          "amount_due": {
                                            "type": "string"
                                          },
                                          "amount_paid": {
                                            "type": "string"
                                          },
                                          "copies": {
                                            "type": "number"
                                          },
                                          "custom_source": {
                                            "type": "string"
                                          },
                                          "issues": {
                                            "type": "string"
                                          },
                                          "never_expires": {
                                            "type": "number"
                                          },
                                          "order_date_time": {
                                            "type": "string"
                                          },
                                          "order_id": {
                                            "type": "number"
                                          },
                                          "postage_type_id": {
                                            "type": "number"
                                          },
                                          "price_description": {
                                            "type": "string"
                                          },
                                          "promo_code": {
                                            "type": "string"
                                          },
                                          "tax": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "last_publish_date": {
                                        "type": "string"
                                      },
                                      "last_volume": {
                                        "type": "number"
                                      },
                                      "never_expires": {
                                        "type": "number"
                                      },
                                      "postage_type_id": {
                                        "type": "number"
                                      },
                                      "promo_code": {
                                        "type": "string"
                                      },
                                      "publication_id": {
                                        "type": "number"
                                      },
                                      "publication_name": {
                                        "type": "string"
                                      },
                                      "qualified": {
                                        "type": "number"
                                      },
                                      "qualified_on": {
                                        "type": "string"
                                      },
                                      "questions": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "status": {
                                        "type": "string"
                                      },
                                      "subscription_id": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleCirc/latest/actions/retrieve-subscriber": {
      "get": {
        "operationId": "simpleCirc.retrieve-subscriber",
        "summary": "Retrieve Subscriber",
        "description": "Retrieves details for a subscriber from SimpleCirc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/retrieve-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "address_1": {
                                    "type": "string"
                                  },
                                  "address_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "zipcode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "login_link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "renewal_link": {
                                "type": "string"
                              },
                              "subscriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "auto_renew": {
                                      "type": "number"
                                    },
                                    "copies": {
                                      "type": "number"
                                    },
                                    "digital_status": {
                                      "type": "string"
                                    },
                                    "expiration_date": {
                                      "type": "string"
                                    },
                                    "giftgiver": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "issues_remaining": {
                                      "type": "number"
                                    },
                                    "last_issue": {
                                      "type": "number"
                                    },
                                    "last_order": {
                                      "type": "object",
                                      "properties": {
                                        "amount_due": {
                                          "type": "string"
                                        },
                                        "amount_paid": {
                                          "type": "string"
                                        },
                                        "copies": {
                                          "type": "number"
                                        },
                                        "custom_source": {
                                          "type": "string"
                                        },
                                        "issues": {
                                          "type": "string"
                                        },
                                        "never_expires": {
                                          "type": "number"
                                        },
                                        "order_date_time": {
                                          "type": "string"
                                        },
                                        "order_id": {
                                          "type": "number"
                                        },
                                        "postage_type_id": {
                                          "type": "number"
                                        },
                                        "price_description": {
                                          "type": "string"
                                        },
                                        "promo_code": {
                                          "type": "string"
                                        },
                                        "tax": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "last_publish_date": {
                                      "type": "string"
                                    },
                                    "last_volume": {
                                      "type": "number"
                                    },
                                    "never_expires": {
                                      "type": "number"
                                    },
                                    "postage_type_id": {
                                      "type": "number"
                                    },
                                    "promo_code": {
                                      "type": "string"
                                    },
                                    "publication_id": {
                                      "type": "number"
                                    },
                                    "publication_name": {
                                      "type": "string"
                                    },
                                    "qualified": {
                                      "type": "number"
                                    },
                                    "qualified_on": {
                                      "type": "string"
                                    },
                                    "questions": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "subscription_id": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleCirc/latest/actions/update-subscriber": {
      "put": {
        "operationId": "simpleCirc.update-subscriber",
        "summary": "Update Subscriber",
        "description": "Updates an existing subscriber in SimpleCirc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/update-subscriber"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "address_1": {
                                    "type": "string"
                                  },
                                  "address_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "zipcode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "login_link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "renewal_link": {
                                "type": "string"
                              },
                              "subscriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "auto_renew": {
                                      "type": "number"
                                    },
                                    "copies": {
                                      "type": "number"
                                    },
                                    "digital_status": {
                                      "type": "string"
                                    },
                                    "expiration_date": {
                                      "type": "string"
                                    },
                                    "giftgiver": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "issues_remaining": {
                                      "type": "number"
                                    },
                                    "last_issue": {
                                      "type": "number"
                                    },
                                    "last_order": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "last_publish_date": {
                                      "type": "string"
                                    },
                                    "last_volume": {
                                      "type": "number"
                                    },
                                    "never_expires": {
                                      "type": "number"
                                    },
                                    "postage_type_id": {
                                      "type": "number"
                                    },
                                    "promo_code": {
                                      "type": "string"
                                    },
                                    "publication_id": {
                                      "type": "number"
                                    },
                                    "publication_name": {
                                      "type": "string"
                                    },
                                    "qualified": {
                                      "type": "number"
                                    },
                                    "qualified_on": {
                                      "type": "string"
                                    },
                                    "questions": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "subscription_id": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/simpleCirc/latest/actions/update-subscription": {
      "put": {
        "operationId": "simpleCirc.update-subscription",
        "summary": "Update Subscription",
        "description": "Updates an existing subscription in SimpleCirc.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/simpleCirc/latest/actions/update-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "publicationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string"
                  },
                  "publicationId": {
                    "type": "number"
                  },
                  "status": {
                    "type": "string"
                  },
                  "issuesRemaining": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "subscriber": {
                            "type": "object",
                            "properties": {
                              "account_id": {
                                "type": "string"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "address_1": {
                                    "type": "string"
                                  },
                                  "address_2": {
                                    "type": "string"
                                  },
                                  "city": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "zipcode": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "company": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "login_link": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "renewal_link": {
                                "type": "string"
                              },
                              "subscriptions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "auto_renew": {
                                      "type": "number"
                                    },
                                    "copies": {
                                      "type": "number"
                                    },
                                    "digital_status": {
                                      "type": "string"
                                    },
                                    "expiration_date": {
                                      "type": "string"
                                    },
                                    "giftgiver": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "issues_remaining": {
                                      "type": "number"
                                    },
                                    "last_issue": {
                                      "type": "number"
                                    },
                                    "last_order": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "last_publish_date": {
                                      "type": "string"
                                    },
                                    "last_volume": {
                                      "type": "number"
                                    },
                                    "never_expires": {
                                      "type": "number"
                                    },
                                    "postage_type_id": {
                                      "type": "number"
                                    },
                                    "promo_code": {
                                      "type": "string"
                                    },
                                    "publication_id": {
                                      "type": "number"
                                    },
                                    "publication_name": {
                                      "type": "string"
                                    },
                                    "qualified": {
                                      "type": "number"
                                    },
                                    "qualified_on": {
                                      "type": "string"
                                    },
                                    "questions": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "subscription_id": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
