{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Easyship Universal API",
    "version": "0.0.6",
    "description": "Easyship shipping and logistics platform for rates, shipments, pickups, tracking, shipping rules, and fulfillment operations."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/easyship/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/easyship/latest/actions/cancel-pickup": {
      "put": {
        "operationId": "easyship.cancel-pickup",
        "summary": "Cancel Pickup",
        "description": "Cancels a pickup in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/cancel-pickup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "pickupId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pickupId": {
                    "type": "string",
                    "description": "The Easyship pickup ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "properties": {
                              "requestId": {
                                "type": "string",
                                "description": "Easyship request identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Easyship cancellation result message."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/cancel-shipment": {
      "put": {
        "operationId": "easyship.cancel-shipment",
        "summary": "Cancel Shipment",
        "description": "Cancels a shipment in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/cancel-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shipmentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shipmentId": {
                    "type": "string",
                    "description": "The Easyship shipment ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meta": {
                            "type": "object",
                            "properties": {
                              "requestId": {
                                "type": "string",
                                "description": "Easyship request identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string",
                                "description": "Easyship cancellation result message."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/create-address": {
      "post": {
        "operationId": "easyship.create-address",
        "summary": "Create Address",
        "description": "Creates a new address in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/create-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "line1",
                  "city",
                  "companyName",
                  "contactName",
                  "contactEmail",
                  "contactPhone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "line1": {
                    "type": "string",
                    "description": "First address line."
                  },
                  "line2": {
                    "type": "string",
                    "description": "Second address line."
                  },
                  "city": {
                    "type": "string",
                    "description": "Address city."
                  },
                  "state": {
                    "type": "string",
                    "description": "Address state or province."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Address postal code."
                  },
                  "countryAlpha2": {
                    "type": "string",
                    "description": "Two-letter country code."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Company name on the address."
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Contact full name."
                  },
                  "contactEmail": {
                    "type": "string",
                    "description": "Contact email address."
                  },
                  "contactPhone": {
                    "type": "string",
                    "description": "Contact phone number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactEmail": {
                            "type": "string"
                          },
                          "contactName": {
                            "type": "string"
                          },
                          "contactPhone": {
                            "type": "string"
                          },
                          "countryAlpha2": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/create-batch-of-labels": {
      "post": {
        "operationId": "easyship.create-batch-of-labels",
        "summary": "Create Batch of Labels",
        "description": "Creates a batch of shipment labels in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/create-batch-of-labels"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shipments[]",
                  "shipments[].easyshipShipmentId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shipments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Shipments to confirm and label."
                  },
                  "shipments[].easyshipShipmentId": {
                    "type": "string",
                    "description": "Existing Easyship shipment ID to label."
                  },
                  "shipments[].courierServiceId": {
                    "type": "string",
                    "description": "Optional courier service override for this shipment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "batch": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the label batch was created."
                              },
                              "finishedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When Easyship finished processing the batch."
                              },
                              "id": {
                                "type": "string",
                                "description": "The Easyship label batch ID."
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When Easyship started processing the batch."
                              },
                              "state": {
                                "type": "string",
                                "description": "Current label batch state."
                              },
                              "type": {
                                "type": "string",
                                "description": "Easyship batch type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "requestId": {
                                "type": "string",
                                "description": "Easyship request identifier."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/create-pickup": {
      "post": {
        "operationId": "easyship.create-pickup",
        "summary": "Create Pickup",
        "description": "Creates a new pickup in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/create-pickup"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "courierServiceId",
                  "selectedDate",
                  "easyshipShipmentIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "courierServiceId": {
                    "type": "string",
                    "description": "The unique identifier for the courier service."
                  },
                  "timeSlotId": {
                    "type": "string",
                    "description": "Pickup time slot ID."
                  },
                  "selectedDate": {
                    "type": "string",
                    "description": "Selected date for pickup."
                  },
                  "selectedFromTime": {
                    "type": "string",
                    "description": "Selected pickup start time."
                  },
                  "selectedToTime": {
                    "type": "string",
                    "description": "Selected pickup end time."
                  },
                  "easyshipShipmentIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Shipment IDs to include in the pickup request."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "description": "Pickup city."
                              },
                              "companyName": {
                                "type": "string",
                                "description": "Pickup company name."
                              },
                              "contactEmail": {
                                "type": "string",
                                "description": "Pickup contact email."
                              },
                              "countryAlpha2": {
                                "type": "string",
                                "description": "Pickup country code."
                              },
                              "id": {
                                "type": "string",
                                "description": "Pickup address ID."
                              },
                              "line1": {
                                "type": "string",
                                "description": "Pickup address line 1."
                              },
                              "postalCode": {
                                "type": "string",
                                "description": "Pickup postal code."
                              },
                              "status": {
                                "type": "string",
                                "description": "Pickup address status."
                              }
                            },
                            "additionalProperties": false
                          },
                          "courierService": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Courier service ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Courier service name."
                              },
                              "umbrellaName": {
                                "type": "string",
                                "description": "Courier umbrella name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "easyshipPickupId": {
                            "type": "string",
                            "description": "The Easyship pickup ID."
                          },
                          "pickupFee": {
                            "type": "number",
                            "description": "Pickup fee amount."
                          },
                          "pickupReferenceNumber": {
                            "type": "string",
                            "description": "Pickup reference number when available."
                          },
                          "pickupState": {
                            "type": "string",
                            "description": "Current pickup state."
                          },
                          "providerName": {
                            "type": "string",
                            "description": "Pickup provider name."
                          },
                          "selectedFromTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Pickup start time."
                          },
                          "selectedToTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Pickup end time."
                          },
                          "shipmentsCount": {
                            "type": "number",
                            "description": "Number of shipments in the pickup."
                          },
                          "totalActualWeight": {
                            "type": "number",
                            "description": "Total shipment weight in the pickup."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/create-product": {
      "post": {
        "operationId": "easyship.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "identifier"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "identifier": {
                    "type": "string",
                    "description": "SKU for the product. Easyship returned Identifier as required for create."
                  },
                  "name": {
                    "type": "string",
                    "description": "Human-readable name of the product."
                  },
                  "comments": {
                    "type": "string",
                    "description": "Optional comments for the product."
                  },
                  "inputType": {
                    "type": "string",
                    "description": "Product input type."
                  },
                  "length": {
                    "type": "number",
                    "description": "Length of the product in centimeters."
                  },
                  "width": {
                    "type": "number",
                    "description": "Width of the product in centimeters."
                  },
                  "height": {
                    "type": "number",
                    "description": "Height of the product in centimeters."
                  },
                  "weight": {
                    "type": "number",
                    "description": "Weight of the product in kilograms."
                  },
                  "itemCategoryId": {
                    "type": "number",
                    "description": "Item category ID."
                  },
                  "storeId": {
                    "type": "string",
                    "description": "Store ID."
                  },
                  "platformProductId": {
                    "type": "string",
                    "description": "Platform product ID."
                  },
                  "costPrice": {
                    "type": "number",
                    "description": "Product cost price."
                  },
                  "costPriceCurrency": {
                    "type": "string",
                    "description": "Product cost currency."
                  },
                  "sellingPrice": {
                    "type": "number",
                    "description": "Product selling price."
                  },
                  "sellingPriceCurrency": {
                    "type": "string",
                    "description": "Product selling price currency."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "Product image URL."
                  },
                  "pickLocation": {
                    "type": "string",
                    "description": "Pickup location for the product."
                  },
                  "originCountryAlpha2": {
                    "type": "string",
                    "description": "Country where the product is manufactured."
                  },
                  "hsCode": {
                    "type": "string",
                    "description": "Harmonized System code for customs."
                  },
                  "containsLiquids": {
                    "type": "boolean",
                    "description": "Whether the product contains liquids."
                  },
                  "containsBatteryPi966": {
                    "type": "boolean",
                    "description": "Whether the product applies packing instruction 966."
                  },
                  "containsBatteryPi967": {
                    "type": "boolean",
                    "description": "Whether the product applies packing instruction 967."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string"
                          },
                          "containsBatteryPi966": {
                            "type": "boolean"
                          },
                          "containsBatteryPi967": {
                            "type": "boolean"
                          },
                          "containsLiquids": {
                            "type": "boolean"
                          },
                          "costPrice": {
                            "type": "number"
                          },
                          "costPriceCurrency": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "height": {
                            "type": "number"
                          },
                          "hsCode": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "identifier": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "inputType": {
                            "type": "string"
                          },
                          "itemCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "length": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "originCountryAlpha2": {
                            "type": "string"
                          },
                          "pickLocation": {
                            "type": "string"
                          },
                          "platformProductId": {
                            "type": "string"
                          },
                          "sellingPrice": {
                            "type": "number"
                          },
                          "sellingPriceCurrency": {
                            "type": "string"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "width": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/create-shipment": {
      "post": {
        "operationId": "easyship.create-shipment",
        "summary": "Create Shipment",
        "description": "Creates a new shipment in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/create-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "parcels[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "originAddressId": {
                    "type": "string",
                    "description": "Existing Easyship origin address ID. Leave blank if you provide the origin address object instead."
                  },
                  "originAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Origin address object."
                  },
                  "originAddress.line1": {
                    "type": "string",
                    "description": "Origin address line 1."
                  },
                  "originAddress.line2": {
                    "type": "string",
                    "description": "Origin address line 2."
                  },
                  "originAddress.city": {
                    "type": "string",
                    "description": "Origin city."
                  },
                  "originAddress.state": {
                    "type": "string",
                    "description": "Origin state or province."
                  },
                  "originAddress.postalCode": {
                    "type": "string",
                    "description": "Origin postal code."
                  },
                  "originAddress.countryAlpha2": {
                    "type": "string",
                    "description": "Origin country code."
                  },
                  "originAddress.companyName": {
                    "type": "string",
                    "description": "Origin company name."
                  },
                  "originAddress.contactName": {
                    "type": "string",
                    "description": "Origin contact name."
                  },
                  "originAddress.contactEmail": {
                    "type": "string",
                    "description": "Origin contact email."
                  },
                  "originAddress.contactPhone": {
                    "type": "string",
                    "description": "Origin contact phone."
                  },
                  "destinationAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Destination address object."
                  },
                  "destinationAddress.line1": {
                    "type": "string",
                    "description": "Destination address line 1."
                  },
                  "destinationAddress.line2": {
                    "type": "string",
                    "description": "Destination address line 2."
                  },
                  "destinationAddress.city": {
                    "type": "string",
                    "description": "Destination city."
                  },
                  "destinationAddress.state": {
                    "type": "string",
                    "description": "Destination state or province."
                  },
                  "destinationAddress.postalCode": {
                    "type": "string",
                    "description": "Destination postal code."
                  },
                  "destinationAddress.countryAlpha2": {
                    "type": "string",
                    "description": "Destination country code."
                  },
                  "destinationAddress.companyName": {
                    "type": "string",
                    "description": "Destination company name."
                  },
                  "destinationAddress.contactName": {
                    "type": "string",
                    "description": "Destination contact name."
                  },
                  "destinationAddress.contactEmail": {
                    "type": "string",
                    "description": "Destination contact email."
                  },
                  "destinationAddress.contactPhone": {
                    "type": "string",
                    "description": "Destination contact phone."
                  },
                  "parcels[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Shipment parcels array."
                  },
                  "parcels[].items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Items included in a parcel."
                  },
                  "parcels[].box": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Parcel box details."
                  },
                  "parcels[].totalActualWeight": {
                    "type": "number",
                    "description": "Total parcel weight in kilograms."
                  },
                  "parcels[].box.slug": {
                    "type": "string",
                    "description": "Courier or custom box slug."
                  },
                  "parcels[].box.length": {
                    "type": "number",
                    "description": "Parcel box length."
                  },
                  "parcels[].box.width": {
                    "type": "number",
                    "description": "Parcel box width."
                  },
                  "parcels[].box.height": {
                    "type": "number",
                    "description": "Parcel box height."
                  },
                  "parcels[].items[].description": {
                    "type": "string",
                    "description": "Description of the parcel item."
                  },
                  "parcels[].items[].category": {
                    "type": "string",
                    "description": "Item category name or slug."
                  },
                  "parcels[].items[].sku": {
                    "type": "string",
                    "description": "Parcel item SKU."
                  },
                  "parcels[].items[].hsCode": {
                    "type": "string",
                    "description": "Parcel item HS code."
                  },
                  "parcels[].items[].containsBatteryPi966": {
                    "type": "boolean",
                    "description": "Whether the item applies PI966."
                  },
                  "parcels[].items[].containsBatteryPi967": {
                    "type": "boolean",
                    "description": "Whether the item applies PI967."
                  },
                  "parcels[].items[].containsLiquids": {
                    "type": "boolean",
                    "description": "Whether the item contains liquids."
                  },
                  "parcels[].items[].originCountryAlpha2": {
                    "type": "string",
                    "description": "Item origin country."
                  },
                  "parcels[].items[].quantity": {
                    "type": "number",
                    "description": "Parcel item quantity."
                  },
                  "parcels[].items[].dimensions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Parcel item dimensions object."
                  },
                  "parcels[].items[].dimensions.length": {
                    "type": "number",
                    "description": "Parcel item length."
                  },
                  "parcels[].items[].dimensions.width": {
                    "type": "number",
                    "description": "Parcel item width."
                  },
                  "parcels[].items[].dimensions.height": {
                    "type": "number",
                    "description": "Parcel item height."
                  },
                  "parcels[].items[].actualWeight": {
                    "type": "number",
                    "description": "Parcel item actual weight."
                  },
                  "parcels[].items[].declaredCurrency": {
                    "type": "string",
                    "description": "Parcel item declared currency."
                  },
                  "parcels[].items[].declaredCustomsValue": {
                    "type": "number",
                    "description": "Parcel item declared customs value."
                  },
                  "parcels[].items[].product": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Parcel product reference object."
                  },
                  "parcels[].items[].product.id": {
                    "type": "string",
                    "description": "Product ID for product-backed parcel items."
                  },
                  "parcels[].items[].product.sku": {
                    "type": "string",
                    "description": "Product SKU for product-backed parcel items."
                  },
                  "parcels[].items[].id": {
                    "type": "string",
                    "description": "Item ID for return shipments."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "courierService": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "courierId": {
                                "type": "string"
                              },
                              "easyshipCourierService": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "umbrellaName": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "deliveryState": {
                            "type": "string"
                          },
                          "destinationAddress": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "companyName": {
                                "type": "string"
                              },
                              "contactEmail": {
                                "type": "string"
                              },
                              "contactName": {
                                "type": "string"
                              },
                              "contactPhone": {
                                "type": "string"
                              },
                              "countryAlpha2": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            }
                          },
                          "easyshipShipmentId": {
                            "type": "string"
                          },
                          "incoterms": {
                            "type": "string"
                          },
                          "insurance": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "insuredAmount": {
                                "type": "number"
                              },
                              "insuredCurrency": {
                                "type": "string"
                              },
                              "isInsured": {
                                "type": "boolean"
                              }
                            }
                          },
                          "labelState": {
                            "type": "string"
                          },
                          "originAddress": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "companyName": {
                                "type": "string"
                              },
                              "contactEmail": {
                                "type": "string"
                              },
                              "contactName": {
                                "type": "string"
                              },
                              "contactPhone": {
                                "type": "string"
                              },
                              "countryAlpha2": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            }
                          },
                          "parcels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "box": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "outerDimensions": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "height": {
                                          "type": "number"
                                        },
                                        "length": {
                                          "type": "number"
                                        },
                                        "width": {
                                          "type": "number"
                                        }
                                      }
                                    },
                                    "slug": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "weight": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "actualWeight": {
                                        "type": "number"
                                      },
                                      "declaredCurrency": {
                                        "type": "string"
                                      },
                                      "declaredCustomsValue": {
                                        "type": "number"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "dimensions": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "height": {
                                            "type": "number"
                                          },
                                          "length": {
                                            "type": "number"
                                          },
                                          "width": {
                                            "type": "number"
                                          }
                                        }
                                      },
                                      "hsCode": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "originCountryAlpha2": {
                                        "type": "string"
                                      },
                                      "quantity": {
                                        "type": "number"
                                      },
                                      "sku": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "totalActualWeight": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "pickupState": {
                            "type": "string"
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "courierService": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "umbrellaName": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "incoterms": {
                                  "type": "string"
                                },
                                "maxDeliveryTime": {
                                  "type": "number"
                                },
                                "minDeliveryTime": {
                                  "type": "number"
                                },
                                "shipmentCharge": {
                                  "type": "number"
                                },
                                "shipmentChargeTotal": {
                                  "type": "number"
                                },
                                "totalCharge": {
                                  "type": "number"
                                },
                                "trackingRating": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "setAsResidential": {
                            "type": "boolean"
                          },
                          "shipmentState": {
                            "type": "string"
                          },
                          "shippingDocuments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "trackingPageUrl": {
                            "type": "string"
                          },
                          "trackings": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "warehouseState": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/create-shipping-rule": {
      "post": {
        "operationId": "easyship.create-shipping-rule",
        "summary": "Create Shipping Rule",
        "description": "Creates a new shipping rule in Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/create-shipping-rule"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "description",
                  "conditions[]",
                  "conditions[].type",
                  "actions[]",
                  "actions[].type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Shipping rule name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Shipping rule description."
                  },
                  "recalculateShipments": {
                    "type": "boolean",
                    "description": "Recalculate all shipments affected by this shipping rule."
                  },
                  "priority": {
                    "type": "number",
                    "description": "Smaller values represent higher priority."
                  },
                  "conditions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of shipping rule conditions."
                  },
                  "conditions[].type": {
                    "type": "string",
                    "description": "Condition discriminator type."
                  },
                  "conditions[].options": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Condition options object."
                  },
                  "conditions[].options.countryIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Country IDs for match_country conditions."
                  },
                  "conditions[].options.categoryIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Category IDs for match_category conditions."
                  },
                  "conditions[].options.states[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "State codes for match_state conditions."
                  },
                  "conditions[].options.operator": {
                    "type": "string",
                    "description": "Operator used by zipcode, SKU, buyer courier, item count, price, or weight conditions."
                  },
                  "conditions[].options.zipcodes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Zipcodes for match_zipcode conditions."
                  },
                  "conditions[].options.shipmentItemsSku": {
                    "type": "string",
                    "description": "Shipment item SKU for match_sku conditions."
                  },
                  "conditions[].options.platformNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Platform names for match_platform_name conditions."
                  },
                  "conditions[].options.storeIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Store IDs for match_store conditions."
                  },
                  "conditions[].options.buyerSelectedCourierName": {
                    "type": "string",
                    "description": "Buyer-selected courier name for match_buyer_selected_courier_name conditions."
                  },
                  "conditions[].options.shipmentItemsCount": {
                    "type": "number",
                    "description": "Shipment item count for match_items_count conditions."
                  },
                  "conditions[].options.value": {
                    "type": "number",
                    "description": "Numeric value for price-based conditions."
                  },
                  "conditions[].options.currency": {
                    "type": "string",
                    "description": "Currency for selling-price conditions."
                  },
                  "conditions[].options.totalActualWeight": {
                    "type": "number",
                    "description": "Total actual weight for match_weight conditions."
                  },
                  "conditions[].options.orderTagList[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Order tags for include_order_tag_name conditions."
                  },
                  "actions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of shipping rule actions."
                  },
                  "actions[].type": {
                    "type": "string",
                    "description": "Action discriminator type."
                  },
                  "actions[].options": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Action options object."
                  },
                  "actions[].options.neverCourierServiceIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Courier service IDs to exclude."
                  },
                  "actions[].options.preferredCourierServiceIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Courier service IDs to prefer."
                  },
                  "actions[].options.incoterms": {
                    "type": "string",
                    "description": "Incoterms to force."
                  },
                  "actions[].options.sortBy": {
                    "type": "string",
                    "description": "Sorting mode for courier selection."
                  },
                  "actions[].options.insured": {
                    "type": "boolean",
                    "description": "Whether to force insurance."
                  },
                  "actions[].options.forceTrackingRating[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Tracking ratings to force."
                  },
                  "actions[].options.neverPackageIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Package IDs to reject."
                  },
                  "actions[].options.setAsResidential": {
                    "type": "boolean",
                    "description": "Whether to force residential surcharge behavior."
                  },
                  "actions[].options.originAddressId": {
                    "type": "string",
                    "description": "Origin address ID to force."
                  },
                  "actions[].options.forceAutomatedReturnRequested": {
                    "type": "boolean",
                    "description": "Whether to force automated returns."
                  },
                  "actions[].options.operator": {
                    "type": "string",
                    "description": "Operator for forced delivery time actions."
                  },
                  "actions[].options.value": {
                    "type": "number",
                    "description": "Value for forced delivery time actions."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessible": {
                            "type": "boolean"
                          },
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "checkoutRestrictive": {
                            "type": "boolean"
                          },
                          "conditions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/easyship/latest/actions/get-account-information": {
      "get": {
        "operationId": "easyship.get-account-information",
        "summary": "Get Account Information",
        "description": "Retrieves current account information from Easyship.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/easyship/latest/actions/get-account-information"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
