{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SOS Inventory Universal API",
    "version": "0.0.10",
    "description": "Manage inventory, sales orders, purchasing, and manufacturing"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sOSInventory/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sOSInventory/latest/actions/create-customer": {
      "post": {
        "operationId": "sOSInventory.create-customer",
        "summary": "Create Customer",
        "description": "Creates a customer in SOS Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sOSInventory/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name by which you look up this customer."
                  },
                  "email": {
                    "type": "string",
                    "description": "Customer email address."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Customer phone number."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Company name for this customer."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Internal notes about the customer."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altPhone": {
                            "type": "string"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "billing": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line2": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line3": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line4": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line5": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "postalCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stateProvince": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "billWithParent": {
                            "type": "boolean"
                          },
                          "businessLicense": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "middleName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "suffix": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "contractorNumber": {
                            "type": "string"
                          },
                          "creditHold": {
                            "type": "boolean"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "expMonth": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "expYear": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fax": {
                            "type": "string"
                          },
                          "foundUsVia": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "hasCardOnFile": {
                            "type": "boolean"
                          },
                          "hasChildren": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isInQuickBooks": {
                            "type": "boolean"
                          },
                          "keys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastFour": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "parent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentMethod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "string"
                          },
                          "portalPassword": {
                            "type": "string"
                          },
                          "priceTier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resaleNumber": {
                            "type": "string"
                          },
                          "salesRep": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipping": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "country": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line1": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line2": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line3": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line4": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line5": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "postalCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "stateProvince": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "starred": {
                            "type": "number"
                          },
                          "sublevel": {
                            "type": "number"
                          },
                          "summaryOnly": {
                            "type": "boolean"
                          },
                          "syncMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncToken": {
                            "type": "number"
                          },
                          "tax": {
                            "type": "object",
                            "properties": {
                              "taxable": {
                                "type": "boolean"
                              },
                              "taxCode": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "taxExemptReasonId": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "terms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tokenType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sOSInventory/latest/actions/create-estimate": {
      "post": {
        "operationId": "sOSInventory.create-estimate",
        "summary": "Create Estimate",
        "description": "Creates an estimate in SOS Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sOSInventory/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "number",
                  "date",
                  "customer.id",
                  "lines[].item.id",
                  "lines[].quantity",
                  "lines[].unitprice",
                  "lines[].amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "number": {
                    "type": "string",
                    "description": "Order number for this estimate. Use auto for automatic numbering."
                  },
                  "date": {
                    "type": "string",
                    "description": "Transaction date."
                  },
                  "customer.id": {
                    "type": "number",
                    "description": "Customer for this transaction."
                  },
                  "customerMessage": {
                    "type": "string",
                    "description": "Customer message field."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Internal comment for this transaction."
                  },
                  "lines[].item.id": {
                    "type": "number",
                    "description": "The item this line represents."
                  },
                  "lines[].quantity": {
                    "type": "number",
                    "description": "The quantity of this item for this line."
                  },
                  "lines[].unitprice": {
                    "type": "number",
                    "description": "The unit price for this item."
                  },
                  "lines[].amount": {
                    "type": "number",
                    "description": "The sales amount for this line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acceptedBy": {
                            "type": "string"
                          },
                          "acceptedDate": {
                            "type": "string"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "billing": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "postalCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "stateProvince": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "addressName": {
                                "type": "string"
                              },
                              "addressType": {
                                "type": "string"
                              },
                              "company": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "contact": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "channel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "comment": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customerMessage": {
                            "type": "string"
                          },
                          "customerNotes": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depositAmount": {
                            "type": "number"
                          },
                          "discountAmount": {
                            "type": "number"
                          },
                          "discountPercent": {
                            "type": "number"
                          },
                          "discountTaxable": {
                            "type": "boolean"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "expiration": {
                            "type": "string"
                          },
                          "forceSave": {
                            "type": "boolean"
                          },
                          "hasSignature": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "keys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "altAmount": {
                                  "type": "number"
                                },
                                "amount": {
                                  "type": "number"
                                },
                                "backOrdered": {
                                  "type": "number"
                                },
                                "bin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "class": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "cost": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": {
                                  "type": "string"
                                },
                                "duedate": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "invoiced": {
                                  "type": "number"
                                },
                                "item": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "job": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lineNumber": {
                                  "type": "number"
                                },
                                "linkedTransaction": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "listPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lot": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "margin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "percentdiscount": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "picked": {
                                  "type": "number"
                                },
                                "produced": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "returned": {
                                  "type": "number"
                                },
                                "serials": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shipped": {
                                  "type": "number"
                                },
                                "tax": {
                                  "type": "object",
                                  "properties": {
                                    "taxable": {
                                      "type": "boolean"
                                    },
                                    "taxCode": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "taxExemptReasonId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "unitprice": {
                                  "type": "number"
                                },
                                "uom": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "volume": {
                                  "type": "number"
                                },
                                "volumeunit": {
                                  "type": "string"
                                },
                                "weight": {
                                  "type": "number"
                                },
                                "weightunit": {
                                  "type": "string"
                                },
                                "workcenter": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "number": {
                            "type": "string"
                          },
                          "salesRep": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipping": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "postalCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "stateProvince": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "addressName": {
                                "type": "string"
                              },
                              "addressType": {
                                "type": "string"
                              },
                              "company": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "contact": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "shippingAmount": {
                            "type": "number"
                          },
                          "shippingTaxable": {
                            "type": "boolean"
                          },
                          "starred": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "summaryOnly": {
                            "type": "boolean"
                          },
                          "syncMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncToken": {
                            "type": "number"
                          },
                          "taxAmount": {
                            "type": "number"
                          },
                          "taxCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxPercent": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "transactionLocationQuickBooks": {
                            "type": "string"
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sOSInventory/latest/actions/create-invoice": {
      "post": {
        "operationId": "sOSInventory.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates an invoice in SOS Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sOSInventory/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "customer.name",
                  "lines[].item.name",
                  "lines[].quantity",
                  "lines[].unitPrice",
                  "lines[].amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "number": {
                    "type": "string",
                    "description": "Invoice number. Use `auto` for SOS automatic numbering.",
                    "default": "auto"
                  },
                  "date": {
                    "type": "string",
                    "description": "Transaction date in YYYY-MM-DDTHH:MM:SS format."
                  },
                  "customer.name": {
                    "type": "string",
                    "description": "Customer name."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Internal company comment."
                  },
                  "lines[].item.name": {
                    "type": "string",
                    "description": "Item name for the first invoice line."
                  },
                  "lines[].quantity": {
                    "type": "number",
                    "description": "Quantity for the first invoice line."
                  },
                  "lines[].unitPrice": {
                    "type": "number",
                    "description": "Per-unit sale price for the first line."
                  },
                  "lines[].amount": {
                    "type": "number",
                    "description": "Line amount. Must equal quantity multiplied by unit price."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "billing": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "postalCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "stateProvince": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "addressName": {
                                "type": "string"
                              },
                              "addressType": {
                                "type": "string"
                              },
                              "company": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "contact": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "channel": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "comment": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customerMessage": {
                            "type": "string"
                          },
                          "customerNotes": {
                            "type": "string"
                          },
                          "customerPO": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depositAmount": {
                            "type": "number"
                          },
                          "discountAmount": {
                            "type": "number"
                          },
                          "discountPercent": {
                            "type": "number"
                          },
                          "discountTaxable": {
                            "type": "boolean"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "forceSave": {
                            "type": "boolean"
                          },
                          "hasSignature": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "keys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "altAmount": {
                                  "type": "number"
                                },
                                "amount": {
                                  "type": "number"
                                },
                                "backOrdered": {
                                  "type": "number"
                                },
                                "bin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "class": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "cost": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": {
                                  "type": "string"
                                },
                                "duedate": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "invoiced": {
                                  "type": "number"
                                },
                                "item": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "job": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lineNumber": {
                                  "type": "number"
                                },
                                "linkedTransaction": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "listPrice": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lot": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "margin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "percentdiscount": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "picked": {
                                  "type": "number"
                                },
                                "produced": {
                                  "type": "number"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "returned": {
                                  "type": "number"
                                },
                                "serials": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shipped": {
                                  "type": "number"
                                },
                                "tax": {
                                  "type": "object",
                                  "properties": {
                                    "taxable": {
                                      "type": "boolean"
                                    },
                                    "taxCode": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "taxExemptReasonId": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "unitprice": {
                                  "type": "number"
                                },
                                "uom": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "volume": {
                                  "type": "number"
                                },
                                "volumeunit": {
                                  "type": "string"
                                },
                                "weight": {
                                  "type": "number"
                                },
                                "weightunit": {
                                  "type": "string"
                                },
                                "workcenter": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "linkedTransaction": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "number": {
                            "type": "string"
                          },
                          "salesRep": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipping": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "postalCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "stateProvince": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "addressName": {
                                "type": "string"
                              },
                              "addressType": {
                                "type": "string"
                              },
                              "company": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "contact": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "shippingAmount": {
                            "type": "number"
                          },
                          "shippingMethod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shippingTaxable": {
                            "type": "boolean"
                          },
                          "sosPaymentLink": {
                            "type": "string"
                          },
                          "starred": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "summaryOnly": {
                            "type": "boolean"
                          },
                          "syncMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncToken": {
                            "type": "number"
                          },
                          "taxAmount": {
                            "type": "number"
                          },
                          "taxCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxPercent": {
                            "type": "number"
                          },
                          "terms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "total": {
                            "type": "number"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "transactionLocationQuickBooks": {
                            "type": "string"
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "voided": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sOSInventory/latest/actions/create-item": {
      "post": {
        "operationId": "sOSInventory.create-item",
        "summary": "Create Item",
        "description": "Creates an item in SOS Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sOSInventory/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of this item."
                  },
                  "type": {
                    "type": "string",
                    "description": "The kind of item."
                  },
                  "description": {
                    "type": "string",
                    "description": "Default description of this item."
                  },
                  "sku": {
                    "type": "string",
                    "description": "Stockkeeping unit."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Any relevant notes for this item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alwaysShippable": {
                            "type": "boolean"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "assetAccount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "available": {
                            "type": "number"
                          },
                          "barcode": {
                            "type": "string"
                          },
                          "basePurchaseCost": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "baseSalesPrice": {
                            "type": "number"
                          },
                          "bin": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "class": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "cogsAccount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commissionAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "commissionExempt": {
                            "type": "boolean"
                          },
                          "commissionRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "costBasis": {
                            "type": "number"
                          },
                          "customerPartNumber": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "expenseAccount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "hasImage": {
                            "type": "boolean"
                          },
                          "hasVariants": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageAsBase64String": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "imageChanged": {
                            "type": "boolean"
                          },
                          "incomeAccount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "keys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "string"
                          },
                          "leadTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "locationBins": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lotTracking": {
                            "type": "boolean"
                          },
                          "markupPercent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "maxStock": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "minimumPrice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "onhand": {
                            "type": "number"
                          },
                          "onPO": {
                            "type": "number"
                          },
                          "onRMA": {
                            "type": "number"
                          },
                          "onSO": {
                            "type": "number"
                          },
                          "onSR": {
                            "type": "number"
                          },
                          "onWO": {
                            "type": "number"
                          },
                          "pictureFile": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "purchaseCost": {
                            "type": "number"
                          },
                          "purchaseDescription": {
                            "type": "string"
                          },
                          "purchaseTaxCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "rented": {
                            "type": "number"
                          },
                          "reorderPoint": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "salesPrice": {
                            "type": "number"
                          },
                          "salesTaxCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "serialTracking": {
                            "type": "boolean"
                          },
                          "showOnManufacturingForms": {
                            "type": "boolean"
                          },
                          "showOnPurchasingForms": {
                            "type": "boolean"
                          },
                          "showOnSalesForms": {
                            "type": "boolean"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "starred": {
                            "type": "number"
                          },
                          "sublevel": {
                            "type": "number"
                          },
                          "suggestedQuantity": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "summaryOnly": {
                            "type": "boolean"
                          },
                          "syncMessage": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "syncToken": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "string"
                          },
                          "taxable": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updateBigCommerce": {
                            "type": "boolean"
                          },
                          "updateShopify": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          },
                          "useMarkup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "variantMaster": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorPartNumber": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "volumeUnit": {
                            "type": "string"
                          },
                          "warranty": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "weight": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "weightUnit": {
                            "type": "string"
                          },
                          "willSync": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sOSInventory/latest/actions/create-purchase-order": {
      "post": {
        "operationId": "sOSInventory.create-purchase-order",
        "summary": "Create Purchase Order",
        "description": "Creates a purchase order in SOS Inventory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sOSInventory/latest/actions/create-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "vendor.name",
                  "location.name",
                  "lines[].item.name",
                  "lines[].quantity",
                  "lines[].unitPrice",
                  "lines[].amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "number": {
                    "type": "string",
                    "description": "Purchase order number. Use `auto` for SOS automatic numbering.",
                    "default": "auto"
                  },
                  "date": {
                    "type": "string",
                    "description": "Transaction date in YYYY-MM-DDTHH:MM:SS format."
                  },
                  "vendor.name": {
                    "type": "string",
                    "description": "Vendor name."
                  },
                  "location.name": {
                    "type": "string",
                    "description": "Location name."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Internal company comment."
                  },
                  "lines[].item.name": {
                    "type": "string",
                    "description": "Item name for the first purchase-order line."
                  },
                  "lines[].quantity": {
                    "type": "number",
                    "description": "Quantity for the first purchase-order line."
                  },
                  "lines[].unitPrice": {
                    "type": "number",
                    "description": "Per-unit purchase cost for the first line."
                  },
                  "lines[].amount": {
                    "type": "number",
                    "description": "Line amount. Must equal quantity multiplied by unit price."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean"
                          },
                          "assignedToUser": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billing": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line3": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line4": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "line5": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "postalCode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "stateProvince": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "addressName": {
                                "type": "string"
                              },
                              "addressType": {
                                "type": "string"
                              },
                              "company": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "contact": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "email": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "phone": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "blanketPO": {
                            "type": "boolean"
                          },
                          "closed": {
                            "type": "boolean"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "confirmed": {
                            "type": "boolean"
                          },
                          "contractManufacturing": {
                            "type": "boolean"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "date": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "depositAmount": {
                            "type": "number"
                          },
                          "dropShip": {
                            "type": "boolean"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "expectedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "expectedShip": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hasSignature": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "keys": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastSync": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "bin": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "class": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "customer": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "description": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "item": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "job": {
                                  "type": "object",
[...]
