{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "HappyFox Universal API",
    "version": "0.0.7",
    "description": "HappyFox: Manage support tickets, contacts, contact groups, and help desk metadata across tenant-specific HappyFox domains."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/happyFox/latest/actions/add-staff-private-note": {
      "post": {
        "operationId": "happyFox.add-staff-private-note",
        "summary": "Add Staff Private Note",
        "description": "Adds a private note to a ticket in HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/add-staff-private-note"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticketNumber",
                  "staff",
                  "plainText"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ticketNumber": {
                    "type": "string",
                    "description": "HappyFox ticket number from the ticket display ID without the prefix."
                  },
                  "staff": {
                    "type": "number",
                    "description": "HappyFox staff user ID authoring the private note."
                  },
                  "plainText": {
                    "type": "string",
                    "description": "Private note text in plain text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Assigned staff member, when present."
                          },
                          "attachmentsCount": {
                            "type": "number",
                            "description": "Number of ticket attachments."
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket category object."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket custom field values."
                          },
                          "displayId": {
                            "type": "string",
                            "description": "Human-readable HappyFox ticket display ID."
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket due date, when set."
                          },
                          "firstMessage": {
                            "type": "string",
                            "description": "Original ticket message body."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox ticket ID."
                          },
                          "lastStaffReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent staff reply timestamp."
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last updated timestamp."
                          },
                          "lastUserReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent end-user reply timestamp."
                          },
                          "messagesCount": {
                            "type": "number",
                            "description": "Number of ticket messages."
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket priority object."
                          },
                          "slaBreaches": {
                            "type": "number",
                            "description": "Number of SLA breaches."
                          },
                          "source": {
                            "type": "string",
                            "description": "Ticket source identifier."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket status object."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Ticket subject line."
                          },
                          "subscribers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket subscribers."
                          },
                          "tags": {
                            "type": "string",
                            "description": "Comma-delimited ticket tags."
                          },
                          "timeSpent": {
                            "type": "number",
                            "description": "Tracked time spent on the ticket."
                          },
                          "unresponded": {
                            "type": "boolean",
                            "description": "Whether the ticket is awaiting response."
                          },
                          "updates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket update history."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Primary contact attached to the ticket."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/add-staff-update": {
      "post": {
        "operationId": "happyFox.add-staff-update",
        "summary": "Add Staff Update",
        "description": "Adds a staff update to a ticket in HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/add-staff-update"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticketNumber",
                  "staff",
                  "plainText"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ticketNumber": {
                    "type": "string",
                    "description": "HappyFox ticket number from the ticket display ID without the prefix."
                  },
                  "staff": {
                    "type": "number",
                    "description": "HappyFox staff user ID performing the update."
                  },
                  "plainText": {
                    "type": "string",
                    "description": "Staff reply in plain text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Assigned staff member, when present."
                          },
                          "attachmentsCount": {
                            "type": "number",
                            "description": "Number of ticket attachments."
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket category object."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket custom field values."
                          },
                          "displayId": {
                            "type": "string",
                            "description": "Human-readable HappyFox ticket display ID."
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket due date, when set."
                          },
                          "firstMessage": {
                            "type": "string",
                            "description": "Original ticket message body."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox ticket ID."
                          },
                          "lastStaffReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent staff reply timestamp."
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last updated timestamp."
                          },
                          "lastUserReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent end-user reply timestamp."
                          },
                          "messagesCount": {
                            "type": "number",
                            "description": "Number of ticket messages."
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket priority object."
                          },
                          "slaBreaches": {
                            "type": "number",
                            "description": "Number of SLA breaches."
                          },
                          "source": {
                            "type": "string",
                            "description": "Ticket source identifier."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket status object."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Ticket subject line."
                          },
                          "subscribers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket subscribers."
                          },
                          "tags": {
                            "type": "string",
                            "description": "Comma-delimited ticket tags."
                          },
                          "timeSpent": {
                            "type": "number",
                            "description": "Tracked time spent on the ticket."
                          },
                          "unresponded": {
                            "type": "boolean",
                            "description": "Whether the ticket is awaiting response."
                          },
                          "updates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket update history."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Primary contact attached to the ticket."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/create-contact": {
      "post": {
        "operationId": "happyFox.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Contact name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Contact groups this contact belongs to."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values for the contact."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary contact email address."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox contact ID."
                          },
                          "isLoginEnabled": {
                            "type": "boolean",
                            "description": "Whether the contact can log in to the portal."
                          },
                          "name": {
                            "type": "string",
                            "description": "Contact display name."
                          },
                          "pendingTicketsCount": {
                            "type": "number",
                            "description": "Pending ticket count for the contact."
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional phone records."
                          },
                          "primaryPhone": {
                            "type": "string",
                            "description": "Primary phone number, when present."
                          },
                          "ticketsCount": {
                            "type": "number",
                            "description": "Total tickets associated with the contact."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact last updated timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/create-contact-group": {
      "post": {
        "operationId": "happyFox.create-contact-group",
        "summary": "Create Contact Group",
        "description": "Creates a new contact group in HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/create-contact-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Contact group name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional contact group description."
                  },
                  "taggedDomains": {
                    "type": "string",
                    "description": "Optional domains to tag to the group."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Contact group description."
                          },
                          "id": {
                            "type": "number",
                            "description": "HappyFox contact group ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Contact group display name."
                          },
                          "taggedDomains": {
                            "type": "string",
                            "description": "Comma-delimited domains auto-associated with the group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/create-ticket": {
      "post": {
        "operationId": "happyFox.create-ticket",
        "summary": "Create Ticket",
        "description": "Creates a new ticket in HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/create-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "email",
                  "subject",
                  "text",
                  "category"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Requester name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Requester email address."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Ticket subject."
                  },
                  "text": {
                    "type": "string",
                    "description": "Ticket body in plain text."
                  },
                  "category": {
                    "type": "number",
                    "description": "HappyFox category ID for the ticket."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Assigned staff member, when present."
                          },
                          "attachmentsCount": {
                            "type": "number",
                            "description": "Number of ticket attachments."
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket category object."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket custom field values."
                          },
                          "displayId": {
                            "type": "string",
                            "description": "Human-readable HappyFox ticket display ID."
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket due date, when set."
                          },
                          "firstMessage": {
                            "type": "string",
                            "description": "Original ticket message body."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox ticket ID."
                          },
                          "lastStaffReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent staff reply timestamp."
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last updated timestamp."
                          },
                          "lastUserReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent end-user reply timestamp."
                          },
                          "messagesCount": {
                            "type": "number",
                            "description": "Number of ticket messages."
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket priority object."
                          },
                          "slaBreaches": {
                            "type": "number",
                            "description": "Number of SLA breaches."
                          },
                          "source": {
                            "type": "string",
                            "description": "Ticket source identifier."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket status object."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Ticket subject line."
                          },
                          "subscribers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket subscribers."
                          },
                          "tags": {
                            "type": "string",
                            "description": "Comma-delimited ticket tags."
                          },
                          "timeSpent": {
                            "type": "number",
                            "description": "Tracked time spent on the ticket."
                          },
                          "unresponded": {
                            "type": "boolean",
                            "description": "Whether the ticket is awaiting response."
                          },
                          "updates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket update history."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Primary contact attached to the ticket."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/get-contact": {
      "get": {
        "operationId": "happyFox.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "HappyFox contact user ID.",
            "schema": {
              "type": "string",
              "description": "HappyFox contact user ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Contact groups this contact belongs to."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values for the contact."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary contact email address."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox contact ID."
                          },
                          "isLoginEnabled": {
                            "type": "boolean",
                            "description": "Whether the contact can log in to the portal."
                          },
                          "name": {
                            "type": "string",
                            "description": "Contact display name."
                          },
                          "pendingTicketsCount": {
                            "type": "number",
                            "description": "Pending ticket count for the contact."
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional phone records."
                          },
                          "primaryPhone": {
                            "type": "string",
                            "description": "Primary phone number, when present."
                          },
                          "ticketsCount": {
                            "type": "number",
                            "description": "Total tickets associated with the contact."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact last updated timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/get-ticket": {
      "get": {
        "operationId": "happyFox.get-ticket",
        "summary": "Get Ticket",
        "description": "Retrieves a ticket from HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/get-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketNumber",
            "in": "query",
            "required": true,
            "description": "HappyFox ticket number from the ticket display ID without the prefix.",
            "schema": {
              "type": "string",
              "description": "HappyFox ticket number from the ticket display ID without the prefix."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedTo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Assigned staff member, when present."
                          },
                          "attachmentsCount": {
                            "type": "number",
                            "description": "Number of ticket attachments."
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket category object."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket custom field values."
                          },
                          "displayId": {
                            "type": "string",
                            "description": "Human-readable HappyFox ticket display ID."
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Ticket due date, when set."
                          },
                          "firstMessage": {
                            "type": "string",
                            "description": "Original ticket message body."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox ticket ID."
                          },
                          "lastStaffReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent staff reply timestamp."
                          },
                          "lastUpdatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last updated timestamp."
                          },
                          "lastUserReplyAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Most recent end-user reply timestamp."
                          },
                          "messagesCount": {
                            "type": "number",
                            "description": "Number of ticket messages."
                          },
                          "priority": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket priority object."
                          },
                          "slaBreaches": {
                            "type": "number",
                            "description": "Number of SLA breaches."
                          },
                          "source": {
                            "type": "string",
                            "description": "Ticket source identifier."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Ticket status object."
                          },
                          "subject": {
                            "type": "string",
                            "description": "Ticket subject line."
                          },
                          "subscribers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket subscribers."
                          },
                          "tags": {
                            "type": "string",
                            "description": "Comma-delimited ticket tags."
                          },
                          "timeSpent": {
                            "type": "number",
                            "description": "Tracked time spent on the ticket."
                          },
                          "unresponded": {
                            "type": "boolean",
                            "description": "Whether the ticket is awaiting response."
                          },
                          "updates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ticket update history."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Primary contact attached to the ticket."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/list-categories": {
      "get": {
        "operationId": "happyFox.list-categories",
        "summary": "List Categories",
        "description": "Retrieves categories from HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/list-categories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Category description."
                          },
                          "id": {
                            "type": "number",
                            "description": "HappyFox category ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Category display name."
                          },
                          "prepopulateCc": {
                            "type": "string",
                            "description": "Default CC recipients configured for the category."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "Whether the category is visible to end users."
                          },
                          "timeSpentMandatory": {
                            "type": "boolean",
                            "description": "Whether time entry is mandatory for tickets in this category."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/list-contact-custom-fields": {
      "get": {
        "operationId": "happyFox.list-contact-custom-fields",
        "summary": "List Contact Custom Fields",
        "description": "Retrieves contact custom fields from HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/list-contact-custom-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available field choices."
                          },
                          "dependsOnChoice": {
                            "type": "number",
                            "description": "Choice ID this field depends on, when configured."
                          },
                          "id": {
                            "type": "number",
                            "description": "HappyFox contact custom field ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Contact custom field label."
                          },
                          "order": {
                            "type": "number",
                            "description": "Sort order of the custom field."
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the custom field is required."
                          },
                          "type": {
                            "type": "string",
                            "description": "HappyFox custom field type."
                          },
                          "visibleToStaffOnly": {
                            "type": "boolean",
                            "description": "Whether the custom field is only visible to staff."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/list-contact-groups": {
      "get": {
        "operationId": "happyFox.list-contact-groups",
        "summary": "List Contact Groups",
        "description": "Retrieves contact groups from HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/list-contact-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Contact group description."
                          },
                          "id": {
                            "type": "number",
                            "description": "HappyFox contact group ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Contact group display name."
                          },
                          "taggedDomains": {
                            "type": "string",
                            "description": "Comma-delimited domains auto-associated with the group."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/happyFox/latest/actions/list-contacts": {
      "get": {
        "operationId": "happyFox.list-contacts",
        "summary": "List Contacts",
        "description": "Retrieves contacts from HappyFox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/happyFox/latest/actions/list-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Contact groups this contact belongs to."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact creation timestamp."
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom field values for the contact."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary contact email address."
                          },
                          "id": {
                            "type": "number",
                            "description": "Internal HappyFox contact ID."
                          },
                          "isLoginEnabled": {
                            "type": "boolean",
                            "description": "Whether the contact can log in to the portal."
                          },
                          "name": {
                            "type": "string",
                            "description": "Contact display name."
                          },
                          "pendingTicketsCount": {
                            "type": "number",
                            "description": "Pending ticket count for the contact."
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Additional phone records."
                          },
                          "primaryPhone": {
                            "type": "string",
                            "description": "Primary phone number, when present."
                          },
                          "ticketsCount": {
                            "type": "number",
                            "description": "Total tickets associated with the contact."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact last updated timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
[...]
