{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Sentry IO Universal API",
    "version": "0.0.2",
    "description": "Monitor Sentry organizations, projects, issues, events, teams, releases, replays, and Explore data from MindCloud workflows and Cirra."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sentryIO/latest/actions/list-issue-events": {
      "get": {
        "operationId": "sentryIO.list-issue-events",
        "summary": "List Issue Events",
        "description": "Retrieves events for an issue in Sentry IO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-issue-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "required": true,
            "description": "The Sentry issue ID whose events should be listed.",
            "schema": {
              "type": "string",
              "description": "The Sentry issue ID whose events should be listed.",
              "example": "123456789"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event creation timestamp."
                          },
                          "eventID": {
                            "type": "string",
                            "description": "Sentry event ID."
                          },
                          "groupID": {
                            "type": "string",
                            "description": "Associated issue group ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Event identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "Event message."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Event metadata."
                          },
                          "platform": {
                            "type": "string",
                            "description": "Event platform."
                          },
                          "projectID": {
                            "type": "string",
                            "description": "Project identifier."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Event tags."
                          },
                          "title": {
                            "type": "string",
                            "description": "Event title."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Event user context."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-organization-issues": {
      "get": {
        "operationId": "sentryIO.list-organization-issues",
        "summary": "List Organization Issues",
        "description": "Retrieves issues from a Sentry IO organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-organization-issues"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Optional Sentry structured search query. Leave blank for Sentry's default unresolved issue query; pass an empty query value to request all results.",
            "schema": {
              "type": "string",
              "description": "Optional Sentry structured search query. Leave blank for Sentry's default unresolved issue query; pass an empty query value to request all results.",
              "example": "is:unresolved"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Optional Sentry project ID. Sentry also accepts -1 for all available projects.",
            "schema": {
              "type": "string",
              "description": "Optional Sentry project ID. Sentry also accepts -1 for all available projects.",
              "example": "-1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "statsPeriod",
            "in": "query",
            "required": false,
            "description": "Optional time range such as 24h, 7d, or 14d for issue stats.",
            "schema": {
              "type": "string",
              "description": "Optional time range such as 24h, 7d, or 14d for issue stats.",
              "example": "24h",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Optional Sentry issue sort such as date, freq, inbox, new, recommended, trends, or user.",
            "schema": {
              "type": "string",
              "description": "Optional Sentry issue sort such as date, freq, inbox, new, recommended, trends, or user.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Optional Sentry pagination cursor from the Link header.",
            "schema": {
              "type": "string",
              "description": "Optional Sentry pagination cursor from the Link header.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "string",
                            "description": "Event count for the issue"
                          },
                          "firstSeen": {
                            "type": "string",
                            "format": "date-time",
                            "description": "First seen timestamp"
                          },
                          "id": {
                            "type": "string",
                            "description": "Sentry issue ID"
                          },
                          "lastSeen": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last seen timestamp"
                          },
                          "level": {
                            "type": "string",
                            "description": "Issue severity level"
                          },
                          "permalink": {
                            "type": "string",
                            "description": "Sentry issue URL"
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Project summary for the issue"
                          },
                          "shortId": {
                            "type": "string",
                            "description": "Human-readable short issue ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "Issue status"
                          },
                          "title": {
                            "type": "string",
                            "description": "Issue title"
                          },
                          "userCount": {
                            "type": "number",
                            "description": "Number of users affected"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-organization-members": {
      "get": {
        "operationId": "sentryIO.list-organization-members",
        "summary": "List Organization Members",
        "description": "Retrieves members from a Sentry IO organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-organization-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Membership creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Member email address."
                          },
                          "id": {
                            "type": "string",
                            "description": "Member identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Member display name."
                          },
                          "role": {
                            "type": "string",
                            "description": "Organization role."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Linked user object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-organization-projects": {
      "get": {
        "operationId": "sentryIO.list-organization-projects",
        "summary": "List Organization Projects",
        "description": "Retrieves projects from a Sentry IO organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-organization-projects"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Project creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Project identifier."
                          },
                          "isBookmarked": {
                            "type": "boolean",
                            "description": "Whether the project is bookmarked."
                          },
                          "name": {
                            "type": "string",
                            "description": "Project name."
                          },
                          "platform": {
                            "type": "string",
                            "description": "Project platform."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Project slug."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-organization-releases": {
      "get": {
        "operationId": "sentryIO.list-organization-releases",
        "summary": "List Organization Releases",
        "description": "Retrieves releases from a Sentry IO organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-organization-releases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release creation timestamp."
                          },
                          "dateReleased": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release timestamp."
                          },
                          "projects": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Projects in the release."
                          },
                          "shortVersion": {
                            "type": "string",
                            "description": "Short release version."
                          },
                          "version": {
                            "type": "string",
                            "description": "Release version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-organization-teams": {
      "get": {
        "operationId": "sentryIO.list-organization-teams",
        "summary": "List Organization Teams",
        "description": "Retrieves teams from a Sentry IO organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-organization-teams"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Team creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Team identifier."
                          },
                          "memberCount": {
                            "type": "number",
                            "description": "Number of team members."
                          },
                          "name": {
                            "type": "string",
                            "description": "Team name."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Team slug."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-project-error-events": {
      "get": {
        "operationId": "sentryIO.list-project-error-events",
        "summary": "List Project Error Events",
        "description": "Retrieves error events from a Sentry IO project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-project-error-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "projectIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry project ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry project ID or slug.",
              "example": "my-project"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "culprit": {
                            "type": "string",
                            "description": "Event culprit."
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event creation timestamp."
                          },
                          "eventID": {
                            "type": "string",
                            "description": "Sentry event ID."
                          },
                          "groupID": {
                            "type": "string",
                            "description": "Associated issue group ID."
                          },
                          "id": {
                            "type": "string",
                            "description": "Event identifier."
                          },
                          "message": {
                            "type": "string",
                            "description": "Event message."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Event metadata."
                          },
                          "platform": {
                            "type": "string",
                            "description": "Event platform."
                          },
                          "projectID": {
                            "type": "string",
                            "description": "Project identifier."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Event tags."
                          },
                          "title": {
                            "type": "string",
                            "description": "Event title."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Event user context."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-project-users": {
      "get": {
        "operationId": "sentryIO.list-project-users",
        "summary": "List Project Users",
        "description": "Retrieves users from a Sentry IO project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-project-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "projectIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry project ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry project ID or slug.",
              "example": "my-project"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string",
                            "description": "Avatar URL."
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "User creation timestamp, when present."
                          },
                          "email": {
                            "type": "string",
                            "description": "User email address."
                          },
                          "hash": {
                            "type": "string",
                            "description": "Sentry user hash."
                          },
                          "id": {
                            "type": "string",
                            "description": "User identifier, when Sentry provides one."
                          },
                          "identifier": {
                            "type": "string",
                            "description": "Sentry user identifier."
                          },
                          "ipAddress": {
                            "type": "string",
                            "description": "User IP address, when present."
                          },
                          "name": {
                            "type": "string",
                            "description": "User display name."
                          },
                          "tagValue": {
                            "type": "string",
                            "description": "Sentry user tag value."
                          },
                          "username": {
                            "type": "string",
                            "description": "Username."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-team-members": {
      "get": {
        "operationId": "sentryIO.list-team-members",
        "summary": "List Team Members",
        "description": "Retrieves members from a Sentry IO team.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-team-members"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "teamIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry team ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry team ID or slug.",
              "example": "my-team"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Member email address."
                          },
                          "id": {
                            "type": "string",
                            "description": "Member identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Member display name."
                          },
                          "role": {
                            "type": "string",
                            "description": "Member role."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Linked user object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/list-your-organizations": {
      "get": {
        "operationId": "sentryIO.list-your-organizations",
        "summary": "List Your Organizations",
        "description": "Retrieves your organizations from Sentry IO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/list-your-organizations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Organization creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Organization identifier."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Organization URL metadata."
                          },
                          "name": {
                            "type": "string",
                            "description": "Organization name."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Organization slug."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Organization status object."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/query-explore-events": {
      "get": {
        "operationId": "sentryIO.query-explore-events",
        "summary": "Query Explore Events",
        "description": "Queries table-format explore events in Sentry IO.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/query-explore-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "description": "The Explore dataset to query, such as errors, transactions, spans, logs, or discover.",
            "schema": {
              "type": "string",
              "description": "The Explore dataset to query, such as errors, transactions, spans, logs, or discover.",
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4",
                "5",
                "6"
              ]
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": true,
            "description": "A single Sentry Explore field, function, or equation to include in the table result.",
            "schema": {
              "type": "string",
              "description": "A single Sentry Explore field, function, or equation to include in the table result."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Explore event rows."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Field metadata returned by Explore."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/resolve-event-id": {
      "get": {
        "operationId": "sentryIO.resolve-event-id",
        "summary": "Resolve Event ID",
        "description": "Resolves a Sentry IO event ID to event details.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/resolve-event-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "description": "The Sentry event ID to resolve.",
            "schema": {
              "type": "string",
              "description": "The Sentry event ID to resolve.",
              "example": "9fac2ceed9344f2bbfdd1fdacb0ed9b1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved event object."
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Resolved event ID."
                          },
                          "groupId": {
                            "type": "string",
                            "description": "Associated issue group ID, when present."
                          },
                          "organizationSlug": {
                            "type": "string",
                            "description": "Organization slug for the event."
                          },
                          "projectSlug": {
                            "type": "string",
                            "description": "Project slug for the event."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sentryIO/latest/actions/resolve-short-id": {
      "get": {
        "operationId": "sentryIO.resolve-short-id",
        "summary": "Resolve Short ID",
        "description": "Retrieves Sentry IO issue details by short ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sentryIO/latest/actions/resolve-short-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationIdOrSlug",
            "in": "query",
            "required": true,
            "description": "The Sentry organization ID or slug.",
            "schema": {
              "type": "string",
              "description": "The Sentry organization ID or slug.",
              "example": "my-org"
            }
          },
          {
            "name": "issueId",
            "in": "query",
            "required": true,
            "description": "The short issue ID to resolve, such as PROJECT-123.",
            "schema": {
              "type": "string",
              "description": "The short issue ID to resolve, such as PROJECT-123.",
              "example": "PROJECT-123"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "group": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Resolved issue group object."
                          },
                          "groupId": {
                            "type": "string",
                            "description": "Resolved issue group ID."
                          },
                          "organizationSlug": {
                            "type": "string",
                            "description": "Organization slug."
                          },
                          "projectSlug": {
                            "type": "string",
                            "description": "Project slug for the issue."
                          },
                          "shortId": {
                            "type": "string",
                            "description": "Short issue ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
