{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "UpGuard Universal API",
    "version": "0.0.6",
    "description": "Monitor cyber risk across vendors, assets, and workforce"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/upGuard/latest/actions/get-identity-breach-details": {
      "get": {
        "operationId": "upGuard.get-identity-breach-details",
        "summary": "Get Identity Breach Details",
        "description": "Retrieves details for an identity breach in UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-identity-breach-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "The ID of the breach to fetch",
            "schema": {
              "type": "string",
              "description": "The ID of the breach to fetch"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-onboarding-request": {
      "get": {
        "operationId": "upGuard.get-onboarding-request",
        "summary": "Get Onboarding Request",
        "description": "Retrieves an onboarding request from UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-onboarding-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onboardingRequestId",
            "in": "query",
            "required": true,
            "description": "The ID of the onboarding request to retrieve.",
            "schema": {
              "type": "number",
              "description": "The ID of the onboarding request to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-organisation": {
      "get": {
        "operationId": "upGuard.get-organisation",
        "summary": "Get Organisation",
        "description": "Retrieves your organisation details from UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-organisation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "automatedScore": {
                            "type": "number"
                          },
                          "categoryScores": {
                            "type": "object",
                            "properties": {
                              "attackSurface": {
                                "type": "number"
                              },
                              "brandReputation": {
                                "type": "number"
                              },
                              "dataLeakage": {
                                "type": "number"
                              },
                              "dns": {
                                "type": "number"
                              },
                              "emailSecurity": {
                                "type": "number"
                              },
                              "encryption": {
                                "type": "number"
                              },
                              "ipDomainReputation": {
                                "type": "number"
                              },
                              "networkSecurity": {
                                "type": "number"
                              },
                              "operationalRisk": {
                                "type": "number"
                              },
                              "vulnerabilityManagement": {
                                "type": "number"
                              },
                              "websiteSecurity": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "primaryHostname": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-portfolio-risk-profile-overview": {
      "get": {
        "operationId": "upGuard.get-portfolio-risk-profile-overview",
        "summary": "Get Portfolio Risk Profile Overview",
        "description": "Retrieves a portfolio risk overview from UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-portfolio-risk-profile-overview"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nextPageToken": {
                            "type": "string"
                          },
                          "risks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "categoryTitle": {
                                  "type": "string"
                                },
                                "dateFirstDetected": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "factCategory": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "numFailedVendors": {
                                  "type": "number"
                                },
                                "riskType": {
                                  "type": "string"
                                },
                                "severity": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-risk-details": {
      "get": {
        "operationId": "upGuard.get-risk-details",
        "summary": "Get Risk Details",
        "description": "Retrieves details for an UpGuard risk.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-risk-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "riskId",
            "in": "query",
            "required": true,
            "description": "ID of the risk to fetch details for",
            "schema": {
              "type": "string",
              "description": "ID of the risk to fetch details for"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "finding": {
                            "type": "string"
                          },
                          "generic": {
                            "type": "boolean"
                          },
                          "group": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "remediation": {
                            "type": "string"
                          },
                          "risk": {
                            "type": "string"
                          },
                          "riskDetails": {
                            "type": "string"
                          },
                          "riskSubtype": {
                            "type": "string"
                          },
                          "riskType": {
                            "type": "string"
                          },
                          "severity": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-vendor-details": {
      "get": {
        "operationId": "upGuard.get-vendor-details",
        "summary": "Get Vendor Details",
        "description": "Retrieves details for a vendor in UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-vendor-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "required": false,
            "description": "The hostname for which to return vendor data when no vendor ID is provided.",
            "schema": {
              "type": "string",
              "description": "The hostname for which to return vendor data when no vendor ID is provided."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentStatus": {
                            "type": "string"
                          },
                          "automatedScore": {
                            "type": "number"
                          },
                          "categoryRiskCounts": {
                            "type": "object",
                            "properties": {
                              "attackSurface": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "brandProtection": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "brandReputation": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dataLeakage": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dns": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "emailSecurity": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "encryption": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "ipDomainReputation": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "networkSecurity": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "operationalRisk": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "phishing": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "questionnaires": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "vulnerabilityManagement": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "websiteSecurity": {
                                "type": "object",
                                "properties": {
                                  "critical": {
                                    "type": "number"
                                  },
                                  "high": {
                                    "type": "number"
                                  },
                                  "low": {
                                    "type": "number"
                                  },
                                  "medium": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "categoryScores": {
                            "type": "object",
                            "properties": {
                              "attackSurface": {
                                "type": "number"
                              },
                              "brandReputation": {
                                "type": "number"
                              },
                              "dataLeakage": {
                                "type": "number"
                              },
                              "dns": {
                                "type": "number"
                              },
                              "emailSecurity": {
                                "type": "number"
                              },
                              "encryption": {
                                "type": "number"
                              },
                              "ipDomainReputation": {
                                "type": "number"
                              },
                              "networkSecurity": {
                                "type": "number"
                              },
                              "operationalRisk": {
                                "type": "number"
                              },
                              "vulnerabilityManagement": {
                                "type": "number"
                              },
                              "websiteSecurity": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "domainCountActive": {
                            "type": "number"
                          },
                          "domainCountInactive": {
                            "type": "number"
                          },
                          "domainCountTotal": {
                            "type": "number"
                          },
                          "firstMonitored": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "industryAverageScore": {
                            "type": "number"
                          },
                          "industryGroup": {
                            "type": "string"
                          },
                          "industrySector": {
                            "type": "string"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "overallRiskCounts": {
                            "type": "object",
                            "properties": {
                              "critical": {
                                "type": "number"
                              },
                              "high": {
                                "type": "number"
                              },
                              "low": {
                                "type": "number"
                              },
                              "medium": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "overallScore": {
                            "type": "number"
                          },
                          "portfolios": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "primaryHostname": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "scoresByEpoch": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attackSurface": {
                                  "type": "number"
                                },
                                "brandReputation": {
                                  "type": "number"
                                },
                                "dataLeakage": {
                                  "type": "number"
                                },
                                "dns": {
                                  "type": "number"
                                },
                                "emailSecurity": {
                                  "type": "number"
                                },
                                "encryption": {
                                  "type": "number"
                                },
                                "epoch": {
                                  "type": "string"
                                },
                                "ipDomainReputation": {
                                  "type": "number"
                                },
                                "networkSecurity": {
                                  "type": "number"
                                },
                                "operationalRisk": {
                                  "type": "number"
                                },
                                "overall": {
                                  "type": "number"
                                },
                                "vulnerabilityManagement": {
                                  "type": "number"
                                },
                                "websiteSecurity": {
                                  "type": "number"
                                },
                                "when": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "tier": {
                            "type": "number"
                          },
                          "vendorMetadata": {
                            "type": "object",
                            "properties": {
                              "employeeCount": {
                                "type": "number"
                              },
                              "legalName": {
                                "type": "string"
                              },
                              "locationCity": {
                                "type": "string"
                              },
                              "locationCountry": {
                                "type": "string"
                              },
                              "locationPostcode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-vendor-questionnaire-metadata": {
      "get": {
        "operationId": "upGuard.get-vendor-questionnaire-metadata",
        "summary": "Get Vendor Questionnaire Metadata",
        "description": "Retrieves metadata for a vendor questionnaire in UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-vendor-questionnaire-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionnaireId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the questionnaire to retrieve.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the questionnaire to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/get-vendor-questionnaire-questions-and-answers": {
      "get": {
        "operationId": "upGuard.get-vendor-questionnaire-questions-and-answers",
        "summary": "Get Vendor Questionnaire Questions And Answers",
        "description": "Retrieves questionnaire questions and answers from UpGuard.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/get-vendor-questionnaire-questions-and-answers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionnaireId",
            "in": "query",
            "required": true,
            "description": "The numeric ID of the questionnaire whose answers should be returned.",
            "schema": {
              "type": "number",
              "description": "The numeric ID of the questionnaire whose answers should be returned."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/list-active-risks": {
      "get": {
        "operationId": "upGuard.list-active-risks",
        "summary": "List Active Risks",
        "description": "Retrieves active risks for your UpGuard account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/list-active-risks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minSeverity",
            "in": "query",
            "required": false,
            "description": "Minimum severity for the risks",
            "schema": {
              "type": "string",
              "description": "Minimum severity for the risks",
              "default": "info"
            }
          },
          {
            "name": "includeMeta",
            "in": "query",
            "required": false,
            "description": "Include metadata for risks",
            "schema": {
              "type": "boolean",
              "description": "Include metadata for risks",
              "default": false
            }
          },
          {
            "name": "includeSources",
            "in": "query",
            "required": false,
            "description": "Include sources for risks, including hostname and IP data when available",
            "schema": {
              "type": "boolean",
              "description": "Include sources for risks, including hostname and IP data when available",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "risks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "finding": {
                                  "type": "string"
                                },
                                "firstDetected": {
                                  "type": "string"
                                },
                                "hostnameCount": {
                                  "type": "number"
                                },
                                "hostnames": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "id": {
                                  "type": "string"
                                },
                                "remediation": {
                                  "type": "string"
                                },
                                "risk": {
                                  "type": "string"
                                },
                                "riskSubtype": {
                                  "type": "string"
                                },
                                "riskType": {
                                  "type": "string"
                                },
                                "severity": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/list-available-risks": {
      "get": {
        "operationId": "upGuard.list-available-risks",
        "summary": "List Available Risks",
        "description": "Retrieves available risk definitions from the UpGuard platform.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/list-available-risks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "finding": {
                            "type": "string"
                          },
                          "generic": {
                            "type": "boolean"
                          },
                          "group": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "remediation": {
                            "type": "string"
                          },
                          "risk": {
                            "type": "string"
                          },
                          "riskDetails": {
                            "type": "string"
                          },
                          "riskSubtype": {
                            "type": "string"
                          },
                          "riskType": {
                            "type": "string"
                          },
                          "severity": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/list-breached-identities": {
      "get": {
        "operationId": "upGuard.list-breached-identities",
        "summary": "List Breached Identities",
        "description": "Retrieves breached identities from your UpGuard account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/list-breached-identities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "breachId",
            "in": "query",
            "required": false,
            "description": "The breach ID to filter on",
            "schema": {
              "type": "string",
              "description": "The breach ID to filter on"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The page_token from a previous request, use this to get the next page of results.",
            "schema": {
              "type": "string",
              "description": "The page_token from a previous request, use this to get the next page of results."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The number of results to return per page.",
            "schema": {
              "type": "number",
              "description": "The number of results to return per page.",
              "default": 1000
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "The value to sort the breached identities by.",
            "schema": {
              "type": "string",
              "description": "The value to sort the breached identities by."
            }
          },
          {
            "name": "sortDesc",
            "in": "query",
            "required": false,
            "description": "Whether or not to sort the results in descending order.",
            "schema": {
              "type": "boolean",
              "description": "Whether or not to sort the results in descending order.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/upGuard/latest/actions/list-domains": {
      "get": {
        "operationId": "upGuard.list-domains",
        "summary": "List Domains",
        "description": "Retrieves domains from your UpGuard account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/upGuard/latest/actions/list-domains"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Retrieve active domains",
            "schema": {
              "type": "boolean",
              "description": "Retrieve active domains",
              "default": true
            }
          },
          {
            "name": "inactive",
            "in": "query",
            "required": false,
            "description": "Retrieve inactive domains",
            "schema": {
              "type": "boolean",
              "description": "Retrieve inactive domains",
              "default": true
            }
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "description": "Filter result by the provided labels",
            "schema": {
              "type": "string",
              "description": "Filter result by the provided labels Pass multiple values separated by `,`."
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "The page_token from a previous request, use this to get the next page of results.",
            "schema": {
              "type": "string",
              "description": "The page_token from a previous request, use this to get the next page of results."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "The number of results to return per page.",
            "schema": {
              "type": "number",
              "description": "The number of results to return per page.",
              "default": 1000
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "The value to sort the domains by.",
            "schema": {
              "type": "string",
              "description": "The value to sort the domains by."
            }
          },
          {
            "name": "sortDesc",
            "in": "query",
            "required": false,
            "description": "Whether or not to sort the results in descending order.",
            "schema": {
              "type": "boolean",
              "description": "Whether or not to sort the results in descending order.",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domains": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "active": {
                                  "type": "boolean"
                                },
                                "automatedScore": {
                                  "type": "number"
                                },
                                "hostname": {
                                  "type": "string"
                                },
                                "primaryDomain": {
[...]
