{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Databricks Universal API",
    "version": "0.0.6",
    "description": "Manage Databricks account and workspace resources through official Databricks REST APIs using OAuth 2.0 service-principal credentials."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/databricks/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/databricks/latest/actions/create-cluster": {
      "post": {
        "operationId": "databricks.create-cluster",
        "summary": "Create Cluster",
        "description": "Creates a new cluster in the Databricks workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/databricks/latest/actions/create-cluster"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "cloneFrom.sourceClusterId",
                  "initScripts",
                  "sparkVersion",
                  "sshPublicKeys",
                  "workloadType.clients"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "applyPolicyDefaultValues": {
                    "type": "boolean",
                    "description": "When set to true, fixed and default values from the policy will be used for fields that are omitted.\nWhen set to false, only fixed values from the policy will be applied."
                  },
                  "autoscale": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "autoscale.maxWorkers": {
                    "type": "number",
                    "description": "The maximum number of workers to which the cluster can scale up when overloaded.\nNote that `max_workers` must be strictly greater than `min_workers`."
                  },
                  "autoscale.minWorkers": {
                    "type": "number",
                    "description": "The minimum number of workers to which the cluster can scale down when underutilized.\nIt is also the initial number of workers the cluster will have after creation."
                  },
                  "autoterminationMinutes": {
                    "type": "number",
                    "description": "Automatically terminates the cluster after it is inactive for this time in minutes. If not set,\nthis cluster will not be automatically terminated. If specified, the threshold must be between\n10 and 10000 minutes.\nUsers can also set this value to 0 to explicitly disable automatic termination."
                  },
                  "awsAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Attributes set during cluster creation which are related to Amazon Web Services."
                  },
                  "awsAttributes.availability": {
                    "type": "string",
                    "description": "Availability type used for all subsequent nodes past the `first_on_demand` ones.\n\nNote: If `first_on_demand` is zero, this availability type will be used for the entire cluster."
                  },
                  "awsAttributes.ebsVolumeCount": {
                    "type": "number",
                    "description": "The number of volumes launched for each instance. Users can choose up to 10 volumes.\nThis feature is only enabled for supported node types. Legacy node types cannot specify\ncustom EBS volumes.\nFor node types with no instance store, at least one EBS volume needs to be specified;\notherwise, cluster creation will fail.\n\nThese EBS volumes will be mounted at `/ebs0`, `/ebs1`, and etc.\nInstance store volumes will be mounted at `/local_disk0`, `/local_disk1`, and etc.\n\nIf EBS volumes are attached, Databricks will configure Spark to use only the EBS volumes for\nscratch storage because heterogenously sized scratch devices can lead to inefficient disk\nutilization. If no EBS volumes are attached, Databricks will configure Spark to use instance\nstore volumes.\n\nPlease note that if EBS volumes are specified, then the Spark configuration `spark.local.dir`\nwill be overridden."
                  },
                  "awsAttributes.ebsVolumeIops": {
                    "type": "number",
                    "description": "If using gp3 volumes, what IOPS to use for the disk. If this is not set, the maximum performance of a gp2 volume with the same volume size will be used."
                  },
                  "awsAttributes.ebsVolumeSize": {
                    "type": "number",
                    "description": "The size of each EBS volume (in GiB) launched for each instance. For general purpose\nSSD, this value must be within the range 100 - 4096. For throughput optimized HDD,\nthis value must be within the range 500 - 4096."
                  },
                  "awsAttributes.ebsVolumeThroughput": {
                    "type": "number",
                    "description": "If using gp3 volumes, what throughput to use for the disk. If this is not set, the maximum performance of a gp2 volume with the same volume size will be used."
                  },
                  "awsAttributes.ebsVolumeType": {
                    "type": "string",
                    "description": "All EBS volume types that Databricks supports.\nSee https://aws.amazon.com/ebs/details/ for details."
                  },
                  "awsAttributes.firstOnDemand": {
                    "type": "number",
                    "description": "The first `first_on_demand` nodes of the cluster will be placed on on-demand instances.\nIf this value is greater than 0, the cluster driver node in particular will be placed on an\non-demand instance. If this value is greater than or equal to the current cluster size, all\nnodes will be placed on on-demand instances. If this value is less than the current cluster\nsize, `first_on_demand` nodes will be placed on on-demand instances and the remainder will\nbe placed on `availability` instances. Note that this value does not affect\ncluster size and cannot currently be mutated over the lifetime of a cluster."
                  },
                  "awsAttributes.instanceProfileArn": {
                    "type": "string",
                    "description": "Nodes for this cluster will only be placed on AWS instances with this instance profile. If\nommitted, nodes will be placed on instances without an IAM instance profile. The instance\nprofile must have previously been added to the Databricks environment by an account\nadministrator.\n\nThis feature may only be available to certain customer plans."
                  },
                  "awsAttributes.spotBidPricePercent": {
                    "type": "number",
                    "description": "The bid price for AWS spot instances, as a percentage of the corresponding instance type's\non-demand price.\nFor example, if this field is set to 50, and the cluster needs a new `r3.xlarge` spot\ninstance, then the bid price is half of the price of\non-demand `r3.xlarge` instances. Similarly, if this field is set to 200, the bid price is twice\nthe price of on-demand `r3.xlarge` instances. If not specified, the default value is 100.\nWhen spot instances are requested for this cluster, only spot instances whose bid price\npercentage matches this field will be considered.\nNote that, for safety, we enforce this field to be no more than 10000."
                  },
                  "awsAttributes.zoneId": {
                    "type": "string",
                    "description": "Identifier for the availability zone/datacenter in which the cluster resides.\nThis string will be of a form like \"us-west-2a\". The provided availability\nzone must be in the same region as the Databricks deployment. For example, \"us-west-2a\"\nis not a valid zone id if the Databricks deployment resides in the \"us-east-1\" region.\nThis is an optional field at cluster creation, and if not specified, the zone \"auto\" will be used.\nIf the zone specified is \"auto\", will try to place cluster in a zone with high availability,\nand will retry placement in a different AZ if there is not enough capacity.\n\nThe list of available zones as well as the default value can be found by using the\n`List Zones` method."
                  },
                  "cloneFrom": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "cloneFrom.sourceClusterId": {
                    "type": "string",
                    "description": "The cluster that is being cloned."
                  },
                  "clusterLogConf": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Cluster log delivery config"
                  },
                  "clusterLogConf.dbfs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A storage location in DBFS"
                  },
                  "clusterLogConf.s3": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A storage location in Amazon S3"
                  },
                  "clusterLogConf.volumes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A storage location back by UC Volumes."
                  },
                  "clusterName": {
                    "type": "string",
                    "description": "Cluster name requested by the user. This doesn't have to be unique.\nIf not specified at creation, the cluster name will be an empty string.\nFor job clusters, the cluster name is automatically set based on the job and job run IDs."
                  },
                  "customTags": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional tags for cluster resources. Databricks will tag all cluster resources (e.g., AWS\ninstances and EBS volumes) with these tags in addition to `default_tags`. Notes:\n\n- Currently, Databricks allows at most 45 custom tags\n\n- Clusters can only reuse cloud resources if the resources' tags are a subset of the cluster tags"
                  },
                  "dataSecurityMode": {
                    "type": "string",
                    "description": "Data security mode decides what data governance model to use when accessing data\nfrom a cluster.\n\nThe following modes can only be used when `kind = CLASSIC_PREVIEW`.\n* `DATA_SECURITY_MODE_AUTO`: Databricks will choose the most appropriate access mode depending on your compute configuration.\n* `DATA_SECURITY_MODE_STANDARD`: Alias for `USER_ISOLATION`.\n* `DATA_SECURITY_MODE_DEDICATED`: Alias for `SINGLE_USER`.\n\nThe following modes can be used regardless of `kind`.\n* `NONE`: No security isolation for multiple users sharing the cluster. Data governance features are not available in this mode.\n* `SINGLE_USER`: A secure cluster that can only be exclusively used by a single user specified in `single_user_name`. Most programming languages, cluster features and data governance features are available in this mode.\n* `USER_ISOLATION`: A secure cluster that can be shared by multiple users. Cluster users are fully isolated so that they cannot see each other's data and credentials. Most data governance features are supported in this mode. But programming languages and cluster features might be limited.\n\nThe following modes are deprecated starting with Databricks Runtime 15.0 and\nwill be removed for future Databricks Runtime versions:\n\n* `LEGACY_TABLE_ACL`: This mode is for users migrating from legacy Table ACL clusters.\n* `LEGACY_PASSTHROUGH`: This mode is for users migrating from legacy Passthrough on high concurrency clusters.\n* `LEGACY_SINGLE_USER`: This mode is for users migrating from legacy Passthrough on standard clusters.\n* `LEGACY_SINGLE_USER_STANDARD`: This mode provides a way that doesnât have UC nor passthrough enabled."
                  },
                  "dockerImage": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "dockerImage.basicAuth": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "dockerImage.url": {
                    "type": "string",
                    "description": "URL of the docker image."
                  },
                  "driverInstancePoolId": {
                    "type": "string",
                    "description": "The optional ID of the instance pool for the driver of the cluster belongs.\nThe pool cluster uses the instance pool with id (instance_pool_id) if the driver pool is not\nassigned."
                  },
                  "driverNodeTypeFlexibility": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Configuration for flexible node types, allowing fallback to alternate node types during cluster launch and upscale."
                  },
                  "driverNodeTypeFlexibility.alternateNodeTypeIds": {
                    "type": "string",
                    "description": "A list of node type IDs to use as fallbacks when the primary node type is unavailable."
                  },
                  "driverNodeTypeId": {
                    "type": "string",
                    "description": "The node type of the Spark driver.\nNote that this field is optional; if unset, the driver node type will be set as the same value\nas `node_type_id` defined above.\n\nThis field, along with node_type_id, should not be set if virtual_cluster_size is set.\nIf both driver_node_type_id, node_type_id, and virtual_cluster_size are specified, driver_node_type_id and node_type_id take precedence."
                  },
                  "enableElasticDisk": {
                    "type": "boolean",
                    "description": "Autoscaling Local Storage: when enabled, this cluster will dynamically acquire additional disk\nspace when its Spark workers are running low on disk space.  This feature requires specific AWS\npermissions to function correctly - refer to the User Guide for more details."
                  },
                  "enableLocalDiskEncryption": {
                    "type": "boolean",
                    "description": "Whether to enable LUKS on cluster VMs' local disks"
                  },
                  "initScripts": {
                    "type": "string",
                    "description": "The configuration for storing init scripts. Any number of destinations can be specified.\nThe scripts are executed sequentially in the order provided.\nIf `cluster_log_conf` is specified, init script logs are sent to `<destination>/<cluster-ID>/init_scripts`."
                  },
                  "instancePoolId": {
                    "type": "string",
                    "description": "The optional ID of the instance pool to which the cluster belongs."
                  },
                  "isSingleNode": {
                    "type": "boolean",
                    "description": "This field can only be used when `kind = CLASSIC_PREVIEW`.\n\nWhen set to true, Databricks will automatically set single node related `custom_tags`, `spark_conf`, and `num_workers`"
                  },
                  "kind": {
                    "type": "string",
                    "description": "The kind of compute described by this compute specification.\n\nDepending on `kind`, different validations and default values will be applied.\n\nClusters with `kind = CLASSIC_PREVIEW` support the following fields, whereas clusters with no specified `kind` do not.\n* [is_single_node](/api/workspace/clusters/create#is_single_node)\n* [use_ml_runtime](/api/workspace/clusters/create#use_ml_runtime)\n* [data_security_mode](/api/workspace/clusters/create#data_security_mode) set to `DATA_SECURITY_MODE_AUTO`, `DATA_SECURITY_MODE_DEDICATED`, or `DATA_SECURITY_MODE_STANDARD`\n\nBy using the [simple form](https://docs.databricks.com/compute/simple-form.html), your clusters are automatically using `kind = CLASSIC_PREVIEW`."
                  },
                  "nodeTypeId": {
                    "type": "string",
                    "description": "This field encodes, through a single value, the resources available to each of\nthe Spark nodes in this cluster. For example, the Spark nodes can be provisioned\nand optimized for memory or compute intensive workloads. A list of available node\ntypes can be retrieved by using the :method:clusters/listNodeTypes API call."
                  },
                  "numWorkers": {
                    "type": "number",
                    "description": "Number of worker nodes that this cluster should have. A cluster has one Spark Driver\nand `num_workers` Executors for a total of `num_workers` + 1 Spark nodes.\n\nNote: When reading the properties of a cluster, this field reflects the desired number\nof workers rather than the actual current number of workers. For instance, if a cluster\nis resized from 5 to 10 workers, this field will immediately be updated to reflect\nthe target size of 10 workers, whereas the workers listed in `spark_info` will gradually\nincrease from 5 to 10 as the new nodes are provisioned."
                  },
                  "policyId": {
                    "type": "string",
                    "description": "The ID of the cluster policy used to create the cluster if applicable."
                  },
                  "runtimeEngine": {
                    "type": "string"
                  },
                  "singleUserName": {
                    "type": "string",
                    "description": "Single user name if data_security_mode is `SINGLE_USER`"
                  },
                  "sparkConf": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An object containing a set of optional, user-specified Spark configuration key-value pairs.\nUsers can also pass in a string of extra JVM options to the driver and the executors via\n`spark.driver.extraJavaOptions` and `spark.executor.extraJavaOptions` respectively."
                  },
                  "sparkEnvVars": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An object containing a set of optional, user-specified environment variable key-value pairs.\nPlease note that key-value pair of the form (X,Y) will be exported as is (i.e.,\n`export X='Y'`) while launching the driver and workers.\n\nIn order to specify an additional set of `SPARK_DAEMON_JAVA_OPTS`, we recommend appending\nthem to `$SPARK_DAEMON_JAVA_OPTS` as shown in the example below. This ensures that all\ndefault databricks managed environmental variables are included as well.\n\nExample Spark environment variables:\n`{\"SPARK_WORKER_MEMORY\": \"28000m\", \"SPARK_LOCAL_DIRS\": \"/local_disk0\"}` or\n`{\"SPARK_DAEMON_JAVA_OPTS\": \"$SPARK_DAEMON_JAVA_OPTS -Dspark.shuffle.service.enabled=true\"}`"
                  },
                  "sparkVersion": {
                    "type": "string",
                    "description": "The Spark version of the cluster, e.g. `3.3.x-scala2.11`.\nA list of available Spark versions can be retrieved by using\nthe :method:clusters/sparkVersions API call."
                  },
                  "sshPublicKeys": {
                    "type": "string",
                    "description": "SSH public key contents that will be added to each Spark node in this cluster. The\ncorresponding private keys can be used to login with the user name `ubuntu` on port `2200`.\nUp to 10 keys can be specified."
                  },
                  "useMlRuntime": {
                    "type": "boolean",
                    "description": "This field can only be used when `kind = CLASSIC_PREVIEW`.\n\n`effective_spark_version` is determined by `spark_version` (DBR release), this field `use_ml_runtime`, and whether `node_type_id` is gpu node or not."
                  },
                  "workerNodeTypeFlexibility": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Configuration for flexible node types, allowing fallback to alternate node types during cluster launch and upscale."
                  },
                  "workerNodeTypeFlexibility.alternateNodeTypeIds": {
                    "type": "string",
                    "description": "A list of node type IDs to use as fallbacks when the primary node type is unavailable."
                  },
                  "workloadType": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Cluster Attributes showing for clusters workload types."
                  },
                  "workloadType.clients": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cluster_id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/databricks/latest/actions/create-group": {
      "post": {
        "operationId": "databricks.create-group",
        "summary": "Create Group",
        "description": "Creates a new group in the Databricks account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/databricks/latest/actions/create-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "members",
                  "roles"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "displayname": {
                    "type": "string",
                    "description": "String that represents a human-readable group name"
                  },
                  "externalid": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Databricks group ID"
                  },
                  "members": {
                    "type": "string"
                  },
                  "members[].ref": {
                    "type": "string"
                  },
                  "members[].display": {
                    "type": "string"
                  },
                  "members[].primary": {
                    "type": "boolean"
                  },
                  "members[].type": {
                    "type": "string"
                  },
                  "members[].value": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "string",
                    "description": "Indicates if the group has the admin role."
                  },
                  "roles[].ref": {
                    "type": "string"
                  },
                  "roles[].display": {
                    "type": "string"
                  },
                  "roles[].primary": {
                    "type": "boolean"
                  },
                  "roles[].type": {
                    "type": "string"
                  },
                  "roles[].value": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string",
                            "description": "Databricks account ID"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "String that represents a human-readable group name"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "external_id should be unique for identifying groups"
                          },
                          "id": {
                            "type": "string",
                            "description": "Databricks group ID"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "$ref": {
                                  "type": "string"
                                },
                                "display": {
                                  "type": "string"
                                },
                                "primary": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "$ref": {
                                  "type": "string"
                                },
                                "display": {
                                  "type": "string"
                                },
                                "primary": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false,
                              "description": "Indicates if the group has the admin role."
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/databricks/latest/actions/create-job": {
      "post": {
        "operationId": "databricks.create-job",
        "summary": "Create Job",
        "description": "Creates a new job in the Databricks workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/databricks/latest/actions/create-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accessControlList",
                  "deployment.kind",
                  "environments",
                  "environments[].environmentKey",
                  "gitSource.gitProvider",
                  "gitSource.gitUrl",
                  "environments[].spec.dependencies",
                  "environments[].spec.javaDependencies",
                  "jobClusters",
                  "parameters",
                  "queue.enabled",
                  "gitSource.sparseCheckout.patterns",
                  "health.rules[].metric",
                  "health.rules[].op",
                  "health.rules[].value",
                  "schedule.quartzCronExpression",
                  "schedule.timezoneId",
                  "jobClusters[].jobClusterKey",
                  "jobClusters[].newCluster",
                  "tasks"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accessControlList": {
                    "type": "string",
                    "description": "List of permissions to set on the job."
                  },
                  "jobClusters[].newCluster.clusterName": {
                    "type": "string",
                    "description": "Cluster name requested by the user. This doesn't have to be unique.\nIf not specified at creation, the cluster name will be an empty string.\nFor job clusters, the cluster name is automatically set based on the job and job run IDs."
                  },
                  "accessControlList[].groupName": {
                    "type": "string",
                    "description": "name of the group"
                  },
                  "budgetPolicyId": {
                    "type": "string",
                    "description": "The id of the user specified budget policy to use for this job.\nIf not specified, a default budget policy may be applied when creating or modifying the job.\nSee `effective_budget_policy_id` for the budget policy used by this workload."
                  },
                  "accessControlList[].permissionLevel": {
                    "type": "string",
                    "description": "Permission level"
                  },
                  "continuous": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "accessControlList[].servicePrincipalName": {
                    "type": "string",
                    "description": "application ID of a service principal"
                  },
                  "continuous.pauseStatus": {
                    "type": "string"
                  },
                  "accessControlList[].userName": {
                    "type": "string",
                    "description": "name of the user"
                  },
                  "continuous.taskRetryMode": {
                    "type": "string",
                    "description": "task retry mode of the continuous job\n* NEVER: The failed task will not be retried.\n* ON_FAILURE: Retry a failed task if at least one other task in the job is still running its first attempt.\nWhen this condition is no longer met or the retry limit is reached, the job run is cancelled and a new run is started."
                  },
                  "deployment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "deployment.kind": {
                    "type": "string",
                    "description": "* `BUNDLE`: The job is managed by Databricks Asset Bundle.\n* `SYSTEM_MANAGED`: The job is managed by Databricks and is read-only."
                  },
                  "deployment.metadataFilePath": {
                    "type": "string",
                    "description": "Path of the file that contains deployment metadata."
                  },
                  "description": {
                    "type": "string",
                    "description": "An optional description for the job. The maximum length is 27700 characters in UTF-8 encoding."
                  },
                  "editMode": {
                    "type": "string",
                    "description": "Edit mode of the job.\n\n* `UI_LOCKED`: The job is in a locked UI state and cannot be modified.\n* `EDITABLE`: The job is in an editable state and can be modified."
                  },
                  "emailNotifications": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "emailNotifications.noAlertForSkippedRuns": {
                    "type": "boolean",
                    "description": "If true, do not send email to recipients specified in `on_failure` if the run is skipped.\nThis field is `deprecated`. Please use the `notification_settings.no_alert_for_skipped_runs` field."
                  },
                  "emailNotifications.onDurationWarningThresholdExceeded": {
                    "type": "string",
                    "description": "A list of email addresses to be notified when the duration of a run exceeds the threshold specified for the `RUN_DURATION_SECONDS` metric in the `health` field. If no rule for the `RUN_DURATION_SECONDS` metric is specified in the `health` field for the job, notifications are not sent."
                  },
                  "emailNotifications.onFailure": {
                    "type": "string",
                    "description": "A list of email addresses to be notified when a run unsuccessfully completes. A run is considered to have completed unsuccessfully if it ends with an `INTERNAL_ERROR` `life_cycle_state` or a `FAILED`, or `TIMED_OUT` result_state. If this is not specified on job creation, reset, or update the list is empty, and notifications are not sent."
                  },
                  "emailNotifications.onStart": {
                    "type": "string",
                    "description": "A list of email addresses to be notified when a run begins. If not specified on job creation, reset, or update, the list is empty, and notifications are not sent."
                  },
                  "emailNotifications.onStreamingBacklogExceeded": {
                    "type": "string",
                    "description": "A list of email addresses to notify when any streaming backlog thresholds are exceeded for any stream.\nStreaming backlog thresholds can be set in the `health` field using the following metrics: `STREAMING_BACKLOG_BYTES`, `STREAMING_BACKLOG_RECORDS`, `STREAMING_BACKLOG_SECONDS`, or `STREAMING_BACKLOG_FILES`.\nAlerting is based on the 10-minute average of these metrics. If the issue persists, notifications are resent every 30 minutes."
                  },
                  "emailNotifications.onSuccess": {
                    "type": "string",
                    "description": "A list of email addresses to be notified when a run successfully completes. A run is considered to have completed successfully if it ends with a `TERMINATED` `life_cycle_state` and a `SUCCESS` result_state. If not specified on job creation, reset, or update, the list is empty, and notifications are not sent."
                  },
                  "environments": {
                    "type": "string",
                    "description": "A list of task execution environment specifications that can be referenced by serverless tasks of this job.\nFor serverless notebook tasks, if the environment_key is not specified, the notebook environment will be used if present. If a jobs environment is specified, it will override the notebook environment.\nFor other serverless tasks, the task environment is required to be specified using environment_key in the task settings."
                  },
                  "format": {
                    "type": "string"
                  },
                  "gitSource": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An optional specification for a remote Git repository containing the source code used by tasks. Version-controlled source code is supported by notebook, dbt, Python script, and SQL File tasks.\n\nIf `git_source` is set, these tasks retrieve the file from the remote repository by default. However, this behavior can be overridden by setting `source` to `WORKSPACE` on the task.\n\nNote: dbt and SQL File tasks support only version-controlled sources. If dbt or SQL File tasks are used, `git_source` must be defined on the job."
                  },
                  "gitSource.gitBranch": {
                    "type": "string",
                    "description": "Name of the branch to be checked out and used by this job. This field cannot be specified in conjunction with git_tag or git_commit."
                  },
                  "gitSource.gitCommit": {
                    "type": "string",
                    "description": "Commit to be checked out and used by this job. This field cannot be specified in conjunction with git_branch or git_tag."
                  },
                  "environments[].environmentKey": {
                    "type": "string",
                    "description": "The key of an environment. It has to be unique within a job."
                  },
                  "gitSource.gitProvider": {
                    "type": "string"
                  },
                  "environments[].spec": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The environment entity used to preserve serverless environment side panel, jobs' environment for non-notebook task, and DLT's environment for classic and serverless pipelines.\nIn this minimal environment spec, only pip and java dependencies are supported."
                  },
                  "gitSource.gitSnapshot": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Read-only state of the remote repository at the time the job was run. This field is only included on job runs."
                  },
                  "environments[].spec.baseEnvironment": {
                    "type": "string",
                    "description": "The `base_environment` key refers to an `env.yaml` file that specifies an environment version and a collection of dependencies required for the environment setup.\nThis `env.yaml` file may itself include a `base_environment` reference pointing to another `env_1.yaml` file. However, when used as a base environment, `env_1.yaml` (or further nested references) will not be processed or included in the final environment, meaning that the resolution of `base_environment` references is not recursive."
                  },
                  "gitSource.gitTag": {
                    "type": "string",
                    "description": "Name of the tag to be checked out and used by this job. This field cannot be specified in conjunction with git_branch or git_commit."
                  },
                  "environments[].spec.client": {
                    "type": "string",
                    "description": "Use `environment_version` instead."
                  },
                  "gitSource.gitUrl": {
                    "type": "string",
                    "description": "URL of the repository to be cloned by this job."
                  },
                  "environments[].spec.dependencies": {
                    "type": "string",
                    "description": "List of pip dependencies, as supported by the version of pip in this environment.\nEach dependency is a valid pip requirements file line per https://pip.pypa.io/en/stable/reference/requirements-file-format/.\nAllowed dependencies include a requirement specifier, an archive URL, a local project path (such as WSFS or UC Volumes in Databricks), or a VCS project URL."
                  },
                  "gitSource.sparseCheckout": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "environments[].spec.environmentVersion": {
                    "type": "string",
                    "description": "Either `environment_version` or `base_environment` needs to be provided. Environment version used by the environment.\nEach version comes with a specific Python version and a set of Python packages.\nThe version is a string, consisting of an integer.\nSee https://docs.databricks.com/aws/release-notes/serverless/#serverless-environment-versions."
                  },
                  "health": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "An optional set of health rules that can be defined for this job."
                  },
                  "environments[].spec.javaDependencies": {
                    "type": "string",
                    "description": "List of java dependencies. Each dependency is a string representing a java library path. For example: `/Volumes/path/to/test.jar`.\nSee https://docs.databricks.com/aws/en/jobs/jar."
                  },
                  "health.rules": {
                    "type": "string"
                  },
                  "jobClusters": {
                    "type": "string",
                    "description": "A list of job cluster specifications that can be shared and reused by tasks of this job. Libraries cannot be declared in a shared job cluster. You must declare dependent libraries in task settings."
                  },
                  "maxConcurrentRuns": {
                    "type": "number",
                    "description": "An optional maximum allowed number of concurrent runs of the job.\nSet this value if you want to be able to execute multiple runs of the same job concurrently.\nThis is useful for example if you trigger your job on a frequent schedule and want to allow consecutive runs to overlap with each other, or if you want to trigger multiple runs which differ by their input parameters.\nThis setting affects only new runs. For example, suppose the jobâs concurrency is 4 and there are 4 concurrent active runs. Then setting the concurrency to 3 wonât kill any of the active runs.\nHowever, from then on, new runs are skipped unless there are fewer than 3 active runs.\nThis value cannot exceed 1000. Setting this value to `0` causes all new runs to be skipped."
                  },
                  "name": {
                    "type": "string",
                    "description": "An optional name for the job. The maximum length is 4096 bytes in UTF-8 encoding."
                  },
                  "notificationSettings": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "notificationSettings.noAlertForCanceledRuns": {
                    "type": "boolean",
                    "description": "If true, do not send notifications to recipients specified in `on_failure` if the run is canceled."
                  },
                  "notificationSettings.noAlertForSkippedRuns": {
                    "type": "boolean",
                    "description": "If true, do not send notifications to recipients specified in `on_failure` if the run is skipped."
                  },
                  "gitSource.gitSnapshot.usedCommit": {
                    "type": "string",
                    "description": "Commit that was used to execute the run. If git_branch was specified, this points to the HEAD of the branch at the time of the run; if git_tag was specified, this points to the commit the tag points to."
                  },
                  "parameters": {
                    "type": "string",
                    "description": "Job-level parameter definitions"
                  },
                  "performanceTarget": {
                    "type": "string",
                    "description": "PerformanceTarget defines how performant (lower latency) or cost efficient the execution of run on serverless compute should be.\nThe performance mode on the job or pipeline should map to a performance setting that is passed to Cluster Manager\n(see cluster-common PerformanceTarget)."
                  },
                  "queue": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "queue.enabled": {
                    "type": "boolean",
                    "description": "If true, enable queueing for the job. This is a required field."
                  },
                  "gitSource.sparseCheckout.patterns": {
                    "type": "string",
                    "description": "List of patterns to include for sparse checkout."
                  },
                  "runAs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Write-only setting. Specifies the user or service principal that the job runs as. If not specified, the job runs as the user who created the job.\n\nEither `user_name` or `service_principal_name` should be specified. If not, an error is thrown."
                  },
                  "runAs.servicePrincipalName": {
                    "type": "string",
                    "description": "Application ID of an active service principal. Setting this field requires the `servicePrincipal/user` role."
                  },
                  "runAs.userName": {
                    "type": "string",
                    "description": "The email of an active workspace user. Non-admin users can only set this field to their own email."
                  },
                  "health.rules[].metric": {
                    "type": "string",
                    "description": "Specifies the health metric that is being evaluated for a particular health rule.\n\n* `RUN_DURATION_SECONDS`: Expected total time for a run in seconds.\n* `STREAMING_BACKLOG_BYTES`: An estimate of the maximum bytes of data waiting to be consumed across all streams. This metric is in Public Preview.\n* `STREAMING_BACKLOG_RECORDS`: An estimate of the maximum offset lag across all streams. This metric is in Public Preview.\n* `STREAMING_BACKLOG_SECONDS`: An estimate of the maximum consumer delay across all streams. This metric is in Public Preview.\n* `STREAMING_BACKLOG_FILES`: An estimate of the maximum number of outstanding files across all streams. This metric is in Public Preview."
                  },
                  "schedule": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "health.rules[].op": {
                    "type": "string",
                    "description": "Specifies the operator used to compare the health metric value with the specified threshold."
                  },
                  "schedule.pauseStatus": {
                    "type": "string"
                  },
                  "health.rules[].value": {
                    "type": "number",
                    "description": "Specifies the threshold value that the health metric should obey to satisfy the health rule."
                  },
                  "schedule.quartzCronExpression": {
                    "type": "string",
                    "description": "A Cron expression using Quartz syntax that describes the schedule for a job. See [Cron Trigger](http://www.quartz-scheduler.org/documentation/quartz-2.3.0/tutorials/crontrigger.html) for details. This field is required."
                  },
                  "schedule.timezoneId": {
                    "type": "string",
                    "description": "A Java timezone ID. The schedule for a job is resolved with respect to this timezone. See [Java TimeZone](https://docs.oracle.com/javase/7/docs/api/java/util/TimeZone.html) for details. This field is required."
                  },
                  "jobClusters[].jobClusterKey": {
                    "type": "string",
                    "description": "A unique name for the job cluster. This field is required and must be unique within the job.\n`JobTaskSettings` may refer to this field to determine which cluster to launch for the task execution."
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A map of tags associated with the job. These are forwarded to the cluster as cluster tags for jobs clusters, and are subject to the same limitations as cluster tags. A maximum of 25 tags can be added to the job."
                  },
                  "jobClusters[].newCluster": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Contains a snapshot of the latest user specified settings that were used to create/edit the cluster."
                  },
                  "tasks": {
                    "type": "string",
                    "description": "A list of task specifications to be executed by this job.\nIt supports up to 1000 elements in write endpoints (:method:jobs/create, :method:jobs/reset, :method:jobs/update, :method:jobs/submit).\nRead endpoints return only 100 tasks. If more than 100 tasks are available, you can paginate through them using :method:jobs/get. Use the `next_page_token` field at the object root to determine if more results are available."
                  },
                  "jobClusters[].newCluster.applyPolicyDefaultValues": {
                    "type": "boolean",
                    "description": "When set to true, fixed and default values from the policy will be used for fields that are omitted. When set to false, only fixed values from the policy will be applied."
                  },
                  "timeoutSeconds": {
                    "type": "number",
                    "description": "An optional timeout applied to each run of this job. A value of `0` means no timeout."
                  },
                  "jobClusters[].newCluster.autoscale": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "trigger": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "jobClusters[].newCluster.autoscale.maxWorkers": {
                    "type": "number",
                    "description": "The maximum number of workers to which the cluster can scale up when overloaded.\nNote that `max_workers` must be strictly greater than `min_workers`."
                  },
                  "trigger.fileArrival": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "jobClusters[].newCluster.autoscale.minWorkers": {
                    "type": "number",
                    "description": "The minimum number of workers to which the cluster can scale down when underutilized.\nIt is also the initial number of workers the cluster will have after creation."
                  },
                  "trigger.pauseStatus": {
                    "type": "string"
                  },
                  "jobClusters[].newCluster.autoterminationMinutes": {
                    "type": "number",
                    "description": "Automatically terminates the cluster after it is inactive for this time in minutes. If not set,\nthis cluster will not be automatically terminated. If specified, the threshold must be between\n10 and 10000 minutes.\nUsers can also set this value to 0 to explicitly disable automatic termination."
                  },
                  "trigger.periodic": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "jobClusters[].newCluster.awsAttributes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Attributes set during cluster creation which are related to Amazon Web Services."
                  },
                  "trigger.tableUpdate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "jobClusters[].newCluster.awsAttributes.availability": {
                    "type": "string",
                    "description": "Availability type used for all subsequent nodes past the `first_on_demand` ones.\n\nNote: If `first_on_demand` is zero, this availability type will be used for the entire cluster."
                  },
                  "webhookNotifications": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "jobClusters[].newCluster.awsAttributes.ebsVolumeCount": {
                    "type": "number",
                    "description": "The number of volumes launched for each instance. Users can choose up to 10 volumes.\nThis feature is only enabled for supported node types. Legacy node types cannot specify\ncustom EBS volumes.\nFor node types with no instance store, at least one EBS volume needs to be specified;\notherwise, cluster creation will fail.\n\nThese EBS volumes will be mounted at `/ebs0`, `/ebs1`, and etc.\nInstance store volumes will be mounted at `/local_disk0`, `/local_disk1`, and etc.\n\nIf EBS volumes are attached, Databricks will configure Spark to use only the EBS volumes for\nscratch storage because heterogenously sized scratch devices can lead to inefficient disk\nutilization. If no EBS volumes are attached, Databricks will configure Spark to use instance\nstore volumes.\n\nPlease note that if EBS volumes are specified, then the Spark configuration `spark.local.dir`\nwill be overridden."
                  },
                  "webhookNotifications.onDurationWarningThresholdExceeded": {
                    "type": "string",
                    "description": "An optional list of system notification IDs to call when the duration of a run exceeds the threshold specified for the `RUN_DURATION_SECONDS` metric in the `health` field. A maximum of 3 destinations can be specified for the `on_duration_warning_threshold_exceeded` property."
                  },
                  "jobClusters[].newCluster.awsAttributes.ebsVolumeIops": {
                    "type": "number",
                    "description": "If using gp3 volumes, what IOPS to use for the disk. If this is not set, the maximum performance of a gp2 volume with the same volume size will be used."
                  },
                  "webhookNotifications.onFailure": {
                    "type": "string",
                    "description": "An optional list of system notification IDs to call when the run fails. A maximum of 3 destinations can be specified for the `on_failure` property."
                  },
                  "jobClusters[].newCluster.awsAttributes.ebsVolumeSize": {
                    "type": "number",
                    "description": "The size of each EBS volume (in GiB) launched for each instance. For general purpose\nSSD, this value must be within the range 100 - 4096. For throughput optimized HDD,\nthis value must be within the range 500 - 4096."
                  },
                  "webhookNotifications.onStart": {
                    "type": "string",
                    "description": "An optional list of system notification IDs to call when the run starts. A maximum of 3 destinations can be specified for the `on_start` property."
                  },
                  "jobClusters[].newCluster.awsAttributes.ebsVolumeThroughput": {
                    "type": "number",
                    "description": "If using gp3 volumes, what throughput to use for the disk. If this is not set, the maximum performance of a gp2 volume with the same volume size will be used."
                  },
                  "webhookNotifications.onStreamingBacklogExceeded": {
                    "type": "string",
                    "description": "An optional list of system notification IDs to call when any streaming backlog thresholds are exceeded for any stream.\nStreaming backlog thresholds can be set in the `health` field using the following metrics: `STREAMING_BACKLOG_BYTES`, `STREAMING_BACKLOG_RECORDS`, `STREAMING_BACKLOG_SECONDS`, or `STREAMING_BACKLOG_FILES`.\nAlerting is based on the 10-minute average of these metrics. If the issue persists, notifications are resent every 30 minutes.\nA maximum of 3 destinations can be specified for the `on_streaming_backlog_exceeded` property."
                  },
                  "jobClusters[].newCluster.awsAttributes.ebsVolumeType": {
                    "type": "string",
                    "description": "All EBS volume types that Databricks supports.\nSee https://aws.amazon.com/ebs/details/ for details."
                  },
                  "webhookNotifications.onSuccess": {
                    "type": "string",
                    "description": "An optional list of system notification IDs to call when the run completes successfully. A maximum of 3 destinations can be specified for the `on_success` property."
                  },
                  "jobClusters[].newCluster.awsAttributes.firstOnDemand": {
                    "type": "number",
                    "description": "The first `first_on_demand` nodes of the cluster will be placed on on-demand instances.\nIf this value is greater than 0, the cluster driver node in particular will be placed on an\non-demand instance. If this value is greater than or equal to the current cluster size, all\nnodes will be placed on on-demand instances. If this value is less than the current cluster\nsize, `first_on_demand` nodes will be placed on on-demand instances and the remainder will\nbe placed on `availability` instances. Note that this value does not affect\ncluster size and cannot currently be mutated over the lifetime of a cluster."
                  },
                  "jobClusters[].newCluster.awsAttributes.instanceProfileArn": {
                    "type": "string",
                    "description": "Nodes for this cluster will only be placed on AWS instances with this instance profile. If\nommitted, nodes will be placed on instances without an IAM instance profile. The instance\nprofile must have previously been added to the Databricks environment by an account\nadministrator.\n\nThis feature may only be available to certain customer plans."
                  },
                  "jobClusters[].newCluster.awsAttributes.spotBidPricePercent": {
                    "type": "number",
                    "description": "The bid price for AWS spot instances, as a percentage of the corresponding instance type's\non-demand price.\nFor example, if this field is set to 50, and the cluster needs a new `r3.xlarge` spot\ninstance, then the bid price is half of the price of\non-demand `r3.xlarge` instances. Similarly, if this field is set to 200, the bid price is twice\nthe price of on-demand `r3.xlarge` instances. If not specified, the default value is 100.\nWhen spot instances are requested for this cluster, only spot instances whose bid price\npercentage matches this field will be considered.\nNote that, for safety, we enforce this field to be no more than 10000."
                  },
                  "jobClusters[].newCluster.awsAttributes.zoneId": {
                    "type": "string",
                    "description": "Identifier for the availability zone/datacenter in which the cluster resides.\nThis string will be of a form like \"us-west-2a\". The provided availability\nzone must be in the same region as the Databricks deployment. For example, \"us-west-2a\"\nis not a valid zone id if the Databricks deployment resides in the \"us-east-1\" region.\nThis is an optional field at cluster creation, and if not specified, the zone \"auto\" will be used.\nIf the zone specified is \"auto\", will try to place cluster in a zone with high availability,\nand will retry placement in a different AZ if there is not enough capacity.\n\nThe list of available zones as well as the default value can be found by using the\n`List Zones` method."
                  },
                  "jobClusters[].newCluster.clusterLogConf": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Cluster log delivery config"
                  },
                  "jobClusters[].newCluster.clusterLogConf.dbfs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A storage location in DBFS"
                  },
                  "jobClusters[].newCluster.clusterLogConf.s3": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A storage location in Amazon S3"
                  },
                  "jobClusters[].newCluster.clusterLogConf.volumes": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A storage location back by UC Volumes."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "job_id": {
                            "type": "number",
                            "description": "The canonical identifier for the newly created job."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/databricks/latest/actions/create-pipeline": {
      "post": {
        "operationId": "databricks.create-pipeline",
        "summary": "Create Pipeline",
        "description": "Creates a new pipeline in the Databricks workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/databricks/latest/actions/create-pipeline"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clusters",
                  "deployment.kind",
                  "libraries",
                  "notifications"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "allowDuplicateNames": {
                    "type": "boolean",
                    "description": "If false, deployment will fail if name conflicts with that of another pipeline."
                  },
                  "budgetPolicyId": {
                    "type": "string",
                    "description": "Budget policy of this pipeline."
                  },
                  "catalog": {
                    "type": "string",
                    "description": "A catalog in Unity Catalog to publish data from this pipeline to. If `target` is specified, tables in this pipeline are published to a `target` schema inside `catalog` (for example, `catalog`.`target`.`table`). If `target` is not specified, no data is published to Unity Catalog."
                  },
                  "channel": {
                    "type": "string",
                    "description": "DLT Release Channel that specifies which version to use."
                  },
                  "clusters": {
                    "type": "string",
                    "description": "Cluster settings for this pipeline deployment."
                  },
                  "configuration": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "String-String configuration for this pipeline execution."
                  },
                  "continuous": {
                    "type": "boolean",
                    "description": "Whether the pipeline is continuous or triggered. This replaces `trigger`."
                  },
                  "deployment": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "deployment.kind": {
                    "type": "string",
                    "description": "The deployment method that manages the pipeline:\n- BUNDLE: The pipeline is managed by a Databricks Asset Bundle."
                  },
                  "deployment.metadataFilePath": {
                    "type": "string",
                    "description": "The path to the file containing metadata about the deployment."
                  },
                  "development": {
                    "type": "boolean",
                    "description": "Whether the pipeline is in Development mode. Defaults to false."
                  },
                  "dryRun": {
                    "type": "boolean"
                  },
                  "edition": {
                    "type": "string",
                    "description": "Pipeline product edition."
                  },
                  "environment": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The environment entity used to preserve serverless environment side panel, jobs' environment for non-notebook task, and DLT's environment for classic and serverless pipelines.\nIn this minimal environment spec, only pip dependencies are supported."
                  },
                  "environment.dependencies": {
                    "type": "string",
                    "description": "List of pip dependencies, as supported by the version of pip in this environment.\nEach dependency is a pip requirement file line https://pip.pypa.io/en/stable/reference/requirements-file-format/\nAllowed dependency could be <requirement specifier>, <archive url/path>, <local project path>(WSFS or Volumes in Databricks), <vcs project url>"
                  },
                  "eventLog": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Configurable event log parameters."
                  },
                  "eventLog.catalog": {
                    "type": "string",
                    "description": "The UC catalog the event log is published under."
                  },
                  "eventLog.name": {
                    "type": "string",
                    "description": "The name the event log is published to in UC."
                  },
                  "eventLog.schema": {
                    "type": "string",
                    "description": "The UC schema the event log is published under."
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "filters.exclude": {
                    "type": "string",
                    "description": "Paths to exclude."
                  },
                  "filters.include": {
                    "type": "string",
                    "description": "Paths to include."
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for this pipeline."
                  },
                  "ingestionDefinition": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ingestionDefinition.connectionName": {
                    "type": "string",
                    "description": "The Unity Catalog connection that this ingestion pipeline uses to communicate with the source. This is used with\nboth connectors for applications like Salesforce, Workday, and so on, and also database connectors like Oracle,\n(connector_type = QUERY_BASED OR connector_type = CDC).\nIf connection name corresponds to database connectors like Oracle, and connector_type is not provided then\nconnector_type defaults to QUERY_BASED. If connector_type is passed as CDC we use Combined Cdc Managed Ingestion\npipeline.\nUnder certain conditions, this can be replaced with ingestion_gateway_id to change the connector to Cdc Managed\nIngestion Pipeline with Gateway pipeline."
                  },
                  "ingestionDefinition.fullRefreshWindow": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Proto representing a window"
                  },
                  "ingestionDefinition.ingestionGatewayId": {
                    "type": "string",
                    "description": "Identifier for the gateway that is used by this ingestion pipeline to communicate with the source database.\nThis is used with CDC connectors to databases like SQL Server using a gateway pipeline (connector_type = CDC).\nUnder certain conditions, this can be replaced with connection_name to change the connector to Combined Cdc\nManaged Ingestion Pipeline."
                  },
                  "ingestionDefinition.objects": {
                    "type": "string",
                    "description": "Required. Settings specifying tables to replicate and the destination for the replicated tables."
                  },
                  "ingestionDefinition.sourceConfigurations": {
                    "type": "string",
                    "description": "Top-level source configurations"
                  },
                  "ingestionDefinition.sourceType": {
                    "type": "string"
                  },
                  "ingestionDefinition.tableConfiguration": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "libraries": {
                    "type": "string",
                    "description": "Libraries or code needed by this deployment."
                  },
                  "name": {
                    "type": "string",
                    "description": "Friendly identifier for this pipeline."
                  },
                  "notifications": {
                    "type": "string",
                    "description": "List of notification settings for this pipeline."
                  },
                  "photon": {
                    "type": "boolean",
                    "description": "Whether Photon is enabled for this pipeline."
                  },
                  "rootPath": {
                    "type": "string",
                    "description": "Root path for this pipeline.\nThis is used as the root directory when editing the pipeline in the Databricks user interface and it is\nadded to sys.path when executing Python sources during pipeline execution."
                  },
                  "runAs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Write-only setting, available only in Create/Update calls. Specifies the user or service principal that the pipeline runs as. If not specified, the pipeline runs as the user who created the pipeline.\n\nOnly `user_name` or `service_principal_name` can be specified. If both are specified, an error is thrown."
                  },
                  "runAs.servicePrincipalName": {
                    "type": "string",
                    "description": "Application ID of an active service principal. Setting this field requires the `servicePrincipal/user` role."
                  },
                  "runAs.userName": {
                    "type": "string",
                    "description": "The email of an active workspace user. Users can only set this field to their own email."
                  },
                  "schema": {
                    "type": "string",
                    "description": "The default schema (database) where tables are read from or published to."
                  },
                  "serverless": {
                    "type": "boolean",
                    "description": "Whether serverless compute is enabled for this pipeline."
                  },
                  "storage": {
                    "type": "string",
                    "description": "DBFS root directory for storing checkpoints and tables."
                  },
                  "tags": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A map of tags associated with the pipeline.\nThese are forwarded to the cluster as cluster tags, and are therefore subject to the same limitations.\nA maximum of 25 tags can be added to the pipeline."
                  },
                  "target": {
                    "type": "string",
                    "description": "Target schema (database) to add tables in this pipeline to. Exactly one of `schema` or `target` must be specified. To publish to Unity Catalog, also specify `catalog`. This legacy field is deprecated for pipeline creation in favor of the `schema` field."
                  },
                  "trigger": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "trigger.cron": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "trigger.manual": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "effective_settings": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "budget_policy_id": {
                                "type": "string",
                                "description": "Budget policy of this pipeline."
                              },
                              "catalog": {
                                "type": "string",
                                "description": "A catalog in Unity Catalog to publish data from this pipeline to. If `target` is specified, tables in this pipeline are published to a `target` schema inside `catalog` (for example, `catalog`.`target`.`table`). If `target` is not specified, no data is published to Unity Catalog."
                              },
                              "channel": {
                                "type": "string",
                                "description": "DLT Release Channel that specifies which version to use."
                              },
                              "clusters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "apply_policy_default_values": {
                                      "type": "boolean",
                                      "description": "Note: This field won't be persisted. Only API users will check this field."
                                    },
                                    "autoscale": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "max_workers": {
                                          "type": "number",
                                          "description": "The maximum number of workers to which the cluster can scale up when overloaded. `max_workers` must be strictly greater than `min_workers`."
                                        },
                                        "min_workers": {
                                          "type": "number",
                                          "description": "The minimum number of workers the cluster can scale down to when underutilized.\nIt is also the initial number of workers the cluster will have after creation."
                                        },
                                        "mode": {
                                          "type": "string",
                                          "description": "Databricks Enhanced Autoscaling optimizes cluster utilization by automatically\nallocating cluster resources based on workload volume, with minimal impact to\nthe data processing latency of your pipelines. Enhanced Autoscaling is available\nfor `updates` clusters only. The legacy autoscaling feature is used for `maintenance`\nclusters."
                                        }
                                      }
                                    },
                                    "aws_attributes": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Attributes set during cluster creation which are related to Amazon Web Services.",
                                      "properties": {
                                        "availability": {
                                          "type": "string",
                                          "description": "Availability type used for all subsequent nodes past the `first_on_demand` ones.\n\nNote: If `first_on_demand` is zero, this availability type will be used for the entire cluster."
                                        },
                                        "ebs_volume_count": {
                                          "type": "number",
                                          "description": "The number of volumes launched for each instance. Users can choose up to 10 volumes.\nThis feature is only enabled for supported node types. Legacy node types cannot specify\ncustom EBS volumes.\nFor node types with no instance store, at least one EBS volume needs to be specified;\notherwise, cluster creation will fail.\n\nThese EBS volumes will be mounted at `/ebs0`, `/ebs1`, and etc.\nInstance store volumes will be mounted at `/local_disk0`, `/local_disk1`, and etc.\n\nIf EBS volumes are attached, Databricks will configure Spark to use only the EBS volumes for\nscratch storage because heterogenously sized scratch devices can lead to inefficient disk\nutilization. If no EBS volumes are attached, Databricks will configure Spark to use instance\nstore volumes.\n\nPlease note that if EBS volumes are specified, then the Spark configuration `spark.local.dir`\nwill be overridden."
                                        },
                                        "ebs_volume_iops": {
                                          "type": "number",
                                          "description": "If using gp3 volumes, what IOPS to use for the disk. If this is not set, the maximum performance of a gp2 volume with the same volume size will be used."
                                        },
                                        "ebs_volume_size": {
                                          "type": "number",
                                          "description": "The size of each EBS volume (in GiB) launched for each instance. For general purpose\nSSD, this value must be within the range 100 - 4096. For throughput optimized HDD,\nthis value must be within the range 500 - 4096."
                                        },
                                        "ebs_volume_throughput": {
                                          "type": "number",
                                          "description": "If using gp3 volumes, what throughput to use for the disk. If this is not set, the maximum performance of a gp2 volume with the same volume size will be used."
                                        },
                                        "ebs_volume_type": {
                                          "type": "string",
                                          "description": "All EBS volume types that Databricks supports.\nSee https://aws.amazon.com/ebs/details/ for details."
                                        },
                                        "first_on_demand": {
                                          "type": "number",
                                          "description": "The first `first_on_demand` nodes of the cluster will be placed on on-demand instances.\nIf this value is greater than 0, the cluster driver node in particular will be placed on an\non-demand instance. If this value is greater than or equal to the current cluster size, all\nnodes will be placed on on-demand instances. If this value is less than the current cluster\nsize, `first_on_demand` nodes will be placed on on-demand instances and the remainder will\nbe placed on `availability` instances. Note that this value does not affect\ncluster size and cannot currently be mutated over the lifetime of a cluster."
                                        },
                                        "instance_profile_arn": {
                                          "type": "string",
                                          "description": "Nodes for this cluster will only be placed on AWS instances with this instance profile. If\nommitted, nodes will be placed on instances without an IAM instance profile. The instance\nprofile must have previously been added to the Databricks environment by an account\nadministrator.\n\nThis feature may only be available to certain customer plans."
                                        },
                                        "spot_bid_price_percent": {
                                          "type": "number",
                                          "description": "The bid price for AWS spot instances, as a percentage of the corresponding instance type's\non-demand price.\nFor example, if this field is set to 50, and the cluster needs a new `r3.xlarge` spot\ninstance, then the bid price is half of the price of\non-demand `r3.xlarge` instances. Similarly, if this field is set to 200, the bid price is twice\nthe price of on-demand `r3.xlarge` instances. If not specified, the default value is 100.\nWhen spot instances are requested for this cluster, only spot instances whose bid price\npercentage matches this field will be considered.\nNote that, for safety, we enforce this field to be no more than 10000."
                                        },
                                        "zone_id": {
                                          "type": "string",
                                          "description": "Identifier for the availability zone/datacenter in which the cluster resides.\nThis string will be of a form like \"us-west-2a\". The provided availability\nzone must be in the same region as the Databricks deployment. For example, \"us-west-2a\"\nis not a valid zone id if the Databricks deployment resides in the \"us-east-1\" region.\nThis is an optional field at cluster creation, and if not specified, the zone \"auto\" will be used.\nIf the zone specified is \"auto\", will try to place cluster in a zone with high availability,\nand will retry placement in a different AZ if there is not enough capacity.\n\nThe list of available zones as well as the default value can be found by using the\n`List Zones` method."
                                        }
                                      }
                                    },
                                    "cluster_log_conf": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Cluster log delivery config",
                                      "properties": {
                                        "dbfs": {
                                          "type": "object",
                                          "additionalProperties": false,
                                          "description": "A storage location in DBFS",
                                          "properties": {
                                            "destination": {
                                              "type": "string",
                                              "description": "dbfs destination, e.g. `dbfs:/my/path`"
                                            }
                                          }
                                        },
                                        "s3": {
                                          "type": "object",
                                          "additionalProperties": false,
[...]
