{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Deputy Universal API",
    "version": "0.0.9",
    "description": "Schedule staff, track time, and manage leave with Deputy"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/deputy/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/deputy/latest/actions/add-shift": {
      "post": {
        "operationId": "deputy.add-shift",
        "summary": "Add Shift",
        "description": "Creates a new shift in Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/add-shift"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "intStartTimestamp": {
                    "type": "number",
                    "description": "Start time of the shift in unix timestamp format."
                  },
                  "intEndTimestamp": {
                    "type": "number",
                    "description": "End time of the shift in unix timestamp format."
                  },
                  "intRosterEmployee": {
                    "type": "number",
                    "description": "Id of the employee working the shift when the shift is filled."
                  },
                  "blnPublish": {
                    "type": "boolean",
                    "description": "Whether the shift should be published."
                  },
                  "intMealbreakMinute": {
                    "type": "number",
                    "description": "Number of minutes to include as a meal break."
                  },
                  "intOpunitId": {
                    "type": "number",
                    "description": "The location or area id for the shift."
                  },
                  "blnForceOverwrite": {
                    "type": "number",
                    "description": "Whether to force overwrite with 0 or 1."
                  },
                  "blnOpen": {
                    "type": "number",
                    "description": "Whether the shift is open using 0 or 1."
                  },
                  "strComment": {
                    "type": "string",
                    "description": "Comment text on the shift."
                  },
                  "intConfirmStatus": {
                    "type": "number",
                    "description": "Whether the employee's shift should be confirmed with 1 or 0."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Comment": {
                            "type": "string"
                          },
                          "ConfirmStatus": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Employee": {
                            "type": "number"
                          },
                          "EndTime": {
                            "type": "number"
                          },
                          "EndTimeLocalized": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "Mealbreak": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "OperationalUnit": {
                            "type": "number"
                          },
                          "Published": {
                            "type": "boolean"
                          },
                          "Slots": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "StartTime": {
                            "type": "number"
                          },
                          "StartTimeLocalized": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "TotalTime": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/create-employee": {
      "post": {
        "operationId": "deputy.create-employee",
        "summary": "Create Employee",
        "description": "Creates a new employee in Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/create-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.firstName",
                  "data.lastName",
                  "data.displayName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Employee payload object."
                  },
                  "data.firstName": {
                    "type": "string",
                    "description": "The employee's given name."
                  },
                  "data.lastName": {
                    "type": "string",
                    "description": "The employee's family name."
                  },
                  "data.displayName": {
                    "type": "string",
                    "description": "The employee's display name."
                  },
                  "data.primaryLocation": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The employee's primary location object."
                  },
                  "data.primaryLocation.id": {
                    "type": "number",
                    "description": "The id of the employee's primary location."
                  },
                  "data.startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The employee's start date."
                  },
                  "data.position": {
                    "type": "string",
                    "description": "The employee's position title."
                  },
                  "data.contact": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Employee contact object."
                  },
                  "data.contact.email1": {
                    "type": "string",
                    "description": "Primary work email address."
                  },
                  "data.contact.phone1": {
                    "type": "string",
                    "description": "Primary phone number."
                  },
                  "data.externalId": {
                    "type": "string",
                    "description": "An external identifier for the employee."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "allowAppraisal": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customFieldData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "higherDuty": {
                            "type": "boolean"
                          },
                          "history": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "primaryLocation": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pronouns": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "role": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "stressProfile": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "trainingRecords": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workplaces": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/create-leave-request": {
      "post": {
        "operationId": "deputy.create-leave-request",
        "summary": "Create Leave Request",
        "description": "Creates a new leave request in Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/create-leave-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "Employee",
                  "LeaveRule",
                  "Company",
                  "DateStart",
                  "Start",
                  "DateEnd",
                  "End",
                  "Comment"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Employee": {
                    "type": "number",
                    "description": "The id record number of the employee who is requesting leave."
                  },
                  "LeaveRule": {
                    "type": "number",
                    "description": "The id record number of the Leave Rule being included."
                  },
                  "Company": {
                    "type": "number",
                    "description": "The location which the leave application is being applied against."
                  },
                  "DateStart": {
                    "type": "string",
                    "description": "The start date of the leave in YYYY-MM-DD format.",
                    "example": "2026-03-19"
                  },
                  "Start": {
                    "type": "number",
                    "description": "The start time of the leave in unix timestamp format."
                  },
                  "DateEnd": {
                    "type": "string",
                    "description": "The end date of the leave in YYYY-MM-DD format.",
                    "example": "2026-03-19"
                  },
                  "End": {
                    "type": "number",
                    "description": "The end time of the leave in unix timestamp format."
                  },
                  "Comment": {
                    "type": "string",
                    "description": "A comment explaining the leave to the manager from the employee."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allDay": {
                            "type": "boolean"
                          },
                          "approvalComment": {
                            "type": "string"
                          },
                          "approverPay": {
                            "type": "number"
                          },
                          "approverTime": {
                            "type": "number"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "company": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "dateEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateEndAllDay": {
                            "type": "boolean"
                          },
                          "dateStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateStartAllDay": {
                            "type": "boolean"
                          },
                          "days": {
                            "type": "number"
                          },
                          "DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employee": {
                            "type": "number"
                          },
                          "employeeHistory": {
                            "type": "number"
                          },
                          "employeeName": {
                            "type": "string"
                          },
                          "end": {
                            "type": "number"
                          },
                          "endTimeLocalized": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "externalId": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "leavePayLineArray": {
                            "type": "array",
                            "items": {}
                          },
                          "leaveRule": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notifyManagerArray": {
                            "type": "array",
                            "items": {}
                          },
                          "start": {
                            "type": "number"
                          },
                          "startTimeLocalized": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "number"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "totalHours": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/get-contact": {
      "get": {
        "operationId": "deputy.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a single contact from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Contact ID from Deputy.",
            "schema": {
              "type": "number",
              "description": "Contact ID from Deputy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "Email1": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "Mobile": {
                            "type": "string"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Phone1": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/get-custom-field": {
      "get": {
        "operationId": "deputy.get-custom-field",
        "summary": "Get Custom Field",
        "description": "Retrieves a single custom field from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/get-custom-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Custom field ID from Deputy.",
            "schema": {
              "type": "number",
              "description": "Custom field ID from Deputy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Action": {
                            "type": "number"
                          },
                          "ApiName": {
                            "type": "string"
                          },
                          "ConditionalRules": {
                            "type": "boolean"
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Creator": {
                            "type": "number"
                          },
                          "DeputyField": {
                            "type": "string"
                          },
                          "DisplayTiming": {
                            "type": "number"
                          },
                          "Helptext": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Name": {
                            "type": "string"
                          },
                          "Published": {
                            "type": "boolean"
                          },
                          "SortOrder": {
                            "type": "string"
                          },
                          "System": {
                            "type": "string"
                          },
                          "TriggerScript": {
                            "type": "number"
                          },
                          "Type": {
                            "type": "number"
                          },
                          "Validation": {
                            "type": "string"
                          },
                          "Valuelist": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/get-employee": {
      "get": {
        "operationId": "deputy.get-employee",
        "summary": "Get Employee",
        "description": "Retrieves a single employee from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/get-employee"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Employee ID from Deputy.",
            "schema": {
              "type": "number",
              "description": "Employee ID from Deputy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Active": {
                            "type": "boolean"
                          },
                          "Contact": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DisplayName": {
                            "type": "string"
                          },
                          "FirstName": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "LastName": {
                            "type": "string"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "StartDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/get-leave-request": {
      "get": {
        "operationId": "deputy.get-leave-request",
        "summary": "Get Leave Request",
        "description": "Retrieves a single leave request from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/get-leave-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Leave request ID from Deputy.",
            "schema": {
              "type": "number",
              "description": "Leave request ID from Deputy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "AllDay": {
                            "type": "boolean"
                          },
                          "Comment": {
                            "type": "string"
                          },
                          "Company": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DateEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "DateStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Employee": {
                            "type": "number"
                          },
                          "EmployeeName": {
                            "type": "string"
                          },
                          "End": {
                            "type": "number"
                          },
                          "EndTimeLocalized": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "LeaveRule": {
                            "type": "number"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Start": {
                            "type": "number"
                          },
                          "StartTimeLocalized": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Status": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/get-timesheet-details": {
      "get": {
        "operationId": "deputy.get-timesheet-details",
        "summary": "Get Timesheet Details",
        "description": "Retrieves detailed timesheet data from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/get-timesheet-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Timesheet ID from Deputy.",
            "schema": {
              "type": "number",
              "description": "Timesheet ID from Deputy."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CompanyObject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Employee": {
                            "type": "number"
                          },
                          "EmployeeComment": {
                            "type": "string"
                          },
                          "EmployeeObject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "EndTime": {
                            "type": "number"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "IsLeave": {
                            "type": "boolean"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "OperationalUnitObject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Slots": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "StartTime": {
                            "type": "number"
                          },
                          "TimeApproved": {
                            "type": "boolean"
                          },
                          "TotalTime": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/list-contacts": {
      "get": {
        "operationId": "deputy.list-contacts",
        "summary": "List Contacts",
        "description": "Retrieves the contact list from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/list-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "Email1": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "Mobile": {
                            "type": "string"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Phone1": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/list-countries": {
      "get": {
        "operationId": "deputy.list-countries",
        "summary": "List Countries",
        "description": "Retrieves the country list from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/list-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Active": {
                            "type": "boolean"
                          },
                          "Code": {
                            "type": "string"
                          },
                          "CodeA3": {
                            "type": "string"
                          },
                          "Country": {
                            "type": "string"
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Region": {
                            "type": "string"
                          },
                          "SortOrder": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/list-custom-fields": {
      "get": {
        "operationId": "deputy.list-custom-fields",
        "summary": "List Custom Fields",
        "description": "Retrieves the custom field list from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/list-custom-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "number"
                          },
                          "apiName": {
                            "type": "string"
                          },
                          "conditionalRules": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "number"
                          },
                          "deputyField": {
                            "type": "string"
                          },
                          "displayTiming": {
                            "type": "number"
                          },
                          "helptext": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "sortOrder": {
                            "type": "string"
                          },
                          "system": {
                            "type": "string"
                          },
                          "triggerScript": {
                            "type": "number"
                          },
                          "type": {
                            "type": "number"
                          },
                          "validation": {
                            "type": "string"
                          },
                          "valuelist": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/list-employee-pay-conditions": {
      "get": {
        "operationId": "deputy.list-employee-pay-conditions",
        "summary": "List Employee Pay Conditions",
        "description": "Retrieves employee pay conditions from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/list-employee-pay-conditions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_DPMetaData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Active": {
                            "type": "boolean"
                          },
                          "Config": {
                            "type": "string"
                          },
                          "Contract": {
                            "type": "number"
                          },
                          "Created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "EffectiveDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "EmployeeId": {
                            "type": "number"
                          },
                          "EmpType": {
                            "type": "number"
                          },
                          "Id": {
                            "type": "number"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "PayPeriod": {
                            "type": "number"
                          },
                          "PayPoint": {
                            "type": "number"
                          },
                          "StartDate": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/deputy/latest/actions/list-employees": {
      "get": {
        "operationId": "deputy.list-employees",
        "summary": "List Employees",
        "description": "Retrieves the employee list from Deputy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/deputy/latest/actions/list-employees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
[...]
