{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "City of Beverly Hills Universal API",
    "version": "0.0.3",
    "description": "Public ArcGIS open data portal for the City of Beverly Hills."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cityOfBeverlyHills/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cityOfBeverlyHills/latest/actions/get-feature-layer": {
      "get": {
        "operationId": "cityOfBeverlyHills.get-feature-layer",
        "summary": "Get Layer",
        "description": "Retrieves feature layer details from City of Beverly Hills.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cityOfBeverlyHills/latest/actions/get-feature-layer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layerId",
            "in": "query",
            "required": true,
            "description": "Layer identifier within the FeatureServer.",
            "schema": {
              "type": "string",
              "description": "Layer identifier within the FeatureServer."
            }
          },
          {
            "name": "serviceName",
            "in": "query",
            "required": true,
            "description": "ArcGIS service folder or service name.",
            "schema": {
              "type": "string",
              "description": "ArcGIS service folder or service name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentVersion": {
                            "type": "number",
                            "description": "ArcGIS REST API version for the layer response."
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "alias": {
                                  "type": "string",
                                  "description": "Field alias."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Field name."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Field type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "geometryType": {
                            "type": "string",
                            "description": "Geometry type returned by the layer."
                          },
                          "id": {
                            "type": "number",
                            "description": "Layer id."
                          },
                          "name": {
                            "type": "string",
                            "description": "Layer name."
                          },
                          "objectIdField": {
                            "type": "string",
                            "description": "Object id field name."
                          },
                          "type": {
                            "type": "string",
                            "description": "Layer type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cityOfBeverlyHills/latest/actions/get-feature-service": {
      "get": {
        "operationId": "cityOfBeverlyHills.get-feature-service",
        "summary": "Get Feature Service",
        "description": "Retrieves feature service details from City of Beverly Hills.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cityOfBeverlyHills/latest/actions/get-feature-service"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceName",
            "in": "query",
            "required": true,
            "description": "ArcGIS service folder or service name.",
            "schema": {
              "type": "string",
              "description": "ArcGIS service folder or service name."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentVersion": {
                            "type": "number",
                            "description": "ArcGIS REST API version for the feature service response."
                          },
                          "layers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "description": "Layer id."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Layer name."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Layer type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "serviceItemId": {
                            "type": "string",
                            "description": "ArcGIS item id for the feature service."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cityOfBeverlyHills/latest/actions/list-services": {
      "get": {
        "operationId": "cityOfBeverlyHills.list-services",
        "summary": "List Services",
        "description": "Retrieves ArcGIS service records from City of Beverly Hills.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cityOfBeverlyHills/latest/actions/list-services"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currentVersion": {
                            "type": "number",
                            "description": "ArcGIS REST API version for the services directory response."
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Service name."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Service type."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Fully qualified service URL."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cityOfBeverlyHills/latest/actions/query-features": {
      "get": {
        "operationId": "cityOfBeverlyHills.query-features",
        "summary": "Query Features",
        "description": "Queries layer features in City of Beverly Hills by service and layer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cityOfBeverlyHills/latest/actions/query-features"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cacheHint",
            "in": "query",
            "required": false,
            "description": "Hint that the server may cache the query.",
            "schema": {
              "type": "boolean",
              "description": "Hint that the server may cache the query.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "datumTransformation",
            "in": "query",
            "required": false,
            "description": "Datum transformation used when projecting geometries.",
            "schema": {
              "type": "string",
              "description": "Datum transformation used when projecting geometries.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "defaultSR",
            "in": "query",
            "required": false,
            "description": "Default spatial reference for the request.",
            "schema": {
              "type": "string",
              "description": "Default spatial reference for the request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Buffer distance used with geometry-based queries.",
            "schema": {
              "type": "number",
              "description": "Buffer distance used with geometry-based queries.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fullText",
            "in": "query",
            "required": false,
            "description": "Full text search term.",
            "schema": {
              "type": "string",
              "description": "Full text search term.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "required": false,
            "description": "Spatial filter geometry payload.",
            "schema": {
              "type": "string",
              "description": "Spatial filter geometry payload."
            }
          },
          {
            "name": "geometryPrecision",
            "in": "query",
            "required": false,
            "description": "Decimal places for returned geometries.",
            "schema": {
              "type": "number",
              "description": "Decimal places for returned geometries.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "geometryType",
            "in": "query",
            "required": false,
            "description": "The type of geometry supplied with the spatial filter.",
            "schema": {
              "type": "string",
              "description": "The type of geometry supplied with the spatial filter.",
              "default": "esriGeometryEnvelope",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "inSR",
            "in": "query",
            "required": false,
            "description": "Input spatial reference for geometry filters.",
            "schema": {
              "type": "string",
              "description": "Input spatial reference for geometry filters."
            }
          },
          {
            "name": "layerId",
            "in": "query",
            "required": true,
            "description": "Layer identifier within the FeatureServer.",
            "schema": {
              "type": "string",
              "description": "Layer identifier within the FeatureServer."
            }
          },
          {
            "name": "maxAllowableOffset",
            "in": "query",
            "required": false,
            "description": "Generalization offset for returned geometries.",
            "schema": {
              "type": "number",
              "description": "Generalization offset for returned geometries.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "orderByFields",
            "in": "query",
            "required": false,
            "description": "Comma-separated field list for ordering results.",
            "schema": {
              "type": "string",
              "description": "Comma-separated field list for ordering results."
            }
          },
          {
            "name": "outFields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of fields to return.",
              "default": "*"
            }
          },
          {
            "name": "outSR",
            "in": "query",
            "required": false,
            "description": "Output spatial reference for returned geometry.",
            "schema": {
              "type": "string",
              "description": "Output spatial reference for returned geometry."
            }
          },
          {
            "name": "resultOffset",
            "in": "query",
            "required": false,
            "description": "Number of features to skip before returning results.",
            "schema": {
              "type": "number",
              "description": "Number of features to skip before returning results."
            }
          },
          {
            "name": "resultRecordCount",
            "in": "query",
            "required": false,
            "description": "Maximum number of features to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of features to return."
            }
          },
          {
            "name": "resultType",
            "in": "query",
            "required": false,
            "description": "Controls the query result mode.",
            "schema": {
              "type": "string",
              "description": "Controls the query result mode.",
              "default": "none",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnCentroid",
            "in": "query",
            "required": false,
            "description": "Return the geometry centroid for each feature.",
            "schema": {
              "type": "boolean",
              "description": "Return the geometry centroid for each feature.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnCountOnly",
            "in": "query",
            "required": false,
            "description": "Return only the feature count.",
            "schema": {
              "type": "boolean",
              "description": "Return only the feature count."
            }
          },
          {
            "name": "returnDistinctValues",
            "in": "query",
            "required": false,
            "description": "Return distinct values for the requested fields.",
            "schema": {
              "type": "boolean",
              "description": "Return distinct values for the requested fields.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnEnvelope",
            "in": "query",
            "required": false,
            "description": "Return the geometry envelope for each feature.",
            "schema": {
              "type": "boolean",
              "description": "Return the geometry envelope for each feature.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnExceededLimitFeatures",
            "in": "query",
            "required": false,
            "description": "Return features even when the transfer limit is exceeded.",
            "schema": {
              "type": "boolean",
              "description": "Return features even when the transfer limit is exceeded.",
              "default": true,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnExtentOnly",
            "in": "query",
            "required": false,
            "description": "Return only the query extent.",
            "schema": {
              "type": "boolean",
              "description": "Return only the query extent.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnGeometry",
            "in": "query",
            "required": false,
            "description": "Include geometry in each feature.",
            "schema": {
              "type": "boolean",
              "description": "Include geometry in each feature.",
              "default": true
            }
          },
          {
            "name": "returnIdsOnly",
            "in": "query",
            "required": false,
            "description": "Return only object IDs.",
            "schema": {
              "type": "boolean",
              "description": "Return only object IDs."
            }
          },
          {
            "name": "returnM",
            "in": "query",
            "required": false,
            "description": "Include m-values in returned geometries.",
            "schema": {
              "type": "boolean",
              "description": "Include m-values in returned geometries.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnTrueCurves",
            "in": "query",
            "required": false,
            "description": "Return true curves in output geometries.",
            "schema": {
              "type": "boolean",
              "description": "Return true curves in output geometries.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "returnZ",
            "in": "query",
            "required": false,
            "description": "Include z-values in returned geometries.",
            "schema": {
              "type": "boolean",
              "description": "Include z-values in returned geometries.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "serviceName",
            "in": "query",
            "required": true,
            "description": "ArcGIS service folder or service name.",
            "schema": {
              "type": "string",
              "description": "ArcGIS service folder or service name."
            }
          },
          {
            "name": "spatialRel",
            "in": "query",
            "required": false,
            "description": "Spatial relationship used with geometry filters.",
            "schema": {
              "type": "string",
              "description": "Spatial relationship used with geometry filters."
            }
          },
          {
            "name": "sqlFormat",
            "in": "query",
            "required": false,
            "description": "SQL dialect for the where clause.",
            "schema": {
              "type": "string",
              "description": "SQL dialect for the where clause.",
              "default": "none",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "description": "Units for the buffer distance.",
            "schema": {
              "type": "string",
              "description": "Units for the buffer distance.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "ArcGIS SQL where clause.",
            "schema": {
              "type": "string",
              "description": "ArcGIS SQL where clause.",
              "default": "1=1"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exceededTransferLimit": {
                            "type": "boolean",
                            "description": "Whether the service truncated the result set."
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attributes": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Feature attribute map."
                                },
                                "geometry": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Feature geometry payload."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Field name."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "geometryType": {
                            "type": "string",
                            "description": "Geometry type returned by the query."
                          },
                          "objectIdFieldName": {
                            "type": "string",
                            "description": "Object id field name for the query response."
                          },
                          "spatialReference": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Spatial reference for returned geometries."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
