{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Scribeless Universal API",
    "version": "0.0.3",
    "description": "Send handwritten mailers with Scribeless by creating recipients for Scribeless campaigns."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/scribeless/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/scribeless/latest/actions/create-recipient": {
      "post": {
        "operationId": "scribeless.create-recipient",
        "summary": "Create Recipient",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scribeless/latest/actions/create-recipient"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "campaignId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "The Scribeless campaign ID that will receive the recipient."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recipient payload object for a single Scribeless recipient."
                  },
                  "data.title": {
                    "type": "string",
                    "description": "Recipient title such as Mr or Mrs."
                  },
                  "data.firstName": {
                    "type": "string",
                    "description": "Recipient first name."
                  },
                  "data.lastName": {
                    "type": "string",
                    "description": "Recipient last name."
                  },
                  "data.company": {
                    "type": "string",
                    "description": "Recipient company name."
                  },
                  "data.address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recipient mailing address object."
                  },
                  "data.address.address1": {
                    "type": "string",
                    "description": "First line of the mailing address."
                  },
                  "data.address.address2": {
                    "type": "string",
                    "description": "Second line of the mailing address."
                  },
                  "data.address.address3": {
                    "type": "string",
                    "description": "Third line of the mailing address."
                  },
                  "data.address.city": {
                    "type": "string",
                    "description": "City for the mailing address."
                  },
                  "data.address.state": {
                    "type": "string",
                    "description": "State, county, or region for the mailing address."
                  },
                  "data.address.postalCode": {
                    "type": "string",
                    "description": "Postal or ZIP code for the mailing address."
                  },
                  "data.address.country": {
                    "type": "string",
                    "description": "Two-letter country code for the mailing address."
                  },
                  "data.variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom variable values for Scribeless merge fields."
                  },
                  "data.variables.custom1": {
                    "type": "string",
                    "description": "Value for the custom1 merge field."
                  },
                  "data.variables.custom2": {
                    "type": "string",
                    "description": "Value for the custom2 merge field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/scribeless/latest/actions/create-recipients": {
      "post": {
        "operationId": "scribeless.create-recipients",
        "summary": "Create Recipients",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/scribeless/latest/actions/create-recipients"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "campaignId",
                  "data[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "The Scribeless campaign ID that will receive the recipients."
                  },
                  "data[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of recipient payload objects for multiple Scribeless recipients."
                  },
                  "data[].title": {
                    "type": "string",
                    "description": "Recipient title such as Mr or Mrs."
                  },
                  "data[].firstName": {
                    "type": "string",
                    "description": "Recipient first name."
                  },
                  "data[].lastName": {
                    "type": "string",
                    "description": "Recipient last name."
                  },
                  "data[].company": {
                    "type": "string",
                    "description": "Recipient company name."
                  },
                  "data[].address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recipient mailing address object."
                  },
                  "data[].address.address1": {
                    "type": "string",
                    "description": "First line of the mailing address."
                  },
                  "data[].address.address2": {
                    "type": "string",
                    "description": "Second line of the mailing address."
                  },
                  "data[].address.address3": {
                    "type": "string",
                    "description": "Third line of the mailing address."
                  },
                  "data[].address.city": {
                    "type": "string",
                    "description": "City for the mailing address."
                  },
                  "data[].address.state": {
                    "type": "string",
                    "description": "State, county, or region for the mailing address."
                  },
                  "data[].address.postalCode": {
                    "type": "string",
                    "description": "Postal or ZIP code for the mailing address."
                  },
                  "data[].address.country": {
                    "type": "string",
                    "description": "Two-letter country code for the mailing address."
                  },
                  "data[].variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom variable values for Scribeless merge fields."
                  },
                  "data[].variables.custom1": {
                    "type": "string",
                    "description": "Value for the custom1 merge field."
                  },
                  "data[].variables.custom2": {
                    "type": "string",
                    "description": "Value for the custom2 merge field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
