{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "e-Boekhouden.nl Universal API",
    "version": "0.0.6",
    "description": "Dutch bookkeeping and accounting platform for invoices, relations, ledgers, and financial administration."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/e-boekhouden-nl/latest/actions/create-cost-center": {
      "post": {
        "operationId": "e-boekhouden-nl.create-cost-center",
        "summary": "Create Cost Center",
        "description": "Creates a new cost center in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-cost-center"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the cost center. Error codes COST_003 Cost center description is required. COST_004 Cost center description is too long. COST_005 Cost center with this name already exists on this level of the tree. COST_011 Cost center fullPath is too long. COST_012 Cost center description has invalid characters."
                  },
                  "parentId": {
                    "type": "number",
                    "description": "The parent ID of the cost center. Error codes COST_005 Cost center with this name already exists on this level of the tree. COST_006 Cost center parent id cannot be changed. COST_007 Cost center parent is not active. COST_008 Cost center parent not found."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the cost center is active. Error codes COST_007 Cost center parent is not active."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/create-invoice": {
      "post": {
        "operationId": "e-boekhouden-nl.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "relationId",
                  "termOfPayment",
                  "templateId",
                  "directDebit.iban",
                  "items[].description",
                  "items[].vatCode",
                  "items[].ledgerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Invoice number. Must end with a number. If empty, we will create a new number. Error codes FACT_006 Invoice number is missing. FACT_007 Invoice number is too long. FACT_008 Invoice number is invalid. FACT_009 Invoice number does not end with a digit. FACT_101 Invoice number is in use."
                  },
                  "relationId": {
                    "type": "number",
                    "description": "The ID of a relation. Error codes FACT_001 Relation ID is missing. FACT_002 Relation not found. FACT_003 Relation is inactive. FACT_EMAIL_001 Relation email is missing. FACT_EMAIL_002 Relation email is invalid. FACT_EMAIL_003 Relation email for invoices is invalid. FACT_EMAIL_004 Relation email for reminders is invalid. FACT_EMAIL_007 Relation email is missing."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Invoice date. Error codes FACT_011 Invoice date is missing. FACT_012 Invoice date invalid. FACT_013 Invoice date out of range."
                  },
                  "termOfPayment": {
                    "type": "number",
                    "description": "Error codes FACT_015 Term of payment is missing. FACT_016 Term of payment out of range."
                  },
                  "inExVat": {
                    "type": "string",
                    "description": "Indicates if the amount on the invoice is including (`IN`) or excluding (`EX`) VAT. The corresponding value will be calculated based on the VAT code. If left empty the 'EX' option will be used Error codes FACT_010 Invoice VAT must be IN or EX."
                  },
                  "templateId": {
                    "type": "number",
                    "description": "Error codes FACT_018 Invoice template not found."
                  },
                  "emailTemplateId": {
                    "type": "number",
                    "description": "The ID of an email template. Error codes FACT_020 Email template not found."
                  },
                  "reference": {
                    "type": "string",
                    "description": "Reference of the invoice. Error codes FACT_014 Payment reference is too long."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the invoice. Error codes FACT_017 Invoice text is too long."
                  },
                  "print": {
                    "type": "boolean",
                    "description": "Determines whether the invoice should be prepared for printing."
                  },
                  "email.fromEmail": {
                    "type": "string",
                    "description": "Email address of the sender. Error codes FACT_EMAIL_006 Sender email is invalid."
                  },
                  "email.fromName": {
                    "type": "string",
                    "description": "Name of the sender."
                  },
                  "email.subject": {
                    "type": "string",
                    "description": "Email subject. Error codes FACT_EMAIL_013 Subject is missing."
                  },
                  "email.body": {
                    "type": "string",
                    "description": "Email body. Supports HTML. Error codes FACT_EMAIL_011 Email body is too long FACT_EMAIL_014 Body is missing."
                  },
                  "email.attachUbl": {
                    "type": "boolean",
                    "description": "Also attach the invoice UBL-file."
                  },
                  "email.invoiceUbl": {
                    "type": "boolean",
                    "description": "Obsolete; please use `attachUbl` instead. This field will be removed in the future."
                  },
                  "directDebit.iban": {
                    "type": "string",
                    "description": "Error codes FACT_INCASSO_008 IBAN is missing. FACT_INCASSO_009 IBAN is too long. FACT_INCASSO_010 IBAN is invalid."
                  },
                  "directDebit.mandateType": {
                    "type": "string",
                    "description": "`O` or `E` (one-time debit), `R` or `D` (recurrent debit) Error codes FACT_INCASSO_001 Mandate type is missing. FACT_INCASSO_002 Mandate type is invalid."
                  },
                  "directDebit.mandateId": {
                    "type": "string",
                    "description": "Error codes FACT_INCASSO_003 Mandate ID is missing. FACT_INCASSO_004 Mandate ID is too long."
                  },
                  "directDebit.mandateSignedDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Error codes FACT_INCASSO_005 Mandate signed date is missing. FACT_INCASSO_006 Mandate signed date is invalid. FACT_INCASSO_007 Mandate signed date out of range."
                  },
                  "directDebit.name": {
                    "type": "string",
                    "description": "In the name of. Error codes FACT_INCASSO_011 Name is too long."
                  },
                  "directDebit.city": {
                    "type": "string",
                    "description": "Error codes FACT_INCASSO_012 City is too long."
                  },
                  "directDebit.descriptionLine1": {
                    "type": "string",
                    "description": "Error codes FACT_INCASSO_013 Description line 1 is too long."
                  },
                  "directDebit.descriptionLine2": {
                    "type": "string",
                    "description": "Error codes FACT_INCASSO_014 Description line 2 is too long."
                  },
                  "directDebit.descriptionLine3": {
                    "type": "string",
                    "description": "Error codes FACT_INCASSO_015 Description line 3 is too long."
                  },
                  "mutation.description": {
                    "type": "string",
                    "description": "Description of the mutation. Error codes FACT_VERWERK_002 Description is too long."
                  },
                  "mutation.checkPaymentReference": {
                    "type": "boolean",
                    "description": "If true, the provided `paymentReference` will be validated for uniqueness."
                  },
                  "mutation.paymentReference": {
                    "type": "string",
                    "description": "A reference that uniquely identifies the mutation. Error codes FACT_VERWERK_003 Payment reference is too long. FACT_VERWERK_004 Payment reference already exists. MUTA_008 Payment reference already exists."
                  },
                  "mutation.ledgerId": {
                    "type": "number",
                    "description": "Ledger of the invoice entry. Error codes MUT_007 Unknown ledger for mutation."
                  },
                  "items[].quantity": {
                    "type": "number",
                    "description": "The item quantity, with up to 4 decimal places."
                  },
                  "items[].amount": {
                    "type": "number",
                    "description": "The item quantity. To keep your code ready for future API versions it is recommended to use `quantity` instead."
                  },
                  "items[].unitId": {
                    "type": "number",
                    "description": "The ID of an existing unit. Error codes FACT_ITEM_010 Unit not found."
                  },
                  "items[].code": {
                    "type": "string",
                    "description": "Error codes FACT_ITEM_003 Code invoice item is too long."
                  },
                  "items[].productId": {
                    "type": "number",
                    "description": "The ID of an existing product. If given, `Code` is ignored. Error codes FACT_ITEM_011 Product not found."
                  },
                  "items[].description": {
                    "type": "string",
                    "description": "Error codes FACT_ITEM_001 Description invoice item is missing. FACT_ITEM_002 Description invoice item is too long."
                  },
                  "items[].pricePerUnit": {
                    "type": "number",
                    "description": "Error codes FACT_ITEM_004 Price per unit excl. VAT is missing. FACT_ITEM_008 Total price is too high. FACT_ITEM_009 Total price is too low."
                  },
                  "items[].vatCode": {
                    "type": "string",
                    "description": "A list of VAT codes is displayed below. | Value | Description | |---|---| | HOOG_VERK_21 | For selling with 21% VAT. | | LAAG_VERK_9 | For selling with 9% VAT. | | VERL_VERK | For selling with reverse-charging 21% VAT. | | VERL_VERK_L9 | For selling with reverse-charging 9% VAT. | | AFW | VAT percentage is unspecified. Price values will be used | | BU_EU_VERK | Deliveries outside the EU, 0% VAT. | | BI_EU_VERK | Goods inside the EU, 0% VAT. | | BI_EU_VERK_D | Services inside the EU, 0% VAT. | | AFST_VERK | Distance sales inside the EU, 0% VAT. | | LAAG_INK_9 | For buying with 9% VAT. | | HOOG_INK_21 | For buying with 21% VAT. | | VERL_INK | For buying with reverse-charging VAT. | | AFW_VERK | For selling with unspecified VAT percentage. Price values will be used. | | BU_EU_INK | For buying goods/services from outside the EU, 0% VAT. | | BI_EU_INK | For buying goods/services from inside the EU, 0% VAT. | | GEEN | No VAT. |"
                  },
                  "items[].vatAmount": {
                    "type": "number",
                    "description": "The VAT amount of the invoice item. Only use in combination with vatCode: 'AFW_VERK'. Only applicable for NL. Error codes FACT_ITEM_015 VAT amount must be used with VAT code: 'AFW_VERK'"
                  },
                  "items[].ledgerId": {
                    "type": "number",
                    "description": "The ID of an existing ledger account Error codes FACT_ITEM_007 Ledger ID is missing FACT_ITEM_012 Ledger account not found."
                  },
                  "items[].costCenterId": {
                    "type": "number"
                  },
                  "items[].discountAmount": {
                    "type": "number",
                    "description": "A fixed discount on the `pricePerUnit`. This field can not be combined with `discountPercentage`."
                  },
                  "items[].discountPercentage": {
                    "type": "number",
                    "description": "A percentage discount on the `pricePerUnit`. This field can not be combined with `discountAmount`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/create-ledger": {
      "post": {
        "operationId": "e-boekhouden-nl.create-ledger",
        "summary": "Create Ledger",
        "description": "Creates a new ledger in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-ledger"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code",
                  "description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code of the ledger. Error codes LEDG_001 Code is missing. LEDG_002 Code is too long."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the ledger. Error codes LEDG_003 Description is missing. LEDG_004 Description is too long."
                  },
                  "category": {
                    "type": "string",
                    "description": "A list of ledger categories is displayed below. Only these values may be used in `POST` and `PATCH` operations: `[\"BAL\", \"VW\", \"FIN\", \"DEB\", \"CRED\"]`. | Value | Description | |---|---| | BAL | Balance | | VW | Profit and loss | | AF6 | Turnover tax low rate | | AF19 | Turnover tax high rate | | AFOVERIG | Turnover tax other | | VOOR | Input tax | | BTWRC | VAT current account | | FIN | Liquid Assets | | DEB | Debtors | | CRED | Creditors | | AF | Turnover tax |"
                  },
                  "group": {
                    "type": "string",
                    "description": "The group of the ledger. Error codes LEDG_007 Group is missing."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/create-member": {
      "post": {
        "operationId": "e-boekhouden-nl.create-member",
        "summary": "Create Member",
        "description": "Creates a new member in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-member"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "memberNumber": {
                    "type": "string",
                    "description": "The code of the member. Auto-generated if empty. Error codes MEM_049 Member number already exists. MEM_005 Member number is invalid. MEM_006 Member number is too long."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the member. Error codes MEM_002 Name is mandatory. MEM_003 Name is too long."
                  },
                  "salutation": {
                    "type": "string",
                    "description": "The salutation of the member. Error codes MEM_010 Salutation is too long."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Male (`m`), female (`v`) or department ('a') Error codes MEM_004 Gender is invalid (m,v,a)."
                  },
                  "address": {
                    "type": "string",
                    "description": "The primary address of the member. Error codes MEM_011 Address is too long."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "The primary postal code of the member. Error codes MEM_012 Postal code is too long."
                  },
                  "city": {
                    "type": "string",
                    "description": "The primary city of the member. Error codes MEM_013 City is too long."
                  },
                  "country": {
                    "type": "string",
                    "description": "The primary country of the member. Error codes MEM_014 Country is too long."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The phone number of the member. Error codes MEM_019 Phone is too long."
                  },
                  "mobilePhoneNumber": {
                    "type": "string",
                    "description": "The mobile phone number of the member. Error codes MEM_020 Mobile is too long."
                  },
                  "faxNumber": {
                    "type": "string",
                    "description": "The fax number of the member. Error codes MEM_021 Fax is too long."
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "The email address of the member. Error codes MEM_022 Email is too long. MEM_023 Email is invalid."
                  },
                  "emailAddressInvoice": {
                    "type": "string",
                    "description": "The invoice email address of the member. Error codes MEM_024 Email invoice is too long. MEM_025 Email invoice is invalid."
                  },
                  "emailAddressReminder": {
                    "type": "string",
                    "description": "The reminder email address of the member. Error codes MEM_026 Email reminder is too long. MEM_027 Email reminder is invalid."
                  },
                  "note": {
                    "type": "string",
                    "description": "The note of the member."
                  },
                  "termOfPayment": {
                    "type": "number",
                    "description": "The payment term of the member. Error codes MEM_030 Term of payment too low. MEM_031 Term of payment too high."
                  },
                  "iban": {
                    "type": "string",
                    "description": "The IBAN number of the member. Error codes MEM_007 Iban is invalid. MEM_029 Iban is too long."
                  },
                  "bic": {
                    "type": "string",
                    "description": "The BIC number of the member. Error codes MEM_032 BIC is too long."
                  },
                  "freeText1": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_037 Free text 1 is too long."
                  },
                  "freeText2": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_038 Free text 2 is too long."
                  },
                  "freeText3": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_039 Free text 3 is too long."
                  },
                  "freeText4": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_040 Free text 4 is too long."
                  },
                  "freeText5": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_041 Free text 5 is too long."
                  },
                  "freeText6": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_042 Free text 6 is too long."
                  },
                  "freeText7": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_043 Free text 7 is too long."
                  },
                  "freeText8": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_044 Free text 8 is too long."
                  },
                  "freeText9": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_045 Free text 9 is too long."
                  },
                  "freeText10": {
                    "type": "string",
                    "description": "Free text field for the member. Error codes MEM_046 Free text 10 is too long."
                  },
                  "doNotReceiveNewsletters": {
                    "type": "boolean",
                    "description": "Whether the member will receive newsletters or not."
                  },
                  "ledgerId": {
                    "type": "number",
                    "description": "The ledger ID of this member. Error codes MEM_048 Ledger not found."
                  },
                  "mandate": {
                    "type": "boolean",
                    "description": "Enable or disable mandate."
                  },
                  "mandateType": {
                    "type": "string",
                    "description": "one-time (`E`) or continuous (`D`) Error codes MEM_033 Mandate type is too long. MEM_051 Mandate type is invalid (E,D)."
                  },
                  "mandateId": {
                    "type": "string",
                    "description": "The mandate ID of this member. Error codes MEM_034 Mandate ID is too long."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/create-mutation": {
      "post": {
        "operationId": "e-boekhouden-nl.create-mutation",
        "summary": "Create Mutation",
        "description": "Creates a new mutation in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-mutation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "type",
                  "date",
                  "ledgerId",
                  "rows[].vatCode",
                  "rows[].amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string",
                    "description": "A list of mutation types is displayed below. | Value | Description | |---|---| | 1 | Invoice received | | 2 | Invoice sent | | 3 | Invoice payment received | | 4 | Invoice payment sent | | 5 | Money received | | 6 | Money sent | | 7 | General journal entry |"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date of the mutation. Error codes MUT_003 Date is missing."
                  },
                  "ledgerId": {
                    "type": "number",
                    "description": "The ledger ID of the mutation. Error codes MUTA_001 Ledger id is missing. MUT_007 Unknown ledger for mutation."
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "The invoice number of the mutation. Error codes MUT_018 Invoice number is too long. MUT_019 Invoice number already exists. MUT_002 Invoice number is missing."
                  },
                  "entryNumber": {
                    "type": "string",
                    "description": "The entry of the mutation."
                  },
                  "termOfPayment": {
                    "type": "number",
                    "description": "The term of payment from `date`, in days. Error codes MUT_016 Term of payment is prohibited."
                  },
                  "checkPaymentReference": {
                    "type": "boolean",
                    "description": "If true, the provided `paymentReference` will be validated for uniqueness."
                  },
                  "paymentReference": {
                    "type": "string",
                    "description": "The payment reference of the mutation."
                  },
                  "inExVat": {
                    "type": "string",
                    "description": "Indicates if the amount on mutation rows is including (`IN`) or excluding (`EX`) VAT. The corresponding value will be calculated based on the VAT code. Error codes MUT_017 In/Ex VAT must be 'IN' or 'EX'. MUTA_005 In/Ex VAT is missing."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the mutation."
                  },
                  "relationId": {
                    "type": "number",
                    "description": "The relation id of the mutation. Error codes MUT_012 Relation is missing. MUT_013 Relation not found."
                  },
                  "rows[].ledgerId": {
                    "type": "number",
                    "description": "The ledger ID of the row. Required in combination with `type`: 1, 2, 5, 6, 7. For `type` 1, 2, 5, 6 ledger cannot be in the category: `FIN`, `CRED`, `DEB`. For `type` 7 ledger can be any. Error codes MUTA_004 Ledger ID for row is missing. MUT_007 Unknown ledger for mutation. MUT_104 Unknown ledger for row. MUT_106 Invalid ledger category for row."
                  },
                  "rows[].vatCode": {
                    "type": "string",
                    "description": "A list of VAT codes is displayed below. | Value | Description | |---|---| | HOOG_VERK_21 | For selling with 21% VAT. | | LAAG_VERK_9 | For selling with 9% VAT. | | VERL_VERK | For selling with reverse-charging 21% VAT. | | VERL_VERK_L9 | For selling with reverse-charging 9% VAT. | | AFW | VAT percentage is unspecified. Price values will be used | | BU_EU_VERK | Deliveries outside the EU, 0% VAT. | | BI_EU_VERK | Goods inside the EU, 0% VAT. | | BI_EU_VERK_D | Services inside the EU, 0% VAT. | | AFST_VERK | Distance sales inside the EU, 0% VAT. | | LAAG_INK_9 | For buying with 9% VAT. | | HOOG_INK_21 | For buying with 21% VAT. | | VERL_INK | For buying with reverse-charging VAT. | | AFW_VERK | For selling with unspecified VAT percentage. Price values will be used. | | BU_EU_INK | For buying goods/services from outside the EU, 0% VAT. | | BI_EU_INK | For buying goods/services from inside the EU, 0% VAT. | | GEEN | No VAT. |"
                  },
                  "rows[].vatAmount": {
                    "type": "number",
                    "description": "The VAT amount of the row. Only use in combination with vatCode: 'AFW_VERK' or 'AFW'. Only applicable for NL."
                  },
                  "rows[].costCenterId": {
                    "type": "number",
                    "description": "The cost center id of the row."
                  },
                  "rows[].amount": {
                    "type": "number",
                    "description": "The amount of the row. This value includes or excludes VAT depending on the `inExVat` value of the mutation."
                  },
                  "rows[].description": {
                    "type": "string",
                    "description": "The description of the row."
                  },
                  "rows[].invoiceNumber": {
                    "type": "string",
                    "description": "The invoice number of the row. Required for type 'Invoice payment received' and 'Invoice payment sent'. Error codes MUT_115 Invoice not found. MUT_120 Invoice number is missing."
                  },
                  "rows[].relationId": {
                    "type": "number",
                    "description": "The relation id of the row. Error codes MUT_112 Relation is missing. MUT_113 Relation not found."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/create-product": {
      "post": {
        "operationId": "e-boekhouden-nl.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "code",
                  "description",
                  "vat",
                  "ledgerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code of the product. Error codes ART_004 Product Code is missing. ART_007 Product Code is too long."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the product. Error codes ART_005 Product Description is missing."
                  },
                  "unitId": {
                    "type": "number",
                    "description": "The unit ID of the product. Error codes ART_011 Product Unit could not be found."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the product is active."
                  },
                  "groupId": {
                    "type": "number",
                    "description": "The group ID of the product. Error codes ART_012 Product Group could not be found."
                  },
                  "purchasePriceExcl": {
                    "type": "number",
                    "description": "The purchase price (excluding VAT) of the product. Error codes ART_027 The value of PurchasePriceExcl exceeds the maximum value of 999999999999.00. ART_032 The value of PurchasePriceExcl is below the minimum value of -999999999999.00."
                  },
                  "priceExcl": {
                    "type": "number",
                    "description": "The price (excluding VAT) of the product. This field can not be combined with `priceIncl`. Error codes ART_018 Either priceExcl or priceIncl is required. ART_019 Both priceExcl and priceIncl are required with current VAT code. ART_024 The value of PriceExcl exceeds the maximum value of 999999999999.00. ART_026 The value of PriceIncl after applying VAT exceeds the maximum value of 999999999999.00. ART_029 The value of PriceExcl is below the minimum value of -999999999999.00. ART_031 The value of PriceIncl after applying VAT is below the minimum value of -999999999999.00."
                  },
                  "priceIncl": {
                    "type": "number",
                    "description": "The price (including VAT) of the product. This field can not be combined with `priceExcl`. Error codes ART_016 priceIncl cannot have a value when priceExcl is passed. ART_018 Either priceExcl or priceIncl is required. ART_019 Both priceExcl and priceIncl are required with current VAT code. ART_025 The value of PriceIncl exceeds the maximum value of 999999999999.00. ART_030 The value of PriceIncl is below the minimum value of -999999999999.00."
                  },
                  "vat": {
                    "type": "string",
                    "description": "The VAT code of the product. Only supports VAT codes of type 'Sale'. Error codes ART_013 Product VAT code could not be found. ART_017 Product VAT code is required."
                  },
                  "ledgerId": {
                    "type": "number",
                    "description": "The ledger ID of the product. Error codes ART_006 Product Ledger ID is missing. ART_009 Product Ledger could not be found. ART_028 Ledger category must be 'BAL' or 'VW'."
                  },
                  "costCenterId": {
                    "type": "number",
                    "description": "The cost center ID of the product. Error codes ART_010 Product Cost center is inactive. ART_015 Product cost center could not be found."
                  },
                  "inStockManagement": {
                    "type": "boolean",
                    "description": "Whether the product will be Included in automatic inventory management."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/create-relation": {
      "post": {
        "operationId": "e-boekhouden-nl.create-relation",
        "summary": "Create Relation",
        "description": "Creates a new relation in e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/create-relation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "type": {
                    "type": "string",
                    "description": "Business (`B`) or Private (`P`). Defaults to `B` if empty. Error codes REL_001 Relation type is invalid (B,P)."
                  },
                  "code": {
                    "type": "string",
                    "description": "The code of the relation. Auto-generated if empty. Error codes REL_049 Code already exists. REL_005 Code is invalid. REL_006 Code is too long."
                  },
                  "name": {
                    "type": "string",
                    "description": "The (company) name of the relation. Error codes REL_002 Name is mandatory. REL_003 Name is too long."
                  },
                  "salutation": {
                    "type": "string",
                    "description": "The salutation of the relation. Error codes REL_010 Salutation is too long."
                  },
                  "contact": {
                    "type": "string",
                    "description": "The contact of the relation. Error codes REL_009 Contact is too long."
                  },
                  "gender": {
                    "type": "string",
                    "description": "Male (`m`) or female (`v`) or department (`a`) Error codes REL_004 Gender is invalid (m,v,a)."
                  },
                  "address": {
                    "type": "string",
                    "description": "The primary address of the relation. Error codes REL_011 Address is too long."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "The primary postal code of the relation. Error codes REL_012 Postal code is too long."
                  },
                  "city": {
                    "type": "string",
                    "description": "The primary city of the relation. Error codes REL_013 City is too long."
                  },
                  "country": {
                    "type": "string",
                    "description": "The primary country of the relation. Error codes REL_014 Country is too long."
                  },
                  "address2": {
                    "type": "string",
                    "description": "The secondary address of the relation. Error codes REL_015 Address 2 is too long."
                  },
                  "postalCode2": {
                    "type": "string",
                    "description": "The secondary postal code of the relation. Error codes REL_016 Postal code 2 is too long."
                  },
                  "city2": {
                    "type": "string",
                    "description": "The secondary city of the relation. Error codes REL_017 City 2 is too long."
                  },
                  "country2": {
                    "type": "string",
                    "description": "The secondary country of the relation. Error codes REL_018 Country 2 is too long."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The phone number of the relation. Error codes REL_019 Phone is too long."
                  },
                  "mobilePhoneNumber": {
                    "type": "string",
                    "description": "The mobile phone number of the relation. Error codes REL_020 Mobile is too long."
                  },
                  "faxNumber": {
                    "type": "string",
                    "description": "The fax number of the relation. Error codes REL_021 Fax is too long."
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "The email address of the relation. Error codes REL_022 Email is too long. REL_023 Email is invalid."
                  },
                  "emailAddressInvoice": {
                    "type": "string",
                    "description": "The invoice email address of the relation. Error codes REL_024 Email invoice is too long. REL_025 Email invoice is invalid."
                  },
                  "emailAddressReminder": {
                    "type": "string",
                    "description": "The reminder email address of the relation. Error codes REL_026 Email reminder is too long. REL_027 Email reminder is invalid."
                  },
                  "website": {
                    "type": "string",
                    "description": "The website of the relation. Error codes REL_028 Website is too long."
                  },
                  "note": {
                    "type": "string",
                    "description": "The note of the relation."
                  },
                  "vatNumber": {
                    "type": "string",
                    "description": "The VAT number of the relation. Error codes REL_035 VAT number is too long."
                  },
                  "inactive": {
                    "type": "boolean",
                    "description": "Whether the relation is inactive."
                  },
                  "termOfPayment": {
                    "type": "number",
                    "description": "The payment term of the relation. Error codes REL_030 Term of payment too low. REL_031 Term of payment too high."
                  },
                  "companyRegistrationNumber": {
                    "type": "string",
                    "description": "The company registration number of the relation. Error codes REL_008 Company registration number must be numeric. REL_050 Company registration number is too long."
                  },
                  "iban": {
                    "type": "string",
                    "description": "The IBAN number of the relation. Error codes REL_007 Iban is invalid. REL_029 Iban is too long."
                  },
                  "bic": {
                    "type": "string",
                    "description": "The BIC number of the relation. Error codes REL_032 BIC is too long."
                  },
                  "freeText1": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_037 Free text 1 is too long."
                  },
                  "freeText2": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_038 Free text 2 is too long."
                  },
                  "freeText3": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_039 Free text 3 is too long."
                  },
                  "freeText4": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_040 Free text 4 is too long."
                  },
                  "freeText5": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_041 Free text 5 is too long."
                  },
                  "freeText6": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_042 Free text 6 is too long."
                  },
                  "freeText7": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_043 Free text 7 is too long."
                  },
                  "freeText8": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_044 Free text 8 is too long."
                  },
                  "freeText9": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_045 Free text 9 is too long."
                  },
                  "freeText10": {
                    "type": "string",
                    "description": "Free text field for the relation. Error codes REL_046 Free text 10 is too long."
                  },
                  "doNotReceiveNewsletters": {
                    "type": "boolean",
                    "description": "Whether the relation will receive newsletters or not."
                  },
                  "ledgerId": {
                    "type": "number",
                    "description": "The ledger ID of this relation. Error codes REL_048 Ledger not found."
                  },
                  "mandate": {
                    "type": "boolean",
                    "description": "Enable or disable mandate."
                  },
                  "mandateType": {
                    "type": "string",
                    "description": "one-time (`E`) or continuous (`D`) Error codes REL_033 Mandate type is too long. REL_051 Mandate type is invalid (E,D)."
                  },
                  "mandateId": {
                    "type": "string",
                    "description": "The mandate ID of this relation. Error codes REL_034 Mandate ID is too long."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/delete-cost-center": {
      "delete": {
        "operationId": "e-boekhouden-nl.delete-cost-center",
        "summary": "Delete Cost Center",
        "description": "Deletes a cost center from e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/delete-cost-center"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/delete-product": {
      "delete": {
        "operationId": "e-boekhouden-nl.delete-product",
        "summary": "Delete Product",
        "description": "Deletes a product from e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/delete-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/get-cost-center": {
      "get": {
        "operationId": "e-boekhouden-nl.get-cost-center",
        "summary": "Get Cost Center",
        "description": "Retrieves a cost center from e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/get-cost-center"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/e-boekhouden-nl/latest/actions/get-invoice": {
      "get": {
        "operationId": "e-boekhouden-nl.get-invoice",
        "summary": "Get Invoice",
        "description": "Retrieves an invoice from e-Boekhouden.nl.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/e-boekhouden-nl/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
[...]
