{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Loop Returns Universal API",
    "version": "0.0.22",
    "description": "Call Loop Returns actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/loopReturns/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/loopReturns/latest/actions/flag-return": {
      "post": {
        "operationId": "loopReturns.flag-return",
        "summary": "Flag Return",
        "description": "Flag a return in Loop for review.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loopReturns/latest/actions/flag-return"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "return_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "return_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loopReturns/latest/actions/list-destinations": {
      "get": {
        "operationId": "loopReturns.list-destinations",
        "summary": "List Destinations",
        "description": "Retrieve all destinations.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loopReturns/latest/actions/list-destinations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string"
                              },
                              "address2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loopReturns/latest/actions/list-return-details": {
      "get": {
        "operationId": "loopReturns.list-return-details",
        "summary": "Get Return Details",
        "description": "Get the details of a specific return based on a return’s ID, an order name, or a Shopify order ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loopReturns/latest/actions/list-return-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "customerEmail": {
                            "type": "string"
                          },
                          "customerFirstName": {
                            "type": "string"
                          },
                          "customerLastName": {
                            "type": "string"
                          },
                          "destinationId": {
                            "type": "number"
                          },
                          "editedAt": {
                            "type": "string"
                          },
                          "exchange": {
                            "type": "string"
                          },
                          "exchangeCreditTotal": {
                            "type": "string"
                          },
                          "exchangeDiscountTotal": {
                            "type": "string"
                          },
                          "exchangeProductTotal": {
                            "type": "string"
                          },
                          "exchangeTaxTotal": {
                            "type": "string"
                          },
                          "exchangeTotal": {
                            "type": "string"
                          },
                          "giftCard": {
                            "type": "string"
                          },
                          "giftCardOrderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "giftCardOrderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "handlingFee": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "labelRate": {
                            "type": "number"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "carrier": {
                                  "type": "string"
                                },
                                "lineItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "rate": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "trackingNumber": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "labelStatus": {
                            "type": "string"
                          },
                          "labelUpdatedAt": {
                            "type": "string"
                          },
                          "labelUrl": {
                            "type": "string"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "barcode": {
                                  "type": "string"
                                },
                                "condition": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "consolidationTracking": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "discount": {
                                  "type": "string"
                                },
                                "disposition": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "exchangeVariant": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "image": {
                                  "type": "string"
                                },
                                "lineItemId": {
                                  "type": "number"
                                },
                                "lineItemTitle": {
                                  "type": "string"
                                },
                                "outcome": {
                                  "type": "string"
                                },
                                "parentReason": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "number"
                                },
                                "providerLineItemId": {
                                  "type": "number"
                                },
                                "providerRestockLocationId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "reason": {
                                  "type": "string"
                                },
                                "refund": {
                                  "type": "string"
                                },
                                "refundItem": {
                                  "type": "string"
                                },
                                "refundTax": {
                                  "type": "string"
                                },
                                "returnComment": {
                                  "type": "string"
                                },
                                "returnedAt": {
                                  "type": "string"
                                },
                                "sku": {
                                  "type": "string"
                                },
                                "tax": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "variantId": {
                                  "type": "number"
                                },
                                "variantTitle": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "multiCurrency": {
                            "type": "boolean"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "orderName": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "number"
                          },
                          "originCountry": {
                            "type": "string"
                          },
                          "originCountryCode": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "outcomesProcessedAt": {
                            "type": "object",
                            "properties": {
                              "exchangeProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "giftCardProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "returnProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "packageReference": {
                            "type": "string"
                          },
                          "providerOrderId": {
                            "type": "number"
                          },
                          "providerOrderNumber": {
                            "type": "number"
                          },
                          "refund": {
                            "type": "string"
                          },
                          "refundBeforeInspection": {
                            "type": "boolean"
                          },
                          "returnCreditTotal": {
                            "type": "string"
                          },
                          "returnDiscountTotal": {
                            "type": "string"
                          },
                          "returnMethod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "returnProductTotal": {
                            "type": "string"
                          },
                          "returnTaxTotal": {
                            "type": "string"
                          },
                          "returnTotal": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "statusPageUrl": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "upsell": {
                            "type": "string"
                          },
                          "wasProcessed": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loopReturns/latest/actions/list-returns": {
      "get": {
        "operationId": "loopReturns.list-returns",
        "summary": "List Returns",
        "description": "Pull a detailed list of returns created within a given timeframe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loopReturns/latest/actions/list-returns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Only include returns in a particular state. If left blank, the response may include __open__, __closed__, and __expired__ returns.\n\nAvailable options: `open`, `closed`, `cancelled`, `expired`, `review`",
            "schema": {
              "type": "string",
              "description": "Only include returns in a particular state. If left blank, the response may include __open__, __closed__, and __expired__ returns.\n\nAvailable options: `open`, `closed`, `cancelled`, `expired`, `review`"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "The date used to filter results.\n\nAvailable options: `created_at`, `updated_at`",
            "schema": {
              "type": "string",
              "description": "The date used to filter results.\n\nAvailable options: `created_at`, `updated_at`"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "destinationId": {
                            "type": "number"
                          },
                          "editedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "exchangeCreditTotal": {
                            "type": "string"
                          },
                          "exchangeDiscountTotal": {
                            "type": "string"
                          },
                          "exchangeProductTotal": {
                            "type": "string"
                          },
                          "exchangeTaxTotal": {
                            "type": "string"
                          },
                          "exchangeTotal": {
                            "type": "string"
                          },
                          "giftCard": {
                            "type": "string"
                          },
                          "giftCardOrderId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "giftCardOrderName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "handlingFee": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "labelRate": {
                            "type": "number"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "carrier": {
                                  "type": "string"
                                },
                                "lineItems": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "rate": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "trackingNumber": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "labelStatus": {
                            "type": "string"
                          },
                          "labelUpdatedAt": {
                            "type": "string"
                          },
                          "labelUrl": {
                            "type": "string"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "barcode": {
                                  "type": "string"
                                },
                                "condition": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "consolidationTracking": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "discount": {
                                  "type": "string"
                                },
                                "disposition": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "exchangeVariant": {
                                  "type": "string"
                                },
                                "lineItemId": {
                                  "type": "string"
                                },
                                "outcome": {
                                  "type": "string"
                                },
                                "parentReturnReason": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "string"
                                },
                                "providerLineItemId": {
                                  "type": "string"
                                },
                                "providerRestockLocationId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "refund": {
                                  "type": "string"
                                },
                                "refundItem": {
                                  "type": "string"
                                },
                                "refundTax": {
                                  "type": "string"
                                },
                                "returnComment": {
                                  "type": "string"
                                },
                                "returnedAt": {
                                  "type": "string"
                                },
                                "returnReason": {
                                  "type": "string"
                                },
                                "sku": {
                                  "type": "string"
                                },
                                "tax": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "variantId": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "multiCurrency": {
                            "type": "boolean"
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderName": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "originCountry": {
                            "type": "string"
                          },
                          "originCountryCode": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string"
                          },
                          "outcomesProcessedAt": {
                            "type": "object",
                            "properties": {
                              "exchangeProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "giftCardProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "refundProcessed": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "timezone": {
                                    "type": "string"
                                  },
                                  "timezoneType": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "returnProcessed": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "timezone": {
                                    "type": "string"
                                  },
                                  "timezoneType": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "shopCashProcessed": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "packageReference": {
                            "type": "string"
                          },
                          "providerOrderId": {
                            "type": "string"
                          },
                          "providerOrderNumber": {
                            "type": "string"
                          },
                          "refund": {
                            "type": "string"
                          },
                          "refundBeforeInspection": {
                            "type": "boolean"
                          },
                          "returnCreditTotal": {
                            "type": "string"
                          },
                          "returnDiscountTotal": {
                            "type": "string"
                          },
                          "returnMethod": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "returnProductTotal": {
                            "type": "string"
                          },
                          "returnTaxTotal": {
                            "type": "string"
                          },
                          "returnTotal": {
                            "type": "string"
                          },
                          "shopifyRefundObject": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAt": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "providerCreatedAt": {
                                  "type": "string"
                                },
                                "providerRefundId": {
                                  "type": "number"
                                },
                                "returnId": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "statusPageUrl": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "upsell": {
                            "type": "string"
                          },
                          "wasProcessed": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/loopReturns/latest/actions/process-return": {
      "put": {
        "operationId": "loopReturns.process-return",
        "summary": "Process Return",
        "description": "Process a return in Loop based on the return ID. Processing a return will archive it in Loop and fulfill any remaining outcomes, such as placing exchange orders or creating gift cards.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/loopReturns/latest/actions/process-return"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "return_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "return_id": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
