{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Ninox Universal API",
    "version": "0.0.5",
    "description": "Manage Ninox workspaces, databases, tables, records, and files"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/ninox/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/ninox/latest/actions/create-or-update-records": {
      "post": {
        "operationId": "ninox.create-or-update-records",
        "summary": "Create Or Update Records",
        "description": "Creates or updates multiple records in a Ninox table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/create-or-update-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "teamId",
                  "dbId",
                  "tableId",
                  "records"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "Workspace ID that owns the database.",
                    "example": "YcHTn3ir8XNSp5EXK"
                  },
                  "dbId": {
                    "type": "string",
                    "description": "Database ID that owns the table.",
                    "example": "database_id"
                  },
                  "tableId": {
                    "type": "string",
                    "description": "Table ID to create or update records in.",
                    "example": "table_id"
                  },
                  "records": {
                    "type": "string",
                    "description": "Array of record payloads to create or update.",
                    "example": "[object Object]"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_cd": {
                            "type": "string",
                            "description": "Record creation timestamp."
                          },
                          "_cu": {
                            "type": "string",
                            "description": "Record creator."
                          },
                          "_id": {
                            "type": "number",
                            "description": "Record ID."
                          },
                          "_md": {
                            "type": "string",
                            "description": "Record last-modified timestamp."
                          },
                          "_mu": {
                            "type": "string",
                            "description": "Record last modifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/delete-file": {
      "delete": {
        "operationId": "ninox.delete-file",
        "summary": "Delete File",
        "description": "Deletes a file from a Ninox record.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/delete-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "The Ninox table ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox table ID.",
              "example": "A"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Ninox record ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox record ID.",
              "example": "1"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "The Ninox file name.",
            "schema": {
              "type": "string",
              "description": "The Ninox file name.",
              "example": "invoice.pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/delete-record": {
      "delete": {
        "operationId": "ninox.delete-record",
        "summary": "Delete Record",
        "description": "Deletes a record from a Ninox table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/delete-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Workspace ID that owns the database.",
            "schema": {
              "type": "string",
              "description": "Workspace ID that owns the database.",
              "example": "YcHTn3ir8XNSp5EXK"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "Database ID that owns the table.",
            "schema": {
              "type": "string",
              "description": "Database ID that owns the table.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "Table ID that owns the record.",
            "schema": {
              "type": "string",
              "description": "Table ID that owns the record.",
              "example": "table_id"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "Record ID to delete.",
            "schema": {
              "type": "string",
              "description": "Record ID to delete.",
              "example": "record_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/delete-records": {
      "delete": {
        "operationId": "ninox.delete-records",
        "summary": "Delete Records",
        "description": "Deletes multiple records from a Ninox table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/delete-records"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Workspace ID that owns the database.",
            "schema": {
              "type": "string",
              "description": "Workspace ID that owns the database.",
              "example": "YcHTn3ir8XNSp5EXK"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "Database ID that owns the table.",
            "schema": {
              "type": "string",
              "description": "Database ID that owns the table.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "Table ID to delete records from.",
            "schema": {
              "type": "string",
              "description": "Table ID to delete records from.",
              "example": "table_id"
            }
          },
          {
            "name": "recordIds",
            "in": "query",
            "required": true,
            "description": "Array of record IDs to delete.",
            "schema": {
              "type": "string",
              "description": "Array of record IDs to delete.",
              "example": "1,2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/download-file": {
      "get": {
        "operationId": "ninox.download-file",
        "summary": "Download File",
        "description": "Retrieves a file from a Ninox record.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/download-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "The Ninox table ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox table ID.",
              "example": "A"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Ninox record ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox record ID.",
              "example": "1"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "The Ninox file name.",
            "schema": {
              "type": "string",
              "description": "The Ninox file name.",
              "example": "invoice.pdf"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/execute-read-only-query-via-get": {
      "get": {
        "operationId": "ninox.execute-read-only-query-via-get",
        "summary": "Execute Read-Only Query Via GET",
        "description": "Executes a read-only database query in Ninox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/execute-read-only-query-via-get"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The read-only Ninox query to execute.",
            "schema": {
              "type": "string",
              "description": "The read-only Ninox query to execute.",
              "example": "select Customer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/execute-read-only-query-via-post": {
      "get": {
        "operationId": "ninox.execute-read-only-query-via-post",
        "summary": "Execute Read-Only Query Via POST",
        "description": "Executes a read-only database query in Ninox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/execute-read-only-query-via-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The read-only Ninox query to execute.",
            "schema": {
              "type": "string",
              "description": "The read-only Ninox query to execute.",
              "example": "(select Contact).'First Name'"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/execute-writable-query": {
      "put": {
        "operationId": "ninox.execute-writable-query",
        "summary": "Execute Writable Query",
        "description": "Executes a writable database query in Ninox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/execute-writable-query"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "teamId",
                  "dbId",
                  "query"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "teamId": {
                    "type": "string",
                    "description": "The team ID that owns the target database.",
                    "example": "team_id"
                  },
                  "dbId": {
                    "type": "string",
                    "description": "The Ninox database ID.",
                    "example": "database_id"
                  },
                  "query": {
                    "type": "string",
                    "description": "The writable Ninox query to execute.",
                    "example": "(select Contact).'First Name'"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/find-record-by-post": {
      "get": {
        "operationId": "ninox.find-record-by-post",
        "summary": "Find Record By POST",
        "description": "Finds a record in Ninox by filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/find-record-by-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Workspace ID that owns the database.",
            "schema": {
              "type": "string",
              "description": "Workspace ID that owns the database.",
              "example": "YcHTn3ir8XNSp5EXK"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "Database ID that owns the table.",
            "schema": {
              "type": "string",
              "description": "Database ID that owns the table.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "Table ID to search.",
            "schema": {
              "type": "string",
              "description": "Table ID to search.",
              "example": "table_id"
            }
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "description": "Optional response style.",
            "schema": {
              "type": "string",
              "description": "Optional response style.",
              "example": "text"
            }
          },
          {
            "name": "dateStyle",
            "in": "query",
            "required": false,
            "description": "Optional date formatting style.",
            "schema": {
              "type": "string",
              "description": "Optional date formatting style.",
              "example": "iso"
            }
          },
          {
            "name": "choiceStyle",
            "in": "query",
            "required": false,
            "description": "Optional choice formatting style.",
            "schema": {
              "type": "string",
              "description": "Optional choice formatting style.",
              "example": "text"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": true,
            "description": "Filter object used to find one record.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Filter object used to find one record."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Record creation timestamp."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Record field values."
                          },
                          "id": {
                            "type": "number",
                            "description": "Record ID."
                          },
                          "modifiedAt": {
                            "type": "number",
                            "description": "Record last-modified timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/get-database-changes": {
      "get": {
        "operationId": "ninox.get-database-changes",
        "summary": "Get Database Changes",
        "description": "Retrieves database changes from Ninox by sequence number.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/get-database-changes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "sinceSq",
            "in": "query",
            "required": true,
            "description": "Return changes since this sequence number.",
            "schema": {
              "type": "number",
              "description": "Return changes since this sequence number.",
              "example": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Database configuration changes."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "File changes since the sequence number."
                          },
                          "nextRids": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Next record IDs by table."
                          },
                          "removes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Removed records since the sequence number."
                          },
                          "reports": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Report changes keyed by report identifier."
                          },
                          "seq": {
                            "type": "number",
                            "description": "Latest sequence number in the change set."
                          },
                          "updates": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Updated records keyed by Ninox record identifier."
                          },
                          "views": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "View changes keyed by view identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/get-database-schema": {
      "get": {
        "operationId": "ninox.get-database-schema",
        "summary": "Get Database Schema",
        "description": "Retrieves a database schema from Ninox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/get-database-schema"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Workspace ID that owns the database.",
            "schema": {
              "type": "string",
              "description": "Workspace ID that owns the database.",
              "example": "YcHTn3ir8XNSp5EXK"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "Database ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "Database ID to retrieve.",
              "example": "database_id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "Database creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Database ID."
                          },
                          "modifiedAt": {
                            "type": "string",
                            "description": "Database last-modified timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Database name."
                          },
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tables in the database schema."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/get-file-metadata": {
      "get": {
        "operationId": "ninox.get-file-metadata",
        "summary": "Get File Metadata",
        "description": "Retrieves metadata for a file in Ninox.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/get-file-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "The Ninox table ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox table ID.",
              "example": "A"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Ninox record ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox record ID.",
              "example": "1"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "The Ninox file name.",
            "schema": {
              "type": "string",
              "description": "The Ninox file name.",
              "example": "invoice.pdf"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contentType": {
                            "type": "string",
                            "description": "File MIME type."
                          },
                          "modifiedDate": {
                            "type": "number",
                            "description": "Last modified timestamp in milliseconds."
                          },
                          "modifiedUser": {
                            "type": "string",
                            "description": "User who last modified the file."
                          },
                          "name": {
                            "type": "string",
                            "description": "File name."
                          },
                          "seq": {
                            "type": "number",
                            "description": "File sequence number."
                          },
                          "size": {
                            "type": "number",
                            "description": "File size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/get-file-thumbnail": {
      "get": {
        "operationId": "ninox.get-file-thumbnail",
        "summary": "Get File Thumbnail",
        "description": "Retrieves a file thumbnail from a Ninox record.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/get-file-thumbnail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns the target database.",
            "schema": {
              "type": "string",
              "description": "The team ID that owns the target database.",
              "example": "team_id"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "The Ninox database ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox database ID.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "The Ninox table ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox table ID.",
              "example": "A"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Ninox record ID.",
            "schema": {
              "type": "string",
              "description": "The Ninox record ID.",
              "example": "1"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "The Ninox file name.",
            "schema": {
              "type": "string",
              "description": "The Ninox file name.",
              "example": "invoice.pdf"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/ninox/latest/actions/get-record": {
      "get": {
        "operationId": "ninox.get-record",
        "summary": "Get Record",
        "description": "Retrieves a record from a Ninox table.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/ninox/latest/actions/get-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Workspace ID that owns the database.",
            "schema": {
              "type": "string",
              "description": "Workspace ID that owns the database.",
              "example": "YcHTn3ir8XNSp5EXK"
            }
          },
          {
            "name": "dbId",
            "in": "query",
            "required": true,
            "description": "Database ID that owns the table.",
            "schema": {
              "type": "string",
              "description": "Database ID that owns the table.",
              "example": "database_id"
            }
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "description": "Table ID that owns the record.",
            "schema": {
              "type": "string",
              "description": "Table ID that owns the record.",
              "example": "table_id"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "Record ID to retrieve.",
            "schema": {
              "type": "string",
              "description": "Record ID to retrieve.",
              "example": "record_id"
            }
          },
          {
            "name": "choiceStyle",
            "in": "query",
            "required": false,
            "description": "Optional choice formatting style for returned fields.",
            "schema": {
              "type": "string",
              "description": "Optional choice formatting style for returned fields.",
              "example": "text"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "number",
                            "description": "Record creation timestamp."
                          },
                          "fields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Record field values."
                          },
                          "id": {
                            "type": "number",
                            "description": "Record ID."
                          },
                          "modifiedAt": {
                            "type": "number",
                            "description": "Record last-modified timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
[...]
