{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Filestack Universal API",
    "version": "0.0.5",
    "description": "Filestack File API integration for uploading, retrieving metadata for, overwriting, downloading, and deleting files via Filestack handles."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/filestack/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/filestack/latest/actions/delete-file": {
      "delete": {
        "operationId": "filestack.delete-file",
        "summary": "Delete File",
        "description": "Deletes an existing file from Filestack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/filestack/latest/actions/delete-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "The Filestack file handle to delete.",
            "schema": {
              "type": "string",
              "description": "The Filestack file handle to delete.",
              "example": "itnd50g6QzehEsWjDGij"
            }
          },
          {
            "name": "policy",
            "in": "query",
            "required": true,
            "description": "Security policy generated by your backend for the delete request.",
            "schema": {
              "type": "string",
              "description": "Security policy generated by your backend for the delete request.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "Signature generated by your backend for the delete request.",
            "schema": {
              "type": "string",
              "description": "Signature generated by your backend for the delete request.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/filestack/latest/actions/get-file-metadata": {
      "get": {
        "operationId": "filestack.get-file-metadata",
        "summary": "Get File Metadata",
        "description": "Retrieves file metadata from Filestack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/filestack/latest/actions/get-file-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "The Filestack file handle, for example itnd50g6QzehEsWjDGij.",
            "schema": {
              "type": "string",
              "description": "The Filestack file handle, for example itnd50g6QzehEsWjDGij.",
              "example": "DCL5K46FS3OIxb5iuKby",
              "default": "zJKAH3U9SP60pyZnyrp4"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string",
                            "description": "The filename returned by Filestack metadata."
                          },
                          "mimetype": {
                            "type": "string",
                            "description": "The file MIME type returned by Filestack metadata."
                          },
                          "size": {
                            "type": "number",
                            "description": "The file size in bytes."
                          },
                          "uploaded": {
                            "type": "number",
                            "description": "Timestamp when the file was uploaded."
                          },
                          "writeable": {
                            "type": "boolean",
                            "description": "Whether the file is writeable."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/filestack/latest/actions/get-workflow-status": {
      "get": {
        "operationId": "filestack.get-workflow-status",
        "summary": "Get Workflow Status",
        "description": "Retrieves workflow status from Filestack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/filestack/latest/actions/get-workflow-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The workflow job ID returned when you start a Filestack workflow run.",
            "schema": {
              "type": "string",
              "description": "The workflow job ID returned when you start a Filestack workflow run.",
              "example": "5aef4e90-4c6c-4779-ac8b-289cff108792"
            }
          },
          {
            "name": "policy",
            "in": "query",
            "required": true,
            "description": "The Filestack security policy generated by your backend for this workflow status call.",
            "schema": {
              "type": "string",
              "description": "The Filestack security policy generated by your backend for this workflow status call.",
              "example": "eyJleHBpcnkiOjE3MDAwMDAwMDB9",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "The signature for the supplied Filestack security policy.",
            "schema": {
              "type": "string",
              "description": "The signature for the supplied Filestack security policy.",
              "example": "428c3b32063f2081ec1ee3a703d05ce19883849adb4c90224367fe9707b3d808",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when the workflow job was created."
                          },
                          "jobid": {
                            "type": "string",
                            "description": "The ID of the workflow job processing your file."
                          },
                          "results": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The JSON-formatted result payload returned by the workflow."
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The file handles or URLs submitted to the workflow."
                          },
                          "status": {
                            "type": "string",
                            "description": "The current workflow job status."
                          },
                          "ttl": {
                            "type": "number",
                            "description": "The number of seconds the workflow result remains available in the Filestack network."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last time the workflow job status changed."
                          },
                          "workflow": {
                            "type": "string",
                            "description": "The workflow ID from the Filestack developer portal."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/filestack/latest/actions/run-workflow-on-file": {
      "post": {
        "operationId": "filestack.run-workflow-on-file",
        "summary": "Run Workflow On File",
        "description": "Runs a workflow on a file in Filestack.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/filestack/latest/actions/run-workflow-on-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workflowId",
                  "handle",
                  "policy",
                  "signature"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workflowId": {
                    "type": "string",
                    "description": "The Filestack workflow ID from the developer portal.",
                    "example": "67d273c3-249c-4192-b228-9c3e1d003963",
                    "default": "67d273c3-249c-4192-b228-9c3e1d003963"
                  },
                  "handle": {
                    "type": "string",
                    "description": "The Filestack file handle to send into the workflow.",
                    "example": "pR4oeS63QLmYIFNs2ZvZ",
                    "default": "zJKAH3U9SP60pyZnyrp4"
                  },
                  "policy": {
                    "type": "string",
                    "description": "The Filestack security policy generated by your backend for this workflow call.",
                    "example": "eyJleHBpcnkiOjE3MDAwMDAwMDB9",
                    "default": "eyJleHBpcnkiOjE3MDAwMDAwMDB9",
                    "x-mindcloud-advanced": true
                  },
                  "signature": {
                    "type": "string",
                    "description": "The signature for the supplied Filestack security policy.",
                    "example": "428c3b32063f2081ec1ee3a703d05ce19883849adb4c90224367fe9707b3d808",
                    "default": "428c3b32063f2081ec1ee3a703d05ce19883849adb4c90224367fe9707b3d808",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time when the workflow job was created."
                          },
                          "jobid": {
                            "type": "string",
                            "description": "The ID of the workflow job processing your file."
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The file handles or URLs submitted to the workflow."
                          },
                          "status": {
                            "type": "string",
                            "description": "The current workflow job status."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last time the workflow job status changed."
                          },
                          "workflow": {
                            "type": "string",
                            "description": "The workflow ID from the Filestack developer portal."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/filestack/latest/actions/store-file-from-url": {
      "post": {
        "operationId": "filestack.store-file-from-url",
        "summary": "Store File From URL",
        "description": "Creates a new file in Filestack from a URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/filestack/latest/actions/store-file-from-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Optional filename to store in Filestack.",
                    "example": "watermark.png"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "Optional MIME type override, for example image/png.",
                    "example": "image/png",
                    "x-mindcloud-advanced": true
                  },
                  "url": {
                    "type": "string",
                    "description": "Public URL of the file to import into Filestack.",
                    "example": "https://assets.filestackapi.com/watermark.png",
                    "default": "https://assets.filestackapi.com/watermark.png"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string",
                            "description": "The stored filename."
                          },
                          "key": {
                            "type": "string",
                            "description": "The storage key returned by Filestack."
                          },
                          "size": {
                            "type": "number",
                            "description": "The stored file size in bytes."
                          },
                          "type": {
                            "type": "string",
                            "description": "The stored file MIME type."
                          },
                          "url": {
                            "type": "string",
                            "description": "The Filestack CDN URL for the stored file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
