{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Agicap Universal API",
    "version": "0.0.4",
    "description": "Agicap is a cash flow, treasury, payments, accounts payable, and accounts receivable platform. Its public API supports Treasury Bank Journal exports and organization entity lookup."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/agicap/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/agicap/latest/actions/create-bank-journal-export": {
      "post": {
        "operationId": "agicap.create-bank-journal-export",
        "summary": "Create Bank Journal Export",
        "description": "Creates a bank journal export in Agicap for ready-to-export entries.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/agicap/latest/actions/create-bank-journal-export"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "entityId",
                  "exportId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "entityId": {
                    "type": "string",
                    "description": "Agicap entity identifier.",
                    "example": "140010"
                  },
                  "exportId": {
                    "type": "string",
                    "description": "Caller-generated UUID for the export.",
                    "example": "47a62f3d-6885-4f33-a7d2-40a4470b3a5f"
                  },
                  "currentExportCounts.currentBankJournalsCountInYear": {
                    "type": "number",
                    "description": "Optional number of bank journals already created this year outside Agicap, for first export numbering continuity.",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "currentExportCounts.currentBankJournalEntriesCountInYear": {
                    "type": "number",
                    "description": "Optional number of bank journal entries already created this year outside Agicap, for first export numbering continuity.",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bankJournalExportIndexInYear": {
                            "type": "number",
                            "description": "Index of the bank journal export in the current year."
                          },
                          "entityName": {
                            "type": "string",
                            "description": "Name of the entity."
                          },
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Bank journal entries included in the export when the API returns a 200 response."
                          },
                          "exportId": {
                            "type": "string",
                            "description": "Identifier of the export."
                          },
                          "year": {
                            "type": "number",
                            "description": "UTC year when the bank journal was exported."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/agicap/latest/actions/get-bank-journal-export-details": {
      "get": {
        "operationId": "agicap.get-bank-journal-export-details",
        "summary": "Get Bank Journal Export Details",
        "description": "Retrieves details for a bank journal export from Agicap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/agicap/latest/actions/get-bank-journal-export-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "description": "Agicap entity identifier.",
            "schema": {
              "type": "string",
              "description": "Agicap entity identifier.",
              "example": "140010"
            }
          },
          {
            "name": "exportId",
            "in": "query",
            "required": true,
            "description": "Unique export identifier returned by the export list action.",
            "schema": {
              "type": "string",
              "description": "Unique export identifier returned by the export list action.",
              "example": "47a62f3d-6885-4f33-a7d2-40a4470b3a5f"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bankJournalExportIndexInYear": {
                            "type": "number",
                            "description": "Index of the bank journal export in the current year."
                          },
                          "entityName": {
                            "type": "string",
                            "description": "Name of the entity."
                          },
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Bank journal entries included in the export."
                          },
                          "exportId": {
                            "type": "string",
                            "description": "Identifier of the export."
                          },
                          "year": {
                            "type": "number",
                            "description": "UTC year when the bank journal was exported."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/agicap/latest/actions/list-bank-journal-exports": {
      "get": {
        "operationId": "agicap.list-bank-journal-exports",
        "summary": "List Bank Journal Exports",
        "description": "Retrieves previous bank journal exports from Agicap.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/agicap/latest/actions/list-bank-journal-exports"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "description": "Agicap entity identifier.",
            "schema": {
              "type": "string",
              "description": "Agicap entity identifier.",
              "example": "140010"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of exports to return. Agicap documents a maximum of 100.",
            "schema": {
              "type": "number",
              "description": "Number of exports to return. Agicap documents a maximum of 100.",
              "example": 100,
              "default": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return exports after this ISO 8601 date cursor or filter value.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return exports after this ISO 8601 date cursor or filter value.",
              "example": "2026-01-01T00:00:00Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return exports before this ISO 8601 date cursor or filter value.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return exports before this ISO 8601 date cursor or filter value.",
              "example": "2026-12-31T23:59:59Z",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exportDateUtc": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Export date-time in UTC."
                          },
                          "exportId": {
                            "type": "string",
                            "description": "Unique ID of the bank journal export."
                          },
                          "exportIndexInYear": {
                            "type": "number",
                            "description": "Index of the bank journal export in the export year."
                          },
                          "exportYear": {
                            "type": "number",
                            "description": "Year the export was done."
                          },
                          "indexInYearOfFirstEntryInBankJournal": {
                            "type": "number",
                            "description": "Index in export year of the first entry in this bank journal export."
                          },
                          "indexInYearOfLastEntryInBankJournal": {
                            "type": "number",
                            "description": "Index in export year of the last entry in this bank journal export."
                          },
                          "numberOfEntries": {
                            "type": "number",
                            "description": "Number of entries in the bank journal export."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/agicap/latest/actions/list-organization-entities": {
      "get": {
        "operationId": "agicap.list-organization-entities",
        "summary": "List Organization Entities",
        "description": "Retrieves organization entities for an Agicap organization.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/agicap/latest/actions/list-organization-entities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "description": "Page number to retrieve. Agicap pages start at 1.",
            "schema": {
              "type": "number",
              "description": "Page number to retrieve. Agicap pages start at 1.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of entities to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of entities to return per page.",
              "example": 100,
              "default": 100
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "Entity country code or label when returned by Agicap."
                          },
                          "id": {
                            "type": "number",
                            "description": "Agicap entity identifier from OrganizationEntityPresentation."
                          },
                          "name": {
                            "type": "string",
                            "description": "Agicap entity name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
