{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Pipeline CRM Universal API",
    "version": "0.0.8",
    "description": "Manage Pipeline CRM deals, people, companies, tasks, and activities"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pipelineCRM/latest/actions/create-activity": {
      "post": {
        "operationId": "pipelineCRM.create-activity",
        "summary": "Create Activity",
        "description": "Creates a new activity note in Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/create-activity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "note.title": {
                    "type": "string",
                    "description": "The note title, if any."
                  },
                  "note.content": {
                    "type": "string",
                    "description": "The note content."
                  },
                  "note.userId": {
                    "type": "number",
                    "description": "The owner user ID of the note."
                  },
                  "note.dealId": {
                    "type": "number",
                    "description": "The deal ID associated with the note."
                  },
                  "note.companyId": {
                    "type": "number",
                    "description": "The company ID associated with the note."
                  },
                  "note.personId": {
                    "type": "number",
                    "description": "The person ID associated with the note."
                  },
                  "note.milestoneId": {
                    "type": "number",
                    "description": "The milestone ID associated with the note."
                  },
                  "note.noteCategoryId": {
                    "type": "number",
                    "description": "The category ID of the note."
                  },
                  "note.notifyUserIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "User IDs to notify when new comments are added."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "number"
                          },
                          "comments": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "company_id": {
                            "type": "number"
                          },
                          "content": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "deal_id": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_sent_message": {
                            "type": "boolean"
                          },
                          "milestone_id": {
                            "type": "number"
                          },
                          "note_category_id": {
                            "type": "number"
                          },
                          "note_category": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "notify_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "person_id": {
                            "type": "number"
                          },
                          "possible_notify_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "primary_association_id": {
                            "type": "number"
                          },
                          "primary_association_type": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "number"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "avatar_thumb_url": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "last_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/create-calendar-entry": {
      "post": {
        "operationId": "pipelineCRM.create-calendar-entry",
        "summary": "Create Calendar Entry",
        "description": "Creates a new calendar task or event in Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/create-calendar-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "calendarEntry.categoryId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "deliverAssignmentEmail": {
                    "type": "boolean",
                    "description": "Send an assignment email when the calendar entry is assigned to another user.",
                    "default": true
                  },
                  "calendarEntry.type": {
                    "type": "string",
                    "description": "Calendar entry type: CalendarEvent or CalendarTask."
                  },
                  "calendarEntry.categoryId": {
                    "type": "number",
                    "description": "The event category ID."
                  },
                  "calendarEntry.name": {
                    "type": "string",
                    "description": "The name of the task or event."
                  },
                  "calendarEntry.description": {
                    "type": "string",
                    "description": "A detailed description of the event."
                  },
                  "calendarEntry.startTime": {
                    "type": "string",
                    "description": "Start time for CalendarEvent entries."
                  },
                  "calendarEntry.endTime": {
                    "type": "string",
                    "description": "End time for CalendarEvent entries."
                  },
                  "calendarEntry.allDay": {
                    "type": "boolean",
                    "description": "Whether the event is all day."
                  },
                  "calendarEntry.dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Due date for CalendarTask entries."
                  },
                  "calendarEntry.complete": {
                    "type": "boolean",
                    "description": "Whether the entry is complete."
                  },
                  "calendarEntry.associationId": {
                    "type": "number",
                    "description": "The associated person, company, or deal ID."
                  },
                  "calendarEntry.associationType": {
                    "type": "string",
                    "description": "Association type: Deal, Company, or Person."
                  },
                  "calendarEntry.companyId": {
                    "type": "number",
                    "description": "If directly tied to a company, the company ID."
                  },
                  "calendarEntry.calendarEntryPriorityId": {
                    "type": "number",
                    "description": "The event priority ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "all_day": {
                            "type": "boolean"
                          },
                          "association_id": {
                            "type": "number"
                          },
                          "association_type": {
                            "type": "string"
                          },
                          "base_entry_id": {
                            "type": "number"
                          },
                          "calendar_entry_priority": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "calendar_entry_priority_id": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "category_id": {
                            "type": "number"
                          },
                          "company_id": {
                            "type": "number"
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "completed_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "end_time": {
                            "type": "string"
                          },
                          "exdate": {
                            "type": "string"
                          },
                          "exrule": {
                            "type": "string"
                          },
                          "google_calendar_id": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "owner_id": {
                            "type": "number"
                          },
                          "part_of_recurring_series": {
                            "type": "boolean"
                          },
                          "rdate": {
                            "type": "string"
                          },
                          "recurrence_end": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "rrule": {
                            "type": "string"
                          },
                          "start_time": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/create-company": {
      "post": {
        "operationId": "pipelineCRM.create-company",
        "summary": "Create Company",
        "description": "Creates a new company in Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "checkForDuplicates": {
                    "type": "boolean",
                    "description": "Return an error when attempting to create a duplicate company.",
                    "default": false
                  },
                  "deliverAssignmentEmail": {
                    "type": "boolean",
                    "description": "Send an assignment email when the company is assigned to another user.",
                    "default": true
                  },
                  "company.name": {
                    "type": "string",
                    "description": "The name of the company."
                  },
                  "company.description": {
                    "type": "string",
                    "description": "Description of the company."
                  },
                  "company.email": {
                    "type": "string",
                    "description": "The company email address."
                  },
                  "company.web": {
                    "type": "string",
                    "description": "The company's website."
                  },
                  "company.phone1": {
                    "type": "string",
                    "description": "Primary business number."
                  },
                  "company.phone1Desc": {
                    "type": "string",
                    "description": "Description for the primary business number."
                  },
                  "company.ownerId": {
                    "type": "number",
                    "description": "The owner user ID of the company."
                  },
                  "company.address1": {
                    "type": "string",
                    "description": "First line of the business address."
                  },
                  "company.address2": {
                    "type": "string",
                    "description": "Second line of the business address."
                  },
                  "company.city": {
                    "type": "string",
                    "description": "Business address city."
                  },
                  "company.state": {
                    "type": "string",
                    "description": "Business address state."
                  },
                  "company.postalCode": {
                    "type": "string",
                    "description": "Business address postal code."
                  },
                  "company.country": {
                    "type": "string",
                    "description": "Business address country."
                  },
                  "company.tagIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Tag IDs to set on this company."
                  },
                  "todoTemplateId": {
                    "type": "number",
                    "description": "The todo template ID to apply to this company."
                  },
                  "todoTemplateUserId": {
                    "type": "number",
                    "description": "The owner of tasks created from the todo template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string"
                          },
                          "address_2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "company_country": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "custom_fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "description": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "facebook_url": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image_mobile_url": {
                            "type": "string"
                          },
                          "image_thumb_url": {
                            "type": "string"
                          },
                          "instant_message": {
                            "type": "string"
                          },
                          "linked_in_url": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "next_task_all_day": {
                            "type": "boolean"
                          },
                          "next_task_due": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "next_task_id": {
                            "type": "number"
                          },
                          "next_task_name": {
                            "type": "string"
                          },
                          "owner_id": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "full_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone1": {
                            "type": "string"
                          },
                          "phone1_desc": {
                            "type": "string"
                          },
                          "phone2": {
                            "type": "string"
                          },
                          "phone2_desc": {
                            "type": "string"
                          },
                          "phone3": {
                            "type": "string"
                          },
                          "phone3_desc": {
                            "type": "string"
                          },
                          "phone4": {
                            "type": "string"
                          },
                          "phone4_desc": {
                            "type": "string"
                          },
                          "possible_notify_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "shared_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "tag_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "twitter": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "web": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/create-deal": {
      "post": {
        "operationId": "pipelineCRM.create-deal",
        "summary": "Create Deal",
        "description": "Creates a new deal in Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/create-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "deliverAssignmentEmail": {
                    "type": "boolean",
                    "description": "Send an assignment email when the deal is assigned to another user.",
                    "default": true
                  },
                  "deal.name": {
                    "type": "string",
                    "description": "The name of the deal."
                  },
                  "deal.summary": {
                    "type": "string",
                    "description": "Explanatory or descriptive text about the deal."
                  },
                  "deal.userId": {
                    "type": "number",
                    "description": "The ID of the user who owns this deal."
                  },
                  "deal.status": {
                    "type": "number",
                    "description": "The deal status ID for this deal."
                  },
                  "deal.expectedCloseDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date the deal is expected to close by (YYYY-MM-DD)."
                  },
                  "deal.value": {
                    "type": "number",
                    "description": "The deal's value in its currency."
                  },
                  "deal.primaryContactId": {
                    "type": "number",
                    "description": "The primary contact person ID associated with this deal."
                  },
                  "deal.personIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Person record IDs associated with this deal."
                  },
                  "deal.companyId": {
                    "type": "number",
                    "description": "The company ID associated with this deal."
                  },
                  "deal.companyName": {
                    "type": "string",
                    "description": "Creates or associates a company with this deal by name."
                  },
                  "deal.probability": {
                    "type": "number",
                    "description": "Probability from 0-100 that the deal will close."
                  },
                  "deal.dealStageId": {
                    "type": "number",
                    "description": "The deal stage ID for this deal."
                  },
                  "deal.dealLossReasonId": {
                    "type": "number",
                    "description": "The deal loss reason ID for this deal."
                  },
                  "deal.dealWonReasonId": {
                    "type": "number",
                    "description": "The deal won reason ID for this deal."
                  },
                  "deal.dealSource": {
                    "type": "number",
                    "description": "The lead source ID for this deal."
                  },
                  "deal.tagIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Tag IDs to set on this deal."
                  },
                  "todoTemplateId": {
                    "type": "number",
                    "description": "The todo template ID to apply to this deal."
                  },
                  "todoTemplateUserId": {
                    "type": "number",
                    "description": "The owner of tasks created from the todo template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string"
                          },
                          "address_2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "closed_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "collaborators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "api_key": {
                                  "type": "string"
                                },
                                "first_name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "last_name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "company_id": {
                            "type": "number"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "custom_fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deal_loss_reason_id": {
                            "type": "number"
                          },
                          "deal_loss_reason_notes": {
                            "type": "string"
                          },
                          "deal_loss_reason": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "deal_source": {
                            "type": "number"
                          },
                          "deal_stage_id": {
                            "type": "number"
                          },
                          "deal_stage": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "deal_won_reason_id": {
                            "type": "number"
                          },
                          "deal_won_reason_notes": {
                            "type": "string"
                          },
                          "expected_close_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expected_close_date_event_id": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "import_id": {
                            "type": "number"
                          },
                          "is_archived": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "next_task_all_day": {
                            "type": "boolean"
                          },
                          "next_task_due": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "next_task_id": {
                            "type": "number"
                          },
                          "next_task_name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "full_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "first_name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "last_name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "person_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "possible_notify_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "primary_contact_id": {
                            "type": "number"
                          },
                          "primary_contact": {
                            "type": "object",
                            "properties": {
                              "full_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "probability": {
                            "type": "number"
                          },
                          "shared_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "state": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "tag_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "number"
                          },
                          "value": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/create-person": {
      "post": {
        "operationId": "pipelineCRM.create-person",
        "summary": "Create Person",
        "description": "Creates a new person in Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "deliverReassignmentEmail": {
                    "type": "boolean",
                    "description": "Send an assignment email when the person is assigned to another user.",
                    "default": true
                  },
                  "person.firstName": {
                    "type": "string",
                    "description": "The person's first name."
                  },
                  "person.lastName": {
                    "type": "string",
                    "description": "The person's last name."
                  },
                  "person.fullName": {
                    "type": "string",
                    "description": "The person's full name."
                  },
                  "person.summary": {
                    "type": "string",
                    "description": "Summary or notes on the person."
                  },
                  "person.phone": {
                    "type": "string",
                    "description": "Person's primary phone number."
                  },
                  "person.mobile": {
                    "type": "string",
                    "description": "Person's mobile phone number."
                  },
                  "person.position": {
                    "type": "string",
                    "description": "Person's professional position."
                  },
                  "person.website": {
                    "type": "string",
                    "description": "Person's website URL."
                  },
                  "person.email": {
                    "type": "string",
                    "description": "Person's primary email address."
                  },
                  "person.companyId": {
                    "type": "number",
                    "description": "The company ID associated with this person."
                  },
                  "person.companyName": {
                    "type": "string",
                    "description": "Associates a company to this person by name, creating it if needed."
                  },
                  "person.userId": {
                    "type": "number",
                    "description": "The user ID who owns this person record."
                  },
                  "person.leadStatusId": {
                    "type": "number",
                    "description": "The lead status ID to set for this person."
                  },
                  "person.leadSourceId": {
                    "type": "number",
                    "description": "The lead source ID to set for this person."
                  },
                  "person.predefinedContactsTagIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Tag IDs to set on this person."
                  },
                  "person.relationship": {
                    "type": "string",
                    "description": "The relationship of the person to the company."
                  },
                  "person.isKeyContact": {
                    "type": "boolean",
                    "description": "Whether this person is a key contact for the company."
                  },
                  "todoTemplateId": {
                    "type": "number",
                    "description": "The todo template ID to apply to this person."
                  },
                  "todoTemplateUserId": {
                    "type": "number",
                    "description": "The owner of tasks created from the todo template."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bounced": {
                            "type": "boolean"
                          },
                          "company_id": {
                            "type": "number"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "custom_fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "email2": {
                            "type": "string"
                          },
                          "facebook_url": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "home_address_1": {
                            "type": "string"
                          },
                          "home_address_2": {
                            "type": "string"
                          },
                          "home_city": {
                            "type": "string"
                          },
                          "home_country": {
                            "type": "string"
                          },
                          "home_email": {
                            "type": "string"
                          },
                          "home_phone": {
                            "type": "string"
                          },
                          "home_postal_code": {
                            "type": "string"
                          },
                          "home_state": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "image_mobile_url": {
                            "type": "string"
                          },
                          "image_thumb_url": {
                            "type": "string"
                          },
                          "instant_message": {
                            "type": "string"
                          },
                          "is_key_contact": {
                            "type": "boolean"
                          },
                          "last_emailed_at": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "lead_source_id": {
                            "type": "number"
                          },
                          "lead_source": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lead_status_id": {
                            "type": "number"
                          },
                          "lead_status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "linked_in_url": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "next_task_all_day": {
                            "type": "boolean"
                          },
                          "next_task_due": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "next_task_id": {
                            "type": "number"
                          },
                          "next_task_name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "position": {
                            "type": "string"
                          },
                          "possible_notify_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "predefined_contacts_tag_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "predefined_contacts_tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "relationship": {
                            "type": "string"
                          },
                          "shared_user_ids": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            }
                          },
                          "summary": {
                            "type": "string"
                          },
                          "twitter": {
                            "type": "string"
                          },
                          "unsubscribed": {
                            "type": "boolean"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "number"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "full_name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "website": {
                            "type": "string"
                          },
                          "work_address_1": {
                            "type": "string"
                          },
                          "work_address_2": {
                            "type": "string"
                          },
                          "work_city": {
                            "type": "string"
                          },
                          "work_country": {
                            "type": "string"
                          },
                          "work_postal_code": {
                            "type": "string"
                          },
                          "work_state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/delete-calendar-entry": {
      "delete": {
        "operationId": "pipelineCRM.delete-calendar-entry",
        "summary": "Delete Calendar Entry",
        "description": "Deletes an existing calendar entry from Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/delete-calendar-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Calendar entry ID",
            "schema": {
              "type": "number",
              "description": "Calendar entry ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/delete-company": {
      "delete": {
        "operationId": "pipelineCRM.delete-company",
        "summary": "Delete Company",
        "description": "Deletes an existing company from Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/delete-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Company ID",
            "schema": {
              "type": "number",
              "description": "Company ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/delete-deal": {
      "delete": {
        "operationId": "pipelineCRM.delete-deal",
        "summary": "Delete Deal",
        "description": "Deletes an existing deal from Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/delete-deal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Deal ID",
            "schema": {
              "type": "number",
              "description": "Deal ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pipelineCRM/latest/actions/delete-person": {
      "delete": {
        "operationId": "pipelineCRM.delete-person",
        "summary": "Delete Person",
        "description": "Deletes an existing person from Pipeline CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pipelineCRM/latest/actions/delete-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Person ID",
            "schema": {
              "type": "number",
              "description": "Person ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
[...]
