{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PiAPI/MMAudio Universal API",
    "version": "0.0.3",
    "description": "Generate audio from video and track PiAPI MMAudio tasks."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/piAPIMMAudio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/piAPIMMAudio/latest/actions/generate-audio": {
      "post": {
        "operationId": "piAPIMMAudio.generate-audio",
        "summary": "Generate Audio",
        "description": "Creates an MMAudio audio generation task in PiAPI/MMAudio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIMMAudio/latest/actions/generate-audio"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input.video"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input.video": {
                    "type": "string",
                    "description": "Public video URL to send to PiAPI MMAudio.",
                    "example": "https://example.com/video.mp4"
                  },
                  "input.prompt": {
                    "type": "string",
                    "example": "energetic stadium ambience with crowd cheers"
                  },
                  "input.negativePrompt": {
                    "type": "string",
                    "example": "static, clipping, muffled audio",
                    "x-mindcloud-advanced": true
                  },
                  "input.steps": {
                    "type": "number",
                    "example": 20,
                    "default": 20,
                    "x-mindcloud-advanced": true
                  },
                  "input.seed": {
                    "type": "number",
                    "example": 48511119825268,
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.endpoint": {
                    "type": "string",
                    "example": "https://example.com/piapi-webhook",
                    "x-mindcloud-advanced": true
                  },
                  "config.webhookConfig.secret": {
                    "type": "string",
                    "example": "shared-secret-for-webhook-verification",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "endedAt": {
                                "type": "string"
                              },
                              "isUsingPrivatePool": {
                                "type": "boolean"
                              },
                              "startedAt": {
                                "type": "string"
                              },
                              "usage": {
                                "type": "object",
                                "properties": {
                                  "consume": {
                                    "type": "number"
                                  },
                                  "frozen": {
                                    "type": "number"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "model": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "taskType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/piAPIMMAudio/latest/actions/get-task": {
      "get": {
        "operationId": "piAPIMMAudio.get-task",
        "summary": "Get Task",
        "description": "Retrieves an MMAudio task from PiAPI/MMAudio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/piAPIMMAudio/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The PiAPI task_id returned when you create the MMAudio task.",
            "schema": {
              "type": "string",
              "description": "The PiAPI task_id returned when you create the MMAudio task.",
              "example": "task identifier returned by Generate Audio"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "endedAt": {
                                "type": "string"
                              },
                              "quotaFrozen": {
                                "type": "number"
                              },
                              "quotaUsage": {
                                "type": "number"
                              },
                              "startedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "task": {
                            "type": "object",
                            "properties": {
                              "createTime": {
                                "type": "number"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "favored": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "number"
                              },
                              "status": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updateTime": {
                                "type": "number"
                              },
                              "userId": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "works": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contentType": {
                                  "type": "string"
                                },
                                "cover": {
                                  "type": "object",
                                  "properties": {
                                    "resource": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deleted": {
                                  "type": "boolean"
                                },
                                "publishStatus": {
                                  "type": "string"
                                },
                                "resource": {
                                  "type": "object",
                                  "properties": {
                                    "duration": {
                                      "type": "number"
                                    },
                                    "resource": {
                                      "type": "string"
                                    },
                                    "resourceWithoutWatermark": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "status": {
                                  "type": "number"
                                },
                                "workId": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
