{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BoloForms Universal API",
    "version": "0.0.7",
    "description": "Send, sign, and track documents with BoloSign by BoloForms using an API key plus workspace-scoped requests."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/boloForms/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/boloForms/latest/actions/get-form-responses": {
      "get": {
        "operationId": "boloForms.get-form-responses",
        "summary": "Get Form Responses",
        "description": "Retrieves responses from a BoloForms form.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boloForms/latest/actions/get-form-responses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "ID of the form to retrieve responses for",
            "schema": {
              "type": "string",
              "description": "ID of the form to retrieve responses for"
            }
          },
          {
            "name": "responseId",
            "in": "query",
            "required": false,
            "description": "Specific response ID to retrieve",
            "schema": {
              "type": "string",
              "description": "Specific response ID to retrieve",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "number",
              "description": "Page number for pagination"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of responses per page",
            "schema": {
              "type": "number",
              "description": "Number of responses per page"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Submitted answers for the response."
                          },
                          "formId": {
                            "type": "string",
                            "description": "Form ID associated with the response."
                          },
                          "responseId": {
                            "type": "string",
                            "description": "Form response ID returned by BoloSign."
                          },
                          "submittedAt": {
                            "type": "string",
                            "description": "Submission timestamp for the response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boloForms/latest/actions/get-template-respondents": {
      "get": {
        "operationId": "boloForms.get-template-respondents",
        "summary": "Get Template Respondents",
        "description": "Retrieves respondents for a BoloForms template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boloForms/latest/actions/get-template-respondents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "description": "Template ID to retrieve respondents for",
            "schema": {
              "type": "string",
              "description": "Template ID to retrieve respondents for"
            }
          },
          {
            "name": "respondentDocumentId",
            "in": "query",
            "required": false,
            "description": "Specific respondent ID to retrieve",
            "schema": {
              "type": "string",
              "description": "Specific respondent ID to retrieve",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "number",
              "description": "Page number for pagination"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of respondents per page",
            "schema": {
              "type": "number",
              "description": "Number of respondents per page"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp for the respondent document."
                          },
                          "finishedPdfUrl": {
                            "type": "string",
                            "description": "Finished PDF URL when available."
                          },
                          "history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Activity history entries for the respondent document."
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Workspace owner ID for the respondent document."
                          },
                          "pdfLink": {
                            "type": "string",
                            "description": "PDF link for the respondent document."
                          },
                          "respondentDocumentId": {
                            "type": "string",
                            "description": "Respondent document ID returned for the template response."
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Signer records for the respondent document."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current respondent document status."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template ID associated with the respondent document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boloForms/latest/actions/list-documents": {
      "get": {
        "operationId": "boloForms.list-documents",
        "summary": "List Documents",
        "description": "Retrieves documents from BoloForms.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boloForms/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorEmail": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "documentId": {
                            "type": "string"
                          },
                          "documentName": {
                            "type": "string"
                          },
                          "documentUrl": {
                            "type": "string"
                          },
                          "history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Id": {
                            "type": "string"
                          },
                          "isAllSigned": {
                            "type": "boolean"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isSigningOrderData": {
                            "type": "boolean"
                          },
                          "metafields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pagesCount": {
                            "type": "number"
                          },
                          "respondentsOfDoc": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "schemaFieldsCount": {
                            "type": "number"
                          },
                          "sentViaSMS": {
                            "type": "boolean"
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signType": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalRespondants": {
                            "type": "number"
                          },
                          "totalSignedRespondants": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/boloForms/latest/actions/send-template-for-signing": {
      "post": {
        "operationId": "boloForms.send-template-for-signing",
        "summary": "Send Template For Signing",
        "description": "Sends a BoloForms template for signing.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/boloForms/latest/actions/send-template-for-signing"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "documentId",
                  "signingType",
                  "receiversList[]",
                  "receiversList[].name",
                  "receiversList[].email",
                  "customVariables[].varName",
                  "customVariables[].varValue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "documentId": {
                    "type": "string",
                    "description": "ID of the document template"
                  },
                  "signingType": {
                    "type": "string",
                    "description": "Must be PDF_TEMPLATE or FORM_TEMPLATE",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "receiversList[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of receivers who need to sign the document"
                  },
                  "receiversList[].name": {
                    "type": "string",
                    "description": "Name of the person"
                  },
                  "receiversList[].email": {
                    "type": "string",
                    "description": "Email of the person, it will send an email to the customer for signing"
                  },
                  "receiversList[].roleTitle": {
                    "type": "string",
                    "description": "Must exactly match the role added while uploading PDF template in BoloSign dashboard",
                    "x-mindcloud-advanced": true
                  },
                  "receiversList[].subject": {
                    "type": "string",
                    "description": "Optional custom subject for this receiver",
                    "x-mindcloud-advanced": true
                  },
                  "receiversList[].message": {
                    "type": "string",
                    "description": "Optional custom message for this receiver",
                    "x-mindcloud-advanced": true
                  },
                  "mailData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Global mail subject and message fallback values",
                    "x-mindcloud-advanced": true
                  },
                  "mailData.subject": {
                    "type": "string",
                    "description": "Global subject used when receiver-specific subject is not provided",
                    "x-mindcloud-advanced": true
                  },
                  "mailData.message": {
                    "type": "string",
                    "description": "Global message used when receiver-specific message is not provided",
                    "x-mindcloud-advanced": true
                  },
                  "customVariables[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional custom variables to be replaced in the template",
                    "x-mindcloud-advanced": true
                  },
                  "customVariables[].varName": {
                    "type": "string",
                    "description": "Variable name in square brackets, must match template exactly",
                    "x-mindcloud-advanced": true
                  },
                  "customVariables[].varValue": {
                    "type": "string",
                    "description": "Value to be assigned to the variable",
                    "x-mindcloud-advanced": true
                  },
                  "pdfData": {
                    "type": "string",
                    "description": "Base64-encoded PDF data for PDF template sends",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDocumentId": {
                            "type": "string",
                            "description": "Created document ID returned for PDF-template sends."
                          },
                          "createdDocumentStatus": {
                            "type": "string",
                            "description": "Created document status returned for PDF-template sends."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider result message, such as successful send or share status."
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Signer records returned for PDF-template sends."
                          },
                          "templateId": {
                            "type": "string",
                            "description": "Template ID echoed for PDF-template sends when returned by the provider."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
