{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho FSM Universal API",
    "version": "0.0.9",
    "description": "Zoho FSM helps teams manage field service requests, work orders, appointments, contacts, companies, and estimates through Zoho's field service API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoFSM/latest/actions/create-company": {
      "post": {
        "operationId": "zohoFSM.create-company",
        "summary": "Create Company",
        "description": "Creates a new company in Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[0].Company_Name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[0].Company_Name": {
                    "type": "string",
                    "description": "The name of the company."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "createdTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "modifiedBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "modifiedTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "tabName": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/create-contact": {
      "post": {
        "operationId": "zohoFSM.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[0].Last_Name",
                  "data[0].Email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[]": {
                    "type": "string"
                  },
                  "data[0].Last_Name": {
                    "type": "string",
                    "description": "The last name of the contact."
                  },
                  "data[0].Email": {
                    "type": "string",
                    "description": "The email address to associate with the contact."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "createdTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "modifiedBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "modifiedTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "tabName": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/create-estimate": {
      "post": {
        "operationId": "zohoFSM.create-estimate",
        "summary": "Create Estimate",
        "description": "Creates a new estimate in Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[0].Company",
                  "data[0].Contact",
                  "data[0].serviceLineItems[].service",
                  "data[0].Summary"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[0].adjustment": {
                    "type": "number"
                  },
                  "data[0].asset": {
                    "type": "string"
                  },
                  "data[0].billingAddress.id": {
                    "type": "string"
                  },
                  "data[0].Company": {
                    "type": "string"
                  },
                  "data[0].Contact": {
                    "type": "string"
                  },
                  "data[0].currency": {
                    "type": "string"
                  },
                  "data[0].email": {
                    "type": "string"
                  },
                  "data[0].exchangeRate": {
                    "type": "number"
                  },
                  "data[0].expiryDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data[0].grandTotal": {
                    "type": "number"
                  },
                  "data[0].phone": {
                    "type": "string"
                  },
                  "data[0].serviceAddress.id": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].amount": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].contact": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].description": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].discount": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].discountType": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].lineItemAmount": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].listPrice": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].quantity": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].sequence": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].service": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].status": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].tax.taxExemptionCode": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].tax.taxExemptionId": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].tax.taxId": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].tax.taxName": {
                    "type": "string"
                  },
                  "data[0].serviceLineItems[].tax.taxPercentage": {
                    "type": "number"
                  },
                  "data[0].serviceLineItems[].unit": {
                    "type": "string"
                  },
                  "data[0].subTotal": {
                    "type": "number"
                  },
                  "data[0].Summary": {
                    "type": "string"
                  },
                  "data[0].taxAmount": {
                    "type": "number"
                  },
                  "data[0].territory": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "Estimates": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Created_By": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "Created_Time": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "Modified_By": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "Modified_Time": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "TabName": {
                                      "type": "string"
                                    },
                                    "UID": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "Service_Line_Items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Created_By": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "Created_Time": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "Modified_By": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "Modified_Time": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "TabName": {
                                      "type": "string"
                                    },
                                    "UID": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/create-request": {
      "post": {
        "operationId": "zohoFSM.create-request",
        "summary": "Create Request",
        "description": "Creates a new request in Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/create-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[].summary",
                  "data[].contact",
                  "data[].company",
                  "data[].serviceAddress",
                  "data[].billingAddress"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[].summary": {
                    "type": "string"
                  },
                  "data[].contact": {
                    "type": "string"
                  },
                  "data[].company": {
                    "type": "string"
                  },
                  "data[].serviceAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The service address for the request."
                  },
                  "data[].billingAddress": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The billing address for the request."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "requests": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "createdTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "modifiedBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "modifiedTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "tabName": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "createdBy": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "createdTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "id": {
                                "type": "string"
                              },
                              "modifiedBy": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "modifiedTime": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/create-service-appointment": {
      "post": {
        "operationId": "zohoFSM.create-service-appointment",
        "summary": "Create Service Appointment",
        "description": "Creates a new service appointment in Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/create-service-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data[0].Summary",
                  "data[0].Scheduled_Start_Date_Time",
                  "data[0].Scheduled_End_Date_Time"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[0].allow_overlapping": {
                    "type": "boolean"
                  },
                  "data[0].lead": {
                    "type": "string"
                  },
                  "data[0].service_resources[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "data[0].service_tasks_line_items[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "data[0].Summary": {
                    "type": "string",
                    "description": "A summary for the service appointment."
                  },
                  "data[0].territory": {
                    "type": "string"
                  },
                  "data[0].Scheduled_Start_Date_Time": {
                    "type": "string",
                    "description": "The scheduled start date time for the appointment."
                  },
                  "data[0].Scheduled_End_Date_Time": {
                    "type": "string",
                    "description": "The scheduled end date time for the appointment."
                  },
                  "data[0].service_line_items[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Service line item IDs to include in the appointment."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "createdTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "modifiedBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "modifiedTime": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "tabName": {
                                  "type": "string"
                                },
                                "uid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/create-work-order": {
      "post": {
        "operationId": "zohoFSM.create-work-order",
        "summary": "Create Work Order",
        "description": "Creates a new work order in Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/create-work-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data[].adjustment": {
                    "type": "string"
                  },
                  "data[].asset": {
                    "type": "string"
                  },
                  "data[].billing_address.id": {
                    "type": "string"
                  },
                  "data[].company": {
                    "type": "string"
                  },
                  "data[].contact": {
                    "type": "string"
                  },
                  "data[].currency": {
                    "type": "string"
                  },
                  "data[].exchange_rate": {
                    "type": "number"
                  },
                  "data[].grand_total": {
                    "type": "number"
                  },
                  "data[].record_template": {
                    "type": "string"
                  },
                  "data[].service_address.id": {
                    "type": "string"
                  },
                  "data[].service_line_items[].amount": {
                    "type": "number"
                  },
                  "data[].service_line_items[].contact": {
                    "type": "string"
                  },
                  "data[].service_line_items[].description": {
                    "type": "string"
                  },
                  "data[].service_line_items[].discount": {
                    "type": "string"
                  },
                  "data[].service_line_items[].discount_type": {
                    "type": "string"
                  },
                  "data[].service_line_items[].line_item_amount": {
                    "type": "number"
                  },
                  "data[].service_line_items[].list_price": {
                    "type": "number"
                  },
                  "data[].service_line_items[].part_line_items[].part": {
                    "type": "string"
                  },
                  "data[].service_line_items[].part_line_items[].quantity": {
                    "type": "number"
                  },
                  "data[].service_line_items[].part_line_items[].sequence": {
                    "type": "number"
                  },
                  "data[].service_line_items[].quantity": {
                    "type": "number"
                  },
                  "data[].service_line_items[].sequence": {
                    "type": "number"
                  },
                  "data[].service_line_items[].service": {
                    "type": "string"
                  },
                  "data[].service_line_items[].service_tasks_line_items[].sequence": {
                    "type": "number"
                  },
                  "data[].service_line_items[].service_tasks_line_items[].service_task": {
                    "type": "string"
                  },
                  "data[].service_line_items[].service_tasks_line_items[].service_task_name": {
                    "type": "string"
                  },
                  "data[].service_line_items[].status": {
                    "type": "string"
                  },
                  "data[].service_line_items[].tax.tax_exemption_code": {
                    "type": "string"
                  },
                  "data[].service_line_items[].tax.tax_exemption_id": {
                    "type": "string"
                  },
                  "data[].service_line_items[].tax.tax_id": {
                    "type": "string"
                  },
                  "data[].service_line_items[].tax.tax_name": {
                    "type": "string"
                  },
                  "data[].service_line_items[].tax.tax_percentage": {
                    "type": "string"
                  },
                  "data[].service_line_items[].unit": {
                    "type": "string"
                  },
                  "data[].sub_total": {
                    "type": "number"
                  },
                  "data[].summary": {
                    "type": "string"
                  },
                  "data[].tax_amount": {
                    "type": "string"
                  },
                  "data[].territory": {
                    "type": "string"
                  },
                  "data[].type": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "serviceLineItems": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "createdTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "modifiedBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "modifiedTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "tabName": {
                                      "type": "string"
                                    },
                                    "uid": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "serviceTasksLineItems": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "createdTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "modifiedBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "modifiedTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "tabName": {
                                      "type": "string"
                                    },
                                    "uid": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "workOrders": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "createdBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "createdTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "modifiedBy": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "modifiedTime": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "tabName": {
                                      "type": "string"
                                    },
                                    "uid": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/get-company": {
      "get": {
        "operationId": "zohoFSM.get-company",
        "summary": "Get Company",
        "description": "Retrieves company details from Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Zoho FSM record ID.",
            "schema": {
              "type": "string",
              "description": "The Zoho FSM record ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$currency_symbol": {
                            "type": "string"
                          },
                          "$editable": {
                            "type": "boolean"
                          },
                          "$inactive": {
                            "type": "boolean"
                          },
                          "$permissions": {
                            "type": "object",
                            "properties": {
                              "delete": {
                                "type": "boolean"
                              },
                              "edit": {
                                "type": "boolean"
                              },
                              "read": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Billing_Address": {
                            "type": "object",
                            "properties": {
                              "Address_Name": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Country": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Street_1": {
                                "type": "string"
                              },
                              "Street_2": {
                                "type": "string"
                              },
                              "Zip_Code": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Company_Name": {
                            "type": "string"
                          },
                          "Company_Type": {
                            "type": "string"
                          },
                          "Config": {
                            "type": "string"
                          },
                          "Created_By": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Created_Time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Currency": {
                            "type": "string"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "Exchange_Rate": {
                            "type": "number"
                          },
                          "Fax": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "Modified_By": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Modified_Time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Owner": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Phone": {
                            "type": "string"
                          },
                          "Service_Address": {
                            "type": "object",
                            "properties": {
                              "Address_Name": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Country": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Street_1": {
                                "type": "string"
                              },
                              "Street_2": {
                                "type": "string"
                              },
                              "Zip_Code": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Tax": {
                            "type": "object",
                            "properties": {
                              "Taxable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/get-contact": {
      "get": {
        "operationId": "zohoFSM.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves contact details from Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Zoho FSM record ID.",
            "schema": {
              "type": "string",
              "description": "The Zoho FSM record ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "$currency_symbol": {
                            "type": "string"
                          },
                          "$editable": {
                            "type": "boolean"
                          },
                          "$inactive": {
                            "type": "boolean"
                          },
                          "$permissions": {
                            "type": "object",
                            "properties": {
                              "delete": {
                                "type": "boolean"
                              },
                              "edit": {
                                "type": "boolean"
                              },
                              "read": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Billing_Address": {
                            "type": "string"
                          },
                          "Company": {
                            "type": "string"
                          },
                          "Company_Type": {
                            "type": "string"
                          },
                          "Config": {
                            "type": "string"
                          },
                          "Created_By": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Created_Time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Currency": {
                            "type": "string"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "Exchange_Rate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "Modified_By": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Modified_Time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Owner": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Service_Address": {
                            "type": "string"
                          },
                          "Tax": {
                            "type": "object",
                            "properties": {
                              "Taxable": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoFSM/latest/actions/get-estimate": {
      "get": {
        "operationId": "zohoFSM.get-estimate",
        "summary": "Get Estimate",
        "description": "Retrieves estimate details from Zoho FSM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoFSM/latest/actions/get-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "description": "The Zoho FSM record ID.",
            "schema": {
              "type": "string",
              "description": "The Zoho FSM record ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Adjustment": {
                            "type": "number"
                          },
                          "Billing_Address": {
                            "type": "object",
                            "properties": {
                              "Billing_Address_Name": {
                                "type": "string"
                              },
                              "Billing_City": {
                                "type": "string"
                              },
                              "Billing_Country": {
                                "type": "string"
                              },
                              "Billing_State": {
                                "type": "string"
                              },
                              "Billing_Street_1": {
                                "type": "string"
                              },
                              "Billing_Zip_Code": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Company": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Config": {
                            "type": "string"
                          },
                          "Contact": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Created_By": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Created_Time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Currency": {
                            "type": "string"
                          },
                          "Discount_Type": {
                            "type": "string"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "Exchange_Rate": {
                            "type": "number"
                          },
[...]
