{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "WhatIsMyBrowser Universal API",
    "version": "0.0.2",
    "description": "WhatIsMyBrowser identifies browsers, operating systems, devices, software versions, and request risks from visitor HTTP headers using the WhatIsMyBrowser API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/whatIsMyBrowser/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/whatIsMyBrowser/latest/actions/detect-headers": {
      "get": {
        "operationId": "whatIsMyBrowser.detect-headers",
        "summary": "Detect Headers",
        "description": "Retrieves browser and device details from WhatIsMyBrowser using request headers.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whatIsMyBrowser/latest/actions/detect-headers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headers[]",
            "in": "query",
            "required": true,
            "description": "Ordered list of visitor HTTP headers. Each item should include name and value fields, preserving the order received by your server.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Ordered list of visitor HTTP headers. Each item should include name and value fields, preserving the order received by your server."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "detection": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Browser and device detection details returned for the supplied request headers.",
                            "properties": {
                              "hardware_sub_sub_type": {
                                "type": "string",
                                "description": "Detected detailed hardware subtype when returned by the plan."
                              },
                              "hardware_sub_type": {
                                "type": "string",
                                "description": "Detected hardware subtype when returned by the plan."
                              },
                              "hardware_type": {
                                "type": "string",
                                "description": "Detected hardware type when returned by the plan."
                              },
                              "layout_engine_name": {
                                "type": "string",
                                "description": "Detected browser layout engine when returned by the plan."
                              },
                              "operating_system": {
                                "type": "string",
                                "description": "Detected operating system summary."
                              },
                              "operating_system_flavour": {
                                "type": "string",
                                "description": "Operating system flavour when available."
                              },
                              "operating_system_name": {
                                "type": "string",
                                "description": "Detected operating system name."
                              },
                              "operating_system_name_code": {
                                "type": "string",
                                "description": "Provider code for the detected operating system."
                              },
                              "operating_system_version": {
                                "type": "string",
                                "description": "Detected operating system version."
                              },
                              "operating_system_version_full": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Detected full operating system version components."
                              },
                              "simple_operating_platform_string": {
                                "type": "string",
                                "description": "Simplified operating platform description when available."
                              },
                              "simple_software_string": {
                                "type": "string",
                                "description": "Human-readable browser and operating system summary."
                              },
                              "simple_sub_description_string": {
                                "type": "string",
                                "description": "Additional simplified browser/device description when available."
                              },
                              "software": {
                                "type": "string",
                                "description": "Detected browser/software name and major version."
                              },
                              "software_name": {
                                "type": "string",
                                "description": "Detected browser/software name."
                              },
                              "software_name_code": {
                                "type": "string",
                                "description": "Provider code for the detected software name."
                              },
                              "software_sub_type": {
                                "type": "string",
                                "description": "Detected software subcategory when returned by the plan."
                              },
                              "software_type": {
                                "type": "string",
                                "description": "Detected software category when returned by the plan."
                              },
                              "software_version": {
                                "type": "string",
                                "description": "Detected software major version."
                              },
                              "software_version_full": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Detected full software version components."
                              },
                              "software_version_full_age_days": {
                                "type": "number",
                                "description": "Age in days for the full software version when the plan includes version checking."
                              },
                              "software_version_full_release_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Release date for the full software version when the plan includes version checking."
                              }
                            }
                          },
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Provider result metadata.",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "High-level provider result code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Provider result message."
                              },
                              "message_code": {
                                "type": "string",
                                "description": "Provider-specific result message code."
                              }
                            }
                          },
                          "risks": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User agent and client hints risk analysis when available for the account plan."
                          },
                          "version_check": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Version freshness details when available for the account plan."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/whatIsMyBrowser/latest/actions/get-version-numbers": {
      "get": {
        "operationId": "whatIsMyBrowser.get-version-numbers",
        "summary": "Get Version Numbers",
        "description": "Retrieves tracked software version numbers from WhatIsMyBrowser.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/whatIsMyBrowser/latest/actions/get-version-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "download_url": {
                            "type": "string",
                            "description": "Provider download URL for the package when available."
                          },
                          "latest_version": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Latest version details for a package stream.",
                            "properties": {
                              "build": {
                                "type": "string",
                                "description": "Build identifier when the package uses one."
                              },
                              "platform_version": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Platform version components when returned for the package."
                              },
                              "release_date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Release date for the latest version when available."
                              },
                              "update": {
                                "type": "string",
                                "description": "Additional update number when the package uses one."
                              },
                              "version_number": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Latest version number split into version components."
                              }
                            }
                          },
                          "result": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Provider result metadata.",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "High-level provider result code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Provider result message."
                              },
                              "message_code": {
                                "type": "string",
                                "description": "Provider-specific result message code."
                              }
                            }
                          },
                          "update_url": {
                            "type": "string",
                            "description": "Provider update URL for the package when available."
                          },
                          "version_data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Version catalog grouped by software, operating system, and plugin package streams.",
                            "properties": {
                              "operating-system": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Tracked operating system version groups."
                              },
                              "plugin": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Tracked browser plugin version groups."
                              },
                              "software": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Tracked browser and software version groups."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
