{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ProvenExpert Universal API",
    "version": "0.0.6",
    "description": "Collect reviews, send invites, and share rating widgets"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/provenExpert/latest/actions/create-invitation-link": {
      "post": {
        "operationId": "provenExpert.create-invitation-link",
        "summary": "Create Invitation Link",
        "description": "Creates a personal survey invitation link in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/create-invitation-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.code",
                  "data.email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.code": {
                    "type": "string",
                    "description": "Survey code for which the personal invitation link should be created.",
                    "example": "VRTQ13"
                  },
                  "data.email": {
                    "type": "string",
                    "description": "Email address of the evaluator.",
                    "example": "reviewer@example.org"
                  },
                  "data.name": {
                    "type": "string",
                    "description": "Name of the evaluator.",
                    "example": "John Doe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exists": {
                            "type": "number",
                            "description": "Whether the evaluator email already has an invitation for the survey."
                          },
                          "url": {
                            "type": "string",
                            "description": "Personalized invitation link returned by ProvenExpert."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/create-invitation-mail": {
      "post": {
        "operationId": "provenExpert.create-invitation-mail",
        "summary": "Create Invitation Mail",
        "description": "Creates and sends survey invitation emails in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/create-invitation-mail"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.code",
                  "data.recipients[]",
                  "data.recipients[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.code": {
                    "type": "string",
                    "description": "Survey code for which invitation emails should be created.",
                    "example": "VRTQ13"
                  },
                  "data.reminder": {
                    "type": "number",
                    "description": "Whether ProvenExpert should send a reminder email after 7 days. Provider default is 1 when omitted.",
                    "example": 1
                  },
                  "data.recipients[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Recipient list for the invitation mailing."
                  },
                  "data.recipients[].email": {
                    "type": "string",
                    "description": "Email address of the recipient.",
                    "example": "reviewer@example.org"
                  },
                  "data.recipients[].name": {
                    "type": "string",
                    "description": "Name of the recipient.",
                    "example": "John Doe"
                  },
                  "data.recipients[].subject": {
                    "type": "string",
                    "description": "Custom email subject for the invitation email.",
                    "example": "Your opinion is requested: Give me feedback!",
                    "x-mindcloud-advanced": true
                  },
                  "data.recipients[].salutation": {
                    "type": "string",
                    "description": "Custom salutation in the invitation email.",
                    "example": "Dear Mr. Doe",
                    "x-mindcloud-advanced": true
                  },
                  "data.recipients[].text": {
                    "type": "string",
                    "description": "Custom invitation email body text.",
                    "example": "Thanks for the interesting consultation yesterday. To rate the consulting services, you can use the following link:",
                    "x-mindcloud-advanced": true
                  },
                  "data.recipients[].reminderSubject": {
                    "type": "string",
                    "description": "Custom subject for the reminder email.",
                    "example": "Reminder: Your opinion is requested: Give me feedback!",
                    "x-mindcloud-advanced": true
                  },
                  "data.recipients[].reminderSalutation": {
                    "type": "string",
                    "description": "Custom salutation in the reminder email.",
                    "example": "Dear Mr. Doe",
                    "x-mindcloud-advanced": true
                  },
                  "data.recipients[].reminderText": {
                    "type": "string",
                    "description": "Custom reminder email body text.",
                    "example": "Last week we had the consultation. If you want to evaluate the consulting services, you can click the following link:",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "object",
                            "properties": {
                              "all": {
                                "type": "number",
                                "description": "Total recipients included in the mailing request."
                              },
                              "created": {
                                "type": "number",
                                "description": "Number of invitation emails created successfully."
                              },
                              "error": {
                                "type": "number",
                                "description": "Number of recipients for which the invitation could not be created."
                              },
                              "inviteExists": {
                                "type": "number",
                                "description": "Number of recipients for which an invitation already exists."
                              },
                              "ratingExists": {
                                "type": "number",
                                "description": "Number of recipients for which a rating already exists."
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string",
                            "description": "Mailing ID that can be used to query invitation mail status."
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Email addresses for which an invitation was created."
                              },
                              "error": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Email addresses for which invitation creation failed."
                              },
                              "inviteExists": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Email addresses for which an invitation already exists."
                              },
                              "ratingExists": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Email addresses for which a rating already exists."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Mailing creation status returned by ProvenExpert."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/create-profile": {
      "post": {
        "operationId": "provenExpert.create-profile",
        "summary": "Create Profile",
        "description": "Creates a profile in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/create-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.email",
                  "data.company"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.email": {
                    "type": "string",
                    "description": "Email address for the new profile.",
                    "example": "wizard-provenexpert-profile-1774894073@example.org"
                  },
                  "data.company": {
                    "type": "string",
                    "description": "Company name for the new company profile.",
                    "example": "MindCloud Wizard Child 1774894073"
                  },
                  "data.description": {
                    "type": "string",
                    "description": "Optional profile description.",
                    "example": "Sandbox child profile created by the one-shot batch."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "description": "Company name for the created profile."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp for when the child profile was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Profile description."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address for the created profile."
                          },
                          "login": {
                            "type": "object",
                            "properties": {
                              "expire": {
                                "type": "number",
                                "description": "Unix timestamp for when the single sign-on URL expires."
                              },
                              "url": {
                                "type": "string",
                                "description": "Single sign-on URL returned with the profile."
                              }
                            },
                            "additionalProperties": false
                          },
                          "profileUrl": {
                            "type": "string",
                            "description": "Public URL for the created profile."
                          },
                          "public": {
                            "type": "number",
                            "description": "Whether the created profile is public."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/create-survey": {
      "post": {
        "operationId": "provenExpert.create-survey",
        "summary": "Create Survey",
        "description": "Creates a survey in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/create-survey"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.name": {
                    "type": "string",
                    "description": "Name of the survey to create.",
                    "example": "MindCloud Wizard Survey"
                  },
                  "data.pos": {
                    "type": "number",
                    "description": "Whether the survey should be created as a point-of-sale survey.",
                    "example": 0
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number",
                            "description": "Whether the survey is active."
                          },
                          "code": {
                            "type": "string",
                            "description": "Survey code returned by ProvenExpert."
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp for when the survey was created."
                          },
                          "name": {
                            "type": "string",
                            "description": "Survey display name."
                          },
                          "pos": {
                            "type": "number",
                            "description": "Survey ordering position."
                          },
                          "printPdf": {
                            "type": "string",
                            "description": "Printable PDF asset URL."
                          },
                          "printPng": {
                            "type": "string",
                            "description": "Printable PNG asset URL."
                          },
                          "qr": {
                            "type": "string",
                            "description": "QR code image URL for the survey."
                          },
                          "url": {
                            "type": "string",
                            "description": "Public survey URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/create-widget": {
      "post": {
        "operationId": "provenExpert.create-widget",
        "summary": "Create Widget",
        "description": "Creates a widget in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/create-widget"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data.type",
                  "data.width"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data.type": {
                    "type": "string",
                    "description": "Type of widget to generate.",
                    "example": "portrait"
                  },
                  "data.width": {
                    "type": "number",
                    "description": "Widget width in pixels.",
                    "example": 180
                  },
                  "data.feedback": {
                    "type": "number",
                    "description": "Whether customer votes should be displayed on the widget.",
                    "example": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "html": {
                            "type": "string",
                            "description": "Widget embed HTML returned by ProvenExpert."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-api-credentials": {
      "get": {
        "operationId": "provenExpert.get-api-credentials",
        "summary": "Get API Credentials",
        "description": "Retrieves your ProvenExpert API credentials.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-api-credentials"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "API ID for authentication."
                          },
                          "key": {
                            "type": "string",
                            "description": "API key for authentication."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-invitation-mail-status": {
      "get": {
        "operationId": "provenExpert.get-invitation-mail-status",
        "summary": "Get Invitation Mail Status",
        "description": "Retrieves the status of an invitation mailing in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-invitation-mail-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data.id",
            "in": "query",
            "required": true,
            "description": "ID of the invitation mailing returned by Create Invitation Mail.",
            "schema": {
              "type": "string",
              "description": "ID of the invitation mailing returned by Create Invitation Mail.",
              "example": "9959c18c32976a5453e704c0c6b28be5"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "object",
                            "properties": {
                              "all": {
                                "type": "number",
                                "description": "Total recipients in the mailing."
                              },
                              "error": {
                                "type": "number",
                                "description": "Number of emails that could not be sent."
                              },
                              "pending": {
                                "type": "number",
                                "description": "Number of emails still pending delivery."
                              },
                              "sent": {
                                "type": "number",
                                "description": "Number of emails already sent."
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp for when the mailing was created."
                          },
                          "list": {
                            "type": "object",
                            "properties": {
                              "error": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Recipients whose emails failed to send."
                              },
                              "pending": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Recipients whose emails are still pending delivery."
                              },
                              "sent": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Recipients whose emails were already sent."
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Current mailing delivery status returned by ProvenExpert."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-login-url": {
      "get": {
        "operationId": "provenExpert.get-login-url",
        "summary": "Get Login URL",
        "description": "Retrieves a single sign-on login URL from ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-login-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expire": {
                            "type": "number",
                            "description": "Unix timestamp for when the login URL expires."
                          },
                          "url": {
                            "type": "string",
                            "description": "Single sign-on login URL returned by ProvenExpert."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-profile": {
      "get": {
        "operationId": "provenExpert.get-profile",
        "summary": "Get Profile",
        "description": "Retrieves your profile from ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "string",
                            "description": "Company or profile display name."
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string",
                                "description": "Contact country code."
                              },
                              "email": {
                                "type": "string",
                                "description": "Contact email address."
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "number",
                            "description": "Unix timestamp for when the profile was created."
                          },
                          "customerId": {
                            "type": "number",
                            "description": "ProvenExpert customer identifier."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary profile email address."
                          },
                          "expirePlan": {
                            "type": "string",
                            "description": "Plan that applies after expiry."
                          },
                          "expiryDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the current plan expires."
                          },
                          "plan": {
                            "type": "string",
                            "description": "Current ProvenExpert plan name."
                          },
                          "profileUrl": {
                            "type": "string",
                            "description": "Public ProvenExpert profile URL."
                          },
                          "public": {
                            "type": "number",
                            "description": "Profile visibility flag from the API response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-profile-settings": {
      "get": {
        "operationId": "provenExpert.get-profile-settings",
        "summary": "Get Profile Settings",
        "description": "Retrieves your profile settings from ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-profile-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mails": {
                            "type": "object",
                            "properties": {
                              "newsletter": {
                                "type": "number",
                                "description": "Whether newsletter emails are enabled."
                              },
                              "reporting": {
                                "type": "number",
                                "description": "Whether reporting emails are enabled."
                              }
                            },
                            "additionalProperties": false
                          },
                          "notify": {
                            "type": "object",
                            "properties": {
                              "contactRequest": {
                                "type": "number",
                                "description": "Whether contact request notifications are enabled."
                              },
                              "externalRating": {
                                "type": "number",
                                "description": "Whether external rating notifications are enabled."
                              },
                              "inviteConfirmation": {
                                "type": "number",
                                "description": "Whether invite confirmation notifications are enabled."
                              },
                              "rating": {
                                "type": "number",
                                "description": "Whether rating notifications are enabled."
                              },
                              "ratingRequest": {
                                "type": "number",
                                "description": "Whether rating request notifications are enabled."
                              },
                              "service": {
                                "type": "number",
                                "description": "Whether service notifications are enabled."
                              }
                            },
                            "additionalProperties": false
                          },
                          "privacy": {
                            "type": "object",
                            "properties": {
                              "contactButton": {
                                "type": "number",
                                "description": "Whether the public contact button is enabled."
                              },
                              "ratingButton": {
                                "type": "number",
                                "description": "Whether the public rating button is enabled."
                              },
                              "ratingButtonWithCode": {
                                "type": "number",
                                "description": "Whether the rating button with code is enabled."
                              },
                              "showAllCompetences": {
                                "type": "number",
                                "description": "Whether all competences are shown."
                              },
                              "showCompanyName": {
                                "type": "number",
                                "description": "Whether the company name is shown publicly."
                              },
                              "showExternalRatings": {
                                "type": "number",
                                "description": "Whether external ratings are shown."
                              },
                              "showLastname": {
                                "type": "number",
                                "description": "Whether reviewer last names are shown publicly."
                              },
                              "showName": {
                                "type": "number",
                                "description": "Whether reviewer first names are shown publicly."
                              },
                              "showRatingCompetences": {
                                "type": "number",
                                "description": "Whether rating competences are shown."
                              },
                              "showTopCompetences": {
                                "type": "number",
                                "description": "Whether top competences are shown."
                              },
                              "showVoterData": {
                                "type": "number",
                                "description": "Whether voter data is shown publicly."
                              }
                            },
                            "additionalProperties": false
                          },
                          "public": {
                            "type": "number",
                            "description": "Profile visibility flag returned by ProvenExpert settings."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-rating-summary": {
      "get": {
        "operationId": "provenExpert.get-rating-summary",
        "summary": "Get Rating Summary",
        "description": "Retrieves your profile rating summary from ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-rating-summary"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ratingValue": {
                            "type": "number",
                            "description": "Average rating value returned by ProvenExpert."
                          },
                          "recommendationRate": {
                            "type": "number",
                            "description": "Recommendation rate returned by the summary endpoint."
                          },
                          "reviewCount": {
                            "type": "number",
                            "description": "Number of reviews included in the summary."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/get-rich-snippet": {
      "get": {
        "operationId": "provenExpert.get-rich-snippet",
        "summary": "Get Rich Snippet",
        "description": "Retrieves rich snippet HTML for ProvenExpert ratings.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/get-rich-snippet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data.version",
            "in": "query",
            "required": false,
            "description": "Display mode for the stars.",
            "schema": {
              "type": "number",
              "description": "Display mode for the stars.",
              "example": 2
            }
          },
          {
            "name": "data.strokeColor",
            "in": "query",
            "required": false,
            "description": "Line color of the stars as a hex string.",
            "schema": {
              "type": "string",
              "description": "Line color of the stars as a hex string.",
              "example": "AB9044",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "data.fillColor",
            "in": "query",
            "required": false,
            "description": "Fill color of the stars as a hex string.",
            "schema": {
              "type": "string",
              "description": "Fill color of the stars as a hex string.",
              "example": "FFFFFF",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "data.fontColor",
            "in": "query",
            "required": false,
            "description": "Text color as a hex string.",
            "schema": {
              "type": "string",
              "description": "Text color as a hex string.",
              "example": "726542",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "css": {
                            "type": "string",
                            "description": "Embeddable CSS snippet generated by ProvenExpert."
                          },
                          "html": {
                            "type": "string",
                            "description": "Embeddable HTML snippet generated by ProvenExpert."
                          },
                          "ratingValue": {
                            "type": "number",
                            "description": "Average rating value included in the rich snippet response."
                          },
                          "reviewCount": {
                            "type": "number",
                            "description": "Number of reviews included in the rich snippet response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/provenExpert/latest/actions/list-child-api-credentials": {
      "get": {
        "operationId": "provenExpert.list-child-api-credentials",
        "summary": "List Child API Credentials",
        "description": "Lists API credentials for child profiles in ProvenExpert.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/provenExpert/latest/actions/list-child-api-credentials"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Email address for the child profile."
                          },
                          "id": {
                            "type": "string",
                            "description": "API ID for the child profile."
                          },
                          "key": {
                            "type": "string",
                            "description": "API key for the child profile."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
[...]
