{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Mailform Universal API",
    "version": "0.0.2",
    "description": "Send physical mail and manage API orders"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/mailform/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/mailform/latest/actions/create-order": {
      "post": {
        "operationId": "mailform.create-order",
        "summary": "Create Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailform/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "service",
                  "toName",
                  "toAddress1",
                  "toCity",
                  "toState",
                  "toPostcode",
                  "toCountry",
                  "fromName",
                  "fromAddress1",
                  "fromCity",
                  "fromState",
                  "fromPostcode",
                  "fromCountry"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "PDF document to mail. Use this, Url, or Template as the document source.",
                    "x-mindcloud-advanced": true
                  },
                  "url": {
                    "type": "string",
                    "description": "URL of the PDF document to mail. Ignored if File is provided.",
                    "example": "https://example.com/document.pdf"
                  },
                  "template": {
                    "type": "string",
                    "description": "Mailform template identifier to use as the document source.",
                    "x-mindcloud-advanced": true
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON object of template variables. Used only when Template is provided.",
                    "x-mindcloud-advanced": true
                  },
                  "customerReference": {
                    "type": "string",
                    "description": "Optional customer reference to attach to the order.",
                    "example": "ORDER-1001"
                  },
                  "service": {
                    "type": "string",
                    "description": "Delivery service to use for the order.",
                    "enum": [
                      "0",
                      "1",
                      "10",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9"
                    ],
                    "default": "USPS_FIRST_CLASS"
                  },
                  "webhook": {
                    "type": "string",
                    "description": "Webhook URL for order update notifications.",
                    "example": "https://example.com/mailform-webhook",
                    "x-mindcloud-advanced": true
                  },
                  "company": {
                    "type": "string",
                    "description": "Company ID to associate with the order.",
                    "x-mindcloud-advanced": true
                  },
                  "simplex": {
                    "type": "boolean",
                    "description": "Print one page per sheet when true; allow duplex when false.",
                    "default": true
                  },
                  "color": {
                    "type": "boolean",
                    "description": "Print in color when true; black and white when false.",
                    "default": false
                  },
                  "flat": {
                    "type": "boolean",
                    "description": "Require mailing in a flat envelope when true.",
                    "x-mindcloud-advanced": true
                  },
                  "stamp": {
                    "type": "boolean",
                    "description": "Require a real postage stamp when true.",
                    "x-mindcloud-advanced": true
                  },
                  "returnEnvelope": {
                    "type": "boolean",
                    "description": "Include a return envelope when true.",
                    "x-mindcloud-advanced": true
                  },
                  "message": {
                    "type": "string",
                    "description": "Message for postcard or notecard services.",
                    "x-mindcloud-advanced": true
                  },
                  "qrcode": {
                    "type": "string",
                    "description": "QR code to print on supported USPS postcard and first-class mail.",
                    "x-mindcloud-advanced": true
                  },
                  "toName": {
                    "type": "string",
                    "description": "Name of the recipient.",
                    "example": "Frank White"
                  },
                  "toOrganization": {
                    "type": "string",
                    "description": "Organization or company associated with the recipient.",
                    "x-mindcloud-advanced": true
                  },
                  "toAddress1": {
                    "type": "string",
                    "description": "Street number and name of the recipient.",
                    "example": "607 North Avenue"
                  },
                  "toAddress2": {
                    "type": "string",
                    "description": "Suite, room, or secondary address for the recipient.",
                    "example": "Door 18",
                    "x-mindcloud-advanced": true
                  },
                  "toCity": {
                    "type": "string",
                    "description": "City of the recipient address.",
                    "example": "Wakefield"
                  },
                  "toState": {
                    "type": "string",
                    "description": "State of the recipient address.",
                    "example": "MA"
                  },
                  "toPostcode": {
                    "type": "string",
                    "description": "Postal or ZIP code of the recipient address.",
                    "example": "01880"
                  },
                  "toCountry": {
                    "type": "string",
                    "description": "Country of the recipient address.",
                    "example": "US"
                  },
                  "fromName": {
                    "type": "string",
                    "description": "Name of the sender.",
                    "example": "Joe Green"
                  },
                  "fromOrganization": {
                    "type": "string",
                    "description": "Organization or company associated with the sender.",
                    "x-mindcloud-advanced": true
                  },
                  "fromAddress1": {
                    "type": "string",
                    "description": "Street number and name of the sender.",
                    "example": "607 North Avenue"
                  },
                  "fromAddress2": {
                    "type": "string",
                    "description": "Suite, room, or secondary address for the sender.",
                    "example": "Door 18",
                    "x-mindcloud-advanced": true
                  },
                  "fromCity": {
                    "type": "string",
                    "description": "City of the sender address.",
                    "example": "Wakefield"
                  },
                  "fromState": {
                    "type": "string",
                    "description": "State of the sender address.",
                    "example": "MA"
                  },
                  "fromPostcode": {
                    "type": "string",
                    "description": "Postal or ZIP code of the sender address.",
                    "example": "01880"
                  },
                  "fromCountry": {
                    "type": "string",
                    "description": "Country of the sender address.",
                    "example": "US"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailform/latest/actions/get-all-teams": {
      "get": {
        "operationId": "mailform.get-all-teams",
        "summary": "Get All Teams",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailform/latest/actions/get-all-teams"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "balance": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Prepaid account balance associated with the team."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Team ID."
                                },
                                "joined": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "When the authenticated user joined the team."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Team or company name."
                                },
                                "object": {
                                  "type": "string",
                                  "description": "Team resource object type."
                                },
                                "owner": {
                                  "type": "boolean",
                                  "description": "Whether the authenticated user is a team owner."
                                }
                              }
                            },
                            "description": "Teams available to the authenticated user."
                          },
                          "object": {
                            "type": "string",
                            "description": "Envelope object type."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the team list request succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailform/latest/actions/get-current-user": {
      "get": {
        "operationId": "mailform.get-current-user",
        "summary": "Get Current User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailform/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailform/latest/actions/get-order": {
      "get": {
        "operationId": "mailform.get-order",
        "summary": "Get Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailform/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "ID of the order to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the order to retrieve.",
              "example": "af91e239-0c5c-40b5-bab8-1f4271acba72"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailform/latest/actions/get-rate": {
      "get": {
        "operationId": "mailform.get-rate",
        "summary": "Get Rate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailform/latest/actions/get-rate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": false,
            "description": "PDF document to price. Use this or Url as the document source.",
            "schema": {
              "type": "string",
              "description": "PDF document to price. Use this or Url as the document source.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL of the PDF document to price.",
            "schema": {
              "type": "string",
              "description": "URL of the PDF document to price.",
              "example": "https://example.com/document.pdf"
            }
          },
          {
            "name": "customerReference",
            "in": "query",
            "required": false,
            "description": "Optional customer reference for the potential order.",
            "schema": {
              "type": "string",
              "description": "Optional customer reference for the potential order.",
              "example": "QUOTE-1001"
            }
          },
          {
            "name": "service",
            "in": "query",
            "required": true,
            "description": "Delivery service to price.",
            "schema": {
              "type": "string",
              "description": "Delivery service to price.",
              "enum": [
                "0",
                "1",
                "10",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ],
              "default": "USPS_FIRST_CLASS"
            }
          },
          {
            "name": "webhook",
            "in": "query",
            "required": false,
            "description": "Webhook URL for order update notifications if the priced order is later created.",
            "schema": {
              "type": "string",
              "description": "Webhook URL for order update notifications if the priced order is later created.",
              "example": "https://example.com/mailform-webhook",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "simplex",
            "in": "query",
            "required": false,
            "description": "Price one page per sheet when true; allow duplex when false.",
            "schema": {
              "type": "boolean",
              "description": "Price one page per sheet when true; allow duplex when false.",
              "default": true
            }
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "description": "Price color printing when true; black and white when false.",
            "schema": {
              "type": "boolean",
              "description": "Price color printing when true; black and white when false.",
              "default": false
            }
          },
          {
            "name": "flat",
            "in": "query",
            "required": false,
            "description": "Price a flat envelope when true.",
            "schema": {
              "type": "boolean",
              "description": "Price a flat envelope when true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "stamp",
            "in": "query",
            "required": false,
            "description": "Price a real postage stamp when true.",
            "schema": {
              "type": "boolean",
              "description": "Price a real postage stamp when true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "toName",
            "in": "query",
            "required": true,
            "description": "Name of the recipient.",
            "schema": {
              "type": "string",
              "description": "Name of the recipient.",
              "example": "Frank White"
            }
          },
          {
            "name": "toAddress1",
            "in": "query",
            "required": true,
            "description": "Street number and name of the recipient.",
            "schema": {
              "type": "string",
              "description": "Street number and name of the recipient.",
              "example": "607 North Avenue"
            }
          },
          {
            "name": "toCity",
            "in": "query",
            "required": true,
            "description": "City of the recipient address.",
            "schema": {
              "type": "string",
              "description": "City of the recipient address.",
              "example": "Wakefield"
            }
          },
          {
            "name": "toState",
            "in": "query",
            "required": true,
            "description": "State of the recipient address.",
            "schema": {
              "type": "string",
              "description": "State of the recipient address.",
              "example": "MA"
            }
          },
          {
            "name": "toPostcode",
            "in": "query",
            "required": true,
            "description": "Postal or ZIP code of the recipient address.",
            "schema": {
              "type": "string",
              "description": "Postal or ZIP code of the recipient address.",
              "example": "01880"
            }
          },
          {
            "name": "toCountry",
            "in": "query",
            "required": true,
            "description": "Country of the recipient address.",
            "schema": {
              "type": "string",
              "description": "Country of the recipient address.",
              "example": "US"
            }
          },
          {
            "name": "fromName",
            "in": "query",
            "required": true,
            "description": "Name of the sender.",
            "schema": {
              "type": "string",
              "description": "Name of the sender.",
              "example": "Joe Green"
            }
          },
          {
            "name": "fromAddress1",
            "in": "query",
            "required": true,
            "description": "Street number and name of the sender.",
            "schema": {
              "type": "string",
              "description": "Street number and name of the sender.",
              "example": "607 North Avenue"
            }
          },
          {
            "name": "fromCity",
            "in": "query",
            "required": true,
            "description": "City of the sender address.",
            "schema": {
              "type": "string",
              "description": "City of the sender address.",
              "example": "Wakefield"
            }
          },
          {
            "name": "fromState",
            "in": "query",
            "required": true,
            "description": "State of the sender address.",
            "schema": {
              "type": "string",
              "description": "State of the sender address.",
              "example": "MA"
            }
          },
          {
            "name": "fromPostcode",
            "in": "query",
            "required": true,
            "description": "Postal or ZIP code of the sender address.",
            "schema": {
              "type": "string",
              "description": "Postal or ZIP code of the sender address.",
              "example": "01880"
            }
          },
          {
            "name": "fromCountry",
            "in": "query",
            "required": true,
            "description": "Country of the sender address.",
            "schema": {
              "type": "string",
              "description": "Country of the sender address.",
              "example": "US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pricing": {
                            "type": "object",
                            "properties": {
                              "cost": {
                                "type": "number",
                                "description": "Quoted order cost in the smallest currency unit."
                              },
                              "lineitems": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "Cost component type."
                                    },
                                    "value": {
                                      "type": "number",
                                      "description": "Cost component amount in the smallest currency unit."
                                    }
                                  }
                                },
                                "description": "Cost components that make up the quoted order price."
                              },
                              "tax": {
                                "type": "number",
                                "description": "Quoted tax in the smallest currency unit."
                              },
                              "total": {
                                "type": "number",
                                "description": "Quoted total in the smallest currency unit."
                              }
                            },
                            "additionalProperties": false
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether Mailform generated the quote successfully."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/mailform/latest/actions/get-team": {
      "get": {
        "operationId": "mailform.get-team",
        "summary": "Get Team",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/mailform/latest/actions/get-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "ID of the team to retrieve.",
            "schema": {
              "type": "string",
              "description": "ID of the team to retrieve.",
              "example": "2543d0ff-fff1-4f71-8993-f2c5701f6b6f"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
