{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "IRIS KashFlow Universal API",
    "version": "0.0.7",
    "description": "IRIS KashFlow is online accounting software for small businesses and accountants, covering quotes, invoicing, purchases, reporting, payments, and bookkeeping workflows."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/iRISKashFlow/latest/actions/get-company-details": {
      "get": {
        "operationId": "iRISKashFlow.get-company-details",
        "summary": "Get Company Details",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/get-company-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Address1": {
                            "type": "string"
                          },
                          "Address2": {
                            "type": "string"
                          },
                          "Address3": {
                            "type": "string"
                          },
                          "Address4": {
                            "type": "string"
                          },
                          "BusinessType": {
                            "type": "string"
                          },
                          "BusinessType1": {
                            "type": "string"
                          },
                          "BusinessType1Name": {
                            "type": "string"
                          },
                          "BusinessType2": {
                            "type": "string"
                          },
                          "BusinessType2Name": {
                            "type": "string"
                          },
                          "BusinessType3": {
                            "type": "string"
                          },
                          "BusinessType3Name": {
                            "type": "string"
                          },
                          "CompanyName": {
                            "type": "string"
                          },
                          "CurrencyId": {
                            "type": "string"
                          },
                          "CurrencyName": {
                            "type": "string"
                          },
                          "CurrencyPosition": {
                            "type": "string"
                          },
                          "CurrencySymbol": {
                            "type": "string"
                          },
                          "Mobile": {
                            "type": "string"
                          },
                          "PaymentTerms": {
                            "type": "string"
                          },
                          "PaymentTermsType": {
                            "type": "string"
                          },
                          "Postcode": {
                            "type": "string"
                          },
                          "PrimaryContact": {
                            "type": "string"
                          },
                          "PrimaryEmail": {
                            "type": "string"
                          },
                          "Telephone": {
                            "type": "string"
                          },
                          "UsDate": {
                            "type": "string"
                          },
                          "VatRegistered": {
                            "type": "string"
                          },
                          "VatRegistrationNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/get-customer-by-id": {
      "get": {
        "operationId": "iRISKashFlow.get-customer-by-id",
        "summary": "Get Customer by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/get-customer-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "address3": {
                            "type": "string"
                          },
                          "address4": {
                            "type": "string"
                          },
                          "checkBox1": {
                            "type": "string"
                          },
                          "checkBox10": {
                            "type": "string"
                          },
                          "checkBox11": {
                            "type": "string"
                          },
                          "checkBox12": {
                            "type": "string"
                          },
                          "checkBox13": {
                            "type": "string"
                          },
                          "checkBox14": {
                            "type": "string"
                          },
                          "checkBox15": {
                            "type": "string"
                          },
                          "checkBox16": {
                            "type": "string"
                          },
                          "checkBox17": {
                            "type": "string"
                          },
                          "checkBox18": {
                            "type": "string"
                          },
                          "checkBox19": {
                            "type": "string"
                          },
                          "checkBox2": {
                            "type": "string"
                          },
                          "checkBox20": {
                            "type": "string"
                          },
                          "checkBox3": {
                            "type": "string"
                          },
                          "checkBox4": {
                            "type": "string"
                          },
                          "checkBox5": {
                            "type": "string"
                          },
                          "checkBox6": {
                            "type": "string"
                          },
                          "checkBox7": {
                            "type": "string"
                          },
                          "checkBox8": {
                            "type": "string"
                          },
                          "checkBox9": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "string"
                          },
                          "contactLastName": {
                            "type": "string"
                          },
                          "contactTitle": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "countryName": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyID": {
                            "type": "string"
                          },
                          "custHasDeliveryAddress": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "deliveryAddress1": {
                            "type": "string"
                          },
                          "deliveryAddress2": {
                            "type": "string"
                          },
                          "deliveryAddress3": {
                            "type": "string"
                          },
                          "deliveryAddress4": {
                            "type": "string"
                          },
                          "deliveryCountryCode": {
                            "type": "string"
                          },
                          "deliveryCountryName": {
                            "type": "string"
                          },
                          "deliveryPostcode": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "string"
                          },
                          "eC": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "extraText1": {
                            "type": "string"
                          },
                          "extraText10": {
                            "type": "string"
                          },
                          "extraText11": {
                            "type": "string"
                          },
                          "extraText12": {
                            "type": "string"
                          },
                          "extraText13": {
                            "type": "string"
                          },
                          "extraText14": {
                            "type": "string"
                          },
                          "extraText15": {
                            "type": "string"
                          },
                          "extraText16": {
                            "type": "string"
                          },
                          "extraText17": {
                            "type": "string"
                          },
                          "extraText18": {
                            "type": "string"
                          },
                          "extraText19": {
                            "type": "string"
                          },
                          "extraText2": {
                            "type": "string"
                          },
                          "extraText20": {
                            "type": "string"
                          },
                          "extraText3": {
                            "type": "string"
                          },
                          "extraText4": {
                            "type": "string"
                          },
                          "extraText5": {
                            "type": "string"
                          },
                          "extraText6": {
                            "type": "string"
                          },
                          "extraText7": {
                            "type": "string"
                          },
                          "extraText8": {
                            "type": "string"
                          },
                          "extraText9": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "outsideEC": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "showDiscount": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "telephone": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "vATNumber": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/get-invoice-by-id": {
      "get": {
        "operationId": "iRISKashFlow.get-invoice-by-id",
        "summary": "Get Invoice by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/get-invoice-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountPaid": {
                            "type": "string"
                          },
                          "cISRCNetAmount": {
                            "type": "string"
                          },
                          "cISRCVatAmount": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "string"
                          },
                          "invoiceDate": {
                            "type": "string"
                          },
                          "invoiceDBID": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "isCISReverseCharge": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "string"
                          },
                          "netAmount": {
                            "type": "string"
                          },
                          "paid": {
                            "type": "string"
                          },
                          "projectID": {
                            "type": "string"
                          },
                          "readableString": {
                            "type": "string"
                          },
                          "suppressTotal": {
                            "type": "string"
                          },
                          "useCustomDeliveryAddress": {
                            "type": "string"
                          },
                          "vATAmount": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/get-quote-by-id": {
      "get": {
        "operationId": "iRISKashFlow.get-quote-by-id",
        "summary": "Get Quote by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/get-quote-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quoteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountPaid": {
                            "type": "string"
                          },
                          "cISRCNetAmount": {
                            "type": "string"
                          },
                          "cISRCVatAmount": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "string"
                          },
                          "invoiceDate": {
                            "type": "string"
                          },
                          "invoiceDBID": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "isCISReverseCharge": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "string"
                          },
                          "netAmount": {
                            "type": "string"
                          },
                          "paid": {
                            "type": "string"
                          },
                          "projectID": {
                            "type": "string"
                          },
                          "readableString": {
                            "type": "string"
                          },
                          "suppressTotal": {
                            "type": "string"
                          },
                          "useCustomDeliveryAddress": {
                            "type": "string"
                          },
                          "vATAmount": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/get-supplier-by-id": {
      "get": {
        "operationId": "iRISKashFlow.get-supplier-by-id",
        "summary": "Get Supplier by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/get-supplier-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 12473072
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "address3": {
                            "type": "string"
                          },
                          "address4": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "string"
                          },
                          "contactLastName": {
                            "type": "string"
                          },
                          "contactTitle": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyID": {
                            "type": "string"
                          },
                          "eC": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "string"
                          },
                          "postCode": {
                            "type": "string"
                          },
                          "supplierID": {
                            "type": "string"
                          },
                          "telephone": {
                            "type": "string"
                          },
                          "tradeBorderType": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/list-customers": {
      "get": {
        "operationId": "iRISKashFlow.list-customers",
        "summary": "List Customers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/list-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "address3": {
                            "type": "string"
                          },
                          "address4": {
                            "type": "string"
                          },
                          "checkBox1": {
                            "type": "string"
                          },
                          "checkBox10": {
                            "type": "string"
                          },
                          "checkBox11": {
                            "type": "string"
                          },
                          "checkBox12": {
                            "type": "string"
                          },
                          "checkBox13": {
                            "type": "string"
                          },
                          "checkBox14": {
                            "type": "string"
                          },
                          "checkBox15": {
                            "type": "string"
                          },
                          "checkBox16": {
                            "type": "string"
                          },
                          "checkBox17": {
                            "type": "string"
                          },
                          "checkBox18": {
                            "type": "string"
                          },
                          "checkBox19": {
                            "type": "string"
                          },
                          "checkBox2": {
                            "type": "string"
                          },
                          "checkBox20": {
                            "type": "string"
                          },
                          "checkBox3": {
                            "type": "string"
                          },
                          "checkBox4": {
                            "type": "string"
                          },
                          "checkBox5": {
                            "type": "string"
                          },
                          "checkBox6": {
                            "type": "string"
                          },
                          "checkBox7": {
                            "type": "string"
                          },
                          "checkBox8": {
                            "type": "string"
                          },
                          "checkBox9": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "string"
                          },
                          "contactLastName": {
                            "type": "string"
                          },
                          "contactTitle": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "countryName": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyID": {
                            "type": "string"
                          },
                          "custHasDeliveryAddress": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "deliveryAddress1": {
                            "type": "string"
                          },
                          "deliveryAddress2": {
                            "type": "string"
                          },
                          "deliveryAddress3": {
                            "type": "string"
                          },
                          "deliveryAddress4": {
                            "type": "string"
                          },
                          "deliveryCountryCode": {
                            "type": "string"
                          },
                          "deliveryCountryName": {
                            "type": "string"
                          },
                          "deliveryPostcode": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "string"
                          },
                          "eC": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "extraText1": {
                            "type": "string"
                          },
                          "extraText10": {
                            "type": "string"
                          },
                          "extraText11": {
                            "type": "string"
                          },
                          "extraText12": {
                            "type": "string"
                          },
                          "extraText13": {
                            "type": "string"
                          },
                          "extraText14": {
                            "type": "string"
                          },
                          "extraText15": {
                            "type": "string"
                          },
                          "extraText16": {
                            "type": "string"
                          },
                          "extraText17": {
                            "type": "string"
                          },
                          "extraText18": {
                            "type": "string"
                          },
                          "extraText19": {
                            "type": "string"
                          },
                          "extraText2": {
                            "type": "string"
                          },
                          "extraText20": {
                            "type": "string"
                          },
                          "extraText3": {
                            "type": "string"
                          },
                          "extraText4": {
                            "type": "string"
                          },
                          "extraText5": {
                            "type": "string"
                          },
                          "extraText6": {
                            "type": "string"
                          },
                          "extraText7": {
                            "type": "string"
                          },
                          "extraText8": {
                            "type": "string"
                          },
                          "extraText9": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "outsideEC": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "showDiscount": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "telephone": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "vATNumber": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/list-customers-modified-since": {
      "get": {
        "operationId": "iRISKashFlow.list-customers-modified-since",
        "summary": "List Customers Modified Since",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/list-customers-modified-since"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-03-20T00:00:00"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string"
                          },
                          "address2": {
                            "type": "string"
                          },
                          "address3": {
                            "type": "string"
                          },
                          "address4": {
                            "type": "string"
                          },
                          "checkBox1": {
                            "type": "string"
                          },
                          "checkBox10": {
                            "type": "string"
                          },
                          "checkBox11": {
                            "type": "string"
                          },
                          "checkBox12": {
                            "type": "string"
                          },
                          "checkBox13": {
                            "type": "string"
                          },
                          "checkBox14": {
                            "type": "string"
                          },
                          "checkBox15": {
                            "type": "string"
                          },
                          "checkBox16": {
                            "type": "string"
                          },
                          "checkBox17": {
                            "type": "string"
                          },
                          "checkBox18": {
                            "type": "string"
                          },
                          "checkBox19": {
                            "type": "string"
                          },
                          "checkBox2": {
                            "type": "string"
                          },
                          "checkBox20": {
                            "type": "string"
                          },
                          "checkBox3": {
                            "type": "string"
                          },
                          "checkBox4": {
                            "type": "string"
                          },
                          "checkBox5": {
                            "type": "string"
                          },
                          "checkBox6": {
                            "type": "string"
                          },
                          "checkBox7": {
                            "type": "string"
                          },
                          "checkBox8": {
                            "type": "string"
                          },
                          "checkBox9": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "contactFirstName": {
                            "type": "string"
                          },
                          "contactLastName": {
                            "type": "string"
                          },
                          "contactTitle": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "countryName": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyID": {
                            "type": "string"
                          },
                          "custHasDeliveryAddress": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "deliveryAddress1": {
                            "type": "string"
                          },
                          "deliveryAddress2": {
                            "type": "string"
                          },
                          "deliveryAddress3": {
                            "type": "string"
                          },
                          "deliveryAddress4": {
                            "type": "string"
                          },
                          "deliveryCountryCode": {
                            "type": "string"
                          },
                          "deliveryCountryName": {
                            "type": "string"
                          },
                          "deliveryPostcode": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "string"
                          },
                          "eC": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "extraText1": {
                            "type": "string"
                          },
                          "extraText10": {
                            "type": "string"
                          },
                          "extraText11": {
                            "type": "string"
                          },
                          "extraText12": {
                            "type": "string"
                          },
                          "extraText13": {
                            "type": "string"
                          },
                          "extraText14": {
                            "type": "string"
                          },
                          "extraText15": {
                            "type": "string"
                          },
                          "extraText16": {
                            "type": "string"
                          },
                          "extraText17": {
                            "type": "string"
                          },
                          "extraText18": {
                            "type": "string"
                          },
                          "extraText19": {
                            "type": "string"
                          },
                          "extraText2": {
                            "type": "string"
                          },
                          "extraText20": {
                            "type": "string"
                          },
                          "extraText3": {
                            "type": "string"
                          },
                          "extraText4": {
                            "type": "string"
                          },
                          "extraText5": {
                            "type": "string"
                          },
                          "extraText6": {
                            "type": "string"
                          },
                          "extraText7": {
                            "type": "string"
                          },
                          "extraText8": {
                            "type": "string"
                          },
                          "extraText9": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "outsideEC": {
                            "type": "string"
                          },
                          "paymentTerms": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "showDiscount": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "telephone": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "vATNumber": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/list-invoices-for-customer": {
      "get": {
        "operationId": "iRISKashFlow.list-invoices-for-customer",
        "summary": "List Invoices for Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/list-invoices-for-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 98598416
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountPaid": {
                            "type": "string"
                          },
                          "cISRCNetAmount": {
                            "type": "string"
                          },
                          "cISRCVatAmount": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "string"
                          },
                          "invoiceDate": {
                            "type": "string"
                          },
                          "invoiceDBID": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "isCISReverseCharge": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "string"
                          },
                          "netAmount": {
                            "type": "string"
                          },
                          "paid": {
                            "type": "string"
                          },
                          "projectID": {
                            "type": "string"
                          },
                          "readableString": {
                            "type": "string"
                          },
                          "suppressTotal": {
                            "type": "string"
                          },
                          "useCustomDeliveryAddress": {
                            "type": "string"
                          },
                          "vATAmount": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/list-products": {
      "get": {
        "operationId": "iRISKashFlow.list-products",
        "summary": "List Products",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/list-products"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "manageStockLevels": {
                            "type": "string"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "productDescription": {
                            "type": "string"
                          },
                          "productID": {
                            "type": "string"
                          },
                          "productName": {
                            "type": "string"
                          },
                          "productPrice": {
                            "type": "string"
                          },
                          "qtyInStock": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/list-quotes-for-customer": {
      "get": {
        "operationId": "iRISKashFlow.list-quotes-for-customer",
        "summary": "List Quotes for Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/list-quotes-for-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "default": 98598416
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountPaid": {
                            "type": "string"
                          },
                          "cISRCNetAmount": {
                            "type": "string"
                          },
                          "cISRCVatAmount": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "string"
                          },
                          "invoiceDate": {
                            "type": "string"
                          },
                          "invoiceDBID": {
                            "type": "string"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "isCISReverseCharge": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "string"
                          },
                          "netAmount": {
                            "type": "string"
                          },
                          "paid": {
                            "type": "string"
                          },
                          "projectID": {
                            "type": "string"
                          },
                          "readableString": {
                            "type": "string"
                          },
                          "suppressTotal": {
                            "type": "string"
                          },
                          "useCustomDeliveryAddress": {
                            "type": "string"
                          },
                          "vATAmount": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/iRISKashFlow/latest/actions/list-recent-invoices": {
      "get": {
        "operationId": "iRISKashFlow.list-recent-invoices",
        "summary": "List Recent Invoices",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/iRISKashFlow/latest/actions/list-recent-invoices"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberOfInvoices",
            "in": "query",
            "required": true,
[...]
