{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "REST Countries Universal API",
    "version": "0.0.2",
    "description": "Public reference API for country, region, language, currency, and geographic metadata."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rESTCountries/latest/actions/get-country-by-code": {
      "get": {
        "operationId": "rESTCountries.get-country-by-code",
        "summary": "Get Country by Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/get-country-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 or alpha-3 country code.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 or alpha-3 country code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altSpellings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "area": {
                            "type": "number"
                          },
                          "borders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capitalInfo": {
                            "type": "object",
                            "properties": {
                              "latlng": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "car": {
                            "type": "object",
                            "properties": {
                              "side": {
                                "type": "string"
                              },
                              "signs": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "cca2": {
                            "type": "string"
                          },
                          "cca3": {
                            "type": "string"
                          },
                          "ccn3": {
                            "type": "string"
                          },
                          "cioc": {
                            "type": "string"
                          },
                          "coatOfArms": {
                            "type": "object",
                            "properties": {
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "continents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "currencies": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demonyms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fifa": {
                            "type": "string"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "object",
                            "properties": {
                              "alt": {
                                "type": "string"
                              },
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "idd": {
                            "type": "object",
                            "properties": {
                              "root": {
                                "type": "string"
                              },
                              "suffixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "independent": {
                            "type": "boolean"
                          },
                          "landlocked": {
                            "type": "boolean"
                          },
                          "languages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "latlng": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "maps": {
                            "type": "object",
                            "properties": {
                              "googleMaps": {
                                "type": "string"
                              },
                              "openStreetMaps": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "nativeName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "population": {
                            "type": "number"
                          },
                          "postalCode": {
                            "type": "object",
                            "properties": {
                              "format": {
                                "type": "string"
                              },
                              "regex": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "region": {
                            "type": "string"
                          },
                          "startOfWeek": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          },
                          "timezones": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tld": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "translations": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "unMember": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/get-country-by-full-name": {
      "get": {
        "operationId": "rESTCountries.get-country-by-full-name",
        "summary": "Get Country by Full Name",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/get-country-by-full-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Full country name to match exactly.",
            "schema": {
              "type": "string",
              "description": "Full country name to match exactly."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altSpellings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "area": {
                            "type": "number"
                          },
                          "borders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capitalInfo": {
                            "type": "object",
                            "properties": {
                              "latlng": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "car": {
                            "type": "object",
                            "properties": {
                              "side": {
                                "type": "string"
                              },
                              "signs": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "cca2": {
                            "type": "string"
                          },
                          "cca3": {
                            "type": "string"
                          },
                          "ccn3": {
                            "type": "string"
                          },
                          "cioc": {
                            "type": "string"
                          },
                          "coatOfArms": {
                            "type": "object",
                            "properties": {
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "continents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "currencies": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demonyms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fifa": {
                            "type": "string"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "object",
                            "properties": {
                              "alt": {
                                "type": "string"
                              },
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "idd": {
                            "type": "object",
                            "properties": {
                              "root": {
                                "type": "string"
                              },
                              "suffixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "independent": {
                            "type": "boolean"
                          },
                          "landlocked": {
                            "type": "boolean"
                          },
                          "languages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "latlng": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "maps": {
                            "type": "object",
                            "properties": {
                              "googleMaps": {
                                "type": "string"
                              },
                              "openStreetMaps": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "nativeName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "population": {
                            "type": "number"
                          },
                          "postalCode": {
                            "type": "object",
                            "properties": {
                              "format": {
                                "type": "string"
                              },
                              "regex": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "region": {
                            "type": "string"
                          },
                          "startOfWeek": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          },
                          "timezones": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tld": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "translations": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "unMember": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/get-country-currencies-by-code": {
      "get": {
        "operationId": "rESTCountries.get-country-currencies-by-code",
        "summary": "Get Country Currencies by Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/get-country-currencies-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 or alpha-3 country code.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 or alpha-3 country code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currencies": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/get-country-languages-by-code": {
      "get": {
        "operationId": "rESTCountries.get-country-languages-by-code",
        "summary": "Get Country Languages by Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/get-country-languages-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 or alpha-3 country code.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 or alpha-3 country code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "languages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/get-country-population-by-code": {
      "get": {
        "operationId": "rESTCountries.get-country-population-by-code",
        "summary": "Get Country Population by Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/get-country-population-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 or alpha-3 country code.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 or alpha-3 country code."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "population": {
                            "type": "number"
                          },
                          "region": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/list-all-countries": {
      "get": {
        "operationId": "rESTCountries.list-all-countries",
        "summary": "List All Countries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/list-all-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cca2": {
                            "type": "string"
                          },
                          "cca3": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "object",
                            "properties": {
                              "alt": {
                                "type": "string"
                              },
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "independent": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "population": {
                            "type": "number"
                          },
                          "region": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          },
                          "unMember": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/list-countries-by-region": {
      "get": {
        "operationId": "rESTCountries.list-countries-by-region",
        "summary": "List Countries by Region",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/list-countries-by-region"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "Region such as Europe or Africa.",
            "schema": {
              "type": "string",
              "description": "Region such as Europe or Africa."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altSpellings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "area": {
                            "type": "number"
                          },
                          "borders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capitalInfo": {
                            "type": "object",
                            "properties": {
                              "latlng": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "car": {
                            "type": "object",
                            "properties": {
                              "side": {
                                "type": "string"
                              },
                              "signs": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "cca2": {
                            "type": "string"
                          },
                          "cca3": {
                            "type": "string"
                          },
                          "ccn3": {
                            "type": "string"
                          },
                          "cioc": {
                            "type": "string"
                          },
                          "coatOfArms": {
                            "type": "object",
                            "properties": {
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "continents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "currencies": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demonyms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fifa": {
                            "type": "string"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "object",
                            "properties": {
                              "alt": {
                                "type": "string"
                              },
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "idd": {
                            "type": "object",
                            "properties": {
                              "root": {
                                "type": "string"
                              },
                              "suffixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "independent": {
                            "type": "boolean"
                          },
                          "landlocked": {
                            "type": "boolean"
                          },
                          "languages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "latlng": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "maps": {
                            "type": "object",
                            "properties": {
                              "googleMaps": {
                                "type": "string"
                              },
                              "openStreetMaps": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "nativeName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "population": {
                            "type": "number"
                          },
                          "postalCode": {
                            "type": "object",
                            "properties": {
                              "format": {
                                "type": "string"
                              },
                              "regex": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "region": {
                            "type": "string"
                          },
                          "startOfWeek": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          },
                          "timezones": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tld": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "translations": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "unMember": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/list-countries-by-subregion": {
      "get": {
        "operationId": "rESTCountries.list-countries-by-subregion",
        "summary": "List Countries by Subregion",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/list-countries-by-subregion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subregion",
            "in": "query",
            "required": true,
            "description": "Subregion such as Northern Europe or South America.",
            "schema": {
              "type": "string",
              "description": "Subregion such as Northern Europe or South America."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "altSpellings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "area": {
                            "type": "number"
                          },
                          "borders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capital": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "capitalInfo": {
                            "type": "object",
                            "properties": {
                              "latlng": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "car": {
                            "type": "object",
                            "properties": {
                              "side": {
                                "type": "string"
                              },
                              "signs": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "cca2": {
                            "type": "string"
                          },
                          "cca3": {
                            "type": "string"
                          },
                          "ccn3": {
                            "type": "string"
                          },
                          "cioc": {
                            "type": "string"
                          },
                          "coatOfArms": {
                            "type": "object",
                            "properties": {
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "continents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "currencies": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "demonyms": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fifa": {
                            "type": "string"
                          },
                          "flag": {
                            "type": "string"
                          },
                          "flags": {
                            "type": "object",
                            "properties": {
                              "alt": {
                                "type": "string"
                              },
                              "png": {
                                "type": "string"
                              },
                              "svg": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "idd": {
                            "type": "object",
                            "properties": {
                              "root": {
                                "type": "string"
                              },
                              "suffixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "independent": {
                            "type": "boolean"
                          },
                          "landlocked": {
                            "type": "boolean"
                          },
                          "languages": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "latlng": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "maps": {
                            "type": "object",
                            "properties": {
                              "googleMaps": {
                                "type": "string"
                              },
                              "openStreetMaps": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "nativeName": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "population": {
                            "type": "number"
                          },
                          "postalCode": {
                            "type": "object",
                            "properties": {
                              "format": {
                                "type": "string"
                              },
                              "regex": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "region": {
                            "type": "string"
                          },
                          "startOfWeek": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          },
                          "timezones": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tld": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "translations": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "unMember": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/list-country-areas": {
      "get": {
        "operationId": "rESTCountries.list-country-areas",
        "summary": "List Country Areas",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/list-country-areas"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "area": {
                            "type": "number"
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "region": {
                            "type": "string"
                          },
                          "subregion": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/list-country-borders": {
      "get": {
        "operationId": "rESTCountries.list-country-borders",
        "summary": "List Country Borders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/list-country-borders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "borders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cca3": {
                            "type": "string"
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "common": {
                                "type": "string"
                              },
                              "official": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rESTCountries/latest/actions/list-country-calling-codes": {
      "get": {
        "operationId": "rESTCountries.list-country-calling-codes",
        "summary": "List Country Calling Codes",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rESTCountries/latest/actions/list-country-calling-codes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idd": {
                            "type": "object",
                            "properties": {
                              "root": {
                                "type": "string"
                              },
                              "suffixes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "name": {
                            "type": "object",
[...]
