{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PIMMS Universal API",
    "version": "0.0.6",
    "description": "Create deep links and track conversions, analytics, and referrals"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pIMMS/latest/actions/create-link": {
      "post": {
        "operationId": "pIMMS.create-link",
        "summary": "Create Link",
        "description": "Creates a new deep link in PIMMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/create-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Destination URL the deep link redirects to. Supports standard webpages and in-app routing for mobile apps."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Custom domain for your branded deep link. Defaults to the workspace’s primary domain or 'pim.ms'."
                  },
                  "key": {
                    "type": "string",
                    "description": "Custom slug for the short URL. If omitted, an automatic 7-character key is generated."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External identifier for syncing link data with your internal CRM or analytics tools. Passed in query parameters prefixed by 'ext_'."
                  },
                  "prefix": {
                    "type": "string",
                    "description": "Custom URL path prefix for grouping auto-generated slugs (e.g., '/promo/' resulting in '/promo/abc123'). Ignored if 'key' is specified."
                  },
                  "trackConversion": {
                    "type": "boolean",
                    "description": "Enable detailed conversion tracking to attribute actions like signups or purchases directly to this link."
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Archive the link to hide it from primary analytics while keeping it active for redirects."
                  },
                  "tagIds": {
                    "type": "string",
                    "description": "List of existing tag IDs to categorize and filter links by campaigns, audiences, or purposes."
                  },
                  "tagNames": {
                    "type": "string",
                    "description": "New or existing tag names to assign for improved readability and organization."
                  },
                  "comments": {
                    "type": "string",
                    "description": "Internal notes for team members about link context, purpose, or specific campaign details."
                  },
                  "expiresAt": {
                    "type": "string",
                    "description": "ISO 8601 timestamp when the link should stop redirecting users."
                  },
                  "expiredUrl": {
                    "type": "string",
                    "description": "Fallback destination URL after link expiration, preventing broken user experiences."
                  },
                  "title": {
                    "type": "string",
                    "description": "Custom Open Graph (OG) title to optimize social media sharing and improve link previews."
                  },
                  "description": {
                    "type": "string",
                    "description": "Custom Open Graph description for better engagement when shared on social platforms."
                  },
                  "image": {
                    "type": "string",
                    "description": "URL for a custom OG image to enhance visual appeal and click-through rates on social media."
                  },
                  "video": {
                    "type": "string",
                    "description": "Custom video URL for rich media previews via Open Graph when sharing links."
                  },
                  "ios": {
                    "type": "string",
                    "description": "The iOS destination URL for the short link for iOS device targeting."
                  },
                  "android": {
                    "type": "string",
                    "description": "The Android destination URL for the short link for Android device targeting."
                  },
                  "doIndex": {
                    "type": "boolean",
                    "description": "Allow search engine indexing of the deep link. Defaults to false for privacy."
                  },
                  "utmSource": {
                    "type": "string",
                    "description": "UTM source parameter for tracking the origin of traffic (e.g., 'linkedin', 'facebook', 'newsletter')."
                  },
                  "utmMedium": {
                    "type": "string",
                    "description": "UTM medium parameter identifying traffic medium such as 'post', 'email', 'social', or 'cpc'."
                  },
                  "utmCampaign": {
                    "type": "string",
                    "description": "UTM campaign parameter for tracking specific marketing initiatives or promotions."
                  },
                  "utmTerm": {
                    "type": "string",
                    "description": "UTM term parameter for keyword analysis, often used in paid search campaigns."
                  },
                  "utmContent": {
                    "type": "string",
                    "description": "UTM content parameter distinguishing different content variations or link placements within a campaign."
                  },
                  "ref": {
                    "type": "string",
                    "description": "Custom referral parameter appended as '?ref=' for downstream attribution and analysis."
                  },
                  "webhookIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook IDs to trigger real-time notifications upon link clicks, ideal for integrating with analytics or marketing automation tools."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "android": {
                            "type": "string",
                            "description": "The Android destination URL for the short link for Android device targeting."
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Determines if the link is archived, thus excluded from standard analytics views."
                          },
                          "clicks": {
                            "type": "number",
                            "description": "Total click count tracking user engagements."
                          },
                          "comments": {
                            "type": "string",
                            "description": "Internal team notes describing the context, strategy, or use of the link."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the link was first created."
                          },
                          "description": {
                            "type": "string",
                            "description": "OG description for enhanced social previews, either automatically fetched or manually customized."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain used for the deep link, e.g., 'yourbrand.com' or 'pim.ms'."
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp in ISO 8601 format; after this, the link redirects to an expired URL or returns a 404."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique internal identifier for the deep link."
                          },
                          "image": {
                            "type": "string",
                            "description": "URL to the OG image displayed in social previews, improving shareability."
                          },
                          "ios": {
                            "type": "string",
                            "description": "The iOS destination URL for the short link for iOS device targeting."
                          },
                          "key": {
                            "type": "string",
                            "description": "Short URL slug appended after the domain, uniquely identifying the link."
                          },
                          "lastClicked": {
                            "type": "string",
                            "description": "Timestamp of the most recent click event."
                          },
                          "leads": {
                            "type": "number",
                            "description": "Total conversions attributed directly to this link."
                          },
                          "qrCode": {
                            "type": "string",
                            "description": "Direct link to the dynamically generated QR code for offline or print campaigns."
                          },
                          "shortLink": {
                            "type": "string",
                            "description": "Fully constructed deep link URL including domain and protocol."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Associated tags for organizing links by campaigns, audiences, or other criteria."
                          },
                          "title": {
                            "type": "string",
                            "description": "OG title for optimized social media link previews, fetched or set manually."
                          },
                          "trackConversion": {
                            "type": "boolean",
                            "description": "Indicates whether this link actively tracks conversion events like leads or sales."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the link was last modified."
                          },
                          "url": {
                            "type": "string",
                            "description": "Complete original destination URL or mobile app route to which the link redirects users."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Identifier of the user who created the link."
                          },
                          "utm_campaign": {
                            "type": "string",
                            "description": "Assigned UTM campaign for detailed campaign-level tracking."
                          },
                          "utm_content": {
                            "type": "string",
                            "description": "Assigned UTM content for distinguishing content variations within the same campaign."
                          },
                          "utm_medium": {
                            "type": "string",
                            "description": "Assigned UTM medium for categorizing the traffic source."
                          },
                          "utm_source": {
                            "type": "string",
                            "description": "Assigned UTM source parameter for tracking marketing origins."
                          },
                          "utm_term": {
                            "type": "string",
                            "description": "Assigned UTM term parameter used for keyword or search tracking."
                          },
                          "video": {
                            "type": "string",
                            "description": "Optional video URL used in rich media previews via Open Graph."
                          },
                          "webhookIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Webhooks triggered on each click event for real-time tracking and integration purposes."
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "Identifier of the workspace that the link belongs to."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pIMMS/latest/actions/create-referrals-embed-token": {
      "post": {
        "operationId": "pIMMS.create-referrals-embed-token",
        "summary": "Create Referrals Embed Token",
        "description": "Creates a new referrals embed token in PIMMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/create-referrals-embed-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "programId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "programId": {
                    "type": "string",
                    "description": "Referral program ID used to create the embed token."
                  },
                  "partnerId": {
                    "type": "string"
                  },
                  "tenantId": {
                    "type": "string"
                  },
                  "partner": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "publicToken": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pIMMS/latest/actions/retrieve-analytics": {
      "get": {
        "operationId": "pIMMS.retrieve-analytics",
        "summary": "Retrieve Analytics",
        "description": "Retrieves filtered analytics metrics from PIMMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/retrieve-analytics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "description": "The type of event to retrieve analytics for. Defaults to `clicks`.",
            "schema": {
              "type": "string",
              "description": "The type of event to retrieve analytics for. Defaults to `clicks`."
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": false,
            "description": "The parameter to group the analytics data points by. Defaults to `count` if undefined.",
            "schema": {
              "type": "string",
              "description": "The parameter to group the analytics data points by. Defaults to `count` if undefined."
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "The domain to filter analytics for.",
            "schema": {
              "type": "string",
              "description": "The domain to filter analytics for."
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "The short link slug.",
            "schema": {
              "type": "string",
              "description": "The short link slug."
            }
          },
          {
            "name": "linkId",
            "in": "query",
            "required": false,
            "description": "The unique ID of the short link on PiMMs.",
            "schema": {
              "type": "string",
              "description": "The unique ID of the short link on PiMMs."
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "description": "This is the ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter.",
            "schema": {
              "type": "string",
              "description": "This is the ID of the link in the your database. Must be prefixed with 'ext_' when passed as a query parameter."
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "description": "The ID of the tenant that created the link inside your system.",
            "schema": {
              "type": "string",
              "description": "The ID of the tenant that created the link inside your system."
            }
          },
          {
            "name": "programId",
            "in": "query",
            "required": false,
            "description": "The ID of the program to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The ID of the program to retrieve analytics for."
            }
          },
          {
            "name": "partnerId",
            "in": "query",
            "required": false,
            "description": "The ID of the partner to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The ID of the partner to retrieve analytics for."
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "The interval to retrieve analytics for. If undefined, defaults to 24h.",
            "schema": {
              "type": "string",
              "description": "The interval to retrieve analytics for. If undefined, defaults to 24h."
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start date and time when to retrieve analytics from. Takes precedence over `interval`.",
            "schema": {
              "type": "string",
              "description": "The start date and time when to retrieve analytics from. Takes precedence over `interval`."
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end date and time when to retrieve analytics from. If not provided, defaults to the current date. Takes precedence over `interval`.",
            "schema": {
              "type": "string",
              "description": "The end date and time when to retrieve analytics from. If not provided, defaults to the current date. Takes precedence over `interval`."
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC.",
            "schema": {
              "type": "string",
              "description": "The IANA time zone code for aligning timeseries granularity (e.g. America/New_York). Defaults to UTC."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "The country to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The country to retrieve analytics for."
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "The city to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The city to retrieve analytics for."
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "The ISO 3166-2 region code to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The ISO 3166-2 region code to retrieve analytics for."
            }
          },
          {
            "name": "continent",
            "in": "query",
            "required": false,
            "description": "The continent to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The continent to retrieve analytics for."
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "description": "The device to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The device to retrieve analytics for."
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "The browser to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The browser to retrieve analytics for."
            }
          },
          {
            "name": "os",
            "in": "query",
            "required": false,
            "description": "The OS to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The OS to retrieve analytics for."
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "required": false,
            "description": "The trigger to retrieve analytics for. If undefined, return both QR and link clicks.",
            "schema": {
              "type": "string",
              "description": "The trigger to retrieve analytics for. If undefined, return both QR and link clicks."
            }
          },
          {
            "name": "referer",
            "in": "query",
            "required": false,
            "description": "The referer to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The referer to retrieve analytics for."
            }
          },
          {
            "name": "refererUrl",
            "in": "query",
            "required": false,
            "description": "The full referer URL to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The full referer URL to retrieve analytics for."
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "The URL to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The URL to retrieve analytics for."
            }
          },
          {
            "name": "tagId",
            "in": "query",
            "required": false,
            "description": "Deprecated. Use `tagIds` instead. The tag ID to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "Deprecated. Use `tagIds` instead. The tag ID to retrieve analytics for."
            }
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "description": "The tag IDs to retrieve analytics for.",
            "schema": {
              "type": "string",
              "description": "The tag IDs to retrieve analytics for."
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": false,
            "description": "The folder ID to retrieve analytics for. If not provided, return analytics for unsorted links.",
            "schema": {
              "type": "string",
              "description": "The folder ID to retrieve analytics for. If not provided, return analytics for unsorted links."
            }
          },
          {
            "name": "qr",
            "in": "query",
            "required": false,
            "description": "Deprecated. Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both.",
            "schema": {
              "type": "boolean",
              "description": "Deprecated. Use the `trigger` field instead. Filter for QR code scans. If true, filter for QR codes only. If false, filter for links only. If undefined, return both."
            }
          },
          {
            "name": "root",
            "in": "query",
            "required": false,
            "description": "Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both.",
            "schema": {
              "type": "boolean",
              "description": "Filter for root domains. If true, filter for domains only. If false, filter for links only. If undefined, return both."
            }
          },
          {
            "name": "utmSource",
            "in": "query",
            "required": false,
            "description": "The UTM source of the short link.",
            "schema": {
              "type": "string",
              "description": "The UTM source of the short link."
            }
          },
          {
            "name": "utmMedium",
            "in": "query",
            "required": false,
            "description": "The UTM medium of the short link.",
            "schema": {
              "type": "string",
              "description": "The UTM medium of the short link."
            }
          },
          {
            "name": "utmCampaign",
            "in": "query",
            "required": false,
            "description": "The UTM campaign of the short link.",
            "schema": {
              "type": "string",
              "description": "The UTM campaign of the short link."
            }
          },
          {
            "name": "utmTerm",
            "in": "query",
            "required": false,
            "description": "The UTM term of the short link.",
            "schema": {
              "type": "string",
              "description": "The UTM term of the short link."
            }
          },
          {
            "name": "utmContent",
            "in": "query",
            "required": false,
            "description": "The UTM content of the short link.",
            "schema": {
              "type": "string",
              "description": "The UTM content of the short link."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicks": {
                            "type": "number",
                            "description": "Total click count for the filtered analytics window."
                          },
                          "leads": {
                            "type": "number",
                            "description": "Total attributed lead conversions for the filtered analytics window."
                          },
                          "saleAmount": {
                            "type": "number",
                            "description": "Total attributed sale amount for the filtered analytics window."
                          },
                          "sales": {
                            "type": "number",
                            "description": "Total attributed sales conversions for the filtered analytics window."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pIMMS/latest/actions/retrieve-qr-code": {
      "get": {
        "operationId": "pIMMS.retrieve-qr-code",
        "summary": "Retrieve QR Code",
        "description": "Retrieves a QR code image from PIMMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/retrieve-qr-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL to generate a QR code for.",
            "schema": {
              "type": "string",
              "description": "The URL to generate a QR code for."
            }
          },
          {
            "name": "logo",
            "in": "query",
            "required": false,
            "description": "The logo to include in the QR code. Can only be used with a paid plan on PiMMs",
            "schema": {
              "type": "string",
              "description": "The logo to include in the QR code. Can only be used with a paid plan on PiMMs"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The size of the QR code in pixels. Defaults to `600` if not provided.",
            "schema": {
              "type": "number",
              "description": "The size of the QR code in pixels. Defaults to `600` if not provided."
            }
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "description": "The level of error correction to use for the QR code. Defaults to `L` if not provided.",
            "schema": {
              "type": "string",
              "description": "The level of error correction to use for the QR code. Defaults to `L` if not provided."
            }
          },
          {
            "name": "fgColor",
            "in": "query",
            "required": false,
            "description": "The foreground color of the QR code in hex format. Defaults to `#000000` if not provided.",
            "schema": {
              "type": "string",
              "description": "The foreground color of the QR code in hex format. Defaults to `#000000` if not provided."
            }
          },
          {
            "name": "bgColor",
            "in": "query",
            "required": false,
            "description": "The background color of the QR code in hex format. Defaults to `#ffffff` if not provided.",
            "schema": {
              "type": "string",
              "description": "The background color of the QR code in hex format. Defaults to `#ffffff` if not provided."
            }
          },
          {
            "name": "hideLogo",
            "in": "query",
            "required": false,
            "description": "Whether to hide the logo in the QR code. Can only be used with a paid plan on PiMMs.",
            "schema": {
              "type": "boolean",
              "description": "Whether to hide the logo in the QR code. Can only be used with a paid plan on PiMMs."
            }
          },
          {
            "name": "margin",
            "in": "query",
            "required": false,
            "description": "The size of the margin around the QR code. Defaults to 2 if not provided.",
            "schema": {
              "type": "number",
              "description": "The size of the margin around the QR code. Defaults to 2 if not provided."
            }
          },
          {
            "name": "includeMargin",
            "in": "query",
            "required": false,
            "description": "DEPRECATED: Margin is included by default. Use the `margin` prop to customize the margin size.",
            "schema": {
              "type": "boolean",
              "description": "DEPRECATED: Margin is included by default. Use the `margin` prop to customize the margin size."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Raw PNG bytes surfaced as an array of numbers."
                          },
                          "type": {
                            "type": "string",
                            "description": "Node-style buffer discriminator returned for the raw PNG response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pIMMS/latest/actions/track-lead": {
      "post": {
        "operationId": "pIMMS.track-lead",
        "summary": "Track Lead",
        "description": "Creates a new tracked lead event in PIMMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/track-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clickId",
                  "eventName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clickId": {
                    "type": "string",
                    "description": "Unique identifier for the click event in PIMMS, typically retrieved from the 'pimms_id' browser cookie for accurate attribution."
                  },
                  "eventName": {
                    "type": "string",
                    "description": "Name of the specific lead or conversion event you want to track (e.g., 'Sign up', 'Free Trial Registration')."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "A unique identifier from your internal system (such as user ID) to link customer journeys across platforms."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Optional customer name, useful for personalized reporting and CRM integrations."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address to enhance CRM synchronization and facilitate personalized marketing efforts."
                  },
                  "customerAvatar": {
                    "type": "string",
                    "description": "URL to the customer's avatar image, used for richer user profiles in integrated CRM or analytics platforms."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional structured data or context about the lead event, aiding advanced segmentation and reporting."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "click": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pIMMS/latest/actions/track-sale": {
      "post": {
        "operationId": "pIMMS.track-sale",
        "summary": "Track Sale",
        "description": "Creates a new tracked sale event in PIMMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/track-sale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "paymentProcessor"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "This is the unique identifier for the customer in the client's app. This is used to track the customer's journey."
                  },
                  "amount": {
                    "type": "number",
                    "description": "The amount of the sale. Should be passed in cents."
                  },
                  "paymentProcessor": {
                    "type": "string",
                    "description": "The payment processor via which the sale was made."
                  },
                  "eventName": {
                    "type": "string",
                    "description": "The name of the sale event. It can be used to track different types of event for example 'Purchase', 'Upgrade', 'Payment', etc."
                  },
                  "invoiceId": {
                    "type": "string",
                    "description": "The invoice ID of the sale."
                  },
                  "currency": {
                    "type": "string",
                    "description": "The currency of the sale. Accepts ISO 4217 currency codes."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Additional metadata to be stored with the sale event."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "eventName": {
                            "type": "string"
                          },
                          "sale": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pIMMS/latest/actions/upsert-link": {
      "put": {
        "operationId": "pIMMS.upsert-link",
        "summary": "Upsert Link",
        "description": "Updates an existing deep link in PIMMS, or creates one.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pIMMS/latest/actions/upsert-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "Destination URL the deep link redirects to. Supports standard webpages and in-app routing for mobile apps."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Custom domain for your branded deep link. Defaults to the workspace’s primary domain or 'pim.ms'."
                  },
                  "key": {
                    "type": "string",
                    "description": "Custom slug for the short URL. If omitted, an automatic 7-character key is generated."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External identifier for syncing link data with your internal CRM or analytics tools. Passed in query parameters prefixed by 'ext_'."
                  },
                  "prefix": {
                    "type": "string",
                    "description": "Custom URL path prefix for grouping auto-generated slugs (e.g., '/promo/' resulting in '/promo/abc123'). Ignored if 'key' is specified."
                  },
                  "trackConversion": {
                    "type": "boolean",
                    "description": "Enable detailed conversion tracking to attribute actions like signups or purchases directly to this link."
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Archive the link to hide it from primary analytics while keeping it active for redirects."
                  },
                  "tagIds": {
                    "type": "string",
                    "description": "List of existing tag IDs to categorize and filter links by campaigns, audiences, or purposes."
                  },
                  "tagNames": {
                    "type": "string",
                    "description": "New or existing tag names to assign for improved readability and organization."
                  },
                  "comments": {
                    "type": "string",
                    "description": "Internal notes for team members about link context, purpose, or specific campaign details."
                  },
                  "expiresAt": {
                    "type": "string",
                    "description": "ISO 8601 timestamp when the link should stop redirecting users."
                  },
                  "expiredUrl": {
                    "type": "string",
                    "description": "Fallback destination URL after link expiration, preventing broken user experiences."
                  },
                  "title": {
                    "type": "string",
                    "description": "Custom Open Graph (OG) title to optimize social media sharing and improve link previews."
                  },
                  "description": {
                    "type": "string",
                    "description": "Custom Open Graph description for better engagement when shared on social platforms."
                  },
                  "image": {
                    "type": "string",
                    "description": "URL for a custom OG image to enhance visual appeal and click-through rates on social media."
                  },
                  "video": {
                    "type": "string",
                    "description": "Custom video URL for rich media previews via Open Graph when sharing links."
                  },
                  "ios": {
                    "type": "string",
                    "description": "The iOS destination URL for the short link for iOS device targeting."
                  },
                  "android": {
                    "type": "string",
                    "description": "The Android destination URL for the short link for Android device targeting."
                  },
                  "doIndex": {
                    "type": "boolean",
                    "description": "Allow search engine indexing of the deep link. Defaults to false for privacy."
                  },
                  "utmSource": {
                    "type": "string",
                    "description": "UTM source parameter for tracking the origin of traffic (e.g., 'linkedin', 'facebook', 'newsletter')."
                  },
                  "utmMedium": {
                    "type": "string",
                    "description": "UTM medium parameter identifying traffic medium such as 'post', 'email', 'social', or 'cpc'."
                  },
                  "utmCampaign": {
                    "type": "string",
                    "description": "UTM campaign parameter for tracking specific marketing initiatives or promotions."
                  },
                  "utmTerm": {
                    "type": "string",
                    "description": "UTM term parameter for keyword analysis, often used in paid search campaigns."
                  },
                  "utmContent": {
                    "type": "string",
                    "description": "UTM content parameter distinguishing different content variations or link placements within a campaign."
                  },
                  "ref": {
                    "type": "string",
                    "description": "Custom referral parameter appended as '?ref=' for downstream attribution and analysis."
                  },
                  "webhookIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook IDs to trigger real-time notifications upon link clicks, ideal for integrating with analytics or marketing automation tools."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "android": {
                            "type": "string",
                            "description": "The Android destination URL for the short link for Android device targeting."
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Determines if the link is archived, thus excluded from standard analytics views."
                          },
                          "clicks": {
                            "type": "number",
                            "description": "Total click count tracking user engagements."
                          },
                          "comments": {
                            "type": "string",
                            "description": "Internal team notes describing the context, strategy, or use of the link."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the link was first created."
                          },
                          "description": {
                            "type": "string",
                            "description": "OG description for enhanced social previews, either automatically fetched or manually customized."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain used for the deep link, e.g., 'yourbrand.com' or 'pim.ms'."
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Expiration timestamp in ISO 8601 format; after this, the link redirects to an expired URL or returns a 404."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique internal identifier for the deep link."
                          },
                          "image": {
                            "type": "string",
                            "description": "URL to the OG image displayed in social previews, improving shareability."
                          },
                          "ios": {
                            "type": "string",
                            "description": "The iOS destination URL for the short link for iOS device targeting."
                          },
                          "key": {
                            "type": "string",
                            "description": "Short URL slug appended after the domain, uniquely identifying the link."
                          },
                          "lastClicked": {
                            "type": "string",
                            "description": "Timestamp of the most recent click event."
                          },
                          "leads": {
                            "type": "number",
                            "description": "Total conversions attributed directly to this link."
                          },
                          "qrCode": {
                            "type": "string",
                            "description": "Direct link to the dynamically generated QR code for offline or print campaigns."
                          },
                          "shortLink": {
                            "type": "string",
                            "description": "Fully constructed deep link URL including domain and protocol."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Associated tags for organizing links by campaigns, audiences, or other criteria."
                          },
                          "title": {
                            "type": "string",
                            "description": "OG title for optimized social media link previews, fetched or set manually."
                          },
                          "trackConversion": {
                            "type": "boolean",
                            "description": "Indicates whether this link actively tracks conversion events like leads or sales."
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the link was last modified."
                          },
                          "url": {
                            "type": "string",
                            "description": "Complete original destination URL or mobile app route to which the link redirects users."
                          },
                          "userId": {
                            "type": "string",
                            "description": "Identifier of the user who created the link."
                          },
                          "utm_campaign": {
                            "type": "string",
                            "description": "Assigned UTM campaign for detailed campaign-level tracking."
                          },
                          "utm_content": {
                            "type": "string",
                            "description": "Assigned UTM content for distinguishing content variations within the same campaign."
                          },
                          "utm_medium": {
                            "type": "string",
                            "description": "Assigned UTM medium for categorizing the traffic source."
                          },
                          "utm_source": {
                            "type": "string",
                            "description": "Assigned UTM source parameter for tracking marketing origins."
                          },
                          "utm_term": {
                            "type": "string",
                            "description": "Assigned UTM term parameter used for keyword or search tracking."
                          },
                          "video": {
                            "type": "string",
                            "description": "Optional video URL used in rich media previews via Open Graph."
                          },
                          "webhookIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Webhooks triggered on each click event for real-time tracking and integration purposes."
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "Identifier of the workspace that the link belongs to."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
