{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DateX Universal API",
    "version": "0.0.2",
    "description": "DateX connects to Wavelength/SKU warehouse and fulfillment APIs for read-only operational data such as sales orders, shipments, inventory, materials, carriers, owners, and warehouses."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dateXNew/latest/actions/authorize": {
      "post": {
        "operationId": "dateXNew.authorize",
        "summary": "Authorize",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/authorize"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "string",
                    "description": "Azure client ID.",
                    "default": "{{credentials.clientId}}"
                  },
                  "clientSecret": {
                    "type": "string",
                    "description": "Azure client secret.",
                    "default": "{{credentials.clientSecret}}"
                  },
                  "grantType": {
                    "type": "string",
                    "description": "OAuth grant type.",
                    "default": "client_credentials"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Azure token scope.",
                    "default": "{{credentials.scope}}"
                  },
                  "url": {
                    "type": "string",
                    "description": "Token URL.",
                    "default": "{{credentials.tokenUrl}}"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessToken": {
                            "type": "string"
                          },
                          "expiresIn": {
                            "type": "number"
                          },
                          "extExpiresIn": {
                            "type": "number"
                          },
                          "tokenType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/create-sales-order-lines": {
      "post": {
        "operationId": "dateXNew.create-sales-order-lines",
        "summary": "Create Sales Order Lines",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/create-sales-order-lines"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderLines[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderLines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of sales order line objects to create, matching the documented order_lines schema."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grossWeight": {
                            "type": "number"
                          },
                          "licensePlate": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "number"
                          },
                          "lot": {
                            "type": "string"
                          },
                          "material": {
                            "type": "string"
                          },
                          "netWeight": {
                            "type": "number"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "packagedAmount": {
                            "type": "number"
                          },
                          "packaging": {
                            "type": "string"
                          },
                          "serialNumber": {
                            "type": "string"
                          },
                          "shipment": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "upc": {
                            "type": "string"
                          },
                          "vendorLot": {
                            "type": "string"
                          },
                          "weightUom": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/create-sales-orders": {
      "post": {
        "operationId": "dateXNew.create-sales-orders",
        "summary": "Create Sales Orders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/create-sales-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orders[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orders[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of sales order objects to create, matching the documented orders schema."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "string"
                          },
                          "carrierService": {
                            "type": "string"
                          },
                          "isBackOrdered": {
                            "type": "boolean"
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "orderClass": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "ownerReference": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "project": {
                            "type": "string"
                          },
                          "requestedDeliveryDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "vendorReference": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/delete-shipment-transmissions": {
      "delete": {
        "operationId": "dateXNew.delete-shipment-transmissions",
        "summary": "Delete Shipment Transmissions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/delete-shipment-transmissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipmentIds[]",
            "in": "query",
            "required": true,
            "description": "Shipment IDs whose transmissions should be deleted.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Shipment IDs whose transmissions should be deleted."
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "shipmentId": {
                            "type": "number"
                          },
                          "succeeded": {
                            "type": "boolean"
                          },
                          "transmissionsDeleted": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/echo-test": {
      "get": {
        "operationId": "dateXNew.echo-test",
        "summary": "Echo Test",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/echo-test"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Optional value to echo in the response.",
            "schema": {
              "type": "string",
              "description": "Optional value to echo in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "greeting": {
                            "type": "string",
                            "description": "Greeting returned by the echo endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-available-inventory": {
      "get": {
        "operationId": "dateXNew.list-available-inventory",
        "summary": "List Available Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-available-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouse",
            "in": "query",
            "required": true,
            "description": "Warehouse lookup/name to query inventory availability for.",
            "schema": {
              "type": "string",
              "description": "Warehouse lookup/name to query inventory availability for."
            }
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": true,
            "description": "Project filter. Required by the DateX API.",
            "schema": {
              "type": "string",
              "description": "Project filter. Required by the DateX API."
            }
          },
          {
            "name": "filters.owner",
            "in": "query",
            "required": false,
            "description": "Owner filter.",
            "schema": {
              "type": "string",
              "description": "Owner filter."
            }
          },
          {
            "name": "filters.material",
            "in": "query",
            "required": false,
            "description": "Material filter.",
            "schema": {
              "type": "string",
              "description": "Material filter."
            }
          },
          {
            "name": "filters.upc",
            "in": "query",
            "required": false,
            "description": "UPC filter.",
            "schema": {
              "type": "string",
              "description": "UPC filter."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availableBaseAmount": {
                            "type": "number"
                          },
                          "availablePackagedAmount": {
                            "type": "number"
                          },
                          "basePackaging": {
                            "type": "string"
                          },
                          "basePackagingAmount": {
                            "type": "number"
                          },
                          "inactiveBaseAmount": {
                            "type": "number"
                          },
                          "inactivePackagedAmount": {
                            "type": "number"
                          },
                          "material": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "packaging": {
                            "type": "string"
                          },
                          "project": {
                            "type": "string"
                          },
                          "softAllocatedBaseAmount": {
                            "type": "number"
                          },
                          "softAllocatedPackagedAmount": {
                            "type": "number"
                          },
                          "totalBaseAmount": {
                            "type": "number"
                          },
                          "totalPackagedAmount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-carriers": {
      "get": {
        "operationId": "dateXNew.list-carriers",
        "summary": "List Carriers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-carriers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.carrierName",
            "in": "query",
            "required": false,
            "description": "Filter carriers by full carrier name.",
            "schema": {
              "type": "string",
              "description": "Filter carriers by full carrier name."
            }
          },
          {
            "name": "filters.carrierShortName",
            "in": "query",
            "required": false,
            "description": "Filter carriers by short name.",
            "schema": {
              "type": "string",
              "description": "Filter carriers by short name."
            }
          },
          {
            "name": "filters.scac",
            "in": "query",
            "required": false,
            "description": "Filter carriers by SCAC code.",
            "schema": {
              "type": "string",
              "description": "Filter carriers by SCAC code."
            }
          },
          {
            "name": "filters.carrierId",
            "in": "query",
            "required": false,
            "description": "Filter carriers by numeric carrier ID.",
            "schema": {
              "type": "number",
              "description": "Filter carriers by numeric carrier ID."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrierId": {
                            "type": "number"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "scac": {
                            "type": "string"
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shortName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-inventory": {
      "get": {
        "operationId": "dateXNew.list-inventory",
        "summary": "List Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouse",
            "in": "query",
            "required": true,
            "description": "Warehouse lookup/name to query inventory for.",
            "schema": {
              "type": "string",
              "description": "Warehouse lookup/name to query inventory for."
            }
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": true,
            "description": "Project filter. Required by the DateX API.",
            "schema": {
              "type": "string",
              "description": "Project filter. Required by the DateX API."
            }
          },
          {
            "name": "filters.owner",
            "in": "query",
            "required": false,
            "description": "Owner filter.",
            "schema": {
              "type": "string",
              "description": "Owner filter."
            }
          },
          {
            "name": "filters.material",
            "in": "query",
            "required": false,
            "description": "Material filter.",
            "schema": {
              "type": "string",
              "description": "Material filter."
            }
          },
          {
            "name": "filters.lot",
            "in": "query",
            "required": false,
            "description": "Lot filter.",
            "schema": {
              "type": "string",
              "description": "Lot filter."
            }
          },
          {
            "name": "filters.vendorLot",
            "in": "query",
            "required": false,
            "description": "Vendor lot filter.",
            "schema": {
              "type": "string",
              "description": "Vendor lot filter."
            }
          },
          {
            "name": "filters.upc",
            "in": "query",
            "required": false,
            "description": "UPC filter.",
            "schema": {
              "type": "string",
              "description": "UPC filter."
            }
          },
          {
            "name": "outputWeightUom",
            "in": "query",
            "required": false,
            "description": "Optional output weight unit of measure.",
            "schema": {
              "type": "string",
              "description": "Optional output weight unit of measure."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isFixedWeight": {
                            "type": "boolean"
                          },
                          "licensePlate": {
                            "type": "string"
                          },
                          "lot": {
                            "type": "string"
                          },
                          "material": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "packagedAmount": {
                            "type": "number"
                          },
                          "packaging": {
                            "type": "string"
                          },
                          "packagingGrossWeight": {
                            "type": "number"
                          },
                          "packagingNetWeight": {
                            "type": "number"
                          },
                          "project": {
                            "type": "string"
                          },
                          "serialNumbers": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalGrossWeight": {
                            "type": "number"
                          },
                          "totalNetWeight": {
                            "type": "number"
                          },
                          "upc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorLot": {
                            "type": "string"
                          },
                          "weightUom": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-materials": {
      "get": {
        "operationId": "dateXNew.list-materials",
        "summary": "List Materials",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-materials"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.project[]",
            "in": "query",
            "required": true,
            "description": "Project filters. Required by the DateX API.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Project filters. Required by the DateX API."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.owner[]",
            "in": "query",
            "required": false,
            "description": "Owner filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.lookup[]",
            "in": "query",
            "required": false,
            "description": "Material lookup filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Material lookup filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.status[]",
            "in": "query",
            "required": false,
            "description": "Material status filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Material status filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.globalMaterialName[]",
            "in": "query",
            "required": false,
            "description": "Global material name filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Global material name filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.materialName[]",
            "in": "query",
            "required": false,
            "description": "Material name filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Material name filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.materialGroup[]",
            "in": "query",
            "required": false,
            "description": "Material group filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Material group filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.materialId[]",
            "in": "query",
            "required": false,
            "description": "Material ID filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Material ID filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "isFixedWeight": {
                            "type": "boolean"
                          },
                          "isLotControlled": {
                            "type": "boolean"
                          },
                          "isSerialControlled": {
                            "type": "boolean"
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "materialGroup": {
                            "type": "string"
                          },
                          "materialId": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "packagings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "project": {
                            "type": "string"
                          },
                          "shelfLife": {
                            "type": "number"
                          },
                          "standardCost": {
                            "type": "number"
                          },
                          "standardPrice": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "storageCategory": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-owners": {
      "get": {
        "operationId": "dateXNew.list-owners",
        "summary": "List Owners",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-owners"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.lookups[]",
            "in": "query",
            "required": false,
            "description": "Owner lookup filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner lookup filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.names[]",
            "in": "query",
            "required": false,
            "description": "Owner name filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner name filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.statuses[]",
            "in": "query",
            "required": false,
            "description": "Owner status filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Owner status filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project.lookups[]",
            "in": "query",
            "required": false,
            "description": "Project lookup filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Project lookup filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project.names[]",
            "in": "query",
            "required": false,
            "description": "Project name filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Project name filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project.statuses[]",
            "in": "query",
            "required": false,
            "description": "Project status filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Project status filters."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "projects": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-sales-orders": {
      "get": {
        "operationId": "dateXNew.list-sales-orders",
        "summary": "List Sales Orders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-sales-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.owner",
            "in": "query",
            "required": false,
            "description": "Owner filter.",
            "schema": {
              "type": "string",
              "description": "Owner filter."
            }
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": false,
            "description": "Project filter.",
            "schema": {
              "type": "string",
              "description": "Project filter."
            }
          },
          {
            "name": "filters.warehouse",
            "in": "query",
            "required": false,
            "description": "Warehouse filter.",
            "schema": {
              "type": "string",
              "description": "Warehouse filter."
            }
          },
          {
            "name": "filters.status",
            "in": "query",
            "required": false,
            "description": "Status filter.",
            "schema": {
              "type": "string",
              "description": "Status filter."
            }
          },
          {
            "name": "filters.lookup",
            "in": "query",
            "required": false,
            "description": "Sales order lookup filter.",
            "schema": {
              "type": "string",
              "description": "Sales order lookup filter."
            }
          },
          {
            "name": "filters.orderId",
            "in": "query",
            "required": false,
            "description": "Numeric order ID filter.",
            "schema": {
              "type": "number",
              "description": "Numeric order ID filter."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "carrier": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "fulfilledOn": {
                            "type": "string"
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "orderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "owner": {
                            "type": "string"
                          },
                          "project": {
                            "type": "string"
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateXNew/latest/actions/list-sales-shipments": {
      "get": {
        "operationId": "dateXNew.list-sales-shipments",
        "summary": "List Sales Shipments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateXNew/latest/actions/list-sales-shipments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.orderLookup",
            "in": "query",
            "required": false,
            "description": "Sales order lookup filter.",
            "schema": {
              "type": "string",
              "description": "Sales order lookup filter."
            }
          },
          {
            "name": "filters.lookup",
            "in": "query",
            "required": false,
            "description": "Shipment lookup filter.",
            "schema": {
              "type": "string",
              "description": "Shipment lookup filter."
            }
          },
          {
            "name": "filters.carrier",
            "in": "query",
            "required": false,
            "description": "Carrier filter.",
            "schema": {
              "type": "string",
              "description": "Carrier filter."
            }
          },
          {
            "name": "excludeTransmitted",
            "in": "query",
            "required": false,
            "description": "Exclude transmitted shipments.",
            "schema": {
              "type": "boolean",
              "description": "Exclude transmitted shipments."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "string"
                          },
                          "carrierService": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "orderLookup": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "project": {
                            "type": "string"
                          },
                          "shipmentId": {
                            "type": "number"
                          },
                          "shippedContents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shippedOn": {
                            "type": "string"
                          },
                          "shippingContainers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "trackingIdentifier": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
[...]
