{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "NeverBounce Universal API",
    "version": "0.0.4",
    "description": "Verify email addresses, manage jobs, and download validation results"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/neverBounce/latest/actions/create-job-from-remote-url": {
      "post": {
        "operationId": "neverBounce.create-job-from-remote-url",
        "summary": "Create Job From Remote URL",
        "description": "Creates a verification job in NeverBounce from a remote CSV URL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/create-job-from-remote-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "remoteUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "autoParse": {
                    "type": "boolean",
                    "description": "Parse the job automatically after creation."
                  },
                  "remoteUrl": {
                    "type": "string",
                    "description": "Remote CSV URL for NeverBounce to import."
                  },
                  "autoStart": {
                    "type": "boolean",
                    "description": "Start the job automatically after parsing completes."
                  },
                  "runSample": {
                    "type": "boolean",
                    "description": "Run the sample flow before processing the full job."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Filename to associate with the job."
                  },
                  "allowManualReview": {
                    "type": "boolean",
                    "description": "Allow NeverBounce manual review for this job."
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "Webhook URL NeverBounce should call after job events."
                  },
                  "callbackHeaders": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional headers to send with the callback request."
                  },
                  "leverageHistoricalData": {
                    "type": "number",
                    "description": "Set to 1 to enable NeverBounce historical-data leverage for this job."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "jobId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/create-job-from-supplied-data": {
      "post": {
        "operationId": "neverBounce.create-job-from-supplied-data",
        "summary": "Create Job From Supplied Data",
        "description": "Creates a verification job in NeverBounce from supplied rows.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/create-job-from-supplied-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "input[]",
                  "input[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "input[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Supplied rows to verify."
                  },
                  "input[].email": {
                    "type": "string",
                    "description": "Email address for the supplied row."
                  },
                  "input[].name": {
                    "type": "string",
                    "description": "Optional name or label to store with the supplied row."
                  },
                  "autoParse": {
                    "type": "boolean",
                    "description": "Parse the job immediately after creation."
                  },
                  "autoStart": {
                    "type": "boolean",
                    "description": "Start the job immediately after it is parsed."
                  },
                  "runSample": {
                    "type": "boolean",
                    "description": "Run the provider sample mode before processing the full job."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Display filename for the supplied job."
                  },
                  "allowManualReview": {
                    "type": "boolean",
                    "description": "Allow manual review for unresolved rows."
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "Webhook URL for job updates."
                  },
                  "callbackHeaders": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional headers to send with the callback request."
                  },
                  "leverageHistoricalData": {
                    "type": "number",
                    "description": "Set to 1 to enable NeverBounce historical-data leverage for this job."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "jobId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/delete-job": {
      "delete": {
        "operationId": "neverBounce.delete-job",
        "summary": "Delete Job",
        "description": "Deletes an existing verification job from NeverBounce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/delete-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "NeverBounce job identifier.",
            "schema": {
              "type": "number",
              "description": "NeverBounce job identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/download-job-results": {
      "get": {
        "operationId": "neverBounce.download-job-results",
        "summary": "Download Job Results",
        "description": "Retrieves downloadable job results from NeverBounce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/download-job-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "NeverBounce job identifier.",
            "schema": {
              "type": "number",
              "description": "NeverBounce job identifier."
            }
          },
          {
            "name": "includeValids",
            "in": "query",
            "required": false,
            "description": "Include valid rows in the downloaded CSV.",
            "schema": {
              "type": "boolean",
              "description": "Include valid rows in the downloaded CSV."
            }
          },
          {
            "name": "includeInvalids",
            "in": "query",
            "required": false,
            "description": "Include invalid rows in the downloaded CSV.",
            "schema": {
              "type": "boolean",
              "description": "Include invalid rows in the downloaded CSV."
            }
          },
          {
            "name": "includeCatchalls",
            "in": "query",
            "required": false,
            "description": "Include catchall rows in the downloaded CSV.",
            "schema": {
              "type": "boolean",
              "description": "Include catchall rows in the downloaded CSV."
            }
          },
          {
            "name": "includeUnknowns",
            "in": "query",
            "required": false,
            "description": "Include unknown rows in the downloaded CSV.",
            "schema": {
              "type": "boolean",
              "description": "Include unknown rows in the downloaded CSV."
            }
          },
          {
            "name": "includeDisposables",
            "in": "query",
            "required": false,
            "description": "Include disposable rows in the downloaded CSV.",
            "schema": {
              "type": "boolean",
              "description": "Include disposable rows in the downloaded CSV."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/get-account-info": {
      "get": {
        "operationId": "neverBounce.get-account-info",
        "summary": "Get Account Info",
        "description": "Retrieves account details and usage information from NeverBounce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/get-account-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creditsInfo": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "freeCreditsRemaining": {
                                "type": "number"
                              },
                              "freeCreditsUsed": {
                                "type": "number"
                              },
                              "paidCreditsRemaining": {
                                "type": "number"
                              },
                              "paidCreditsUsed": {
                                "type": "number"
                              }
                            }
                          },
                          "executionTime": {
                            "type": "number"
                          },
                          "jobCounts": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "completed": {
                                "type": "number"
                              },
                              "processing": {
                                "type": "number"
                              },
                              "queued": {
                                "type": "number"
                              },
                              "underReview": {
                                "type": "number"
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscriptionType": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/get-job-results": {
      "get": {
        "operationId": "neverBounce.get-job-results",
        "summary": "Get Job Results",
        "description": "Retrieves detailed job results from NeverBounce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/get-job-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "NeverBounce job identifier.",
            "schema": {
              "type": "number",
              "description": "NeverBounce job identifier."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Results page to retrieve.",
            "schema": {
              "type": "number",
              "description": "Results page to retrieve."
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of results to return per page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "catchalls": {
                                "type": "number"
                              },
                              "disposables": {
                                "type": "number"
                              },
                              "invalids": {
                                "type": "number"
                              },
                              "itemsPerPage": {
                                "type": "number"
                              },
                              "jobId": {
                                "type": "number"
                              },
                              "page": {
                                "type": "number"
                              },
                              "unknowns": {
                                "type": "number"
                              },
                              "valids": {
                                "type": "number"
                              }
                            }
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "email": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "verification": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "addressInfo": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "addr": {
                                          "type": "string"
                                        },
                                        "alias": {
                                          "type": "string"
                                        },
                                        "domain": {
                                          "type": "string"
                                        },
                                        "fqdn": {
                                          "type": "string"
                                        },
                                        "host": {
                                          "type": "string"
                                        },
                                        "normalizedEmail": {
                                          "type": "string"
                                        },
                                        "originalEmail": {
                                          "type": "string"
                                        },
                                        "subdomain": {
                                          "type": "string"
                                        },
                                        "tld": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "flags": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "result": {
                                      "type": "string"
                                    },
                                    "suggestedCorrection": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalPages": {
                            "type": "number"
                          },
                          "totalResults": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/get-job-status": {
      "get": {
        "operationId": "neverBounce.get-job-status",
        "summary": "Get Job Status",
        "description": "Retrieves the current status of a NeverBounce job.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/get-job-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "NeverBounce job identifier.",
            "schema": {
              "type": "number",
              "description": "NeverBounce job identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bounceEstimate": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "executionTime": {
                            "type": "number"
                          },
                          "failureReason": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "finishedAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "jobStatus": {
                            "type": "string"
                          },
                          "percentComplete": {
                            "type": "number"
                          },
                          "startedAt": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "total": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "badSyntax": {
                                "type": "number"
                              },
                              "billable": {
                                "type": "number"
                              },
                              "catchall": {
                                "type": "number"
                              },
                              "disposable": {
                                "type": "number"
                              },
                              "duplicates": {
                                "type": "number"
                              },
                              "invalid": {
                                "type": "number"
                              },
                              "processed": {
                                "type": "number"
                              },
                              "records": {
                                "type": "number"
                              },
                              "unknown": {
                                "type": "number"
                              },
                              "valid": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/parse-job": {
      "put": {
        "operationId": "neverBounce.parse-job",
        "summary": "Parse Job",
        "description": "Updates an existing NeverBounce job by parsing its uploaded data.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/parse-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "number",
                    "description": "NeverBounce job identifier."
                  },
                  "autoStart": {
                    "type": "boolean",
                    "description": "Start the job automatically after parsing completes."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "queueId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/search-jobs": {
      "get": {
        "operationId": "neverBounce.search-jobs",
        "summary": "Search Jobs",
        "description": "Finds NeverBounce jobs by filter criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/search-jobs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "NeverBounce job identifier.",
            "schema": {
              "type": "number",
              "description": "NeverBounce job identifier."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page to retrieve.",
            "schema": {
              "type": "number",
              "description": "Result page to retrieve."
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "required": false,
            "description": "Number of jobs to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of jobs to return per page."
            }
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "description": "Filter jobs by filename.",
            "schema": {
              "type": "string",
              "description": "Filter jobs by filename."
            }
          },
          {
            "name": "jobStatus",
            "in": "query",
            "required": false,
            "description": "Filter jobs by NeverBounce job status.",
            "schema": {
              "type": "string",
              "description": "Filter jobs by NeverBounce job status."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "itemsPerPage": {
                                "type": "number"
                              },
                              "jobId": {
                                "type": "number"
                              },
                              "page": {
                                "type": "number"
                              }
                            }
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "bounceEstimate": {
                                  "type": "number"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "filename": {
                                  "type": "string"
                                },
                                "finishedAt": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "jobStatus": {
                                  "type": "string"
                                },
                                "percentComplete": {
                                  "type": "number"
                                },
                                "startedAt": {
                                  "type": "string"
                                },
                                "total": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "badSyntax": {
                                      "type": "number"
                                    },
                                    "billable": {
                                      "type": "number"
                                    },
                                    "catchall": {
                                      "type": "number"
                                    },
                                    "disposable": {
                                      "type": "number"
                                    },
                                    "duplicates": {
                                      "type": "number"
                                    },
                                    "invalid": {
                                      "type": "number"
                                    },
                                    "processed": {
                                      "type": "number"
                                    },
                                    "records": {
                                      "type": "number"
                                    },
                                    "unknown": {
                                      "type": "number"
                                    },
                                    "valid": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "totalPages": {
                            "type": "number"
                          },
                          "totalResults": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/start-job": {
      "put": {
        "operationId": "neverBounce.start-job",
        "summary": "Start Job",
        "description": "Updates an existing NeverBounce job by starting verification.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/start-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "jobId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "jobId": {
                    "type": "number",
                    "description": "NeverBounce job identifier."
                  },
                  "runSample": {
                    "type": "boolean",
                    "description": "Run the sample flow before processing the full job."
                  },
                  "allowManualReview": {
                    "type": "boolean",
                    "description": "Allow NeverBounce manual review for this job run."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "queueId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/neverBounce/latest/actions/verify-email": {
      "get": {
        "operationId": "neverBounce.verify-email",
        "summary": "Verify Email",
        "description": "Verifies an email address in NeverBounce.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/neverBounce/latest/actions/verify-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to verify.",
            "schema": {
              "type": "string",
              "description": "Email address to verify."
            }
          },
          {
            "name": "addressInfo",
            "in": "query",
            "required": false,
            "description": "Include parsed address details in the verification response.",
            "schema": {
              "type": "boolean",
              "description": "Include parsed address details in the verification response."
            }
          },
          {
            "name": "creditsInfo",
            "in": "query",
            "required": false,
            "description": "Include credit usage details in the verification response.",
            "schema": {
              "type": "boolean",
              "description": "Include credit usage details in the verification response."
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Maximum verification time before returning an unknown result.",
            "schema": {
              "type": "number",
              "description": "Maximum verification time before returning an unknown result."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "executionTime": {
                            "type": "number"
                          },
                          "flags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "result": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "suggestedCorrection": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
