{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Bexio Universal API",
    "version": "0.0.7",
    "description": "Manage contacts, quotes, invoices, and accounting in Bexio"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bexio/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bexio/latest/actions/create-contact": {
      "post": {
        "operationId": "bexio.create-contact",
        "summary": "Create Contact",
        "description": "Creates a contact in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "contactTypeId",
                  "name1",
                  "userId",
                  "ownerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactTypeId": {
                    "type": "number",
                    "description": "Use 1 for companies or 2 for persons.",
                    "example": 1
                  },
                  "name1": {
                    "type": "string",
                    "description": "Company name when contact type is company, otherwise last name.",
                    "example": "Example Company"
                  },
                  "name2": {
                    "type": "string",
                    "description": "Company addition when contact type is company, otherwise first name.",
                    "example": "Operations"
                  },
                  "mail": {
                    "type": "string",
                    "description": "Primary email address.",
                    "example": "contact@example.org"
                  },
                  "phoneMobile": {
                    "type": "string",
                    "description": "Mobile phone number.",
                    "example": "+41 79 123 45 67"
                  },
                  "streetName": {
                    "type": "string",
                    "description": "Required if house number or address addition is provided.",
                    "example": "Smith Street"
                  },
                  "houseNumber": {
                    "type": "string",
                    "description": "Requires street name when provided.",
                    "example": "77"
                  },
                  "addressAddition": {
                    "type": "string",
                    "description": "Requires street name when provided.",
                    "example": "Building C",
                    "x-mindcloud-advanced": true
                  },
                  "postcode": {
                    "type": "string",
                    "description": "Postal code.",
                    "example": "8004"
                  },
                  "city": {
                    "type": "string",
                    "description": "City.",
                    "example": "Zurich"
                  },
                  "countryId": {
                    "type": "number",
                    "description": "References a country object.",
                    "example": 1
                  },
                  "userId": {
                    "type": "number",
                    "description": "References a user object.",
                    "example": 1
                  },
                  "ownerId": {
                    "type": "number",
                    "description": "Owner id.",
                    "example": 1
                  },
                  "nr": {
                    "type": "string",
                    "description": "If set to null, the number will be assigned automatically. Must be a number, can also be used as integer.",
                    "example": "10001",
                    "x-mindcloud-advanced": true
                  },
                  "salutationId": {
                    "type": "number",
                    "description": "References a salutation object.",
                    "example": 2,
                    "x-mindcloud-advanced": true
                  },
                  "salutationForm": {
                    "type": "number",
                    "description": "Salutation form value.",
                    "x-mindcloud-advanced": true
                  },
                  "titleId": {
                    "type": "number",
                    "description": "References a title object.",
                    "x-mindcloud-advanced": true
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Birthday date.",
                    "example": "1990-01-31",
                    "x-mindcloud-advanced": true
                  },
                  "mailSecond": {
                    "type": "string",
                    "description": "Secondary email address.",
                    "example": "billing@example.org",
                    "x-mindcloud-advanced": true
                  },
                  "phoneFixed": {
                    "type": "string",
                    "description": "Primary fixed phone number.",
                    "example": "+41 44 123 45 67",
                    "x-mindcloud-advanced": true
                  },
                  "phoneFixedSecond": {
                    "type": "string",
                    "description": "Secondary fixed phone number.",
                    "example": "+41 44 987 65 43",
                    "x-mindcloud-advanced": true
                  },
                  "fax": {
                    "type": "string",
                    "description": "Fax number.",
                    "example": "+41 44 123 45 68",
                    "x-mindcloud-advanced": true
                  },
                  "url": {
                    "type": "string",
                    "description": "Website URL.",
                    "example": "https://example.org",
                    "x-mindcloud-advanced": true
                  },
                  "skypeName": {
                    "type": "string",
                    "description": "Skype name.",
                    "example": "example.company",
                    "x-mindcloud-advanced": true
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Remarks.",
                    "example": "Important customer",
                    "x-mindcloud-advanced": true
                  },
                  "languageId": {
                    "type": "number",
                    "description": "References a language object.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "contactGroupIds": {
                    "type": "string",
                    "description": "References one or more contact group objects. Pass multiple values separated by `,`.",
                    "example": "1,2",
                    "x-mindcloud-advanced": true
                  },
                  "contactBranchIds": {
                    "type": "string",
                    "description": "References one or more contact sector objects. Pass multiple values separated by `,`.",
                    "example": "3,4",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "addressAddition": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "birthday": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "city": {
                            "type": "string"
                          },
                          "contactBranchIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactGroupIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contactTypeId": {
                            "type": "number"
                          },
                          "countryId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fax": {
                            "type": "string"
                          },
                          "houseNumber": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "isLead": {
                            "type": "boolean"
                          },
                          "languageId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mail": {
                            "type": "string"
                          },
                          "mailSecond": {
                            "type": "string"
                          },
                          "name1": {
                            "type": "string"
                          },
                          "name2": {
                            "type": "string"
                          },
                          "nr": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "number"
                          },
                          "phoneFixed": {
                            "type": "string"
                          },
                          "phoneFixedSecond": {
                            "type": "string"
                          },
                          "phoneMobile": {
                            "type": "string"
                          },
                          "postcode": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          },
                          "remarks": {
                            "type": "string"
                          },
                          "salutationForm": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "salutationId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "skypeName": {
                            "type": "string"
                          },
                          "streetName": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "titleId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bexio/latest/actions/create-expense": {
      "post": {
        "operationId": "bexio.create-expense",
        "summary": "Create Expense",
        "description": "Creates an expense in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "paidOn",
                  "currencyCode",
                  "amount",
                  "attachmentIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "paidOn": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date when the expense was paid."
                  },
                  "currencyCode": {
                    "type": "string"
                  },
                  "supplierId": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "bankAccountId": {
                    "type": "number"
                  },
                  "bookingAccountId": {
                    "type": "number"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "taxId": {
                    "type": "number"
                  },
                  "exchangeRate": {
                    "type": "number"
                  },
                  "baseCurrencyAmount": {
                    "type": "number"
                  },
                  "attachmentIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "amount": {
                            "type": "number"
                          },
                          "averageExchangeRateEnabled": {
                            "type": "boolean"
                          },
                          "bankAccountId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "baseCurrencyAmount": {
                            "type": "number"
                          },
                          "baseCurrencyCode": {
                            "type": "string"
                          },
                          "bookingAccountId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "documentNo": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "firstnameSuffix": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoiceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lastnameCompany": {
                            "type": "string"
                          },
                          "paidOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "supplierId": {
                            "type": "number"
                          },
                          "taxCalc": {
                            "type": "number"
                          },
                          "taxId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxMan": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "transactionId": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bexio/latest/actions/create-invoice": {
      "post": {
        "operationId": "bexio.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates an invoice in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "documentNr": {
                    "type": "string",
                    "description": "Can not be used if automatic numbering is activated in frontend settings. Required if automatic numbering is deactivated."
                  },
                  "positions[].amount": {
                    "type": "string",
                    "description": "Invoice position amount."
                  },
                  "positions[].text": {
                    "type": "string",
                    "description": "Invoice position text."
                  },
                  "positions[].type": {
                    "type": "string",
                    "description": "Invoice position type."
                  },
                  "positions[].unitPrice": {
                    "type": "string",
                    "description": "Invoice position unit price."
                  },
                  "title": {
                    "type": "string",
                    "description": "The invoice title."
                  },
                  "contactId": {
                    "type": "number",
                    "description": "References a contact object."
                  },
                  "contactSubId": {
                    "type": "number",
                    "description": "References a contact object."
                  },
                  "userId": {
                    "type": "number",
                    "description": "References a user object."
                  },
                  "prProjectId": {
                    "type": "number",
                    "description": "References a project object."
                  },
                  "logopaperId": {
                    "type": "number",
                    "description": "The logopaper ID."
                  },
                  "languageId": {
                    "type": "number",
                    "description": "References a language object."
                  },
                  "bankAccountId": {
                    "type": "number",
                    "description": "References a bank account object."
                  },
                  "currencyId": {
                    "type": "number",
                    "description": "References a currency object."
                  },
                  "paymentTypeId": {
                    "type": "number",
                    "description": "References a payment type object."
                  },
                  "header": {
                    "type": "string",
                    "description": "The invoice header text."
                  },
                  "footer": {
                    "type": "string",
                    "description": "The invoice footer text."
                  },
                  "mwstType": {
                    "type": "number",
                    "description": "Tax calculation mode for the invoice."
                  },
                  "mwstIsNet": {
                    "type": "boolean",
                    "description": "Whether taxes should be added to the total when mwst_type is 0."
                  },
                  "showPositionTaxes": {
                    "type": "boolean",
                    "description": "Whether to show taxes for each position."
                  },
                  "isValidFrom": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date from which the invoice is valid."
                  },
                  "isValidTo": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date until which the invoice is valid."
                  },
                  "contactAddressManual": {
                    "type": "string",
                    "description": "Use a custom invoice address instead of the contact invoice address."
                  },
                  "reference": {
                    "type": "string",
                    "description": "The invoice reference."
                  },
                  "apiReference": {
                    "type": "string",
                    "description": "Reference value for other systems."
                  },
                  "templateSlug": {
                    "type": "string",
                    "description": "References a document template slug."
                  },
                  "positions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Invoice positions payload."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiReference": {
                            "type": "string"
                          },
                          "bankAccountId": {
                            "type": "number"
                          },
                          "contactAddress": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "number"
                          },
                          "contactSubId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currencyId": {
                            "type": "number"
                          },
                          "documentNr": {
                            "type": "string"
                          },
                          "esrId": {
                            "type": "number"
                          },
                          "footer": {
                            "type": "string"
                          },
                          "header": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isValidFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "isValidTo": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "kbItemStatusId": {
                            "type": "number"
                          },
                          "languageId": {
                            "type": "number"
                          },
                          "logopaperId": {
                            "type": "number"
                          },
                          "mwstIsNet": {
                            "type": "boolean"
                          },
                          "mwstType": {
                            "type": "number"
                          },
                          "networkLink": {
                            "type": "string"
                          },
                          "paymentTypeId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "qrInvoiceId": {
                            "type": "number"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "showPositionTaxes": {
                            "type": "boolean"
                          },
                          "templateSlug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "totalCreditVouchers": {
                            "type": "string"
                          },
                          "totalGross": {
                            "type": "string"
                          },
                          "totalNet": {
                            "type": "string"
                          },
                          "totalReceivedPayments": {
                            "type": "string"
                          },
                          "totalRemainingPayments": {
                            "type": "string"
                          },
                          "totalRoundingDifference": {
                            "type": "number"
                          },
                          "totalTaxes": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "viewedByClientAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bexio/latest/actions/create-invoice-payment": {
      "post": {
        "operationId": "bexio.create-invoice-payment",
        "summary": "Create Invoice Payment",
        "description": "Creates an invoice payment in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-invoice-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "invoiceId",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "invoiceId": {
                    "type": "number",
                    "description": "The ID of the invoice."
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The payment date."
                  },
                  "value": {
                    "type": "string",
                    "description": "The payment value."
                  },
                  "bankAccountId": {
                    "type": "number",
                    "description": "References a bank account object."
                  },
                  "paymentServiceId": {
                    "type": "number",
                    "description": "References a payment service."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bankAccountId": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isCashDiscount": {
                            "type": "boolean"
                          },
                          "isClientAccountRedemption": {
                            "type": "boolean"
                          },
                          "kbBillId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "kbCreditVoucherId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "kbCreditVoucherText": {
                            "type": "string"
                          },
                          "kbInvoiceId": {
                            "type": "number"
                          },
                          "paymentServiceId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bexio/latest/actions/create-order": {
      "post": {
        "operationId": "bexio.create-order",
        "summary": "Create Order",
        "description": "Creates an order in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "number",
                    "description": "Contact ID.",
                    "example": 1
                  },
                  "userId": {
                    "type": "number",
                    "description": "User ID.",
                    "example": 1
                  },
                  "documentNr": {
                    "type": "string",
                    "description": "Order document number.",
                    "example": "SO-1001"
                  },
                  "title": {
                    "type": "string",
                    "description": "Order title.",
                    "example": "Consulting Order"
                  },
                  "positions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Order positions array."
                  },
                  "contactSubId": {
                    "type": "number",
                    "description": "Contact sub ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "prProjectId": {
                    "type": "number",
                    "description": "Project ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "logopaperId": {
                    "type": "number",
                    "description": "Logo paper ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "languageId": {
                    "type": "number",
                    "description": "Language ID.",
                    "example": 1
                  },
                  "bankAccountId": {
                    "type": "number",
                    "description": "Bank account ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "currencyId": {
                    "type": "number",
                    "description": "Currency ID.",
                    "example": 1
                  },
                  "paymentTypeId": {
                    "type": "number",
                    "description": "Payment type ID.",
                    "example": 1
                  },
                  "mwstType": {
                    "type": "string",
                    "description": "Tax type.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  },
                  "mwstIsNet": {
                    "type": "boolean",
                    "description": "Whether taxes are added to the total.",
                    "x-mindcloud-advanced": true
                  },
                  "showPositionTaxes": {
                    "type": "boolean",
                    "description": "Whether to show position taxes.",
                    "x-mindcloud-advanced": true
                  },
                  "isValidFrom": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Valid from date.",
                    "example": "2026-03-12"
                  },
                  "contactAddressManual": {
                    "type": "string",
                    "description": "Manual contact address.",
                    "example": "Acme AG\\nMain Street 1\\n8000 Zurich",
                    "x-mindcloud-advanced": true
                  },
                  "deliveryAddressType": {
                    "type": "string",
                    "description": "Delivery address type.",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "deliveryAddressManual": {
                    "type": "string",
                    "description": "Manual delivery address.",
                    "example": "Warehouse\\nDock 2\\n8000 Zurich",
                    "x-mindcloud-advanced": true
                  },
                  "header": {
                    "type": "string",
                    "description": "Header text.",
                    "example": "Thank you for your order"
                  },
                  "footer": {
                    "type": "string",
                    "description": "Footer text.",
                    "example": "We appreciate your business"
                  },
                  "templateSlug": {
                    "type": "string",
                    "description": "Document template slug.",
                    "example": "default",
                    "x-mindcloud-advanced": true
                  },
                  "apiReference": {
                    "type": "string",
                    "description": "API-only external reference.",
                    "example": "external-order-123",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiReference": {
                            "type": "string"
                          },
                          "bankAccountId": {
                            "type": "number"
                          },
                          "contactAddress": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "number"
                          },
                          "contactSubId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currencyId": {
                            "type": "number"
                          },
                          "deliveryAddress": {
                            "type": "string"
                          },
                          "deliveryAddressType": {
                            "type": "number"
                          },
                          "documentNr": {
                            "type": "string"
                          },
                          "footer": {
                            "type": "string"
                          },
                          "header": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isRecurring": {
                            "type": "boolean"
                          },
                          "isValidFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "kbItemStatusId": {
                            "type": "number"
                          },
                          "languageId": {
                            "type": "number"
                          },
                          "logopaperId": {
                            "type": "number"
                          },
                          "mwstIsNet": {
                            "type": "boolean"
                          },
                          "mwstType": {
                            "type": "number"
                          },
                          "networkLink": {
                            "type": "string"
                          },
                          "paymentTypeId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "showPositionTaxes": {
                            "type": "boolean"
                          },
                          "templateSlug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "total": {
                            "type": "string"
                          },
                          "totalGross": {
                            "type": "string"
                          },
                          "totalNet": {
                            "type": "string"
                          },
                          "totalRoundingDifference": {
                            "type": "number"
                          },
                          "totalTaxes": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "viewedByClientAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bexio/latest/actions/create-purchase-order": {
      "post": {
        "operationId": "bexio.create-purchase-order",
        "summary": "Create Purchase Order",
        "description": "Creates a purchase order in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "documentNr": {
                    "type": "string"
                  },
                  "kbPaymentTemplateId": {
                    "type": "number"
                  },
                  "paymentTypeId": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "contactId": {
                    "type": "number"
                  },
                  "contactSubId": {
                    "type": "number"
                  },
                  "templateSlug": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "number"
                  },
                  "projectId": {
                    "type": "number"
                  },
                  "logopaperId": {
                    "type": "number"
                  },
                  "languageId": {
                    "type": "number"
                  },
                  "bankAccountId": {
                    "type": "number"
                  },
                  "currencyId": {
                    "type": "number"
                  },
                  "header": {
                    "type": "string"
                  },
                  "footer": {
                    "type": "string"
                  },
                  "mwstType": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  },
                  "mwstIsNet": {
                    "type": "boolean"
                  },
                  "isCompactView": {
                    "type": "boolean"
                  },
                  "showPositionTaxes": {
                    "type": "boolean"
                  },
                  "salesmanUserId": {
                    "type": "number"
                  },
                  "isValidFrom": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "isValidTo": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deliveryAddressType": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "contactAddressManual": {
                    "type": "string"
                  },
                  "deliveryAddressManual": {
                    "type": "string"
                  },
                  "nbDecimalsAmount": {
                    "type": "number"
                  },
                  "nbDecimalsPrice": {
                    "type": "number"
                  },
                  "termsOfPaymentText": {
                    "type": "string"
                  },
                  "reference": {
                    "type": "string"
                  },
                  "apiReference": {
                    "type": "string"
                  },
                  "mail": {
                    "type": "string"
                  },
                  "positions": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiReference": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bankAccountId": {
                            "type": "number"
                          },
                          "contactAddressManual": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "number"
                          },
                          "contactSubId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currencyId": {
                            "type": "number"
                          },
                          "customTranslations": {
                            "type": "object",
                            "properties": {
                              "addedMwst": {
                                "type": "string"
                              },
                              "articleProductcode": {
                                "type": "string"
                              },
                              "cancelled": {
                                "type": "string"
                              },
                              "cashDiscount": {
                                "type": "string"
                              },
                              "colHeaderAccountStatementPrice": {
                                "type": "string"
                              },
                              "colHeaderAmount": {
                                "type": "string"
                              },
                              "colHeaderAmountDelivered": {
                                "type": "string"
                              },
                              "colHeaderAmountLeft": {
                                "type": "string"
                              },
                              "colHeaderAmountRequested": {
                                "type": "string"
                              },
                              "colHeaderDate": {
                                "type": "string"
                              },
                              "colHeaderDescription": {
                                "type": "string"
                              },
                              "colHeaderDiscount": {
                                "type": "string"
                              },
                              "colHeaderDocumentNr": {
                                "type": "string"
                              },
                              "colHeaderDue": {
                                "type": "string"
                              },
                              "colHeaderPickingSlipAmount": {
                                "type": "string"
                              },
                              "colHeaderPickingSlipRemarks": {
                                "type": "string"
                              },
                              "colHeaderPos": {
                                "type": "string"
                              },
                              "colHeaderPriceLeftForPayment": {
                                "type": "string"
                              },
                              "colHeaderReminderLevel": {
                                "type": "string"
                              },
                              "colHeaderSinglePrice": {
                                "type": "string"
                              },
                              "colHeaderStock": {
                                "type": "string"
                              },
                              "colHeaderStockPlace": {
                                "type": "string"
                              },
                              "colHeaderText": {
                                "type": "string"
                              },
                              "colHeaderTotalPrice": {
                                "type": "string"
                              },
                              "colHeaderUnit": {
                                "type": "string"
                              },
                              "companyProfileMwstNr": {
                                "type": "string"
                              },
                              "conditionsOfPayment": {
                                "type": "string"
                              },
                              "includedMwst": {
                                "type": "string"
                              },
                              "itemInfoAccomplishmentDate": {
                                "type": "string"
                              },
                              "itemInfoClientNr": {
                                "type": "string"
                              },
                              "itemInfoCreditVoucherNr": {
                                "type": "string"
                              },
                              "itemInfoDate": {
                                "type": "string"
                              },
                              "itemInfoDeliverableUntil": {
                                "type": "string"
                              },
                              "itemInfoDeliveryAddress": {
                                "type": "string"
                              },
                              "itemInfoDeliverySlipNr": {
                                "type": "string"
                              },
                              "itemInfoInvoicableUntil": {
                                "type": "string"
                              },
                              "itemInfoInvoiceDate": {
                                "type": "string"
                              },
                              "itemInfoInvoiceNr": {
                                "type": "string"
                              },
                              "itemInfoOrderNr": {
                                "type": "string"
                              },
                              "itemInfoProjectNr": {
                                "type": "string"
                              },
                              "itemInfoReference": {
                                "type": "string"
                              },
                              "itemInfoUser": {
                                "type": "string"
                              },
                              "itemInfoUstNr": {
                                "type": "string"
                              },
                              "itemInfoValidUntil": {
                                "type": "string"
                              },
                              "kbAccountStatementBalance": {
                                "type": "string"
                              },
                              "kbAccountStatementBalanceInFavorOfClient": {
                                "type": "string"
                              },
                              "kbAccountStatementBalanceInFavorOfContact": {
                                "type": "string"
                              },
                              "kbAccountStatementBalanceTotalInFavorOfClient": {
                                "type": "string"
                              },
                              "kbAccountStatementBalanceTotalInFavorOfContact": {
                                "type": "string"
                              },
                              "kbAccountStatementTitle": {
                                "type": "string"
                              },
                              "kbArticleOrderDelivererCode": {
                                "type": "string"
                              },
                              "kbArticleOrderDelivererNr": {
                                "type": "string"
                              },
                              "kbArticleOrderTitle": {
                                "type": "string"
                              },
                              "kbArticleOrderTotalMwstExcluded": {
                                "type": "string"
                              },
                              "kbArticleOrderTotalMwstExempt": {
                                "type": "string"
                              },
                              "kbArticleOrderTotalMwstIncluded": {
                                "type": "string"
                              },
                              "kbBillTitle": {
                                "type": "string"
                              },
                              "kbBilltotalMwstExcluded": {
                                "type": "string"
                              },
                              "kbBillTotalMwstExempt": {
                                "type": "string"
                              },
                              "kbBillTotalMwstIncluded": {
                                "type": "string"
                              },
                              "kbCreditVoucherTitle": {
                                "type": "string"
                              },
                              "kbCreditVoucherTotalMwstExcluded": {
                                "type": "string"
                              },
                              "kbCreditVoucherTotalMwstExempt": {
                                "type": "string"
                              },
                              "kbCreditVoucherTotalMwstIncluded": {
                                "type": "string"
                              },
                              "kbDeliveryTitle": {
                                "type": "string"
                              },
                              "kbInvoiceClientAccountRedemption": {
                                "type": "string"
                              },
                              "kbInvoiceReceiptOfCashDiscount": {
                                "type": "string"
                              },
                              "kbInvoiceReceiptOfOverpayment": {
                                "type": "string"
                              },
                              "kbInvoiceReceiptOfPayment": {
                                "type": "string"
                              },
                              "kbInvoiceTitle": {
                                "type": "string"
                              },
                              "kbInvoiceTotalMwstExcluded": {
                                "type": "string"
                              },
                              "kbInvoiceTotalMwstExempt": {
                                "type": "string"
                              },
                              "kbInvoiceTotalMwstIncluded": {
                                "type": "string"
                              },
                              "kbOfferTitle": {
                                "type": "string"
                              },
                              "kbOfferTotalMwstExcluded": {
                                "type": "string"
                              },
                              "kbOfferTotalMwstExempt": {
                                "type": "string"
                              },
                              "kbOfferTotalMwstIncluded": {
                                "type": "string"
                              },
                              "kbOrderDeliveryAddress": {
                                "type": "string"
                              },
                              "kbOrderTitle": {
                                "type": "string"
                              },
                              "kbOrderTotalMwstExcluded": {
                                "type": "string"
                              },
                              "kbOrderTotalMwstExempt": {
                                "type": "string"
                              },
                              "kbOrderTotalMwstIncluded": {
                                "type": "string"
                              },
                              "kbPickingSlipTitle": {
                                "type": "string"
                              },
                              "kbPositionItemTotalPaymentEntryCredit": {
                                "type": "string"
                              },
                              "kbPositionItemTotalPaymentEntryPayment": {
                                "type": "string"
                              },
                              "optionalPositions": {
                                "type": "string"
                              },
                              "pageXOfY": {
                                "type": "string"
                              },
                              "partBillDescription": {
                                "type": "string"
                              },
                              "paymentTimePeriod": {
                                "type": "string"
                              },
                              "payNow": {
                                "type": "string"
                              },
                              "positionImportExpenseDate": {
                                "type": "string"
                              },
                              "positionImportMonitoringDate": {
                                "type": "string"
                              },
                              "positionImportProject": {
                                "type": "string"
                              },
                              "receivedPayments": {
                                "type": "string"
                              },
                              "remainingAmount": {
                                "type": "string"
                              },
                              "rounding": {
                                "type": "string"
                              },
                              "subTotal": {
                                "type": "string"
                              },
                              "total": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateFormat": {
                            "type": "object",
                            "properties": {
                              "dateFormat": {
                                "type": "string"
                              },
                              "dateFormatId": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "deliveryAddressManual": {
                            "type": "string"
                          },
                          "deliveryAddressType": {
                            "type": "string"
                          },
                          "documentNr": {
                            "type": "string"
                          },
                          "footer": {
                            "type": "string"
                          },
                          "header": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isCompactView": {
                            "type": "boolean"
                          },
                          "isValidFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "isValidTo": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "isValidUntil": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "kbItemStatusId": {
                            "type": "number"
                          },
                          "kbPaymentTemplateId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "languageId": {
                            "type": "number"
                          },
                          "logopaperId": {
                            "type": "number"
                          },
                          "mail": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "mwstIsNet": {
                            "type": "boolean"
                          },
                          "mwstType": {
                            "type": "string"
                          },
                          "nbDecimalsAmount": {
                            "type": "number"
                          },
                          "nbDecimalsPrice": {
                            "type": "number"
                          },
                          "paymentTypeId": {
                            "type": "number"
                          },
                          "positions": {
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number"
                              },
                              "totalDiscount": {
                                "type": "number"
                              },
                              "totalGross": {
                                "type": "number"
                              },
                              "totalNet": {
                                "type": "number"
                              },
                              "totalTax": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "reference": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "salesmanUserId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "showPositionTaxes": {
                            "type": "boolean"
                          },
                          "templateSlug": {
                            "type": "string"
                          },
                          "termsOfPaymentText": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalRoundingDifference": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "viewedByClientAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bexio/latest/actions/create-quote": {
      "post": {
        "operationId": "bexio.create-quote",
        "summary": "Create Quote",
        "description": "Creates a quote in Bexio.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bexio/latest/actions/create-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "contactId": {
                    "type": "number",
                    "description": "Contact ID.",
                    "example": 1
                  },
                  "userId": {
                    "type": "number",
                    "description": "User ID.",
                    "example": 1
                  },
                  "documentNr": {
                    "type": "string",
                    "description": "Quote document number.",
                    "example": "Q-1001"
                  },
                  "title": {
                    "type": "string",
                    "description": "Quote title.",
                    "example": "Consulting Quote"
                  },
                  "positions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Quote positions array."
                  },
                  "contactSubId": {
                    "type": "number",
                    "description": "Contact sub ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "prProjectId": {
                    "type": "number",
                    "description": "Project ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "logopaperId": {
                    "type": "number",
                    "description": "Logo paper ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "languageId": {
                    "type": "number",
                    "description": "Language ID.",
                    "example": 1
                  },
                  "bankAccountId": {
                    "type": "number",
                    "description": "Bank account ID.",
                    "example": 1,
                    "x-mindcloud-advanced": true
                  },
                  "currencyId": {
                    "type": "number",
                    "description": "Currency ID.",
                    "example": 1
                  },
                  "paymentTypeId": {
                    "type": "number",
                    "description": "Payment type ID.",
                    "example": 1
                  },
                  "mwstType": {
                    "type": "string",
                    "description": "Tax type.",
                    "enum": [
                      "0",
                      "1",
                      "2"
                    ]
                  },
                  "mwstIsNet": {
                    "type": "boolean",
                    "description": "Whether taxes are added to the total.",
                    "x-mindcloud-advanced": true
                  },
                  "showPositionTaxes": {
                    "type": "boolean",
                    "description": "Whether to show position taxes.",
                    "x-mindcloud-advanced": true
                  },
                  "isValidFrom": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Valid from date.",
                    "example": "2026-03-12"
                  },
                  "isValidUntil": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Valid until date.",
                    "example": "2026-04-11"
                  },
                  "contactAddressManual": {
                    "type": "string",
                    "description": "Manual contact address.",
                    "example": "Acme AG\\nMain Street 1\\n8000 Zurich",
                    "x-mindcloud-advanced": true
                  },
                  "deliveryAddressType": {
                    "type": "string",
                    "description": "Delivery address type.",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "deliveryAddressManual": {
                    "type": "string",
[...]
