{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Crossmint Universal API",
    "version": "0.0.5",
    "description": "Create wallets, move stablecoins, and tokenize digital assets"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/crossmint/latest/actions/burn-nft": {
      "delete": {
        "operationId": "crossmint.burn-nft",
        "summary": "Burn NFT",
        "description": "Burns an NFT from Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/burn-nft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "query",
            "required": true,
            "description": "Collection identifier.",
            "schema": {
              "type": "string",
              "description": "Collection identifier.",
              "example": "2b93e85e-d500-4f14-8a76-515c604e59ff",
              "default": "2b93e85e-d500-4f14-8a76-515c604e59ff"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "NFT identifier returned by Crossmint.",
            "schema": {
              "type": "string",
              "description": "NFT identifier returned by Crossmint.",
              "example": "b398a6e7-4b6d-4097-869c-33dd1f454629",
              "default": "b398a6e7-4b6d-4097-869c-33dd1f454629"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "Crossmint action type."
                          },
                          "actionId": {
                            "type": "string",
                            "description": "NFT burn action identifier."
                          },
                          "completedAt": {
                            "type": "string",
                            "description": "When the burn completed, when available."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "NFT burn payload details."
                          },
                          "resource": {
                            "type": "string",
                            "description": "Action resource URL."
                          },
                          "startedAt": {
                            "type": "string",
                            "description": "When the burn started."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current processing status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-collection": {
      "post": {
        "operationId": "crossmint.create-collection",
        "summary": "Create Collection",
        "description": "Creates a collection in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-collection"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chain",
                  "metadata.name",
                  "metadata.description",
                  "metadata.imageUrl",
                  "metadata.symbol",
                  "fungibility"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chain": {
                    "type": "string",
                    "description": "Blockchain for the collection.",
                    "default": "base-sepolia"
                  },
                  "metadata.name": {
                    "type": "string",
                    "description": "Collection display name.",
                    "example": "MindCloud Test Collection"
                  },
                  "metadata.description": {
                    "type": "string",
                    "description": "Collection description.",
                    "example": "Collection created by MindCloud for Crossmint runtime testing."
                  },
                  "metadata.imageUrl": {
                    "type": "string",
                    "description": "Collection image URL.",
                    "default": "https://www.crossmint.com/assets/crossmint/logo.png"
                  },
                  "metadata.symbol": {
                    "type": "string",
                    "description": "Collection symbol.",
                    "default": "MCTEST"
                  },
                  "fungibility": {
                    "type": "string",
                    "description": "Collection fungibility.",
                    "default": "non-fungible"
                  },
                  "transferable": {
                    "type": "boolean",
                    "description": "Whether NFTs are transferable.",
                    "default": true
                  },
                  "supplyLimit": {
                    "type": "number",
                    "description": "Maximum supply for the collection.",
                    "default": 10
                  },
                  "payments.price": {
                    "type": "string",
                    "description": "Mint price for the collection.",
                    "default": "0.0001"
                  },
                  "payments.recipientAddress": {
                    "type": "string",
                    "description": "Address that receives collection payments.",
                    "example": "0x1234567890123456789012345678901234567890"
                  },
                  "payments.currency": {
                    "type": "string",
                    "description": "Currency for collection payments.",
                    "default": "eth"
                  },
                  "reuploadLinkedFiles": {
                    "type": "boolean",
                    "description": "Whether metadata URLs are reuploaded to IPFS.",
                    "default": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-collection-idempotent": {
      "post": {
        "operationId": "crossmint.create-collection-idempotent",
        "summary": "Create Collection Idempotent",
        "description": "Creates a collection idempotently in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-collection-idempotent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "collectionId",
                  "chain",
                  "metadata.name",
                  "metadata.description",
                  "metadata.imageUrl",
                  "metadata.symbol"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "collectionId": {
                    "type": "string",
                    "description": "Custom collection identifier.",
                    "example": "mindcloud-crossmint-test-collection"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Blockchain for the collection.",
                    "default": "base-sepolia"
                  },
                  "metadata.name": {
                    "type": "string",
                    "description": "Collection display name.",
                    "example": "MindCloud Test Collection"
                  },
                  "metadata.description": {
                    "type": "string",
                    "description": "Collection description.",
                    "example": "Collection created by MindCloud for Crossmint runtime testing."
                  },
                  "metadata.imageUrl": {
                    "type": "string",
                    "description": "Collection image URL.",
                    "default": "https://www.crossmint.com/assets/crossmint/logo.png"
                  },
                  "metadata.symbol": {
                    "type": "string",
                    "description": "Collection symbol.",
                    "default": "MCTEST2"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-credential-template": {
      "post": {
        "operationId": "crossmint.create-credential-template",
        "summary": "Create Credential Template",
        "description": "Creates a credential template in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-credential-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "metadata",
                  "chain",
                  "credentials"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Template metadata object. Provide `name`, `description`, and `imageUrl`."
                  },
                  "chain": {
                    "type": "string",
                    "description": "Chain for the credential NFT. Crossmint documents values such as `polygon`, `optimism`, and `base`.",
                    "example": "polygon",
                    "default": "polygon"
                  },
                  "credentials": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Credential template configuration object. Include `type`, `storage`, and `encryption`."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionId": {
                            "type": "string",
                            "description": "Action identifier returned by Crossmint."
                          },
                          "fungibility": {
                            "type": "string",
                            "description": "Fungibility mode returned by Crossmint."
                          },
                          "id": {
                            "type": "string",
                            "description": "Credential template identifier returned by Crossmint."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Metadata for the created credential template."
                          },
                          "onChain": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "On-chain configuration for the template."
                          },
                          "subscription": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscription settings for the template."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-credential-type-with-name": {
      "post": {
        "operationId": "crossmint.create-credential-type-with-name",
        "summary": "Create Credential Type with Name",
        "description": "Creates a credential type with a name in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-credential-type-with-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "typeName",
                  "$schema",
                  "title",
                  "type",
                  "properties"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "typeName": {
                    "type": "string",
                    "description": "The name of the credential type.",
                    "example": "CourseCompletionCertificate"
                  },
                  "$schema": {
                    "type": "string",
                    "description": "JSON Schema draft URL. Crossmint documents `https://json-schema.org/draft/2020-12/schema`.",
                    "default": "https://json-schema.org/draft/2020-12/schema"
                  },
                  "title": {
                    "type": "string",
                    "description": "Credential type title.",
                    "example": "Course completion"
                  },
                  "description": {
                    "type": "string",
                    "description": "Credential type description.",
                    "example": "Describes the course completed and the assigned grade"
                  },
                  "type": {
                    "type": "string",
                    "description": "Top-level JSON Schema type. The docs example uses `object`.",
                    "default": "object"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Credential schema properties object. Include at least a `credentialSubject` object definition."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Credential type identifier returned by Crossmint."
                          },
                          "typeSchema": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "JSON schema payload for the created credential type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-delegated-signer": {
      "post": {
        "operationId": "crossmint.create-delegated-signer",
        "summary": "Create Delegated Signer",
        "description": "Creates a delegated signer in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-delegated-signer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "walletLocator",
                  "signer",
                  "chain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "walletLocator": {
                    "type": "string",
                    "description": "Wallet locator using the Crossmint wallet locator formats.",
                    "example": "email:user@example.com:evm:smart"
                  },
                  "signer": {
                    "type": "string",
                    "description": "Signer to register as a delegated signer.",
                    "example": "external-wallet:0x1234567890123456789012345678901234567890"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Chain where the signer will be registered.",
                    "default": "base-sepolia"
                  },
                  "expiresAt": {
                    "type": "string",
                    "description": "Optional ISO 8601 expiry time for the signer.",
                    "example": "2026-12-31T23:59:59.000Z",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-order": {
      "post": {
        "operationId": "crossmint.create-order",
        "summary": "Create Order",
        "description": "Creates an order in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "payment.method",
                  "payment.currency",
                  "payment.receiptEmail",
                  "payment.payerAddress",
                  "lineItems.collectionLocator",
                  "lineItems.callData.totalPrice",
                  "recipient.email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "payment.method": {
                    "type": "string",
                    "description": "Blockchain or payment rail used to pay for the order.",
                    "default": "base-sepolia"
                  },
                  "payment.currency": {
                    "type": "string",
                    "description": "Currency used for payment.",
                    "default": "eth"
                  },
                  "payment.receiptEmail": {
                    "type": "string",
                    "description": "Email for the payment receipt.",
                    "example": "buyer@example.com"
                  },
                  "payment.payerAddress": {
                    "type": "string",
                    "description": "Wallet address that will pay for the order.",
                    "example": "0x1234567890123456789012345678901234567890"
                  },
                  "lineItems.collectionLocator": {
                    "type": "string",
                    "description": "Collection locator for the order line item."
                  },
                  "lineItems.callData.totalPrice": {
                    "type": "string",
                    "description": "Quoted total price for the line item.",
                    "default": "0.0001"
                  },
                  "recipient.email": {
                    "type": "string",
                    "description": "Email for the NFT recipient.",
                    "example": "recipient@example.com"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Checkout locale.",
                    "default": "en-US"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-signature": {
      "post": {
        "operationId": "crossmint.create-signature",
        "summary": "Create Signature",
        "description": "Creates a signature in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-signature"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "walletLocator",
                  "type",
                  "params.message",
                  "params.signer",
                  "params.chain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "walletLocator": {
                    "type": "string",
                    "description": "Wallet locator using the Crossmint wallet locator formats.",
                    "example": "email:user@example.com:evm:smart"
                  },
                  "type": {
                    "type": "string",
                    "description": "Signature type.",
                    "default": "message"
                  },
                  "params.message": {
                    "type": "string",
                    "description": "Message to sign.",
                    "example": "Hello, world!"
                  },
                  "params.signer": {
                    "type": "string",
                    "description": "Signer identifier used to approve the signature.",
                    "example": "external-wallet:0xYourSignerAddress"
                  },
                  "params.chain": {
                    "type": "string",
                    "description": "Target chain for the signature context.",
                    "default": "base-sepolia"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-transaction": {
      "post": {
        "operationId": "crossmint.create-transaction",
        "summary": "Create Transaction",
        "description": "Creates a transaction in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "walletLocator",
                  "params.calls[0].to",
                  "params.calls[0].value",
                  "params.calls[0].data",
                  "params.chain",
                  "params.signer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "walletLocator": {
                    "type": "string",
                    "description": "Wallet locator or wallet address from the Crossmint wallet locator formats.",
                    "example": "email:user@example.com:evm-smart-wallet"
                  },
                  "params.calls[0].to": {
                    "type": "string",
                    "description": "Destination address for the EVM call.",
                    "example": "0x0000000000000000000000000000000000000000"
                  },
                  "params.calls[0].value": {
                    "type": "string",
                    "description": "Hex-encoded wei value for the EVM call.",
                    "default": "0x0"
                  },
                  "params.calls[0].data": {
                    "type": "string",
                    "description": "Hex calldata for the EVM call.",
                    "default": "0x"
                  },
                  "params.chain": {
                    "type": "string",
                    "description": "Target EVM chain for the transaction.",
                    "default": "base-sepolia"
                  },
                  "params.signer": {
                    "type": "string",
                    "description": "Signer identifier used to approve the transaction.",
                    "example": "external-wallet:0xYourSignerAddress"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/create-wallet": {
      "post": {
        "operationId": "crossmint.create-wallet",
        "summary": "Create Wallet",
        "description": "Creates a new wallet in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/create-wallet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chainType",
                  "config.adminSigner.type",
                  "config.adminSigner.address"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chainType": {
                    "type": "string",
                    "description": "Blockchain type for the wallet. Example: evm.",
                    "default": "evm"
                  },
                  "type": {
                    "type": "string",
                    "description": "Wallet type. Example: smart.",
                    "default": "smart"
                  },
                  "config.adminSigner.type": {
                    "type": "string",
                    "description": "Admin signer type for EVM smart wallets. Example: external-wallet.",
                    "default": "external-wallet"
                  },
                  "config.adminSigner.address": {
                    "type": "string",
                    "description": "Admin signer wallet address for EVM smart wallets."
                  },
                  "owner": {
                    "type": "string",
                    "description": "Wallet owner locator such as email:user@example.com or COMPANY.",
                    "example": "email:user@example.com"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Optional wallet alias.",
                    "example": "my-usdc-wallet"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Onchain wallet address."
                          },
                          "chainType": {
                            "type": "string",
                            "description": "Blockchain type of the wallet."
                          },
                          "config": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Wallet configuration including admin signer details."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Wallet creation timestamp."
                          },
                          "owner": {
                            "type": "string",
                            "description": "Owner locator for the wallet."
                          },
                          "type": {
                            "type": "string",
                            "description": "Wallet type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/edit-nft": {
      "put": {
        "operationId": "crossmint.edit-nft",
        "summary": "Edit NFT",
        "description": "Updates NFT metadata in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/edit-nft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "collectionId",
                  "id",
                  "metadata"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "collectionId": {
                    "type": "string",
                    "description": "Collection identifier.",
                    "example": "2b93e85e-d500-4f14-8a76-515c604e59ff",
                    "default": "2b93e85e-d500-4f14-8a76-515c604e59ff"
                  },
                  "id": {
                    "type": "string",
                    "description": "NFT identifier returned by Crossmint.",
                    "example": "b398a6e7-4b6d-4097-869c-33dd1f454629",
                    "default": "b398a6e7-4b6d-4097-869c-33dd1f454629"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Updated NFT metadata object."
                  },
                  "reuploadLinkedFiles": {
                    "type": "boolean",
                    "description": "Whether metadata URLs should be resolved and reuploaded to IPFS. Defaults to true.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "Crossmint action type."
                          },
                          "actionId": {
                            "type": "string",
                            "description": "NFT update action identifier."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "NFT update payload details."
                          },
                          "resource": {
                            "type": "string",
                            "description": "Action resource URL."
                          },
                          "startedAt": {
                            "type": "string",
                            "description": "When the update started."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current processing status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/fund-wallet": {
      "post": {
        "operationId": "crossmint.fund-wallet",
        "summary": "Fund Wallet",
        "description": "Funds a wallet in Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/fund-wallet"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "walletLocator",
                  "amount",
                  "token",
                  "chain"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "walletLocator": {
                    "type": "string",
                    "description": "Wallet locator such as a wallet address or email:user@example.com:evm-smart-wallet.",
                    "example": "email:user@example.com:evm-smart-wallet"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount to fund, between 1 and 100.",
                    "default": 10
                  },
                  "token": {
                    "type": "string",
                    "description": "Funding token. Only usdxm is supported in staging.",
                    "default": "usdxm"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Chain to fund on. Example: base-sepolia.",
                    "default": "base-sepolia"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "txId": {
                            "type": "string",
                            "description": "Funding transaction identifier returned by the runtime."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/get-action-status": {
      "get": {
        "operationId": "crossmint.get-action-status",
        "summary": "Get Action Status",
        "description": "Retrieves action status from Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/get-action-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionId",
            "in": "query",
            "required": true,
            "description": "Asynchronous action identifier.",
            "schema": {
              "type": "string",
              "description": "Asynchronous action identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/crossmint/latest/actions/get-collection-info": {
      "get": {
        "operationId": "crossmint.get-collection-info",
        "summary": "Get Collection Info",
        "description": "Retrieves collection information from Crossmint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/crossmint/latest/actions/get-collection-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collectionId",
            "in": "query",
            "required": true,
            "description": "Collection identifier.",
            "schema": {
              "type": "string",
              "description": "Collection identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
[...]
