{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Prodigi Universal API",
    "version": "0.0.2",
    "description": "Prodigi is a print-on-demand fulfillment platform for creating orders, checking order status, quoting product and shipping costs, and looking up product details through the Prodigi Print API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/prodigi/latest/actions/cancel-order": {
      "put": {
        "operationId": "prodigi.cancel-order",
        "summary": "Cancel Order",
        "description": "Cancels a specific order in Prodigi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/cancel-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "prodigiOrderId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "prodigiOrderId": {
                    "type": "string",
                    "description": "Prodigi order ID to cancel."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/create-order": {
      "post": {
        "operationId": "prodigi.create-order",
        "summary": "Create Order",
        "description": "Creates and submits a new order in Prodigi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "shippingMethod",
                  "recipient",
                  "items[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "shippingMethod": {
                    "type": "string",
                    "description": "Requested shipping method: budget, standard, standardplus, express, overnight."
                  },
                  "recipient": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Recipient object including name and address."
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of order items. Each item includes sku, copies, sizing, and assets."
                  },
                  "merchantReference": {
                    "type": "string",
                    "description": "Your reference for this order."
                  },
                  "callbackUrl": {
                    "type": "string",
                    "description": "URL Prodigi can call with order progress callbacks.",
                    "x-mindcloud-advanced": true
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "description": "Unique key that helps Prodigi detect duplicate order submissions.",
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Custom metadata object stored with the order.",
                    "x-mindcloud-advanced": true
                  },
                  "branding": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional branding assets such as postcard, flyer, packing slip, or stickers.",
                    "x-mindcloud-advanced": true
                  },
                  "packingSlip": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional packing slip object.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/create-quote": {
      "get": {
        "operationId": "prodigi.create-quote",
        "summary": "Create Quote",
        "description": "Retrieves Prodigi quotes for product and shipping costs.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/create-quote"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationCountryCode",
            "in": "query",
            "required": true,
            "description": "Two-letter ISO country code of the destination country.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO country code of the destination country.",
              "example": "GB"
            }
          },
          {
            "name": "items[]",
            "in": "query",
            "required": true,
            "description": "Items to quote, including SKU, copies, attributes, and assets.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Items to quote, including SKU, copies, attributes, and assets."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "shippingMethod",
            "in": "query",
            "required": false,
            "description": "Requested shipping method: budget, standard, standardplus, express, or overnight.",
            "schema": {
              "type": "string",
              "description": "Requested shipping method: budget, standard, standardplus, express, or overnight.",
              "example": "Budget"
            }
          },
          {
            "name": "currencyCode",
            "in": "query",
            "required": false,
            "description": "Three-letter ISO currency code. Defaults to the merchant settings when omitted.",
            "schema": {
              "type": "string",
              "description": "Three-letter ISO currency code. Defaults to the merchant settings when omitted.",
              "example": "GBP",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "costSummary": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Total item and shipping costs."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Quoted items with generated quote item IDs."
                          },
                          "shipmentMethod": {
                            "type": "string",
                            "description": "Quoted shipping method."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Expected shipment details and costs."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/get-order": {
      "get": {
        "operationId": "prodigi.get-order",
        "summary": "Get Order",
        "description": "Retrieves details for a specific Prodigi order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/get-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prodigiOrderId",
            "in": "query",
            "required": true,
            "description": "Prodigi order ID, such as ord_123456.",
            "schema": {
              "type": "string",
              "description": "Prodigi order ID, such as ord_123456."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/get-order-actions": {
      "get": {
        "operationId": "prodigi.get-order-actions",
        "summary": "Get Order Actions",
        "description": "Retrieves available actions for a Prodigi order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/get-order-actions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prodigiOrderId",
            "in": "query",
            "required": true,
            "description": "Prodigi order ID, such as ord_123456.",
            "schema": {
              "type": "string",
              "description": "Prodigi order ID, such as ord_123456."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancel": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Cancel action availability and details."
                          },
                          "changeMetaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Metadata update action availability and details."
                          },
                          "changeRecipientDetails": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient update action availability and details."
                          },
                          "changeShippingMethod": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Shipping-method update action availability and details."
                          },
                          "outcome": {
                            "type": "string",
                            "description": "Actions lookup outcome."
                          },
                          "traceParent": {
                            "type": "string",
                            "description": "Prodigi trace identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/get-photobook-spine-details": {
      "get": {
        "operationId": "prodigi.get-photobook-spine-details",
        "summary": "Get Photobook Spine Details",
        "description": "Retrieves the required spine width for a Prodigi photobook.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/get-photobook-spine-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "description": "Photobook product SKU.",
            "schema": {
              "type": "string",
              "description": "Photobook product SKU.",
              "example": "BOOK-A4-L-HARD-M"
            }
          },
          {
            "name": "destinationCountryCode",
            "in": "query",
            "required": true,
            "description": "Two-letter ISO country code for the destination country.",
            "schema": {
              "type": "string",
              "description": "Two-letter ISO country code for the destination country.",
              "example": "US"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Destination state, used when needed for the destination country.",
            "schema": {
              "type": "string",
              "description": "Destination state, used when needed for the destination country.",
              "example": "CA",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "numberOfPages",
            "in": "query",
            "required": true,
            "description": "Number of pages in the photobook.",
            "schema": {
              "type": "number",
              "description": "Number of pages in the photobook.",
              "example": 50
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "widthMm": {
                            "type": "number",
                            "description": "Required book spine width in millimeters."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/get-product-details": {
      "get": {
        "operationId": "prodigi.get-product-details",
        "summary": "Get Product Details",
        "description": "Retrieves details for a specific Prodigi product SKU.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/get-product-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "description": "Prodigi product SKU to retrieve.",
            "schema": {
              "type": "string",
              "description": "Prodigi product SKU to retrieve.",
              "example": "GLOBAL-CAN-10x10"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Available product attributes."
                          },
                          "description": {
                            "type": "string",
                            "description": "Product description."
                          },
                          "printAreas": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Available print areas."
                          },
                          "productDimensions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Product dimensions."
                          },
                          "sku": {
                            "type": "string",
                            "description": "Product SKU."
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Product variants."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/list-orders": {
      "get": {
        "operationId": "prodigi.list-orders",
        "summary": "List Orders",
        "description": "Retrieves a list of orders from Prodigi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/list-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdFrom",
            "in": "query",
            "required": false,
            "description": "Limit to orders placed after this UTC date/time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Limit to orders placed after this UTC date/time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "required": false,
            "description": "Limit to orders placed before this UTC date/time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Limit to orders placed before this UTC date/time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Limit to a status: draft, awaitingPayment, inProgress, complete, or cancelled.",
            "schema": {
              "type": "string",
              "description": "Limit to a status: draft, awaitingPayment, inProgress, complete, or cancelled."
            }
          },
          {
            "name": "orderIds[]",
            "in": "query",
            "required": false,
            "description": "Limit to a list of Prodigi order IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit to a list of Prodigi order IDs.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "merchantReferences[]",
            "in": "query",
            "required": false,
            "description": "Limit to a list of merchant order references.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Limit to a list of merchant order references.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/update-order-metadata": {
      "put": {
        "operationId": "prodigi.update-order-metadata",
        "summary": "Update Order Metadata",
        "description": "Updates metadata for a Prodigi order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/update-order-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "prodigiOrderId",
                  "metadata"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "prodigiOrderId": {
                    "type": "string",
                    "description": "Prodigi order ID to update."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Replacement metadata object for the order."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/update-order-recipient": {
      "put": {
        "operationId": "prodigi.update-order-recipient",
        "summary": "Update Order Recipient",
        "description": "Updates recipient details for a Prodigi order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/update-order-recipient"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "prodigiOrderId",
                  "name",
                  "email",
                  "phoneNumber",
                  "address"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "prodigiOrderId": {
                    "type": "string",
                    "description": "Prodigi order ID to update."
                  },
                  "name": {
                    "type": "string",
                    "description": "Updated recipient name.",
                    "example": "Mr. Jeff Testing"
                  },
                  "email": {
                    "type": "string",
                    "description": "Updated recipient email address.",
                    "example": "jeff.testing@example.com"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Updated recipient phone number.",
                    "example": "123456780"
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Updated recipient address object."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/prodigi/latest/actions/update-order-shipping-method": {
      "put": {
        "operationId": "prodigi.update-order-shipping-method",
        "summary": "Update Order Shipping Method",
        "description": "Updates the shipping method for a Prodigi order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/prodigi/latest/actions/update-order-shipping-method"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "prodigiOrderId",
                  "shippingMethod"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "prodigiOrderId": {
                    "type": "string",
                    "description": "Prodigi order ID to update."
                  },
                  "shippingMethod": {
                    "type": "string",
                    "description": "New shipping method: budget, standard, standardplus, express, overnight.",
                    "example": "Budget"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charges": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order charges."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Prodigi order ID."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order items."
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Order last updated timestamp."
                          },
                          "merchantReference": {
                            "type": "string",
                            "description": "Merchant order reference."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Merchant metadata."
                          },
                          "recipient": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Recipient details."
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Order shipments."
                          },
                          "shippingMethod": {
                            "type": "string",
                            "description": "Requested shipping method."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Order status details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
