{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zenkit Universal API",
    "version": "0.0.6",
    "description": "Manage workspaces, lists, items, users, and comments"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zenkit/latest/actions/add-element-to-list": {
      "post": {
        "operationId": "zenkit.add-element-to-list",
        "summary": "Add Element To List",
        "description": "Creates a custom field in a Zenkit list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/add-element-to-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listId",
                  "items"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listId": {
                    "type": "string",
                    "description": "The list id"
                  },
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "JSON array of Zenkit field definitions. Zenkit runtime currently requires lowercase `elementcategory` in each object."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deprecated_at": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "elementcategory": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isAutoCreated": {
                            "type": "boolean"
                          },
                          "isPrimary": {
                            "type": "boolean"
                          },
                          "listId": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "resourceRole": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/create-entry": {
      "post": {
        "operationId": "zenkit.create-entry",
        "summary": "Create Entry",
        "description": "Creates a new item in Zenkit.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/create-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listId": {
                    "type": "string",
                    "description": "The list id"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "156070e1-0820-4d98-945f-d1b89cb195be_searchText": {
                            "type": "string"
                          },
                          "156070e1-0820-4d98-945f-d1b89cb195be_text": {
                            "type": "string"
                          },
                          "156070e1-0820-4d98-945f-d1b89cb195be_textType": {
                            "type": "string"
                          },
                          "2ac63081-bac2-4b94-8b57-3ffecf576128_searchText": {
                            "type": "string"
                          },
                          "2ac63081-bac2-4b94-8b57-3ffecf576128_text": {
                            "type": "string"
                          },
                          "2ac63081-bac2-4b94-8b57-3ffecf576128_textType": {
                            "type": "string"
                          },
                          "402328e1-1f8b-4b0c-9f5e-66141d72d54a_connected": {
                            "type": "boolean"
                          },
                          "402328e1-1f8b-4b0c-9f5e-66141d72d54a_path": {
                            "type": "string"
                          },
                          "402328e1-1f8b-4b0c-9f5e-66141d72d54a_sortOrder": {
                            "type": "number"
                          },
                          "58e9414d-661e-4c9f-bed2-ef32f7111d17_categories_sort": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "colorHex": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "58e9414d-661e-4c9f-bed2-ef32f7111d17_categories": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "81b6f6e1-2199-44ee-a6dd-312a10523f3d_milestone": {
                            "type": "boolean"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_date": {
                            "type": "string"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_duration": {
                            "type": "string"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_endDate": {
                            "type": "string"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_hasTime": {
                            "type": "boolean"
                          },
                          "cf945125-e721-42d5-93f1-a2259248a41a_number": {
                            "type": "string"
                          },
                          "comment_count": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "created_by_displayname": {
                            "type": "string"
                          },
                          "deprecated_at": {
                            "type": "string"
                          },
                          "deprecated_by": {
                            "type": "string"
                          },
                          "displayString": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "listId": {
                            "type": "number"
                          },
                          "occurrence": {
                            "type": "string"
                          },
                          "origin_created_at": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_by": {
                            "type": "number"
                          },
                          "updated_by_displayname": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/create-list-entry-comment": {
      "post": {
        "operationId": "zenkit.create-list-entry-comment",
        "summary": "Create List Entry Comment",
        "description": "Creates a comment on a Zenkit item.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/create-list-entry-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listAllId",
                  "listEntryAllId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listAllId": {
                    "type": "string",
                    "description": "The list all id"
                  },
                  "listEntryAllId": {
                    "type": "string",
                    "description": "The list entry all id"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bulk_rowcount": {
                            "type": "string"
                          },
                          "changedData": {
                            "type": "string"
                          },
                          "changedDataElementId": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_in": {
                            "type": "number"
                          },
                          "deprecated_at": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isBulk": {
                            "type": "boolean"
                          },
                          "listDeprecated_at": {
                            "type": "string"
                          },
                          "listDescription": {
                            "type": "string"
                          },
                          "listEntryDeprecated_at": {
                            "type": "string"
                          },
                          "listEntryDisplayString": {
                            "type": "string"
                          },
                          "listEntryId": {
                            "type": "number"
                          },
                          "listEntryShortId": {
                            "type": "string"
                          },
                          "listEntryUUID": {
                            "type": "string"
                          },
                          "listId": {
                            "type": "number"
                          },
                          "listName": {
                            "type": "string"
                          },
                          "listShortId": {
                            "type": "string"
                          },
                          "listType": {
                            "type": "string"
                          },
                          "listUUID": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "messageTextType": {
                            "type": "string"
                          },
                          "originData": {
                            "type": "string"
                          },
                          "originProvider": {
                            "type": "string"
                          },
                          "parentUUID": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userDisplayname": {
                            "type": "string"
                          },
                          "userFullname": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          },
                          "userImagelink": {
                            "type": "string"
                          },
                          "userInitials": {
                            "type": "string"
                          },
                          "userIsImagePreferred": {
                            "type": "boolean"
                          },
                          "userUsername": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "workspaceDeprecated_at": {
                            "type": "string"
                          },
                          "workspaceDescription": {
                            "type": "string"
                          },
                          "workspaceId": {
                            "type": "number"
                          },
                          "workspaceName": {
                            "type": "string"
                          },
                          "workspaceShortId": {
                            "type": "string"
                          },
                          "workspaceType": {
                            "type": "string"
                          },
                          "workspaceUUID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/create-workspace": {
      "post": {
        "operationId": "zenkit.create-workspace",
        "summary": "Create Workspace",
        "description": "Creates a new workspace in Zenkit.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/create-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access": {
                            "type": "object",
                            "properties": {
                              "groupId": {
                                "type": "string"
                              },
                              "roleId": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "number"
                              },
                              "uuid": {
                                "type": "string"
                              },
                              "workspaceId": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "workspace": {
                            "type": "object",
                            "properties": {
                              "appType": {
                                "type": "string"
                              },
                              "backgroundId": {
                                "type": "string"
                              },
                              "coverImageId": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "created_by": {
                                "type": "number"
                              },
                              "deprecated_at": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "iconBackgroundColor": {
                                "type": "string"
                              },
                              "iconClassNames": {
                                "type": "string"
                              },
                              "iconColor": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "imageId": {
                                "type": "string"
                              },
                              "isDefault": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "organizationId": {
                                "type": "number"
                              },
                              "parentWorkspaceId": {
                                "type": "string"
                              },
                              "resourceType": {
                                "type": "string"
                              },
                              "shortId": {
                                "type": "string"
                              },
                              "sortOrder": {
                                "type": "string"
                              },
                              "transferOrganizationCount": {
                                "type": "number"
                              },
                              "transferOwnershipCount": {
                                "type": "number"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uuid": {
                                "type": "string"
                              },
                              "visibility": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/delete-deprecated-entry": {
      "delete": {
        "operationId": "zenkit.delete-deprecated-entry",
        "summary": "Delete Deprecated Entry",
        "description": "Deletes a deprecated item from Zenkit.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/delete-deprecated-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entryAllId",
            "in": "query",
            "required": true,
            "description": "The entry all id",
            "schema": {
              "type": "string",
              "description": "The entry all id"
            }
          },
          {
            "name": "listAllId",
            "in": "query",
            "required": true,
            "description": "The list all id",
            "schema": {
              "type": "string",
              "description": "The list all id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entry": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "listId": {
                                "type": "number"
                              },
                              "shortId": {
                                "type": "string"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/deprecate-workspace": {
      "delete": {
        "operationId": "zenkit.deprecate-workspace",
        "summary": "Deprecate Workspace",
        "description": "Deprecates an existing workspace in Zenkit.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/deprecate-workspace"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceAllId",
            "in": "query",
            "required": true,
            "description": "The workspace all id.",
            "schema": {
              "type": "string",
              "description": "The workspace all id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appType": {
                            "type": "string"
                          },
                          "backgroundId": {
                            "type": "string"
                          },
                          "coverImageId": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "deprecated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "iconBackgroundColor": {
                            "type": "string"
                          },
                          "iconClassNames": {
                            "type": "string"
                          },
                          "iconColor": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageId": {
                            "type": "string"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "organizationId": {
                            "type": "number"
                          },
                          "parentWorkspaceId": {
                            "type": "string"
                          },
                          "resourceType": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "string"
                          },
                          "transferOrganizationCount": {
                            "type": "number"
                          },
                          "transferOwnershipCount": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/edit-list-properties": {
      "put": {
        "operationId": "zenkit.edit-list-properties",
        "summary": "Edit List Properties",
        "description": "Updates an existing list in Zenkit.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/edit-list-properties"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "listAllId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "listAllId": {
                    "type": "string",
                    "description": "The list all id"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appType": {
                            "type": "string"
                          },
                          "backgroundId": {
                            "type": "string"
                          },
                          "coverImageId": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "defaultViewModus": {
                            "type": "number"
                          },
                          "deprecated_at": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "formulaTSortOrder": {
                            "type": "string"
                          },
                          "frozen_at": {
                            "type": "string"
                          },
                          "iconBackgroundColor": {
                            "type": "string"
                          },
                          "iconClassNames": {
                            "type": "string"
                          },
                          "iconColor": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageId": {
                            "type": "string"
                          },
                          "isBuilding": {
                            "type": "boolean"
                          },
                          "isMigrating": {
                            "type": "boolean"
                          },
                          "isPublic": {
                            "type": "boolean"
                          },
                          "itemName": {
                            "type": "string"
                          },
                          "itemNamePlural": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "properties": {
                            "type": "string"
                          },
                          "resourceType": {
                            "type": "string"
                          },
                          "scheduled_for_deletion_at": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "number"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "number"
                          },
                          "workspaceId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/filter-entries": {
      "get": {
        "operationId": "zenkit.filter-entries",
        "summary": "Filter Entries",
        "description": "Retrieves filtered items from a Zenkit list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/filter-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listShortId",
            "in": "query",
            "required": true,
            "description": "The list short id",
            "schema": {
              "type": "string",
              "description": "The list short id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "156070e1-0820-4d98-945f-d1b89cb195be_searchText": {
                            "type": "string"
                          },
                          "156070e1-0820-4d98-945f-d1b89cb195be_text": {
                            "type": "string"
                          },
                          "156070e1-0820-4d98-945f-d1b89cb195be_textType": {
                            "type": "string"
                          },
                          "2ac63081-bac2-4b94-8b57-3ffecf576128_searchText": {
                            "type": "string"
                          },
                          "2ac63081-bac2-4b94-8b57-3ffecf576128_text": {
                            "type": "string"
                          },
                          "2ac63081-bac2-4b94-8b57-3ffecf576128_textType": {
                            "type": "string"
                          },
                          "402328e1-1f8b-4b0c-9f5e-66141d72d54a_connected": {
                            "type": "boolean"
                          },
                          "402328e1-1f8b-4b0c-9f5e-66141d72d54a_path": {
                            "type": "string"
                          },
                          "402328e1-1f8b-4b0c-9f5e-66141d72d54a_sortOrder": {
                            "type": "number"
                          },
                          "58e9414d-661e-4c9f-bed2-ef32f7111d17_categories_sort": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "colorHex": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "58e9414d-661e-4c9f-bed2-ef32f7111d17_categories": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "81b6f6e1-2199-44ee-a6dd-312a10523f3d_milestone": {
                            "type": "boolean"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_date": {
                            "type": "string"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_duration": {
                            "type": "string"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_endDate": {
                            "type": "string"
                          },
                          "9afd86b1-c1f6-4270-ac2b-4ae061a314d9_hasTime": {
                            "type": "boolean"
                          },
                          "cf945125-e721-42d5-93f1-a2259248a41a_number": {
                            "type": "string"
                          },
                          "comment_count": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "created_by_displayname": {
                            "type": "string"
                          },
                          "deprecated_at": {
                            "type": "string"
                          },
                          "deprecated_by": {
                            "type": "string"
                          },
                          "displayString": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "listId": {
                            "type": "number"
                          },
                          "occurrence": {
                            "type": "string"
                          },
                          "origin_created_at": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_by": {
                            "type": "number"
                          },
                          "updated_by_displayname": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/get-current-user": {
      "get": {
        "operationId": "zenkit.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from Zenkit.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abTests": {
                            "type": "string"
                          },
                          "api_key": {
                            "type": "string"
                          },
                          "appInstances": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "appType": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "backgroundId": {
                            "type": "string"
                          },
                          "blocked_at": {
                            "type": "string"
                          },
                          "blocked_by_organization_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "deprecated_at": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "isVerified": {
                                  "type": "boolean"
                                },
                                "shortId": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "imageLink": {
                            "type": "string"
                          },
                          "initials": {
                            "type": "string"
                          },
                          "isImagePreferred": {
                            "type": "boolean"
                          },
                          "isPasswordGenerated": {
                            "type": "boolean"
                          },
                          "isSuperAdmin": {
                            "type": "boolean"
                          },
                          "last_login": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "last_organization_frozen_at": {
                            "type": "string"
                          },
                          "last_seen": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "organizationId": {
                            "type": "number"
                          },
                          "privacy_policy_accepted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "providers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "provider": {
                                  "type": "string"
                                },
                                "uuid": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "registered_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "assignmentsViewSettings": {
                                "type": "string"
                              },
                              "dateFormat": {
                                "type": "string"
                              },
                              "decimalFormat": {
                                "type": "number"
                              },
                              "defaultSortOrderForNewEntries": {
                                "type": "string"
                              },
                              "language": {
                                "type": "string"
                              },
                              "listActivityFilter": {
                                "type": "number"
                              },
                              "listElementSettingsInfoDismissed": {
                                "type": "boolean"
                              },
                              "listEntryActivityFilter": {
                                "type": "number"
                              },
                              "notificationSettings": {
                                "type": "object",
                                "properties": {
                                  "activities": {
                                    "type": "object",
                                    "properties": {
                                      "desktopNotification": {
                                        "type": "boolean"
                                      },
                                      "email": {
                                        "type": "boolean"
                                      },
                                      "notification": {
                                        "type": "boolean"
                                      },
                                      "pushNotification": {
                                        "type": "boolean"
                                      },
                                      "toast": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "comments": {
                                    "type": "object",
                                    "properties": {
                                      "desktopNotification": {
                                        "type": "boolean"
                                      },
                                      "email": {
                                        "type": "boolean"
                                      },
                                      "notification": {
                                        "type": "boolean"
                                      },
                                      "pushNotification": {
                                        "type": "boolean"
                                      },
                                      "toast": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "general": {
                                    "type": "object",
                                    "properties": {
                                      "desktopNotification": {
                                        "type": "boolean"
                                      },
                                      "email": {
                                        "type": "boolean"
                                      },
                                      "notification": {
                                        "type": "boolean"
                                      },
                                      "pushNotification": {
                                        "type": "boolean"
                                      },
                                      "toast": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "mentions": {
                                    "type": "object",
                                    "properties": {
                                      "desktopNotification": {
                                        "type": "boolean"
                                      },
                                      "email": {
                                        "type": "boolean"
                                      },
                                      "notification": {
                                        "type": "boolean"
                                      },
                                      "pushNotification": {
                                        "type": "boolean"
                                      },
                                      "toast": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "reactions": {
                                    "type": "object",
                                    "properties": {
                                      "desktopNotification": {
                                        "type": "boolean"
                                      },
                                      "email": {
                                        "type": "boolean"
                                      },
                                      "notification": {
                                        "type": "boolean"
                                      },
                                      "pushNotification": {
                                        "type": "boolean"
                                      },
                                      "toast": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "reminders": {
                                    "type": "object",
                                    "properties": {
                                      "desktopNotification": {
                                        "type": "boolean"
                                      },
                                      "email": {
                                        "type": "boolean"
                                      },
                                      "notification": {
                                        "type": "boolean"
                                      },
                                      "pushNotification": {
                                        "type": "boolean"
                                      },
                                      "toast": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "recentListShortIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "recentListsSettings": {
                                "type": "object",
                                "properties": {
                                  "homeScreen": {
                                    "type": "boolean"
                                  },
                                  "navigationBarListsMenu": {
                                    "type": "boolean"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "soundEnabled": {
                                "type": "boolean"
                              },
                              "startOfTheWeek": {
                                "type": "string"
                              },
                              "textfieldInfoDismissed": {
                                "type": "boolean"
                              },
                              "themeOnboardingDismissed": {
                                "type": "boolean"
                              },
                              "timeFormat": {
                                "type": "string"
                              },
                              "useDockedChats": {
                                "type": "boolean"
                              },
                              "userActivityFilter": {
                                "type": "number"
                              },
                              "userAssignmentsInfoDismissed": {
                                "type": "boolean"
                              },
                              "userCalendarSettings": {
                                "type": "string"
                              },
                              "userTagsInfoDismissed": {
                                "type": "boolean"
                              },
                              "userTagsSettings": {
                                "type": "string"
                              },
                              "workspaceActivityFilter": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "terms_accepted_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zenkit/latest/actions/get-elements-in-list": {
      "get": {
        "operationId": "zenkit.get-elements-in-list",
        "summary": "Get Elements In List",
        "description": "Retrieves custom fields from a Zenkit list.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zenkit/latest/actions/get-elements-in-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listAllId",
            "in": "query",
            "required": true,
            "description": "The list all id",
            "schema": {
              "type": "string",
              "description": "The list all id"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
[...]
