{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Dropbox Sign Universal API",
    "version": "0.0.10",
    "description": "Send, track, and manage signature requests and templates"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dropboxSign/latest/actions/cancel-signature-request": {
      "delete": {
        "operationId": "dropboxSign.cancel-signature-request",
        "summary": "Cancel Signature Request",
        "description": "Cancels a signature request in Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/cancel-signature-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature_request_id",
            "in": "query",
            "required": true,
            "description": "The id of the incomplete SignatureRequest to cancel.",
            "schema": {
              "type": "string",
              "description": "The id of the incomplete SignatureRequest to cancel."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/create-template": {
      "post": {
        "operationId": "dropboxSign.create-template",
        "summary": "Create Template",
        "description": "Creates a template in Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file_urls[]",
                  "title",
                  "signer_roles[].name",
                  "signer_roles[].order",
                  "form_fields_per_document[].document_index",
                  "form_fields_per_document[].api_id",
                  "form_fields_per_document[].type",
                  "form_fields_per_document[].required",
                  "form_fields_per_document[].signer",
                  "form_fields_per_document[].width",
                  "form_fields_per_document[].height",
                  "form_fields_per_document[].x",
                  "form_fields_per_document[].y",
                  "form_fields_per_document[].page"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file_urls[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Public file URLs Dropbox Sign should download for the template."
                  },
                  "title": {
                    "type": "string",
                    "description": "Template title."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Default template email subject."
                  },
                  "message": {
                    "type": "string",
                    "description": "Default template email message."
                  },
                  "test_mode": {
                    "type": "boolean",
                    "description": "Whether the template should be created in test mode."
                  },
                  "signer_roles[].name": {
                    "type": "string",
                    "description": "Signer role name."
                  },
                  "signer_roles[].order": {
                    "type": "number",
                    "description": "Signer role order."
                  },
                  "form_fields_per_document[].document_index": {
                    "type": "number",
                    "description": "Document index for the form field."
                  },
                  "form_fields_per_document[].api_id": {
                    "type": "string",
                    "description": "Unique API id for the form field."
                  },
                  "form_fields_per_document[].type": {
                    "type": "string",
                    "description": "Form field type."
                  },
                  "form_fields_per_document[].required": {
                    "type": "boolean",
                    "description": "Whether the field is required."
                  },
                  "form_fields_per_document[].signer": {
                    "type": "string",
                    "description": "Signer index for the field."
                  },
                  "form_fields_per_document[].width": {
                    "type": "number",
                    "description": "Field width."
                  },
                  "form_fields_per_document[].height": {
                    "type": "number",
                    "description": "Field height."
                  },
                  "form_fields_per_document[].x": {
                    "type": "number",
                    "description": "Field x coordinate."
                  },
                  "form_fields_per_document[].y": {
                    "type": "number",
                    "description": "Field y coordinate."
                  },
                  "form_fields_per_document[].page": {
                    "type": "number",
                    "description": "Field page number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "template": {
                            "type": "object",
                            "properties": {
                              "templateId": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "warningMsg": {
                                  "type": "string"
                                },
                                "warningName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-account": {
      "get": {
        "operationId": "dropboxSign.get-account",
        "summary": "Get Account",
        "description": "Retrieves your Dropbox Sign account settings.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "description": "The ID of the account to retrieve. If both Account ID and Email Address are provided, Account ID wins.",
            "schema": {
              "type": "string",
              "description": "The ID of the account to retrieve. If both Account ID and Email Address are provided, Account ID wins."
            }
          },
          {
            "name": "emailAddress",
            "in": "query",
            "required": false,
            "description": "The email address of the account to retrieve when Account ID is not provided.",
            "schema": {
              "type": "string",
              "description": "The email address of the account to retrieve when Account ID is not provided."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "callbackUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isPaidHf": {
                            "type": "boolean"
                          },
                          "isPaidHs": {
                            "type": "boolean"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "quotas": {
                            "type": "object",
                            "properties": {
                              "apiSignatureRequestsLeft": {
                                "type": "number"
                              },
                              "documentsLeft": {
                                "type": "number"
                              },
                              "templatesLeft": {
                                "type": "number"
                              },
                              "templatesTotal": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "roleCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "settings": {
                            "type": "object",
                            "properties": {
                              "signerAccessCodes": {
                                "type": "boolean"
                              },
                              "smsAuthentication": {
                                "type": "boolean"
                              },
                              "smsDelivery": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-api-app": {
      "get": {
        "operationId": "dropboxSign.get-api-app",
        "summary": "Get API App",
        "description": "Retrieves an API app from Dropbox Sign by client ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-api-app"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "The client ID of the API App to retrieve.",
            "schema": {
              "type": "string",
              "description": "The client ID of the API App to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callbackUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "domains": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "isApproved": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "oauth": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "options": {
                            "type": "object",
                            "properties": {
                              "canInsertEverywhere": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ownerAccount": {
                            "type": "object",
                            "properties": {
                              "accountId": {
                                "type": "string"
                              },
                              "emailAddress": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "whiteLabelingOptions": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-bulk-send-job": {
      "get": {
        "operationId": "dropboxSign.get-bulk-send-job",
        "summary": "Get Bulk Send Job",
        "description": "Retrieves a bulk send job from Dropbox Sign by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-bulk-send-job"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bulk_send_job_id",
            "in": "query",
            "required": true,
            "description": "The ID of the Bulk Send Job to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the Bulk Send Job to retrieve."
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Which page number of the Bulk Send Job to return.",
            "schema": {
              "type": "number",
              "description": "Which page number of the Bulk Send Job to return."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of objects to return per page.",
            "schema": {
              "type": "number",
              "description": "Number of objects to return per page."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-embedded-sign-url": {
      "get": {
        "operationId": "dropboxSign.get-embedded-sign-url",
        "summary": "Get Embedded Sign URL",
        "description": "Retrieves an embedded signing URL from Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-embedded-sign-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature_id",
            "in": "query",
            "required": true,
            "description": "The id of the signature to get a sign URL for.",
            "schema": {
              "type": "string",
              "description": "The id of the signature to get a sign URL for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-embedded-template-edit-url": {
      "get": {
        "operationId": "dropboxSign.get-embedded-template-edit-url",
        "summary": "Get Embedded Template Edit URL",
        "description": "Retrieves an embedded template edit URL from Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-embedded-template-edit-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allow_edit_ccs",
            "in": "query",
            "required": false,
            "description": "Whether users can add or change CC roles while editing the template.",
            "schema": {
              "type": "boolean",
              "description": "Whether users can add or change CC roles while editing the template."
            }
          },
          {
            "name": "force_signer_roles",
            "in": "query",
            "required": false,
            "description": "Whether users can review and edit signer roles.",
            "schema": {
              "type": "boolean",
              "description": "Whether users can review and edit signer roles."
            }
          },
          {
            "name": "force_subject_message",
            "in": "query",
            "required": false,
            "description": "Whether users can review and edit the subject and message.",
            "schema": {
              "type": "boolean",
              "description": "Whether users can review and edit the subject and message."
            }
          },
          {
            "name": "preview_only",
            "in": "query",
            "required": false,
            "description": "Whether to allow preview without letting the user add fields.",
            "schema": {
              "type": "boolean",
              "description": "Whether to allow preview without letting the user add fields."
            }
          },
          {
            "name": "show_preview",
            "in": "query",
            "required": false,
            "description": "Whether to enable the editor preview experience.",
            "schema": {
              "type": "boolean",
              "description": "Whether to enable the editor preview experience."
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "description": "The id of the template to edit.",
            "schema": {
              "type": "string",
              "description": "The id of the template to edit."
            }
          },
          {
            "name": "test_mode",
            "in": "query",
            "required": false,
            "description": "Whether to edit a locked embedded template in test mode.",
            "schema": {
              "type": "boolean",
              "description": "Whether to edit a locked embedded template in test mode."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-signature-request": {
      "get": {
        "operationId": "dropboxSign.get-signature-request",
        "summary": "Get Signature Request",
        "description": "Retrieves a signature request from Dropbox Sign by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-signature-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature_request_id",
            "in": "query",
            "required": true,
            "description": "The id of the SignatureRequest to retrieve.",
            "schema": {
              "type": "string",
              "description": "The id of the SignatureRequest to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "apiId": {
                                  "type": "string"
                                },
                                "editor": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "name": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "detailsUrl": {
                            "type": "string"
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "filesUrl": {
                            "type": "string"
                          },
                          "finalCopyUri": {
                            "type": "string"
                          },
                          "hasError": {
                            "type": "boolean"
                          },
                          "isComplete": {
                            "type": "boolean"
                          },
                          "isDeclined": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          },
                          "originalTitle": {
                            "type": "string"
                          },
                          "requesterEmailAddress": {
                            "type": "string"
                          },
                          "signatureRequestId": {
                            "type": "string"
                          },
                          "signatures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "error": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "hasPin": {
                                  "type": "boolean"
                                },
                                "hasSmsAuth": {
                                  "type": "boolean"
                                },
                                "hasSmsDelivery": {
                                  "type": "boolean"
                                },
                                "lastRemindedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "lastViewedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "order": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "signatureId": {
                                  "type": "string"
                                },
                                "signedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "signerEmailAddress": {
                                  "type": "string"
                                },
                                "signerName": {
                                  "type": "string"
                                },
                                "signerRole": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "smsPhoneNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "statusCode": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "signerExperience": {
                            "type": "object",
                            "properties": {
                              "formView": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "signingRedirectUrl": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signingUrl": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "templateIds": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "testMode": {
                            "type": "boolean"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-signature-request-files": {
      "get": {
        "operationId": "dropboxSign.get-signature-request-files",
        "summary": "Get Signature Request Files",
        "description": "Retrieves signature request files from Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-signature-request-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "description": "Set to pdf for a single merged document or zip for a collection of individual documents.",
            "schema": {
              "type": "string",
              "description": "Set to pdf for a single merged document or zip for a collection of individual documents."
            }
          },
          {
            "name": "signature_request_id",
            "in": "query",
            "required": true,
            "description": "The ID of the Signature Request to retrieve files for.",
            "schema": {
              "type": "string",
              "description": "The ID of the Signature Request to retrieve files for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Raw PDF binary content returned by Dropbox Sign."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-signature-request-files-as-data-uri": {
      "get": {
        "operationId": "dropboxSign.get-signature-request-files-as-data-uri",
        "summary": "Get Signature Request Files as Data URI",
        "description": "Retrieves signature request files as data URIs from Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-signature-request-files-as-data-uri"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature_request_id",
            "in": "query",
            "required": true,
            "description": "The ID of the Signature Request to retrieve files for.",
            "schema": {
              "type": "string",
              "description": "The ID of the Signature Request to retrieve files for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "PDF file returned as a data URI string."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-signature-request-files-as-file-url": {
      "get": {
        "operationId": "dropboxSign.get-signature-request-files-as-file-url",
        "summary": "Get Signature Request Files as File URL",
        "description": "Retrieves signature request files as file URLs from Dropbox Sign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-signature-request-files-as-file-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force_download",
            "in": "query",
            "required": false,
            "description": "Set to 0 to display the PDF in the browser instead of downloading it.",
            "schema": {
              "type": "number",
              "description": "Set to 0 to display the PDF in the browser instead of downloading it."
            }
          },
          {
            "name": "signature_request_id",
            "in": "query",
            "required": true,
            "description": "The ID of the Signature Request to retrieve files for.",
            "schema": {
              "type": "string",
              "description": "The ID of the Signature Request to retrieve files for."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fileUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dropboxSign/latest/actions/get-template": {
      "get": {
        "operationId": "dropboxSign.get-template",
        "summary": "Get Template",
        "description": "Retrieves a template from Dropbox Sign by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dropboxSign/latest/actions/get-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "description": "The id of the Template to retrieve.",
            "schema": {
              "type": "string",
              "description": "The id of the Template to retrieve."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "accountId": {
                                  "type": "string"
                                },
                                "emailAddress": {
                                  "type": "string"
                                },
                                "isLocked": {
                                  "type": "boolean"
                                },
                                "isPaidHf": {
                                  "type": "boolean"
                                },
                                "isPaidHs": {
                                  "type": "boolean"
                                },
                                "quotas": {
                                  "type": "object",
                                  "properties": {
                                    "apiSignatureRequestsLeft": {
                                      "type": "number"
                                    },
                                    "documentsLeft": {
                                      "type": "number"
                                    },
                                    "templatesLeft": {
                                      "type": "number"
                                    },
                                    "templatesTotal": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "settings": {
                                  "type": "object",
                                  "properties": {
                                    "signerAccessCodes": {
                                      "type": "boolean"
                                    },
                                    "smsAuthentication": {
                                      "type": "boolean"
                                    },
                                    "smsDelivery": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "canEdit": {
                            "type": "boolean"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "formFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "apiId": {
                                        "type": "string"
                                      },
                                      "fontSize": {
                                        "type": "number"
                                      },
                                      "group": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "height": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "required": {
                                        "type": "boolean"
                                      },
                                      "signer": {
                                        "type": "number"
                                      },
                                      "type": {
                                        "type": "string"
                                      },
                                      "width": {
                                        "type": "number"
                                      },
                                      "x": {
                                        "type": "number"
                                      },
                                      "y": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "index": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "isCreator": {
                            "type": "boolean"
                          },
                          "isEmbedded": {
                            "type": "boolean"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          },
                          "namedFormFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "apiId": {
                                  "type": "string"
                                },
                                "fontSize": {
                                  "type": "number"
                                },
                                "group": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "height": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "signer": {
                                  "type": "number"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "width": {
                                  "type": "number"
                                },
                                "x": {
                                  "type": "number"
                                },
                                "y": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "reusableFormId": {
                            "type": "string"
                          },
                          "signerExperience": {
                            "type": "object",
                            "properties": {
                              "formView": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "signerRoles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "templateId": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
