{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Das Keyboard 5Q Universal API",
    "version": "0.0.4",
    "description": "Control Das Keyboard 5Q Q Cloud keyboard signals, including creating, listing, reading, coloring, and deleting signal records for 5Q devices."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dasKeyboard5Q/latest/actions/create-signal": {
      "post": {
        "operationId": "dasKeyboard5Q.create-signal",
        "summary": "Create Signal",
        "description": "Creates a signal in Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/create-signal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "zoneId",
                  "color",
                  "pid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the signal.",
                    "example": "Apple Stock Increase"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message displayed by the signal.",
                    "example": "Lucky you! Apple stock is greater than $500"
                  },
                  "zoneId": {
                    "type": "string",
                    "description": "Keyboard zone targeted by the signal, such as KEY_Q, 74, or 2,2.",
                    "example": "KEY_Q"
                  },
                  "color": {
                    "type": "string",
                    "description": "Signal color as a hex value beginning with # and followed by 3 or 6 hexadecimal digits.",
                    "example": "#FF0000"
                  },
                  "effect": {
                    "type": "string",
                    "description": "Visual effect for the signal.",
                    "example": "SET_COLOR",
                    "default": "SET_COLOR"
                  },
                  "pid": {
                    "type": "string",
                    "description": "PID of the target Das Keyboard device, such as DK5QPID.",
                    "example": "DK5QPID"
                  },
                  "isArchived": {
                    "type": "boolean",
                    "description": "Whether the signal is archived. Das Keyboard notes this is ignored on localhost.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "isRead": {
                    "type": "boolean",
                    "description": "Whether the signal is marked as read. Das Keyboard notes this is ignored on localhost.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "clientName": {
                    "type": "string",
                    "description": "Name of the client creating the signal, such as Zapier or Local Node Script.",
                    "example": "MindCloud",
                    "default": "MindCloud"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientName": {
                            "type": "string",
                            "description": "Client that created the signal."
                          },
                          "color": {
                            "type": "string",
                            "description": "Signal color."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp in milliseconds."
                          },
                          "effect": {
                            "type": "string",
                            "description": "Signal visual effect."
                          },
                          "id": {
                            "type": "number",
                            "description": "Signal ID."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the signal is archived."
                          },
                          "isMuted": {
                            "type": "boolean",
                            "description": "Whether the signal is muted in the API response."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the signal is read."
                          },
                          "message": {
                            "type": "string",
                            "description": "Signal message."
                          },
                          "name": {
                            "type": "string",
                            "description": "Signal name."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Device PID."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Update timestamp in milliseconds."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Q Cloud user ID."
                          },
                          "zoneId": {
                            "type": "string",
                            "description": "Keyboard zone ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/delete-signal": {
      "delete": {
        "operationId": "dasKeyboard5Q.delete-signal",
        "summary": "Delete Signal",
        "description": "Deletes a signal from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/delete-signal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID of the signal to delete.",
            "schema": {
              "type": "number",
              "description": "ID of the signal to delete.",
              "example": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/delete-signal-by-zone": {
      "delete": {
        "operationId": "dasKeyboard5Q.delete-signal-by-zone",
        "summary": "Delete Signal By Zone",
        "description": "Deletes a signal by zone ID from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/delete-signal-by-zone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "in": "query",
            "required": true,
            "description": "PID of the device whose zone signal should be deleted.",
            "schema": {
              "type": "string",
              "description": "PID of the device whose zone signal should be deleted.",
              "example": "DK5QPID"
            }
          },
          {
            "name": "zoneId",
            "in": "query",
            "required": true,
            "description": "Keyboard zone whose signal should be deleted.",
            "schema": {
              "type": "string",
              "description": "Keyboard zone whose signal should be deleted.",
              "example": "KEY_Q"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/get-signal-by-zone": {
      "get": {
        "operationId": "dasKeyboard5Q.get-signal-by-zone",
        "summary": "Get Signal By Zone",
        "description": "Retrieves a signal by zone ID from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/get-signal-by-zone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "in": "query",
            "required": true,
            "description": "PID of the device to inspect.",
            "schema": {
              "type": "string",
              "description": "PID of the device to inspect.",
              "example": "DK5QPID"
            }
          },
          {
            "name": "zoneId",
            "in": "query",
            "required": true,
            "description": "Keyboard zone to inspect, such as KEY_Q, 74, or 2,2.",
            "schema": {
              "type": "string",
              "description": "Keyboard zone to inspect, such as KEY_Q, 74, or 2,2.",
              "example": "KEY_Q"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientName": {
                            "type": "string",
                            "description": "Client that created the signal."
                          },
                          "color": {
                            "type": "string",
                            "description": "Signal color."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp in milliseconds."
                          },
                          "effect": {
                            "type": "string",
                            "description": "Signal visual effect."
                          },
                          "id": {
                            "type": "number",
                            "description": "Signal ID."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the signal is archived."
                          },
                          "isMuted": {
                            "type": "boolean",
                            "description": "Whether the signal is muted in the API response."
                          },
                          "message": {
                            "type": "string",
                            "description": "Signal message."
                          },
                          "name": {
                            "type": "string",
                            "description": "Signal name."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Device PID."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Update timestamp in milliseconds."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Q Cloud user ID."
                          },
                          "zoneId": {
                            "type": "string",
                            "description": "Keyboard zone ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/get-signal-color-by-zone": {
      "get": {
        "operationId": "dasKeyboard5Q.get-signal-color-by-zone",
        "summary": "Get Signal Color By Zone",
        "description": "Retrieves a signal color by zone ID from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/get-signal-color-by-zone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "in": "query",
            "required": true,
            "description": "PID of the device to inspect.",
            "schema": {
              "type": "string",
              "description": "PID of the device to inspect.",
              "example": "DK5QPID"
            }
          },
          {
            "name": "zoneId",
            "in": "query",
            "required": true,
            "description": "Keyboard zone whose current color should be fetched.",
            "schema": {
              "type": "string",
              "description": "Keyboard zone whose current color should be fetched.",
              "example": "KEY_Q"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "color": {
                            "type": "string",
                            "description": "Hex color returned for the device zone, or #000000 when there is no signal."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/list-device-shadow-signals": {
      "get": {
        "operationId": "dasKeyboard5Q.list-device-shadow-signals",
        "summary": "List Device Shadow Signals",
        "description": "Retrieves shadow signals for a device from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/list-device-shadow-signals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pid",
            "in": "query",
            "required": true,
            "description": "PID of the device whose shadow signals should be fetched.",
            "schema": {
              "type": "string",
              "description": "PID of the device whose shadow signals should be fetched.",
              "example": "DK5QPID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientName": {
                            "type": "string",
                            "description": "Client that created the signal."
                          },
                          "color": {
                            "type": "string",
                            "description": "Signal color."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp in milliseconds."
                          },
                          "effect": {
                            "type": "string",
                            "description": "Signal visual effect."
                          },
                          "id": {
                            "type": "number",
                            "description": "Signal ID."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the signal is archived."
                          },
                          "isMuted": {
                            "type": "boolean",
                            "description": "Whether the signal is muted in the API response."
                          },
                          "message": {
                            "type": "string",
                            "description": "Signal message."
                          },
                          "name": {
                            "type": "string",
                            "description": "Signal name."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Device PID."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Update timestamp in milliseconds."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Q Cloud user ID."
                          },
                          "zoneId": {
                            "type": "string",
                            "description": "Keyboard zone ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/list-shadow-signals": {
      "get": {
        "operationId": "dasKeyboard5Q.list-shadow-signals",
        "summary": "List Shadow Signals",
        "description": "Retrieves shadow signals from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/list-shadow-signals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientName": {
                            "type": "string",
                            "description": "Client that created the signal."
                          },
                          "color": {
                            "type": "string",
                            "description": "Signal color."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp in milliseconds."
                          },
                          "effect": {
                            "type": "string",
                            "description": "Signal visual effect."
                          },
                          "id": {
                            "type": "number",
                            "description": "Signal ID."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the signal is archived."
                          },
                          "isMuted": {
                            "type": "boolean",
                            "description": "Whether the signal is muted in the API response."
                          },
                          "message": {
                            "type": "string",
                            "description": "Signal message."
                          },
                          "name": {
                            "type": "string",
                            "description": "Signal name."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Device PID."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Update timestamp in milliseconds."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Q Cloud user ID."
                          },
                          "zoneId": {
                            "type": "string",
                            "description": "Keyboard zone ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dasKeyboard5Q/latest/actions/list-signals": {
      "get": {
        "operationId": "dasKeyboard5Q.list-signals",
        "summary": "List Signals",
        "description": "Retrieves signals from Das Keyboard 5Q.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dasKeyboard5Q/latest/actions/list-signals"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression for signals. The docs show createdAt,DESC or createdAt,ASC.",
            "schema": {
              "type": "string",
              "description": "Sort expression for signals. The docs show createdAt,DESC or createdAt,ASC.",
              "example": "createdAt,DESC",
              "default": "createdAt,DESC",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientName": {
                            "type": "string",
                            "description": "Client that created the signal."
                          },
                          "color": {
                            "type": "string",
                            "description": "Signal color."
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Creation timestamp in milliseconds."
                          },
                          "effect": {
                            "type": "string",
                            "description": "Signal visual effect."
                          },
                          "id": {
                            "type": "number",
                            "description": "Signal ID."
                          },
                          "isArchived": {
                            "type": "boolean",
                            "description": "Whether the signal is archived."
                          },
                          "isMuted": {
                            "type": "boolean",
                            "description": "Whether the signal is muted in the API response."
                          },
                          "isRead": {
                            "type": "boolean",
                            "description": "Whether the signal is read."
                          },
                          "message": {
                            "type": "string",
                            "description": "Signal message."
                          },
                          "name": {
                            "type": "string",
                            "description": "Signal name."
                          },
                          "pid": {
                            "type": "string",
                            "description": "Device PID."
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Update timestamp in milliseconds."
                          },
                          "userId": {
                            "type": "number",
                            "description": "Q Cloud user ID."
                          },
                          "zoneId": {
                            "type": "string",
                            "description": "Keyboard zone ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
