{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Comfy.ICU Universal API",
    "version": "0.0.2",
    "description": "Run ComfyUI workflows on Comfy.ICU and retrieve run status and generated outputs through the Comfy.ICU REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/comfyICU/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/comfyICU/latest/actions/get-run-status": {
      "get": {
        "operationId": "comfyICU.get-run-status",
        "summary": "Get Run Status",
        "description": "Retrieves a workflow run status from Comfy.ICU.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/comfyICU/latest/actions/get-run-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": true,
            "description": "Comfy.ICU workflow ID from the workflow page or API code snippet.",
            "schema": {
              "type": "string",
              "description": "Comfy.ICU workflow ID from the workflow page or API code snippet.",
              "example": "6bAK1X_Y7QERnV30MZdo2"
            }
          },
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "description": "Run ID returned by the Run Workflow action.",
            "schema": {
              "type": "string",
              "description": "Run ID returned by the Run Workflow action.",
              "example": "APCmAT2lf8O6sAgk2Svf2"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accelerator": {
                            "type": "string",
                            "description": "GPU accelerator used for the run."
                          },
                          "api_key_id": {
                            "type": "string",
                            "description": "Comfy.ICU API key ID associated with the run."
                          },
                          "client_agent": {
                            "type": "string",
                            "description": "Client agent that started the run, when available."
                          },
                          "completed_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when execution completed."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the run was created."
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request data associated with the run, including the submitted prompt."
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the run was deleted, when applicable."
                          },
                          "device": {
                            "type": "string",
                            "description": "Device used to run the workflow."
                          },
                          "download_count": {
                            "type": "number",
                            "description": "Number of downloads for run outputs."
                          },
                          "error": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Error details when the run fails."
                          },
                          "files": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Input files associated with the run."
                          },
                          "id": {
                            "type": "string",
                            "description": "Comfy.ICU run ID."
                          },
                          "is_nsfw": {
                            "type": "boolean",
                            "description": "Whether the run is marked as not safe for work."
                          },
                          "kind": {
                            "type": "string",
                            "description": "Run type, such as comfyui."
                          },
                          "name": {
                            "type": "string",
                            "description": "Run name when one is available."
                          },
                          "output": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Generated output file objects returned after the run completes."
                          },
                          "parent_run_id": {
                            "type": "string",
                            "description": "Parent run ID when this run is derived from another run."
                          },
                          "parent_workflow_id": {
                            "type": "string",
                            "description": "Parent workflow ID when this run is derived from another workflow."
                          },
                          "project_id": {
                            "type": "number",
                            "description": "Comfy.ICU project ID for the run."
                          },
                          "retry_count": {
                            "type": "number",
                            "description": "Number of retries for this run."
                          },
                          "run_time": {
                            "type": "number",
                            "description": "Run duration in milliseconds."
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when execution started."
                          },
                          "status": {
                            "type": "string",
                            "description": "Run status such as QUEUED, STARTED, COMPLETED, or ERROR."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Tags associated with the run."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the run was last updated."
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "User object associated with the run."
                          },
                          "user_id": {
                            "type": "string",
                            "description": "Comfy.ICU user ID associated with the run."
                          },
                          "view_count": {
                            "type": "number",
                            "description": "Number of views for the run."
                          },
                          "visibility": {
                            "type": "string",
                            "description": "Visibility setting for the run."
                          },
                          "webhook": {
                            "type": "string",
                            "description": "Webhook URL associated with the run, when provided."
                          },
                          "workflow_id": {
                            "type": "string",
                            "description": "Workflow ID associated with this run."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/comfyICU/latest/actions/run-workflow": {
      "post": {
        "operationId": "comfyICU.run-workflow",
        "summary": "Run Workflow",
        "description": "Creates a new workflow run in Comfy.ICU.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/comfyICU/latest/actions/run-workflow"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "workflowId",
                  "prompt"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "workflowId": {
                    "type": "string",
                    "description": "Comfy.ICU workflow ID from the workflow page or API code snippet.",
                    "example": "6bAK1X_Y7QERnV30MZdo2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "ComfyUI API-format workflow JSON prompt. Paste the full prompt JSON from Comfy.ICU's View API code output."
                  },
                  "files": {
                    "type": "string",
                    "description": "Optional JSON object mapping ComfyUI destination paths to public file URLs for inputs, models, LoRAs, or embeddings.",
                    "x-mindcloud-advanced": true
                  },
                  "webhook": {
                    "type": "string",
                    "description": "Optional public endpoint Comfy.ICU should call with run status updates.",
                    "example": "https://your-public-web-server.com/api/comfyicu-webhook",
                    "x-mindcloud-advanced": true
                  },
                  "accelerator": {
                    "type": "string",
                    "description": "Optional GPU accelerator to use for the workflow run.",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5"
                    ],
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Comfy.ICU run ID returned when a workflow run is queued."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
