{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Digistore24 Universal API",
    "version": "0.0.8",
    "description": "Manage products, purchases, and affiliates with Digistore24"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/digistore24/latest/actions/create-buy-url": {
      "post": {
        "operationId": "digistore24.create-buy-url",
        "summary": "Create Buy URL",
        "description": "Creates a customized buy URL in Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/create-buy-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productId": {
                    "type": "string",
                    "description": "Product ID"
                  },
                  "buyer": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Buyer object"
                  },
                  "buyer.email": {
                    "type": "string"
                  },
                  "buyer.salutation": {
                    "type": "string"
                  },
                  "buyer.title": {
                    "type": "string"
                  },
                  "buyer.lastName": {
                    "type": "string"
                  },
                  "buyer.firstName": {
                    "type": "string"
                  },
                  "buyer.company": {
                    "type": "string"
                  },
                  "buyer.street": {
                    "type": "string"
                  },
                  "buyer.city": {
                    "type": "string"
                  },
                  "buyer.zipcode": {
                    "type": "string"
                  },
                  "buyer.state": {
                    "type": "string"
                  },
                  "buyer.country": {
                    "type": "string"
                  },
                  "buyer.phoneNo": {
                    "type": "string"
                  },
                  "buyer.taxId": {
                    "type": "string"
                  },
                  "buyer.readonlyKeys": {
                    "type": "string"
                  },
                  "buyer.id": {
                    "type": "string"
                  },
                  "paymentPlan": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Payment plan object"
                  },
                  "paymentPlan.firstAmount": {
                    "type": "number"
                  },
                  "paymentPlan.otherAmounts": {
                    "type": "number"
                  },
                  "paymentPlan.currency": {
                    "type": "string"
                  },
                  "paymentPlan.numberOfInstallments": {
                    "type": "number"
                  },
                  "paymentPlan.firstBillingInterval": {
                    "type": "string"
                  },
                  "paymentPlan.otherBillingIntervals": {
                    "type": "string"
                  },
                  "paymentPlan.testInterval": {
                    "type": "string"
                  },
                  "paymentPlan.template": {
                    "type": "string"
                  },
                  "paymentPlan.upgradeOrderId": {
                    "type": "string"
                  },
                  "paymentPlan.upgradeType": {
                    "type": "string"
                  },
                  "paymentPlan.taxMode": {
                    "type": "string"
                  },
                  "tracking": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tracking object"
                  },
                  "tracking.custom": {
                    "type": "string"
                  },
                  "tracking.affiliate": {
                    "type": "string"
                  },
                  "tracking.affiliatePriority": {
                    "type": "string"
                  },
                  "tracking.campaignkey": {
                    "type": "string"
                  },
                  "tracking.trackingkey": {
                    "type": "string"
                  },
                  "tracking.utmSource": {
                    "type": "string"
                  },
                  "tracking.utmMedium": {
                    "type": "string"
                  },
                  "tracking.utmCampaign": {
                    "type": "string"
                  },
                  "tracking.utmTerm": {
                    "type": "string"
                  },
                  "tracking.utmContent": {
                    "type": "string"
                  },
                  "validUntil": {
                    "type": "string",
                    "description": "Validity end date/time"
                  },
                  "urls": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Redirect URLs object"
                  },
                  "urls.thankyouUrl": {
                    "type": "string"
                  },
                  "urls.fallbackUrl": {
                    "type": "string"
                  },
                  "urls.upgradeErrorUrl": {
                    "type": "string"
                  },
                  "placeholders": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Placeholder replacements object"
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Buy URL settings object"
                  },
                  "settings.orderformId": {
                    "type": "string"
                  },
                  "settings.affiliateCommissionRate": {
                    "type": "number"
                  },
                  "settings.affiliateCommissionFix": {
                    "type": "number"
                  },
                  "settings.voucherCode": {
                    "type": "string"
                  },
                  "settings.voucher1stRate": {
                    "type": "number"
                  },
                  "settings.voucherOthRates": {
                    "type": "number"
                  },
                  "settings.voucher1stAmount": {
                    "type": "number"
                  },
                  "settings.voucherOthAmounts": {
                    "type": "number"
                  },
                  "settings.forceRebilling": {
                    "type": "boolean"
                  },
                  "settings.payMethods[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "addons[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Addon list"
                  },
                  "addons[].productId": {
                    "type": "string"
                  },
                  "addons[].firstAmount": {
                    "type": "number"
                  },
                  "addons[].otherAmounts": {
                    "type": "number"
                  },
                  "addons[].singleAmount": {
                    "type": "number"
                  },
                  "addons[].defaultQuantity": {
                    "type": "number"
                  },
                  "addons[].maxQuantityType": {
                    "type": "string"
                  },
                  "addons[].maxQuantity": {
                    "type": "number"
                  },
                  "addons[].currency": {
                    "type": "string",
                    "description": "Three-character currency code for the add-on."
                  },
                  "addons[].isQuantityEditableBeforePurchase": {
                    "type": "string",
                    "description": "Whether the buyer can change the add-on quantity before purchase."
                  },
                  "addons[].isQuantityEditableAfterPurchase": {
                    "type": "string",
                    "description": "Whether the buyer can change the add-on quantity after purchase."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/create-payment-plan": {
      "post": {
        "operationId": "digistore24.create-payment-plan",
        "summary": "Create Payment Plan",
        "description": "Creates a new payment plan in Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/create-payment-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productId": {
                    "type": "string",
                    "description": "Product ID"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Payment plan properties object"
                  },
                  "data.firstAmount": {
                    "type": "number",
                    "description": "Amount of first payment"
                  },
                  "data.firstBillingInterval": {
                    "type": "string",
                    "description": "Interval between purchase and second payment"
                  },
                  "data.currency": {
                    "type": "string",
                    "description": "Three-character currency code"
                  },
                  "data.otherAmounts": {
                    "type": "number",
                    "description": "Amount for follow-up payments"
                  },
                  "data.otherBillingIntervals": {
                    "type": "string",
                    "description": "Interval for follow-up payments"
                  },
                  "data.numberOfInstallments": {
                    "type": "number",
                    "description": "Number of installments"
                  },
                  "data.isActive": {
                    "type": "boolean",
                    "description": "Whether the payment plan is active"
                  },
                  "data.cancelPolicy": {
                    "type": "string",
                    "description": "Minimum term policy"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/create-product": {
      "post": {
        "operationId": "digistore24.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "data"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Product properties object"
                  },
                  "data.nameIntern": {
                    "type": "string",
                    "description": "Internal product name"
                  },
                  "data.nameDe": {
                    "type": "string",
                    "description": "German product name"
                  },
                  "data.nameEn": {
                    "type": "string",
                    "description": "English product name"
                  },
                  "data.nameEs": {
                    "type": "string",
                    "description": "Spanish product name"
                  },
                  "data.descriptionDe": {
                    "type": "string",
                    "description": "German product description"
                  },
                  "data.descriptionEn": {
                    "type": "string",
                    "description": "English product description"
                  },
                  "data.descriptionEs": {
                    "type": "string",
                    "description": "Spanish product description"
                  },
                  "data.salespageUrl": {
                    "type": "string",
                    "description": "Sales page URL"
                  },
                  "data.upsellSalespageUrl": {
                    "type": "string",
                    "description": "Upsell sales page URL"
                  },
                  "data.thankyouUrl": {
                    "type": "string",
                    "description": "Thank you page URL"
                  },
                  "data.imageUrl": {
                    "type": "string",
                    "description": "Product image URL"
                  },
                  "data.productTypeId": {
                    "type": "number",
                    "description": "Product type ID"
                  },
                  "data.approvalStatus": {
                    "type": "string",
                    "description": "Product approval status"
                  },
                  "data.affiliateCommission": {
                    "type": "number",
                    "description": "Affiliate commission amount"
                  },
                  "data.buyerType": {
                    "type": "string",
                    "description": "Buyer type"
                  },
                  "data.isAddressInputMandatory": {
                    "type": "string",
                    "description": "Whether address input is mandatory"
                  },
                  "data.addOrderDataToThankyouPageUrl": {
                    "type": "string",
                    "description": "Whether to append order data to the thank you URL"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/get-purchase": {
      "get": {
        "operationId": "digistore24.get-purchase",
        "summary": "Get Purchase",
        "description": "Retrieves detailed purchase data from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/get-purchase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseId",
            "in": "query",
            "required": true,
            "description": "Purchase ID",
            "schema": {
              "type": "string",
              "description": "Purchase ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-buy-urls": {
      "get": {
        "operationId": "digistore24.list-buy-urls",
        "summary": "List Buy URLs",
        "description": "Retrieves a list of buy URLs from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-buy-urls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Buy URL ID"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp"
                          },
                          "productId": {
                            "type": "number",
                            "description": "Product ID"
                          },
                          "url": {
                            "type": "string",
                            "description": "Buy URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-commissions": {
      "get": {
        "operationId": "digistore24.list-commissions",
        "summary": "List Commissions",
        "description": "Retrieves a list of commission amounts from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-commissions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date/time",
            "schema": {
              "type": "string",
              "description": "Start date/time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date/time",
            "schema": {
              "type": "string",
              "description": "End date/time"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "number",
              "description": "Page number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Page size",
            "schema": {
              "type": "number",
              "description": "Page size"
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "required": false,
            "description": "Transaction type",
            "schema": {
              "type": "string",
              "description": "Transaction type"
            }
          },
          {
            "name": "commissionType",
            "in": "query",
            "required": false,
            "description": "Commission type",
            "schema": {
              "type": "string",
              "description": "Commission type"
            }
          },
          {
            "name": "purchaseId",
            "in": "query",
            "required": false,
            "description": "Purchase ID",
            "schema": {
              "type": "string",
              "description": "Purchase ID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "Commission amount"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code"
                          },
                          "id": {
                            "type": "number",
                            "description": "Commission ID"
                          },
                          "purchaseId": {
                            "type": "string",
                            "description": "Purchase ID"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Commission reason"
                          },
                          "schedulePayoutAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Scheduled payout date"
                          },
                          "transactionId": {
                            "type": "number",
                            "description": "Transaction ID"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-invoices": {
      "get": {
        "operationId": "digistore24.list-invoices",
        "summary": "List Invoices",
        "description": "Retrieves invoices for a Digistore24 purchase.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-invoices"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purchaseId",
            "in": "query",
            "required": true,
            "description": "Purchase ID",
            "schema": {
              "type": "string",
              "description": "Purchase ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-payment-plans": {
      "get": {
        "operationId": "digistore24.list-payment-plans",
        "summary": "List Payment Plans",
        "description": "Retrieves payment plans for a Digistore24 product.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-payment-plans"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "number",
              "description": "Product ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-payouts": {
      "get": {
        "operationId": "digistore24.list-payouts",
        "summary": "List Payouts",
        "description": "Retrieves payout credit notes from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-payouts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "affiliateGrossAmount": {
                            "type": "number",
                            "description": "Affiliate gross amount"
                          },
                          "affiliateNetAmount": {
                            "type": "number",
                            "description": "Affiliate net amount"
                          },
                          "affiliateVatAmount": {
                            "type": "number",
                            "description": "Affiliate VAT amount"
                          },
                          "commissionListUrl": {
                            "type": "string",
                            "description": "Commission list URL"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "creditNoteUrl": {
                            "type": "string",
                            "description": "Credit note URL"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Currency code"
                          },
                          "feeAmount": {
                            "type": "number",
                            "description": "Fee amount"
                          },
                          "feeVatAmount": {
                            "type": "number",
                            "description": "Fee VAT amount"
                          },
                          "id": {
                            "type": "number",
                            "description": "Payout ID"
                          },
                          "payoutMethod": {
                            "type": "string",
                            "description": "Payout method"
                          },
                          "processedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Processing timestamp"
                          },
                          "resellerId": {
                            "type": "number",
                            "description": "Reseller ID"
                          },
                          "resellerName": {
                            "type": "string",
                            "description": "Reseller name"
                          },
                          "vatRate": {
                            "type": "number",
                            "description": "VAT rate"
                          },
                          "vatRegulation": {
                            "type": "string",
                            "description": "VAT regulation"
                          },
                          "vendorGrossAmount": {
                            "type": "number",
                            "description": "Vendor gross amount"
                          },
                          "vendorNetAmount": {
                            "type": "number",
                            "description": "Vendor net amount"
                          },
                          "vendorVatAmount": {
                            "type": "number",
                            "description": "Vendor VAT amount"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-product-groups": {
      "get": {
        "operationId": "digistore24.list-product-groups",
        "summary": "List Product Groups",
        "description": "Retrieves a list of product groups from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-product-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Product group ID"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Product group name"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-products": {
      "get": {
        "operationId": "digistore24.list-products",
        "summary": "List Products",
        "description": "Retrieves a list of products from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-products"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Sort products by name or product group",
            "schema": {
              "type": "string",
              "description": "Sort products by name or product group"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp"
                          },
                          "id": {
                            "type": "number",
                            "description": "Product ID"
                          },
                          "language": {
                            "type": "string",
                            "description": "Product language"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last modification timestamp"
                          },
                          "name": {
                            "type": "string",
                            "description": "Product name"
                          },
                          "note": {
                            "type": "string",
                            "description": "Product note"
                          },
                          "productGroupId": {
                            "type": "number",
                            "description": "Product group ID"
                          },
                          "productGroupName": {
                            "type": "string",
                            "description": "Product group name"
                          },
                          "tag": {
                            "type": "string",
                            "description": "Product tag"
                          },
                          "unitsLeft": {
                            "type": "string",
                            "description": "Remaining units or infinite"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-purchases": {
      "get": {
        "operationId": "digistore24.list-purchases",
        "summary": "List Purchases",
        "description": "Retrieves a list of purchases from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-purchases"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start of the purchase time range, for example -24h.",
            "schema": {
              "type": "string",
              "description": "Start of the purchase time range, for example -24h.",
              "default": "-24h"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End of the purchase time range, for example now.",
            "schema": {
              "type": "string",
              "description": "End of the purchase time range, for example now.",
              "default": "now"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search filters",
            "schema": {
              "type": "string",
              "description": "Search filters"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Purchase field to sort by, such as date or purchase_id.",
            "schema": {
              "type": "string",
              "description": "Purchase field to sort by, such as date or purchase_id.",
              "default": "date"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort direction: asc or desc.",
            "schema": {
              "type": "string",
              "description": "Sort direction: asc or desc.",
              "default": "asc"
            }
          },
          {
            "name": "loadTransactions",
            "in": "query",
            "required": false,
            "description": "Include transaction details in the response.",
            "schema": {
              "type": "boolean",
              "description": "Include transaction details in the response.",
              "default": false
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "description": "Page number starting at 1.",
            "schema": {
              "type": "number",
              "description": "Page number starting at 1.",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of purchases per page.",
            "schema": {
              "type": "number",
              "description": "Number of purchases per page.",
              "default": 1000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/digistore24/latest/actions/list-transactions": {
      "get": {
        "operationId": "digistore24.list-transactions",
        "summary": "List Transactions",
        "description": "Retrieves payments, returns, and chargebacks from Digistore24.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/digistore24/latest/actions/list-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date/time",
            "schema": {
              "type": "string",
              "description": "Start date/time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date/time",
            "schema": {
              "type": "string",
              "description": "End date/time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Structured search filters",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Structured search filters"
            }
          },
          {
            "name": "search.role",
            "in": "query",
            "required": false,
            "description": "Filter by role",
            "schema": {
              "type": "string",
              "description": "Filter by role"
            }
          },
          {
            "name": "search.productId",
            "in": "query",
            "required": false,
            "description": "Filter by product ID",
            "schema": {
              "type": "string",
              "description": "Filter by product ID"
            }
          },
          {
            "name": "search.firstName",
            "in": "query",
            "required": false,
            "description": "Filter by buyer first name",
            "schema": {
              "type": "string",
              "description": "Filter by buyer first name"
            }
          },
          {
            "name": "search.lastName",
            "in": "query",
            "required": false,
            "description": "Filter by buyer last name",
            "schema": {
              "type": "string",
              "description": "Filter by buyer last name"
            }
          },
          {
            "name": "search.email",
            "in": "query",
            "required": false,
            "description": "Filter by buyer email",
            "schema": {
              "type": "string",
              "description": "Filter by buyer email"
            }
          },
          {
            "name": "search.hasAffiliate",
            "in": "query",
            "required": false,
            "description": "Filter transactions with or without affiliate",
            "schema": {
              "type": "boolean",
              "description": "Filter transactions with or without affiliate"
            }
          },
          {
            "name": "search.affiliateName",
            "in": "query",
            "required": false,
            "description": "Filter by affiliate name",
            "schema": {
              "type": "string",
              "description": "Filter by affiliate name"
            }
          },
          {
            "name": "search.payMethod",
            "in": "query",
            "required": false,
            "description": "Filter by payment method",
            "schema": {
              "type": "string",
              "description": "Filter by payment method"
            }
          },
          {
            "name": "search.billingType",
            "in": "query",
            "required": false,
            "description": "Filter by billing type",
            "schema": {
              "type": "string",
              "description": "Filter by billing type"
            }
          },
          {
            "name": "search.transactionType",
            "in": "query",
            "required": false,
            "description": "Filter by transaction type",
            "schema": {
              "type": "string",
              "description": "Filter by transaction type"
            }
          },
          {
            "name": "search.currency",
            "in": "query",
            "required": false,
            "description": "Filter by currency code",
            "schema": {
              "type": "string",
              "description": "Filter by currency code"
            }
          },
          {
            "name": "search.purchaseId",
            "in": "query",
            "required": false,
[...]
