{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cerbo Universal API",
    "version": "0.0.17",
    "description": "Cerbo provides all-in-one EHR and practice management software for modern healthcare practices."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cerbo/latest/actions/add-patient-health-maintenance-reading": {
      "post": {
        "operationId": "cerbo.add-patient-health-maintenance-reading",
        "summary": "Add Patient Health Maintenance Reading",
        "description": "Adds a patient health maintenance reading in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/add-patient-health-maintenance-reading"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "patient_id",
                  "health_maintenance_id",
                  "date"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "patient_id": {
                    "type": "number",
                    "description": "ID of patient"
                  },
                  "health_maintenance_id": {
                    "type": "number",
                    "description": "ID of health maintenance entry *See “HEALTH MAINTENANCE ENDPOINTS” documentation to get definitions from the master health maintenance trackers list"
                  },
                  "date": {
                    "type": "string",
                    "description": "A string specifying the date of the health maintenance tracker."
                  },
                  "notes": {
                    "type": "number",
                    "description": "A string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/add-patient-laboratory": {
      "post": {
        "operationId": "cerbo.add-patient-laboratory",
        "summary": "Add Patient Laboratory",
        "description": "Adds a patient laboratory record in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/add-patient-laboratory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "patient_id",
                  "laboratory_id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "patient_id": {
                    "type": "number",
                    "description": "ID of the patient"
                  },
                  "laboratory_id": {
                    "type": "number",
                    "description": "An integer, the laboratory ID to add. See the \"Facility Endpoints\" documentation for how to find the ID in the master laboratories database"
                  },
                  "priority_order": {
                    "type": "number",
                    "description": "An integer representing where in the patient's laboratories list this entry should go (lowest number is considered the first/preferred listing). If null, the system will look at set_as_primary instead.",
                    "x-mindcloud-advanced": true
                  },
                  "set_as_primary": {
                    "type": "boolean",
                    "description": "A boolean value representing if this should be added as the patient's new preferred listing, or just added to the bottom of the list. If priority_order is set, this argument will be ignored.",
                    "x-mindcloud-advanced": true
                  },
                  "note": {
                    "type": "string",
                    "description": "A string, 255 character max",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-appointment": {
      "post": {
        "operationId": "cerbo.create-appointment",
        "summary": "Create Appointment",
        "description": "Creates a new appointment in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-appointment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "start_date_time",
                  "end_date_time",
                  "provider_ids[]",
                  "appointment_type",
                  "title",
                  "appointment_note"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "start_date_time": {
                    "type": "string",
                    "description": "Starting datetime of the date range. This field should be formatted as `YYYY-MM-DD HH:MM`."
                  },
                  "end_date_time": {
                    "type": "string",
                    "description": "Ending datetime of the date range. This field should be formatted as `YYYY-MM-DD HH:MM`."
                  },
                  "provider_ids[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "An array of provider identifiers associated with this appointment."
                  },
                  "pt_id": {
                    "type": "number",
                    "description": "A patient identifier associated with this appointment.",
                    "x-mindcloud-advanced": true
                  },
                  "appointment_type": {
                    "type": "string",
                    "description": "Valid appointment type `name`."
                  },
                  "title": {
                    "type": "string",
                    "description": "Display title of the appointment."
                  },
                  "appointment_note": {
                    "type": "string",
                    "description": "Accompanying notes for the appointment."
                  },
                  "status": {
                    "type": "string",
                    "description": "The status of the appointment. Valid statuses include `scheduled`, `confirmed`, `checked-in`, `in-room`, `cancelled`. Clinic custom statuses may also be used.",
                    "default": "scheduled",
                    "x-mindcloud-advanced": true
                  },
                  "telemedicine": {
                    "type": "boolean",
                    "description": "Flag for whether or not this is a telemedicine appointment.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-appointment-type": {
      "post": {
        "operationId": "cerbo.create-appointment-type",
        "summary": "Create Appointment Type",
        "description": "Creates a new appointment type in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-appointment-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "default_length"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the appointment type. Must be unique and contain at least one letter or number."
                  },
                  "default_length": {
                    "type": "number",
                    "description": "Default duration in minutes. Must be between 5 minutes and 12 hours (720 minutes)."
                  },
                  "name_portal": {
                    "type": "string",
                    "description": "Name displayed on the patient portal. Defaults to the same value as name if not specified.",
                    "x-mindcloud-advanced": true
                  },
                  "color_hex": {
                    "type": "string",
                    "description": "Six-character hexadecimal color code (without #) for calendar display. A random color is assigned if not specified.",
                    "x-mindcloud-advanced": true
                  },
                  "description": {
                    "type": "string",
                    "description": "Internal description of the appointment type.",
                    "x-mindcloud-advanced": true
                  },
                  "allow_on_portal": {
                    "type": "boolean",
                    "description": "Whether patients can book this type via the portal.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "number_of_overlaps_to_allow": {
                    "type": "number",
                    "description": "Maximum concurrent appointments of this type allowed (for group appointments).",
                    "default": 1,
                    "x-mindcloud-advanced": true
                  },
                  "portal_notice": {
                    "type": "string",
                    "description": "Notice displayed to patients when booking via portal.",
                    "x-mindcloud-advanced": true
                  },
                  "which_providers[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Array of provider IDs who can have this appointment type. Use [0] for all providers.",
                    "x-mindcloud-advanced": true
                  },
                  "sort_order": {
                    "type": "number",
                    "description": "Display order in appointment type lists.",
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "telemedicine": {
                    "type": "boolean",
                    "description": "Whether this is a telemedicine appointment type.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "email_notice_on": {
                    "type": "boolean",
                    "description": "Send email notification when appointment is created.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "email_notice": {
                    "type": "string",
                    "description": "Email body for appointment creation notification.",
                    "x-mindcloud-advanced": true
                  },
                  "email_notice_subject": {
                    "type": "string",
                    "description": "Subject line for appointment creation email.",
                    "default": "You have a new appointment",
                    "x-mindcloud-advanced": true
                  },
                  "email_reminder_on": {
                    "type": "boolean",
                    "description": "Send automated email reminder before appointment.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "email_reminder": {
                    "type": "string",
                    "description": "Email body for reminder.",
                    "x-mindcloud-advanced": true
                  },
                  "email_reminder_subject": {
                    "type": "string",
                    "description": "Subject line for reminder email.",
                    "default": "Reminder about your upcoming appointment",
                    "x-mindcloud-advanced": true
                  },
                  "email_reminder_hrs_before": {
                    "type": "number",
                    "description": "Hours before appointment to send email reminder (1 hour to 30 days).",
                    "default": 48,
                    "x-mindcloud-advanced": true
                  },
                  "sms_reminder_on": {
                    "type": "boolean",
                    "description": "Send automated SMS reminder before appointment.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "sms_reminder": {
                    "type": "string",
                    "description": "SMS message text for reminder (max 220 characters).",
                    "x-mindcloud-advanced": true
                  },
                  "sms_reminder_hrs_before": {
                    "type": "number",
                    "description": "Hours before appointment to send SMS reminder (1 hour to 30 days).",
                    "default": 24,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allow_on_portal": {
                            "type": "boolean"
                          },
                          "color_hex": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created_by": {
                            "type": "number"
                          },
                          "default_length": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "email_notice": {
                            "type": "string"
                          },
                          "email_notice_on": {
                            "type": "boolean"
                          },
                          "email_notice_subject": {
                            "type": "string"
                          },
                          "email_reminder": {
                            "type": "string"
                          },
                          "email_reminder_hrs_before": {
                            "type": "number"
                          },
                          "email_reminder_on": {
                            "type": "boolean"
                          },
                          "email_reminder_subject": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "inactive_date": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "name_portal": {
                            "type": "string"
                          },
                          "number_of_overlaps_to_allow": {
                            "type": "number"
                          },
                          "object": {
                            "type": "string"
                          },
                          "portal_notice": {
                            "type": "string"
                          },
                          "sms_reminder": {
                            "type": "string"
                          },
                          "sms_reminder_hrs_before": {
                            "type": "number"
                          },
                          "sms_reminder_on": {
                            "type": "boolean"
                          },
                          "sort_order": {
                            "type": "number"
                          },
                          "telemedicine": {
                            "type": "boolean"
                          },
                          "which_providers": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-email-appointment-reminder": {
      "post": {
        "operationId": "cerbo.create-email-appointment-reminder",
        "summary": "Create Email Appointment Reminder",
        "description": "Creates a new email appointment reminder in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-email-appointment-reminder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "appointment_id",
                  "scheduled_datetime",
                  "subject",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "appointment_id": {
                    "type": "number",
                    "description": "ID of the appointment"
                  },
                  "scheduled_datetime": {
                    "type": "string",
                    "description": "Datetime for the reminder to be sent. This field should be formatted as `YYYY-MM-DD HH:MM`."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject for the reminder email."
                  },
                  "text": {
                    "type": "string",
                    "description": "Body of the reminder email."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-encounter": {
      "post": {
        "operationId": "cerbo.create-encounter",
        "summary": "Create Encounter",
        "description": "Creates a new encounter in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-encounter"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "pt_id": {
                    "type": "number",
                    "description": "A valid ID of a non-archived patient.",
                    "x-mindcloud-advanced": true
                  },
                  "date_of_service": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A time stamp (YYYY-MM-DD format preferred) representing the date the encounter took or will take place. Can be future or past.",
                    "x-mindcloud-advanced": true
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the encounter note.",
                    "x-mindcloud-advanced": true
                  },
                  "content": {
                    "type": "string",
                    "description": "The plaintext-formatted text of the encounter note.",
                    "x-mindcloud-advanced": true
                  },
                  "encounter_type": {
                    "type": "string",
                    "description": "The two-letter abbreviation of the type of encounter note you are creating.",
                    "x-mindcloud-advanced": true
                  },
                  "owner": {
                    "type": "number",
                    "description": "A valid ID of a non-archived, non-resource user who is the expected owner/manager of the note. Default is the API “user” itself.",
                    "x-mindcloud-advanced": true
                  },
                  "parent_encounter": {
                    "type": "number",
                    "description": "The valid ID of an existing encounter for the designated patient. If set, the new note will be filed as a sub-note of the designated parent encounter. The parent note must belong to the patient set by pt_id and it must not be a sub-note itself.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-inventory": {
      "post": {
        "operationId": "cerbo.create-inventory",
        "summary": "Create Inventory",
        "description": "Creates a new inventory item in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "linked_product_type",
                  "charge_id",
                  "preferred_stock_level",
                  "current_quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the inventory item"
                  },
                  "nickname": {
                    "type": "string",
                    "description": "Short nickname for the item",
                    "x-mindcloud-advanced": true
                  },
                  "linked_product_type": {
                    "type": "string",
                    "description": "Type of linked product: - `rxs`: Links to a medication in the drugs database - `plan_other`: Links to a supplement - `general`: General inventory item (no linked product)"
                  },
                  "linked_product_id": {
                    "type": "number",
                    "description": "ID of the linked product. Required for \"rxs\" and \"plan_other\" types.",
                    "x-mindcloud-advanced": true
                  },
                  "charge_id": {
                    "type": "number",
                    "description": "ID of the associated charge in the charge master"
                  },
                  "preferred_stock_level": {
                    "type": "number",
                    "description": "Target stock level to maintain"
                  },
                  "current_quantity": {
                    "type": "number",
                    "description": "Current quantity in stock"
                  },
                  "preferred_restock_level": {
                    "type": "number",
                    "description": "Level at which to trigger restocking",
                    "x-mindcloud-advanced": true
                  },
                  "manufacturer": {
                    "type": "string",
                    "description": "Manufacturer name",
                    "x-mindcloud-advanced": true
                  },
                  "expiration_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiration date (must be in the future)",
                    "x-mindcloud-advanced": true
                  },
                  "lot_number": {
                    "type": "string",
                    "description": "Lot number for tracking",
                    "x-mindcloud-advanced": true
                  },
                  "discontinued": {
                    "type": "boolean",
                    "description": "Whether the item is discontinued",
                    "x-mindcloud-advanced": true
                  },
                  "date_discontinued": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date the item was discontinued",
                    "x-mindcloud-advanced": true
                  },
                  "external_identifier": {
                    "type": "string",
                    "description": "External system identifier for integration",
                    "x-mindcloud-advanced": true
                  },
                  "location": {
                    "type": "string",
                    "description": "Location name (for multi-location practices)",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.ndc_code": {
                    "type": "string",
                    "description": "National Drug Code (for medications)",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.generic_for": {
                    "type": "string",
                    "description": "Brand name this is generic for",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.charge_per_dose": {
                    "type": "string",
                    "description": "Charge amount per dose",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.charge_per_dispense": {
                    "type": "string",
                    "description": "Charge amount per dispense",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.cost_per_dose": {
                    "type": "string",
                    "description": "Cost per dose",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.patient_information_url": {
                    "type": "string",
                    "description": "URL to patient information sheet",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.package_form": {
                    "type": "string",
                    "description": "Form of packaging",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.product_code": {
                    "type": "string",
                    "description": "Product code",
                    "x-mindcloud-advanced": true
                  },
                  "package_properties.description": {
                    "type": "string",
                    "description": "Product description/notes",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charge_id": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "current_quantity": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "linked_product_id": {
                            "type": "number"
                          },
                          "linked_product_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "preferred_stock_level": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-patient": {
      "post": {
        "operationId": "cerbo.create-patient",
        "summary": "Create Patient",
        "description": "Creates a new patient in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-patient"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "first_name",
                  "last_name",
                  "dob",
                  "sex"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string",
                    "description": "YYYY-MM-DD"
                  },
                  "sex": {
                    "type": "string",
                    "description": "must be 'M', 'F', or '?'"
                  },
                  "inactive": {
                    "type": "string",
                    "description": "Sets the patient status. Accepts the following values: | Value | Result | |---|---| | `\"prospective\"` or `\"-1\"` | Prospective patient | | `\"0\"`, empty, or omitted | Active patient (default) | | `\"inactive\"` or `\"1\"` | Inactive patient | | `\"deceased\"` or `\"dead\"` or `\"2\"` | Deceased patient | **Important — GET response behavior:** When reading patient data via GET, the `inactive` field is cast to a boolean rather than returning the original value. This means: | Stored status | `inactive` in GET | `patient_status_description` in GET | |---|---|---| | Prospective (`-1`) | `true` | `\"prospective\"` | | Active (`0`) | `false` | `\"active\"` | | Inactive (`1`) | `true` | `\"inactive\"` | | Deceased (`2`) | `true` | `\"deceased\"` | Because `inactive` returns `true` for prospective, inactive, and deceased patients alike, you **must** use the `patient_status_description` field to determine the actual status. This is a known legacy serialization issue where the create/update and read representations differ.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-patient-blood-pressure-vital": {
      "post": {
        "operationId": "cerbo.create-patient-blood-pressure-vital",
        "summary": "Create Patient Blood Pressure Vital",
        "description": "Creates a new patient blood pressure vital in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-patient-blood-pressure-vital"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "patient_id": {
                    "type": "number"
                  },
                  "systolic": {
                    "type": "string",
                    "description": "A string specifying the systolic pressure reading",
                    "x-mindcloud-advanced": true
                  },
                  "diastolic": {
                    "type": "string",
                    "description": "A string specifying the diastolic pressure reading",
                    "x-mindcloud-advanced": true
                  },
                  "pulse": {
                    "type": "string",
                    "description": "A string specifying the pulse (b/min) reading",
                    "x-mindcloud-advanced": true
                  },
                  "comments": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "date_taken": {
                    "type": "string",
                    "description": "A string specifying the date and time of the vital reading (if no valid 3-letter timezone specified, defaults to UTC). If left blank, defaults to the current time.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-patient-custom-vital": {
      "post": {
        "operationId": "cerbo.create-patient-custom-vital",
        "summary": "Create Patient Custom Vital",
        "description": "Creates a new patient custom vital in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-patient-custom-vital"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "patient_id": {
                    "type": "number"
                  },
                  "vital_id": {
                    "type": "number"
                  },
                  "value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "abnormal": {
                    "type": "boolean",
                    "description": "A boolean value to indicate if the reading should be marked as abnormal. If left blank, defaults to false (the vital reading is added as “normal”)",
                    "x-mindcloud-advanced": true
                  },
                  "comments": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "date_taken": {
                    "type": "string",
                    "description": "A string specifying the date and time of the vital reading (if no valid 3-letter timezone specified, defaults to UTC). If left blank, defaults to the current time.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-patient-document": {
      "post": {
        "operationId": "cerbo.create-patient-document",
        "summary": "Create Patient Document",
        "description": "Creates a new patient document in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-patient-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "patient_id": {
                    "type": "number",
                    "description": "ID of patient"
                  },
                  "enqueue": {
                    "type": "boolean",
                    "description": "(true by default) If true, the system will insert the document into the active patient portal queue so that the clinic is notified and can review the proposed addition",
                    "x-mindcloud-advanced": true
                  },
                  "pt_id": {
                    "type": "number",
                    "description": "(required) An integer identifier for the patient associated with the document.",
                    "x-mindcloud-advanced": true
                  },
                  "mime_type": {
                    "type": "string",
                    "description": "(required) A string indicating the MIME type of the file.",
                    "x-mindcloud-advanced": true
                  },
                  "name": {
                    "type": "string",
                    "description": "(required) A string to be used as the title of the document.",
                    "x-mindcloud-advanced": true
                  },
                  "base64_content": {
                    "type": "string",
                    "description": "(required) Binary data, encoded base64. Maximum file size is 16MB.",
                    "x-mindcloud-advanced": true
                  },
                  "notes": {
                    "type": "string",
                    "description": "(optional, enqueue=true only) A string to provide highlights or context about the document submission request when document is being enqueued (if accepted from the queue, this will get added to the document `content` section)",
                    "x-mindcloud-advanced": true
                  },
                  "content": {
                    "type": "string",
                    "description": "(optional, enqueue=false only) A string to provide highlights or context about the document when document is being injected directly into the patient chart (enqueue=false)",
                    "x-mindcloud-advanced": true
                  },
                  "folder": {
                    "type": "string",
                    "description": "(optional) Which tab to file a document under. Argument is ignored if the `enqueue` parameter is set to true.",
                    "x-mindcloud-advanced": true
                  },
                  "subfolder": {
                    "type": "string",
                    "description": "(optional) Name of subfolder to file document under. While this is a freetext valie, it is strongly recommended that standardized subfolders be used in each top-level folder to avoid creating large numbers of distict subfolders.",
                    "x-mindcloud-advanced": true
                  },
                  "flag": {
                    "type": "boolean",
                    "description": "(optional) Set to true if this is a \"key document\" that will be accessibe on the first document tab of the patient dashboard",
                    "x-mindcloud-advanced": true
                  },
                  "requires_review": {
                    "type": "number",
                    "description": "(optional) If set, the id of the provider who needs to review this document. Must be a non-deleted user ID or -1 if it should be assigned to all provider tasks lists",
                    "x-mindcloud-advanced": true
                  },
                  "dr_reviewer": {
                    "type": "number",
                    "description": "(optional) If set, the id of the provider who signed off/reviewed this document. Set only if the document has been marked as reviewed",
                    "x-mindcloud-advanced": true
                  },
                  "dr_review_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "(optional) If `dr_reviewer` is set, the date/time when the provider reviewed the document",
                    "x-mindcloud-advanced": true
                  },
                  "review_status": {
                    "type": "number",
                    "description": "(optional) If the document still needs review by user specified by `requires_review`, set to 1",
                    "x-mindcloud-advanced": true
                  },
                  "result_code": {
                    "type": "number",
                    "description": "(optional) If a document is known too represent abnormal findings for the patient, you can flag it as borderline or abnormal, which changes the way the document displays. Values: 0 = Normal, 1 = Borderline, 2 = Abnormal",
                    "x-mindcloud-advanced": true
                  },
                  "follow_up_required_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "(optional) The datetime that the system should notify clinician to re-review or follow up on document (creates a review task on this date)",
                    "x-mindcloud-advanced": true
                  },
                  "pt_notified": {
                    "type": "number",
                    "description": "(optional) Specify whether the patient has already been notified about the contents of this document. Values: 1 = Notification not needed, 2 = Patient has been notified",
                    "x-mindcloud-advanced": true
                  },
                  "pt_notified_method": {
                    "type": "string",
                    "description": "(optional) If `pt_notified` is set to '2' (patient has been notified), you can specify how they were notified. You can submit any string <155 characters but we recommend specifying from this list where appropriate",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cerbo/latest/actions/create-patient-height-vital": {
      "post": {
        "operationId": "cerbo.create-patient-height-vital",
        "summary": "Create Patient Height Vital",
        "description": "Creates a new patient height vital in Cerbo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cerbo/latest/actions/create-patient-height-vital"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "patient_id": {
                    "type": "number"
                  },
                  "height": {
                    "type": "string",
                    "description": "A string specifying the height reading",
                    "x-mindcloud-advanced": true
                  },
                  "units": {
                    "type": "string",
                    "description": "A string specifying the unit (inches or “cm”)",
                    "x-mindcloud-advanced": true
                  },
                  "comments": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "date_taken": {
                    "type": "string",
                    "description": "A string specifying the date and time of the vital reading (if no valid 3-letter timezone specified, defaults to UTC). If left blank, defaults to the current time.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
[...]
