{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zahara Universal API",
    "version": "0.0.5",
    "description": "Manage Zahara invoices, purchase orders, suppliers, projects, users, and tenancy data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zahara/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zahara/latest/actions/create-invoice": {
      "post": {
        "operationId": "zahara.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DocumentId": {
                            "type": "number",
                            "description": "Invoice document ID represented for create operations in MindCloud."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/create-project": {
      "post": {
        "operationId": "zahara.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectName",
                  "projectCode",
                  "description",
                  "budgetedAmount",
                  "start",
                  "end"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectName": {
                    "type": "string",
                    "description": "Project name."
                  },
                  "projectCode": {
                    "type": "string",
                    "description": "Project code."
                  },
                  "description": {
                    "type": "string",
                    "description": "Project description."
                  },
                  "budgetedAmount": {
                    "type": "number",
                    "description": "Budgeted amount."
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Project start date."
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Project end date."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ProjectId": {
                            "type": "number",
                            "description": "Created project ID returned by Zahara."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/create-purchase-order": {
      "post": {
        "operationId": "zahara.create-purchase-order",
        "summary": "Create Purchase Order",
        "description": "Creates a new purchase order in Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/create-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "requisitorId",
                  "totalNetValue",
                  "totalGrossValue",
                  "requiredDate",
                  "documentId",
                  "businessDivisionId",
                  "supplierId",
                  "lineItem",
                  "lineItems[]",
                  "currencyId",
                  "customFields[]",
                  "customFieldValues[]",
                  "lineItemId",
                  "lineItemDocumentId",
                  "lineItemProjectId",
                  "lineItemCostCodeId",
                  "lineItemQuantity",
                  "lineItemPrice",
                  "lineItemDescription",
                  "lineItemNominalCodeId",
                  "lineItemTaxCodeId",
                  "lineItemTaxPercentage",
                  "lineItemTaxValue",
                  "lineItemNetValue",
                  "lineItemQuantityReceived",
                  "lineItemDiscountPercentage",
                  "lineItemDivisionId",
                  "lineItemRequiredDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "requisitorId": {
                    "type": "number",
                    "description": "Requisitor user ID."
                  },
                  "totalNetValue": {
                    "type": "number",
                    "description": "Purchase order total net value."
                  },
                  "totalGrossValue": {
                    "type": "number",
                    "description": "Purchase order total gross value."
                  },
                  "requiredDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Required delivery date."
                  },
                  "documentId": {
                    "type": "number",
                    "description": "Document ID for create payloads, usually 0."
                  },
                  "businessDivisionId": {
                    "type": "number",
                    "description": "Business division ID."
                  },
                  "supplierId": {
                    "type": "number",
                    "description": "Supplier ID."
                  },
                  "lineItem": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "First purchase order line item object."
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Purchase order line items."
                  },
                  "currencyId": {
                    "type": "number",
                    "description": "Currency ID."
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom fields array."
                  },
                  "customFieldValues[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom field values array."
                  },
                  "lineItemId": {
                    "type": "number",
                    "description": "First line item ID, usually 0 for create."
                  },
                  "lineItemDocumentId": {
                    "type": "number",
                    "description": "First line item document ID, usually 0 for create."
                  },
                  "lineItemProjectId": {
                    "type": "number",
                    "description": "Project ID for the first line item."
                  },
                  "lineItemCostCodeId": {
                    "type": "number",
                    "description": "Cost code ID for the first line item."
                  },
                  "lineItemQuantity": {
                    "type": "number",
                    "description": "Quantity for the first line item."
                  },
                  "lineItemPrice": {
                    "type": "number",
                    "description": "Price for the first line item."
                  },
                  "lineItemDescription": {
                    "type": "string",
                    "description": "Description for the first line item."
                  },
                  "lineItemNominalCodeId": {
                    "type": "number",
                    "description": "Nominal code ID for the first line item."
                  },
                  "lineItemTaxCodeId": {
                    "type": "number",
                    "description": "Tax code ID for the first line item."
                  },
                  "lineItemTaxPercentage": {
                    "type": "number",
                    "description": "Tax percentage for the first line item."
                  },
                  "lineItemTaxValue": {
                    "type": "number",
                    "description": "Tax value for the first line item."
                  },
                  "lineItemNetValue": {
                    "type": "number",
                    "description": "Net value for the first line item."
                  },
                  "lineItemQuantityReceived": {
                    "type": "number",
                    "description": "Quantity received for the first line item."
                  },
                  "lineItemDiscountPercentage": {
                    "type": "number",
                    "description": "Discount percentage for the first line item."
                  },
                  "lineItemDivisionId": {
                    "type": "number",
                    "description": "Division ID for the first line item."
                  },
                  "lineItemRequiredDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Required date for the first line item."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DocumentId": {
                            "type": "number",
                            "description": "Created purchase order document ID returned by Zahara."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/create-supplier": {
      "post": {
        "operationId": "zahara.create-supplier",
        "summary": "Create Supplier",
        "description": "Creates a new supplier in Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/create-supplier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "address",
                  "contactName",
                  "countryCode",
                  "countryCodeId",
                  "defaultNominalCode",
                  "defaultPaymentTerms",
                  "paymentTermStartType",
                  "paymentTermDaysNumber",
                  "paymentTermType",
                  "defaultTaxCode",
                  "email",
                  "supplierEmails[]",
                  "referenceNumber",
                  "supplierName",
                  "void",
                  "isActive",
                  "defaultCostCode",
                  "defaultCurrencyId",
                  "trustedStatus"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Supplier address object."
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Primary supplier contact name."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Supplier ISO country code."
                  },
                  "countryCodeId": {
                    "type": "number",
                    "description": "Supplier country code ID."
                  },
                  "defaultNominalCode": {
                    "type": "string",
                    "description": "Default nominal code."
                  },
                  "defaultPaymentTerms": {
                    "type": "number",
                    "description": "Default payment terms value."
                  },
                  "paymentTermStartType": {
                    "type": "number",
                    "description": "Payment term start type."
                  },
                  "paymentTermDaysNumber": {
                    "type": "number",
                    "description": "Payment term days number."
                  },
                  "paymentTermType": {
                    "type": "number",
                    "description": "Payment term type."
                  },
                  "defaultTaxCode": {
                    "type": "string",
                    "description": "Default tax code."
                  },
                  "email": {
                    "type": "string",
                    "description": "Primary supplier email."
                  },
                  "supplierEmails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Supplier email list."
                  },
                  "referenceNumber": {
                    "type": "string",
                    "description": "Supplier reference number."
                  },
                  "supplierName": {
                    "type": "string",
                    "description": "Supplier display name."
                  },
                  "void": {
                    "type": "boolean",
                    "description": "Whether the supplier is void."
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Whether the supplier is active."
                  },
                  "defaultCostCode": {
                    "type": "string",
                    "description": "Default cost code."
                  },
                  "defaultCurrencyId": {
                    "type": "number",
                    "description": "Default currency ID."
                  },
                  "trustedStatus": {
                    "type": "boolean",
                    "description": "Trusted supplier status."
                  },
                  "bankAccountNumber": {
                    "type": "string",
                    "description": "Supplier bank account number."
                  },
                  "bankSortCode": {
                    "type": "string",
                    "description": "Supplier bank sort code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SupplierId": {
                            "type": "number",
                            "description": "Created supplier ID returned by Zahara."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/get-invoice-by-id": {
      "get": {
        "operationId": "zahara.get-invoice-by-id",
        "summary": "Get Invoice By ID",
        "description": "Retrieves an invoice by ID from Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/get-invoice-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Invoice document ID.",
            "schema": {
              "type": "number",
              "description": "Invoice document ID.",
              "example": 22884723
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BusinessDivisionId": {
                            "type": "number",
                            "description": "Business division ID."
                          },
                          "CreatedBy": {
                            "type": "number",
                            "description": "Creating user ID."
                          },
                          "CurrencyId": {
                            "type": "number",
                            "description": "Currency ID."
                          },
                          "CurrentExportStatus": {
                            "type": "number",
                            "description": "Current export status."
                          },
                          "CurrentExportType": {
                            "type": "number",
                            "description": "Current export type."
                          },
                          "CurrentStepIndex": {
                            "type": "number",
                            "description": "Current workflow step index."
                          },
                          "CustomFieldValues": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "DocumentId": {
                                  "type": "number",
                                  "description": "Custom field document ID."
                                },
                                "Id": {
                                  "type": "number",
                                  "description": "Custom field value ID."
                                },
                                "TypeId": {
                                  "type": "number",
                                  "description": "Custom field type ID."
                                },
                                "Value": {
                                  "type": "string",
                                  "description": "Custom field value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "DateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "Description": {
                            "type": "string",
                            "description": "Invoice description."
                          },
                          "DocumentId": {
                            "type": "number",
                            "description": "Invoice document ID."
                          },
                          "DueDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Invoice due date."
                          },
                          "Exported": {
                            "type": "boolean",
                            "description": "Whether the invoice is exported."
                          },
                          "ExportedByWorkflow": {
                            "type": "boolean",
                            "description": "Whether the invoice was exported by workflow."
                          },
                          "ExportedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Export timestamp."
                          },
                          "InvoiceNumber": {
                            "type": "string",
                            "description": "Invoice number."
                          },
                          "InvoiceType": {
                            "type": "number",
                            "description": "Invoice type code."
                          },
                          "LastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "LineItemMatchType": {
                            "type": "number",
                            "description": "Line-item match type."
                          },
                          "LineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "CostCodeId": {
                                  "type": "number",
                                  "description": "Invoice cost code ID."
                                },
                                "Description": {
                                  "type": "string",
                                  "description": "Invoice line item description."
                                },
                                "DiscountPercentage": {
                                  "type": "number",
                                  "description": "Invoice discount percentage."
                                },
                                "DivisionId": {
                                  "type": "number",
                                  "description": "Invoice division ID."
                                },
                                "DocumentId": {
                                  "type": "number",
                                  "description": "Invoice line item document ID."
                                },
                                "LineItemId": {
                                  "type": "number",
                                  "description": "Invoice line item ID."
                                },
                                "MatchType": {
                                  "type": "number",
                                  "description": "Invoice line item match type."
                                },
                                "NetValue": {
                                  "type": "number",
                                  "description": "Invoice line item net value."
                                },
                                "NominalCode": {
                                  "type": "string",
                                  "description": "Invoice nominal code."
                                },
                                "NominalCodeId": {
                                  "type": "number",
                                  "description": "Invoice nominal code ID."
                                },
                                "Price": {
                                  "type": "number",
                                  "description": "Invoice line item price."
                                },
                                "ProjectId": {
                                  "type": "number",
                                  "description": "Invoice project ID."
                                },
                                "Quantity": {
                                  "type": "number",
                                  "description": "Invoice quantity."
                                },
                                "QuantityReceived": {
                                  "type": "number",
                                  "description": "Invoice quantity received."
                                },
                                "TaxCode": {
                                  "type": "string",
                                  "description": "Invoice tax code."
                                },
                                "TaxCodeId": {
                                  "type": "number",
                                  "description": "Invoice tax code ID."
                                },
                                "TaxPercentage": {
                                  "type": "number",
                                  "description": "Invoice tax percentage."
                                },
                                "TaxValue": {
                                  "type": "number",
                                  "description": "Invoice tax value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "PaymentStatus": {
                            "type": "number",
                            "description": "Invoice payment status."
                          },
                          "PriorityApprovalDocument": {
                            "type": "boolean",
                            "description": "Whether the invoice is a priority approval document."
                          },
                          "ProcessStatus": {
                            "type": "number",
                            "description": "Process status."
                          },
                          "PurchaseOrderNumber": {
                            "type": "string",
                            "description": "Purchase order number."
                          },
                          "RaisedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Invoice raised date."
                          },
                          "Status": {
                            "type": "number",
                            "description": "Invoice status."
                          },
                          "Supplier": {
                            "type": "object",
                            "properties": {
                              "BusinessUnitId": {
                                "type": "number",
                                "description": "Nested supplier business unit ID."
                              },
                              "CountryCode": {
                                "type": "string",
                                "description": "Nested supplier country code."
                              },
                              "DefaultCostCodeId": {
                                "type": "number",
                                "description": "Nested supplier default cost code ID."
                              },
                              "DefaultCurrencyId": {
                                "type": "number",
                                "description": "Nested supplier default currency ID."
                              },
                              "DefaultNominalCodeId": {
                                "type": "number",
                                "description": "Nested supplier default nominal code ID."
                              },
                              "DefaultTaxCodeId": {
                                "type": "number",
                                "description": "Nested supplier default tax code ID."
                              },
                              "IsActive": {
                                "type": "boolean",
                                "description": "Nested supplier active flag."
                              },
                              "PaymentTermDaysNumber": {
                                "type": "number",
                                "description": "Nested supplier payment term day count."
                              },
                              "PaymentTermType": {
                                "type": "number",
                                "description": "Nested supplier payment term type."
                              },
                              "ReferenceNumber": {
                                "type": "string",
                                "description": "Nested supplier reference number."
                              },
                              "SupplierId": {
                                "type": "number",
                                "description": "Nested supplier ID."
                              },
                              "SupplierName": {
                                "type": "string",
                                "description": "Nested supplier name."
                              },
                              "TrustedStatus": {
                                "type": "boolean",
                                "description": "Nested supplier trusted flag."
                              }
                            },
                            "additionalProperties": false
                          },
                          "SupplierId": {
                            "type": "number",
                            "description": "Supplier ID."
                          },
                          "TotalGrossValue": {
                            "type": "number",
                            "description": "Total gross value."
                          },
                          "TotalNetValue": {
                            "type": "number",
                            "description": "Total net value."
                          },
                          "Type": {
                            "type": "number",
                            "description": "Invoice type."
                          },
                          "Void": {
                            "type": "boolean",
                            "description": "Whether the invoice is void."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/get-project-by-id": {
      "get": {
        "operationId": "zahara.get-project-by-id",
        "summary": "Get Project By ID",
        "description": "Retrieves a project by ID from Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/get-project-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The Zahara project ID.",
            "schema": {
              "type": "number",
              "description": "The Zahara project ID.",
              "example": 27166
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Address": {
                            "type": "object",
                            "properties": {
                              "AddressId": {
                                "type": "number",
                                "description": "Project address ID."
                              },
                              "AddressLines": {
                                "type": "string",
                                "description": "Project address lines."
                              },
                              "AddressType": {
                                "type": "number",
                                "description": "Project address type."
                              },
                              "CountryCode": {
                                "type": "string",
                                "description": "Project country code."
                              },
                              "CountryCodeId": {
                                "type": "number",
                                "description": "Project country code ID."
                              },
                              "IsPrimary": {
                                "type": "boolean",
                                "description": "Whether the project address is primary."
                              },
                              "LastUpdated": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Project address last update timestamp."
                              },
                              "Postcode": {
                                "type": "string",
                                "description": "Project postcode."
                              },
                              "Void": {
                                "type": "boolean",
                                "description": "Whether the project address is void."
                              }
                            },
                            "additionalProperties": false
                          },
                          "BudgetedAmount": {
                            "type": "number",
                            "description": "Budgeted amount."
                          },
                          "BusinessUnitId": {
                            "type": "number",
                            "description": "Business unit ID."
                          },
                          "DateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "Description": {
                            "type": "string",
                            "description": "Project description."
                          },
                          "End": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Project end date."
                          },
                          "LastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "ProjectCode": {
                            "type": "string",
                            "description": "Project code."
                          },
                          "ProjectId": {
                            "type": "number",
                            "description": "Project ID."
                          },
                          "ProjectIncome": {
                            "type": "number",
                            "description": "Project income amount."
                          },
                          "ProjectName": {
                            "type": "string",
                            "description": "Project name."
                          },
                          "ProjectRestrictionSettings": {
                            "type": "object",
                            "properties": {
                              "NominalsRestrictionPriorityType": {
                                "type": "number",
                                "description": "Nominal restriction priority type."
                              },
                              "RestrictNominals": {
                                "type": "boolean",
                                "description": "Whether nominal codes are restricted."
                              },
                              "SetNominalsAsBudget": {
                                "type": "boolean",
                                "description": "Whether nominals are used as budget."
                              }
                            },
                            "additionalProperties": false
                          },
                          "Start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Project start date."
                          },
                          "Status": {
                            "type": "number",
                            "description": "Project status."
                          },
                          "Void": {
                            "type": "boolean",
                            "description": "Whether the project is void."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/get-purchase-order-by-id": {
      "get": {
        "operationId": "zahara.get-purchase-order-by-id",
        "summary": "Get Purchase Order By ID",
        "description": "Retrieves a purchase order by ID from Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/get-purchase-order-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Purchase order document ID.",
            "schema": {
              "type": "number",
              "description": "Purchase order document ID.",
              "example": 34070
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "BusinessDivisionId": {
                            "type": "number",
                            "description": "Business division ID."
                          },
                          "CurrencyId": {
                            "type": "number",
                            "description": "Currency ID."
                          },
                          "CurrentExportStatus": {
                            "type": "number",
                            "description": "Current export status."
                          },
                          "CurrentExportType": {
                            "type": "number",
                            "description": "Current export type."
                          },
                          "CurrentStepIndex": {
                            "type": "number",
                            "description": "Current workflow step index."
                          },
                          "DateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "DocumentId": {
                            "type": "number",
                            "description": "Purchase order document ID."
                          },
                          "Exported": {
                            "type": "boolean",
                            "description": "Whether the purchase order is exported."
                          },
                          "ExportedByWorkflow": {
                            "type": "boolean",
                            "description": "Whether the purchase order was exported by workflow."
                          },
                          "LastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "LineItemMatchType": {
                            "type": "number",
                            "description": "Line-item match type."
                          },
                          "LineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "CostCodeId": {
                                  "type": "number",
                                  "description": "Purchase order cost code ID."
                                },
                                "Description": {
                                  "type": "string",
                                  "description": "Purchase order line item description."
                                },
                                "DiscountPercentage": {
                                  "type": "number",
                                  "description": "Purchase order discount percentage."
                                },
                                "DivisionId": {
                                  "type": "number",
                                  "description": "Purchase order division ID."
                                },
                                "DocumentId": {
                                  "type": "number",
                                  "description": "Purchase order line item document ID."
                                },
                                "LineItemId": {
                                  "type": "number",
                                  "description": "Purchase order line item ID."
                                },
                                "MatchType": {
                                  "type": "number",
                                  "description": "Purchase order line item match type."
                                },
                                "NetValue": {
                                  "type": "number",
                                  "description": "Purchase order line item net value."
                                },
                                "NominalCode": {
                                  "type": "string",
                                  "description": "Purchase order nominal code."
                                },
                                "NominalCodeId": {
                                  "type": "number",
                                  "description": "Purchase order nominal code ID."
                                },
                                "Price": {
                                  "type": "number",
                                  "description": "Purchase order line item price."
                                },
                                "ProjectId": {
                                  "type": "number",
                                  "description": "Purchase order project ID."
                                },
                                "Quantity": {
                                  "type": "number",
                                  "description": "Purchase order quantity."
                                },
                                "QuantityReceived": {
                                  "type": "number",
                                  "description": "Purchase order quantity received."
                                },
                                "RequiredDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Purchase order line item required date."
                                },
                                "TaxCode": {
                                  "type": "string",
                                  "description": "Purchase order tax code."
                                },
                                "TaxCodeId": {
                                  "type": "number",
                                  "description": "Purchase order tax code ID."
                                },
                                "TaxPercentage": {
                                  "type": "number",
                                  "description": "Purchase order tax percentage."
                                },
                                "TaxValue": {
                                  "type": "number",
                                  "description": "Purchase order tax value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "PriorityApprovalDocument": {
                            "type": "boolean",
                            "description": "Whether the purchase order is a priority approval document."
                          },
                          "ProcessStatus": {
                            "type": "number",
                            "description": "Process status."
                          },
                          "PurchaseOrderNumber": {
                            "type": "string",
                            "description": "Purchase order number."
                          },
                          "RequiredDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Required date."
                          },
                          "RequisitorId": {
                            "type": "number",
                            "description": "Requisitor user ID."
                          },
                          "Status": {
                            "type": "number",
                            "description": "Purchase order status."
                          },
                          "Supplier": {
                            "type": "object",
                            "properties": {
                              "CountryCode": {
                                "type": "string",
                                "description": "Nested supplier country code."
                              },
                              "CountryCodeId": {
                                "type": "number",
                                "description": "Nested supplier country code ID."
                              },
                              "DefaultCostCodeId": {
                                "type": "number",
                                "description": "Nested supplier default cost code ID."
                              },
                              "DefaultCurrencyId": {
                                "type": "number",
                                "description": "Nested supplier default currency ID."
                              },
                              "DefaultNominalCodeId": {
                                "type": "number",
                                "description": "Nested supplier default nominal code ID."
                              },
                              "DefaultTaxCodeId": {
                                "type": "number",
                                "description": "Nested supplier default tax code ID."
                              },
                              "IsActive": {
                                "type": "boolean",
                                "description": "Nested supplier active flag."
                              },
                              "PaymentTermDaysNumber": {
                                "type": "number",
                                "description": "Nested supplier payment term day count."
                              },
                              "PaymentTermType": {
                                "type": "number",
                                "description": "Nested supplier payment term type."
                              },
                              "ReferenceNumber": {
                                "type": "string",
                                "description": "Nested supplier reference number."
                              },
                              "SupplierId": {
                                "type": "number",
                                "description": "Nested supplier ID."
                              },
                              "SupplierName": {
                                "type": "string",
                                "description": "Nested supplier name."
                              },
                              "TrustedStatus": {
                                "type": "boolean",
                                "description": "Nested supplier trusted flag."
                              }
                            },
                            "additionalProperties": false
                          },
                          "SupplierId": {
                            "type": "number",
                            "description": "Supplier ID."
                          },
                          "TotalGrossValue": {
                            "type": "number",
                            "description": "Total gross value."
                          },
                          "TotalNetValue": {
                            "type": "number",
                            "description": "Total net value."
                          },
                          "Type": {
                            "type": "number",
                            "description": "Purchase order type."
                          },
                          "Void": {
                            "type": "boolean",
                            "description": "Whether the purchase order is void."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/get-supplier-by-id": {
      "get": {
        "operationId": "zahara.get-supplier-by-id",
        "summary": "Get Supplier By ID",
        "description": "Retrieves a supplier by ID from Zahara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/get-supplier-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplierId",
            "in": "query",
            "required": true,
            "description": "The Zahara supplier ID.",
            "schema": {
              "type": "number",
              "description": "The Zahara supplier ID.",
              "example": 729006
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Address": {
                            "type": "object",
                            "properties": {
                              "AddressId": {
                                "type": "number",
                                "description": "Supplier address ID."
                              },
                              "AddressLines": {
                                "type": "string",
                                "description": "Supplier address lines."
                              },
                              "AddressType": {
                                "type": "number",
                                "description": "Supplier address type."
                              },
                              "CountryCode": {
                                "type": "string",
                                "description": "Supplier country code."
                              },
                              "CountryCodeId": {
                                "type": "number",
                                "description": "Supplier country code ID."
                              },
                              "IsPrimary": {
                                "type": "boolean",
                                "description": "Whether the supplier address is primary."
                              },
                              "LastUpdated": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Supplier address last update timestamp."
                              },
                              "Postcode": {
                                "type": "string",
                                "description": "Supplier postcode."
                              },
                              "Void": {
                                "type": "boolean",
                                "description": "Whether the supplier address is void."
                              }
                            },
                            "additionalProperties": false
                          },
                          "BankAccountNumber": {
                            "type": "string",
                            "description": "Supplier bank account number."
                          },
                          "BankSortCode": {
                            "type": "string",
                            "description": "Supplier bank sort code."
                          },
                          "BusinessUnitId": {
                            "type": "number",
                            "description": "Business unit ID."
                          },
                          "ContactName": {
                            "type": "string",
                            "description": "Supplier contact name."
                          },
                          "CountryCode": {
                            "type": "string",
                            "description": "Supplier country code."
                          },
                          "CountryCodeId": {
                            "type": "number",
                            "description": "Supplier country code ID."
                          },
                          "DateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp."
                          },
                          "DefaultCostCode": {
                            "type": "string",
                            "description": "Default cost code."
                          },
                          "DefaultCostCodeId": {
                            "type": "number",
                            "description": "Default cost code ID."
                          },
                          "DefaultCurrencyId": {
                            "type": "number",
                            "description": "Default currency ID."
                          },
                          "DefaultNominalCode": {
                            "type": "string",
                            "description": "Default nominal code."
                          },
                          "DefaultNominalCodeId": {
                            "type": "number",
                            "description": "Default nominal code ID."
                          },
                          "DefaultPaymentTerms": {
                            "type": "number",
                            "description": "Default payment terms."
                          },
                          "DefaultTaxCode": {
                            "type": "string",
                            "description": "Default tax code."
                          },
                          "DefaultTaxCodeId": {
                            "type": "number",
                            "description": "Default tax code ID."
                          },
                          "Email": {
                            "type": "string",
                            "description": "Supplier email address."
                          },
                          "IsActive": {
                            "type": "boolean",
                            "description": "Whether the supplier is active."
                          },
                          "LastUpdated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update timestamp."
                          },
                          "PaymentTermDaysNumber": {
                            "type": "number",
                            "description": "Payment term day count."
                          },
                          "PaymentTermStartType": {
                            "type": "number",
                            "description": "Payment term start type."
                          },
                          "PaymentTermType": {
                            "type": "number",
                            "description": "Payment term type."
                          },
                          "ReferenceNumber": {
                            "type": "string",
                            "description": "Supplier reference number."
                          },
                          "SupplierEmails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "AddedOn": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Supplier email added timestamp."
                                },
                                "Email": {
                                  "type": "string",
                                  "description": "Supplier email entry."
                                },
                                "SupplierEmailId": {
                                  "type": "number",
                                  "description": "Supplier email ID."
                                },
                                "SupplierEmailType": {
                                  "type": "number",
                                  "description": "Supplier email type."
                                },
                                "SupplierEmailTypeDescription": {
                                  "type": "string",
                                  "description": "Supplier email type description."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "SupplierId": {
                            "type": "number",
                            "description": "Supplier ID."
                          },
                          "SupplierName": {
                            "type": "string",
                            "description": "Supplier name."
                          },
                          "TrustedStatus": {
                            "type": "boolean",
                            "description": "Trusted supplier flag."
                          },
                          "Void": {
                            "type": "boolean",
                            "description": "Whether the supplier is void."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zahara/latest/actions/list-business-units": {
      "get": {
        "operationId": "zahara.list-business-units",
        "summary": "List Business Units",
        "description": "Retrieves business units from a Zahara tenancy.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zahara/latest/actions/list-business-units"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
[...]
