{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "CallerAPI Universal API",
    "version": "0.0.7",
    "description": "Look up phone reputation, porting, identity, and spam reports"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/callerAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/callerAPI/latest/actions/get-balance-and-email": {
      "get": {
        "operationId": "callerAPI.get-balance-and-email",
        "summary": "Get Balance and Email",
        "description": "Retrieves account balance and email from CallerAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callerAPI/latest/actions/get-balance-and-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits_left": {
                            "type": "number",
                            "description": "Amount of credits left in the account."
                          },
                          "credits_monthly": {
                            "type": "number",
                            "description": "Total monthly credits available on the account."
                          },
                          "credits_spent": {
                            "type": "number",
                            "description": "Amount of credits already spent."
                          },
                          "email": {
                            "type": "string",
                            "description": "Account email address."
                          },
                          "status": {
                            "type": "string",
                            "description": "CallerAPI response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callerAPI/latest/actions/list-webhook-subscriptions": {
      "get": {
        "operationId": "callerAPI.list-webhook-subscriptions",
        "summary": "List Webhook Subscriptions",
        "description": "Retrieves webhook subscriptions from CallerAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callerAPI/latest/actions/list-webhook-subscriptions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "active": {
                                  "type": "boolean",
                                  "description": "Whether the subscription is active."
                                },
                                "created_at": {
                                  "type": "string",
                                  "description": "Timestamp when the subscription was created."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Webhook subscription identifier."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "Webhook destination URL."
                                }
                              }
                            },
                            "description": "Webhook subscriptions for the current account. CallerAPI returned null for an empty set in runtime testing; docs show this field as an array when subscriptions exist."
                          },
                          "status": {
                            "type": "string",
                            "description": "CallerAPI response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/callerAPI/latest/actions/lookup-spam-score-and-hlr": {
      "get": {
        "operationId": "callerAPI.lookup-spam-score-and-hlr",
        "summary": "Lookup Spam Score and HLR",
        "description": "Retrieves spam score and HLR data from CallerAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/callerAPI/latest/actions/lookup-spam-score-and-hlr"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hlr",
            "in": "query",
            "required": false,
            "description": "Whether to include HLR data.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include HLR data."
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "Phone number to look up.",
            "schema": {
              "type": "string",
              "description": "Phone number to look up."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Lookup result payload returned by CallerAPI.",
                            "properties": {
                              "business_info": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Business details when the phone number is associated with a verified business.",
                                "properties": {
                                  "business_name": {
                                    "type": "string",
                                    "description": "Verified business name for the phone number."
                                  },
                                  "category": {
                                    "type": "string",
                                    "description": "High-level business category."
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "Business city."
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "Business country code."
                                  },
                                  "industry": {
                                    "type": "string",
                                    "description": "Business industry label."
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "Business state or region."
                                  },
                                  "verified": {
                                    "type": "boolean",
                                    "description": "Whether CallerAPI verified the business information."
                                  }
                                }
                              },
                              "entity_type": {
                                "type": "string",
                                "description": "Entity classification returned by CallerAPI."
                              },
                              "is_spam": {
                                "type": "boolean",
                                "description": "Whether CallerAPI classifies the phone number as spam."
                              },
                              "phone": {
                                "type": "string",
                                "description": "Normalized phone number that was looked up."
                              },
                              "reputation": {
                                "type": "string",
                                "description": "CallerAPI reputation label for the phone number."
                              },
                              "spam_score": {
                                "type": "number",
                                "description": "Numeric spam score for the phone number."
                              },
                              "total_complaints": {
                                "type": "number",
                                "description": "Total number of complaints associated with the phone number."
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "description": "CallerAPI response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
