{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "actiTIME Universal API",
    "version": "0.0.7",
    "description": "Track time, manage projects, and oversee teams and leave"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/actiTIME/latest/actions/get-current-user": {
      "get": {
        "operationId": "actiTIME.get-current-user",
        "summary": "Get Current User",
        "description": "Retrieves the current user from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the user account is active."
                          },
                          "allowedActions": {
                            "type": "object",
                            "properties": {
                              "canSubmitTimetrack": {
                                "type": "boolean",
                                "description": "Whether the user can submit time track."
                              }
                            },
                            "additionalProperties": false
                          },
                          "departmentId": {
                            "type": "number",
                            "description": "Department identifier."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full display name."
                          },
                          "hired": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Hire date."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique user identifier."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Middle name or initial."
                          },
                          "releaseDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release date."
                          },
                          "timeZoneGroupId": {
                            "type": "number",
                            "description": "Time zone group identifier."
                          },
                          "username": {
                            "type": "string",
                            "description": "Unique username."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-customer": {
      "get": {
        "operationId": "actiTIME.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a specific customer from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Customer identifier.",
            "schema": {
              "type": "number",
              "description": "Customer identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowedActions": {
                            "type": "object",
                            "properties": {
                              "canDelete": {
                                "type": "boolean",
                                "description": "Whether the customer can be deleted."
                              },
                              "canModify": {
                                "type": "boolean",
                                "description": "Whether the customer can be modified."
                              }
                            },
                            "additionalProperties": false
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the customer is archived."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date and time."
                          },
                          "description": {
                            "type": "string",
                            "description": "Customer description."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique customer identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "url": {
                            "type": "string",
                            "description": "Customer URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-default-type-of-work": {
      "get": {
        "operationId": "actiTIME.get-default-type-of-work",
        "summary": "Get Default Type of Work",
        "description": "Retrieves the default type of work from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-default-type-of-work"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the type of work is archived."
                          },
                          "billable": {
                            "type": "boolean",
                            "description": "Whether the type of work is billable."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the type of work is the default option."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique type of work identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Type of work name."
                          },
                          "rate": {
                            "type": "number",
                            "description": "Hourly rate for the type of work."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-department": {
      "get": {
        "operationId": "actiTIME.get-department",
        "summary": "Get Department",
        "description": "Retrieves a specific department from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-department"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Department identifier.",
            "schema": {
              "type": "number",
              "description": "Department identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "default": {
                            "type": "boolean",
                            "description": "Whether the department is the default department."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique department identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Department name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-leave-time": {
      "get": {
        "operationId": "actiTIME.get-leave-time",
        "summary": "Get Leave Time",
        "description": "Retrieves leave time records from actiTIME by date range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-leave-time"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "description": "Start date of requested leave time in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Start date of requested leave time in YYYY-MM-DD format."
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "description": "End date of requested leave time in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "End date of requested leave time in YYYY-MM-DD format."
            }
          },
          {
            "name": "includeReferenced",
            "in": "query",
            "required": false,
            "description": "Comma-separated referenced objects to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated referenced objects to include."
            }
          },
          {
            "name": "leaveTypeIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated leave type ids.",
            "schema": {
              "type": "string",
              "description": "Comma-separated leave type ids."
            }
          },
          {
            "name": "stopAfter",
            "in": "query",
            "required": false,
            "description": "Approximate number of leave time records to return.",
            "schema": {
              "type": "number",
              "description": "Approximate number of leave time records to return."
            }
          },
          {
            "name": "userIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated user ids.",
            "schema": {
              "type": "string",
              "description": "Comma-separated user ids."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Leave date."
                          },
                          "dayOffset": {
                            "type": "number",
                            "description": "Offset in days from the requested start date."
                          },
                          "leaveTime": {
                            "type": "number",
                            "description": "Leave duration in minutes."
                          },
                          "leaveTypeId": {
                            "type": "number",
                            "description": "Leave type identifier."
                          },
                          "userId": {
                            "type": "number",
                            "description": "User identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-leave-type": {
      "get": {
        "operationId": "actiTIME.get-leave-type",
        "summary": "Get Leave Type",
        "description": "Retrieves a leave type from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-leave-type"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Leave type identifier.",
            "schema": {
              "type": "number",
              "description": "Leave type identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the leave type is archived."
                          },
                          "balance": {
                            "type": "string",
                            "description": "Balance affected by this leave type."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique leave type identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Leave type name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-project": {
      "get": {
        "operationId": "actiTIME.get-project",
        "summary": "Get Project",
        "description": "Retrieves a specific project from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Project identifier.",
            "schema": {
              "type": "number",
              "description": "Project identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowedActions": {
                            "type": "object",
                            "properties": {
                              "canDelete": {
                                "type": "boolean",
                                "description": "Whether the project can be deleted."
                              },
                              "canModify": {
                                "type": "boolean",
                                "description": "Whether the project can be modified."
                              }
                            },
                            "additionalProperties": false
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the project is archived."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date and time."
                          },
                          "customerId": {
                            "type": "number",
                            "description": "Customer identifier."
                          },
                          "customerName": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "description": {
                            "type": "string",
                            "description": "Project description."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique project identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Project name."
                          },
                          "url": {
                            "type": "string",
                            "description": "Project URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-settings-and-info": {
      "get": {
        "operationId": "actiTIME.get-settings-and-info",
        "summary": "Get Settings and Info",
        "description": "Retrieves workspace settings and info from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-settings-and-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company": {
                            "type": "object",
                            "properties": {
                              "logoUri": {
                                "type": "string",
                                "description": "Company logo URL."
                              },
                              "name": {
                                "type": "string",
                                "description": "Company name."
                              }
                            },
                            "additionalProperties": false
                          },
                          "customNames": {
                            "type": "object",
                            "properties": {
                              "department": {
                                "type": "object",
                                "properties": {
                                  "plural": {
                                    "type": "string",
                                    "description": "Plural department label."
                                  },
                                  "singular": {
                                    "type": "string",
                                    "description": "Singular department label."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "firstLevel": {
                                "type": "object",
                                "properties": {
                                  "plural": {
                                    "type": "string",
                                    "description": "Plural label for the first hierarchy level."
                                  },
                                  "singular": {
                                    "type": "string",
                                    "description": "Singular label for the first hierarchy level."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "secondLevel": {
                                "type": "object",
                                "properties": {
                                  "plural": {
                                    "type": "string",
                                    "description": "Plural label for the second hierarchy level."
                                  },
                                  "singular": {
                                    "type": "string",
                                    "description": "Singular label for the second hierarchy level."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "thirdLevel": {
                                "type": "object",
                                "properties": {
                                  "plural": {
                                    "type": "string",
                                    "description": "Plural label for the third hierarchy level."
                                  },
                                  "singular": {
                                    "type": "string",
                                    "description": "Singular label for the third hierarchy level."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "features": {
                            "type": "object",
                            "properties": {
                              "departments": {
                                "type": "boolean",
                                "description": "Whether departments are enabled."
                              },
                              "leavetimeRegistration": {
                                "type": "boolean",
                                "description": "Whether leave-time registration is enabled."
                              },
                              "overtimeRegistration": {
                                "type": "boolean",
                                "description": "Whether overtime registration is enabled."
                              },
                              "taskEstimates": {
                                "type": "boolean",
                                "description": "Whether task estimates are enabled."
                              },
                              "taskWorkflow": {
                                "type": "boolean",
                                "description": "Whether task workflow is enabled."
                              },
                              "timeZoneGroups": {
                                "type": "boolean",
                                "description": "Whether time zone groups are enabled."
                              },
                              "typesOfWork": {
                                "type": "boolean",
                                "description": "Whether types of work are enabled."
                              },
                              "workAssignments": {
                                "type": "boolean",
                                "description": "Whether work assignments are enabled."
                              }
                            },
                            "additionalProperties": false
                          },
                          "format": {
                            "type": "object",
                            "properties": {
                              "clockFormat": {
                                "type": "string",
                                "description": "Preferred clock format."
                              },
                              "currency": {
                                "type": "string",
                                "description": "Workspace currency symbol."
                              },
                              "dayOfWeekStart": {
                                "type": "number",
                                "description": "Day index used as the start of the week."
                              },
                              "decimalSeparator": {
                                "type": "string",
                                "description": "Decimal separator."
                              },
                              "timeFormat": {
                                "type": "string",
                                "description": "Preferred time format."
                              }
                            },
                            "additionalProperties": false
                          },
                          "limits": {
                            "type": "object",
                            "properties": {
                              "maxBatchSize": {
                                "type": "number",
                                "description": "Maximum batch size."
                              },
                              "maxQueryLimit": {
                                "type": "number",
                                "description": "Maximum query limit."
                              }
                            },
                            "additionalProperties": false
                          },
                          "serverUUID": {
                            "type": "string",
                            "description": "Server instance identifier."
                          },
                          "urls": {
                            "type": "object",
                            "properties": {
                              "actiPlans": {
                                "type": "string",
                                "description": "actiPLANS application URL."
                              },
                              "actiTime": {
                                "type": "string",
                                "description": "actiTIME application URL."
                              },
                              "api": {
                                "type": "string",
                                "description": "API base URL."
                              },
                              "apiDocumentation": {
                                "type": "string",
                                "description": "API documentation URL."
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-task": {
      "get": {
        "operationId": "actiTIME.get-task",
        "summary": "Get Task",
        "description": "Retrieves a specific task from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Task identifier.",
            "schema": {
              "type": "number",
              "description": "Task identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allowedActions": {
                            "type": "object",
                            "properties": {
                              "canDelete": {
                                "type": "boolean",
                                "description": "Whether the task can be deleted."
                              },
                              "canModify": {
                                "type": "boolean",
                                "description": "Whether the task can be modified."
                              }
                            },
                            "additionalProperties": false
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date and time."
                          },
                          "customerId": {
                            "type": "number",
                            "description": "Customer identifier."
                          },
                          "customerName": {
                            "type": "string",
                            "description": "Customer name."
                          },
                          "deadline": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Task deadline."
                          },
                          "description": {
                            "type": "string",
                            "description": "Task description."
                          },
                          "estimatedTime": {
                            "type": "number",
                            "description": "Estimated time in minutes."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique task identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Task name."
                          },
                          "projectId": {
                            "type": "number",
                            "description": "Project identifier."
                          },
                          "projectName": {
                            "type": "string",
                            "description": "Project name."
                          },
                          "status": {
                            "type": "string",
                            "description": "Task status."
                          },
                          "typeOfWorkId": {
                            "type": "number",
                            "description": "Type of work identifier."
                          },
                          "typeOfWorkName": {
                            "type": "string",
                            "description": "Type of work name."
                          },
                          "url": {
                            "type": "string",
                            "description": "Task URL."
                          },
                          "workflowStatusId": {
                            "type": "number",
                            "description": "Workflow status identifier."
                          },
                          "workflowStatusName": {
                            "type": "string",
                            "description": "Workflow status name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-time-track": {
      "get": {
        "operationId": "actiTIME.get-time-track",
        "summary": "Get Time Track",
        "description": "Retrieves time track records from actiTIME by date range.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-time-track"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "description": "Filter approved vs not-approved time track.",
            "schema": {
              "type": "boolean",
              "description": "Filter approved vs not-approved time track."
            }
          },
          {
            "name": "customerIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated customer ids.",
            "schema": {
              "type": "string",
              "description": "Comma-separated customer ids."
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "required": true,
            "description": "Start date of requested time track in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Start date of requested time track in YYYY-MM-DD format."
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "required": false,
            "description": "End date of requested time track in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "End date of requested time track in YYYY-MM-DD format."
            }
          },
          {
            "name": "includeReferenced",
            "in": "query",
            "required": false,
            "description": "Comma-separated referenced objects to include.",
            "schema": {
              "type": "string",
              "description": "Comma-separated referenced objects to include."
            }
          },
          {
            "name": "projectIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated project ids.",
            "schema": {
              "type": "string",
              "description": "Comma-separated project ids."
            }
          },
          {
            "name": "stopAfter",
            "in": "query",
            "required": false,
            "description": "Approximate number of time-track records to return.",
            "schema": {
              "type": "number",
              "description": "Approximate number of time-track records to return."
            }
          },
          {
            "name": "taskIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated task ids.",
            "schema": {
              "type": "string",
              "description": "Comma-separated task ids."
            }
          },
          {
            "name": "userIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated user ids.",
            "schema": {
              "type": "string",
              "description": "Comma-separated user ids."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Time-track date."
                          },
                          "dayOffset": {
                            "type": "number",
                            "description": "Offset in days from the requested start date."
                          },
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "taskId": {
                                  "type": "number",
                                  "description": "Tracked task identifier for the day."
                                },
                                "time": {
                                  "type": "number",
                                  "description": "Tracked time in minutes for the task."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "userId": {
                            "type": "number",
                            "description": "User identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-type-of-work": {
      "get": {
        "operationId": "actiTIME.get-type-of-work",
        "summary": "Get Type of Work",
        "description": "Retrieves a type of work from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-type-of-work"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Type of work identifier.",
            "schema": {
              "type": "number",
              "description": "Type of work identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the type of work is archived."
                          },
                          "billable": {
                            "type": "boolean",
                            "description": "Whether the type of work is billable."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the type of work is the default option."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique type of work identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Type of work name."
                          },
                          "rate": {
                            "type": "number",
                            "description": "Hourly rate for the type of work."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/actiTIME/latest/actions/get-user": {
      "get": {
        "operationId": "actiTIME.get-user",
        "summary": "Get User",
        "description": "Retrieves a specific user from actiTIME.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/actiTIME/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "description": "User ID or username.",
            "schema": {
              "type": "string",
              "description": "User ID or username."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the user account is active."
                          },
                          "allowedActions": {
                            "type": "object",
                            "properties": {
                              "canSubmitTimetrack": {
                                "type": "boolean",
                                "description": "Whether the user can submit time track."
                              }
                            },
                            "additionalProperties": false
                          },
                          "departmentId": {
                            "type": "number",
                            "description": "Department identifier."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "First name."
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full display name."
                          },
                          "hired": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Hire date."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique user identifier."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Last name."
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Middle name or initial."
                          },
                          "releaseDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Release date."
                          },
                          "timeZoneGroupId": {
                            "type": "number",
                            "description": "Time zone group identifier."
                          },
                          "username": {
                            "type": "string",
                            "description": "Unique username."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
[...]
