{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PeakIDX Universal API",
    "version": "0.0.5",
    "description": "PeakIDX real-estate search and lead-management API covering search criteria, saved-search results, and lead synchronization for tenant websites."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/peakIDX/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/peakIDX/latest/actions/create-or-update-lead": {
      "post": {
        "operationId": "peakIDX.create-or-update-lead",
        "summary": "Create Or Update Lead",
        "description": "Creates or updates a lead in PeakIDX.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peakIDX/latest/actions/create-or-update-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Unique identifier for the lead."
                  },
                  "leadType": {
                    "type": "string",
                    "description": "Lead category such as Inquiry, Property Inquiry, CMA Inquiry, or Mortgage Quote."
                  },
                  "leadFirstName": {
                    "type": "string",
                    "description": "Lead given name."
                  },
                  "leadLastName": {
                    "type": "string",
                    "description": "Lead family name."
                  },
                  "leadEmail": {
                    "type": "string",
                    "description": "Primary lead email address."
                  },
                  "leadPhone": {
                    "type": "string",
                    "description": "Primary lead phone number."
                  },
                  "leadComments": {
                    "type": "string",
                    "description": "Additional notes or context for the lead."
                  },
                  "leadListingId": {
                    "type": "string",
                    "description": "Associated listing identifier such as an MLS number."
                  },
                  "leadPhone2": {
                    "type": "string",
                    "description": "Secondary lead phone number."
                  },
                  "leadCreatedDatetime": {
                    "type": "string",
                    "description": "Lead creation timestamp in PeakIDX format such as 2024-03-22 12:00:00."
                  },
                  "leadCustomFields": {
                    "type": "string",
                    "description": "Multi-line custom field text formatted as Label: Value pairs."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean",
                            "description": "Whether PeakIDX accepted the lead upsert request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peakIDX/latest/actions/get-search-criteria": {
      "get": {
        "operationId": "peakIDX.get-search-criteria",
        "summary": "Get Search Criteria",
        "description": "Retrieves configured search criteria from PeakIDX.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peakIDX/latest/actions/get-search-criteria"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "acreage": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available acreage filters."
                            }
                          },
                          "bathrooms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "Displayed bathroom option label."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Bathroom option value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bedrooms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "Displayed bedroom option label."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Bedroom option value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "listStatus": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available listing status values."
                            }
                          },
                          "price": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available price filters."
                            }
                          },
                          "sort": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "Sort option label."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Sort option value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sqft": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available square-footage filters."
                            }
                          },
                          "status": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available status values."
                            }
                          },
                          "type": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available property types."
                            }
                          },
                          "yearBuilt": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Available year-built filters."
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peakIDX/latest/actions/list-new-leads": {
      "get": {
        "operationId": "peakIDX.list-new-leads",
        "summary": "List New Leads",
        "description": "Retrieves new leads from PeakIDX since the last sync.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peakIDX/latest/actions/list-new-leads"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadType",
            "in": "query",
            "required": false,
            "description": "Optional comma-separated PeakIDX lead type names, such as Inquiry or Property Inquiry.",
            "schema": {
              "type": "string",
              "description": "Optional comma-separated PeakIDX lead type names, such as Inquiry or Property Inquiry.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "allFields": {
                                  "type": "string",
                                  "description": "Full multi-line text block returned by PeakIDX for the lead."
                                },
                                "comments": {
                                  "type": "string",
                                  "description": "Lead comments."
                                },
                                "date": {
                                  "type": "string",
                                  "description": "Lead timestamp returned by PeakIDX."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Lead email address."
                                },
                                "firstName": {
                                  "type": "string",
                                  "description": "Lead first name."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "PeakIDX lead identifier from the new-leads feed."
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "Lead last name."
                                },
                                "leadType": {
                                  "type": "string",
                                  "description": "Lead type such as Inquiry or Property Inquiry."
                                },
                                "listingId": {
                                  "type": "string",
                                  "description": "Associated listing identifier when present."
                                },
                                "phone": {
                                  "type": "string",
                                  "description": "Primary lead phone number."
                                },
                                "phone2": {
                                  "type": "string",
                                  "description": "Secondary lead phone number when present."
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/peakIDX/latest/actions/list-search-results": {
      "get": {
        "operationId": "peakIDX.list-search-results",
        "summary": "List Search Results",
        "description": "Retrieves listings for a saved search in PeakIDX.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/peakIDX/latest/actions/list-search-results"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchEmbedId",
            "in": "query",
            "required": true,
            "description": "The saved search embed identifier from the PeakIDX Search Embeds page.",
            "schema": {
              "type": "string",
              "description": "The saved search embed identifier from the PeakIDX Search Embeds page."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Starting position for the results. PeakIDX docs allow values from 0 through 10000.",
            "schema": {
              "type": "number",
              "description": "Starting position for the results. PeakIDX docs allow values from 0 through 10000.",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return. PeakIDX docs allow values from 0 through 200.",
            "schema": {
              "type": "number",
              "description": "Maximum number of results to return. PeakIDX docs allow values from 0 through 200.",
              "default": 10
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Number of listings returned in this response."
                          },
                          "listings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "description": "Listing street address."
                                },
                                "baths": {
                                  "type": "number",
                                  "description": "Bathroom count."
                                },
                                "beds": {
                                  "type": "number",
                                  "description": "Bedroom count."
                                },
                                "city": {
                                  "type": "string",
                                  "description": "Listing city."
                                },
                                "listingId": {
                                  "type": "number",
                                  "description": "PeakIDX listing identifier."
                                },
                                "price": {
                                  "type": "number",
                                  "description": "Listing price."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "total": {
                            "type": "number",
                            "description": "Total number of listings that match the saved search."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
