{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Shipday Universal API",
    "version": "0.0.10",
    "description": "Manage Shipday delivery orders, carriers, and delivery status"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shipday/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shipday/latest/actions/add-carrier": {
      "post": {
        "operationId": "shipday.add-carrier",
        "summary": "Add Carrier",
        "description": "Creates a new carrier in Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/add-carrier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Full name of the carrier.",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address for the carrier.",
                    "example": "user@example.com"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number for the carrier.",
                    "example": "+1-555-123-4567"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/assign-order-to-driver": {
      "put": {
        "operationId": "shipday.assign-order-to-driver",
        "summary": "Assign Order to Driver",
        "description": "Assigns an existing order to a driver in Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/assign-order-to-driver"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderId",
                  "carrierId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderId": {
                    "type": "number",
                    "description": "Shipday order ID used in the request path.",
                    "example": 44865172
                  },
                  "carrierId": {
                    "type": "number",
                    "description": "Shipday carrier ID used in the request path."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Provider message returned after assignment."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the order assignment succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/availability": {
      "get": {
        "operationId": "shipday.availability",
        "summary": "Availability",
        "description": "Checks on-demand service availability in Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/availability"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pickupAddress",
            "in": "query",
            "required": true,
            "description": "Pickup address used for on-demand availability lookup.",
            "schema": {
              "type": "string",
              "description": "Pickup address used for on-demand availability lookup.",
              "example": "1 Wall St, New York, NY 10005, USA"
            }
          },
          {
            "name": "deliveryAddress",
            "in": "query",
            "required": true,
            "description": "Delivery address used for on-demand availability lookup.",
            "schema": {
              "type": "string",
              "description": "Delivery address used for on-demand availability lookup.",
              "example": "1000 5th Ave, New York, NY 10028, USA"
            }
          },
          {
            "name": "deliveryTime",
            "in": "query",
            "required": true,
            "description": "Requested delivery timestamp for the availability check.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Requested delivery timestamp for the availability check.",
              "example": "2025-06-25T17:20:26Z"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deliveryDuration": {
                            "type": "number",
                            "description": "Estimated delivery duration in minutes."
                          },
                          "deliveryTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Estimated delivery timestamp."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Whether the provider returned an error."
                          },
                          "errorCode": {
                            "type": "string",
                            "description": "Provider error code when present."
                          },
                          "errorDescription": {
                            "type": "string",
                            "description": "Provider error description when present."
                          },
                          "errorMessage": {
                            "type": "string",
                            "description": "Provider error message when present."
                          },
                          "fee": {
                            "type": "number",
                            "description": "Quoted delivery fee."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider identifier for the availability row."
                          },
                          "isInternal": {
                            "type": "boolean",
                            "description": "Whether the provider route is internal."
                          },
                          "isProd": {
                            "type": "boolean",
                            "description": "Whether the quote came from a production provider configuration."
                          },
                          "name": {
                            "type": "string",
                            "description": "Provider name."
                          },
                          "pickupDuration": {
                            "type": "number",
                            "description": "Estimated pickup duration in minutes."
                          },
                          "pickupTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Estimated pickup timestamp."
                          },
                          "probableAssignment": {
                            "type": "boolean",
                            "description": "Whether the provider indicates likely assignment."
                          },
                          "regulatoryFee": {
                            "type": "number",
                            "description": "Additional regulatory fee when present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/create-order": {
      "post": {
        "operationId": "shipday.create-order",
        "summary": "Create Order",
        "description": "Creates a new delivery order in Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderNumber",
                  "customerName",
                  "customerAddress",
                  "customerPhoneNumber",
                  "restaurantName",
                  "restaurantAddress"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderNumber": {
                    "type": "string",
                    "description": "Alphanumeric identifier for the order.",
                    "example": "99qT5A"
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer name for the order.",
                    "example": "Mr. Jhon Mason"
                  },
                  "customerAddress": {
                    "type": "string",
                    "description": "Customer delivery address.",
                    "example": "556 Crestlake Dr, San Francisco, CA 94132, USA"
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email address.",
                    "example": "jhonMason@gmail.com"
                  },
                  "customerPhoneNumber": {
                    "type": "string",
                    "description": "Customer phone number with country code.",
                    "example": "+14152392212"
                  },
                  "restaurantName": {
                    "type": "string",
                    "description": "Restaurant name for the order.",
                    "example": "Popeyes Louisiana Kitchen"
                  },
                  "restaurantAddress": {
                    "type": "string",
                    "description": "Restaurant pickup address.",
                    "example": "890 Geneva Ave, San Francisco, CA 94112, United States"
                  },
                  "restaurantPhoneNumber": {
                    "type": "string",
                    "description": "Restaurant phone number with country code.",
                    "example": "+14152392013"
                  },
                  "expectedDeliveryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Requested delivery date.",
                    "example": "2021-06-03"
                  },
                  "expectedPickupTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Requested pickup time.",
                    "example": "17:45:00"
                  },
                  "expectedDeliveryTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Requested delivery time.",
                    "example": "19:22:00"
                  },
                  "orderItem[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "JSON array of order item objects."
                  },
                  "tips": {
                    "type": "number",
                    "description": "Tip amount for the order.",
                    "example": 2.5
                  },
                  "tax": {
                    "type": "number",
                    "description": "Tax amount for the order.",
                    "example": 1.5
                  },
                  "discountAmount": {
                    "type": "number",
                    "description": "Discount amount for the order.",
                    "example": 1.5
                  },
                  "deliveryFee": {
                    "type": "number",
                    "description": "Delivery fee charged for the order.",
                    "example": 3
                  },
                  "totalOrderCost": {
                    "type": "number",
                    "description": "Total order cost.",
                    "example": 13.47
                  },
                  "pickupInstruction": {
                    "type": "string",
                    "description": "Pickup instructions for the carrier."
                  },
                  "deliveryInstruction": {
                    "type": "string",
                    "description": "Delivery instructions for the carrier.",
                    "example": "fast"
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "Payment method for the order.",
                    "example": "credit_card"
                  },
                  "pickup": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Pickup details object."
                  },
                  "dropoff": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dropoff details object."
                  },
                  "orderSource": {
                    "type": "string",
                    "description": "Source of the order.",
                    "example": "Seamless"
                  },
                  "additionalId": {
                    "type": "string",
                    "description": "Additional ID for the order.",
                    "example": "4532"
                  },
                  "clientRestaurantId": {
                    "type": "number",
                    "description": "Client Restaurant ID.",
                    "example": 12
                  },
                  "creditCardType": {
                    "type": "string",
                    "description": "Type of the credit card when payment method is not cash.",
                    "example": "visa"
                  },
                  "creditCardId": {
                    "type": "number",
                    "description": "Last four digits of the credit card when payment method is not cash.",
                    "example": 1234
                  },
                  "isCatering": {
                    "type": "boolean",
                    "description": "Marker of catering order.",
                    "example": false
                  },
                  "pickup.address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Address details."
                  },
                  "pickup.address.unit": {
                    "type": "string",
                    "description": "unit/address line 2",
                    "example": "Suite 1"
                  },
                  "pickup.address.street": {
                    "type": "string",
                    "description": "street/address line 1",
                    "example": "890 Geneva Ave"
                  },
                  "pickup.address.city": {
                    "type": "string",
                    "description": "Pickup address city.",
                    "example": "San Francisco"
                  },
                  "pickup.address.state": {
                    "type": "string",
                    "description": "Pickup address state.",
                    "example": "CA"
                  },
                  "pickup.address.zip": {
                    "type": "string",
                    "description": "Pickup address ZIP code.",
                    "example": "94112"
                  },
                  "pickup.address.country": {
                    "type": "string",
                    "description": "Pickup address country code.",
                    "example": "US"
                  },
                  "dropoff.address": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Address details."
                  },
                  "dropoff.address.unit": {
                    "type": "string",
                    "description": "unit/address line 2",
                    "example": "Apt 2"
                  },
                  "dropoff.address.street": {
                    "type": "string",
                    "description": "street/address line 1",
                    "example": "556 Crestlake Dr"
                  },
                  "dropoff.address.city": {
                    "type": "string",
                    "description": "Dropoff address city.",
                    "example": "San Francisco"
                  },
                  "dropoff.address.state": {
                    "type": "string",
                    "description": "Dropoff address state.",
                    "example": "CA"
                  },
                  "dropoff.address.zip": {
                    "type": "string",
                    "description": "Dropoff address ZIP code.",
                    "example": "94132"
                  },
                  "dropoff.address.country": {
                    "type": "string",
                    "description": "Dropoff address country code.",
                    "example": "US"
                  },
                  "orderItem[].name": {
                    "type": "string",
                    "description": "Name of the order item.",
                    "example": "Popcorn Shrimp"
                  },
                  "orderItem[].quantity": {
                    "type": "number",
                    "description": "Quantity of the order item.",
                    "example": 3
                  },
                  "orderItem[].unitPrice": {
                    "type": "number",
                    "description": "Price of the order item per unit.",
                    "example": 2.99
                  },
                  "orderItem[].addOns[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of add-on items."
                  },
                  "orderItem[].detail": {
                    "type": "string",
                    "description": "Detailed note for the order item.",
                    "example": "Please add less salt"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/delete-order": {
      "delete": {
        "operationId": "shipday.delete-order",
        "summary": "Delete Order",
        "description": "Deletes an existing order from Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/delete-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Shipday order ID used in the request path.",
            "schema": {
              "type": "number",
              "description": "Shipday order ID used in the request path.",
              "example": 44865172
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/get-estimate": {
      "get": {
        "operationId": "shipday.get-estimate",
        "summary": "Get Estimate",
        "description": "Retrieves an estimate from Shipday for an order.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/get-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "description": "Shipday order ID used in the request path.",
            "schema": {
              "type": "number",
              "description": "Shipday order ID used in the request path.",
              "example": 44865172
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deliveryDuration": {
                            "type": "number",
                            "description": "Estimated delivery duration in minutes."
                          },
                          "deliveryTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Estimated delivery timestamp."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Whether the provider returned an error."
                          },
                          "errorCode": {
                            "type": "string",
                            "description": "Provider error code when present."
                          },
                          "errorMessage": {
                            "type": "string",
                            "description": "Provider error message when present."
                          },
                          "fee": {
                            "type": "number",
                            "description": "Estimated fee for the delivery."
                          },
                          "id": {
                            "type": "string",
                            "description": "Provider identifier for the estimate row."
                          },
                          "name": {
                            "type": "string",
                            "description": "Provider name for the estimate row."
                          },
                          "pickupDuration": {
                            "type": "number",
                            "description": "Estimated pickup duration in minutes."
                          },
                          "pickupTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Estimated pickup timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/list-active-orders": {
      "get": {
        "operationId": "shipday.list-active-orders",
        "summary": "List Active Orders",
        "description": "Retrieves active orders from Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/list-active-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activityLog": {
                            "type": "object",
                            "properties": {
                              "expectedDeliveryDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "expectedDeliveryTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "expectedPickupTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "placementTime": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "costing": {
                            "type": "object",
                            "properties": {
                              "cashTip": {
                                "type": "number"
                              },
                              "deliveryFee": {
                                "type": "number"
                              },
                              "discountAmount": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "tip": {
                                "type": "number"
                              },
                              "totalCost": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "emailAddress": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "deliveryInstruction": {
                            "type": "string"
                          },
                          "distance": {
                            "type": "number"
                          },
                          "etaTime": {
                            "type": "string"
                          },
                          "idRequired": {
                            "type": "boolean"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "orderItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "detail": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "unitPrice": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderSeqNum": {
                            "type": "number"
                          },
                          "orderStatus": {
                            "type": "object",
                            "properties": {
                              "accepted": {
                                "type": "boolean"
                              },
                              "incomplete": {
                                "type": "boolean"
                              },
                              "orderState": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "orderStatusAdmin": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "number"
                          },
                          "pickupInstruction": {
                            "type": "string"
                          },
                          "restaurant": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "schedule": {
                            "type": "boolean"
                          },
                          "thirdPartyAssignedAnytime": {
                            "type": "boolean"
                          },
                          "trackingLink": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/list-carriers": {
      "get": {
        "operationId": "shipday.list-carriers",
        "summary": "List Carriers",
        "description": "Retrieves all available carriers from Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/list-carriers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "areaId": {
                            "type": "number",
                            "description": "Area identifier for the carrier."
                          },
                          "carrierPhoto": {
                            "type": "string",
                            "description": "Carrier photo URL."
                          },
                          "codeName": {
                            "type": "string",
                            "description": "Optional code name assigned to the carrier."
                          },
                          "companyId": {
                            "type": "number",
                            "description": "Company identifier for the carrier."
                          },
                          "email": {
                            "type": "string",
                            "description": "Carrier email address."
                          },
                          "id": {
                            "type": "number",
                            "description": "Unique identifier for the carrier."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the carrier is active."
                          },
                          "isOnShift": {
                            "type": "boolean",
                            "description": "Whether the carrier is currently on shift."
                          },
                          "name": {
                            "type": "string",
                            "description": "Full name of the carrier."
                          },
                          "personalId": {
                            "type": "string",
                            "description": "Internal personal ID associated with the carrier."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Carrier phone number."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/list-services": {
      "get": {
        "operationId": "shipday.list-services",
        "summary": "List Services",
        "description": "Retrieves all available services from Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/list-services"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Third-party service provider name."
                          },
                          "prod": {
                            "type": "boolean",
                            "description": "Whether the service entry is production-enabled."
                          },
                          "status": {
                            "type": "boolean",
                            "description": "Whether the service is available."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/retrieve-order-delivery-progress": {
      "get": {
        "operationId": "shipday.retrieve-order-delivery-progress",
        "summary": "Retrieve Order Delivery Progress",
        "description": "Retrieves order delivery progress from Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/retrieve-order-delivery-progress"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingId",
            "in": "query",
            "required": true,
            "description": "Shipday tracking token from the order tracking link.",
            "schema": {
              "type": "string",
              "description": "Shipday tracking token from the order tracking link.",
              "example": "cHB2eWZhcWE="
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dynamicData": {
                            "type": "object",
                            "properties": {
                              "carrierLocation": {
                                "type": "object",
                                "properties": {
                                  "latitude": {
                                    "type": "number",
                                    "description": "Carrier latitude."
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "description": "Carrier longitude."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "detailEta": {
                                "type": "object",
                                "properties": {
                                  "calprog": {
                                    "type": "string",
                                    "description": "Provider calculation-progress field."
                                  },
                                  "deliveryTime": {
                                    "type": "number",
                                    "description": "Detailed delivery time contribution."
                                  },
                                  "estimatedTimeInMinutes": {
                                    "type": "number",
                                    "description": "Detailed ETA minutes value."
                                  },
                                  "orderPosition": {
                                    "type": "number",
                                    "description": "Order position in the route."
                                  },
                                  "pickUpTime": {
                                    "type": "number",
                                    "description": "Detailed pickup time contribution."
                                  },
                                  "startedOrder": {
                                    "type": "number",
                                    "description": "Started-order count."
                                  },
                                  "travelDistance": {
                                    "type": "number",
                                    "description": "Detailed travel distance."
                                  },
                                  "travelDistanceTime": {
                                    "type": "number",
                                    "description": "Detailed travel time contribution."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "estimatedTimeInMinutes": {
                                "type": "string",
                                "description": "High-level ETA minutes value."
                              },
                              "orderStatus": {
                                "type": "object",
                                "properties": {
                                  "arrivedTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Arrival timestamp."
                                  },
                                  "deliveryTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Delivery timestamp."
                                  },
                                  "failedDeliveryTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Failed-delivery timestamp."
                                  },
                                  "pickedTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Pickup timestamp."
                                  },
                                  "startTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Tracking start timestamp."
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "Current delivery-progress status."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "fixedData": {
                            "type": "object",
                            "properties": {
                              "carrier": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "Carrier identifier."
                                  },
                                  "imagePath": {
                                    "type": "string",
                                    "description": "Carrier image path."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Carrier name."
                                  },
                                  "phoneNumber": {
                                    "type": "string",
                                    "description": "Carrier phone number."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "customer": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Customer address."
                                  },
                                  "latitude": {
                                    "type": "number",
                                    "description": "Customer latitude."
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "description": "Customer longitude."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Customer name."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "isExpired": {
                                "type": "boolean",
                                "description": "Whether the tracking link is expired."
                              },
                              "order": {
                                "type": "object",
                                "properties": {
                                  "orderNumber": {
                                    "type": "string",
                                    "description": "Order number in the fixed tracking data."
                                  }
                                },
                                "additionalProperties": false
                              },
                              "restaurant": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "Restaurant address."
                                  },
                                  "latitude": {
                                    "type": "number",
                                    "description": "Restaurant latitude."
                                  },
                                  "longitude": {
                                    "type": "number",
                                    "description": "Restaurant longitude."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Restaurant name."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shipday/latest/actions/retrieve-order-details": {
      "get": {
        "operationId": "shipday.retrieve-order-details",
        "summary": "Retrieve Order Details",
        "description": "Retrieves order details from Shipday.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shipday/latest/actions/retrieve-order-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderNumber",
            "in": "query",
            "required": true,
            "description": "Shipday order reference used in the request path.",
            "schema": {
              "type": "string",
              "description": "Shipday order reference used in the request path.",
              "example": "Test order 002"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activityLog": {
                            "type": "object",
                            "properties": {
                              "expectedDeliveryDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "expectedDeliveryTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "expectedPickupTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "placementTime": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "costing": {
                            "type": "object",
                            "properties": {
                              "cashTip": {
                                "type": "number"
                              },
                              "deliveryFee": {
                                "type": "number"
                              },
                              "discountAmount": {
                                "type": "number"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "tip": {
                                "type": "number"
                              },
                              "totalCost": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "emailAddress": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phoneNumber": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "deliveryInstruction": {
                            "type": "string"
                          },
                          "distance": {
                            "type": "number"
                          },
                          "etaTime": {
                            "type": "string"
                          },
                          "idRequired": {
                            "type": "boolean"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "orderItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "detail": {
                                  "type": "string"
                                },
[...]
