{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FreshBooks Universal API",
    "version": "0.0.9",
    "description": "Manage clients, invoices, expenses, projects, and time entries"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/freshBooks/latest/actions/create-client": {
      "post": {
        "operationId": "freshBooks.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "FreshBooks accounting account ID."
                  },
                  "client.fname": {
                    "type": "string",
                    "description": "Client first name."
                  },
                  "client.lname": {
                    "type": "string",
                    "description": "Client last name."
                  },
                  "client.organization": {
                    "type": "string",
                    "description": "Client organization name."
                  },
                  "client.email": {
                    "type": "string",
                    "description": "Client email address."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountingSystemid": {
                            "type": "string"
                          },
                          "allowEmailIncludePdf": {
                            "type": "boolean"
                          },
                          "allowLateFees": {
                            "type": "boolean"
                          },
                          "allowLateNotifications": {
                            "type": "boolean"
                          },
                          "busPhone": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "exceedsClientLimit": {
                            "type": "number"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "fname": {
                            "type": "string"
                          },
                          "homePhone": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "level": {
                            "type": "number"
                          },
                          "lname": {
                            "type": "string"
                          },
                          "mobPhone": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "notified": {
                            "type": "boolean"
                          },
                          "numLogins": {
                            "type": "number"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "pCity": {
                            "type": "string"
                          },
                          "pCode": {
                            "type": "string"
                          },
                          "pCountry": {
                            "type": "string"
                          },
                          "pProvince": {
                            "type": "string"
                          },
                          "prefEmail": {
                            "type": "boolean"
                          },
                          "prefGmail": {
                            "type": "boolean"
                          },
                          "pStreet": {
                            "type": "string"
                          },
                          "pStreet2": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "sCity": {
                            "type": "string"
                          },
                          "sCode": {
                            "type": "string"
                          },
                          "sCountry": {
                            "type": "string"
                          },
                          "signupDate": {
                            "type": "string"
                          },
                          "sProvince": {
                            "type": "string"
                          },
                          "sStreet": {
                            "type": "string"
                          },
                          "sStreet2": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          },
                          "username": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visState": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/create-estimate": {
      "post": {
        "operationId": "freshBooks.create-estimate",
        "summary": "Create Estimate",
        "description": "Creates a new estimate in FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "estimate.customerid",
                  "estimate.create_date",
                  "estimate.lines[].name",
                  "estimate.lines[].qty",
                  "estimate.lines[].unit_cost.amount",
                  "estimate.lines[].unit_cost.code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "FreshBooks accounting account ID."
                  },
                  "estimate.customerid": {
                    "type": "number"
                  },
                  "estimate.create_date": {
                    "type": "string"
                  },
                  "estimate.notes": {
                    "type": "string"
                  },
                  "estimate.lines[].name": {
                    "type": "string"
                  },
                  "estimate.lines[].qty": {
                    "type": "number"
                  },
                  "estimate.lines[].unit_cost.amount": {
                    "type": "string"
                  },
                  "estimate.lines[].unit_cost.code": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accepted": {
                            "type": "boolean"
                          },
                          "accountingSystemid": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currentOrganization": {
                            "type": "string"
                          },
                          "customerid": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "discountTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountValue": {
                            "type": "string"
                          },
                          "displayStatus": {
                            "type": "string"
                          },
                          "estimateid": {
                            "type": "number"
                          },
                          "estimateNumber": {
                            "type": "string"
                          },
                          "extArchive": {
                            "type": "number"
                          },
                          "fname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoiced": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lname": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "ownerid": {
                            "type": "number"
                          },
                          "poNumber": {
                            "type": "string"
                          },
                          "province": {
                            "type": "string"
                          },
                          "replyStatus": {
                            "type": "string"
                          },
                          "requireClientSignature": {
                            "type": "boolean"
                          },
                          "richProposal": {
                            "type": "boolean"
                          },
                          "sentid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "street": {
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "uiStatus": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "vatName": {
                            "type": "string"
                          },
                          "vatNumber": {
                            "type": "string"
                          },
                          "visState": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/create-expense": {
      "post": {
        "operationId": "freshBooks.create-expense",
        "summary": "Create Expense",
        "description": "Creates a new expense in FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "expense.amount.amount",
                  "expense.amount.code",
                  "expense.categoryid",
                  "expense.date",
                  "expense.staffid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "FreshBooks accounting account ID."
                  },
                  "expense.amount.amount": {
                    "type": "string",
                    "description": "Expense amount value."
                  },
                  "expense.amount.code": {
                    "type": "string",
                    "description": "ISO currency code."
                  },
                  "expense.categoryid": {
                    "type": "number",
                    "description": "FreshBooks expense category ID."
                  },
                  "expense.date": {
                    "type": "string",
                    "description": "Expense date in YYYY-MM-DD format."
                  },
                  "expense.staffid": {
                    "type": "number",
                    "description": "FreshBooks staff ID."
                  },
                  "expense.notes": {
                    "type": "string",
                    "description": "Expense memo text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountingSystemid": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "categoryid": {
                            "type": "number"
                          },
                          "clientid": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "expenseid": {
                            "type": "number"
                          },
                          "hasReceipt": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoiceid": {
                            "type": "number"
                          },
                          "isCogs": {
                            "type": "boolean"
                          },
                          "markupPercent": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "projectid": {
                            "type": "number"
                          },
                          "staffid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "visState": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/create-invoice": {
      "post": {
        "operationId": "freshBooks.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "invoice.customerid",
                  "invoice.create_date",
                  "invoice.lines[].name",
                  "invoice.lines[].qty",
                  "invoice.lines[].unit_cost.amount",
                  "invoice.lines[].unit_cost.code"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "string",
                    "description": "FreshBooks accounting account ID."
                  },
                  "invoice.customerid": {
                    "type": "number"
                  },
                  "invoice.create_date": {
                    "type": "string"
                  },
                  "invoice.due_date": {
                    "type": "string"
                  },
                  "invoice.notes": {
                    "type": "string"
                  },
                  "invoice.lines[].name": {
                    "type": "string"
                  },
                  "invoice.lines[].qty": {
                    "type": "number"
                  },
                  "invoice.lines[].unit_cost.amount": {
                    "type": "string"
                  },
                  "invoice.lines[].unit_cost.code": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountid": {
                            "type": "string"
                          },
                          "accountingSystemid": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "attachPdfToEmail": {
                            "type": "boolean"
                          },
                          "autoBill": {
                            "type": "boolean"
                          },
                          "autobillStatus": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currentOrganization": {
                            "type": "string"
                          },
                          "customerid": {
                            "type": "number"
                          },
                          "datePaid": {
                            "type": "string"
                          },
                          "depositStatus": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountDescription": {
                            "type": "string"
                          },
                          "discountTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountValue": {
                            "type": "string"
                          },
                          "displayStatus": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "dueOffsetDays": {
                            "type": "number"
                          },
                          "estimateid": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoiceid": {
                            "type": "number"
                          },
                          "invoiceNumber": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lockStatus": {
                            "type": "string"
                          },
                          "netPaidAmount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notes": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "outstanding": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ownerid": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentDetails": {
                            "type": "string"
                          },
                          "paymentStatus": {
                            "type": "string"
                          },
                          "poNumber": {
                            "type": "string"
                          },
                          "senderAddress": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "showAttachments": {
                            "type": "boolean"
                          },
                          "status": {
                            "type": "number"
                          },
                          "template": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "v3Status": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          },
                          "visState": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/create-project": {
      "post": {
        "operationId": "freshBooks.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in FreshBooks for a business.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "businessId",
                  "project.title",
                  "project.client_id",
                  "project.project_type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "businessId": {
                    "type": "string",
                    "description": "FreshBooks business ID."
                  },
                  "project.title": {
                    "type": "string",
                    "description": "Project title."
                  },
                  "project.client_id": {
                    "type": "number",
                    "description": "FreshBooks client ID."
                  },
                  "project.project_type": {
                    "type": "string",
                    "description": "FreshBooks project type."
                  },
                  "project.fixed_price": {
                    "type": "string",
                    "description": "Fixed-price amount."
                  },
                  "project.rate": {
                    "type": "string",
                    "description": "Hourly rate amount."
                  },
                  "project.description": {
                    "type": "string",
                    "description": "Project description."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "billedAmount": {
                            "type": "string"
                          },
                          "billedStatus": {
                            "type": "string"
                          },
                          "billingMethod": {
                            "type": "string"
                          },
                          "budget": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "number"
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "string"
                          },
                          "expenseMarkup": {
                            "type": "string"
                          },
                          "fixedPrice": {
                            "type": "string"
                          },
                          "group": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "groupId": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "internal": {
                            "type": "boolean"
                          },
                          "loggedDuration": {
                            "type": "number"
                          },
                          "projectManagerId": {
                            "type": "number"
                          },
                          "projectType": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "string"
                          },
                          "retainerId": {
                            "type": "number"
                          },
                          "sample": {
                            "type": "boolean"
                          },
                          "serviceEstimateType": {
                            "type": "string"
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/create-time-entry": {
      "post": {
        "operationId": "freshBooks.create-time-entry",
        "summary": "Create Time Entry",
        "description": "Creates a new time entry in FreshBooks for a business.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/create-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "businessId",
                  "timeEntry.duration",
                  "timeEntry.started_at",
                  "timeEntry.identity_id",
                  "timeEntry.is_logged"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "businessId": {
                    "type": "string",
                    "description": "FreshBooks business ID."
                  },
                  "timeEntry.duration": {
                    "type": "number",
                    "description": "Duration in seconds."
                  },
                  "timeEntry.started_at": {
                    "type": "string",
                    "description": "Start timestamp."
                  },
                  "timeEntry.identity_id": {
                    "type": "number",
                    "description": "FreshBooks identity ID."
                  },
                  "timeEntry.client_id": {
                    "type": "number",
                    "description": "FreshBooks client ID."
                  },
                  "timeEntry.project_id": {
                    "type": "number",
                    "description": "FreshBooks project ID."
                  },
                  "timeEntry.is_logged": {
                    "type": "boolean",
                    "description": "Whether the entry is logged."
                  },
                  "timeEntry.note": {
                    "type": "string",
                    "description": "Time entry note."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "billed": {
                            "type": "boolean"
                          },
                          "clientId": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "identityId": {
                            "type": "number"
                          },
                          "internal": {
                            "type": "boolean"
                          },
                          "isLogged": {
                            "type": "boolean"
                          },
                          "localStartedAt": {
                            "type": "string"
                          },
                          "localTimezone": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "pendingClient": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pendingProject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "pendingTask": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "retainerId": {
                            "type": "number"
                          },
                          "serviceId": {
                            "type": "number"
                          },
                          "startedAt": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "timer": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/get-client": {
      "get": {
        "operationId": "freshBooks.get-client",
        "summary": "Get Client",
        "description": "Retrieves a client from FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/get-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "FreshBooks accounting account ID.",
            "schema": {
              "type": "string",
              "description": "FreshBooks accounting account ID."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "FreshBooks client user ID.",
            "schema": {
              "type": "string",
              "description": "FreshBooks client user ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accountingSystemid": {
                            "type": "string"
                          },
                          "allowEmailIncludePdf": {
                            "type": "boolean"
                          },
                          "allowLateFees": {
                            "type": "boolean"
                          },
                          "allowLateNotifications": {
                            "type": "boolean"
                          },
                          "busPhone": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "exceedsClientLimit": {
                            "type": "number"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "fname": {
                            "type": "string"
                          },
                          "homePhone": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "language": {
                            "type": "string"
                          },
                          "level": {
                            "type": "number"
                          },
                          "lname": {
                            "type": "string"
                          },
                          "mobPhone": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "notified": {
                            "type": "boolean"
                          },
                          "numLogins": {
                            "type": "number"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "pCity": {
                            "type": "string"
                          },
                          "pCode": {
                            "type": "string"
                          },
                          "pCountry": {
                            "type": "string"
                          },
                          "pProvince": {
                            "type": "string"
                          },
                          "prefEmail": {
                            "type": "boolean"
                          },
                          "prefGmail": {
                            "type": "boolean"
                          },
                          "pStreet": {
                            "type": "string"
                          },
                          "pStreet2": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "sCity": {
                            "type": "string"
                          },
                          "sCode": {
                            "type": "string"
                          },
                          "sCountry": {
                            "type": "string"
                          },
                          "signupDate": {
                            "type": "string"
                          },
                          "sProvince": {
                            "type": "string"
                          },
                          "sStreet": {
                            "type": "string"
                          },
                          "sStreet2": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "userid": {
                            "type": "number"
                          },
                          "username": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "visState": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/get-current-user-profile": {
      "get": {
        "operationId": "freshBooks.get-current-user-profile",
        "summary": "Get Current User Profile",
        "description": "Retrieves the current user profile from FreshBooks.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/get-current-user-profile"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "businessMemberships": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Business membership records for the authenticated user."
                          },
                          "businessStatuses": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Business status by FreshBooks account."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "FreshBooks account creation timestamp."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary email address for the authenticated user."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "User first name."
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Business group memberships for the authenticated user."
                          },
                          "id": {
                            "type": "number",
                            "description": "FreshBooks identity ID."
                          },
                          "identityId": {
                            "type": "number",
                            "description": "Canonical identity identifier for the authenticated user."
                          },
                          "identityOrigin": {
                            "type": "string",
                            "description": "FreshBooks origin for the identity record."
                          },
                          "identityUuid": {
                            "type": "string",
                            "description": "UUID for the authenticated FreshBooks identity."
                          },
                          "integrations": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Connected integration details keyed by provider."
                          },
                          "language": {
                            "type": "string",
                            "description": "Preferred language code."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "User last name."
                          },
                          "links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "FreshBooks API links related to the current identity."
                          },
                          "otpDeliveryMethod": {
                            "type": "string",
                            "description": "Delivery method for one-time passwords."
                          },
                          "otpRequiredForLogin": {
                            "type": "boolean",
                            "description": "Whether one-time password login is required."
                          },
                          "permissions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Feature and entitlement map by FreshBooks account."
                          },
                          "profile": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Expanded profile details for the authenticated user."
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Role assignments for the authenticated user."
                          },
                          "setupComplete": {
                            "type": "boolean",
                            "description": "Whether account setup is complete."
                          },
                          "subscriptionStatuses": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Subscription status by FreshBooks account."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Preferred timezone for the authenticated user."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/get-estimate": {
      "get": {
        "operationId": "freshBooks.get-estimate",
        "summary": "Get Estimate",
        "description": "Retrieves an estimate from FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/get-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "FreshBooks accounting account ID.",
            "schema": {
              "type": "string",
              "description": "FreshBooks accounting account ID."
            }
          },
          {
            "name": "estimateId",
            "in": "query",
            "required": true,
            "description": "FreshBooks estimate ID.",
            "schema": {
              "type": "string",
              "description": "FreshBooks estimate ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accepted": {
                            "type": "boolean"
                          },
                          "accountingSystemid": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "city": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createDate": {
                            "type": "string"
                          },
                          "currencyCode": {
                            "type": "string"
                          },
                          "currentOrganization": {
                            "type": "string"
                          },
                          "customerid": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "discountTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountValue": {
                            "type": "string"
                          },
                          "displayStatus": {
                            "type": "string"
                          },
                          "estimateid": {
                            "type": "number"
                          },
                          "estimateNumber": {
                            "type": "string"
                          },
                          "extArchive": {
                            "type": "number"
                          },
                          "fname": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoiced": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lname": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "ownerid": {
                            "type": "number"
                          },
                          "poNumber": {
                            "type": "string"
                          },
                          "province": {
                            "type": "string"
                          },
                          "replyStatus": {
                            "type": "string"
                          },
                          "requireClientSignature": {
                            "type": "boolean"
                          },
                          "richProposal": {
                            "type": "boolean"
                          },
                          "sentid": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "street": {
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "uiStatus": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          },
                          "vatName": {
                            "type": "string"
                          },
                          "vatNumber": {
                            "type": "string"
                          },
                          "visState": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/freshBooks/latest/actions/get-expense": {
      "get": {
        "operationId": "freshBooks.get-expense",
        "summary": "Get Expense",
        "description": "Retrieves an expense from FreshBooks for an account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/freshBooks/latest/actions/get-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "FreshBooks accounting account ID.",
            "schema": {
              "type": "string",
              "description": "FreshBooks accounting account ID."
            }
          },
          {
            "name": "expenseId",
            "in": "query",
            "required": true,
            "description": "FreshBooks expense ID.",
            "schema": {
              "type": "string",
              "description": "FreshBooks expense ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
[...]
