{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Papersign Universal API",
    "version": "0.0.5",
    "description": "Send, sign, and manage documents with Papersign"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/papersign/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/papersign/latest/actions/cancel-papersign-document": {
      "put": {
        "operationId": "papersign.cancel-papersign-document",
        "summary": "Cancel Papersign Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/cancel-papersign-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The Papersign document ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "document": {
                                "type": "object",
                                "properties": {
                                  "completed_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was completed."
                                  },
                                  "created_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was created."
                                  },
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      },
                                      "space_id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space that owns the folder."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the document."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the document."
                                  },
                                  "sent_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was sent."
                                  },
                                  "space": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the space."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The status of the document."
                                  },
                                  "updated_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was last updated."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/copy-papersign-document": {
      "post": {
        "operationId": "papersign.copy-papersign-document",
        "summary": "Copy Papersign Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/copy-papersign-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The Papersign document ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "document": {
                                "type": "object",
                                "properties": {
                                  "completed_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was completed."
                                  },
                                  "created_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was created."
                                  },
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      },
                                      "space_id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space that owns the folder."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the document."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the document."
                                  },
                                  "sent_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was sent."
                                  },
                                  "space": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the space."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The status of the document."
                                  },
                                  "updated_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was last updated."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/create-papersign-folder": {
      "post": {
        "operationId": "papersign.create-papersign-folder",
        "summary": "Create Papersign Folder",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/create-papersign-folder"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "folder": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the folder."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the folder."
                                  },
                                  "parent_id": {
                                    "type": "number",
                                    "description": "The unique identifier of the parent folder."
                                  },
                                  "space_id": {
                                    "type": "number",
                                    "description": "The unique identifier of the space."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/create-papersign-folder-webhook": {
      "post": {
        "operationId": "papersign.create-papersign-folder-webhook",
        "summary": "Create Papersign Folder Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/create-papersign-folder-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The Papersign folder ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "webhook": {
                                "type": "object",
                                "properties": {
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the webhook."
                                  },
                                  "scope": {
                                    "type": "string",
                                    "description": "The scope of the webhook."
                                  },
                                  "target_url": {
                                    "type": "string",
                                    "description": "The target URL for the webhook."
                                  },
                                  "triggers": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "description": "The webhook triggers."
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/delete-papersign-folder-webhook": {
      "delete": {
        "operationId": "papersign.delete-papersign-folder-webhook",
        "summary": "Delete Papersign Folder Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/delete-papersign-folder-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Papersign webhook ID.",
            "schema": {
              "type": "string",
              "description": "The Papersign webhook ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/get-papersign-document": {
      "get": {
        "operationId": "papersign.get-papersign-document",
        "summary": "Get Papersign Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/get-papersign-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Papersign document ID.",
            "schema": {
              "type": "string",
              "description": "The Papersign document ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "document": {
                                "type": "object",
                                "properties": {
                                  "completed_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was completed."
                                  },
                                  "created_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was created."
                                  },
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      },
                                      "space_id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space that owns the folder."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the document."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the document."
                                  },
                                  "sent_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was sent."
                                  },
                                  "space": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the space."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The status of the document."
                                  },
                                  "updated_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was last updated."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/list-papersign-documents": {
      "get": {
        "operationId": "papersign.list-papersign-documents",
        "summary": "List Papersign Documents",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/list-papersign-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more documents are available."
                          },
                          "limit": {
                            "type": "number",
                            "description": "The page size used for the response."
                          },
                          "results": {
                            "type": "object",
                            "properties": {
                              "documents": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "completed_at_utc": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The time the document was completed."
                                    },
                                    "created_at_utc": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The time the document was created."
                                    },
                                    "folder": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number",
                                          "description": "The unique identifier of the folder."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the folder."
                                        },
                                        "space_id": {
                                          "type": "number",
                                          "description": "The unique identifier of the space that owns the folder."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The unique identifier of the document."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the document."
                                    },
                                    "sent_at_utc": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The time the document was sent."
                                    },
                                    "space": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number",
                                          "description": "The unique identifier of the space."
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the space."
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "status": {
                                      "type": "string",
                                      "description": "The status of the document."
                                    },
                                    "updated_at_utc": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The time the document was last updated."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "skip": {
                            "type": "number",
                            "description": "The number of skipped records."
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          },
                          "total": {
                            "type": "number",
                            "description": "The total number of documents."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/list-papersign-folder-webhooks": {
      "get": {
        "operationId": "papersign.list-papersign-folder-webhooks",
        "summary": "List Papersign Folder Webhooks",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/list-papersign-folder-webhooks"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Papersign folder ID.",
            "schema": {
              "type": "string",
              "description": "The Papersign folder ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "webhooks": {
                                "type": "object",
                                "properties": {
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "number",
                                    "description": "The unique identifier of the webhook."
                                  },
                                  "scope": {
                                    "type": "string",
                                    "description": "The scope of the webhook."
                                  },
                                  "target_url": {
                                    "type": "string",
                                    "description": "The target URL for the webhook."
                                  },
                                  "triggers": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "description": "The webhook triggers."
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/list-papersign-folders": {
      "get": {
        "operationId": "papersign.list-papersign-folders",
        "summary": "List Papersign Folders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/list-papersign-folders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more folders are available."
                          },
                          "limit": {
                            "type": "number",
                            "description": "The page size used for the response."
                          },
                          "results": {
                            "type": "object",
                            "properties": {
                              "folders": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number",
                                      "description": "The unique identifier of the folder."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the folder."
                                    },
                                    "parent_id": {
                                      "type": "number",
                                      "description": "The unique identifier of the parent folder."
                                    },
                                    "space_id": {
                                      "type": "number",
                                      "description": "The unique identifier of the space."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "skip": {
                            "type": "number",
                            "description": "The number of skipped records."
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          },
                          "total": {
                            "type": "number",
                            "description": "The total number of folders."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/list-papersign-spaces": {
      "get": {
        "operationId": "papersign.list-papersign-spaces",
        "summary": "List Papersign Spaces",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/list-papersign-spaces"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "has_more": {
                            "type": "boolean",
                            "description": "Whether more spaces are available."
                          },
                          "limit": {
                            "type": "number",
                            "description": "The page size used for the response."
                          },
                          "results": {
                            "type": "object",
                            "properties": {
                              "spaces": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "allow_team_access": {
                                      "type": "boolean",
                                      "description": "Whether team access is allowed for the space."
                                    },
                                    "id": {
                                      "type": "number",
                                      "description": "The unique identifier of the space."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the space."
                                    },
                                    "root_folder_id": {
                                      "type": "number",
                                      "description": "The unique identifier of the root folder."
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "skip": {
                            "type": "number",
                            "description": "The number of skipped records."
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          },
                          "total": {
                            "type": "number",
                            "description": "The total number of spaces."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/move-papersign-document": {
      "put": {
        "operationId": "papersign.move-papersign-document",
        "summary": "Move Papersign Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/move-papersign-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The Papersign document ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "document": {
                                "type": "object",
                                "properties": {
                                  "completed_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was completed."
                                  },
                                  "created_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was created."
                                  },
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      },
                                      "space_id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space that owns the folder."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "The unique identifier of the document."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the document."
                                  },
                                  "sent_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was sent."
                                  },
                                  "space": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the space."
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The status of the document."
                                  },
                                  "updated_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was last updated."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string",
                            "description": "Response status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/papersign/latest/actions/send-papersign-document": {
      "put": {
        "operationId": "papersign.send-papersign-document",
        "summary": "Send Papersign Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/papersign/latest/actions/send-papersign-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The Papersign document ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "results": {
                            "type": "object",
                            "properties": {
                              "document": {
                                "type": "object",
                                "properties": {
                                  "completed_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was completed."
                                  },
                                  "created_at_utc": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The time the document was created."
                                  },
                                  "folder": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number",
                                        "description": "The unique identifier of the folder."
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "The name of the folder."
                                      },
                                      "space_id": {
                                        "type": "number",
                                        "description": "The unique identifier of the space that owns the folder."
[...]
