{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "RO App Universal API",
    "version": "0.0.8",
    "description": "RO App is a field-service and operations platform for managing contacts, bookings, estimates, orders, invoices, employees, and company data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/rOApp/latest/actions/create-booking": {
      "post": {
        "operationId": "rOApp.create-booking",
        "summary": "Create Booking",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "branchId",
                  "assigneeId",
                  "clientId",
                  "scheduledFor",
                  "scheduledTo"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "branchId": {
                    "type": "number",
                    "description": "Location ID"
                  },
                  "assigneeId": {
                    "type": "number",
                    "description": "Assigned Employee ID"
                  },
                  "clientId": {
                    "type": "number",
                    "description": "Client (Person / Organization) ID"
                  },
                  "scheduledFor": {
                    "type": "string",
                    "format": "date-time",
                    "description": "\"Scheduled From\" date and time (ISO 8601)"
                  },
                  "scheduledTo": {
                    "type": "string",
                    "format": "date-time",
                    "description": "\"Scheduled To\" date and time (ISO 8601)"
                  },
                  "resourceId": {
                    "type": "number",
                    "description": "Resource ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment text"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee_id": {
                            "type": "number"
                          },
                          "branch_id": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "resource_id": {
                            "type": "number"
                          },
                          "scheduled_for": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduled_to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status_id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/create-estimate": {
      "post": {
        "operationId": "rOApp.create-estimate",
        "summary": "Create Estimate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "branchId",
                  "orderTypeId",
                  "clientId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "branchId": {
                    "type": "number",
                    "description": "Location ID"
                  },
                  "orderTypeId": {
                    "type": "number",
                    "description": "Estimate/Order Type ID"
                  },
                  "managerId": {
                    "type": "number",
                    "description": "Manager ID"
                  },
                  "assigneeId": {
                    "type": "number",
                    "description": "Assigned Employee ID"
                  },
                  "assetId": {
                    "type": "number",
                    "description": "Asset ID"
                  },
                  "clientId": {
                    "type": "number",
                    "description": "Client (Person / Organization) ID"
                  },
                  "payerId": {
                    "type": "number",
                    "description": "Payer (Person / Organization) ID"
                  },
                  "adCampaignId": {
                    "type": "number",
                    "description": "Ad Campaign ID"
                  },
                  "scheduledFor": {
                    "type": "string",
                    "format": "date-time",
                    "description": "\"Scheduled From\" date and time (ISO 8601)"
                  },
                  "scheduledTo": {
                    "type": "string",
                    "format": "date-time",
                    "description": "\"Scheduled To\" date and time (ISO 8601)"
                  },
                  "resourceId": {
                    "type": "number",
                    "description": "Resource ID"
                  },
                  "malfunction": {
                    "type": "string",
                    "description": "Malfunction text"
                  },
                  "managerNotes": {
                    "type": "string",
                    "description": "Manager notes"
                  },
                  "engineerNotes": {
                    "type": "string",
                    "description": "Technician notes"
                  },
                  "resume": {
                    "type": "string",
                    "description": "Conclusion / client recommendations"
                  },
                  "estimatedPrice": {
                    "type": "string",
                    "description": "Estimates price or price range"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Estimate Due Date (ISO 8601)"
                  },
                  "urgent": {
                    "type": "boolean",
                    "description": "Is Estimate urgent?"
                  },
                  "customFields": {
                    "type": "string",
                    "description": "Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_campaign_id": {
                            "type": "number"
                          },
                          "asset_id": {
                            "type": "number"
                          },
                          "assignee_id": {
                            "type": "number"
                          },
                          "branch_id": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "custom_fields": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "engineer_notes": {
                            "type": "string"
                          },
                          "estimated_price": {
                            "type": "string"
                          },
                          "malfunction": {
                            "type": "string"
                          },
                          "manager_id": {
                            "type": "number"
                          },
                          "manager_notes": {
                            "type": "string"
                          },
                          "order_type_id": {
                            "type": "number"
                          },
                          "payer_id": {
                            "type": "number"
                          },
                          "resource_id": {
                            "type": "number"
                          },
                          "resume": {
                            "type": "string"
                          },
                          "scheduled_for": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduled_to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "urgent": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/create-estimate-item": {
      "post": {
        "operationId": "rOApp.create-estimate-item",
        "summary": "Create Estimate Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-estimate-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "estimateId",
                  "entityId",
                  "assigneeId",
                  "quantity",
                  "price",
                  "cost",
                  "discount",
                  "discount.type",
                  "discount.percentage",
                  "discount.amount",
                  "discount.sponsor",
                  "warranty",
                  "warranty.period",
                  "warranty.periodUnits"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "estimateId": {
                    "type": "number",
                    "description": "Estimate ID"
                  },
                  "entityId": {
                    "type": "number",
                    "description": "Product or Service ID"
                  },
                  "assigneeId": {
                    "type": "number",
                    "description": "Assigned Employee ID"
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Quantity"
                  },
                  "price": {
                    "type": "number",
                    "description": "Price per unit"
                  },
                  "cost": {
                    "type": "number",
                    "description": "Unit cost"
                  },
                  "discount": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Item discount object"
                  },
                  "discount.type": {
                    "type": "string",
                    "description": "Discount type. \"percentage\" — percent, \"value\" — absolute value."
                  },
                  "discount.percentage": {
                    "type": "number",
                    "description": "Percentage value"
                  },
                  "discount.amount": {
                    "type": "number"
                  },
                  "discount.sponsor": {
                    "type": "string",
                    "description": "\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions."
                  },
                  "warranty": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Item warranty object"
                  },
                  "warranty.period": {
                    "type": "string",
                    "description": "Warranty period"
                  },
                  "warranty.periodUnits": {
                    "type": "string",
                    "description": "Warranty unit of measure"
                  },
                  "taxIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Array of Tax ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment text"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee_id": {
                            "type": "number"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "percentage": {
                                "type": "number"
                              },
                              "sponsor": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "entity_id": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "tax_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "warranty": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "period": {
                                "type": "string"
                              },
                              "periodUnits": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/create-order": {
      "post": {
        "operationId": "rOApp.create-order",
        "summary": "Create Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "branchId",
                  "orderTypeId",
                  "clientId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "branchId": {
                    "type": "number",
                    "description": "Location ID"
                  },
                  "orderTypeId": {
                    "type": "number",
                    "description": "Estimate/Order Type ID"
                  },
                  "managerId": {
                    "type": "number",
                    "description": "Manager ID"
                  },
                  "assigneeId": {
                    "type": "number",
                    "description": "Assigned Employee ID"
                  },
                  "assetId": {
                    "type": "number",
                    "description": "Asset ID"
                  },
                  "clientId": {
                    "type": "number",
                    "description": "Client (Person / Organization) ID"
                  },
                  "payerId": {
                    "type": "number",
                    "description": "Payer (Person / Organization) ID"
                  },
                  "adCampaignId": {
                    "type": "number",
                    "description": "Ad Campaign ID"
                  },
                  "scheduledFor": {
                    "type": "string",
                    "format": "date-time",
                    "description": "\"Scheduled From\" date and time (ISO 8601)"
                  },
                  "scheduledTo": {
                    "type": "string",
                    "format": "date-time",
                    "description": "\"Scheduled to\" date and time (ISO 8601)"
                  },
                  "resourceId": {
                    "type": "number",
                    "description": "Resource ID"
                  },
                  "malfunction": {
                    "type": "string",
                    "description": "Malfunction text"
                  },
                  "managerNotes": {
                    "type": "string",
                    "description": "Manager notes"
                  },
                  "engineerNotes": {
                    "type": "string",
                    "description": "Technician notes"
                  },
                  "resume": {
                    "type": "string",
                    "description": "Conclusion / client recommendations"
                  },
                  "estimatedPrice": {
                    "type": "string",
                    "description": "Estimates price or price range"
                  },
                  "dueDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Order Due Date (ISO 8601)"
                  },
                  "urgent": {
                    "type": "boolean",
                    "description": "Is Order urgent?"
                  },
                  "customFields": {
                    "type": "string",
                    "description": "Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_campaign_id": {
                            "type": "number"
                          },
                          "asset_id": {
                            "type": "number"
                          },
                          "assignee_id": {
                            "type": "number"
                          },
                          "branch_id": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "custom_fields": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "engineer_notes": {
                            "type": "string"
                          },
                          "estimated_price": {
                            "type": "string"
                          },
                          "malfunction": {
                            "type": "string"
                          },
                          "manager_id": {
                            "type": "number"
                          },
                          "manager_notes": {
                            "type": "string"
                          },
                          "order_type_id": {
                            "type": "number"
                          },
                          "payer_id": {
                            "type": "number"
                          },
                          "resource_id": {
                            "type": "number"
                          },
                          "resume": {
                            "type": "string"
                          },
                          "scheduled_for": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduled_to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "urgent": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/create-order-item": {
      "post": {
        "operationId": "rOApp.create-order-item",
        "summary": "Create Order Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-order-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "orderId",
                  "entityId",
                  "assigneeId",
                  "quantity",
                  "price",
                  "cost",
                  "discount",
                  "discount.type",
                  "discount.percentage",
                  "discount.amount",
                  "discount.sponsor",
                  "warranty",
                  "warranty.period",
                  "warranty.periodUnits"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "orderId": {
                    "type": "number",
                    "description": "Order ID"
                  },
                  "entityId": {
                    "type": "number",
                    "description": "Product or Service ID"
                  },
                  "assigneeId": {
                    "type": "number",
                    "description": "Assigned Employee ID"
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Quantity"
                  },
                  "price": {
                    "type": "number",
                    "description": "Price per unit"
                  },
                  "cost": {
                    "type": "number",
                    "description": "Unit cost"
                  },
                  "discount": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Item discount object"
                  },
                  "discount.type": {
                    "type": "string",
                    "description": "Discount type. \"percentage\" — percent, \"value\" — absolute value."
                  },
                  "discount.percentage": {
                    "type": "number",
                    "description": "Percentage value"
                  },
                  "discount.amount": {
                    "type": "number"
                  },
                  "discount.sponsor": {
                    "type": "string",
                    "description": "\"staff\" — Employee wages calculation is based on the amount after discount. This way the company discount decreases the piecework employee wages. \"company\" — Employee commissions will be calculated from amount before discount. This way the company discount won't affect the employee commissions."
                  },
                  "warranty": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Item warranty object"
                  },
                  "warranty.period": {
                    "type": "string",
                    "description": "Warranty period"
                  },
                  "warranty.periodUnits": {
                    "type": "string",
                    "description": "Warranty unit of measure"
                  },
                  "taxIds[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Array of Tax ID"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment text"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee_id": {
                            "type": "number"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "percentage": {
                                "type": "number"
                              },
                              "sponsor": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "entity_id": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "tax_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "warranty": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "period": {
                                "type": "string"
                              },
                              "periodUnits": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/create-organization": {
      "post": {
        "operationId": "rOApp.create-organization",
        "summary": "Create Organization",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-organization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Organization email"
                  },
                  "phones[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of phone numbers"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes text"
                  },
                  "address": {
                    "type": "string",
                    "description": "Organization address"
                  },
                  "supplier": {
                    "type": "boolean",
                    "description": "Is this organization your supplier?"
                  },
                  "managerId": {
                    "type": "number",
                    "description": "Employee ID"
                  },
                  "adCampaignId": {
                    "type": "number",
                    "description": "Ad Campaign ID"
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Discount code"
                  },
                  "customFields": {
                    "type": "string",
                    "description": "Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of tags"
                  },
                  "taxIdentificationNumber": {
                    "type": "string",
                    "description": "Tax identification number"
                  },
                  "businessRegistrationNumber": {
                    "type": "string",
                    "description": "Business registration number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_campaign": {
                            "type": "string"
                          },
                          "ad_campaign_id": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string"
                          },
                          "business_registration_number": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "custom_fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discount_code": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "manager_id": {
                            "type": "number"
                          },
                          "managers": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "modified_at": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "names": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "page": {
                            "type": "number"
                          },
                          "phones": {
                            "type": "object",
                            "properties": {
                              "has_viber": {
                                "type": "boolean"
                              },
                              "has_whatsapp": {
                                "type": "boolean"
                              },
                              "notify": {
                                "type": "boolean"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "sort": {
                            "type": "string"
                          },
                          "supplier": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tax_identification_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/create-person": {
      "post": {
        "operationId": "rOApp.create-person",
        "summary": "Create Person",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "firstName",
                  "birthday.day",
                  "birthday.month"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Person first name"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Person last name"
                  },
                  "birthday": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Person birthday"
                  },
                  "birthday.day": {
                    "type": "number"
                  },
                  "birthday.month": {
                    "type": "number"
                  },
                  "birthday.year": {
                    "type": "number"
                  },
                  "email": {
                    "type": "string",
                    "description": "Valid email"
                  },
                  "phones[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of phone numbers"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Notes text"
                  },
                  "address": {
                    "type": "string",
                    "description": "Person address"
                  },
                  "supplier": {
                    "type": "boolean",
                    "description": "Is this person your supplier?"
                  },
                  "managerId": {
                    "type": "number",
                    "description": "Employee ID"
                  },
                  "adCampaignId": {
                    "type": "number",
                    "description": "Ad Campaign ID"
                  },
                  "discountCode": {
                    "type": "string",
                    "description": "Discount code"
                  },
                  "customFields": {
                    "type": "string",
                    "description": "Custom fields values in format {\"f123\": \"value\", \"f234\": \"value\"}, where \"f123\" and \"f234\" is a custom field id."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of tags"
                  },
                  "taxIdentificationNumber": {
                    "type": "string",
                    "description": "Tax identification number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_campaign": {
                            "type": "string"
                          },
                          "ad_campaign_id": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string"
                          },
                          "birthday": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "day": {
                                "type": "number"
                              },
                              "month": {
                                "type": "number"
                              },
                              "year": {
                                "type": "number"
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "custom_fields": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discount_code": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "manager_id": {
                            "type": "number"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "phones": {
                            "type": "object",
                            "properties": {
                              "has_viber": {
                                "type": "boolean"
                              },
                              "has_whatsapp": {
                                "type": "boolean"
                              },
                              "notify": {
                                "type": "boolean"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "supplier": {
                            "type": "boolean"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tax_identification_number": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/get-booking": {
      "get": {
        "operationId": "rOApp.get-booking",
        "summary": "Get Booking",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/get-booking"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookingId",
            "in": "query",
            "required": true,
            "description": "Booking ID",
            "schema": {
              "type": "number",
              "description": "Booking ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignee_id": {
                            "type": "number"
                          },
                          "branch_id": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "comment": {
                            "type": "string"
                          },
                          "resource_id": {
                            "type": "number"
                          },
                          "scheduled_for": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduled_to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status_id": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/get-company": {
      "get": {
        "operationId": "rOApp.get-company",
        "summary": "Get Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "currency_symbol": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/get-estimate": {
      "get": {
        "operationId": "rOApp.get-estimate",
        "summary": "Get Estimate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/get-estimate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "estimateId",
            "in": "query",
            "required": true,
            "description": "Estimate ID",
            "schema": {
              "type": "number",
              "description": "Estimate ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ad_campaign_id": {
                            "type": "number"
                          },
                          "asset_id": {
                            "type": "number"
                          },
                          "assignee_id": {
                            "type": "number"
                          },
                          "branch_id": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "custom_fields": {
                            "type": "string"
                          },
                          "due_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "engineer_notes": {
                            "type": "string"
                          },
                          "estimated_price": {
                            "type": "string"
                          },
                          "malfunction": {
                            "type": "string"
                          },
                          "manager_id": {
                            "type": "number"
                          },
                          "manager_notes": {
                            "type": "string"
                          },
                          "order_type_id": {
                            "type": "number"
                          },
                          "payer_id": {
                            "type": "number"
                          },
                          "resource_id": {
                            "type": "number"
                          },
                          "resume": {
                            "type": "string"
                          },
                          "scheduled_for": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "scheduled_to": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "urgent": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/rOApp/latest/actions/get-invoice": {
      "get": {
        "operationId": "rOApp.get-invoice",
        "summary": "Get Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/rOApp/latest/actions/get-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "required": true,
            "description": "Invoice ID",
            "schema": {
              "type": "number",
              "description": "Invoice ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "idLabel": {
[...]
