{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Sakari SMS Universal API",
    "version": "0.0.8",
    "description": "Send SMS campaigns and manage contacts, forms, and webhooks"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/sakariSMS/latest/actions/activate-existing-form": {
      "put": {
        "operationId": "sakariSMS.activate-existing-form",
        "summary": "Activate Existing Form",
        "description": "Activates an existing lead form in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/activate-existing-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "formId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "formId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "created": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sakariSMS/latest/actions/close-conversation": {
      "put": {
        "operationId": "sakariSMS.close-conversation",
        "summary": "Close Conversation",
        "description": "Closes a conversation in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/close-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "conversationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "conversationId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "closed": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "activecampaign": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  }
                                }
                              },
                              "attributes": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "blocked": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "created": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "by": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "email": {
                                "type": "string"
                              },
                              "error": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "hubspot": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "lists": {
                                "type": "object",
                                "properties": {
                                  "lists": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "doubleOptIn": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "filter": {
                                          "type": "object",
                                          "additionalProperties": true
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "keyword": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "optIn": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "optInConfirmation": {
                                          "type": "string"
                                        },
                                        "optOut": {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        "source": {
                                          "type": "object",
                                          "additionalProperties": true
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "mobile": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "country": {
                                    "type": "string"
                                  },
                                  "lineType": {
                                    "type": "string"
                                  },
                                  "number": {
                                    "type": "string"
                                  },
                                  "valid": {
                                    "type": "boolean"
                                  },
                                  "verified": {
                                    "type": "string",
                                    "format": "date-time"
                                  }
                                }
                              },
                              "optIn": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pipedrive": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  }
                                }
                              },
                              "updated": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "by": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "valid": {
                                "type": "boolean"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastMessage": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "contact": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "activecampaign": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "attributes": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "blocked": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "created": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "error": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "hubspot": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "lists": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "mobile": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "optIn": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "pipedrive": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "updated": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "valid": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "conversation": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "closed": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "contact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "created": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "group": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastMessage": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneNumber": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "unread": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "updated": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "group": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "notifications": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "phoneNumbers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "senders": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "users": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sakariSMS/latest/actions/create-and-execute-campaign": {
      "post": {
        "operationId": "sakariSMS.create-and-execute-campaign",
        "summary": "Create And Execute Campaign",
        "description": "Creates and launches a campaign in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/create-and-execute-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "groupId",
                  "listId",
                  "message"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "groupId": {
                    "type": "string"
                  },
                  "listId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "message.message": {
                    "type": "string"
                  },
                  "message.media[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "message.media.media[].url": {
                    "type": "string"
                  },
                  "message.media.media[].type": {
                    "type": "string"
                  },
                  "message.media.media[].name": {
                    "type": "string"
                  },
                  "message.media.media[].filename": {
                    "type": "string"
                  },
                  "sendAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "created": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "by": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "description": {
                                "type": "string"
                              },
                              "fieldMappings": {
                                "type": "object",
                                "properties": {
                                  "fieldMappings": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "attribute": {
                                          "type": "string"
                                        },
                                        "column": {
                                          "type": "string"
                                        },
                                        "mandatory": {
                                          "type": "boolean"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "filters": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "attributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "list": {
                                    "type": "string"
                                  },
                                  "q": {
                                    "type": "string"
                                  },
                                  "tags": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastJob": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "created": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "failures": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "invalid": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "price": {
                                    "type": "number"
                                  },
                                  "status": {
                                    "type": "string"
                                  },
                                  "submitted": {
                                    "type": "number"
                                  }
                                }
                              },
                              "media": {
                                "type": "object",
                                "properties": {
                                  "media": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "filename": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false,
                                "description": "List of media objects attached to message"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nextExecution": {
                                "type": "string"
                              },
                              "paused": {
                                "type": "string"
                              },
                              "phoneNumberFilter": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "group": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "reporting": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "delay": {
                                    "type": "string"
                                  },
                                  "destination": {
                                    "type": "string"
                                  },
                                  "unit": {
                                    "type": "string"
                                  },
                                  "when": {
                                    "type": "string"
                                  }
                                }
                              },
                              "schedule": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "cron": {
                                    "type": "string"
                                  },
                                  "frequency": {
                                    "type": "string"
                                  },
                                  "timezone": {
                                    "type": "string"
                                  }
                                }
                              },
                              "template": {
                                "type": "string"
                              },
                              "trigger": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                }
                              },
                              "updated": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "by": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              }
                            }
                          },
                          "job": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "created": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "by": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "failures": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "invalid": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "price": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string"
                              },
                              "submitted": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sakariSMS/latest/actions/create-campaign": {
      "post": {
        "operationId": "sakariSMS.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "trigger": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "trigger.code": {
                    "type": "string",
                    "description": "Campaign type specifies how it sources contacts and what event triggers its execution  Sort order\n  * `M` - Manual\n  * `S` - Scheduled\n  * `FU` - File Upload\n  * `V2` - V2"
                  },
                  "filters": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "filters.contacts[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters.tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters.attributes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "template": {
                    "type": "string"
                  },
                  "reporting": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "reporting.when": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "fieldMappings": {
                            "type": "object",
                            "properties": {
                              "fieldMappings": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "attribute": {
                                      "type": "string"
                                    },
                                    "column": {
                                      "type": "string"
                                    },
                                    "mandatory": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "attributes": {
                                "type": "object",
                                "properties": {
                                  "attributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "attribute": {
                                          "type": "string"
                                        },
                                        "comparator": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "list": {
                                "type": "string"
                              },
                              "q": {
                                "type": "string"
                              },
                              "tags": {
                                "type": "object",
                                "properties": {
                                  "tags": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "tag": {
                                          "type": "string"
                                        },
                                        "visible": {
                                          "type": "boolean"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastJob": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "created": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "at": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "by": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                }
                              },
                              "failures": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "invalid": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "price": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string"
                              },
                              "submitted": {
                                "type": "number"
                              }
                            }
                          },
                          "media": {
                            "type": "object",
                            "properties": {
                              "media": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "filename": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of media objects attached to message"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nextExecution": {
                            "type": "string"
                          },
                          "paused": {
                            "type": "string"
                          },
                          "phoneNumberFilter": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "group": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "reporting": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "delay": {
                                "type": "string"
                              },
                              "destination": {
                                "type": "string"
                              },
                              "unit": {
                                "type": "string"
                              },
                              "when": {
                                "type": "string"
                              }
                            }
                          },
                          "schedule": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "cron": {
                                "type": "string"
                              },
                              "frequency": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              }
                            }
                          },
                          "template": {
                            "type": "string"
                          },
                          "trigger": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "updated": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sakariSMS/latest/actions/create-contact": {
      "post": {
        "operationId": "sakariSMS.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mobile.country",
                  "mobile.number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "mobile.country": {
                    "type": "string"
                  },
                  "mobile.number": {
                    "type": "string"
                  },
                  "mobile.verified": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "mobile.valid": {
                    "type": "boolean"
                  },
                  "mobile.lineType": {
                    "type": "string"
                  },
                  "lists[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "lists.lists[].id": {
                    "type": "string"
                  },
                  "lists.lists[].name": {
                    "type": "string"
                  },
                  "lists.lists[].source": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "lists.lists[].source.id": {
                    "type": "string"
                  },
                  "lists.lists[].source.integration": {
                    "type": "string"
                  },
                  "lists.lists[].source.lastSynced": {
                    "type": "string"
                  },
                  "lists.lists[].keyword": {
                    "type": "string"
                  },
                  "updated.by.subSource": {
                    "type": "string",
                    "description": "Determines how existing contacts with matching mobile numbers are treated"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sakariSMS/latest/actions/create-lead-form": {
      "post": {
        "operationId": "sakariSMS.create-lead-form",
        "summary": "Create Lead Form",
        "description": "Creates a new lead form in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/create-lead-form"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "template": {
                    "type": "string",
                    "description": "Id of the form template you wish to clone"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "conversions": {
                            "type": "number"
                          },
                          "created": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/sakariSMS/latest/actions/create-template": {
      "post": {
        "operationId": "sakariSMS.create-template",
        "summary": "Create Template",
        "description": "Creates a new template in Sakari SMS.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/sakariSMS/latest/actions/create-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "template": {
                    "type": "string"
                  },
                  "media[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "List of media objects attached to message"
                  },
                  "media.media[].url": {
                    "type": "string"
                  },
                  "media.media[].type": {
                    "type": "string"
                  },
                  "media.media[].name": {
                    "type": "string"
                  },
                  "media.media[].filename": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "media": {
                            "type": "object",
                            "properties": {
                              "media": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "filename": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of media objects attached to message"
                          },
                          "name": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "by": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "source": {
                                    "type": "string"
                                  },
                                  "subSource": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
