{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Runrun.it Universal API",
    "version": "0.0.8",
    "description": "Manage Runrun.it tasks, projects, teams, and work tracking"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/runrunit/latest/actions/add-user-to-team": {
      "put": {
        "operationId": "runrunit.add-user-to-team",
        "summary": "Add User To Team",
        "description": "Adds a user to a team in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/add-user-to-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "userId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Id path parameter."
                  },
                  "userId": {
                    "type": "string",
                    "description": "New team member id"
                  },
                  "teamPartnership": {
                    "type": "boolean",
                    "description": "Flag to make the new team member and other members, partners",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cost_center": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "leader_id": {
                            "type": "string"
                          },
                          "leader_name": {
                            "type": "string"
                          },
                          "master_user_id": {
                            "type": "string"
                          },
                          "master_user_name": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "user_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/change-project-board-stage": {
      "put": {
        "operationId": "runrunit.change-project-board-stage",
        "summary": "Change Project Board Stage",
        "description": "Updates a project's board stage in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/change-project-board-stage"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Id path parameter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activities_3_days_ago": {
                            "type": "number"
                          },
                          "activities_4_days_ago": {
                            "type": "number"
                          },
                          "activities_5_days_ago": {
                            "type": "number"
                          },
                          "activities_6_days_ago": {
                            "type": "number"
                          },
                          "board_stage_id": {
                            "type": "number"
                          },
                          "budgeted_cost": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "client_name": {
                            "type": "string"
                          },
                          "close_date": {
                            "type": "string"
                          },
                          "cost_pending": {
                            "type": "number"
                          },
                          "cost_progress": {
                            "type": "string"
                          },
                          "cost_total": {
                            "type": "number"
                          },
                          "cost_worked": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "desired_date": {
                            "type": "string"
                          },
                          "extra_costs": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_shared": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "over_budget": {
                            "type": "string"
                          },
                          "overdue": {
                            "type": "string"
                          },
                          "project_group_id": {
                            "type": "number"
                          },
                          "project_group_is_default": {
                            "type": "boolean"
                          },
                          "project_group_name": {
                            "type": "string"
                          },
                          "project_sub_group_id": {
                            "type": "number"
                          },
                          "project_sub_group_is_default": {
                            "type": "boolean"
                          },
                          "project_sub_group_name": {
                            "type": "string"
                          },
                          "sharing_details": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "task_points_closed_sum": {
                            "type": "number"
                          },
                          "task_points_not_assigned_sum": {
                            "type": "number"
                          },
                          "task_points_progress": {
                            "type": "string"
                          },
                          "task_points_queued_sum": {
                            "type": "number"
                          },
                          "task_points_sum": {
                            "type": "number"
                          },
                          "task_points_working_on_sum": {
                            "type": "number"
                          },
                          "tasks_closed_count": {
                            "type": "number"
                          },
                          "tasks_count": {
                            "type": "number"
                          },
                          "tasks_count_progress": {
                            "type": "number"
                          },
                          "tasks_not_assigned_count": {
                            "type": "number"
                          },
                          "tasks_queued_count": {
                            "type": "number"
                          },
                          "tasks_working_on_count": {
                            "type": "number"
                          },
                          "time_pending": {
                            "type": "number"
                          },
                          "time_pending_not_assigned": {
                            "type": "number"
                          },
                          "time_pending_queued": {
                            "type": "number"
                          },
                          "time_progress": {
                            "type": "number"
                          },
                          "time_total": {
                            "type": "number"
                          },
                          "time_worked": {
                            "type": "number"
                          },
                          "use_new_permissions": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/clone-project": {
      "post": {
        "operationId": "runrunit.clone-project",
        "summary": "Clone Project",
        "description": "Creates a new project by cloning a Runrun.it project.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/clone-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Id path parameter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/create-client": {
      "post": {
        "operationId": "runrunit.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "client.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "client.name": {
                    "type": "string",
                    "description": "Client's name"
                  },
                  "client.isVisible": {
                    "type": "boolean",
                    "description": "Client is currently visible to be used",
                    "x-mindcloud-advanced": true
                  },
                  "client.budgetedHoursMonth": {
                    "type": "number",
                    "description": "Budgeted hours per month",
                    "x-mindcloud-advanced": true
                  },
                  "client.budgetedCostMonth": {
                    "type": "number",
                    "description": "Budgeted cost per month",
                    "x-mindcloud-advanced": true
                  },
                  "client.customField": {
                    "type": "string",
                    "description": "Custom field",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activities": {
                            "type": "number"
                          },
                          "activities_0_days_ago": {
                            "type": "number"
                          },
                          "activities_1_days_ago": {
                            "type": "number"
                          },
                          "activities_2_days_ago": {
                            "type": "number"
                          },
                          "activities_3_days_ago": {
                            "type": "number"
                          },
                          "activities_4_days_ago": {
                            "type": "number"
                          },
                          "activities_5_days_ago": {
                            "type": "number"
                          },
                          "activities_6_days_ago": {
                            "type": "number"
                          },
                          "budgeted_cost_month": {
                            "type": "number"
                          },
                          "budgeted_hours_month": {
                            "type": "number"
                          },
                          "cost_pending": {
                            "type": "number"
                          },
                          "cost_total": {
                            "type": "number"
                          },
                          "cost_worked": {
                            "type": "number"
                          },
                          "custom_field": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_visible": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "project_groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "project_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "projects_count": {
                            "type": "number"
                          },
                          "time_pending": {
                            "type": "number"
                          },
                          "time_pending_backlog": {
                            "type": "number"
                          },
                          "time_pending_not_assigned": {
                            "type": "number"
                          },
                          "time_pending_queued": {
                            "type": "number"
                          },
                          "time_progress": {
                            "type": "number"
                          },
                          "time_total": {
                            "type": "number"
                          },
                          "time_worked": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/create-comment": {
      "post": {
        "operationId": "runrunit.create-comment",
        "summary": "Create Comment",
        "description": "Creates a new comment in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/create-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "Task ID to comment on."
                  },
                  "text": {
                    "type": "string",
                    "description": "Comment text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "children_count": {
                            "type": "number"
                          },
                          "comment_id": {
                            "type": "string"
                          },
                          "commentable_id": {
                            "type": "number"
                          },
                          "commentable_type": {
                            "type": "string"
                          },
                          "commenter_name": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "deleted_at": {
                            "type": "string"
                          },
                          "document_id": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "edited_at": {
                            "type": "string"
                          },
                          "enterprise_id": {
                            "type": "string"
                          },
                          "guest_id": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_automation_message": {
                            "type": "boolean"
                          },
                          "is_legacy": {
                            "type": "boolean"
                          },
                          "is_system_message": {
                            "type": "boolean"
                          },
                          "media": {
                            "type": "string"
                          },
                          "quoted_comment_guest_id": {
                            "type": "string"
                          },
                          "quoted_comment_guest_name": {
                            "type": "string"
                          },
                          "quoted_comment_id": {
                            "type": "string"
                          },
                          "quoted_comment_text": {
                            "type": "string"
                          },
                          "quoted_comment_user_id": {
                            "type": "string"
                          },
                          "quoted_comment_user_name": {
                            "type": "string"
                          },
                          "reactions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "related_task_ids": {
                            "type": "string"
                          },
                          "task_id": {
                            "type": "number"
                          },
                          "team_id": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "thread_id": {
                            "type": "number"
                          },
                          "user_id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/create-project": {
      "post": {
        "operationId": "runrunit.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "project.name",
                  "project.clientId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "project.name": {
                    "type": "string",
                    "description": "Project name."
                  },
                  "project.clientId": {
                    "type": "number",
                    "description": "Client ID for the project."
                  },
                  "project.startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Project start date."
                  },
                  "project.desiredDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Desired delivery date for the project."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activities_3_days_ago": {
                            "type": "number"
                          },
                          "activities_4_days_ago": {
                            "type": "number"
                          },
                          "activities_5_days_ago": {
                            "type": "number"
                          },
                          "activities_6_days_ago": {
                            "type": "number"
                          },
                          "board_stage_id": {
                            "type": "string"
                          },
                          "budgeted_cost": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "client_name": {
                            "type": "string"
                          },
                          "close_date": {
                            "type": "string"
                          },
                          "cost_pending": {
                            "type": "number"
                          },
                          "cost_progress": {
                            "type": "string"
                          },
                          "cost_total": {
                            "type": "number"
                          },
                          "cost_worked": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "desired_date": {
                            "type": "string"
                          },
                          "extra_costs": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_shared": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "over_budget": {
                            "type": "string"
                          },
                          "overdue": {
                            "type": "string"
                          },
                          "project_group_id": {
                            "type": "number"
                          },
                          "project_group_is_default": {
                            "type": "boolean"
                          },
                          "project_group_name": {
                            "type": "string"
                          },
                          "project_sub_group_id": {
                            "type": "number"
                          },
                          "project_sub_group_is_default": {
                            "type": "boolean"
                          },
                          "project_sub_group_name": {
                            "type": "string"
                          },
                          "sharing_details": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "task_points_closed_sum": {
                            "type": "number"
                          },
                          "task_points_not_assigned_sum": {
                            "type": "number"
                          },
                          "task_points_progress": {
                            "type": "string"
                          },
                          "task_points_queued_sum": {
                            "type": "number"
                          },
                          "task_points_sum": {
                            "type": "number"
                          },
                          "task_points_working_on_sum": {
                            "type": "number"
                          },
                          "tasks_closed_count": {
                            "type": "number"
                          },
                          "tasks_count": {
                            "type": "number"
                          },
                          "tasks_count_progress": {
                            "type": "number"
                          },
                          "tasks_not_assigned_count": {
                            "type": "number"
                          },
                          "tasks_queued_count": {
                            "type": "number"
                          },
                          "tasks_working_on_count": {
                            "type": "number"
                          },
                          "time_pending": {
                            "type": "number"
                          },
                          "time_pending_not_assigned": {
                            "type": "number"
                          },
                          "time_pending_queued": {
                            "type": "number"
                          },
                          "time_progress": {
                            "type": "number"
                          },
                          "time_total": {
                            "type": "number"
                          },
                          "time_worked": {
                            "type": "number"
                          },
                          "use_new_permissions": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/create-task": {
      "post": {
        "operationId": "runrunit.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "task.title",
                  "task.typeId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "task.title": {
                    "type": "string",
                    "description": "Task title"
                  },
                  "task.onGoing": {
                    "type": "boolean",
                    "description": "True if the task is an ongoing task",
                    "x-mindcloud-advanced": true
                  },
                  "task.typeId": {
                    "type": "number",
                    "description": "ID of the task type"
                  },
                  "task.projectId": {
                    "type": "number",
                    "description": "ID of the project the task belongs to",
                    "x-mindcloud-advanced": true
                  },
                  "task.desiredStartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Desired start date",
                    "x-mindcloud-advanced": true
                  },
                  "task.desiredDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Desired delivery date",
                    "x-mindcloud-advanced": true
                  },
                  "task.tagList": {
                    "type": "string",
                    "description": "Task tag list",
                    "x-mindcloud-advanced": true
                  },
                  "task.assignments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Objects of task assignments",
                    "x-mindcloud-advanced": true
                  },
                  "task.taskPrerequisiteIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of pre-requisite tasks",
                    "x-mindcloud-advanced": true
                  },
                  "task.taskDescendantIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of descendant tasks",
                    "x-mindcloud-advanced": true
                  },
                  "task.followerIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of users to follow this task",
                    "x-mindcloud-advanced": true
                  },
                  "task.documentIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "IDs of Document records to attach",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments_count": {
                            "type": "number"
                          },
                          "board_id": {
                            "type": "number"
                          },
                          "board_name": {
                            "type": "string"
                          },
                          "board_stage_description": {
                            "type": "string"
                          },
                          "board_stage_id": {
                            "type": "number"
                          },
                          "board_stage_name": {
                            "type": "string"
                          },
                          "board_stage_position": {
                            "type": "number"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "client_name": {
                            "type": "string"
                          },
                          "close_date": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "current_estimate_seconds": {
                            "type": "number"
                          },
                          "desired_date": {
                            "type": "string"
                          },
                          "desired_date_with_time": {
                            "type": "string"
                          },
                          "desired_start_date": {
                            "type": "string"
                          },
                          "estimate_updated": {
                            "type": "boolean"
                          },
                          "estimated_at": {
                            "type": "string"
                          },
                          "estimated_delivery_date": {
                            "type": "string"
                          },
                          "estimated_start_date": {
                            "type": "string"
                          },
                          "evaluation_status": {
                            "type": "string"
                          },
                          "gantt_bar_end_date": {
                            "type": "string"
                          },
                          "gantt_bar_start_date": {
                            "type": "string"
                          },
                          "guest_id": {
                            "type": "string"
                          },
                          "guest_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_assigned": {
                            "type": "boolean"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_working_on": {
                            "type": "boolean"
                          },
                          "on_going": {
                            "type": "boolean"
                          },
                          "project_group_id": {
                            "type": "number"
                          },
                          "project_group_is_default": {
                            "type": "boolean"
                          },
                          "project_group_name": {
                            "type": "string"
                          },
                          "project_id": {
                            "type": "number"
                          },
                          "project_name": {
                            "type": "string"
                          },
                          "project_sub_group_id": {
                            "type": "number"
                          },
                          "project_sub_group_is_default": {
                            "type": "boolean"
                          },
                          "project_sub_group_name": {
                            "type": "string"
                          },
                          "queue_position": {
                            "type": "number"
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "subtask_parent_position": {
                            "type": "string"
                          },
                          "tags_data": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "team_id": {
                            "type": "number"
                          },
                          "team_name": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type_color": {
                            "type": "string"
                          },
                          "type_id": {
                            "type": "number"
                          },
                          "type_name": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "user_name": {
                            "type": "string"
                          },
                          "was_reopened": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/create-team": {
      "post": {
        "operationId": "runrunit.create-team",
        "summary": "Create Team",
        "description": "Creates a new team in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/create-team"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "team.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "team.name": {
                    "type": "string",
                    "description": "Name of the team"
                  },
                  "team.masterUserId": {
                    "type": "string",
                    "description": "[Deprecated] Use leader_id",
                    "x-mindcloud-advanced": true
                  },
                  "team.costCenter": {
                    "type": "string",
                    "description": "Cost center",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cost_center": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "leader_id": {
                            "type": "string"
                          },
                          "leader_name": {
                            "type": "string"
                          },
                          "master_user_id": {
                            "type": "string"
                          },
                          "master_user_name": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "user_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/create-user": {
      "post": {
        "operationId": "runrunit.create-user",
        "summary": "Create User",
        "description": "Creates a new user in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "user.name",
                  "user.email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "user.name": {
                    "type": "string",
                    "description": "User's full name"
                  },
                  "user.email": {
                    "type": "string",
                    "description": "User's email"
                  },
                  "makeMyPartner": {
                    "type": "boolean",
                    "description": "Flag to make the new user a partner of the creating user",
                    "x-mindcloud-advanced": true
                  },
                  "makeEverybodyMutualPartners": {
                    "type": "boolean",
                    "description": "Flag to make the new user a mutual partner of everybody in enterprise. If not set, defaults to enterprise's configuration",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alt_id": {
                            "type": "string"
                          },
                          "avatar_large_url": {
                            "type": "string"
                          },
                          "avatar_url": {
                            "type": "string"
                          },
                          "birthday": {
                            "type": "string"
                          },
                          "blocked_by_time_worked_at": {
                            "type": "string"
                          },
                          "budget_manager": {
                            "type": "boolean"
                          },
                          "bypass_block_by_time_worked": {
                            "type": "boolean"
                          },
                          "can_create_boards": {
                            "type": "boolean"
                          },
                          "can_create_client_project_and_task_types": {
                            "type": "boolean"
                          },
                          "cost_hour": {
                            "type": "number"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "demanders_count": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "has_all_users_as_demanders": {
                            "type": "boolean"
                          },
                          "has_all_users_as_partners": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "in_company_since": {
                            "type": "string"
                          },
                          "is_auditor": {
                            "type": "boolean"
                          },
                          "is_blocked_on_mobile": {
                            "type": "boolean"
                          },
                          "is_certified": {
                            "type": "boolean"
                          },
                          "is_certified_expert": {
                            "type": "boolean"
                          },
                          "is_eligible_to_access_reports": {
                            "type": "boolean"
                          },
                          "is_eligible_to_whatsapp": {
                            "type": "boolean"
                          },
                          "is_manager": {
                            "type": "boolean"
                          },
                          "is_master": {
                            "type": "boolean"
                          },
                          "is_mensurable": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "led_team_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "marital_status": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "oid": {
                            "type": "string"
                          },
                          "on_vacation": {
                            "type": "boolean"
                          },
                          "partners_count": {
                            "type": "number"
                          },
                          "password_expired_at": {
                            "type": "string"
                          },
                          "password_updated_at": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "position": {
                            "type": "string"
                          },
                          "preferences": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "skip_time_adjust_on_task_assignment_deliver": {
                                "type": "boolean"
                              },
                              "task_list_background_image_url": {
                                "type": "string"
                              },
                              "theme": {
                                "type": "string"
                              }
                            }
                          },
                          "shift_work_time_per_week": {
                            "type": "number"
                          },
                          "shifts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "skip_time_adjust_on_task_assignment_deliver": {
                            "type": "boolean"
                          },
                          "task_list_background_image_url": {
                            "type": "string"
                          },
                          "team_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "theme": {
                            "type": "string"
                          },
                          "time_tracking_mode": {
                            "type": "string"
                          },
                          "time_zone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/runrunit/latest/actions/deliver-task": {
      "put": {
        "operationId": "runrunit.deliver-task",
        "summary": "Deliver Task",
        "description": "Delivers a task in Runrun.it.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/runrunit/latest/actions/deliver-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Id path parameter."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachments_count": {
                            "type": "number"
                          },
                          "board_id": {
                            "type": "number"
                          },
                          "board_name": {
                            "type": "string"
                          },
                          "board_stage_description": {
                            "type": "string"
                          },
                          "board_stage_id": {
                            "type": "number"
                          },
                          "board_stage_name": {
                            "type": "string"
                          },
                          "board_stage_position": {
                            "type": "string"
                          },
                          "client_id": {
                            "type": "number"
                          },
                          "client_name": {
                            "type": "string"
                          },
                          "close_date": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "current_estimate_seconds": {
                            "type": "number"
                          },
                          "desired_date": {
                            "type": "string"
                          },
                          "desired_date_with_time": {
                            "type": "string"
                          },
                          "desired_start_date": {
                            "type": "string"
                          },
                          "estimate_updated": {
                            "type": "boolean"
                          },
                          "estimated_at": {
                            "type": "string"
                          },
                          "estimated_delivery_date": {
                            "type": "string"
                          },
                          "estimated_start_date": {
                            "type": "string"
                          },
                          "evaluation_status": {
                            "type": "string"
                          },
                          "gantt_bar_end_date": {
                            "type": "string"
                          },
                          "gantt_bar_start_date": {
                            "type": "string"
                          },
                          "guest_id": {
                            "type": "string"
                          },
                          "guest_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "is_assigned": {
                            "type": "boolean"
                          },
                          "is_closed": {
                            "type": "boolean"
                          },
                          "is_working_on": {
                            "type": "boolean"
                          },
                          "on_going": {
                            "type": "boolean"
                          },
                          "project_group_id": {
                            "type": "number"
                          },
                          "project_group_is_default": {
                            "type": "boolean"
                          },
                          "project_group_name": {
                            "type": "string"
                          },
                          "project_id": {
                            "type": "number"
                          },
                          "project_name": {
                            "type": "string"
                          },
                          "project_sub_group_id": {
                            "type": "number"
                          },
                          "project_sub_group_is_default": {
                            "type": "boolean"
                          },
                          "project_sub_group_name": {
                            "type": "string"
                          },
                          "queue_position": {
                            "type": "string"
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "subtask_parent_position": {
                            "type": "string"
                          },
                          "tags_data": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "team_id": {
                            "type": "string"
                          },
                          "team_name": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type_color": {
                            "type": "string"
                          },
                          "type_id": {
                            "type": "number"
                          },
                          "type_name": {
                            "type": "string"
[...]
