{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Data8 Universal API",
    "version": "0.0.6",
    "description": "Validate, cleanse, and enrich address, email, phone, location, name, country, and bank data with Data8 web services."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/data8/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/data8/latest/actions/autocomplete-towns": {
      "get": {
        "operationId": "data8.autocomplete-towns",
        "summary": "Autocomplete Towns",
        "description": "Finds town name suggestions in Data8.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/autocomplete-towns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "townName",
            "in": "query",
            "required": true,
            "description": "The town name to autocomplete.",
            "schema": {
              "type": "string",
              "description": "The town name to autocomplete."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control location lookup behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control location lookup behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Towns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/clean-name": {
      "get": {
        "operationId": "data8.clean-name",
        "summary": "Clean Name",
        "description": "Cleanses a submitted name with Data8.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/clean-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Structured name data to cleanse.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Structured name data to cleanse."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control name cleansing behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control name cleansing behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FormalSalutation": {
                            "type": "string"
                          },
                          "Gender": {
                            "type": "string"
                          },
                          "InformalSalutation": {
                            "type": "string"
                          },
                          "Name": {
                            "type": "object",
                            "properties": {
                              "Forename": {
                                "type": "string"
                              },
                              "Surname": {
                                "type": "string"
                              },
                              "Title": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/cleanse-email-address": {
      "get": {
        "operationId": "data8.cleanse-email-address",
        "summary": "Cleanse Email Address",
        "description": "Cleanses an email address with Data8.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/cleanse-email-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address to validate.",
            "schema": {
              "type": "string",
              "description": "The email address to validate."
            }
          },
          {
            "name": "level",
            "in": "query",
            "required": true,
            "description": "The validation level to apply.",
            "schema": {
              "type": "string",
              "description": "The validation level to apply."
            }
          },
          {
            "name": "record",
            "in": "query",
            "required": false,
            "description": "Optional supporting identity data used to enrich email cleansing results.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional supporting identity data used to enrich email cleansing results."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control email validation behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control email validation behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "EmailType": {
                            "type": "string"
                          },
                          "OriginalValid": {
                            "type": "boolean"
                          },
                          "ParsedName": {
                            "type": "object",
                            "properties": {
                              "Forename": {
                                "type": "string"
                              },
                              "Surname": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Result": {
                            "type": "string"
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "SuggestedEmailAddress": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/detect-country": {
      "get": {
        "operationId": "data8.detect-country",
        "summary": "Detect Country",
        "description": "Detects a country from contact data in Data8.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/detect-country"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "description": "Structured address and contact data used to detect the country.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Structured address and contact data used to detect the country."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control country detection behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control country detection behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CCTLD": {
                            "type": "string"
                          },
                          "CountryISO": {
                            "type": "string"
                          },
                          "CountryName": {
                            "type": "string"
                          },
                          "IDC": {
                            "type": "string"
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/detect-country-from-ip-address": {
      "get": {
        "operationId": "data8.detect-country-from-ip-address",
        "summary": "Detect Country from IP Address",
        "description": "Detects a country from an IP address in Data8.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/detect-country-from-ip-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": true,
            "description": "The IP address to detect the country from.",
            "schema": {
              "type": "string",
              "description": "The IP address to detect the country from."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CCTLD": {
                            "type": "string"
                          },
                          "CountryISO": {
                            "type": "string"
                          },
                          "CountryName": {
                            "type": "string"
                          },
                          "IDC": {
                            "type": "string"
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/fetch-address": {
      "get": {
        "operationId": "data8.fetch-address",
        "summary": "Fetch Address",
        "description": "Retrieves an address from Data8 by address key.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/fetch-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "addressKey",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the address to retrieve.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the address to retrieve."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ResultCount": {
                            "type": "number"
                          },
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Address": {
                                  "type": "object",
                                  "properties": {
                                    "Lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "RawAddress": {
                                  "type": "object",
                                  "properties": {
                                    "AddressKey": {
                                      "type": "number"
                                    },
                                    "Location": {
                                      "type": "object",
                                      "properties": {
                                        "Latitude": {
                                          "type": "number"
                                        },
                                        "Longitude": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "Organisation": {
                                      "type": "string"
                                    },
                                    "Postcode": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-address": {
      "get": {
        "operationId": "data8.find-address",
        "summary": "Find Address",
        "description": "Finds addresses in Data8 by town or street.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "town",
            "in": "query",
            "required": false,
            "description": "The name of the locality to search in.",
            "schema": {
              "type": "string",
              "description": "The name of the locality to search in."
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "The name of the street to search in.",
            "schema": {
              "type": "string",
              "description": "The name of the street to search in."
            }
          },
          {
            "name": "building",
            "in": "query",
            "required": false,
            "description": "The name or number of the address to search for.",
            "schema": {
              "type": "string",
              "description": "The name or number of the address to search for."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Description": {
                                  "type": "string"
                                },
                                "ID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-addresses-by-locality-key": {
      "get": {
        "operationId": "data8.find-addresses-by-locality-key",
        "summary": "Find Addresses by Locality Key",
        "description": "Finds addresses in Data8 by locality key.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-addresses-by-locality-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "localityKey",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the locality to search in.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the locality to search in."
            }
          },
          {
            "name": "building",
            "in": "query",
            "required": false,
            "description": "The name or number of the address to search for.",
            "schema": {
              "type": "string",
              "description": "The name or number of the address to search for."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Description": {
                                  "type": "string"
                                },
                                "ID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-addresses-by-street-key": {
      "get": {
        "operationId": "data8.find-addresses-by-street-key",
        "summary": "Find Addresses by Street Key",
        "description": "Finds addresses in Data8 by street key.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-addresses-by-street-key"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "streetKey",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the street to search in.",
            "schema": {
              "type": "string",
              "description": "The unique identifier of the street to search in."
            }
          },
          {
            "name": "building",
            "in": "query",
            "required": false,
            "description": "The name or number of the address to search for.",
            "schema": {
              "type": "string",
              "description": "The name or number of the address to search for."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Description": {
                                  "type": "string"
                                },
                                "ID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-full-address": {
      "get": {
        "operationId": "data8.find-full-address",
        "summary": "Find Full Address",
        "description": "Finds full address details in Data8 by town or street.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-full-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "town",
            "in": "query",
            "required": false,
            "description": "The name of the locality to search in.",
            "schema": {
              "type": "string",
              "description": "The name of the locality to search in."
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "The name of the street to search in.",
            "schema": {
              "type": "string",
              "description": "The name of the street to search in."
            }
          },
          {
            "name": "building",
            "in": "query",
            "required": false,
            "description": "The name or number of the address to search for.",
            "schema": {
              "type": "string",
              "description": "The name or number of the address to search for."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ResultCount": {
                            "type": "number"
                          },
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Address": {
                                  "type": "object",
                                  "properties": {
                                    "Lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "RawAddress": {
                                  "type": "object",
                                  "properties": {
                                    "AddressKey": {
                                      "type": "number"
                                    },
                                    "Location": {
                                      "type": "object",
                                      "properties": {
                                        "Latitude": {
                                          "type": "number"
                                        },
                                        "Longitude": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "Organisation": {
                                      "type": "string"
                                    },
                                    "Postcode": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-localities-by-name": {
      "get": {
        "operationId": "data8.find-localities-by-name",
        "summary": "Find Localities by Name",
        "description": "Finds localities in Data8 by name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-localities-by-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The name of the locality to search for.",
            "schema": {
              "type": "string",
              "description": "The name of the locality to search for."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Description": {
                                  "type": "string"
                                },
                                "ID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-localities-by-postcode": {
      "get": {
        "operationId": "data8.find-localities-by-postcode",
        "summary": "Find Localities by Postcode",
        "description": "Finds localities in Data8 by postcode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-localities-by-postcode"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licence",
            "in": "query",
            "required": true,
            "description": "The licence type under which you are accessing the service.",
            "schema": {
              "type": "string",
              "description": "The licence type under which you are accessing the service."
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "The full or partial postcode to search for.",
            "schema": {
              "type": "string",
              "description": "The full or partial postcode to search for."
            }
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "Optional settings that control address retrieval behavior.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional settings that control address retrieval behavior."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Description": {
                                  "type": "string"
                                },
                                "ID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "CreditsRemaining": {
                                "type": "number"
                              },
                              "ErrorMessage": {
                                "type": "string"
                              },
                              "Success": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/data8/latest/actions/find-location": {
      "get": {
        "operationId": "data8.find-location",
        "summary": "Find Location",
        "description": "Finds location details in Data8 by postcode.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/data8/latest/actions/find-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
[...]
