{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ProveSource Universal API",
    "version": "0.0.4",
    "description": "Capture social-proof events and power real-time website notifications for conversions, stream activity, and related proof experiences."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/proveSource/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/proveSource/latest/actions/send-webhook-event": {
      "post": {
        "operationId": "proveSource.send-webhook-event",
        "summary": "Send Webhook Event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/proveSource/latest/actions/send-webhook-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "webhookId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "webhookId": {
                    "type": "string",
                    "description": "The ProveSource notification webhook identifier to send this event to."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email for the conversion or lead. Required for Stream notifications."
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Lead first name shown in the notification when available."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Lead last name shown in the notification when available."
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Event timestamp in milliseconds or seconds."
                  },
                  "ip": {
                    "type": "string",
                    "description": "Visitor IP address used for location lookup."
                  },
                  "guid": {
                    "type": "string",
                    "description": "Optional product or category identifier used by ProveSource webhook notifications."
                  },
                  "city": {
                    "type": "string",
                    "description": "Optional city value for location enrichment."
                  },
                  "state": {
                    "type": "string",
                    "description": "Optional state name for US locations."
                  },
                  "stateCode": {
                    "type": "string",
                    "description": "Optional state code for US locations."
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional country value for location enrichment."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Optional two-letter country code for location enrichment."
                  },
                  "productName": {
                    "type": "string",
                    "description": "Optional product name appended to the notification text."
                  },
                  "productLink": {
                    "type": "string",
                    "description": "Optional product page URL used for click-through behavior."
                  },
                  "productImage": {
                    "type": "string",
                    "description": "Optional product image URL shown in the notification."
                  },
                  "total": {
                    "type": "number",
                    "description": "Optional purchase total amount."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Optional purchase currency code."
                  },
                  "products[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional array of product line items for multi-product purchases. Each item should include at least a name and link."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
