{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Reepay Universal API",
    "version": "0.0.3",
    "description": "Manage subscriptions, customers, invoices, and payment methods"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/reepay/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/reepay/latest/actions/add-offline-payment-method": {
      "post": {
        "operationId": "reepay.add-offline-payment-method",
        "summary": "Add Offline Payment Method",
        "description": "Adds an offline payment method in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/add-offline-payment-method"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "offline_agreement_handle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer_handle": {
                    "type": "string"
                  },
                  "offline_agreement_handle": {
                    "type": "string",
                    "description": "The unique offline agreement handle per account, for example offline-cash-dkk-1.",
                    "example": "codex-rtv-1775066629-offline"
                  },
                  "reference": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "offline_mandate": {
                            "type": "object",
                            "properties": {
                              "offline_agreement_handle": {
                                "type": "string"
                              },
                              "offline_agreement_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "payment_type": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/add-payment-method": {
      "post": {
        "operationId": "reepay.add-payment-method",
        "summary": "Add Payment Method",
        "description": "Adds a payment method in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/add-payment-method"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "source"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customer_handle": {
                    "type": "string"
                  },
                  "reference": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string",
                    "description": "The payment method source, for example a one-time card token like ct_f96004cae4308473c92bea0638b5b688.",
                    "example": "ct_f96004cae4308473c92bea0638b5b688"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "failed": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "offline_mandate": {
                            "type": "object",
                            "properties": {
                              "offline_agreement_handle": {
                                "type": "string"
                              },
                              "offline_agreement_name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "payment_type": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/cancel-charge": {
      "put": {
        "operationId": "reepay.cancel-charge",
        "summary": "Cancel Charge",
        "description": "Cancels a charge in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/cancel-charge"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Charge handle from Reepay."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "order_lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "ordertext": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "refunded_amount": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/cancel-invoice": {
      "put": {
        "operationId": "reepay.cancel-invoice",
        "summary": "Cancel Invoice",
        "description": "Cancels an invoice in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/cancel-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Invoice identifier from Reepay."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accounting_created_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "accounting_number": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amount_ex_vat": {
                            "type": "number"
                          },
                          "amount_vat": {
                            "type": "number"
                          },
                          "cancelled": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "discount_amount": {
                            "type": "number"
                          },
                          "due": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "org_amount": {
                            "type": "number"
                          },
                          "refunded_amount": {
                            "type": "number"
                          },
                          "settled_amount": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "created": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "currency": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "invoice": {
                                  "type": "string"
                                },
                                "offline_transaction": {
                                  "type": "object",
                                  "properties": {
                                    "offline_mandate": {
                                      "type": "object",
                                      "properties": {
                                        "offline_agreement_handle": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "offline_payment_instructions": {
                                      "type": "string"
                                    },
                                    "payment_due_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "payment_context": {
                                  "type": "string"
                                },
                                "payment_method": {
                                  "type": "string"
                                },
                                "payment_type": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/cancel-invoice-transaction": {
      "put": {
        "operationId": "reepay.cancel-invoice-transaction",
        "summary": "Cancel Invoice Transaction",
        "description": "Cancels an invoice transaction in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/cancel-invoice-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id",
                  "transaction"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Invoice id or handle from Reepay."
                  },
                  "transaction": {
                    "type": "string",
                    "description": "Transaction id from Reepay."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoice": {
                            "type": "string"
                          },
                          "offline_transaction": {
                            "type": "object",
                            "properties": {
                              "offline_mandate": {
                                "type": "object",
                                "properties": {
                                  "offline_agreement_handle": {
                                    "type": "string"
                                  },
                                  "offline_agreement_name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "offline_payment_instructions": {
                                "type": "string"
                              },
                              "payment_due_date": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "payment_context": {
                            "type": "string"
                          },
                          "payment_method": {
                            "type": "string"
                          },
                          "payment_type": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/cancel-subscription": {
      "put": {
        "operationId": "reepay.cancel-subscription",
        "summary": "Cancel Subscription",
        "description": "Cancels a subscription in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/cancel-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Subscription handle from Reepay."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "cancelled_amount": {
                            "type": "number"
                          },
                          "cancelled_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "cancelled_invoices": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "current_period_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "failed_amount": {
                            "type": "number"
                          },
                          "failed_invoices": {
                            "type": "number"
                          },
                          "first_period_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "grace_duration": {
                            "type": "number"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "has_started": {
                            "type": "boolean"
                          },
                          "hosted_page_links": {
                            "type": "object",
                            "properties": {
                              "payment_info": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "in_trial": {
                            "type": "boolean"
                          },
                          "is_cancelled": {
                            "type": "boolean"
                          },
                          "next_period_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "payment_method_added": {
                            "type": "boolean"
                          },
                          "pending_amount": {
                            "type": "number"
                          },
                          "pending_change": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pending": {
                                "type": "boolean"
                              },
                              "quantity": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pending_invoices": {
                            "type": "number"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "plan_version": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "refunded_amount": {
                            "type": "number"
                          },
                          "renewal_count": {
                            "type": "number"
                          },
                          "renewing": {
                            "type": "boolean"
                          },
                          "settled_amount": {
                            "type": "number"
                          },
                          "settled_invoices": {
                            "type": "number"
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "state": {
                            "type": "string"
                          },
                          "test": {
                            "type": "boolean"
                          },
                          "timezone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/create-charge": {
      "post": {
        "operationId": "reepay.create-charge",
        "summary": "Create Charge",
        "description": "Creates a new charge in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/create-charge"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "source"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account_funding": {
                    "type": "boolean"
                  },
                  "account_funding_information": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "acquirer_reference": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "async": {
                    "type": "boolean"
                  },
                  "billing_address": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "currency": {
                    "type": "string"
                  },
                  "customer": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customer_handle": {
                    "type": "string"
                  },
                  "handle": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "order_lines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "ordertext": {
                    "type": "string"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "payment_method_reference": {
                    "type": "string"
                  },
                  "recurring": {
                    "type": "boolean"
                  },
                  "settle": {
                    "type": "boolean"
                  },
                  "shipping_address": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "source": {
                    "type": "string"
                  },
                  "text_on_statement": {
                    "type": "string"
                  },
                  "use_pm_for_subscription": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "order_lines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number"
                                },
                                "ordertext": {
                                  "type": "string"
                                },
                                "quantity": {
                                  "type": "number"
                                },
                                "vat": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "refunded_amount": {
                            "type": "number"
                          },
                          "state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/create-customer": {
      "post": {
        "operationId": "reepay.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "debtor_id": {
                    "type": "number"
                  },
                  "dunning_email": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "generate_handle": {
                    "type": "boolean"
                  },
                  "handle": {
                    "type": "string"
                  },
                  "invoice_email": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "phone": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "test": {
                    "type": "boolean"
                  },
                  "vat": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active_subscriptions": {
                            "type": "number"
                          },
                          "cancelled_amount": {
                            "type": "number"
                          },
                          "cancelled_invoices": {
                            "type": "number"
                          },
                          "cancelled_subscriptions": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "failed_amount": {
                            "type": "number"
                          },
                          "failed_invoices": {
                            "type": "number"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "pending_amount": {
                            "type": "number"
                          },
                          "pending_invoices": {
                            "type": "number"
                          },
                          "refunded_amount": {
                            "type": "number"
                          },
                          "settled_amount": {
                            "type": "number"
                          },
                          "settled_invoices": {
                            "type": "number"
                          },
                          "subscriptions": {
                            "type": "number"
                          },
                          "test": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/create-offline-agreement": {
      "post": {
        "operationId": "reepay.create-offline-agreement",
        "summary": "Create Offline Agreement",
        "description": "Creates an offline agreement in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/create-offline-agreement"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "instructions",
                  "name",
                  "payment_type",
                  "settle_type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "currencies[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "handle": {
                    "type": "string"
                  },
                  "instructions": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "payment_type": {
                    "type": "string"
                  },
                  "settle_type": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "offline_agreement": {
                            "type": "object",
                            "properties": {
                              "currencies": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "handle": {
                                "type": "string"
                              },
                              "instructions": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "payment_term_grace_period_in_days": {
                                "type": "number"
                              },
                              "payment_terms_in_days": {
                                "type": "number"
                              },
                              "payment_type": {
                                "type": "string"
                              },
                              "settle_type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "state": {
                            "type": "string"
                          },
                          "test": {
                            "type": "boolean"
                          },
                          "type": {
                            "type": "string"
                          },
                          "usage": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/create-plan": {
      "post": {
        "operationId": "reepay.create-plan",
        "summary": "Create Plan",
        "description": "Creates a new plan in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/create-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "handle",
                  "name",
                  "schedule_type"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number"
                  },
                  "amount_incl_vat": {
                    "type": "boolean"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "dunning_plan": {
                    "type": "string"
                  },
                  "entitlements[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "handle": {
                    "type": "string"
                  },
                  "interval_length": {
                    "type": "number"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "prepaid": {
                    "type": "boolean"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "schedule_fixed_day": {
                    "type": "number"
                  },
                  "schedule_fixed_hour": {
                    "type": "number"
                  },
                  "schedule_type": {
                    "type": "string"
                  },
                  "setup_fee": {
                    "type": "number"
                  },
                  "tax_policy": {
                    "type": "string"
                  },
                  "trial_interval_length": {
                    "type": "number"
                  },
                  "trial_interval_unit": {
                    "type": "string"
                  },
                  "vat": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amount_incl_vat": {
                            "type": "boolean"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dunning_plan": {
                            "type": "string"
                          },
                          "effective_setup_fee_amount_incl_vat": {
                            "type": "boolean"
                          },
                          "effective_setup_fee_vat": {
                            "type": "number"
                          },
                          "fixed_trial_days": {
                            "type": "boolean"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "include_zero_amount": {
                            "type": "boolean"
                          },
                          "interval_length": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "partial_period_handling": {
                            "type": "string"
                          },
                          "partial_proration_days": {
                            "type": "boolean"
                          },
                          "prepaid": {
                            "type": "boolean"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "schedule_type": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "vat": {
                            "type": "number"
                          },
                          "version": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/reepay/latest/actions/create-subscription": {
      "post": {
        "operationId": "reepay.create-subscription",
        "summary": "Create Subscription",
        "description": "Creates a new subscription in Reepay.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/reepay/latest/actions/create-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "plan",
                  "signup_method"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number"
                  },
                  "amount_incl_vat": {
                    "type": "boolean"
                  },
                  "cost_center": {
                    "type": "string"
                  },
                  "create_customer": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customer": {
                    "type": "string"
                  },
                  "end_date": {
                    "type": "string"
                  },
                  "generate_handle": {
                    "type": "boolean"
                  },
                  "grace_duration": {
                    "type": "number"
                  },
                  "handle": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "no_setup_fee": {
                    "type": "boolean"
                  },
                  "no_trial": {
                    "type": "boolean"
                  },
                  "notice_period_unit_type": {
                    "type": "string"
                  },
                  "notice_periods": {
                    "type": "number"
                  },
                  "plan": {
                    "type": "string"
                  },
                  "plan_version": {
                    "type": "number"
                  },
                  "po_number": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "show_terms": {
                    "type": "boolean"
                  },
                  "signup_method": {
                    "type": "string"
                  },
                  "source": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "string"
                  },
                  "test": {
                    "type": "boolean"
                  },
                  "trial_period": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activated": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "cancelled_amount": {
                            "type": "number"
                          },
                          "cancelled_date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "cancelled_invoices": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "current_period_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "expires": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "failed_amount": {
                            "type": "number"
                          },
                          "failed_invoices": {
                            "type": "number"
                          },
                          "first_period_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "grace_duration": {
                            "type": "number"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "has_started": {
                            "type": "boolean"
                          },
                          "hosted_page_links": {
                            "type": "object",
                            "properties": {
                              "payment_info": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "in_trial": {
                            "type": "boolean"
                          },
                          "is_cancelled": {
                            "type": "boolean"
                          },
                          "next_period_start": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "payment_method_added": {
                            "type": "boolean"
                          },
                          "pending_amount": {
                            "type": "number"
                          },
                          "pending_change": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "pending": {
                                "type": "boolean"
                              },
                              "quantity": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "pending_invoices": {
                            "type": "number"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "plan_version": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "refunded_amount": {
                            "type": "number"
                          },
                          "renewal_count": {
                            "type": "number"
                          },
                          "renewing": {
[...]
