{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Atera Universal API",
    "version": "0.0.8",
    "description": "Monitor endpoints, manage tickets, customers, contacts, and alerts"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/atera/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/atera/latest/actions/add-ticket-comment": {
      "post": {
        "operationId": "atera.add-ticket-comment",
        "summary": "Add ticket comment",
        "description": "Creates a comment on a specific Atera ticket.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/add-ticket-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ticketId",
                  "commentText"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "commentTimestampUtc": {
                    "type": "string",
                    "description": "UTC comment timestamp."
                  },
                  "enduserCommentDetails.enduserId": {
                    "type": "number",
                    "description": "End user ID for end user comments."
                  },
                  "technicianCommentDetails.isInternal": {
                    "type": "boolean",
                    "description": "Whether the technician comment is internal."
                  },
                  "technicianCommentDetails.technicianEmail": {
                    "type": "string",
                    "description": "Technician email for technician comments."
                  },
                  "technicianCommentDetails.technicianId": {
                    "type": "number",
                    "description": "Technician ID for technician comments."
                  },
                  "ticketId": {
                    "type": "number",
                    "description": "System ticket ID."
                  },
                  "commentText": {
                    "type": "string",
                    "description": "Comment text."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActionID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/create-alert": {
      "post": {
        "operationId": "atera.create-alert",
        "summary": "Create alert",
        "description": "Creates an alert in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/create-alert"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId",
                  "deviceGuid",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "additionalInfo": {
                    "type": "string",
                    "description": "Additional alert details."
                  },
                  "alertCategoryId": {
                    "type": "string",
                    "description": "Alert category."
                  },
                  "code": {
                    "type": "number",
                    "description": "Alert code."
                  },
                  "customerId": {
                    "type": "number",
                    "description": "Customer ID for the alert."
                  },
                  "deviceGuid": {
                    "type": "string",
                    "description": "Global unique device identifier."
                  },
                  "folderId": {
                    "type": "number",
                    "description": "Folder ID."
                  },
                  "messageTemplate": {
                    "type": "string",
                    "description": "Alert message template."
                  },
                  "severity": {
                    "type": "string",
                    "description": "Alert severity."
                  },
                  "snoozedEndDate": {
                    "type": "string",
                    "description": "UTC snooze end timestamp."
                  },
                  "thresholdValue1": {
                    "type": "string",
                    "description": "First threshold value."
                  },
                  "thresholdValue2": {
                    "type": "string",
                    "description": "Second threshold value."
                  },
                  "thresholdValue3": {
                    "type": "string",
                    "description": "Third threshold value."
                  },
                  "thresholdValue4": {
                    "type": "string",
                    "description": "Fourth threshold value."
                  },
                  "thresholdValue5": {
                    "type": "string",
                    "description": "Fifth threshold value."
                  },
                  "ticketId": {
                    "type": "number",
                    "description": "Related ticket ID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Alert title."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActionID": {
                            "type": "string",
                            "description": "Inferred Atera write-action success identifier. Validate against a live device GUID before relying on this shape in production workflows."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/create-contact": {
      "post": {
        "operationId": "atera.create-contact",
        "summary": "Create contact",
        "description": "Creates a contact in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "createdOn": {
                    "type": "string",
                    "description": "Contact creation timestamp."
                  },
                  "customerId": {
                    "type": "number",
                    "description": "Existing customer ID."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Existing customer name."
                  },
                  "departmentId": {
                    "type": "number",
                    "description": "Department ID."
                  },
                  "departmentName": {
                    "type": "string",
                    "description": "Department name."
                  },
                  "email": {
                    "type": "string",
                    "description": "Contact email address."
                  },
                  "firstname": {
                    "type": "string",
                    "description": "Contact first name."
                  },
                  "inIgnoreMode": {
                    "type": "boolean",
                    "description": "Whether the contact is in ignore mode."
                  },
                  "isContactPerson": {
                    "type": "boolean",
                    "description": "Whether this is the primary contact person."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title."
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Contact last name."
                  },
                  "mobilePhone": {
                    "type": "string",
                    "description": "Mobile phone number."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActionID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/create-customer": {
      "post": {
        "operationId": "atera.create-customer",
        "summary": "Create customer",
        "description": "Creates a customer in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "address": {
                    "type": "string",
                    "description": "Street address."
                  },
                  "businessNumber": {
                    "type": "string",
                    "description": "Business number."
                  },
                  "city": {
                    "type": "string",
                    "description": "City."
                  },
                  "country": {
                    "type": "string",
                    "description": "Country."
                  },
                  "createdOn": {
                    "type": "string",
                    "description": "Customer creation timestamp."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Customer name."
                  },
                  "domain": {
                    "type": "string",
                    "description": "Customer domain."
                  },
                  "fax": {
                    "type": "string",
                    "description": "Fax number."
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude."
                  },
                  "links": {
                    "type": "string",
                    "description": "Related links."
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Customer notes."
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number."
                  },
                  "state": {
                    "type": "string",
                    "description": "State or region."
                  },
                  "zipCodeStr": {
                    "type": "string",
                    "description": "ZIP or postal code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActionID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/create-ticket": {
      "post": {
        "operationId": "atera.create-ticket",
        "summary": "Create ticket",
        "description": "Creates a ticket in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/create-ticket"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "description",
                  "ticketTitle"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "description": {
                    "type": "string",
                    "description": "Ticket description."
                  },
                  "endUserEmail": {
                    "type": "string",
                    "description": "New end user email."
                  },
                  "endUserFirstName": {
                    "type": "string",
                    "description": "New end user first name."
                  },
                  "endUserId": {
                    "type": "number",
                    "description": "Existing end user contact ID."
                  },
                  "endUserLastName": {
                    "type": "string",
                    "description": "New end user last name."
                  },
                  "endUserPhone": {
                    "type": "string",
                    "description": "New end user phone."
                  },
                  "technicianContactId": {
                    "type": "number",
                    "description": "Technician contact ID."
                  },
                  "technicianEmail": {
                    "type": "string",
                    "description": "Technician email."
                  },
                  "ticketImpact": {
                    "type": "string",
                    "description": "Ticket impact."
                  },
                  "ticketPriority": {
                    "type": "string",
                    "description": "Ticket priority."
                  },
                  "ticketStatus": {
                    "type": "string",
                    "description": "Ticket status."
                  },
                  "ticketTitle": {
                    "type": "string",
                    "description": "Ticket title."
                  },
                  "ticketType": {
                    "type": "string",
                    "description": "Ticket type."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ActionID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-agents": {
      "get": {
        "operationId": "atera.find-agents",
        "summary": "Find agents",
        "description": "Finds agents in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-agents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AgentID": {
                            "type": "number",
                            "description": "Atera agent ID."
                          },
                          "AgentName": {
                            "type": "string",
                            "description": "Agent display name."
                          },
                          "Created": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "CustomerID": {
                            "type": "number",
                            "description": "Owning customer ID."
                          },
                          "CustomerName": {
                            "type": "string",
                            "description": "Owning customer name."
                          },
                          "DeviceGuid": {
                            "type": "string",
                            "description": "Global device GUID."
                          },
                          "DeviceType": {
                            "type": "string",
                            "description": "Atera device type."
                          },
                          "IpAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Known IP addresses."
                          },
                          "LastSeen": {
                            "type": "string",
                            "description": "Most recent device heartbeat timestamp."
                          },
                          "MacAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Known MAC addresses."
                          },
                          "MachineID": {
                            "type": "string",
                            "description": "Atera machine identifier."
                          },
                          "MachineName": {
                            "type": "string",
                            "description": "Machine name."
                          },
                          "Modified": {
                            "type": "string",
                            "description": "Last modification timestamp."
                          },
                          "Monitored": {
                            "type": "boolean",
                            "description": "Whether monitoring is enabled."
                          },
                          "Online": {
                            "type": "boolean",
                            "description": "Whether the device is currently online."
                          },
                          "OS": {
                            "type": "string",
                            "description": "Operating system name."
                          },
                          "OSType": {
                            "type": "string",
                            "description": "Operating system family."
                          },
                          "ProductName": {
                            "type": "string",
                            "description": "Device product name."
                          },
                          "ReportedFromIP": {
                            "type": "string",
                            "description": "Last reported IP address."
                          },
                          "SystemName": {
                            "type": "string",
                            "description": "System name reported by Atera."
                          },
                          "Vendor": {
                            "type": "string",
                            "description": "Device vendor."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-agents-for-customer": {
      "get": {
        "operationId": "atera.find-agents-for-customer",
        "summary": "Find agents for customer",
        "description": "Finds agents in Atera for a specific customer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-agents-for-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "System customer ID.",
            "schema": {
              "type": "number",
              "description": "System customer ID."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AgentID": {
                            "type": "number",
                            "description": "Atera agent ID."
                          },
                          "AgentName": {
                            "type": "string",
                            "description": "Agent display name."
                          },
                          "Created": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "CustomerID": {
                            "type": "number",
                            "description": "Owning customer ID."
                          },
                          "CustomerName": {
                            "type": "string",
                            "description": "Owning customer name."
                          },
                          "DeviceGuid": {
                            "type": "string",
                            "description": "Global device GUID."
                          },
                          "DeviceType": {
                            "type": "string",
                            "description": "Atera device type."
                          },
                          "IpAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Known IP addresses."
                          },
                          "LastSeen": {
                            "type": "string",
                            "description": "Most recent device heartbeat timestamp."
                          },
                          "MacAddresses": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Known MAC addresses."
                          },
                          "MachineID": {
                            "type": "string",
                            "description": "Atera machine identifier."
                          },
                          "MachineName": {
                            "type": "string",
                            "description": "Machine name."
                          },
                          "Modified": {
                            "type": "string",
                            "description": "Last modification timestamp."
                          },
                          "Monitored": {
                            "type": "boolean",
                            "description": "Whether monitoring is enabled."
                          },
                          "Online": {
                            "type": "boolean",
                            "description": "Whether the device is currently online."
                          },
                          "OS": {
                            "type": "string",
                            "description": "Operating system name."
                          },
                          "OSType": {
                            "type": "string",
                            "description": "Operating system family."
                          },
                          "ProductName": {
                            "type": "string",
                            "description": "Device product name."
                          },
                          "ReportedFromIP": {
                            "type": "string",
                            "description": "Last reported IP address."
                          },
                          "SystemName": {
                            "type": "string",
                            "description": "System name reported by Atera."
                          },
                          "Vendor": {
                            "type": "string",
                            "description": "Device vendor."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-alerts": {
      "get": {
        "operationId": "atera.find-alerts",
        "summary": "Find alerts",
        "description": "Finds alerts in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-alerts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alertStatus",
            "in": "query",
            "required": false,
            "description": "Filter alerts by status.",
            "schema": {
              "type": "string",
              "description": "Filter alerts by status.",
              "example": "Open"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AdditionalInfo": {
                            "type": "string",
                            "description": "Additional provider details."
                          },
                          "AgentId": {
                            "type": "number",
                            "description": "Associated agent ID."
                          },
                          "AlertCategoryID": {
                            "type": "string",
                            "description": "Alert category."
                          },
                          "AlertID": {
                            "type": "number",
                            "description": "Atera alert ID."
                          },
                          "AlertMessage": {
                            "type": "string",
                            "description": "Rendered alert message."
                          },
                          "Archived": {
                            "type": "boolean",
                            "description": "Whether the alert is archived."
                          },
                          "ArchivedDate": {
                            "type": "string",
                            "description": "Archived timestamp."
                          },
                          "Code": {
                            "type": "number",
                            "description": "Provider alert code."
                          },
                          "Created": {
                            "type": "string",
                            "description": "Alert creation timestamp."
                          },
                          "CustomerID": {
                            "type": "number",
                            "description": "Owning customer ID."
                          },
                          "CustomerName": {
                            "type": "string",
                            "description": "Owning customer name."
                          },
                          "DeviceGuid": {
                            "type": "string",
                            "description": "Associated device GUID."
                          },
                          "DeviceName": {
                            "type": "string",
                            "description": "Associated device name."
                          },
                          "FolderID": {
                            "type": "number",
                            "description": "Folder ID, when present."
                          },
                          "MessageTemplate": {
                            "type": "string",
                            "description": "Underlying message template."
                          },
                          "PollingCyclesCount": {
                            "type": "number",
                            "description": "Polling cycle count."
                          },
                          "Severity": {
                            "type": "string",
                            "description": "Alert severity."
                          },
                          "SnoozedEndDate": {
                            "type": "string",
                            "description": "Snooze expiry timestamp."
                          },
                          "Source": {
                            "type": "string",
                            "description": "Alert source."
                          },
                          "ThresholdValue1": {
                            "type": "string",
                            "description": "First threshold value."
                          },
                          "ThresholdValue2": {
                            "type": "string",
                            "description": "Second threshold value."
                          },
                          "ThresholdValue3": {
                            "type": "string",
                            "description": "Third threshold value."
                          },
                          "ThresholdValue4": {
                            "type": "string",
                            "description": "Fourth threshold value."
                          },
                          "ThresholdValue5": {
                            "type": "string",
                            "description": "Fifth threshold value."
                          },
                          "TicketID": {
                            "type": "number",
                            "description": "Linked ticket ID, when present."
                          },
                          "Title": {
                            "type": "string",
                            "description": "Alert title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-contacts": {
      "get": {
        "operationId": "atera.find-contacts",
        "summary": "Find contacts",
        "description": "Finds contacts in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchOptions.email",
            "in": "query",
            "required": false,
            "description": "Filter contacts by email address.",
            "schema": {
              "type": "string",
              "description": "Filter contacts by email address.",
              "example": "person@example.com"
            }
          },
          {
            "name": "searchOptions.phone",
            "in": "query",
            "required": false,
            "description": "Filter contacts by phone number.",
            "schema": {
              "type": "string",
              "description": "Filter contacts by phone number.",
              "example": "+1 415 555 0100"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Archived": {
                            "type": "boolean"
                          },
                          "CreatedOn": {
                            "type": "string"
                          },
                          "CustomerID": {
                            "type": "number"
                          },
                          "CustomerName": {
                            "type": "string"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "EndUserID": {
                            "type": "number"
                          },
                          "Firstname": {
                            "type": "string"
                          },
                          "InIgnoreMode": {
                            "type": "boolean"
                          },
                          "IsContactPerson": {
                            "type": "boolean"
                          },
                          "JobTitle": {
                            "type": "string"
                          },
                          "LastModified": {
                            "type": "string"
                          },
                          "Lastname": {
                            "type": "string"
                          },
                          "Phone": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-customers": {
      "get": {
        "operationId": "atera.find-customers",
        "summary": "Find customers",
        "description": "Finds customers in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-customers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Country": {
                            "type": "string"
                          },
                          "CreatedOn": {
                            "type": "string"
                          },
                          "CustomerID": {
                            "type": "number"
                          },
                          "CustomerName": {
                            "type": "string"
                          },
                          "LastModified": {
                            "type": "string"
                          },
                          "Latitude": {
                            "type": "number"
                          },
                          "Longitude": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-modified-tickets": {
      "get": {
        "operationId": "atera.find-modified-tickets",
        "summary": "Find modified tickets",
        "description": "Finds recently modified tickets in Atera.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-modified-tickets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Return tickets modified since this UTC timestamp.",
            "schema": {
              "type": "string",
              "description": "Return tickets modified since this UTC timestamp.",
              "example": "2026-03-16T00:00:00Z"
            }
          },
          {
            "name": "includeComments",
            "in": "query",
            "required": false,
            "description": "Include the ticket's last comments.",
            "schema": {
              "type": "boolean",
              "description": "Include the ticket's last comments."
            }
          },
          {
            "name": "includeRelations",
            "in": "query",
            "required": false,
            "description": "Include ticket relation information.",
            "schema": {
              "type": "boolean",
              "description": "Include ticket relation information."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CustomerID": {
                            "type": "number"
                          },
                          "CustomerName": {
                            "type": "string"
                          },
                          "EndUserEmail": {
                            "type": "string"
                          },
                          "EndUserFirstName": {
                            "type": "string"
                          },
                          "EndUserID": {
                            "type": "number"
                          },
                          "EndUserLastName": {
                            "type": "string"
                          },
                          "EndUserPhone": {
                            "type": "string"
                          },
                          "OffSiteDurationMinutes": {
                            "type": "number"
                          },
                          "OffSiteDurationSeconds": {
                            "type": "number"
                          },
                          "OffSLADurationMinutes": {
                            "type": "number"
                          },
                          "OnSiteDurationMinutes": {
                            "type": "number"
                          },
                          "OnSiteDurationSeconds": {
                            "type": "number"
                          },
                          "OnSLADurationMinutes": {
                            "type": "number"
                          },
                          "RelationType": {
                            "type": "string"
                          },
                          "TechnicianContactID": {
                            "type": "number"
                          },
                          "TechnicianEmail": {
                            "type": "string"
                          },
                          "TechnicianFirstCommentDate": {
                            "type": "string"
                          },
                          "TechnicianFullName": {
                            "type": "string"
                          },
                          "TicketCreatedDate": {
                            "type": "string"
                          },
                          "TicketID": {
                            "type": "number"
                          },
                          "TicketImpact": {
                            "type": "string"
                          },
                          "TicketNumber": {
                            "type": "string"
                          },
                          "TicketPriority": {
                            "type": "string"
                          },
                          "TicketSource": {
                            "type": "string"
                          },
                          "TicketStatus": {
                            "type": "string"
                          },
                          "TicketTitle": {
                            "type": "string"
                          },
                          "TicketType": {
                            "type": "string"
                          },
                          "TotalDurationMinutes": {
                            "type": "number"
                          },
                          "TotalDurationSeconds": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/atera/latest/actions/find-ticket-attachments": {
      "get": {
        "operationId": "atera.find-ticket-attachments",
        "summary": "Find ticket attachments",
        "description": "Finds attachments for a specific Atera ticket.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/atera/latest/actions/find-ticket-attachments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticketId",
            "in": "query",
            "required": true,
            "description": "System ticket ID.",
            "schema": {
              "type": "number",
              "description": "System ticket ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "Ticket attachment URL returned by Atera."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
[...]
