{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Microsoft Dynamics 365 Universal API",
    "version": "0.9.27",
    "description": "Call Microsoft Dynamics 365 actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/microsoftDynamics365/latest/actions/create-account": {
      "post": {
        "operationId": "microsoftDynamics365.create-account",
        "summary": "Create Account",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customFields[].customKey": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "accountnumber": {
                    "type": "string"
                  },
                  "customFields[].customValue": {
                    "type": "string"
                  },
                  "emailaddress1": {
                    "type": "string"
                  },
                  "telephone1": {
                    "type": "string"
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@odata": {
                            "type": "object",
                            "properties": {
                              "context": {
                                "type": "string"
                              },
                              "etag": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ActiveRevision": {
                            "type": "string"
                          },
                          "ActualEndDate": {
                            "type": "string"
                          },
                          "ActualStartDate": {
                            "type": "string"
                          },
                          "AlertTimeFrameWeeks": {
                            "type": "number"
                          },
                          "AllowNegativeBudgetsToBeCarriedForward": {
                            "type": "string"
                          },
                          "AlternateProject": {
                            "type": "string"
                          },
                          "BankDocumentType": {
                            "type": "string"
                          },
                          "BudgetControlInterval": {
                            "type": "string"
                          },
                          "BudgetOverrunDefault": {
                            "type": "string"
                          },
                          "Calendar": {
                            "type": "string"
                          },
                          "CanCarryForwardRemainingBudgets": {
                            "type": "string"
                          },
                          "CanUseAlternateProjectBudget": {
                            "type": "string"
                          },
                          "CanUseBudgetControl": {
                            "type": "string"
                          },
                          "CanVerifyCostAgainstRemainingForecast": {
                            "type": "string"
                          },
                          "Category": {
                            "type": "string"
                          },
                          "CertifiedPayroll": {
                            "type": "string"
                          },
                          "ConstraintDate": {
                            "type": "string"
                          },
                          "ConstraintType": {
                            "type": "string"
                          },
                          "CustomerAccount": {
                            "type": "string"
                          },
                          "CustomerRetentionTermId": {
                            "type": "string"
                          },
                          "dataAreaId": {
                            "type": "string"
                          },
                          "Date": {
                            "type": "string"
                          },
                          "DateOfCreation": {
                            "type": "string"
                          },
                          "DefaultInvoiceAccount": {
                            "type": "string"
                          },
                          "DefaultOnSubprojects": {
                            "type": "string"
                          },
                          "DeliveryName": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "DimensionDisplayValue": {
                            "type": "string"
                          },
                          "DurationDeterminesEndDate": {
                            "type": "string"
                          },
                          "DurationInDays": {
                            "type": "number"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "EndDate1": {
                            "type": "string"
                          },
                          "EndTime": {
                            "type": "number"
                          },
                          "EstimateProjectID": {
                            "type": "string"
                          },
                          "ExtensionDate": {
                            "type": "string"
                          },
                          "ExternalRevision": {
                            "type": "string"
                          },
                          "Fax": {
                            "type": "string"
                          },
                          "FixedAssetNumber": {
                            "type": "string"
                          },
                          "Header": {
                            "type": "string"
                          },
                          "HourValidation": {
                            "type": "string"
                          },
                          "InvoiceCost": {
                            "type": "string"
                          },
                          "InvoicingMethod": {
                            "type": "string"
                          },
                          "IsActivityRequiredForExpenseForecast": {
                            "type": "string"
                          },
                          "IsActivityRequiredForExpenseTransaction": {
                            "type": "string"
                          },
                          "IsActivityRequiredForHourForecast": {
                            "type": "string"
                          },
                          "IsActivityRequiredForHourTransaction": {
                            "type": "string"
                          },
                          "IsActivityRequiredForItemForecast": {
                            "type": "string"
                          },
                          "IsActivityRequiredForItemTransaction": {
                            "type": "string"
                          },
                          "IsReadyForInvoicing": {
                            "type": "string"
                          },
                          "ItemValidation": {
                            "type": "string"
                          },
                          "JobIdentification": {
                            "type": "string"
                          },
                          "JobPayType": {
                            "type": "string"
                          },
                          "LedgerPostingSortPriority": {
                            "type": "string"
                          },
                          "LocationID": {
                            "type": "string"
                          },
                          "Milestone": {
                            "type": "string"
                          },
                          "MinimumTimeIncrement": {
                            "type": "number"
                          },
                          "Notes": {
                            "type": "string"
                          },
                          "ParentProject": {
                            "type": "string"
                          },
                          "PercentToRetain": {
                            "type": "number"
                          },
                          "PostingLevel": {
                            "type": "string"
                          },
                          "ProjectBudgetManagement": {
                            "type": "string"
                          },
                          "ProjectContractID": {
                            "type": "string"
                          },
                          "ProjectedEndDate": {
                            "type": "string"
                          },
                          "ProjectedStartDate": {
                            "type": "string"
                          },
                          "ProjectGroup": {
                            "type": "string"
                          },
                          "ProjectID": {
                            "type": "string"
                          },
                          "ProjectName": {
                            "type": "string"
                          },
                          "ProjectOrTask": {
                            "type": "string"
                          },
                          "ProjectStage": {
                            "type": "string"
                          },
                          "ProjectTemplate": {
                            "type": "string"
                          },
                          "ProjectType": {
                            "type": "string"
                          },
                          "PSASchedIgnoreCalendar": {
                            "type": "string"
                          },
                          "RequisitionOrPurchaseOrderControl": {
                            "type": "string"
                          },
                          "SalesPriceGroup": {
                            "type": "string"
                          },
                          "SalesTaxGroup": {
                            "type": "string"
                          },
                          "ScheduleStatus": {
                            "type": "string"
                          },
                          "SearchPriority": {
                            "type": "string"
                          },
                          "SortingId1": {
                            "type": "string"
                          },
                          "SortingId2": {
                            "type": "string"
                          },
                          "SortingId3": {
                            "type": "string"
                          },
                          "StartDate1": {
                            "type": "string"
                          },
                          "StartTime": {
                            "type": "number"
                          },
                          "Status": {
                            "type": "string"
                          },
                          "SubprojectIDFormat": {
                            "type": "string"
                          },
                          "TaskCompletelyScheduled": {
                            "type": "string"
                          },
                          "Telephone": {
                            "type": "string"
                          },
                          "TemplateApplied": {
                            "type": "string"
                          },
                          "TimeMeasure": {
                            "type": "string"
                          },
                          "TotalEffortInHours": {
                            "type": "number"
                          },
                          "TrackCost": {
                            "type": "string"
                          },
                          "TransactionTypesControlled": {
                            "type": "string"
                          },
                          "Unit": {
                            "type": "string"
                          },
                          "WorkerArchitectPersonnelNumber": {
                            "type": "string"
                          },
                          "WorkerRespFinancialPersonnelNumber": {
                            "type": "string"
                          },
                          "WorkerResponsiblePersonnelNumber": {
                            "type": "string"
                          },
                          "WorkerRespSalesPersonnelNumber": {
                            "type": "string"
                          },
                          "ZakatContractAmendment": {
                            "type": "number"
                          },
                          "ZakatContractDate": {
                            "type": "string"
                          },
                          "ZakatContractPeriod": {
                            "type": "string"
                          },
                          "ZakatProjectValue": {
                            "type": "number"
                          },
                          "ZakatSubject": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-contact": {
      "post": {
        "operationId": "microsoftDynamics365.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "lastname"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customFields[].customKey": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "customFields[].customValue": {
                    "type": "string"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "fullname": {
                    "type": "string"
                  },
                  "emailaddress1": {
                    "type": "string"
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {}
                  },
                  "$expand": {
                    "type": "string"
                  },
                  "$select": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@odata": {
                            "type": "object",
                            "properties": {
                              "context": {
                                "type": "string"
                              },
                              "etag": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ActiveRevision": {
                            "type": "string"
                          },
                          "ActualEndDate": {
                            "type": "string"
                          },
                          "ActualStartDate": {
                            "type": "string"
                          },
                          "AlertTimeFrameWeeks": {
                            "type": "number"
                          },
                          "AllowNegativeBudgetsToBeCarriedForward": {
                            "type": "string"
                          },
                          "AlternateProject": {
                            "type": "string"
                          },
                          "BankDocumentType": {
                            "type": "string"
                          },
                          "BudgetControlInterval": {
                            "type": "string"
                          },
                          "BudgetOverrunDefault": {
                            "type": "string"
                          },
                          "Calendar": {
                            "type": "string"
                          },
                          "CanCarryForwardRemainingBudgets": {
                            "type": "string"
                          },
                          "CanUseAlternateProjectBudget": {
                            "type": "string"
                          },
                          "CanUseBudgetControl": {
                            "type": "string"
                          },
                          "CanVerifyCostAgainstRemainingForecast": {
                            "type": "string"
                          },
                          "Category": {
                            "type": "string"
                          },
                          "CertifiedPayroll": {
                            "type": "string"
                          },
                          "ConstraintDate": {
                            "type": "string"
                          },
                          "ConstraintType": {
                            "type": "string"
                          },
                          "CustomerAccount": {
                            "type": "string"
                          },
                          "CustomerRetentionTermId": {
                            "type": "string"
                          },
                          "dataAreaId": {
                            "type": "string"
                          },
                          "Date": {
                            "type": "string"
                          },
                          "DateOfCreation": {
                            "type": "string"
                          },
                          "DefaultInvoiceAccount": {
                            "type": "string"
                          },
                          "DefaultOnSubprojects": {
                            "type": "string"
                          },
                          "DeliveryName": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "DimensionDisplayValue": {
                            "type": "string"
                          },
                          "DurationDeterminesEndDate": {
                            "type": "string"
                          },
                          "DurationInDays": {
                            "type": "number"
                          },
                          "Email": {
                            "type": "string"
                          },
                          "EndDate1": {
                            "type": "string"
                          },
                          "EndTime": {
                            "type": "number"
                          },
                          "EstimateProjectID": {
                            "type": "string"
                          },
                          "ExtensionDate": {
                            "type": "string"
                          },
                          "ExternalRevision": {
                            "type": "string"
                          },
                          "Fax": {
                            "type": "string"
                          },
                          "FixedAssetNumber": {
                            "type": "string"
                          },
                          "Header": {
                            "type": "string"
                          },
                          "HourValidation": {
                            "type": "string"
                          },
                          "InvoiceCost": {
                            "type": "string"
                          },
                          "InvoicingMethod": {
                            "type": "string"
                          },
                          "IsActivityRequiredForExpenseForecast": {
                            "type": "string"
                          },
                          "IsActivityRequiredForExpenseTransaction": {
                            "type": "string"
                          },
                          "IsActivityRequiredForHourForecast": {
                            "type": "string"
                          },
                          "IsActivityRequiredForHourTransaction": {
                            "type": "string"
                          },
                          "IsActivityRequiredForItemForecast": {
                            "type": "string"
                          },
                          "IsActivityRequiredForItemTransaction": {
                            "type": "string"
                          },
                          "IsReadyForInvoicing": {
                            "type": "string"
                          },
                          "ItemValidation": {
                            "type": "string"
                          },
                          "JobIdentification": {
                            "type": "string"
                          },
                          "JobPayType": {
                            "type": "string"
                          },
                          "LedgerPostingSortPriority": {
                            "type": "string"
                          },
                          "LocationID": {
                            "type": "string"
                          },
                          "Milestone": {
                            "type": "string"
                          },
                          "MinimumTimeIncrement": {
                            "type": "number"
                          },
                          "Notes": {
                            "type": "string"
                          },
                          "ParentProject": {
                            "type": "string"
                          },
                          "PercentToRetain": {
                            "type": "number"
                          },
                          "PostingLevel": {
                            "type": "string"
                          },
                          "ProjectBudgetManagement": {
                            "type": "string"
                          },
                          "ProjectContractID": {
                            "type": "string"
                          },
                          "ProjectedEndDate": {
                            "type": "string"
                          },
                          "ProjectedStartDate": {
                            "type": "string"
                          },
                          "ProjectGroup": {
                            "type": "string"
                          },
                          "ProjectID": {
                            "type": "string"
                          },
                          "ProjectName": {
                            "type": "string"
                          },
                          "ProjectOrTask": {
                            "type": "string"
                          },
                          "ProjectStage": {
                            "type": "string"
                          },
                          "ProjectTemplate": {
                            "type": "string"
                          },
                          "ProjectType": {
                            "type": "string"
                          },
                          "PSASchedIgnoreCalendar": {
                            "type": "string"
                          },
                          "RequisitionOrPurchaseOrderControl": {
                            "type": "string"
                          },
                          "SalesPriceGroup": {
                            "type": "string"
                          },
                          "SalesTaxGroup": {
                            "type": "string"
                          },
                          "ScheduleStatus": {
                            "type": "string"
                          },
                          "SearchPriority": {
                            "type": "string"
                          },
                          "SortingId1": {
                            "type": "string"
                          },
                          "SortingId2": {
                            "type": "string"
                          },
                          "SortingId3": {
                            "type": "string"
                          },
                          "StartDate1": {
                            "type": "string"
                          },
                          "StartTime": {
                            "type": "number"
                          },
                          "Status": {
                            "type": "string"
                          },
                          "SubprojectIDFormat": {
                            "type": "string"
                          },
                          "TaskCompletelyScheduled": {
                            "type": "string"
                          },
                          "Telephone": {
                            "type": "string"
                          },
                          "TemplateApplied": {
                            "type": "string"
                          },
                          "TimeMeasure": {
                            "type": "string"
                          },
                          "TotalEffortInHours": {
                            "type": "number"
                          },
                          "TrackCost": {
                            "type": "string"
                          },
                          "TransactionTypesControlled": {
                            "type": "string"
                          },
                          "Unit": {
                            "type": "string"
                          },
                          "WorkerArchitectPersonnelNumber": {
                            "type": "string"
                          },
                          "WorkerRespFinancialPersonnelNumber": {
                            "type": "string"
                          },
                          "WorkerResponsiblePersonnelNumber": {
                            "type": "string"
                          },
                          "WorkerRespSalesPersonnelNumber": {
                            "type": "string"
                          },
                          "ZakatContractAmendment": {
                            "type": "number"
                          },
                          "ZakatContractDate": {
                            "type": "string"
                          },
                          "ZakatContractPeriod": {
                            "type": "string"
                          },
                          "ZakatProjectValue": {
                            "type": "number"
                          },
                          "ZakatSubject": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-custom-entity": {
      "post": {
        "operationId": "microsoftDynamics365.create-custom-entity",
        "summary": "Create Custom Entity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-custom-entity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tableName": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-customer": {
      "post": {
        "operationId": "microsoftDynamics365.create-customer",
        "summary": "Create Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dataAreaId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "nameAlias": {
                    "type": "string"
                  },
                  "customerGroupId": {
                    "type": "string"
                  },
                  "salesCurrencyCode": {
                    "type": "string"
                  },
                  "customerAccount": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-customer-postal-address": {
      "post": {
        "operationId": "microsoftDynamics365.create-customer-postal-address",
        "summary": "Create Customer Postal Address",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-customer-postal-address"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dataAreaId": {
                    "type": "string"
                  },
                  "addressDescription": {
                    "type": "string"
                  },
                  "customerLegalEntityId": {
                    "type": "string"
                  },
                  "customerAccountNumber": {
                    "type": "string"
                  },
                  "addressStreet": {
                    "type": "string"
                  },
                  "addressCity": {
                    "type": "string"
                  },
                  "addressState": {
                    "type": "string"
                  },
                  "addressZipCode": {
                    "type": "string"
                  },
                  "addressCountryRegionId": {
                    "type": "string",
                    "default": "USA"
                  },
                  "addressCountryRegionISOCode": {
                    "type": "string",
                    "default": "US"
                  },
                  "isPostalAddress": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "Yes"
                  },
                  "isPrimary": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "Yes"
                  },
                  "isRoleBusiness": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "Yes"
                  },
                  "isPrivate": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "No"
                  },
                  "isPrivatePostalAddress": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "No"
                  },
                  "isPrimaryTaxRegistration": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "No"
                  },
                  "isRoleDelivery": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "No"
                  },
                  "addressLocationRoles": {
                    "type": "string",
                    "default": "Business"
                  },
                  "addressDefaultRoles": {
                    "type": "string",
                    "default": "Business"
                  },
                  "isRoleHome": {
                    "type": "string",
                    "default": "No"
                  },
                  "isRoleInvoice": {
                    "type": "string",
                    "default": "No"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-distinct-product": {
      "post": {
        "operationId": "microsoftDynamics365.create-distinct-product",
        "summary": "Create Distinct Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-distinct-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "HarmonizedSystemCode": {
                    "type": "string"
                  },
                  "IsCatchWeightProduct": {
                    "type": "string"
                  },
                  "ProductDescription": {
                    "type": "string"
                  },
                  "ProductName": {
                    "type": "string"
                  },
                  "ProductSearchName": {
                    "type": "string"
                  },
                  "ProductType": {
                    "type": "string"
                  },
                  "RetailProductCategoryName": {
                    "type": "string"
                  },
                  "ServiceType": {
                    "type": "string"
                  },
                  "STCCCode": {
                    "type": "string"
                  },
                  "StorageDimensionGroupName": {
                    "type": "string"
                  },
                  "TrackingDimensionGroupName": {
                    "type": "string"
                  },
                  "WarrantyDurationTime": {
                    "type": "number"
                  },
                  "WarrantyDurationTimeUnit": {
                    "type": "string"
                  },
                  "ProductNumber": {
                    "type": "string"
                  },
                  "NMFCCode": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-products-v2-entity": {
      "post": {
        "operationId": "microsoftDynamics365.create-products-v2-entity",
        "summary": "Create ProductsV2 Entity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-products-v2-entity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "AreIdenticalConfigurationsAllowed": {
                    "type": "string"
                  },
                  "EngChgProductOwnerId": {
                    "type": "string"
                  },
                  "HarmonizedSystemCode": {
                    "type": "string"
                  },
                  "IsAutomaticVariantGenerationEnabled": {
                    "type": "string"
                  },
                  "IsCatchWeightProduct": {
                    "type": "string"
                  },
                  "IsProductKit": {
                    "type": "string",
                    "description": "Yes/No"
                  },
                  "IsProductVariantUnitConversionEnabled": {
                    "type": "string",
                    "description": "Yes/No"
                  },
                  "NMFCCode": {
                    "type": "string"
                  },
                  "ProductColorGroupId": {
                    "type": "string"
                  },
                  "ProductDescription": {
                    "type": "string"
                  },
                  "ProductDimensionGroupName": {
                    "type": "string"
                  },
                  "ProductName": {
                    "type": "string"
                  },
                  "ProductSearchName": {
                    "type": "string"
                  },
                  "ProductSizeGroupId": {
                    "type": "string"
                  },
                  "ProductStyleGroupId": {
                    "type": "string"
                  },
                  "ProductSubType": {
                    "type": "string"
                  },
                  "ProductType": {
                    "type": "string"
                  },
                  "ProductVariantNameNomenclatureName": {
                    "type": "string"
                  },
                  "ProductVariantNumberNomenclatureName": {
                    "type": "string"
                  },
                  "RetailProductCategoryName": {
                    "type": "string"
                  },
                  "ServiceType": {
                    "type": "string"
                  },
                  "STCCCode": {
                    "type": "string"
                  },
                  "StorageDimensionGroupName": {
                    "type": "string"
                  },
                  "TrackingDimensionGroupName": {
                    "type": "string"
                  },
                  "VariantConfigurationTechnology": {
                    "type": "string"
                  },
                  "WarrantyDurationTime": {
                    "type": "number"
                  },
                  "WarrantyDurationTimeUnit": {
                    "type": "string"
                  },
                  "ProductNumber": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-project": {
      "post": {
        "operationId": "microsoftDynamics365.create-project",
        "summary": "Create Project",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "dataAreaId",
                  "projectID",
                  "actualStartDate",
                  "durationInDays",
                  "zakatContractAmendment",
                  "alertTimeFrameWeeks",
                  "projectStage"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dataAreaId": {
                    "type": "string"
                  },
                  "projectID": {
                    "type": "string"
                  },
                  "actualStartDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "projectedStartDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "projectName": {
                    "type": "string"
                  },
                  "projectType": {
                    "type": "string"
                  },
                  "durationInDays": {
                    "type": "number"
                  },
                  "workerResponsiblePersonnelNumber": {
                    "type": "string",
                    "description": "Project Manager"
                  },
                  "workerRespSalesPersonnelNumber": {
                    "type": "string",
                    "description": "Sales"
                  },
                  "workerRespFinancialPersonnelNumber": {
                    "type": "string"
                  },
                  "customerAccount": {
                    "type": "string"
                  },
                  "salesTaxGroup": {
                    "type": "string"
                  },
                  "projectGroup": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "default": "Active"
                  },
                  "email": {
                    "type": "string"
                  },
                  "deliveryName": {
                    "type": "string"
                  },
                  "dateOfCreation": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "projectContractID": {
                    "type": "string"
                  },
                  "projectBudgetManagement": {
                    "type": "string",
                    "default": "Independent"
                  },
                  "allowNegativeBudgetsToBeCarriedForward": {
                    "type": "string"
                  },
                  "certifiedPayroll": {
                    "type": "string",
                    "default": "No"
                  },
                  "canVerifyCostAgainstRemainingForecast": {
                    "type": "string",
                    "description": "Yes / No",
                    "default": "No"
                  },
                  "trackCost": {
                    "type": "string",
                    "default": "Actual"
                  },
                  "bankDocumentType": {
                    "type": "string"
                  },
                  "dimensionDisplayValue": {
                    "type": "string"
                  },
                  "isActivityRequiredForHourForecast": {
                    "type": "string"
                  },
                  "sortingId1": {
                    "type": "string"
                  },
                  "sortingId2": {
                    "type": "string"
                  },
                  "calendar": {
                    "type": "string",
                    "default": "Default"
                  },
                  "zakatContractAmendment": {
                    "type": "number",
                    "default": 0
                  },
                  "locationID": {
                    "type": "string"
                  },
                  "isActivityRequiredForItemTransaction": {
                    "type": "string"
                  },
                  "zakatContractPeriod": {
                    "type": "string"
                  },
                  "parentProject": {
                    "type": "string"
                  },
                  "requisitionOrPurchaseOrderControl": {
                    "type": "string",
                    "default": "None"
                  },
                  "constraintType": {
                    "type": "string",
                    "default": "AsSoonAsPossible"
                  },
                  "alertTimeFrameWeeks": {
                    "type": "number",
                    "default": 0
                  },
                  "projectStage": {
                    "type": "string",
                    "default": "Created"
                  },
                  "invoicingMethod": {
                    "type": "string",
                    "default": "Progress"
                  },
                  "zakatProjectValue": {
                    "type": "string"
                  },
                  "constraintDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "budgetControlInterval": {
                    "type": "string",
                    "default": "TotalBudget"
                  },
                  "percentToRetain": {
                    "type": "number",
                    "default": 0
                  },
                  "totalEffortInHours": {
                    "type": "number",
                    "default": 0
                  },
                  "zakatContractDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "isActivityRequiredForExpenseForecast": {
                    "type": "string"
                  },
                  "postingLevel": {
                    "type": "string",
                    "default": "Detail"
                  },
                  "invoiceCost": {
                    "type": "string",
                    "default": "No"
                  },
                  "timeMeasure": {
                    "type": "string",
                    "default": "Hour"
                  },
                  "budgetOverrunDefault": {
                    "type": "string",
                    "default": "AllowOverruns"
                  },
                  "extensionDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "startDate1": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "minimumTimeIncrement": {
                    "type": "number",
                    "default": 0
                  },
                  "subprojectIDFormat": {
                    "type": "string",
                    "default": "-##"
                  },
                  "searchPriority": {
                    "type": "string"
                  },
                  "canUseBudgetControl": {
                    "type": "string",
                    "default": "Yes"
                  },
                  "itemValidation": {
                    "type": "string"
                  },
                  "taskCompletelyScheduled": {
                    "type": "string",
                    "default": "No"
                  },
                  "durationDeterminesEndDate": {
                    "type": "string",
                    "default": "No"
                  },
                  "isActivityRequiredForExpenseTransaction": {
                    "type": "string",
                    "default": "No"
                  },
                  "unit": {
                    "type": "string"
                  },
                  "isActivityRequiredForItemForecast": {
                    "type": "string",
                    "default": "No"
                  },
                  "hourValidation": {
                    "type": "string",
                    "default": "Amount"
                  },
                  "salesPriceGroup": {
                    "type": "string"
                  },
                  "projectedEndDate": {
                    "type": "string"
                  },
                  "defaultOnSubprojects": {
                    "type": "string",
                    "default": "No"
                  },
                  "actualEndDate": {
                    "type": "string"
                  },
                  "fixedAssetNumber": {
                    "type": "string"
                  },
                  "canUseAlternateProjectBudget": {
                    "type": "string",
                    "default": "No"
                  },
                  "jobPayType": {
                    "type": "string"
                  },
                  "isReadyForInvoicing": {
                    "type": "string",
                    "default": "No"
                  },
                  "workerArchitectPersonnelNumber": {
                    "type": "string"
                  },
                  "ledgerPostingSortPriority": {
                    "type": "string",
                    "default": "Categories"
                  },
                  "telephone": {
                    "type": "string"
                  },
                  "customerRetentionTermId": {
                    "type": "string"
                  },
                  "pSASchedIgnoreCalendar": {
                    "type": "string"
                  },
                  "projectTemplate": {
                    "type": "string"
                  },
                  "defaultInvoiceAccount": {
                    "type": "string"
                  },
                  "jobIdentification": {
                    "type": "string"
                  },
                  "alternateProject": {
                    "type": "string"
                  },
                  "projectOrTask": {
                    "type": "string"
                  },
                  "header": {
                    "type": "string"
                  },
                  "isActivityRequiredForHourTransaction": {
                    "type": "string"
                  },
                  "scheduleStatus": {
                    "type": "string"
                  },
                  "milestone": {
                    "type": "string"
                  },
                  "externalRevision": {
                    "type": "string",
                    "default": "ORIG"
                  },
                  "category": {
                    "type": "string"
                  },
                  "estimateProjectID": {
                    "type": "string"
                  },
                  "templateApplied": {
                    "type": "string",
                    "default": "No"
                  },
                  "fax": {
                    "type": "string"
                  },
                  "sortingId3": {
                    "type": "string"
                  },
                  "activeRevision": {
                    "type": "string"
                  },
                  "zakatSubject": {
                    "type": "string"
                  },
                  "transactionTypesControlled": {
                    "type": "string",
                    "default": "RevenuesAndCosts"
                  },
                  "canCarryForwardRemainingBudgets": {
                    "type": "string",
                    "default": "No"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/microsoftDynamics365/latest/actions/create-project-contract": {
      "post": {
        "operationId": "microsoftDynamics365.create-project-contract",
        "summary": "Create Project Contract",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/microsoftDynamics365/latest/actions/create-project-contract"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "ProjectContractID",
                  "Name",
                  "ContractDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "dataAreaId": {
                    "type": "string"
                  },
                  "ProjectContractID": {
                    "type": "string"
                  },
                  "Name": {
                    "type": "string"
                  },
                  "ContractDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "SalesTaxGroup": {
                    "type": "string"
                  },
                  "ContractLines": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "Yes"
                  },
                  "BankAccount": {
                    "type": "string"
                  },
                  "InvoicingName": {
                    "type": "string"
                  },
                  "LockContractSalesCurrency": {
                    "type": "string",
                    "description": "Yes/No",
                    "default": "Yes"
                  },
                  "CentralBankPurposeCode": {
                    "type": "string"
                  },
                  "SalesResponsiblePersonnelNumber": {
                    "type": "string"
                  },
                  "PriceGroup": {
                    "type": "string"
                  },
                  "NetPrice": {
                    "type": "string",
                    "default": "No"
                  },
                  "PurposeText": {
                    "type": "string"
                  },
                  "InvoiceFrequency": {
                    "type": "string",
                    "description": "\"CurrentMth\"",
                    "default": "CurrentMth"
                  },
                  "SalesCurrency": {
                    "type": "string",
                    "default": "USD"
                  },
                  "DefaultPostingLevel": {
                    "type": "string",
                    "default": "Detail"
                  },
                  "TransactionCode": {
                    "type": "string"
                  },
                  "RetainagePercent": {
                    "type": "number",
                    "default": 0
                  },
                  "MinimumTimeIncrement": {
                    "type": "number",
                    "default": 0
                  },
                  "ServiceOnDeliveryAddress": {
                    "type": "string",
                    "default": "No"
                  },
                  "CustomerRetentionTermId": {
                    "type": "string"
                  },
                  "ListCodeId": {
                    "type": "string",
                    "default": "IncludeNot"
                  },
                  "ProgressInvoicing": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
[...]
