{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Verify (Tailr Made) Universal API",
    "version": "0.0.2",
    "description": "Analyze resumes for red flags and fraud signals"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/verifyTailrMade/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/verifyTailrMade/latest/actions/verify-resume-red-flags": {
      "get": {
        "operationId": "verifyTailrMade.verify-resume-red-flags",
        "summary": "Verify Resume Red Flags",
        "description": "Analyzes resume text for red flags in Verify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/verifyTailrMade/latest/actions/verify-resume-red-flags"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resumeText",
            "in": "query",
            "required": true,
            "description": "Text to analyze for red flags and fraud signals.",
            "schema": {
              "type": "string",
              "description": "Text to analyze for red flags and fraud signals."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "analysis": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Structured analysis payload.",
                            "properties": {
                              "flags": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "High-level analysis flags.",
                                "properties": {
                                  "employers": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "schools": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "tech": {
                                    "type": "array",
                                    "items": {}
                                  }
                                }
                              },
                              "resumeData": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Normalized resume data used by the analysis.",
                                "properties": {
                                  "experience": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Parsed experience metadata.",
                                    "properties": {
                                      "employerRecognition": {
                                        "type": "object",
                                        "additionalProperties": true,
                                        "description": "Employer recognition map."
                                      },
                                      "parsedExperience": {
                                        "type": "array",
                                        "items": {}
                                      }
                                    }
                                  },
                                  "fullText": {
                                    "type": "string",
                                    "description": "Resume text sent for analysis."
                                  },
                                  "linkedInUrl": {
                                    "type": "string",
                                    "description": "Parsed LinkedIn URL, when available."
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Parsed candidate name, when available."
                                  },
                                  "schools": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "tech": {
                                    "type": "array",
                                    "items": {}
                                  }
                                }
                              }
                            }
                          },
                          "reportHTML": {
                            "type": "string",
                            "description": "HTML verify report."
                          },
                          "reportText": {
                            "type": "string",
                            "description": "Plain-text verify report."
                          },
                          "riskLevel": {
                            "type": "string",
                            "description": "Overall risk level returned by the verify endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
