{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Float Universal API",
    "version": "0.0.6",
    "description": "Schedule teams, manage projects, and track time"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/float/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/float/latest/actions/create-allocation": {
      "post": {
        "operationId": "float.create-allocation",
        "summary": "Create Allocation",
        "description": "Creates a new allocation in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-allocation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "startDate",
                  "endDate",
                  "hours"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The ID of the project for this allocation"
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "The ID of the project phase for this allocation"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start date of this allocation"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "End date of this allocation"
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Start time in 24 hour format"
                  },
                  "hours": {
                    "type": "number",
                    "description": "Number of hours per day"
                  },
                  "peopleId": {
                    "type": "number",
                    "description": "The ID of the person assigned to the allocation"
                  },
                  "peopleIds": {
                    "type": "string",
                    "description": "List of one or more people IDs assigned to the allocation"
                  },
                  "status": {
                    "type": "number",
                    "description": "Status of the allocation"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the associated project task"
                  },
                  "taskMetaId": {
                    "type": "number",
                    "description": "The ID of the associated project task"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Additional details about the work required"
                  },
                  "repeatState": {
                    "type": "number",
                    "description": "Frequency that this allocation repeats"
                  },
                  "repeatEndDate": {
                    "type": "string",
                    "description": "Date that the repeating allocation will cease"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "hours": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parentTaskId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "peopleId": {
                            "type": "number"
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "repeatEndDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "repeatState": {
                            "type": "number"
                          },
                          "rootTaskId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "taskMetaId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-client": {
      "post": {
        "operationId": "float.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the client",
                    "example": "MindCloud Float Client"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-logged-time": {
      "post": {
        "operationId": "float.create-logged-time",
        "summary": "Create Logged Time",
        "description": "Creates a new logged time entry in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-logged-time"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "peopleId",
                  "date",
                  "hours",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "peopleId": {
                    "type": "number",
                    "description": "The ID of the person for the logged time entry"
                  },
                  "date": {
                    "type": "string",
                    "description": "Date of the logged time entry"
                  },
                  "referenceDate": {
                    "type": "string",
                    "description": "The date on which to suppress a matching logged time suggestion"
                  },
                  "hours": {
                    "type": "number",
                    "description": "Total hours of the logged time entry"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Additional notes about this logged time entry"
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The ID of the project on which this entry was logged"
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "The ID of the project phase for which this entry was logged"
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The ID of a scheduled allocation linked to this entry"
                  },
                  "taskName": {
                    "type": "string",
                    "description": "The name of the project task against which this entry was logged"
                  },
                  "taskMetaId": {
                    "type": "number",
                    "description": "The ID of the associated project task"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "hours": {
                            "type": "number"
                          },
                          "locked": {
                            "type": "number"
                          },
                          "lockedDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "loggedTimeId": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "number"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "peopleId": {
                            "type": "number"
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "priority": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "referenceDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "taskMetaId": {
                            "type": "number"
                          },
                          "taskName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-milestone": {
      "post": {
        "operationId": "float.create-milestone",
        "summary": "Create Milestone",
        "description": "Creates a new milestone in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-milestone"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "date",
                  "name",
                  "projectId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "date": {
                    "type": "string",
                    "description": "Start date of the milestone",
                    "example": "2026-03-18 09:00"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the milestone",
                    "example": "Kickoff"
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "The phase that this milestone belongs to",
                    "example": 2063834
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The project that this milestone belongs to",
                    "example": 11207922
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "milestoneId": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-person": {
      "post": {
        "operationId": "float.create-person",
        "summary": "Create Person",
        "description": "Creates a new person in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The person's full name",
                    "example": "Jordan Rivera"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "autoEmail": {
                            "type": "number"
                          },
                          "avatarFile": {
                            "type": "string"
                          },
                          "contractor": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "defaultHourlyRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employeeType": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "jobTitle": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modified": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nonWorkDays": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "peopleId": {
                            "type": "number"
                          },
                          "peopleTypeId": {
                            "type": "number"
                          },
                          "regionId": {
                            "type": "number"
                          },
                          "roleId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tags": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workDayHours": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workDaysHours": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "workDaysHoursHistory": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-phase": {
      "post": {
        "operationId": "float.create-phase",
        "summary": "Create Phase",
        "description": "Creates a new phase in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-phase"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "endDate",
                  "name",
                  "projectId",
                  "startDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "endDate": {
                    "type": "string",
                    "description": "The end date of this phase",
                    "example": "2026-03-18"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the phase",
                    "example": "Discovery"
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The ID of the project to which this phase belongs",
                    "example": 11207922
                  },
                  "startDate": {
                    "type": "string",
                    "description": "The start date of this phase",
                    "example": "2026-03-17"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "budgetTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string"
                          },
                          "defaultHourlyRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nonBillable": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "tentative": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-project": {
      "post": {
        "operationId": "float.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "number",
                    "description": "The ID of the project's client",
                    "example": 18400163
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the project",
                    "example": "MindCloud Float Project"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "allPmsSchedule": {
                            "type": "number"
                          },
                          "budgetPerPhase": {
                            "type": "number"
                          },
                          "budgetPriority": {
                            "type": "number"
                          },
                          "budgetTotal": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "budgetType": {
                            "type": "number"
                          },
                          "clientId": {
                            "type": "number"
                          },
                          "color": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "defaultHourlyRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "endDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "lockedTaskList": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "nonBillable": {
                            "type": "number"
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "projectCode": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "projectManager": {
                            "type": "number"
                          },
                          "stageId": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "tentative": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-project-task": {
      "post": {
        "operationId": "float.create-project-task",
        "summary": "Create Project Task",
        "description": "Creates a new project task in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-project-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "taskName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "phaseId": {
                    "type": "number",
                    "description": "The ID of the phase the project task belongs to",
                    "example": 2063834
                  },
                  "projectId": {
                    "type": "number",
                    "description": "The ID of the project the project task belongs to",
                    "example": 11207922
                  },
                  "taskName": {
                    "type": "string",
                    "description": "The name of the project task",
                    "example": "Design"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "number"
                          },
                          "budget": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "taskMetaId": {
                            "type": "number"
                          },
                          "taskName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/create-time-off": {
      "post": {
        "operationId": "float.create-time-off",
        "summary": "Create Time Off",
        "description": "Creates a new time off entry in Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/create-time-off"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "timeoffTypeId",
                  "startDate",
                  "endDate",
                  "peopleIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "timeoffTypeId": {
                    "type": "number",
                    "description": "The ID of this time off type"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Start date of this time off"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "End date of this time off"
                  },
                  "hours": {
                    "type": "number",
                    "description": "Number of hours per day for this time off"
                  },
                  "timeoffNotes": {
                    "type": "string",
                    "description": "Additional notes about the time off"
                  },
                  "repeatState": {
                    "type": "number",
                    "description": "Frequency that this time off repeats"
                  },
                  "status": {
                    "type": "number",
                    "description": "Status of the time off"
                  },
                  "repeatEnd": {
                    "type": "string",
                    "description": "Date that the repeating time off will cease"
                  },
                  "fullDay": {
                    "type": "number",
                    "description": "Whether this time off is for a full day"
                  },
                  "peopleIds": {
                    "type": "string",
                    "description": "List of people IDs assigned to this time off"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "fullDay": {
                            "type": "number"
                          },
                          "hours": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "modified": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "number"
                          },
                          "peopleIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "repeatEnd": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "repeatState": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "statusCreatorId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "statusNote": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timeoffId": {
                            "type": "number"
                          },
                          "timeoffNotes": {
                            "type": "string"
                          },
                          "timeoffTypeId": {
                            "type": "number"
                          },
                          "timeoffTypeName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/get-allocation": {
      "get": {
        "operationId": "float.get-allocation",
        "summary": "Get Allocation",
        "description": "Retrieves allocation details from Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/get-allocation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The allocation as a task ID",
            "schema": {
              "type": "number",
              "description": "The allocation as a task ID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "number"
                          },
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "string"
                          },
                          "hours": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parentTaskId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "peopleId": {
                            "type": "number"
                          },
                          "phaseId": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "number"
                          },
                          "repeatEndDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "repeatState": {
                            "type": "number"
                          },
                          "rootTaskId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "number"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "taskMetaId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/get-people-report": {
      "get": {
        "operationId": "float.get-people-report",
        "summary": "Get People Report",
        "description": "Retrieves a people report from Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/get-people-report"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date of the report duration in the format YYYY-MM-DD",
            "schema": {
              "type": "string",
              "description": "Start date of the report duration in the format YYYY-MM-DD"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date of the report duration in the format YYYY-MM-DD",
            "schema": {
              "type": "string",
              "description": "End date of the report duration in the format YYYY-MM-DD"
            }
          },
          {
            "name": "peopleId",
            "in": "query",
            "required": false,
            "description": "A people ID to filter the response on",
            "schema": {
              "type": "number",
              "description": "A people ID to filter the response on"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "people": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "billable": {
                                  "type": "number"
                                },
                                "capacity": {
                                  "type": "number"
                                },
                                "coHours": {
                                  "type": "string"
                                },
                                "coHoursHistory": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "defaultHourlyRate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "department": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "departmentId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "employeeType": {
                                  "type": "number"
                                },
                                "myHours": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "myHoursHistory": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nonBillable": {
                                  "type": "number"
                                },
                                "overtime": {
                                  "type": "number"
                                },
                                "peopleId": {
                                  "type": "number"
                                },
                                "peopleTypeId": {
                                  "type": "number"
                                },
                                "scheduled": {
                                  "type": "number"
                                },
                                "timeoff": {
                                  "type": "number"
                                },
                                "unscheduled": {
                                  "type": "number"
                                },
                                "wkDayHrs": {
                                  "type": "object",
                                  "properties": {
                                    "1970-01-01": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/float/latest/actions/get-person": {
      "get": {
        "operationId": "float.get-person",
        "summary": "Get Person",
        "description": "Retrieves person details from Float.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/float/latest/actions/get-person"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "peopleId",
            "in": "query",
            "required": true,
            "description": "The person's id",
            "schema": {
              "type": "number",
              "description": "The person's id",
              "example": 18636012
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "autoEmail": {
                            "type": "number"
                          },
                          "avatarFile": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "contractor": {
                            "type": "number"
                          },
                          "costRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "string"
                          },
                          "defaultHourlyRate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "department": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "email": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "employeeType": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "object",
[...]
