{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Missive Universal API",
    "version": "0.0.6",
    "description": "Manage shared inboxes, conversations, and team collaboration"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/missive/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/missive/latest/actions/create-draft": {
      "post": {
        "operationId": "missive.create-draft",
        "summary": "Create Draft",
        "description": "Creates a draft in your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/create-draft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Draft subject."
                  },
                  "body": {
                    "type": "string",
                    "description": "Draft body as HTML or text."
                  },
                  "conversation": {
                    "type": "string",
                    "description": "Conversation ID to append the draft to an existing conversation."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversation": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/create-incoming-message": {
      "post": {
        "operationId": "missive.create-incoming-message",
        "summary": "Create Incoming Message",
        "description": "Creates an incoming message in your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/create-incoming-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "account",
                  "body",
                  "fromField",
                  "toFields"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "account": {
                    "type": "string",
                    "description": "Account ID from the custom channel settings or Missive Resource IDs."
                  },
                  "body": {
                    "type": "string",
                    "description": "Incoming message body as HTML or text."
                  },
                  "fromField": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Sender object for text or HTML custom channel messages. Include the documented sender fields in the object."
                  },
                  "toFields": {
                    "type": "string",
                    "description": "Recipient array for text or HTML custom channel messages. Include the documented recipient objects in the array."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject line for email messages only."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversation": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/create-post": {
      "post": {
        "operationId": "missive.create-post",
        "summary": "Create Post",
        "description": "Creates a post in your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/create-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "posts.notification"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "posts": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Top-level post object required by the Missive posts endpoint."
                  },
                  "posts.username": {
                    "type": "string",
                    "description": "Name of the post author used instead of the API token owner's name."
                  },
                  "posts.usernameIcon": {
                    "type": "string",
                    "description": "Image URL of the post author used instead of the API token owner's avatar."
                  },
                  "posts.conversationIcon": {
                    "type": "string",
                    "description": "Image URL used as the icon in the conversation list."
                  },
                  "posts.conversationSubject": {
                    "type": "string",
                    "description": "Subject for a new conversation created by the post."
                  },
                  "posts.conversationColor": {
                    "type": "string",
                    "description": "Conversation color as a HEX code or one of good, warning, or danger."
                  },
                  "posts.text": {
                    "type": "string",
                    "description": "Main message of a post as plain text."
                  },
                  "posts.markdown": {
                    "type": "string",
                    "description": "Main message of a post formatted with Markdown."
                  },
                  "posts.notification": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Notification object with title and body keys used to render a notification."
                  },
                  "posts.attachments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of attachment objects for the post."
                  },
                  "posts.references[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "References used to append the post to an existing conversation."
                  },
                  "posts.conversation": {
                    "type": "string",
                    "description": "Conversation ID to append the post to an existing conversation."
                  },
                  "posts.organization": {
                    "type": "string",
                    "description": "Organization ID used to scope or link the conversation."
                  },
                  "posts.team": {
                    "type": "string",
                    "description": "Team ID used to link the conversation to a team."
                  },
                  "posts.forceTeam": {
                    "type": "boolean",
                    "description": "Pass true to force a new team even if the conversation is already in another team."
                  },
                  "posts.addUsers[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs that should get access to the conversation. Requires Organization when provided."
                  },
                  "posts.addAssignees[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs to assign to the conversation. Requires Organization when provided."
                  },
                  "posts.addSharedLabels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Shared label IDs to add to the conversation."
                  },
                  "posts.removeSharedLabels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Shared label IDs to remove from the conversation."
                  },
                  "posts.addToInbox": {
                    "type": "boolean",
                    "description": "Pass true to move the conversation to Inbox for everyone with access."
                  },
                  "posts.addToTeamInbox": {
                    "type": "boolean",
                    "description": "Pass true to move the conversation to a team inbox. Requires Team when provided."
                  },
                  "posts.close": {
                    "type": "boolean",
                    "description": "Pass true to close the conversation for everyone with access."
                  },
                  "posts.reopen": {
                    "type": "boolean",
                    "description": "Pass true to keep a closed conversation closed after adding the post."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversation": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/create-response": {
      "post": {
        "operationId": "missive.create-response",
        "summary": "Create Response",
        "description": "Creates a response in your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/create-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "attachments[].base64Data": {
                    "type": "string",
                    "description": "Base64-encoded attachment content"
                  },
                  "attachments[].filename": {
                    "type": "string",
                    "description": "Attachment filename string"
                  },
                  "attachments[].id": {
                    "type": "string",
                    "description": "Existing upload ID string"
                  },
                  "bccFields[].address": {
                    "type": "string",
                    "description": "BCC recipient email address string"
                  },
                  "bccFields[].name": {
                    "type": "string",
                    "description": "BCC recipient display name string"
                  },
                  "body": {
                    "type": "string",
                    "description": "HTML string containing the response content"
                  },
                  "ccFields[].address": {
                    "type": "string",
                    "description": "CC recipient email address string"
                  },
                  "ccFields[].name": {
                    "type": "string",
                    "description": "CC recipient display name string"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "External provider ID string"
                  },
                  "externalSource": {
                    "type": "string",
                    "description": "External provider source string"
                  },
                  "organization": {
                    "type": "string",
                    "description": "Organization ID string. Either organization or user is required, but not both."
                  },
                  "sharedLabels[]": {
                    "type": "string",
                    "description": "Array of organization label ID strings"
                  },
                  "shareWithTeam": {
                    "type": "string",
                    "description": "Team ID string"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Response subject string"
                  },
                  "title": {
                    "type": "string",
                    "description": "Response title string (max 500 characters)"
                  },
                  "toFields[].address": {
                    "type": "string",
                    "description": "Recipient email address string"
                  },
                  "toFields[].name": {
                    "type": "string",
                    "description": "Recipient display name string"
                  },
                  "user": {
                    "type": "string",
                    "description": "User ID string for personal responses. Either organization or user is required, but not both."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "body": {
                                  "type": "string"
                                },
                                "externalId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "externalSource": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "modifiedAt": {
                                  "type": "number"
                                },
                                "organization": {
                                  "type": "string"
                                },
                                "sharedLabels": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shareWithTeam": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "subject": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "title": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "user": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/create-task": {
      "post": {
        "operationId": "missive.create-task",
        "summary": "Create Task",
        "description": "Creates a task in your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string",
                    "description": "Task title. Max 1000 characters."
                  },
                  "description": {
                    "type": "string",
                    "description": "Task description. Max 10000 characters."
                  },
                  "state": {
                    "type": "string",
                    "description": "Task state.",
                    "enum": [
                      "closed",
                      "in_progress",
                      "todo"
                    ]
                  },
                  "organization": {
                    "type": "string",
                    "description": "Organization ID. Required when using team, assignees, or add_users."
                  },
                  "team": {
                    "type": "string",
                    "description": "Team ID. Either team or assignees is required for standalone tasks."
                  },
                  "assignees[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of assignee user IDs. Either team or assignees is required for standalone tasks."
                  },
                  "dueAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Unix timestamp for the task due date."
                  },
                  "subtask": {
                    "type": "boolean",
                    "description": "Whether this task is a subtask of a conversation.",
                    "x-mindcloud-advanced": true
                  },
                  "conversation": {
                    "type": "string",
                    "description": "Parent conversation ID. Required when subtask is true.",
                    "x-mindcloud-advanced": true
                  },
                  "references[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of references used to find or create the parent conversation.",
                    "x-mindcloud-advanced": true
                  },
                  "conversationSubject": {
                    "type": "string",
                    "description": "Subject for the parent conversation when creating via references.",
                    "x-mindcloud-advanced": true
                  },
                  "addUsers[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of user IDs to add to the parent conversation.",
                    "x-mindcloud-advanced": true
                  },
                  "addToInbox": {
                    "type": "boolean",
                    "description": "Move the parent conversation to Inbox for everyone with access.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tasks": {
                            "type": "object",
                            "properties": {
                              "assignees": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "closedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "conversation": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "dueAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "startedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "string"
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/delete-draft": {
      "delete": {
        "operationId": "missive.delete-draft",
        "summary": "Delete Draft",
        "description": "Deletes a draft from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/delete-draft"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Draft ID.",
            "schema": {
              "type": "string",
              "description": "Draft ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/delete-post": {
      "delete": {
        "operationId": "missive.delete-post",
        "summary": "Delete Post",
        "description": "Deletes a post from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/delete-post"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Post ID.",
            "schema": {
              "type": "string",
              "description": "Post ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/get-conversation": {
      "get": {
        "operationId": "missive.get-conversation",
        "summary": "Get Conversation",
        "description": "Retrieves a conversation from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/get-conversation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Conversation ID.",
            "schema": {
              "type": "string",
              "description": "Conversation ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "appUrl": {
                            "type": "string"
                          },
                          "assigneeEmails": {
                            "type": "string"
                          },
                          "assigneeNames": {
                            "type": "string"
                          },
                          "attachmentsCount": {
                            "type": "number"
                          },
                          "closedAt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "completedTasksCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "draftsCount": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastActivityAt": {
                            "type": "number"
                          },
                          "latestMessageSubject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "messagesCount": {
                            "type": "number"
                          },
                          "organization": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sendLaterMessagesCount": {
                            "type": "number"
                          },
                          "sharedLabelNames": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tasksCount": {
                            "type": "number"
                          },
                          "team": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "archived": {
                                  "type": "boolean"
                                },
                                "assigned": {
                                  "type": "boolean"
                                },
                                "closed": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "flagged": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "junked": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "snoozed": {
                                  "type": "boolean"
                                },
                                "trashed": {
                                  "type": "boolean"
                                },
                                "unassigned": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "webUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/get-message": {
      "get": {
        "operationId": "missive.get-message",
        "summary": "Get Message",
        "description": "Retrieves a message from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/get-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Message ID.",
            "schema": {
              "type": "string",
              "description": "Message ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "author": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "body": {
                            "type": "string"
                          },
                          "conversation": {
                            "type": "object",
                            "properties": {
                              "appUrl": {
                                "type": "string"
                              },
                              "assigneeEmails": {
                                "type": "string"
                              },
                              "assigneeNames": {
                                "type": "string"
                              },
                              "attachmentsCount": {
                                "type": "number"
                              },
                              "authors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "closedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "color": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "completedTasksCount": {
                                "type": "number"
                              },
                              "createdAt": {
                                "type": "number"
                              },
                              "draftsCount": {
                                "type": "number"
                              },
                              "externalAuthors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "latestMessageSubject": {
                                "type": "string"
                              },
                              "messagesCount": {
                                "type": "number"
                              },
                              "organization": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "sendLaterMessagesCount": {
                                "type": "number"
                              },
                              "sharedLabelNames": {
                                "type": "string"
                              },
                              "subject": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "tasksCount": {
                                "type": "number"
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "observers": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "organization": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "users": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "archived": {
                                      "type": "boolean"
                                    },
                                    "assigned": {
                                      "type": "boolean"
                                    },
                                    "closed": {
                                      "type": "boolean"
                                    },
                                    "email": {
                                      "type": "string"
                                    },
                                    "flagged": {
                                      "type": "boolean"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "junked": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "snoozed": {
                                      "type": "boolean"
                                    },
                                    "trashed": {
                                      "type": "boolean"
                                    },
                                    "unassigned": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "webUrl": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "deliveredAt": {
                            "type": "number"
                          },
                          "externalId": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fromField": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "preview": {
                            "type": "string"
                          },
                          "toFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/get-response": {
      "get": {
        "operationId": "missive.get-response",
        "summary": "Get Response",
        "description": "Retrieves a response from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/get-response"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Response ID.",
            "schema": {
              "type": "string",
              "description": "Response ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "body": {
                                  "type": "string"
                                },
                                "externalId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "externalSource": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "string"
                                },
                                "modifiedAt": {
                                  "type": "number"
                                },
                                "organization": {
                                  "type": "string"
                                },
                                "sharedLabels": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shareWithTeam": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "subject": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "title": {
                                  "type": "string"
                                },
                                "user": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/get-task": {
      "get": {
        "operationId": "missive.get-task",
        "summary": "Get Task",
        "description": "Retrieves a task from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/get-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Task ID.",
            "schema": {
              "type": "string",
              "description": "Task ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tasks": {
                            "type": "object",
                            "properties": {
                              "assignees": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "avatarUrl": {
                                      "type": "string"
                                    },
                                    "email": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "closedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "conversation": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": {
                                "type": "string"
                              },
                              "dueAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "startedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "state": {
                                "type": "string"
                              },
                              "team": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/missive/latest/actions/list-contact-books": {
      "get": {
        "operationId": "missive.list-contact-books",
        "summary": "List Contact Books",
        "description": "Retrieves contact books from your Missive workspace.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/missive/latest/actions/list-contact-books"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
[...]
