{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Qualiobee Universal API",
    "version": "0.0.7",
    "description": "Manage training sessions, learners, customers, and compliance workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/qualiobee/latest/actions/create-customer": {
      "post": {
        "operationId": "qualiobee.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationUuid",
                  "name",
                  "firstName",
                  "lastName",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationUuid": {
                    "type": "string",
                    "description": "The Qualiobee organization UUID used in the request path"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the company or the full name of the individual"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The first name of the referent in the company or the first name of the individual"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The last name of the referent in the company or the last name of the individual"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the referent in the company or the email of the individual"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Optional external identifier for the seeded customer"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "The phone number of the referent in the company or the phone number of the individual"
                  },
                  "siret": {
                    "type": "string",
                    "description": "The SIRET of the company"
                  },
                  "naf": {
                    "type": "string",
                    "description": "The NAF code of the company"
                  },
                  "note": {
                    "type": "string",
                    "description": "Some notes to save more details about the customer"
                  },
                  "isIndividual": {
                    "type": "boolean",
                    "description": "Whether the customer is a company or an individual",
                    "default": false
                  },
                  "isSoloLearner": {
                    "type": "boolean",
                    "description": "If true, creates a learner with the customer referent's data",
                    "default": false
                  },
                  "location.addressLine1": {
                    "type": "string",
                    "description": "The first part of the address"
                  },
                  "location.addressLine2": {
                    "type": "string",
                    "description": "The second part of the address"
                  },
                  "location.postCode": {
                    "type": "string",
                    "description": "The postal code"
                  },
                  "location.city": {
                    "type": "string",
                    "description": "The city"
                  },
                  "location.country": {
                    "type": "string",
                    "description": "The country"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conventions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related conventions for the customer when requested"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the customer was created"
                          },
                          "deleteDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the customer was deleted"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email of the referent in the company or the email of the individual"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The id of the customer in the external application (only for data importation)"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "The first name of the referent in the company or the first name of the individual"
                          },
                          "isIndividual": {
                            "type": "boolean",
                            "description": "Whether the customer is a company or an individual"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "The last name of the referent in the company or the last name of the individual"
                          },
                          "learners": {
                            "type": "object",
                            "properties": {
                              "creationDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the learner was created"
                              },
                              "deleteDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the learner was deleted"
                              },
                              "email": {
                                "type": "string",
                                "description": "The learner email"
                              },
                              "externalId": {
                                "type": "string",
                                "description": "The external identifier of the learner"
                              },
                              "firstName": {
                                "type": "string",
                                "description": "The learner first name"
                              },
                              "jobStatus": {
                                "type": "string",
                                "description": "The learner job status"
                              },
                              "lastName": {
                                "type": "string",
                                "description": "The learner last name"
                              },
                              "needsAdaptation": {
                                "type": "boolean",
                                "description": "Whether the learner needs adaptation support"
                              },
                              "note": {
                                "type": "string",
                                "description": "Additional notes saved on the learner"
                              },
                              "phoneNumber": {
                                "type": "string",
                                "description": "The learner phone number"
                              },
                              "type": {
                                "type": "string",
                                "description": "The learner type returned by Qualiobee"
                              },
                              "updateDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The last date when the learner was updated"
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The uuid of the learner"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Learners created or linked with the customer when returned by the API"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The address of the company or the personnal address of the individual",
                            "properties": {
                              "addressLine1": {
                                "type": "string",
                                "description": "The first line of the location address"
                              },
                              "addressLine2": {
                                "type": "string",
                                "description": "The second line of the location address"
                              },
                              "archiveDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the location was archived"
                              },
                              "city": {
                                "type": "string",
                                "description": "The city of the location"
                              },
                              "country": {
                                "type": "string",
                                "description": "The country of the location"
                              },
                              "creationDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the location was created"
                              },
                              "postCode": {
                                "type": "string",
                                "description": "The postal code of the location"
                              },
                              "updateDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The last date when the location was updated"
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The uuid of the customer location"
                              }
                            }
                          },
                          "naf": {
                            "type": "string",
                            "description": "The NAF code of the customer"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the company or the full name of the individual"
                          },
                          "note": {
                            "type": "string",
                            "description": "A note that describe a bit more the customer"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The phone number of the referent in the company or the phone number of the individual"
                          },
                          "siret": {
                            "type": "string",
                            "description": "The SIRET of the customer"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last date when the customer was updated"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The uuid of the customer"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/create-formation": {
      "post": {
        "operationId": "qualiobee.create-formation",
        "summary": "Create Formation",
        "description": "Creates a new formation in Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/create-formation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationUuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationUuid": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "pedagogiqueMethode": {
                    "type": "string"
                  },
                  "prerequisites": {
                    "type": "string"
                  },
                  "audience": {
                    "type": "string"
                  },
                  "evaluationMethode": {
                    "type": "string"
                  },
                  "actionMethode": {
                    "type": "string"
                  },
                  "usingBeehelp": {
                    "type": "boolean",
                    "default": false
                  },
                  "usingSignature": {
                    "type": "boolean",
                    "default": false
                  },
                  "usingSignatureMedia": {
                    "type": "boolean",
                    "default": true
                  },
                  "subtractType": {
                    "type": "string"
                  },
                  "specialtyCode": {
                    "type": "string"
                  },
                  "certifType": {
                    "type": "string",
                    "default": "NONE"
                  },
                  "certifLevel": {
                    "type": "string",
                    "default": "RCP0"
                  },
                  "pricing.strategy": {
                    "type": "string",
                    "default": "BY_HOUR"
                  },
                  "pricing.precision": {
                    "type": "string",
                    "default": "FIXED"
                  },
                  "pricing.moneyValue": {
                    "type": "number",
                    "default": 0
                  },
                  "pricing.taxRate": {
                    "type": "number",
                    "default": 20
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archiveDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the formation was archived"
                          },
                          "certifLevel": {
                            "type": "string",
                            "description": "The certification level configured for the formation"
                          },
                          "certifType": {
                            "type": "string",
                            "description": "The certification type configured for the formation"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the formation was created"
                          },
                          "description": {
                            "type": "string",
                            "description": "The formation description"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The external identifier of the formation"
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Pricing information for the formation",
                            "properties": {
                              "computedBaseTotal": {
                                "type": "number",
                                "description": "The computed base total"
                              },
                              "computedTotal": {
                                "type": "number",
                                "description": "The computed total"
                              },
                              "computedTTCTotal": {
                                "type": "number",
                                "description": "The computed TTC total"
                              },
                              "creationDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the pricing record was created"
                              },
                              "daysCount": {
                                "type": "number",
                                "description": "The number of days captured in pricing"
                              },
                              "deleteDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the pricing record was deleted"
                              },
                              "hoursCount": {
                                "type": "number",
                                "description": "The number of hours captured in pricing"
                              },
                              "moneyValue": {
                                "type": "number",
                                "description": "The net price value"
                              },
                              "name": {
                                "type": "string",
                                "description": "The pricing label"
                              },
                              "precision": {
                                "type": "string",
                                "description": "The pricing precision"
                              },
                              "scope": {
                                "type": "string",
                                "description": "The pricing scope"
                              },
                              "strategy": {
                                "type": "string",
                                "description": "The pricing strategy"
                              },
                              "taxRate": {
                                "type": "number",
                                "description": "The applied tax rate"
                              },
                              "updateDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The last date when the pricing record was updated"
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The uuid of the pricing record"
                              }
                            }
                          },
                          "qualiobee": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The linked Qualiobee account",
                            "properties": {
                              "businessTitle": {
                                "type": "string",
                                "description": "The business title of the linked Qualiobee account"
                              },
                              "deleteDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The delete date of the linked Qualiobee account"
                              },
                              "organization": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "The linked organization",
                                "properties": {
                                  "deleteDate": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The delete date of the linked organization"
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "The uuid of the linked organization"
                                  }
                                }
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The uuid of the linked Qualiobee account"
                              }
                            }
                          },
                          "specialtyCode": {
                            "type": "string",
                            "description": "The specialty code configured for the formation"
                          },
                          "state": {
                            "type": "string",
                            "description": "The current state of the formation"
                          },
                          "subtractType": {
                            "type": "string",
                            "description": "The subtract type configured for the formation"
                          },
                          "title": {
                            "type": "string",
                            "description": "The formation title"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last date when the formation was updated"
                          },
                          "usingBeehelp": {
                            "type": "boolean",
                            "description": "Whether Beehelp is enabled for the formation"
                          },
                          "usingSignature": {
                            "type": "boolean",
                            "description": "Whether signature is enabled for the formation"
                          },
                          "usingSignatureMedia": {
                            "type": "boolean",
                            "description": "Whether signature media is enabled for the formation"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The uuid of the formation"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/create-learner": {
      "post": {
        "operationId": "qualiobee.create-learner",
        "summary": "Create Learner",
        "description": "Creates a new learner in Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/create-learner"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationUuid",
                  "firstName",
                  "lastName",
                  "email",
                  "type",
                  "customerUuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationUuid": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "customerUuid": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "jobStatus": {
                    "type": "string"
                  },
                  "birthDate": {
                    "type": "string"
                  },
                  "birthCity": {
                    "type": "string"
                  },
                  "birthDepartment": {
                    "type": "string"
                  },
                  "needsAdaptation": {
                    "type": "boolean"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  },
                  "location.addressLine1": {
                    "type": "string"
                  },
                  "location.addressLine2": {
                    "type": "string"
                  },
                  "location.postCode": {
                    "type": "string"
                  },
                  "location.city": {
                    "type": "string"
                  },
                  "location.country": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "birthCity": {
                            "type": "string",
                            "description": "The birth city of the learner"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The birth date of the learner"
                          },
                          "birthDepartment": {
                            "type": "string",
                            "description": "The birth department of the learner"
                          },
                          "convocations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Related convocations for the learner when requested"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the learner was created"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The customer linked to the learner"
                          },
                          "deleteDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the learner was deleted"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email of the learner"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The id of the learner in the external application (only for data importation)"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "The first name of the learner"
                          },
                          "jobStatus": {
                            "type": "string",
                            "description": "Extra job-status details when the learner type is OTHER"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "The last name of the learner"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The personal address of the learner"
                          },
                          "needsAdaptation": {
                            "type": "boolean",
                            "description": "Whether the learner needs some kind of adaptation"
                          },
                          "note": {
                            "type": "string",
                            "description": "A note that describes the learner"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The phone number of the learner"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the learner"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last date when the learner was updated"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The uuid of the learner"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/create-location": {
      "post": {
        "operationId": "qualiobee.create-location",
        "summary": "Create Location",
        "description": "Creates a new location in Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/create-location"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationUuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationUuid": {
                    "type": "string"
                  },
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "postCode": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressLine1": {
                            "type": "string",
                            "description": "The first part of the address"
                          },
                          "addressLine2": {
                            "type": "string",
                            "description": "The second part of the address"
                          },
                          "archiveDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the location was archived"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the location was created"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The customer linked to this location when applicable"
                          },
                          "learner": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The learner linked to this location when applicable"
                          },
                          "postCode": {
                            "type": "string",
                            "description": "The postal code"
                          },
                          "qualiobee": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Qualiobee-specific metadata returned with the location",
                            "properties": {
                              "businessTitle": {
                                "type": "string",
                                "description": "The business title stored in Qualiobee"
                              },
                              "deleteDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the Qualiobee-specific location record was deleted"
                              },
                              "organization": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "The organization that owns the location record",
                                "properties": {
                                  "deleteDate": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The date when the Qualiobee organization record was deleted"
                                  },
                                  "uuid": {
                                    "type": "string",
                                    "description": "The uuid of the Qualiobee organization that owns the location"
                                  }
                                }
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The uuid of the Qualiobee-specific location record"
                              }
                            }
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last date when the location was updated"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The uuid of the location"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/create-session": {
      "post": {
        "operationId": "qualiobee.create-session",
        "summary": "Create Session",
        "description": "Creates a new session in Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/create-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationUuid",
                  "formationUuid",
                  "learnerUuids"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationUuid": {
                    "type": "string"
                  },
                  "formationUuid": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "learnerUuids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "usingBeehelp": {
                    "type": "boolean"
                  },
                  "usingSignature": {
                    "type": "boolean"
                  },
                  "usingSignatureMedia": {
                    "type": "boolean"
                  },
                  "subtractType": {
                    "type": "string"
                  },
                  "specialtyCode": {
                    "type": "string"
                  },
                  "certifType": {
                    "type": "string"
                  },
                  "certifLevel": {
                    "type": "string"
                  },
                  "isConventionDisabled": {
                    "type": "boolean"
                  },
                  "isConvocationDisabled": {
                    "type": "boolean"
                  },
                  "isAttestationDisabled": {
                    "type": "boolean"
                  },
                  "pricing.strategy": {
                    "type": "string"
                  },
                  "pricing.precision": {
                    "type": "string"
                  },
                  "pricing.moneyValue": {
                    "type": "number"
                  },
                  "pricing.taxRate": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "certifLevel": {
                            "type": "string",
                            "description": "The certification level configured for the session"
                          },
                          "certifType": {
                            "type": "string",
                            "description": "The certification type configured for the session"
                          },
                          "conventions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The conventions linked to the session when requested"
                          },
                          "convocations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The convocations linked to the session when requested"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the session was created"
                          },
                          "deleteDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the session was deleted"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the session"
                          },
                          "endAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date of the last learning session date of this session"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The events linked to the session when requested"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The id of the session in the external application (only for data importation)"
                          },
                          "formation": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The formation linked to the session"
                          },
                          "isAttestationDisabled": {
                            "type": "boolean",
                            "description": "Whether attestations are disabled for this session"
                          },
                          "isConventionDisabled": {
                            "type": "boolean",
                            "description": "Whether conventions are disabled for this session"
                          },
                          "isConvocationDisabled": {
                            "type": "boolean",
                            "description": "Whether convocations are disabled for this session"
                          },
                          "milestones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The milestones linked to the session when requested"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the session"
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Pricing information for the session"
                          },
                          "satisfaction": {
                            "type": "number",
                            "description": "The session satisfaction rate in percentage"
                          },
                          "sessionDates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "The learning session dates linked to the session when requested"
                          },
                          "specialtyCode": {
                            "type": "string",
                            "description": "The specialty code configured for the session"
                          },
                          "startAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date of the first learning session date of this session"
                          },
                          "startedDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the session was started"
                          },
                          "state": {
                            "type": "string",
                            "description": "The current state of the session"
                          },
                          "subtractType": {
                            "type": "string",
                            "description": "The subtract type configured for the session"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last date when the session was updated"
                          },
                          "usingBeehelp": {
                            "type": "boolean",
                            "description": "Whether Beehelp is enabled for the session"
                          },
                          "usingSignature": {
                            "type": "boolean",
                            "description": "Whether electronic signature for presences is enabled for the session"
                          },
                          "usingSignatureMedia": {
                            "type": "boolean",
                            "description": "Whether electronic signature for documents is enabled for the session"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The uuid of the session"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/get-convention": {
      "get": {
        "operationId": "qualiobee.get-convention",
        "summary": "Get Convention",
        "description": "Retrieves a convention from Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/get-convention"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "required": true,
            "description": "The Qualiobee organization UUID used in the request path",
            "schema": {
              "type": "string",
              "description": "The Qualiobee organization UUID used in the request path"
            }
          },
          {
            "name": "conventionUuid",
            "in": "query",
            "required": true,
            "description": "The uuid of the convention to fetch",
            "schema": {
              "type": "string",
              "description": "The uuid of the convention to fetch"
            }
          },
          {
            "name": "withDeleted",
            "in": "query",
            "required": false,
            "description": "Include deleted conventions in the response",
            "schema": {
              "type": "boolean",
              "description": "Include deleted conventions in the response",
              "default": false
            }
          },
          {
            "name": "relations",
            "in": "query",
            "required": false,
            "description": "Related entities to include in the convention response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Related entities to include in the convention response"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the convention was created"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The customer linked to the convention when requested"
                          },
                          "deleteDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the convention was deleted"
                          },
                          "isDisabled": {
                            "type": "boolean",
                            "description": "Whether the convention file is disabled for the customer in the learning session or not"
                          },
                          "isSigned": {
                            "type": "boolean",
                            "description": "Whether the convention file is signed or not"
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The pricing details linked to the convention when requested"
                          },
                          "session": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The learning session linked to the convention when requested"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The last date when the convention was updated"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The uuid of the convention"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/get-customer": {
      "get": {
        "operationId": "qualiobee.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "required": true,
            "description": "The Qualiobee organization UUID used in the request path",
            "schema": {
              "type": "string",
              "description": "The Qualiobee organization UUID used in the request path"
            }
          },
          {
            "name": "customerUuid",
            "in": "query",
            "required": true,
            "description": "The uuid of the customer to fetch",
            "schema": {
              "type": "string",
              "description": "The uuid of the customer to fetch"
            }
          },
          {
            "name": "relations",
            "in": "query",
            "required": false,
            "description": "Related entities to include in the customer response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Related entities to include in the customer response"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "withDeleted",
            "in": "query",
            "required": false,
            "description": "Include deleted customer data in the response",
            "schema": {
              "type": "boolean",
              "description": "Include deleted customer data in the response",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleteDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "isIndividual": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "archiveDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "creationDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "updateDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "uuid": {
                                "type": "string"
                              }
                            }
                          },
                          "naf": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "siret": {
                            "type": "string"
                          },
                          "updateDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/qualiobee/latest/actions/get-formation": {
      "get": {
        "operationId": "qualiobee.get-formation",
        "summary": "Get Formation",
        "description": "Retrieves a formation from Qualiobee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/qualiobee/latest/actions/get-formation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formationUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "relations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archiveDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the formation was archived"
                          },
                          "certifLevel": {
                            "type": "string",
                            "description": "The certification level configured for the formation"
                          },
                          "certifType": {
                            "type": "string",
                            "description": "The certification type configured for the formation"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the formation was created"
                          },
                          "description": {
                            "type": "string",
                            "description": "The formation description"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The external identifier of the formation"
                          },
                          "pricing": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Pricing information for the formation",
                            "properties": {
                              "computedBaseTotal": {
                                "type": "number",
                                "description": "The computed base total"
                              },
                              "computedTotal": {
                                "type": "number",
                                "description": "The computed total"
                              },
                              "computedTTCTotal": {
                                "type": "number",
                                "description": "The computed TTC total"
                              },
                              "creationDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the pricing record was created"
                              },
                              "daysCount": {
                                "type": "number",
                                "description": "The number of days captured in pricing"
                              },
                              "deleteDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date when the pricing record was deleted"
                              },
                              "hoursCount": {
                                "type": "number",
                                "description": "The number of hours captured in pricing"
                              },
                              "moneyValue": {
                                "type": "number",
                                "description": "The net price value"
                              },
                              "name": {
                                "type": "string",
                                "description": "The pricing label"
                              },
                              "precision": {
                                "type": "string",
                                "description": "The pricing precision"
                              },
                              "scope": {
                                "type": "string",
                                "description": "The pricing scope"
                              },
                              "strategy": {
                                "type": "string",
                                "description": "The pricing strategy"
                              },
                              "taxRate": {
                                "type": "number",
                                "description": "The applied tax rate"
                              },
                              "updateDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The last date when the pricing record was updated"
                              },
                              "uuid": {
                                "type": "string",
                                "description": "The uuid of the pricing record"
                              }
                            }
                          },
                          "qualiobee": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "The linked Qualiobee account",
                            "properties": {
                              "businessTitle": {
                                "type": "string",
                                "description": "The business title of the linked Qualiobee account"
[...]
