{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Timely Universal API",
    "version": "0.0.6",
    "description": "The Timely API allows you to integrate time tracking into your applications and workflows. Use it to sync projects, log time entries, export reports, and automate time management."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/timely/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/timely/latest/actions/bulk-import-time-entries": {
      "post": {
        "operationId": "timely.bulk-import-time-entries",
        "summary": "Bulk Import Time Entries",
        "description": "Creates a bulk import job for time entries in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/bulk-import-time-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Workspace id"
                  },
                  "create[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of time entries to create. Each item accepts all standard event/time entry fields from PayloadSchema.",
                    "x-mindcloud-advanced": true
                  },
                  "update[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of time entries to update. Must include id field. All other fields from UpdatePayloadSchema are optional.",
                    "x-mindcloud-advanced": true
                  },
                  "delete[]": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    },
                    "description": "Array of time entry IDs to delete",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "deleted_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "errors": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "job": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updated_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/create-client": {
      "post": {
        "operationId": "timely.create-client",
        "summary": "Create Client",
        "description": "Creates a client in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "client"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Account ID for the client you want to create"
                  },
                  "client": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "color": {
                            "type": "string"
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "external_references": {
                            "type": "object",
                            "properties": {
                              "connection_id": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              },
                              "provider_id": {
                                "type": "string"
                              },
                              "provider_type": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tic": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "external_url": {
                                "type": "string"
                              },
                              "tool_id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/create-project": {
      "post": {
        "operationId": "timely.create-project",
        "summary": "Create Project",
        "description": "Creates a project in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "project"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Workspace id"
                  },
                  "project": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "number"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "allow_only_one_tag": {
                            "type": "boolean"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "billed_cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "budget": {
                            "type": "number"
                          },
                          "budget_calculation": {
                            "type": "string"
                          },
                          "budget_expired_on": {
                            "type": "string"
                          },
                          "budget_percent": {
                            "type": "number"
                          },
                          "budget_progress": {
                            "type": "number"
                          },
                          "budget_scope": {
                            "type": "string"
                          },
                          "budget_type": {
                            "type": "string"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "color": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "created_at": {
                            "type": "number"
                          },
                          "created_from": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "iso_code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "symbol_first": {
                                "type": "boolean"
                              }
                            }
                          },
                          "default_label_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "default_labels": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enable_labels": {
                            "type": "string"
                          },
                          "estimated_cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "first_logged_on": {
                            "type": "string"
                          },
                          "has_recurrence": {
                            "type": "boolean"
                          },
                          "hour_rate": {
                            "type": "number"
                          },
                          "hour_rate_in_cents": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoice_by_budget": {
                            "type": "boolean"
                          },
                          "label_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "labels": {
                            "type": "object",
                            "properties": {
                              "budget": {
                                "type": "number"
                              },
                              "default": {
                                "type": "boolean"
                              },
                              "label_id": {
                                "type": "number"
                              },
                              "project_id": {
                                "type": "number"
                              },
                              "required": {
                                "type": "boolean"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "last_logged_on": {
                            "type": "string"
                          },
                          "locked_hours": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "rate_type": {
                            "type": "string"
                          },
                          "required_label_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "required_labels": {
                            "type": "boolean"
                          },
                          "required_notes": {
                            "type": "boolean"
                          },
                          "team_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "tic": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "external_url": {
                                "type": "string"
                              },
                              "tool_id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "unbilled_cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "update_hour_billable_state": {
                            "type": "boolean"
                          },
                          "updated_at": {
                            "type": "number"
                          },
                          "users": {
                            "type": "object",
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "hour_rate": {
                                "type": "number"
                              },
                              "hour_rate_in_cents": {
                                "type": "number"
                              },
                              "internal_hour_rate": {
                                "type": "number"
                              },
                              "internal_hour_rate_in_cents": {
                                "type": "number"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "user_id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/create-tag": {
      "post": {
        "operationId": "timely.create-tag",
        "summary": "Create Tag",
        "description": "Creates a tag in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "label.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Account ID"
                  },
                  "label.name": {
                    "type": "string"
                  },
                  "label.emoji": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "label.parentId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "label.sequence": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "label.active": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "label.externalId": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "children": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "emoji": {
                            "type": "string"
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent_id": {
                            "type": "string"
                          },
                          "sequence": {
                            "type": "number"
                          },
                          "tic": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "external_url": {
                                "type": "string"
                              },
                              "tool_id": {
                                "type": "string"
                              },
                              "uri": {
                                "type": "string"
                              }
                            }
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/create-task": {
      "post": {
        "operationId": "timely.create-task",
        "summary": "Create Task",
        "description": "Creates a task in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "forecast"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Account ID"
                  },
                  "forecast": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "completed": {
                            "type": "boolean"
                          },
                          "completed_at": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "estimated_duration": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "formatted": {
                                "type": "string"
                              },
                              "hours": {
                                "type": "number"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "seconds": {
                                "type": "number"
                              },
                              "total_hours": {
                                "type": "number"
                              },
                              "total_minutes": {
                                "type": "number"
                              },
                              "total_seconds": {
                                "type": "number"
                              }
                            }
                          },
                          "estimated_minutes": {
                            "type": "number"
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "label_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "logged_duration": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "formatted": {
                                "type": "string"
                              },
                              "hours": {
                                "type": "number"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "seconds": {
                                "type": "number"
                              },
                              "total_hours": {
                                "type": "number"
                              },
                              "total_minutes": {
                                "type": "number"
                              },
                              "total_seconds": {
                                "type": "number"
                              }
                            }
                          },
                          "manage": {
                            "type": "boolean"
                          },
                          "note": {
                            "type": "string"
                          },
                          "parent_title": {
                            "type": "string"
                          },
                          "planned_duration": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "formatted": {
                                "type": "string"
                              },
                              "hours": {
                                "type": "number"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "seconds": {
                                "type": "number"
                              },
                              "total_hours": {
                                "type": "number"
                              },
                              "total_minutes": {
                                "type": "number"
                              },
                              "total_seconds": {
                                "type": "number"
                              }
                            }
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/create-time-entry": {
      "post": {
        "operationId": "timely.create-time-entry",
        "summary": "Create Time Entry",
        "description": "Creates a time entry in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/create-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "event"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Account ID where the time entry will be created"
                  },
                  "event": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "boolean"
                          },
                          "billed": {
                            "type": "boolean"
                          },
                          "billed_at": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "created_at": {
                            "type": "number"
                          },
                          "created_from": {
                            "type": "string"
                          },
                          "creator_id": {
                            "type": "string"
                          },
                          "day": {
                            "type": "string"
                          },
                          "deleted": {
                            "type": "boolean"
                          },
                          "draft": {
                            "type": "boolean"
                          },
                          "duration": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "formatted": {
                                "type": "string"
                              },
                              "hours": {
                                "type": "number"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "seconds": {
                                "type": "number"
                              },
                              "total_hours": {
                                "type": "number"
                              },
                              "total_minutes": {
                                "type": "number"
                              },
                              "total_seconds": {
                                "type": "number"
                              }
                            }
                          },
                          "entry_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "estimated": {
                            "type": "boolean"
                          },
                          "estimated_cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "estimated_duration": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "formatted": {
                                "type": "string"
                              },
                              "hours": {
                                "type": "number"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "seconds": {
                                "type": "number"
                              },
                              "total_hours": {
                                "type": "number"
                              },
                              "total_minutes": {
                                "type": "number"
                              },
                              "total_seconds": {
                                "type": "number"
                              }
                            }
                          },
                          "estimated_internal_cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "external_id": {
                            "type": "string"
                          },
                          "external_link_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "forecast_id": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "hour_rate": {
                            "type": "number"
                          },
                          "hour_rate_in_cents": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "internal_cost": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "amount": {
                                "type": "number"
                              },
                              "currency_code": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "fractional": {
                                "type": "number"
                              }
                            }
                          },
                          "internal_cost_rate": {
                            "type": "number"
                          },
                          "invoice_id": {
                            "type": "string"
                          },
                          "label_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "locked_reason": {
                            "type": "string"
                          },
                          "manage": {
                            "type": "boolean"
                          },
                          "note": {
                            "type": "string"
                          },
                          "profit": {
                            "type": "number"
                          },
                          "profitability": {
                            "type": "number"
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sequence": {
                            "type": "number"
                          },
                          "suggestion_id": {
                            "type": "string"
                          },
                          "timer_started_on": {
                            "type": "number"
                          },
                          "timer_state": {
                            "type": "string"
                          },
                          "timer_stopped_on": {
                            "type": "number"
                          },
                          "timestamps": {
                            "type": "object",
                            "properties": {
                              "from": {
                                "type": "string"
                              },
                              "hour_id": {
                                "type": "number"
                              },
                              "id": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "to": {
                            "type": "string"
                          },
                          "uid": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "number"
                          },
                          "updated_from": {
                            "type": "string"
                          },
                          "updater_id": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "user_ids": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/create-webhook": {
      "post": {
        "operationId": "timely.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a webhook in Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "accountId",
                  "webhook.url",
                  "webhook.subscriptions[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "accountId": {
                    "type": "number",
                    "description": "Account ID"
                  },
                  "webhook.url": {
                    "type": "string",
                    "description": "URL to send webhook payloads to (must be HTTPS)"
                  },
                  "webhook.subscriptions[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of event types to subscribe to"
                  },
                  "webhook.secretToken": {
                    "type": "string",
                    "description": "Secret token used to sign webhook payloads. The signature will be included in the X-Signature header.",
                    "x-mindcloud-advanced": true
                  },
                  "webhook.active": {
                    "type": "string",
                    "description": "Whether the webhook is active. Defaults to true.",
                    "default": "true",
                    "x-mindcloud-advanced": true
                  },
                  "webhook.customHeaders": {
                    "type": "string",
                    "description": "Custom HTTP headers to include in webhook requests",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "number"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "custom_headers": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "secret_token": {
                            "type": "string"
                          },
                          "subscriptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/delete-project": {
      "delete": {
        "operationId": "timely.delete-project",
        "summary": "Delete Project",
        "description": "Deletes an existing project from Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/delete-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "number",
              "description": "Account ID"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Project ID",
            "schema": {
              "type": "number",
              "description": "Project ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/delete-tag": {
      "delete": {
        "operationId": "timely.delete-tag",
        "summary": "Delete Tag",
        "description": "Deletes an existing tag from Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/delete-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "number",
              "description": "Account ID"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Label ID",
            "schema": {
              "type": "number",
              "description": "Label ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/delete-task": {
      "delete": {
        "operationId": "timely.delete-task",
        "summary": "Delete Task",
        "description": "Deletes an existing task from Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/delete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "number",
              "description": "Account ID"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Task ID",
            "schema": {
              "type": "number",
              "description": "Task ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/timely/latest/actions/delete-time-entry": {
      "delete": {
        "operationId": "timely.delete-time-entry",
        "summary": "Delete Time Entry",
        "description": "Deletes an existing time entry from Timely.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/timely/latest/actions/delete-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "number",
              "description": "Account ID"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Time entry ID",
            "schema": {
              "type": "number",
              "description": "Time entry ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
[...]
