{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ERPLY Books Universal API",
    "version": "0.0.4",
    "description": "ERPLY Books lets you connect your ERPLY account to list retail master data, customers, company settings, sales documents, inventory references, and supporting accounting records through the classic ERPLY API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/eRPLYBooks/latest/actions/authenticate": {
      "get": {
        "operationId": "eRPLYBooks.authenticate",
        "summary": "Authenticate",
        "description": "Authenticates an ERPLY Books connection and returns session details.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/authenticate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "berlinPOSAssetsURL": {
                                  "type": "string"
                                },
                                "berlinPOSVersion": {
                                  "type": "string"
                                },
                                "employeeID": {
                                  "type": "string"
                                },
                                "employeeName": {
                                  "type": "string"
                                },
                                "epsiDownloadURLs": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "operatingSystem": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "epsiURL": {
                                  "type": "string"
                                },
                                "groupID": {
                                  "type": "string"
                                },
                                "groupName": {
                                  "type": "string"
                                },
                                "identityToken": {
                                  "type": "string"
                                },
                                "ipAddress": {
                                  "type": "string"
                                },
                                "isPasswordExpired": {
                                  "type": "boolean"
                                },
                                "loginUrl": {
                                  "type": "string"
                                },
                                "remindUserToUpdateUsername": {
                                  "type": "number"
                                },
                                "sessionKey": {
                                  "type": "string"
                                },
                                "sessionLength": {
                                  "type": "number"
                                },
                                "token": {
                                  "type": "string"
                                },
                                "userID": {
                                  "type": "string"
                                },
                                "userName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-address-types": {
      "get": {
        "operationId": "eRPLYBooks.get-address-types",
        "summary": "Get Address Types",
        "description": "Retrieves address types from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-address-types"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "activelyUsed": {
                                  "type": "string"
                                },
                                "added": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "lastModified": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-addresses": {
      "get": {
        "operationId": "eRPLYBooks.get-addresses",
        "summary": "Get Addresses",
        "description": "Retrieves address records from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-addresses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "number"
                                },
                                "address2": {
                                  "type": "string"
                                },
                                "addressID": {
                                  "type": "number"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "lastModified": {
                                  "type": "number"
                                },
                                "lastModifierEmployeeID": {
                                  "type": "number"
                                },
                                "lastModifierUsername": {
                                  "type": "string"
                                },
                                "ownerID": {
                                  "type": "number"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "postcode": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "typeActivelyUsed": {
                                  "type": "number"
                                },
                                "typeID": {
                                  "type": "number"
                                },
                                "typeName": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-allowed-warehouses": {
      "get": {
        "operationId": "eRPLYBooks.get-allowed-warehouses",
        "summary": "Get Allowed Warehouses",
        "description": "Retrieves allowed warehouses from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-allowed-warehouses"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "warehouseID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-brands": {
      "get": {
        "operationId": "eRPLYBooks.get-brands",
        "summary": "Get Brands",
        "description": "Retrieves brand records from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-brands"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-campaigns": {
      "get": {
        "operationId": "eRPLYBooks.get-campaigns",
        "summary": "Get Campaigns",
        "description": "Retrieves campaign records from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-campaigns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-company-info": {
      "get": {
        "operationId": "eRPLYBooks.get-company-info",
        "summary": "Get Company Info",
        "description": "Retrieves company information from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-company-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "address2": {
                                  "type": "string"
                                },
                                "bankAccountNumber": {
                                  "type": "string"
                                },
                                "bankAccountNumber2": {
                                  "type": "string"
                                },
                                "bankIBAN": {
                                  "type": "string"
                                },
                                "bankIBAN2": {
                                  "type": "string"
                                },
                                "bankName": {
                                  "type": "string"
                                },
                                "bankName2": {
                                  "type": "string"
                                },
                                "bankSWIFT": {
                                  "type": "string"
                                },
                                "bankSWIFT2": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "string"
                                },
                                "companyName": {
                                  "type": "string"
                                },
                                "companyTypeID": {
                                  "type": "number"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "defaultClientID": {
                                  "type": "number"
                                },
                                "defaultCurrency": {
                                  "type": "string"
                                },
                                "eInvoiceAddress": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "fax": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "intermediatorCode": {
                                  "type": "string"
                                },
                                "invoiceRounding": {
                                  "type": "number"
                                },
                                "mobile": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "VAT": {
                                  "type": "string"
                                },
                                "web": {
                                  "type": "string"
                                },
                                "ZIPcode": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-conf-parameters": {
      "get": {
        "operationId": "eRPLYBooks.get-conf-parameters",
        "summary": "Get Configuration Parameters",
        "description": "Retrieves configuration parameters from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-conf-parameters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_links": {
                                  "type": "object",
                                  "properties": {
                                    "help": {
                                      "type": "string"
                                    },
                                    "helpPOS": {
                                      "type": "string"
                                    },
                                    "knowledge_base": {
                                      "type": "string"
                                    },
                                    "terms_of_service": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "account_stats_updated": {
                                  "type": "string"
                                },
                                "accounts_receivable_listed": {
                                  "type": "string"
                                },
                                "actual_reports_username": {
                                  "type": "string"
                                },
                                "additionalModules": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "enabled": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "allow_partial_fulfilment_in_report": {
                                  "type": "string"
                                },
                                "api_getpointsofsale_all_invoice_numbers_not_returned": {
                                  "type": "string"
                                },
                                "app_interface": {
                                  "type": "string"
                                },
                                "assortments_rights_initialized": {
                                  "type": "string"
                                },
                                "billing_invoice_use_todays_date": {
                                  "type": "string"
                                },
                                "branding": {
                                  "type": "string"
                                },
                                "change_pos_version_rights_initialized": {
                                  "type": "string"
                                },
                                "code_on_invoice": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "credit_payments_are_created_correctly": {
                                  "type": "string"
                                },
                                "csv_field_separator": {
                                  "type": "string"
                                },
                                "customer_manager_rights_updated": {
                                  "type": "string"
                                },
                                "date_installed": {
                                  "type": "string"
                                },
                                "dateformat": {
                                  "type": "string"
                                },
                                "default_client_idDat": {
                                  "type": "string"
                                },
                                "default_currency": {
                                  "type": "string"
                                },
                                "default_language": {
                                  "type": "string"
                                },
                                "default_price_decimals": {
                                  "type": "string"
                                },
                                "discount_printed_on_invoices": {
                                  "type": "string"
                                },
                                "do_not_show_discounts_on_customer_card": {
                                  "type": "string"
                                },
                                "employee_identifier_on_receipt": {
                                  "type": "string"
                                },
                                "employee_identifier_on_sales_document": {
                                  "type": "string"
                                },
                                "enable_automatic_version_upgrade": {
                                  "type": "string"
                                },
                                "enable_delivery_date_tracking": {
                                  "type": "string"
                                },
                                "erply_news_dashboard": {
                                  "type": "string"
                                },
                                "final_price_input_on_invoice": {
                                  "type": "string"
                                },
                                "full_image_dir": {
                                  "type": "string"
                                },
                                "go_date_format": {
                                  "type": "string"
                                },
                                "go_date_time_format": {
                                  "type": "string"
                                },
                                "go_hour_minute_format": {
                                  "type": "string"
                                },
                                "go_month_day_format": {
                                  "type": "string"
                                },
                                "go_time_format": {
                                  "type": "string"
                                },
                                "googleapps_default_usergroup": {
                                  "type": "string"
                                },
                                "inventory_modules_rights_updated": {
                                  "type": "string"
                                },
                                "inventory_reports_rights_updated": {
                                  "type": "string"
                                },
                                "invoice_algorithm_version": {
                                  "type": "number"
                                },
                                "invoice_client_is_payer": {
                                  "type": "string"
                                },
                                "invoice_payer_indexed": {
                                  "type": "string"
                                },
                                "invoice_print_rows1p": {
                                  "type": "string"
                                },
                                "invoice_print_rowsNp": {
                                  "type": "string"
                                },
                                "invoice_rounding": {
                                  "type": "string"
                                },
                                "invoice_waybills_show_price_with_tax": {
                                  "type": "number"
                                },
                                "jsplugin_appstore_enabled": {
                                  "type": "string"
                                },
                                "jsplugin_cdn_enabled": {
                                  "type": "string"
                                },
                                "jsplugin_cdn_pictures_uploader_enabled": {
                                  "type": "string"
                                },
                                "jsplugin_import_enabled": {
                                  "type": "string"
                                },
                                "jsplugin_stocktakings_enabled": {
                                  "type": "string"
                                },
                                "jsplugin_woocommerce_enabled": {
                                  "type": "string"
                                },
                                "langs": {
                                  "type": "string"
                                },
                                "languages": {
                                  "type": "string"
                                },
                                "locale_uses_price_with_tax": {
                                  "type": "number"
                                },
                                "make_sales_reports_by_revenue": {
                                  "type": "string"
                                },
                                "mask_email_addresses_in_log": {
                                  "type": "string"
                                },
                                "matrix_update_code": {
                                  "type": "string"
                                },
                                "matrix_update_commission_amount": {
                                  "type": "string"
                                },
                                "matrix_update_costprice": {
                                  "type": "string"
                                },
                                "matrix_update_isactive": {
                                  "type": "string"
                                },
                                "matrix_update_name": {
                                  "type": "string"
                                },
                                "matrix_update_price": {
                                  "type": "string"
                                },
                                "matrix_update_show_in_webshop": {
                                  "type": "string"
                                },
                                "matrix_update_variations_automatically": {
                                  "type": "string"
                                },
                                "my_company_info_rights_initialized": {
                                  "type": "string"
                                },
                                "new_inventory_start_date": {
                                  "type": "string"
                                },
                                "numberformat": {
                                  "type": "string"
                                },
                                "org_idDat": {
                                  "type": "string"
                                },
                                "parameter_sets_rights_initialized": {
                                  "type": "string"
                                },
                                "partial_fulfilment_splits_order": {
                                  "type": "string"
                                },
                                "payment_info_in_table": {
                                  "type": "string"
                                },
                                "pos_allow_sale_giftcard_regular": {
                                  "type": "string"
                                },
                                "pos_allow_sale_giftcard_serial": {
                                  "type": "string"
                                },
                                "pos_opening_required": {
                                  "type": "string"
                                },
                                "pos_version_1_disabled": {
                                  "type": "string"
                                },
                                "pos_version_pos2020_disabled": {
                                  "type": "string"
                                },
                                "pos_version_touch_disabled": {
                                  "type": "string"
                                },
                                "pos_version_web_disabled": {
                                  "type": "string"
                                },
                                "prcorder_status_when_partially_received": {
                                  "type": "string"
                                },
                                "prcorders_enable_partial_fulfilling": {
                                  "type": "string"
                                },
                                "price_decimals": {
                                  "type": "number"
                                },
                                "pricelist_zero_price_algorithm_updated": {
                                  "type": "string"
                                },
                                "print_customer_regcode_on_invoice": {
                                  "type": "string"
                                },
                                "print_giftcard_balance_on_receipt": {
                                  "type": "string"
                                },
                                "product_code_unique": {
                                  "type": "string"
                                },
                                "product_code2_unique": {
                                  "type": "string"
                                },
                                "product_families_rights_initialized": {
                                  "type": "string"
                                },
                                "product_names_editable_on_invoice": {
                                  "type": "string"
                                },
                                "promotion_tiers_rights_initialized": {
                                  "type": "string"
                                },
                                "purchase_order_canceled_status_id": {
                                  "type": "string"
                                },
                                "purchase_orders_rights_initialized": {
                                  "type": "string"
                                },
                                "quickbooks_include_same_day_invoices_and_payments": {
                                  "type": "string"
                                },
                                "ref_no": {
                                  "type": "string"
                                },
                                "report_generator_rights_updated": {
                                  "type": "string"
                                },
                                "reserved_product_lookup_uses_virtual_columns": {
                                  "type": "string"
                                },
                                "reward_points_is_double": {
                                  "type": "string"
                                },
                                "send_emails_from_company_address": {
                                  "type": "string"
                                },
                                "services_disabled": {
                                  "type": "string"
                                },
                                "show_price_with_vat": {
                                  "type": "string"
                                },
                                "show_row_currency_on_invoice": {
                                  "type": "string"
                                },
                                "store_manager_settings_rights_initialized": {
                                  "type": "string"
                                },
                                "storecredit_enabled_on_salepoint_card": {
                                  "type": "string"
                                },
                                "tablesize_user": {
                                  "type": "string"
                                },
                                "tablesize_user_updated": {
                                  "type": "string"
                                },
                                "thumb_image_dir": {
                                  "type": "string"
                                },
                                "thumb_use": {
                                  "type": "string"
                                },
                                "thumb_x": {
                                  "type": "string"
                                },
                                "thumb_y": {
                                  "type": "string"
                                },
                                "timezone": {
                                  "type": "string"
                                },
                                "touchpos_disable_external_card_payment": {
                                  "type": "string"
                                },
                                "touchpos_disable_product_row_auto_open": {
                                  "type": "string"
                                },
                                "touchscreen_pos": {
                                  "type": "string"
                                },
                                "touchscreen_pos_version": {
                                  "type": "string"
                                },
                                "unconfirmed_document_permissions_initialized": {
                                  "type": "string"
                                },
                                "unconfirmed_document_rights_initialized": {
                                  "type": "string"
                                },
                                "unpaid_invoices_reports_rights_updated": {
                                  "type": "string"
                                },
                                "use_attendants_in_pos": {
                                  "type": "string"
                                },
                                "use_ems_service": {
                                  "type": "string"
                                },
                                "use_inv_inv_table": {
                                  "type": "string"
                                },
                                "use_m2_calculator": {
                                  "type": "string"
                                },
                                "use_menu_component": {
                                  "type": "string"
                                },
                                "use_prcinv_prcinv_table": {
                                  "type": "string"
                                },
                                "use_transport_costs": {
                                  "type": "string"
                                },
                                "users_can_only_see_own_warehouse_stock": {
                                  "type": "string"
                                },
                                "users_can_see_only_own_warehouse_documents": {
                                  "type": "string"
                                },
                                "vat_number_always_on_invoice": {
                                  "type": "string"
                                },
                                "vertical": {
                                  "type": "string"
                                },
                                "view_image_dir": {
                                  "type": "string"
                                },
                                "view_use": {
                                  "type": "string"
                                },
                                "view_x": {
                                  "type": "string"
                                },
                                "view_y": {
                                  "type": "string"
                                },
                                "warehouse_fixed2": {
                                  "type": "string"
                                },
                                "web_image_dir": {
                                  "type": "string"
                                },
                                "web_use": {
                                  "type": "string"
                                },
                                "web_x": {
                                  "type": "string"
                                },
                                "web_y": {
                                  "type": "string"
                                },
                                "zreport_hide_drawer_openings": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-countries": {
      "get": {
        "operationId": "eRPLYBooks.get-countries",
        "summary": "Get Countries",
        "description": "Retrieves country records from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "number"
                                },
                                "countryCode": {
                                  "type": "string"
                                },
                                "countryID": {
                                  "type": "number"
                                },
                                "countryName": {
                                  "type": "string"
                                },
                                "lastModified": {
                                  "type": "number"
                                },
                                "memberOfEuropeanUnion": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
                              },
                              "recordsInResponse": {
                                "type": "number"
                              },
                              "recordsTotal": {
                                "type": "number"
                              },
                              "request": {
                                "type": "string"
                              },
                              "requestUnixTime": {
                                "type": "number"
                              },
                              "responseStatus": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/eRPLYBooks/latest/actions/get-currencies": {
      "get": {
        "operationId": "eRPLYBooks.get-currencies",
        "summary": "Get Currencies",
        "description": "Retrieves currency records from ERPLY Books.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/eRPLYBooks/latest/actions/get-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "added": {
                                  "type": "string"
                                },
                                "code": {
                                  "type": "string"
                                },
                                "currencyID": {
                                  "type": "string"
                                },
                                "default": {
                                  "type": "string"
                                },
                                "lastModified": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "nameFraction": {
                                  "type": "string"
                                },
                                "nameShort": {
                                  "type": "string"
                                },
                                "prefix": {
                                  "type": "string"
                                },
                                "rate": {
                                  "type": "string"
                                },
                                "suffix": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "errorCode": {
                                "type": "number"
                              },
                              "generationTime": {
                                "type": "number"
[...]
