{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Testlify Universal API",
    "version": "0.0.3",
    "description": "Create assessments, invite candidates, and review hiring results"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/testlify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/testlify/latest/actions/create-access-token": {
      "post": {
        "operationId": "testlify.create-access-token",
        "summary": "Create Access Token",
        "description": "Creates a new access token in Testlify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/create-access-token"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "note": {
                    "type": "string",
                    "description": "Descriptive note for the access token."
                  },
                  "expiration": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Token expiration timestamp in ISO 8601 format."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accessToken": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "expiration": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "userIdentifierId": {
                            "type": "string"
                          },
                          "userWorkspaceProfileId": {
                            "type": "string"
                          },
                          "workspaceUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/create-assessment-from-template": {
      "post": {
        "operationId": "testlify.create-assessment-from-template",
        "summary": "Create Assessment From Template",
        "description": "Creates a Testlify assessment from an existing template.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/create-assessment-from-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Template identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentDescription": {
                            "type": "string"
                          },
                          "assessmentStatus": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "defaultLanguage": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "jobRoleId": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "numberOfAttempts": {
                            "type": "number"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "otherJobRole": {
                            "type": "string"
                          },
                          "recipientForNotification": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supportedLanguages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "titleSlug": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/create-compose-assessment": {
      "post": {
        "operationId": "testlify.create-compose-assessment",
        "summary": "Create Compose Assessment",
        "description": "Creates a custom assessment in Testlify from scratch.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/create-compose-assessment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "testLibraryIds[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "title": {
                    "type": "string"
                  },
                  "testLibraryIds[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "settings.extraTime": {
                    "type": "number"
                  },
                  "settings.feedbackRating": {
                    "type": "number"
                  },
                  "settings.feedbackRemark": {
                    "type": "string"
                  },
                  "settings.verifyPassword": {
                    "type": "string"
                  },
                  "settings.welcomeVideoUploadUrl": {
                    "type": "string"
                  },
                  "settings.welcomeVideoKey": {
                    "type": "string"
                  },
                  "settings.welcomeVideoPath": {
                    "type": "string"
                  },
                  "settings.externalWelcomeVideoLink": {
                    "type": "string"
                  },
                  "settings.autoPlayWelcomeVideo": {
                    "type": "boolean"
                  },
                  "settings.titleSlug": {
                    "type": "string"
                  },
                  "settings.attemptTestLibrariesRequired": {
                    "type": "boolean"
                  },
                  "settings.webcamAndMicrophoneAccessRequired": {
                    "type": "boolean"
                  },
                  "settings.snapshotCaptureRequired": {
                    "type": "boolean"
                  },
                  "settings.snapshotIntervalType": {
                    "type": "string"
                  },
                  "settings.customSnapshotInterval": {
                    "type": "number"
                  },
                  "settings.defaultLanguage": {
                    "type": "string"
                  },
                  "settings.supportedLanguages[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "settings.skipRegistration": {
                    "type": "boolean"
                  },
                  "settings.enableFeedbackAfterSection": {
                    "type": "boolean"
                  },
                  "settings.enableFeedback": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentStatus": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "defaultLanguage": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "jobRoleId": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "lastModifiedBy": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "numberOfAttempts": {
                            "type": "number"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "otherJobRole": {
                            "type": "string"
                          },
                          "recipientForNotification": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supportedLanguages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "testAdministratorNotification": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "titleSlug": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/create-webhook": {
      "post": {
        "operationId": "testlify.create-webhook",
        "summary": "Create Webhook",
        "description": "Creates a webhook subscription in Testlify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "payloadUrl",
                  "events[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Webhook name."
                  },
                  "payloadUrl": {
                    "type": "string",
                    "description": "Webhook destination URL."
                  },
                  "events[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Webhook event names."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string"
                          },
                          "endpointId": {
                            "type": "string"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "payloadUrl": {
                            "type": "string"
                          },
                          "restructureBySchema": {
                            "type": "boolean"
                          },
                          "subscriptionId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/get-assessment": {
      "get": {
        "operationId": "testlify.get-assessment",
        "summary": "Get Assessment",
        "description": "Retrieves a specific assessment from Testlify by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/get-assessment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assessmentId",
            "in": "query",
            "required": true,
            "description": "Assessment identifier.",
            "schema": {
              "type": "string",
              "description": "Assessment identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentId": {
                            "type": "string"
                          },
                          "assessmentStatus": {
                            "type": "string"
                          },
                          "assessmentTitle": {
                            "type": "string"
                          },
                          "defaultLanguage": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "jobRoleId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "numberOfAttempts": {
                            "type": "number"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "recipientForNotification": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supportedLanguages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "totalCandidateCount": {
                            "type": "number"
                          },
                          "totalTestLibrary": {
                            "type": "number"
                          },
                          "totalTime": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "workspaceUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/get-candidate-result": {
      "get": {
        "operationId": "testlify.get-candidate-result",
        "summary": "Get Candidate Result",
        "description": "Retrieves a candidate's assessment result from Testlify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/get-candidate-result"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assessmentId",
            "in": "query",
            "required": true,
            "description": "Assessment identifier.",
            "schema": {
              "type": "string",
              "description": "Assessment identifier."
            }
          },
          {
            "name": "candidateId",
            "in": "query",
            "required": true,
            "description": "Candidate identifier.",
            "schema": {
              "type": "string",
              "description": "Candidate identifier."
            }
          },
          {
            "name": "report",
            "in": "query",
            "required": false,
            "description": "Report type.",
            "schema": {
              "type": "string",
              "description": "Report type."
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "description": "Export file format.",
            "schema": {
              "type": "string",
              "description": "Export file format."
            }
          },
          {
            "name": "testLibId",
            "in": "query",
            "required": false,
            "description": "Test library identifier for report selection.",
            "schema": {
              "type": "string",
              "description": "Test library identifier for report selection."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentCandidateId": {
                            "type": "string"
                          },
                          "assessmentCandidateUrl": {
                            "type": "string"
                          },
                          "assessmentId": {
                            "type": "string"
                          },
                          "assessmentName": {
                            "type": "string"
                          },
                          "attemptIndex": {
                            "type": "number"
                          },
                          "avgScorePercentage": {
                            "type": "number"
                          },
                          "candidateId": {
                            "type": "string"
                          },
                          "candidateIndex": {
                            "type": "number"
                          },
                          "candidateStage": {
                            "type": "string"
                          },
                          "candidateStatus": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "string"
                          },
                          "defaultLanguage": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "invitedAt": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "totalQuestion": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/get-question": {
      "get": {
        "operationId": "testlify.get-question",
        "summary": "Get Question",
        "description": "Retrieves a specific question from Testlify by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/get-question"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "questionId",
            "in": "query",
            "required": true,
            "description": "Question identifier.",
            "schema": {
              "type": "string",
              "description": "Question identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "answerSelectionType": {
                            "type": "string"
                          },
                          "checkedForGrammar": {
                            "type": "boolean"
                          },
                          "classification": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "difficultyLevel": {
                            "type": "string"
                          },
                          "enableTestCase": {
                            "type": "boolean"
                          },
                          "format": {
                            "type": "string"
                          },
                          "hasCorrectAnswer": {
                            "type": "boolean"
                          },
                          "isMandatory": {
                            "type": "boolean"
                          },
                          "isPreviewQuestion": {
                            "type": "boolean"
                          },
                          "isScorableQuestion": {
                            "type": "boolean"
                          },
                          "language": {
                            "type": "string"
                          },
                          "maximumScore": {
                            "type": "number"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "question": {
                            "type": "string"
                          },
                          "recordingTime": {
                            "type": "number"
                          },
                          "reviewerStatus": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "showTypingResultToCandidate": {
                            "type": "boolean"
                          },
                          "skill": {
                            "type": "string"
                          },
                          "skillId": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "sourceId": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "testLibraryId": {
                            "type": "string"
                          },
                          "testLibraryTitle": {
                            "type": "string"
                          },
                          "timeLimit": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/invite-candidates": {
      "post": {
        "operationId": "testlify.invite-candidates",
        "summary": "Invite Candidates",
        "description": "Creates candidate invitations in Testlify for an assessment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/invite-candidates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "assessmentId",
                  "candidateInvites[].email",
                  "candidateInvites[].firstName",
                  "candidateInvites[].lastName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "assessmentId": {
                    "type": "string",
                    "description": "Assessment identifier."
                  },
                  "candidateInvites[].email": {
                    "type": "string",
                    "description": "Candidate email address."
                  },
                  "candidateInvites[].firstName": {
                    "type": "string",
                    "description": "Candidate first name."
                  },
                  "candidateInvites[].lastName": {
                    "type": "string",
                    "description": "Candidate last name."
                  },
                  "source": {
                    "type": "string",
                    "description": "Invitation source label."
                  },
                  "metadata.correlationId": {
                    "type": "string",
                    "description": "Correlation identifier for downstream tracking."
                  },
                  "scheduledDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Scheduled invitation date."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "candidateId": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "invitationExpiry": {
                            "type": "string"
                          },
                          "isNotEnoughCredits": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "shortLink": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/invite-workspace-users": {
      "post": {
        "operationId": "testlify.invite-workspace-users",
        "summary": "Invite Workspace Users",
        "description": "Creates workspace user invitations in Testlify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/invite-workspace-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "members[].email",
                  "members[].role",
                  "members[].userRoleId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "members[].email": {
                    "type": "string",
                    "description": "Email address of the invited workspace user."
                  },
                  "members[].role": {
                    "type": "string",
                    "description": "Role to assign to the invited user."
                  },
                  "members[].userRoleId": {
                    "type": "string",
                    "description": "Workspace user role identifier."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/list-access-tokens": {
      "get": {
        "operationId": "testlify.list-access-tokens",
        "summary": "List Access Tokens",
        "description": "Retrieves Testlify access tokens with optional filters.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/list-access-tokens"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search text for access tokens.",
            "schema": {
              "type": "string",
              "description": "Search text for access tokens."
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": false,
            "description": "Filter by creator.",
            "schema": {
              "type": "string",
              "description": "Filter by creator."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by token status.",
            "schema": {
              "type": "string",
              "description": "Filter by token status."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "expiration": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lastUsed": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "note": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "workspaceUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/list-assessment-candidates": {
      "get": {
        "operationId": "testlify.list-assessment-candidates",
        "summary": "List Assessment Candidates",
        "description": "Retrieves candidates for a specific Testlify assessment.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/list-assessment-candidates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assessmentId",
            "in": "query",
            "required": true,
            "description": "Assessment identifier.",
            "schema": {
              "type": "string",
              "description": "Assessment identifier."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query string.",
            "schema": {
              "type": "string",
              "description": "Search query string."
            }
          },
          {
            "name": "candidateStatus",
            "in": "query",
            "required": false,
            "description": "Filter by candidate status.",
            "schema": {
              "type": "string",
              "description": "Filter by candidate status."
            }
          },
          {
            "name": "candidateStage",
            "in": "query",
            "required": false,
            "description": "Filter by candidate stage.",
            "schema": {
              "type": "string",
              "description": "Filter by candidate stage."
            }
          },
          {
            "name": "invitationType",
            "in": "query",
            "required": false,
            "description": "Filter by invitation type.",
            "schema": {
              "type": "string",
              "description": "Filter by invitation type."
            }
          },
          {
            "name": "grade",
            "in": "query",
            "required": false,
            "description": "Filter by grade.",
            "schema": {
              "type": "string",
              "description": "Filter by grade."
            }
          },
          {
            "name": "completedRange",
            "in": "query",
            "required": false,
            "description": "Filter by completion time range.",
            "schema": {
              "type": "string",
              "description": "Filter by completion time range."
            }
          },
          {
            "name": "invitedBy",
            "in": "query",
            "required": false,
            "description": "Filter by inviter.",
            "schema": {
              "type": "string",
              "description": "Filter by inviter."
            }
          },
          {
            "name": "workspaceLabelTitle",
            "in": "query",
            "required": false,
            "description": "Filter by workspace label title.",
            "schema": {
              "type": "string",
              "description": "Filter by workspace label title."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Column name to sort by.",
            "schema": {
              "type": "string",
              "description": "Column name to sort by."
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "description": "Sort order."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to return.",
            "schema": {
              "type": "number",
              "description": "Number of items to return."
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of items to skip.",
            "schema": {
              "type": "number",
              "description": "Number of items to skip."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentCandidateId": {
                            "type": "string"
                          },
                          "assessmentId": {
                            "type": "string"
                          },
                          "attemptIndex": {
                            "type": "number"
                          },
                          "avgScorePercentage": {
                            "type": "number"
                          },
                          "candidateId": {
                            "type": "string"
                          },
                          "candidateStage": {
                            "type": "string"
                          },
                          "candidateStatus": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "grading": {
                            "type": "string"
                          },
                          "gradingColor": {
                            "type": "string"
                          },
                          "invitedAt": {
                            "type": "string"
                          },
                          "invitedBy": {
                            "type": "string"
                          },
                          "invitedVia": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "numberOfAttempts": {
                            "type": "number"
                          },
                          "totalQuestion": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testlify/latest/actions/list-assessments": {
      "get": {
        "operationId": "testlify.list-assessments",
        "summary": "List Assessments",
        "description": "Retrieves assessments from Testlify with optional filters and pagination.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testlify/latest/actions/list-assessments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query string.",
            "schema": {
              "type": "string",
              "description": "Search query string."
            }
          },
          {
            "name": "groupName",
            "in": "query",
            "required": false,
            "description": "Group name to filter assessments.",
            "schema": {
              "type": "string",
              "description": "Group name to filter assessments."
            }
          },
          {
            "name": "workspaceLabelTitle",
            "in": "query",
            "required": false,
            "description": "Workspace label title.",
            "schema": {
              "type": "string",
              "description": "Workspace label title."
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "required": false,
            "description": "Filter active assessments.",
            "schema": {
              "type": "boolean",
              "description": "Filter active assessments."
            }
          },
          {
            "name": "isArchived",
            "in": "query",
            "required": false,
            "description": "Filter archived assessments.",
            "schema": {
              "type": "boolean",
              "description": "Filter archived assessments."
            }
          },
          {
            "name": "isEditable",
            "in": "query",
            "required": false,
            "description": "Filter editable assessments.",
            "schema": {
              "type": "boolean",
              "description": "Filter editable assessments."
            }
          },
          {
            "name": "isDraft",
            "in": "query",
            "required": false,
            "description": "Filter draft assessments.",
            "schema": {
              "type": "boolean",
              "description": "Filter draft assessments."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "description": "Column name to sort by.",
            "schema": {
              "type": "string",
              "description": "Column name to sort by."
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "description": "Sort order."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items to return.",
            "schema": {
              "type": "number",
              "description": "Number of items to return."
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of items to skip.",
            "schema": {
              "type": "number",
              "description": "Number of items to skip."
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assessmentId": {
                            "type": "string"
[...]
