{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "AirNow Universal API",
    "version": "0.0.4",
    "description": "Access AirNow air quality forecasts, current observations, historical observations, and monitoring-site data for reporting areas across the United States."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/airNow/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/airNow/latest/actions/list-current-observations-by-latitude-longitude": {
      "get": {
        "operationId": "airNow.list-current-observations-by-latitude-longitude",
        "summary": "List Current Observations by Latitude Longitude",
        "description": "Retrieves current air quality observations from AirNow by latitude and longitude.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-current-observations-by-latitude-longitude"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude for the requested location.",
            "schema": {
              "type": "number",
              "description": "Latitude for the requested location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude for the requested location.",
            "schema": {
              "type": "number",
              "description": "Longitude for the requested location."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius in miles.",
            "schema": {
              "type": "number",
              "description": "Search radius in miles.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateObserved": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hourObserved": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "localTimeZone": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameterName": {
                            "type": "string"
                          },
                          "reportingArea": {
                            "type": "string"
                          },
                          "stateCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airNow/latest/actions/list-current-observations-by-zip-code": {
      "get": {
        "operationId": "airNow.list-current-observations-by-zip-code",
        "summary": "List Current Observations by Zip Code",
        "description": "Retrieves current air quality observations from AirNow by zip code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-current-observations-by-zip-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": true,
            "description": "The zip code used to resolve the reporting area.",
            "schema": {
              "type": "string",
              "description": "The zip code used to resolve the reporting area."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius in miles when no direct reporting-area match exists.",
            "schema": {
              "type": "number",
              "description": "Search radius in miles when no direct reporting-area match exists.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateObserved": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hourObserved": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "localTimeZone": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameterName": {
                            "type": "string"
                          },
                          "reportingArea": {
                            "type": "string"
                          },
                          "stateCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airNow/latest/actions/list-forecasts-by-latitude-longitude": {
      "get": {
        "operationId": "airNow.list-forecasts-by-latitude-longitude",
        "summary": "List Forecasts by Latitude Longitude",
        "description": "Retrieves air quality forecasts from AirNow by latitude and longitude.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-forecasts-by-latitude-longitude"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude for the requested location.",
            "schema": {
              "type": "number",
              "description": "Latitude for the requested location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude for the requested location.",
            "schema": {
              "type": "number",
              "description": "Longitude for the requested location."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Forecast start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Forecast start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius in miles.",
            "schema": {
              "type": "number",
              "description": "Search radius in miles.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionDay": {
                            "type": "boolean"
                          },
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateForecast": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateIssue": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "discussion": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameterName": {
                            "type": "string"
                          },
                          "reportingArea": {
                            "type": "string"
                          },
                          "stateCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airNow/latest/actions/list-forecasts-by-zip-code": {
      "get": {
        "operationId": "airNow.list-forecasts-by-zip-code",
        "summary": "List Forecasts by Zip Code",
        "description": "Retrieves air quality forecasts from AirNow by zip code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-forecasts-by-zip-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": true,
            "description": "The zip code used to resolve the reporting area.",
            "schema": {
              "type": "string",
              "description": "The zip code used to resolve the reporting area."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Forecast start date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "description": "Forecast start date in YYYY-MM-DD format."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius in miles.",
            "schema": {
              "type": "number",
              "description": "Search radius in miles.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "actionDay": {
                            "type": "boolean"
                          },
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateForecast": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dateIssue": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "discussion": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameterName": {
                            "type": "string"
                          },
                          "reportingArea": {
                            "type": "string"
                          },
                          "stateCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airNow/latest/actions/list-historical-observations-by-latitude-longitude": {
      "get": {
        "operationId": "airNow.list-historical-observations-by-latitude-longitude",
        "summary": "List Historical Observations by Latitude Longitude",
        "description": "Retrieves historical air quality observations from AirNow by latitude and longitude.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-historical-observations-by-latitude-longitude"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude for the requested location.",
            "schema": {
              "type": "number",
              "description": "Latitude for the requested location."
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude for the requested location.",
            "schema": {
              "type": "number",
              "description": "Longitude for the requested location."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical observation timestamp in AirNow format, for example 2026-04-08T00-0000.",
            "schema": {
              "type": "string",
              "description": "Historical observation timestamp in AirNow format, for example 2026-04-08T00-0000."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius in miles.",
            "schema": {
              "type": "number",
              "description": "Search radius in miles.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateObserved": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hourObserved": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "localTimeZone": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameterName": {
                            "type": "string"
                          },
                          "reportingArea": {
                            "type": "string"
                          },
                          "stateCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airNow/latest/actions/list-historical-observations-by-zip-code": {
      "get": {
        "operationId": "airNow.list-historical-observations-by-zip-code",
        "summary": "List Historical Observations by Zip Code",
        "description": "Retrieves historical air quality observations from AirNow by zip code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-historical-observations-by-zip-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "required": true,
            "description": "The zip code used to resolve the reporting area.",
            "schema": {
              "type": "string",
              "description": "The zip code used to resolve the reporting area."
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical observation timestamp in AirNow format, for example 2026-04-08T00-0000.",
            "schema": {
              "type": "string",
              "description": "Historical observation timestamp in AirNow format, for example 2026-04-08T00-0000."
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "description": "Search radius in miles.",
            "schema": {
              "type": "number",
              "description": "Search radius in miles.",
              "default": 25
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "number": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "dateObserved": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hourObserved": {
                            "type": "number"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "localTimeZone": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameterName": {
                            "type": "string"
                          },
                          "reportingArea": {
                            "type": "string"
                          },
                          "stateCode": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/airNow/latest/actions/list-monitoring-site-observations": {
      "get": {
        "operationId": "airNow.list-monitoring-site-observations",
        "summary": "List Monitoring Site Observations",
        "description": "Retrieves monitoring site observations from AirNow within a geographic area.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/airNow/latest/actions/list-monitoring-site-observations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date/time in AirNow format, for example 2026-04-08T00.",
            "schema": {
              "type": "string",
              "description": "Start date/time in AirNow format, for example 2026-04-08T00."
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "End date/time in AirNow format, for example 2026-04-08T01.",
            "schema": {
              "type": "string",
              "description": "End date/time in AirNow format, for example 2026-04-08T01."
            }
          },
          {
            "name": "parameters",
            "in": "query",
            "required": true,
            "description": "Comma-separated pollutant parameters, such as OZONE,PM25.",
            "schema": {
              "type": "string",
              "description": "Comma-separated pollutant parameters, such as OZONE,PM25."
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "description": "Bounding box in west,south,east,north order.",
            "schema": {
              "type": "string",
              "description": "Bounding box in west,south,east,north order."
            }
          },
          {
            "name": "dataType",
            "in": "query",
            "required": true,
            "description": "A for AQI, B for concentrations, or C for both.",
            "schema": {
              "type": "string",
              "description": "A for AQI, B for concentrations, or C for both."
            }
          },
          {
            "name": "verbose",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include agency and site metadata.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to include agency and site metadata.",
              "default": "1"
            }
          },
          {
            "name": "monitorType",
            "in": "query",
            "required": false,
            "description": "Monitor type filter.",
            "schema": {
              "type": "string",
              "description": "Monitor type filter.",
              "default": "0"
            }
          },
          {
            "name": "includeRawConcentrations",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include raw concentration values when supported.",
            "schema": {
              "type": "string",
              "description": "Set to 1 to include raw concentration values when supported.",
              "default": "0"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agencyName": {
                            "type": "string"
                          },
                          "aqi": {
                            "type": "number"
                          },
                          "category": {
                            "type": "number"
                          },
                          "fullAqsCode": {
                            "type": "string"
                          },
                          "intlAqsCode": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "number"
                          },
                          "longitude": {
                            "type": "number"
                          },
                          "parameter": {
                            "type": "string"
                          },
                          "siteName": {
                            "type": "string"
                          },
                          "unit": {
                            "type": "string"
                          },
                          "utc": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
