{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "PDF Tools by Tachytelic Universal API",
    "version": "0.1.4",
    "description": "Free PDF utility actions for merging, splitting, extracting pages and text, optimizing file size, and managing PDF metadata through Tachytelic's public PDF Tools API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pDFToolsByTachytelic/latest/actions/extract-pdf-pages": {
      "get": {
        "operationId": "pDFToolsByTachytelic.extract-pdf-pages",
        "summary": "Extract PDF Pages",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/extract-pdf-pages"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFileContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PDF file content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PDF file content.",
              "example": "Base64 PDF content"
            }
          },
          {
            "name": "pageRange",
            "in": "query",
            "required": true,
            "description": "Page range to extract, for example 1-3,7.",
            "schema": {
              "type": "string",
              "description": "Page range to extract, for example 1-3,7.",
              "example": "1-3,7"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ExtractedPdf": {
                            "type": "string",
                            "description": "Base64-encoded PDF containing the requested pages."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFToolsByTachytelic/latest/actions/extract-text-from-pdf": {
      "get": {
        "operationId": "pDFToolsByTachytelic.extract-text-from-pdf",
        "summary": "Extract Text from PDF",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/extract-text-from-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFileContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PDF file content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PDF file content.",
              "example": "Base64 PDF content"
            }
          },
          {
            "name": "startPage",
            "in": "query",
            "required": false,
            "description": "Optional page number to start text extraction from.",
            "schema": {
              "type": "number",
              "description": "Optional page number to start text extraction from.",
              "example": 1
            }
          },
          {
            "name": "endPage",
            "in": "query",
            "required": false,
            "description": "Optional page number to stop text extraction at, inclusive.",
            "schema": {
              "type": "number",
              "description": "Optional page number to stop text extraction at, inclusive.",
              "example": 3
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ExtractedText": {
                            "type": "string",
                            "description": "Combined text extracted from the selected PDF pages."
                          },
                          "ExtractedTextByPage": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "Page": {
                                  "type": "number",
                                  "description": "Page number for this extracted text entry."
                                },
                                "Text": {
                                  "type": "string",
                                  "description": "Text extracted from this page."
                                }
                              }
                            },
                            "description": "Text extracted from each page."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFToolsByTachytelic/latest/actions/get-pdf-info": {
      "get": {
        "operationId": "pDFToolsByTachytelic.get-pdf-info",
        "summary": "Get PDF Info",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/get-pdf-info"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFileContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PDF file content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PDF file content.",
              "example": "Base64 PDF content"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Author": {
                            "type": "string",
                            "description": "PDF author metadata."
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "PDF creation date metadata."
                          },
                          "Creator": {
                            "type": "string",
                            "description": "PDF creator metadata."
                          },
                          "HasText": {
                            "type": "boolean",
                            "description": "Whether extractable text is present."
                          },
                          "IsEncrypted": {
                            "type": "boolean",
                            "description": "Whether the PDF is encrypted."
                          },
                          "Keywords": {
                            "type": "string",
                            "description": "PDF keyword metadata."
                          },
                          "ModDate": {
                            "type": "string",
                            "description": "PDF modification date metadata."
                          },
                          "PageCount": {
                            "type": "number",
                            "description": "Number of pages in the PDF."
                          },
                          "PDFVersion": {
                            "type": "string",
                            "description": "PDF version reported by the API."
                          },
                          "Producer": {
                            "type": "string",
                            "description": "PDF producer metadata."
                          },
                          "Subject": {
                            "type": "string",
                            "description": "PDF subject metadata."
                          },
                          "Title": {
                            "type": "string",
                            "description": "PDF title metadata."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFToolsByTachytelic/latest/actions/merge-pdfs": {
      "get": {
        "operationId": "pDFToolsByTachytelic.merge-pdfs",
        "summary": "Merge PDFs",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/merge-pdfs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFiles[]",
            "in": "query",
            "required": true,
            "description": "Array of base64-encoded PDF files to merge.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Array of base64-encoded PDF files to merge."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "MergedPdf": {
                            "type": "string",
                            "description": "Base64-encoded merged PDF."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFToolsByTachytelic/latest/actions/optimize-pdf": {
      "get": {
        "operationId": "pDFToolsByTachytelic.optimize-pdf",
        "summary": "Optimize PDF",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/optimize-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFileContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PDF file content to optimize.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PDF file content to optimize.",
              "example": "Base64 PDF content"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Optimization mode: safe or aggressive.",
            "schema": {
              "type": "string",
              "description": "Optimization mode: safe or aggressive.",
              "enum": [
                "0",
                "1"
              ],
              "default": "safe"
            }
          },
          {
            "name": "garbage",
            "in": "query",
            "required": false,
            "description": "Unused object removal level from 0 to 4.",
            "schema": {
              "type": "number",
              "description": "Unused object removal level from 0 to 4.",
              "default": 1
            }
          },
          {
            "name": "deflate",
            "in": "query",
            "required": false,
            "description": "Whether to apply deflate compression to PDF streams.",
            "schema": {
              "type": "boolean",
              "description": "Whether to apply deflate compression to PDF streams.",
              "default": true
            }
          },
          {
            "name": "clean",
            "in": "query",
            "required": false,
            "description": "Whether to clean and sanitize the PDF content.",
            "schema": {
              "type": "boolean",
              "description": "Whether to clean and sanitize the PDF content.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Clean": {
                            "type": "boolean",
                            "description": "Whether document cleanup was applied."
                          },
                          "Deflate": {
                            "type": "boolean",
                            "description": "Whether deflate compression was applied."
                          },
                          "Garbage": {
                            "type": "number",
                            "description": "Garbage collection level applied by the API."
                          },
                          "inputBytes": {
                            "type": "number",
                            "description": "Original PDF size in bytes."
                          },
                          "mode": {
                            "type": "string",
                            "description": "Optimization mode applied by the API."
                          },
                          "OptimizedPdf": {
                            "type": "string",
                            "description": "Base64-encoded optimized PDF returned by Tachytelic."
                          },
                          "outputBytes": {
                            "type": "number",
                            "description": "Optimized PDF size in bytes."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFToolsByTachytelic/latest/actions/set-pdf-metadata": {
      "get": {
        "operationId": "pDFToolsByTachytelic.set-pdf-metadata",
        "summary": "Set PDF Metadata",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/set-pdf-metadata"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFileContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PDF content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PDF content.",
              "example": "Base64 PDF content"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Document title metadata to set.",
            "schema": {
              "type": "string",
              "description": "Document title metadata to set.",
              "example": "Document title"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Document author metadata to set.",
            "schema": {
              "type": "string",
              "description": "Document author metadata to set.",
              "example": "Document author"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "description": "Document subject metadata to set.",
            "schema": {
              "type": "string",
              "description": "Document subject metadata to set.",
              "example": "Document subject"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Document keywords metadata to set.",
            "schema": {
              "type": "string",
              "description": "Document keywords metadata to set.",
              "example": "Comma-separated keywords"
            }
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": false,
            "description": "Document creation date metadata to set.",
            "schema": {
              "type": "string",
              "description": "Document creation date metadata to set.",
              "example": "2026-05-01"
            }
          },
          {
            "name": "modificationDate",
            "in": "query",
            "required": false,
            "description": "Document modification date metadata to set.",
            "schema": {
              "type": "string",
              "description": "Document modification date metadata to set.",
              "example": "2026-05-01"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "UpdatedPdf": {
                            "type": "string",
                            "description": "Base64-encoded PDF with updated metadata."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/pDFToolsByTachytelic/latest/actions/split-pdf": {
      "get": {
        "operationId": "pDFToolsByTachytelic.split-pdf",
        "summary": "Split PDF",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pDFToolsByTachytelic/latest/actions/split-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pdfFileContent",
            "in": "query",
            "required": true,
            "description": "Base64-encoded PDF file content.",
            "schema": {
              "type": "string",
              "description": "Base64-encoded PDF file content.",
              "example": "Base64 PDF content"
            }
          },
          {
            "name": "splitType",
            "in": "query",
            "required": true,
            "description": "How to split the PDF: NumberOfPages or SpecifiedRanges.",
            "schema": {
              "type": "string",
              "description": "How to split the PDF: NumberOfPages or SpecifiedRanges.",
              "enum": [
                "0",
                "1"
              ],
              "default": "NumberOfPages"
            }
          },
          {
            "name": "pagesPerSplit",
            "in": "query",
            "required": false,
            "description": "Number of pages per output file when Split Type is NumberOfPages.",
            "schema": {
              "type": "number",
              "description": "Number of pages per output file when Split Type is NumberOfPages.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "pageRanges",
            "in": "query",
            "required": false,
            "description": "Page ranges to split by when Split Type is SpecifiedRanges, for example 1-2,4.",
            "schema": {
              "type": "string",
              "description": "Page ranges to split by when Split Type is SpecifiedRanges, for example 1-2,4.",
              "example": "1-2,4"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SplitPdfs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Base64-encoded PDF files produced by the split operation."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
