{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "National Science Foundation Universal API",
    "version": "0.0.2",
    "description": "Search and retrieve public NSF award records, funding metadata, and project outcomes."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/nationalScienceFoundation/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/nationalScienceFoundation/latest/actions/get-award": {
      "get": {
        "operationId": "nationalScienceFoundation.get-award",
        "summary": "Get Award",
        "description": "Retrieves award information from National Science Foundation by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nationalScienceFoundation/latest/actions/get-award"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Award unique identifier, such as 1052893.",
            "schema": {
              "type": "string",
              "description": "Award unique identifier, such as 1052893.",
              "example": "1052893"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abstractText": {
                            "type": "string"
                          },
                          "activeAwd": {
                            "type": "string"
                          },
                          "agency": {
                            "type": "string"
                          },
                          "awardAgencyCode": {
                            "type": "string"
                          },
                          "awardee": {
                            "type": "string"
                          },
                          "awardeeAddress": {
                            "type": "string"
                          },
                          "awardeeCity": {
                            "type": "string"
                          },
                          "awardeeCountryCode": {
                            "type": "string"
                          },
                          "awardeeDistrict": {
                            "type": "string"
                          },
                          "awardeeDistrictCode": {
                            "type": "string"
                          },
                          "awardeeName": {
                            "type": "string"
                          },
                          "awardeePhone": {
                            "type": "string"
                          },
                          "awardeeStateCode": {
                            "type": "string"
                          },
                          "awardeeZipCode": {
                            "type": "string"
                          },
                          "cfdaNumber": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "dirAbbr": {
                            "type": "string"
                          },
                          "divAbbr": {
                            "type": "string"
                          },
                          "estimatedTotalAmt": {
                            "type": "string"
                          },
                          "expDate": {
                            "type": "string"
                          },
                          "fundAgencyCode": {
                            "type": "string"
                          },
                          "fundProgramName": {
                            "type": "string"
                          },
                          "fundsObligated": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fundsObligatedAmt": {
                            "type": "string"
                          },
                          "histAwd": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initAmendmentDate": {
                            "type": "string"
                          },
                          "latestAmendmentDate": {
                            "type": "string"
                          },
                          "managingPec": {
                            "type": "string"
                          },
                          "orgCodeDir": {
                            "type": "string"
                          },
                          "orgCodeDiv": {
                            "type": "string"
                          },
                          "orgLongName": {
                            "type": "string"
                          },
                          "orgLongName2": {
                            "type": "string"
                          },
                          "orgUrl": {
                            "type": "string"
                          },
                          "parentUeiNumber": {
                            "type": "string"
                          },
                          "pdPIName": {
                            "type": "string"
                          },
                          "perfAddress": {
                            "type": "string"
                          },
                          "perfCity": {
                            "type": "string"
                          },
                          "perfCountryCode": {
                            "type": "string"
                          },
                          "perfDistrict": {
                            "type": "string"
                          },
                          "perfDistrictCode": {
                            "type": "string"
                          },
                          "perfLocation": {
                            "type": "string"
                          },
                          "perfStateCode": {
                            "type": "string"
                          },
                          "perfZipCode": {
                            "type": "string"
                          },
                          "pi": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "piEmail": {
                            "type": "string"
                          },
                          "piFirstName": {
                            "type": "string"
                          },
                          "piLastName": {
                            "type": "string"
                          },
                          "piMiddeInitial": {
                            "type": "string"
                          },
                          "poEmail": {
                            "type": "string"
                          },
                          "poName": {
                            "type": "string"
                          },
                          "poPhone": {
                            "type": "string"
                          },
                          "primaryProgram": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "progEleCode": {
                            "type": "string"
                          },
                          "program": {
                            "type": "string"
                          },
                          "progRefCode": {
                            "type": "string"
                          },
                          "projectOutComesReport": {
                            "type": "string"
                          },
                          "publicAccessMandate": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "transType": {
                            "type": "string"
                          },
                          "ueiNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nationalScienceFoundation/latest/actions/get-award-project-outcomes": {
      "get": {
        "operationId": "nationalScienceFoundation.get-award-project-outcomes",
        "summary": "Get Award Project Outcomes",
        "description": "Retrieves a project outcomes report from National Science Foundation.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nationalScienceFoundation/latest/actions/get-award-project-outcomes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Award unique identifier whose project outcomes report should be retrieved, such as 1052893.",
            "schema": {
              "type": "string",
              "description": "Award unique identifier whose project outcomes report should be retrieved, such as 1052893.",
              "example": "1052893"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "activeAwd": {
                            "type": "string"
                          },
                          "agency": {
                            "type": "string"
                          },
                          "awardeeName": {
                            "type": "string"
                          },
                          "estimatedTotalAmt": {
                            "type": "string"
                          },
                          "expDate": {
                            "type": "string"
                          },
                          "histAwd": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "pdPIName": {
                            "type": "string"
                          },
                          "projectOutComesReport": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/nationalScienceFoundation/latest/actions/search-awards": {
      "get": {
        "operationId": "nationalScienceFoundation.search-awards",
        "summary": "Search Awards",
        "description": "Finds awards in National Science Foundation by search criteria.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/nationalScienceFoundation/latest/actions/search-awards"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Free-text search across all available award data. Boolean operators AND, OR, and NOT are supported by the NSF API.",
            "schema": {
              "type": "string",
              "description": "Free-text search across all available award data. Boolean operators AND, OR, and NOT are supported by the NSF API.",
              "example": "water"
            }
          },
          {
            "name": "activeAwards",
            "in": "query",
            "required": false,
            "description": "Set to true to include active awards.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include active awards."
            }
          },
          {
            "name": "expiredAwards",
            "in": "query",
            "required": false,
            "description": "Set to true to include expired awards.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to include expired awards."
            }
          },
          {
            "name": "awardeeName",
            "in": "query",
            "required": false,
            "description": "Name of the entity receiving the award.",
            "schema": {
              "type": "string",
              "description": "Name of the entity receiving the award.",
              "example": "university of south florida"
            }
          },
          {
            "name": "pdPIName",
            "in": "query",
            "required": false,
            "description": "Project Director or Principal Investigator name.",
            "schema": {
              "type": "string",
              "description": "Project Director or Principal Investigator name.",
              "example": "SUMNET STARFIELD"
            }
          },
          {
            "name": "poName",
            "in": "query",
            "required": false,
            "description": "NSF program officer name.",
            "schema": {
              "type": "string",
              "description": "NSF program officer name.",
              "example": "Hamos Rick"
            }
          },
          {
            "name": "fundProgramName",
            "in": "query",
            "required": false,
            "description": "NSF fund program name.",
            "schema": {
              "type": "string",
              "description": "NSF fund program name.",
              "example": "ANTARCTIC COORDINATION"
            }
          },
          {
            "name": "cfdaNumber",
            "in": "query",
            "required": false,
            "description": "Catalog of Federal Domestic Assistance number, such as 47.084.",
            "schema": {
              "type": "string",
              "description": "Catalog of Federal Domestic Assistance number, such as 47.084.",
              "example": "47.084"
            }
          },
          {
            "name": "awardeeStateCode",
            "in": "query",
            "required": false,
            "description": "Awardee state abbreviation, such as VA.",
            "schema": {
              "type": "string",
              "description": "Awardee state abbreviation, such as VA.",
              "example": "VA"
            }
          },
          {
            "name": "awardeeCountryCode",
            "in": "query",
            "required": false,
            "description": "Awardee country code, such as US.",
            "schema": {
              "type": "string",
              "description": "Awardee country code, such as US.",
              "example": "US"
            }
          },
          {
            "name": "perfLocation",
            "in": "query",
            "required": false,
            "description": "Performance location name.",
            "schema": {
              "type": "string",
              "description": "Performance location name.",
              "example": "university of south florida"
            }
          },
          {
            "name": "perfStateCode",
            "in": "query",
            "required": false,
            "description": "Performance state abbreviation, such as VA.",
            "schema": {
              "type": "string",
              "description": "Performance state abbreviation, such as VA.",
              "example": "VA"
            }
          },
          {
            "name": "progEleCode",
            "in": "query",
            "required": false,
            "description": "NSF program element code, a six-digit PEC such as 999300.",
            "schema": {
              "type": "string",
              "description": "NSF program element code, a six-digit PEC such as 999300.",
              "example": "999300",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "progRefCode",
            "in": "query",
            "required": false,
            "description": "NSF program reference code.",
            "schema": {
              "type": "string",
              "description": "NSF program reference code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "orgCodeDir",
            "in": "query",
            "required": false,
            "description": "Directorate organization code, an eight-digit code such as 15000000.",
            "schema": {
              "type": "string",
              "description": "Directorate organization code, an eight-digit code such as 15000000.",
              "example": "15000000",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "orgCodeDiv",
            "in": "query",
            "required": false,
            "description": "Division organization code, an eight-digit code such as 15030000.",
            "schema": {
              "type": "string",
              "description": "Division organization code, an eight-digit code such as 15030000.",
              "example": "15030000",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "required": false,
            "description": "Start date for award date search. NSF expects mm/dd/yyyy, such as 12/31/2012.",
            "schema": {
              "type": "string",
              "description": "Start date for award date search. NSF expects mm/dd/yyyy, such as 12/31/2012.",
              "example": "12/31/2012"
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "required": false,
            "description": "End date for award date search. NSF expects mm/dd/yyyy, such as 12/31/2012.",
            "schema": {
              "type": "string",
              "description": "End date for award date search. NSF expects mm/dd/yyyy, such as 12/31/2012.",
              "example": "12/31/2012"
            }
          },
          {
            "name": "startDateStart",
            "in": "query",
            "required": false,
            "description": "Start date for award start date search. NSF expects mm/dd/yyyy.",
            "schema": {
              "type": "string",
              "description": "Start date for award start date search. NSF expects mm/dd/yyyy.",
              "example": "12/31/2012",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "startDateEnd",
            "in": "query",
            "required": false,
            "description": "End date for award start date search. NSF expects mm/dd/yyyy.",
            "schema": {
              "type": "string",
              "description": "End date for award start date search. NSF expects mm/dd/yyyy.",
              "example": "12/31/2012",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expDateStart",
            "in": "query",
            "required": false,
            "description": "Start date for award expiration date search. NSF expects mm/dd/yyyy.",
            "schema": {
              "type": "string",
              "description": "Start date for award expiration date search. NSF expects mm/dd/yyyy.",
              "example": "12/31/2012",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expDateEnd",
            "in": "query",
            "required": false,
            "description": "End date for award expiration date search. NSF expects mm/dd/yyyy.",
            "schema": {
              "type": "string",
              "description": "End date for award expiration date search. NSF expects mm/dd/yyyy.",
              "example": "12/31/2012",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "estimatedTotalAmtFrom",
            "in": "query",
            "required": false,
            "description": "Return awards greater than this estimated total amount.",
            "schema": {
              "type": "number",
              "description": "Return awards greater than this estimated total amount.",
              "example": 50000,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "estimatedTotalAmtTo",
            "in": "query",
            "required": false,
            "description": "Return awards less than this estimated total amount.",
            "schema": {
              "type": "number",
              "description": "Return awards less than this estimated total amount.",
              "example": 500000,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fundsObligatedAmtFrom",
            "in": "query",
            "required": false,
            "description": "Return awards greater than this obligated amount.",
            "schema": {
              "type": "number",
              "description": "Return awards greater than this obligated amount.",
              "example": 50000,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fundsObligatedAmtTo",
            "in": "query",
            "required": false,
            "description": "Return awards less than this obligated amount.",
            "schema": {
              "type": "number",
              "description": "Return awards less than this obligated amount.",
              "example": 500000,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "transType",
            "in": "query",
            "required": false,
            "description": "Award transaction type, such as Standard Grant, Continuing Grant, Cooperative Agreement, or Fellowship Award.",
            "schema": {
              "type": "string",
              "description": "Award transaction type, such as Standard Grant, Continuing Grant, Cooperative Agreement, or Fellowship Award.",
              "example": "Standard Grant",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "ueiNumber",
            "in": "query",
            "required": false,
            "description": "Unique Entity Identifier, such as F2VSMAKDH8Z7.",
            "schema": {
              "type": "string",
              "description": "Unique Entity Identifier, such as F2VSMAKDH8Z7.",
              "example": "F2VSMAKDH8Z7",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "abstractText": {
                            "type": "string"
                          },
                          "activeAwd": {
                            "type": "string"
                          },
                          "agency": {
                            "type": "string"
                          },
                          "awardAgencyCode": {
                            "type": "string"
                          },
                          "awardee": {
                            "type": "string"
                          },
                          "awardeeAddress": {
                            "type": "string"
                          },
                          "awardeeCity": {
                            "type": "string"
                          },
                          "awardeeCountryCode": {
                            "type": "string"
                          },
                          "awardeeDistrict": {
                            "type": "string"
                          },
                          "awardeeDistrictCode": {
                            "type": "string"
                          },
                          "awardeeName": {
                            "type": "string"
                          },
                          "awardeePhone": {
                            "type": "string"
                          },
                          "awardeeStateCode": {
                            "type": "string"
                          },
                          "awardeeZipCode": {
                            "type": "string"
                          },
                          "cfdaNumber": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "dirAbbr": {
                            "type": "string"
                          },
                          "divAbbr": {
                            "type": "string"
                          },
                          "estimatedTotalAmt": {
                            "type": "string"
                          },
                          "expDate": {
                            "type": "string"
                          },
                          "fundAgencyCode": {
                            "type": "string"
                          },
                          "fundProgramName": {
                            "type": "string"
                          },
                          "fundsObligated": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "fundsObligatedAmt": {
                            "type": "string"
                          },
                          "histAwd": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "initAmendmentDate": {
                            "type": "string"
                          },
                          "latestAmendmentDate": {
                            "type": "string"
                          },
                          "managingPec": {
                            "type": "string"
                          },
                          "orgCodeDir": {
                            "type": "string"
                          },
                          "orgCodeDiv": {
                            "type": "string"
                          },
                          "orgLongName": {
                            "type": "string"
                          },
                          "orgLongName2": {
                            "type": "string"
                          },
                          "orgUrl": {
                            "type": "string"
                          },
                          "parentUeiNumber": {
                            "type": "string"
                          },
                          "pdPIName": {
                            "type": "string"
                          },
                          "perfAddress": {
                            "type": "string"
                          },
                          "perfCity": {
                            "type": "string"
                          },
                          "perfCountryCode": {
                            "type": "string"
                          },
                          "perfDistrict": {
                            "type": "string"
                          },
                          "perfDistrictCode": {
                            "type": "string"
                          },
                          "perfLocation": {
                            "type": "string"
                          },
                          "perfStateCode": {
                            "type": "string"
                          },
                          "perfZipCode": {
                            "type": "string"
                          },
                          "pi": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "piEmail": {
                            "type": "string"
                          },
                          "piFirstName": {
                            "type": "string"
                          },
                          "piLastName": {
                            "type": "string"
                          },
                          "piMiddeInitial": {
                            "type": "string"
                          },
                          "poEmail": {
                            "type": "string"
                          },
                          "poName": {
                            "type": "string"
                          },
                          "poPhone": {
                            "type": "string"
                          },
                          "primaryProgram": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "progEleCode": {
                            "type": "string"
                          },
                          "program": {
                            "type": "string"
                          },
                          "progRefCode": {
                            "type": "string"
                          },
                          "projectOutComesReport": {
                            "type": "string"
                          },
                          "publicAccessMandate": {
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "transType": {
                            "type": "string"
                          },
                          "ueiNumber": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
