{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Stripe Universal API",
    "version": "0.0.60",
    "description": "Accept payments, manage subscriptions, invoice customers, and reconcile revenue."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/stripe/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/stripe/latest/actions/cancel-payment-intent": {
      "put": {
        "operationId": "stripe.cancel-payment-intent",
        "summary": "Cancel Payment Intent",
        "description": "Cancels an existing payment intent in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/cancel-payment-intent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "intent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "intent": {
                    "type": "string",
                    "description": "PaymentIntent ID to cancel."
                  },
                  "cancellationReason": {
                    "type": "string",
                    "description": "Reason for cancellation.",
                    "enum": [
                      "abandoned",
                      "duplicate",
                      "fraudulent",
                      "requested_by_customer"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amountCapturable": {
                            "type": "number"
                          },
                          "amountReceived": {
                            "type": "number"
                          },
                          "canceledAt": {
                            "type": "number"
                          },
                          "cancellationReason": {
                            "type": "string"
                          },
                          "captureMethod": {
                            "type": "string"
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "latestCharge": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentMethodTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/cancel-subscription": {
      "delete": {
        "operationId": "stripe.cancel-subscription",
        "summary": "Cancel Subscription",
        "description": "Cancels an existing subscription in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/cancel-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionExposedId",
            "in": "query",
            "required": true,
            "description": "Subscription identifier.",
            "schema": {
              "type": "string",
              "description": "Subscription identifier.",
              "example": "sub_1MowQVLkdIwHu7ixeRlqHVzs"
            }
          },
          {
            "name": "invoiceNow",
            "in": "query",
            "required": false,
            "description": "Generate a final invoice now.",
            "schema": {
              "type": "boolean",
              "description": "Generate a final invoice now.",
              "example": false
            }
          },
          {
            "name": "prorate",
            "in": "query",
            "required": false,
            "description": "Apply prorations on cancellation.",
            "schema": {
              "type": "boolean",
              "description": "Apply prorations on cancellation.",
              "example": true
            }
          },
          {
            "name": "cancellationComment",
            "in": "query",
            "required": false,
            "description": "Optional free-text cancellation comment.",
            "schema": {
              "type": "string",
              "description": "Optional free-text cancellation comment.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "cancellationFeedback",
            "in": "query",
            "required": false,
            "description": "Structured cancellation feedback enum.",
            "schema": {
              "type": "string",
              "description": "Structured cancellation feedback enum.",
              "enum": [
                "customer_service",
                "low_quality",
                "missing_features",
                "other",
                "switched_service",
                "too_complex",
                "too_expensive",
                "unused"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Fields to expand in the response.",
            "schema": {
              "type": "string",
              "description": "Fields to expand in the response.",
              "x-mindcloud-advanced": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelAt": {
                            "type": "number"
                          },
                          "cancelAtPeriodEnd": {
                            "type": "boolean"
                          },
                          "currentPeriodEnd": {
                            "type": "number"
                          },
                          "currentPeriodStart": {
                            "type": "number"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "defaultPaymentMethod": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "latestInvoice": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "object": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/capture-payment-intent": {
      "put": {
        "operationId": "stripe.capture-payment-intent",
        "summary": "Capture Payment Intent",
        "description": "Captures an existing payment intent in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/capture-payment-intent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "intent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "intent": {
                    "type": "string",
                    "description": "PaymentIntent ID to capture."
                  },
                  "amountToCapture": {
                    "type": "number",
                    "description": "Amount to capture from the PaymentIntent."
                  },
                  "finalCapture": {
                    "type": "boolean",
                    "description": "Set to false when performing incremental captures.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amountCapturable": {
                            "type": "number"
                          },
                          "amountReceived": {
                            "type": "number"
                          },
                          "canceledAt": {
                            "type": "number"
                          },
                          "cancellationReason": {
                            "type": "string"
                          },
                          "captureMethod": {
                            "type": "string"
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "latestCharge": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentMethodTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/confirm-payment-intent": {
      "put": {
        "operationId": "stripe.confirm-payment-intent",
        "summary": "Confirm Payment Intent",
        "description": "Confirms an existing payment intent in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/confirm-payment-intent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "intent"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "intent": {
                    "type": "string",
                    "description": "PaymentIntent ID to confirm."
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "PaymentMethod ID to use for confirmation."
                  },
                  "receiptEmail": {
                    "type": "string",
                    "description": "Email that receives the payment receipt."
                  },
                  "returnUrl": {
                    "type": "string",
                    "description": "Return URL for redirect-based payment methods."
                  },
                  "offSession": {
                    "type": "boolean",
                    "description": "Set to true when charging a customer who is not in-session.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amountCapturable": {
                            "type": "number"
                          },
                          "amountReceived": {
                            "type": "number"
                          },
                          "canceledAt": {
                            "type": "number"
                          },
                          "cancellationReason": {
                            "type": "string"
                          },
                          "captureMethod": {
                            "type": "string"
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "latestCharge": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentMethodTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-billing-portal-session": {
      "post": {
        "operationId": "stripe.create-billing-portal-session",
        "summary": "Create Billing Portal Session",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-billing-portal-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "string",
                    "example": "cus_..."
                  },
                  "returnUrl": {
                    "type": "string",
                    "example": "https://example.com/account"
                  },
                  "configuration": {
                    "type": "string",
                    "example": "bpc_...",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "configuration": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "returnUrl": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-checkout-session": {
      "post": {
        "operationId": "stripe.create-checkout-session",
        "summary": "Create Checkout Session",
        "description": "Creates a new checkout session in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-checkout-session"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mode"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Checkout mode: payment, setup, or subscription.",
                    "enum": [
                      "payment",
                      "setup",
                      "subscription"
                    ],
                    "example": "payment"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items for this checkout session."
                  },
                  "lineItems[].price": {
                    "type": "string",
                    "description": "The price ID for a line item.",
                    "example": "price_123"
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity for the line item.",
                    "example": 1
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "URL to redirect customers after successful checkout in hosted mode.",
                    "example": "https://example.com/success"
                  },
                  "returnUrl": {
                    "type": "string",
                    "description": "URL to return customers to your site for embedded/custom UI modes.",
                    "example": "https://example.com/return",
                    "x-mindcloud-advanced": true
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "URL to redirect customers if they cancel checkout.",
                    "example": "https://example.com/cancel"
                  },
                  "customer": {
                    "type": "string",
                    "description": "Existing customer ID to prefill checkout.",
                    "example": "cus_123"
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Email used to prefill customer data when no customer ID is provided.",
                    "example": "customer@example.com",
                    "x-mindcloud-advanced": true
                  },
                  "paymentMethodTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed payment method types for this session.",
                    "x-mindcloud-advanced": true
                  },
                  "uiMode": {
                    "type": "string",
                    "description": "Checkout UI mode: hosted, embedded, or custom.",
                    "enum": [
                      "custom",
                      "embedded",
                      "hosted"
                    ],
                    "example": "hosted",
                    "x-mindcloud-advanced": true
                  },
                  "clientReferenceId": {
                    "type": "string",
                    "description": "Reference ID to reconcile session with your internal systems.",
                    "example": "order_123",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountTotal": {
                            "type": "number",
                            "description": "Total amount"
                          },
                          "created": {
                            "type": "number",
                            "description": "Creation timestamp in seconds"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Session currency"
                          },
                          "customer": {
                            "type": "string",
                            "description": "Customer ID"
                          },
                          "id": {
                            "type": "string",
                            "description": "Checkout session ID"
                          },
                          "mode": {
                            "type": "string",
                            "description": "Checkout mode"
                          },
                          "object": {
                            "type": "string",
                            "description": "Stripe object type"
                          },
                          "paymentStatus": {
                            "type": "string",
                            "description": "Payment status"
                          },
                          "status": {
                            "type": "string",
                            "description": "Session status"
                          },
                          "url": {
                            "type": "string",
                            "description": "Hosted checkout URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-checkout-session-copy": {
      "post": {
        "operationId": "stripe.create-checkout-session-copy",
        "summary": "Create Variable-Amount Checkout Session",
        "description": "Creates a new checkout session in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-checkout-session-copy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "mode",
                  "priceDataCurrency",
                  "unitAmount",
                  "productName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Checkout mode: payment, setup, or subscription.",
                    "enum": [
                      "payment",
                      "setup",
                      "subscription"
                    ],
                    "example": "payment"
                  },
                  "lineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Line items for this checkout session."
                  },
                  "lineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity for the line item.",
                    "example": 1
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "URL to redirect customers after successful checkout in hosted mode.",
                    "example": "https://example.com/success"
                  },
                  "returnUrl": {
                    "type": "string",
                    "description": "URL to return customers to your site for embedded/custom UI modes.",
                    "example": "https://example.com/return",
                    "x-mindcloud-advanced": true
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "URL to redirect customers if they cancel checkout.",
                    "example": "https://example.com/cancel"
                  },
                  "customer": {
                    "type": "string",
                    "description": "Existing customer ID to prefill checkout.",
                    "example": "cus_123"
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Email used to prefill customer data when no customer ID is provided.",
                    "example": "customer@example.com",
                    "x-mindcloud-advanced": true
                  },
                  "paymentMethodTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed payment method types for this session.",
                    "x-mindcloud-advanced": true
                  },
                  "uiMode": {
                    "type": "string",
                    "description": "Checkout UI mode: hosted, embedded, or custom.",
                    "enum": [
                      "custom",
                      "embedded",
                      "hosted"
                    ],
                    "example": "hosted",
                    "x-mindcloud-advanced": true
                  },
                  "clientReferenceId": {
                    "type": "string",
                    "description": "Reference ID to reconcile session with your internal systems.",
                    "example": "order_123",
                    "x-mindcloud-advanced": true
                  },
                  "priceDataCurrency": {
                    "type": "string",
                    "description": "Three-letter lowercase currency code for the inline Stripe Price, for example usd."
                  },
                  "unitAmount": {
                    "type": "number",
                    "description": "Positive integer amount in the currency's smallest unit (cents for USD)."
                  },
                  "productName": {
                    "type": "string",
                    "description": "Customer-visible product or payment-request name."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountTotal": {
                            "type": "number",
                            "description": "Total amount"
                          },
                          "created": {
                            "type": "number",
                            "description": "Creation timestamp in seconds"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Session currency"
                          },
                          "customer": {
                            "type": "string",
                            "description": "Customer ID"
                          },
                          "id": {
                            "type": "string",
                            "description": "Checkout session ID"
                          },
                          "mode": {
                            "type": "string",
                            "description": "Checkout mode"
                          },
                          "object": {
                            "type": "string",
                            "description": "Stripe object type"
                          },
                          "paymentStatus": {
                            "type": "string",
                            "description": "Payment status"
                          },
                          "status": {
                            "type": "string",
                            "description": "Session status"
                          },
                          "url": {
                            "type": "string",
                            "description": "Hosted checkout URL"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-customer": {
      "post": {
        "operationId": "stripe.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "paymentMethod": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "source": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "address": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "shipping": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "taxExempt": {
                    "type": "string",
                    "enum": [
                      "exempt",
                      "none",
                      "reverse"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "balance": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "cashBalance": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "invoicePrefix": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "invoiceSettings": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "nextInvoiceSequence": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "preferredLocales[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "tax": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "taxIdData[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "x-mindcloud-advanced": true
                  },
                  "testClock": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "expand[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "number",
                            "description": "Creation timestamp in seconds"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Default currency"
                          },
                          "delinquent": {
                            "type": "boolean",
                            "description": "Whether the customer is delinquent"
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email"
                          },
                          "id": {
                            "type": "string",
                            "description": "Customer ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name"
                          },
                          "object": {
                            "type": "string",
                            "description": "Stripe object type"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-payment-intent": {
      "post": {
        "operationId": "stripe.create-payment-intent",
        "summary": "Create Payment Intent",
        "description": "Creates a new payment intent in Stripe.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-payment-intent"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Amount intended to be collected, in the smallest currency unit."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter ISO currency code, in lowercase."
                  },
                  "customer": {
                    "type": "string",
                    "description": "Customer ID to attach to the PaymentIntent."
                  },
                  "paymentMethod": {
                    "type": "string",
                    "description": "PaymentMethod ID to attach to this PaymentIntent."
                  },
                  "description": {
                    "type": "string",
                    "description": "An arbitrary string attached to the object."
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Set to true to attempt to confirm this PaymentIntent immediately."
                  },
                  "captureMethod": {
                    "type": "string",
                    "description": "Controls when funds are captured from the customer.",
                    "enum": [
                      "automatic",
                      "automatic_async",
                      "manual"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "offSession": {
                    "type": "boolean"
                  },
                  "idempotencyKey": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "amountCapturable": {
                            "type": "number"
                          },
                          "amountReceived": {
                            "type": "number"
                          },
                          "canceledAt": {
                            "type": "number"
                          },
                          "cancellationReason": {
                            "type": "string"
                          },
                          "captureMethod": {
                            "type": "string"
                          },
                          "clientSecret": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "latestCharge": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "paymentMethod": {
                            "type": "string"
                          },
                          "paymentMethodTypes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-preview-invoice": {
      "post": {
        "operationId": "stripe.create-preview-invoice",
        "summary": "Create Preview Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-preview-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "string",
                    "example": "cus_..."
                  },
                  "subscription": {
                    "type": "string",
                    "example": "sub_..."
                  },
                  "schedule": {
                    "type": "string",
                    "example": "sub_sched_..."
                  },
                  "previewMode": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountDue": {
                            "type": "number"
                          },
                          "amountPaid": {
                            "type": "number"
                          },
                          "amountRemaining": {
                            "type": "number"
                          },
                          "billingReason": {
                            "type": "string"
                          },
                          "collectionMethod": {
                            "type": "string"
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "dueDate": {
                            "type": "number"
                          },
                          "hostedInvoiceUrl": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "invoicePdf": {
                            "type": "string"
                          },
                          "lines": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscription": {
                            "type": "string"
                          },
                          "total": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stripe/latest/actions/create-setup-checkout-session-stripe-to-aspire-sync": {
      "post": {
        "operationId": "stripe.create-setup-checkout-session-stripe-to-aspire-sync",
        "summary": "Create Setup Checkout Session – Stripe to Aspire Sync",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stripe/latest/actions/create-setup-checkout-session-stripe-to-aspire-sync"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "successUrl",
                  "cancelUrl",
                  "paymentMethodTypes[]",
                  "clientReferenceId",
                  "contractVersion",
                  "mindcloudRequestId",
                  "paymentKind",
                  "aspireOpportunityNumber",
                  "aspireOpportunityRevision",
                  "aspireBillingCompany",
                  "aspireBillingContact",
                  "aspireProperty",
                  "aspireBranchName",
                  "aspireInvoiceNumber",
                  "depositPercent",
                  "depositBasisCents",
                  "serviceAmountCents",
                  "serviceTaxCents",
                  "cardFeeCents",
                  "cardFeeTaxCents",
                  "currency"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer": {
                    "type": "string",
                    "description": "Stripe Customer ID, supplied dynamically."
                  },
                  "customerEmail": {
                    "type": "string",
                    "description": "Customer email when no Stripe Customer ID is supplied."
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "Hosted Checkout success redirect URL."
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "Hosted Checkout cancellation redirect URL."
                  },
                  "paymentMethodTypes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed Stripe payment method types. Each value must be card or us_bank_account."
                  },
                  "clientReferenceId": {
                    "type": "string",
                    "description": "Unique MindCloud request ID used to reconcile the Checkout Session."
                  },
                  "contractVersion": {
                    "type": "string",
                    "description": "Exact Stripe to Aspire metadata contract version."
                  },
                  "mindcloudRequestId": {
                    "type": "string",
                    "description": "Unique request identifier matching the payment reference contract."
                  },
                  "paymentKind": {
                    "type": "string",
                    "description": "Payment kind: deposit or invoice."
                  },
                  "aspireOpportunityNumber": {
                    "type": "string",
                    "description": "Aspire Opportunity number audit link."
                  },
                  "aspireOpportunityRevision": {
                    "type": "string",
                    "description": "Aspire Opportunity revision."
                  },
                  "aspireBillingCompany": {
                    "type": "string",
                    "description": "Aspire billing company; use the exact non-empty sentinel \"none\" only when the billing contact is populated."
                  },
                  "aspireBillingContact": {
                    "type": "string",
                    "description": "Aspire billing contact; use the exact non-empty sentinel \"none\" only when the billing company is populated."
                  },
                  "aspireProperty": {
                    "type": "string",
                    "description": "Aspire property audit context."
                  },
                  "aspireBranchName": {
                    "type": "string",
                    "description": "Aspire branch name."
                  },
                  "aspireInvoiceNumber": {
                    "type": "string",
                    "description": "Use the exact non-empty sentinel \"none\" for deposits; use a positive integer string for invoice payments."
                  },
                  "depositPercent": {
                    "type": "string",
                    "description": "Deposit percentage string for deposits; use the exact non-empty sentinel \"none\" for invoice payments."
                  },
                  "depositBasisCents": {
                    "type": "string",
                    "description": "Positive canonical integer-cent basis for deposits; use the exact non-empty sentinel \"none\" for invoice payments."
                  },
                  "serviceAmountCents": {
                    "type": "string",
                    "description": "Canonical non-negative integer service amount in cents."
                  },
                  "serviceTaxCents": {
                    "type": "string",
                    "description": "Canonical non-negative integer service sales tax in cents."
                  },
                  "cardFeeCents": {
                    "type": "string",
                    "description": "Canonical non-negative integer customer card fee in cents."
                  },
                  "cardFeeTaxCents": {
                    "type": "string",
                    "description": "Canonical non-negative integer sales tax on the card fee in cents."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Exact lowercase metadata currency code."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountTotal": {
                            "type": "number",
                            "description": "Total amount in integer cents"
                          },
                          "created": {
                            "type": "number",
                            "description": "Creation timestamp in seconds"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Session currency"
                          },
                          "customer": {
                            "type": "string",
                            "description": "Stripe Customer ID"
                          },
                          "id": {
                            "type": "string",
                            "description": "Checkout session ID"
                          },
                          "mode": {
                            "type": "string",
                            "description": "Checkout mode"
                          },
                          "object": {
                            "type": "string",
                            "description": "Stripe object type"
                          },
                          "paymentStatus": {
                            "type": "string",
                            "description": "Payment status"
                          },
                          "status": {
                            "type": "string",
                            "description": "Session status"
                          },
                          "url": {
                            "type": "string",
                            "description": "Hosted checkout URL"
                          }
                        },
                        "additionalProperties": false
                      }
[...]
