{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Storm Glass Universal API",
    "version": "0.1.3",
    "description": "Storm Glass provides global weather, marine, tide, astronomy, solar, bio, historical weather, and elevation data by coordinate through a REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/stormGlass/latest/actions/get-astronomy": {
      "get": {
        "operationId": "stormGlass.get-astronomy",
        "summary": "Get Astronomy",
        "description": "Retrieves astronomy data from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-astronomy"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end date or timestamp. Storm Glass returns astronomy data for up to 10 days.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end date or timestamp. Storm Glass returns astronomy data for up to 10 days.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Daily astronomy records for the requested coordinate."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and quota details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-bio-data": {
      "get": {
        "operationId": "stormGlass.get-bio-data",
        "summary": "Get Bio Data",
        "description": "Retrieves bio data from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-bio-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated bio parameters to retrieve, such as soilMoisture,soilTemperature,salinity.",
            "schema": {
              "type": "string",
              "description": "Comma-separated bio parameters to retrieve, such as soilMoisture,soilTemperature,salinity.",
              "default": "soilMoisture,soilTemperature,salinity"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Optional single source or comma-separated sources.",
            "schema": {
              "type": "string",
              "description": "Optional single source or comma-separated sources.",
              "default": "sg",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hours": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hourly bio data records for the requested coordinate."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and quota details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-elevation": {
      "get": {
        "operationId": "stormGlass.get-elevation",
        "summary": "Get Elevation",
        "description": "Retrieves elevation data from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-elevation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Elevation result for the requested coordinate."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata, quota, and source details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-historical-weather": {
      "get": {
        "operationId": "stormGlass.get-historical-weather",
        "summary": "Get Historical Weather",
        "description": "Retrieves historical weather data from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-historical-weather"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated historical weather parameters to retrieve, such as airTemperature,windSpeed,waveHeight.",
            "schema": {
              "type": "string",
              "description": "Comma-separated historical weather parameters to retrieve, such as airTemperature,windSpeed,waveHeight.",
              "default": "airTemperature,windSpeed,waveHeight"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "UTC first hour as UNIX time or ISO time. Historical requests require a start and end window.",
            "schema": {
              "type": "string",
              "description": "UTC first hour as UNIX time or ISO time. Historical requests require a start and end window.",
              "default": "2026-04-15T00:00:00Z"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "UTC final hour as UNIX time or ISO time. Each historical response covers up to 10 days.",
            "schema": {
              "type": "string",
              "description": "UTC final hour as UNIX time or ISO time. Each historical response covers up to 10 days.",
              "default": "2026-04-15T03:00:00Z"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Optional source such as sg, ecmwf, ecmwf:era5, cmems, or cmems:gopaf.",
            "schema": {
              "type": "string",
              "description": "Optional source such as sg, ecmwf, ecmwf:era5, cmems, or cmems:gopaf.",
              "default": "sg",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hours": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hourly historical weather records for the requested coordinate and time window."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and quota details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-marine-forecast": {
      "get": {
        "operationId": "stormGlass.get-marine-forecast",
        "summary": "Get Marine Forecast",
        "description": "Retrieves marine weather forecasts from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-marine-forecast"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired marine coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired marine coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired marine coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired marine coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated marine parameters to retrieve, such as waveHeight,swellHeight,windSpeed.",
            "schema": {
              "type": "string",
              "description": "Comma-separated marine parameters to retrieve, such as waveHeight,swellHeight,windSpeed.",
              "default": "waveHeight,waveDirection,wavePeriod,swellHeight,swellDirection,swellPeriod,windWaveHeight,windWaveDirection,windWavePeriod,currentSpeed,currentDirection,waterTemperature,windSpeed"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Optional single source or comma-separated sources. Use sg for Storm Glass AI.",
            "schema": {
              "type": "string",
              "description": "Optional single source or comma-separated sources. Use sg for Storm Glass AI.",
              "default": "sg",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hours": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hourly marine forecast records for the requested coordinate."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata, quota, and location details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-solar-data": {
      "get": {
        "operationId": "stormGlass.get-solar-data",
        "summary": "Get Solar Data",
        "description": "Retrieves solar data from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-solar-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated solar parameters to retrieve, such as uvIndex,solarDownwardRadiationFlux.",
            "schema": {
              "type": "string",
              "description": "Comma-separated solar parameters to retrieve, such as uvIndex,solarDownwardRadiationFlux.",
              "default": "uvIndex,solarDownwardRadiationFlux"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Optional single source or comma-separated sources.",
            "schema": {
              "type": "string",
              "description": "Optional single source or comma-separated sources.",
              "default": "sg",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hours": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hourly solar data records for the requested coordinate."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata and quota details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-tide-extremes": {
      "get": {
        "operationId": "stormGlass.get-tide-extremes",
        "summary": "Get Tide Extremes",
        "description": "Retrieves tide extremes from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-tide-extremes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired tide coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired tide coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired tide coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired tide coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "datum",
            "in": "query",
            "required": false,
            "description": "Optional tide datum. Use MSL or MLLW.",
            "schema": {
              "type": "string",
              "description": "Optional tide datum. Use MSL or MLLW.",
              "default": "MSL",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "High and low tide extreme records."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata, quota, and tide station details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-tide-sea-level": {
      "get": {
        "operationId": "stormGlass.get-tide-sea-level",
        "summary": "Get Tide Sea Level",
        "description": "Retrieves tide sea-level data from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-tide-sea-level"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired tide coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired tide coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired tide coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired tide coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "datum",
            "in": "query",
            "required": false,
            "description": "Optional tide datum. Use MSL or MLLW.",
            "schema": {
              "type": "string",
              "description": "Optional tide datum. Use MSL or MLLW.",
              "default": "MSL",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hourly tide sea-level records."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata, quota, datum, and tide station details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/stormGlass/latest/actions/get-weather-forecast": {
      "get": {
        "operationId": "stormGlass.get-weather-forecast",
        "summary": "Get Weather Forecast",
        "description": "Retrieves weather forecasts from Storm Glass.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/stormGlass/latest/actions/get-weather-forecast"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Latitude of the desired coordinate in decimal degrees.",
              "default": 37.7749
            }
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "description": "Longitude of the desired coordinate in decimal degrees.",
            "schema": {
              "type": "number",
              "description": "Longitude of the desired coordinate in decimal degrees.",
              "default": -122.4194
            }
          },
          {
            "name": "params",
            "in": "query",
            "required": true,
            "description": "Comma-separated weather parameters to retrieve, such as airTemperature,windSpeed,waveHeight.",
            "schema": {
              "type": "string",
              "description": "Comma-separated weather parameters to retrieve, such as airTemperature,windSpeed,waveHeight.",
              "default": "airTemperature,windSpeed,waveHeight"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Optional single source or comma-separated sources. Use sg for Storm Glass AI.",
            "schema": {
              "type": "string",
              "description": "Optional single source or comma-separated sources. Use sg for Storm Glass AI.",
              "default": "sg",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC start timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
            "schema": {
              "type": "string",
              "description": "Optional UTC end timestamp as UNIX time or URL-encoded ISO time.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hours": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Hourly forecast records for the requested coordinate."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata, quota, and location details."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
