{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Soundee Universal API",
    "version": "0.0.5",
    "description": "Soundee is a social music platform that connects artists with producers and offers eCommerce and marketing tools for producers who sell beats."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/soundee/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/soundee/latest/actions/create-coupon": {
      "post": {
        "operationId": "soundee.create-coupon",
        "summary": "Create Coupon",
        "description": "Creates a new coupon in Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/create-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amount_off_string": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "number"
                          },
                          "exclusives": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "maxUsage": {
                            "type": "number"
                          },
                          "minCartAmount": {
                            "type": "number"
                          },
                          "minCartItems": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "neverEnd": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "number"
                          },
                          "stopBulkDiscounts": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "upgrades": {
                            "type": "number"
                          },
                          "used": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/get-account": {
      "get": {
        "operationId": "soundee.get-account",
        "summary": "Get Account",
        "description": "Retrieves your Soundee producer account details.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/get-account"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "admin": {
                            "type": "number"
                          },
                          "avatar": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "bio": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "countryId": {
                            "type": "number"
                          },
                          "created": {
                            "type": "number"
                          },
                          "displayname": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "entityId": {
                            "type": "number"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "interaction": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isProducer": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "socials": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subscription": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "uploads": {
                            "type": "number"
                          },
                          "username": {
                            "type": "string"
                          },
                          "vatNumber": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/get-cart-abandonment": {
      "get": {
        "operationId": "soundee.get-cart-abandonment",
        "summary": "Get Cart Abandonment",
        "description": "Retrieves an abandoned cart from Soundee by ID or token.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/get-cart-abandonment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idOrToken",
            "in": "query",
            "required": true,
            "description": "The ID or token of the abandoned cart.",
            "schema": {
              "type": "string",
              "description": "The ID or token of the abandoned cart."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "coupon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discount": {
                            "type": "number"
                          },
                          "grandTotal": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "lastActivity": {
                            "type": "string"
                          },
                          "lastCartActivity": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recoverable": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "store": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "token": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/get-coupon": {
      "get": {
        "operationId": "soundee.get-coupon",
        "summary": "Get Coupon",
        "description": "Retrieves a coupon code from Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/get-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the coupon.",
            "schema": {
              "type": "number",
              "description": "The ID of the coupon."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amount_off_string": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "number"
                          },
                          "exclusives": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "maxUsage": {
                            "type": "number"
                          },
                          "minCartAmount": {
                            "type": "number"
                          },
                          "minCartItems": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "neverEnd": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "number"
                          },
                          "stopBulkDiscounts": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "upgrades": {
                            "type": "number"
                          },
                          "used": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/get-transaction": {
      "get": {
        "operationId": "soundee.get-transaction",
        "summary": "Get Transaction",
        "description": "Retrieves a transaction record from Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/get-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The transaction ID.",
            "schema": {
              "type": "string",
              "description": "The transaction ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fee": {
                            "type": "string"
                          },
                          "gross": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ip": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "merchant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "net": {
                            "type": "number"
                          },
                          "parameters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parentTransactionId": {
                            "type": "string"
                          },
                          "paymentSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentStatus": {
                            "type": "string"
                          },
                          "receiptUrl": {
                            "type": "string"
                          },
                          "store": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tax": {
                            "type": "number"
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "transactionId": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/list-cart-abandonments": {
      "get": {
        "operationId": "soundee.list-cart-abandonments",
        "summary": "List Cart Abandonments",
        "description": "Retrieves abandoned cart records from Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/list-cart-abandonments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listType",
            "in": "query",
            "required": false,
            "description": "Filter abandoned carts by state.",
            "schema": {
              "type": "string",
              "description": "Filter abandoned carts by state."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search by customer name, email, token, or price.",
            "schema": {
              "type": "string",
              "description": "Search by customer name, email, token, or price."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "contact": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "country": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "coupon": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discount": {
                            "type": "number"
                          },
                          "grandTotal": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "lastActivity": {
                            "type": "string"
                          },
                          "lastCartActivity": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "recoverable": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "store": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "token": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/list-coupons": {
      "get": {
        "operationId": "soundee.list-coupons",
        "summary": "List Coupons",
        "description": "Retrieves your coupon codes from Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/list-coupons"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listType",
            "in": "query",
            "required": false,
            "description": "Filter coupons by state.",
            "schema": {
              "type": "string",
              "description": "Filter coupons by state."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search coupons by name or amount.",
            "schema": {
              "type": "string",
              "description": "Search coupons by name or amount."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amount_off_string": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "number"
                          },
                          "exclusives": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "maxUsage": {
                            "type": "number"
                          },
                          "minCartAmount": {
                            "type": "number"
                          },
                          "minCartItems": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "neverEnd": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "number"
                          },
                          "stopBulkDiscounts": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "upgrades": {
                            "type": "number"
                          },
                          "used": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/list-email-captures": {
      "get": {
        "operationId": "soundee.list-email-captures",
        "summary": "List Email Captures",
        "description": "Retrieves captured email records from Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/list-email-captures"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listType",
            "in": "query",
            "required": false,
            "description": "Filter email captures by source type.",
            "schema": {
              "type": "string",
              "description": "Filter email captures by source type."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search captures by email, first name, last name, or phone.",
            "schema": {
              "type": "string",
              "description": "Search captures by email, first name, last name, or phone."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "event": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "ip": {
                            "type": "string"
                          },
                          "isCustomer": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "phone": {
                            "type": "string"
                          },
                          "store": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/list-transactions": {
      "get": {
        "operationId": "soundee.list-transactions",
        "summary": "List Transactions",
        "description": "Retrieves your transaction records from Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/list-transactions"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listType",
            "in": "query",
            "required": false,
            "description": "Filter transactions by type.",
            "schema": {
              "type": "string",
              "description": "Filter transactions by type."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search by item, customer, collaborator, amount, email, or transaction ID.",
            "schema": {
              "type": "string",
              "description": "Search by item, customer, collaborator, amount, email, or transaction ID."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addressDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fee": {
                            "type": "string"
                          },
                          "gross": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ip": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "merchant": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "net": {
                            "type": "number"
                          },
                          "parameters": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "parentTransactionId": {
                            "type": "string"
                          },
                          "paymentSource": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "paymentStatus": {
                            "type": "string"
                          },
                          "receiptUrl": {
                            "type": "string"
                          },
                          "store": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "tax": {
                            "type": "number"
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "transactionId": {
                            "type": "string"
                          },
                          "transactionType": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/soundee/latest/actions/update-coupon": {
      "put": {
        "operationId": "soundee.update-coupon",
        "summary": "Update Coupon",
        "description": "Updates an existing coupon in Soundee.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/soundee/latest/actions/update-coupon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "The ID of the coupon to update."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name or code of the coupon."
                  },
                  "amount": {
                    "type": "number",
                    "description": "The discount amount."
                  },
                  "upgrades": {
                    "type": "string",
                    "description": "Whether the coupon applies to upgrades."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Enable or disable the coupon."
                  },
                  "maxUsage": {
                    "type": "number",
                    "description": "Maximum total uses for the coupon."
                  },
                  "type": {
                    "type": "string",
                    "description": "The discount type."
                  },
                  "minCartItems": {
                    "type": "number",
                    "description": "Minimum number of cart items required."
                  },
                  "minCartAmount": {
                    "type": "number",
                    "description": "Minimum cart total required."
                  },
                  "stopBulkDiscounts": {
                    "type": "boolean",
                    "description": "Stop further bulk discounts when this coupon applies."
                  },
                  "startDate": {
                    "type": "string",
                    "description": "When the coupon becomes active."
                  },
                  "endDate": {
                    "type": "string",
                    "description": "When the coupon expires."
                  },
                  "neverEnd": {
                    "type": "boolean",
                    "description": "Ignore the end date."
                  },
                  "conditions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conditions that define which stores, licenses, entity types, or entities the coupon applies to."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "number"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amount_off_string": {
                            "type": "string"
                          },
                          "conditions": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created": {
                            "type": "number"
                          },
                          "endDate": {
                            "type": "number"
                          },
                          "exclusives": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "maxUsage": {
                            "type": "number"
                          },
                          "minCartAmount": {
                            "type": "number"
                          },
                          "minCartItems": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "neverEnd": {
                            "type": "number"
                          },
                          "startDate": {
                            "type": "number"
                          },
                          "stopBulkDiscounts": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "upgrades": {
                            "type": "number"
                          },
                          "used": {
                            "type": "number"
                          },
                          "userId": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
