{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Open Charge Map Universal API",
    "version": "0.0.3",
    "description": "Find and inspect electric vehicle charging location data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/openChargeMap/latest/actions/get-charging-location-by-id": {
      "get": {
        "operationId": "openChargeMap.get-charging-location-by-id",
        "summary": "Get Charging Location By ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/get-charging-location-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chargePointId",
            "in": "query",
            "required": true,
            "description": "Exact match on a given OCM POI ID. Comma-separated IDs are supported by Open Charge Map.",
            "schema": {
              "type": "string",
              "description": "Exact match on a given OCM POI ID. Comma-separated IDs are supported by Open Charge Map.",
              "example": "487642",
              "default": "487642"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Charging location address and coordinates."
                          },
                          "Connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Available charging connections."
                          },
                          "DateLastStatusUpdate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last status update timestamp."
                          },
                          "ID": {
                            "type": "number",
                            "description": "Open Charge Map POI ID."
                          },
                          "OperatorInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Charging location operator details."
                          },
                          "StatusType": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Operational status metadata."
                          },
                          "UUID": {
                            "type": "string",
                            "description": "Open Charge Map POI UUID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/get-core-reference-data": {
      "get": {
        "operationId": "openChargeMap.get-core-reference-data",
        "summary": "Get Core Reference Data",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/get-core-reference-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chargePoint": {
                            "type": "object",
                            "properties": {
                              "addressInfo": {
                                "type": "object",
                                "properties": {
                                  "accessComments": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressLine1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "addressLine2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "contactEmail": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "contactTelephone1": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "contactTelephone2": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "country": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "countryID": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "distance": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "distanceUnit": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "latitude": {
                                    "type": "number"
                                  },
                                  "longitude": {
                                    "type": "number"
                                  },
                                  "postcode": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "relatedURL": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "stateOrProvince": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "title": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "town": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "connections": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "amps": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "comments": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "connectionType": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "connectionTypeID": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "currentType": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "currentTypeID": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "number"
                                    },
                                    "level": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "levelID": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "powerKW": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "quantity": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "reference": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "statusType": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "statusTypeID": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "voltage": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "dataProvider": {
                                "type": "object",
                                "properties": {
                                  "comments": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "dataProviderStatusType": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "dateLastImported": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isApprovedImport": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isOpenDataLicensed": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isRestrictedEdit": {
                                    "type": "boolean"
                                  },
                                  "license": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "title": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "websiteURL": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "dataProviderID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dataProvidersReference": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dataQualityLevel": {
                                "type": "number"
                              },
                              "dateCreated": {
                                "type": "string"
                              },
                              "dateLastConfirmed": {
                                "type": "string"
                              },
                              "dateLastStatusUpdate": {
                                "type": "string"
                              },
                              "dateLastVerified": {
                                "type": "string"
                              },
                              "datePlanned": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "generalComments": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isRecentlyVerified": {
                                "type": "boolean"
                              },
                              "mediaItems": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "metadataValues": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "numberOfPoints": {
                                "type": "number"
                              },
                              "operatorID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "operatorInfo": {
                                "type": "object",
                                "properties": {
                                  "addressInfo": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "bookingURL": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "comments": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "contactEmail": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "faultReportEmail": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "isPrivateIndividual": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isRestrictedEdit": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phonePrimaryContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "phoneSecondaryContact": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "title": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "websiteURL": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "operatorsReference": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "parentChargePointID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "percentageSimilarity": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "statusType": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "isOperational": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isUserSelectable": {
                                    "type": "boolean"
                                  },
                                  "title": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "statusTypeID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "submissionStatus": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "submissionStatusTypeID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "usageCost": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "usageType": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "isAccessKeyRequired": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isMembershipRequired": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "isPayAtLocation": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "title": {
                                    "type": "object",
                                    "additionalProperties": true
                                  }
                                },
                                "additionalProperties": false
                              },
                              "usageTypeID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "userComments": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "uuid": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "chargerTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "comments": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isFastChargeCapable": {
                                  "type": "boolean"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "checkinStatusTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "isAutomatedCheckin": {
                                  "type": "boolean"
                                },
                                "isPositive": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "connectionTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "formalName": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isDiscontinued": {
                                  "type": "boolean"
                                },
                                "isObsolete": {
                                  "type": "boolean"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "continentCode": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "iSOCode": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "currentTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "dataProviders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "comments": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "dataProviderStatusType": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "isProviderEnabled": {
                                      "type": "boolean"
                                    },
                                    "title": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "dateLastImported": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isApprovedImport": {
                                  "type": "boolean"
                                },
                                "isOpenDataLicensed": {
                                  "type": "boolean"
                                },
                                "isRestrictedEdit": {
                                  "type": "boolean"
                                },
                                "license": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "websiteURL": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "dataTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "metadataGroups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dataProviderID": {
                                  "type": "number"
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isPublicInterest": {
                                  "type": "boolean"
                                },
                                "isRestrictedEdit": {
                                  "type": "boolean"
                                },
                                "metadataFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "dataType": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "dataTypeID": {
                                        "type": "number"
                                      },
                                      "id": {
                                        "type": "number"
                                      },
                                      "metadataFieldOptions": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "number"
                                            },
                                            "metadataFieldID": {
                                              "type": "number"
                                            },
                                            "title": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "metadataGroupID": {
                                        "type": "number"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "operators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "addressInfo": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "bookingURL": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "comments": {
                                  "type": "string"
                                },
                                "contactEmail": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "faultReportEmail": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "id": {
                                  "type": "number"
                                },
                                "isPrivateIndividual": {
                                  "type": "boolean"
                                },
                                "isRestrictedEdit": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "phonePrimaryContact": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "phoneSecondaryContact": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "title": {
                                  "type": "string"
                                },
                                "websiteURL": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "statusTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "isOperational": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "isUserSelectable": {
                                  "type": "boolean"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "submissionStatusTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "isLive": {
                                  "type": "boolean"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "usageTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "isAccessKeyRequired": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "isMembershipRequired": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "isPayAtLocation": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "userComment": {
                            "type": "object",
                            "properties": {
                              "chargePointID": {
                                "type": "number"
                              },
                              "checkinStatusType": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "isAutomatedCheckin": {
                                    "type": "boolean"
                                  },
                                  "isPositive": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "checkinStatusTypeID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "comment": {
                                "type": "string"
                              },
                              "commentType": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "commentTypeID": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dateCreated": {
                                "type": "string"
                              },
                              "id": {
                                "type": "number"
                              },
                              "isActionedByEditor": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "rating": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "relatedURL": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "user": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "userName": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "userCommentTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "title": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "userProfile": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/get-open-api-definition": {
      "get": {
        "operationId": "openChargeMap.get-open-api-definition",
        "summary": "Get OpenAPI Definition",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/get-open-api-definition"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/get-reference-data-by-country-id": {
      "get": {
        "operationId": "openChargeMap.get-reference-data-by-country-id",
        "summary": "Get Reference Data By Country ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/get-reference-data-by-country-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryId",
            "in": "query",
            "required": true,
            "description": "Optional numeric country ID filter for Open Charge Map reference data.",
            "schema": {
              "type": "string",
              "description": "Optional numeric country ID filter for Open Charge Map reference data.",
              "example": "2",
              "default": "2"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ChargePoint": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ChargerTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "CheckinStatusTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "ConnectionTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Countries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "CurrentTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Operators": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "StatusTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "UsageTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "UserCommentTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/list-charging-locations-along-route": {
      "get": {
        "operationId": "openChargeMap.list-charging-locations-along-route",
        "summary": "List Charging Locations Along Route",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/list-charging-locations-along-route"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "polyline",
            "in": "query",
            "required": true,
            "description": "Encoded route polyline. Use with distance to search along a route.",
            "schema": {
              "type": "string",
              "description": "Encoded route polyline. Use with distance to search along a route.",
              "example": "c|peFf`ejVo}@o}@",
              "default": "c|peFf`ejVo}@o}@"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "required": true,
            "description": "Search distance around the route polyline.",
            "schema": {
              "type": "number",
              "description": "Search distance around the route polyline.",
              "example": 1,
              "default": 1
            }
          },
          {
            "name": "distanceUnit",
            "in": "query",
            "required": true,
            "description": "Distance unit: miles or km.",
            "schema": {
              "type": "string",
              "description": "Distance unit: miles or km.",
              "enum": [
                "0",
                "1"
              ],
              "example": "Miles",
              "default": "Miles"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "DateLastStatusUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ID": {
                            "type": "number"
                          },
                          "OperatorInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "StatusType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "UUID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/list-charging-locations-by-country-code": {
      "get": {
        "operationId": "openChargeMap.list-charging-locations-by-country-code",
        "summary": "List Charging Locations By Country Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/list-charging-locations-by-country-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "description": "2-character ISO country code to filter to one country.",
            "schema": {
              "type": "string",
              "description": "2-character ISO country code to filter to one country.",
              "example": "US",
              "default": "US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "DateLastStatusUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ID": {
                            "type": "number"
                          },
                          "OperatorInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "StatusType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "UUID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/list-charging-locations-by-country-id": {
      "get": {
        "operationId": "openChargeMap.list-charging-locations-by-country-id",
        "summary": "List Charging Locations By Country ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/list-charging-locations-by-country-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryId",
            "in": "query",
            "required": true,
            "description": "Exact match on a numeric Open Charge Map country ID. Comma-separated IDs are supported.",
            "schema": {
              "type": "string",
              "description": "Exact match on a numeric Open Charge Map country ID. Comma-separated IDs are supported.",
              "example": "2",
              "default": "2"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "DateLastStatusUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ID": {
                            "type": "number"
                          },
                          "OperatorInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "StatusType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "UUID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/list-charging-locations-in-bounding-box": {
      "get": {
        "operationId": "openChargeMap.list-charging-locations-in-bounding-box",
        "summary": "List Charging Locations In Bounding Box",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/list-charging-locations-in-bounding-box"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boundingBox",
            "in": "query",
            "required": true,
            "description": "Bounding box as top-left and bottom-right corners: (lat,lng),(lat2,lng2).",
            "schema": {
              "type": "string",
              "description": "Bounding box as top-left and bottom-right corners: (lat,lng),(lat2,lng2).",
              "example": "(37.81,-122.52),(37.70,-122.35)",
              "default": "(37.81,-122.52),(37.70,-122.35)"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Connections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "DateLastStatusUpdate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ID": {
                            "type": "number"
                          },
                          "OperatorInfo": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "StatusType": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "UUID": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openChargeMap/latest/actions/list-charging-locations-in-polygon": {
      "get": {
        "operationId": "openChargeMap.list-charging-locations-in-polygon",
        "summary": "List Charging Locations In Polygon",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openChargeMap/latest/actions/list-charging-locations-in-polygon"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "polygon",
            "in": "query",
            "required": true,
            "description": "Encoded polyline polygon shape. Open Charge Map automatically closes the polygon.",
            "schema": {
              "type": "string",
              "description": "Encoded polyline polygon shape. Open Charge Map automatically closes the polygon.",
              "example": "owweF~txjV?oe`@nnT??ne`@",
              "default": "owweF~txjV?oe`@nnT??ne`@"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressInfo": {
[...]
