{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Festivo Universal API",
    "version": "0.1.5",
    "description": "Festivo provides a public holidays API for retrieving country holiday calendars, supported countries, regional observances, substitute holidays, and localized holiday metadata."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/festivo/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/festivo/latest/actions/list-available-countries": {
      "get": {
        "operationId": "festivo.list-available-countries",
        "summary": "List Available Countries",
        "description": "Retrieves available country codes from Festivo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/festivo/latest/actions/list-available-countries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Optional ISO 3166-1 alpha-2 country code filter, for example US.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 3166-1 alpha-2 country code filter, for example US.",
              "example": "US"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Supported ISO 3166-1 alpha-2 country code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/festivo/latest/actions/list-public-holidays": {
      "get": {
        "operationId": "festivo.list-public-holidays",
        "summary": "List Public Holidays",
        "description": "Retrieves public holidays for a country and year from Festivo.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/festivo/latest/actions/list-public-holidays"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 3166-1 alpha-2 country code, for example US.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code, for example US.",
              "example": "US"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Four-digit year to retrieve holidays for.",
            "schema": {
              "type": "number",
              "description": "Four-digit year to retrieve holidays for.",
              "example": 2026
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Optional month number from 1 to 12.",
            "schema": {
              "type": "number",
              "description": "Optional month number from 1 to 12.",
              "example": 1
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "description": "Optional day of month from 1 to 31.",
            "schema": {
              "type": "number",
              "description": "Optional day of month from 1 to 31.",
              "example": 1
            }
          },
          {
            "name": "public",
            "in": "query",
            "required": false,
            "description": "Return only public holidays when true.",
            "schema": {
              "type": "boolean",
              "description": "Return only public holidays when true."
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Premium filter: return only holidays before the specified date when true.",
            "schema": {
              "type": "boolean",
              "description": "Premium filter: return only holidays before the specified date when true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Premium filter: return only holidays after the specified date when true.",
            "schema": {
              "type": "boolean",
              "description": "Premium filter: return only holidays after the specified date when true.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. JSON is recommended.",
            "schema": {
              "type": "string",
              "description": "Response format. JSON is recommended.",
              "enum": [
                "0",
                "1"
              ],
              "default": "json",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Premium filter: TZ database timezone such as Europe/London.",
            "schema": {
              "type": "string",
              "description": "Premium filter: TZ database timezone such as Europe/London.",
              "example": "Europe/London",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Premium filter: ISO 639-1 language code such as en.",
            "schema": {
              "type": "string",
              "description": "Premium filter: ISO 639-1 language code such as en.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "regions",
            "in": "query",
            "required": false,
            "description": "Premium filter: comma-separated ISO 3166-2 subdivision or city region codes.",
            "schema": {
              "type": "string",
              "description": "Premium filter: comma-separated ISO 3166-2 subdivision or city region codes. Pass multiple values separated by `,`.",
              "example": "GB-ENG",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2 country code."
                          },
                          "dataVersion": {
                            "type": "string",
                            "description": "Festivo data version."
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the holiday occurs."
                          },
                          "deprecated": {
                            "type": "boolean",
                            "description": "Whether the holiday record is deprecated."
                          },
                          "end": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End date/time for the holiday."
                          },
                          "id": {
                            "type": "string",
                            "description": "Festivo holiday identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Holiday or observance name."
                          },
                          "name_local": {
                            "type": "string",
                            "description": "Local-language holiday name when available."
                          },
                          "observed": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the holiday is observed."
                          },
                          "public": {
                            "type": "boolean",
                            "description": "Whether the holiday is a public holiday."
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Region metadata for city or subdivision-specific holidays."
                          },
                          "start": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date/time for the holiday."
                          },
                          "subdivisions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "ISO 3166-2 subdivision codes for the holiday."
                          },
                          "substitute": {
                            "type": "boolean",
                            "description": "Whether this is a substitute holiday."
                          },
                          "type": {
                            "type": "string",
                            "description": "Holiday type such as public, regional, observance, or bank."
                          },
                          "weekday": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Weekday metadata for date and observed date."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
