{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Viewpoint Vista Universal API",
    "version": "0.0.57",
    "description": "Call Viewpoint Vista actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/viewpointVista/latest/actions/add-ar-contract-invoice-v1": {
      "post": {
        "operationId": "viewpointVista.add-ar-contract-invoice-v1",
        "summary": "Add AR Contract Invoice V1",
        "description": "Adds a Contract based invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-ar-contract-invoice-v1"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "co",
                  "mth",
                  "BatchId",
                  "CustGroup",
                  "Customer",
                  "JCCo",
                  "Contract",
                  "TransDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "co": {
                    "type": "number",
                    "description": "Vista PR company."
                  },
                  "mth": {
                    "type": "string",
                    "description": "Posting month for the batch. Format: YYYY-MM-DD.",
                    "example": "2026-05-01"
                  },
                  "BatchId": {
                    "type": "number"
                  },
                  "CustGroup": {
                    "type": "number"
                  },
                  "Customer": {
                    "type": "number"
                  },
                  "RecType": {
                    "type": "number"
                  },
                  "CustRef": {
                    "type": "string"
                  },
                  "JCCo": {
                    "type": "number"
                  },
                  "Contract": {
                    "type": "string"
                  },
                  "Invoice": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  },
                  "TransDate": {
                    "type": "string"
                  },
                  "DueDate": {
                    "type": "string"
                  },
                  "DiscDate": {
                    "type": "string"
                  },
                  "ReasonCode": {
                    "type": "string"
                  },
                  "Notes": {
                    "type": "string"
                  },
                  "__custom_fields": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MiscDistributions[]": {
                    "type": "array",
                    "items": {}
                  },
                  "LineItems[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "operation": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/add-many-payroll-timecard-entries": {
      "post": {
        "operationId": "viewpointVista.add-many-payroll-timecard-entries",
        "summary": "Add Many Time Batch Entries",
        "description": "Add an array of time batch entries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-many-payroll-timecard-entries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "items[].data.Co",
                  "items[].data.Mth",
                  "items[].data.BatchId",
                  "items[].data.Employee",
                  "items[].data.PostDate",
                  "items[].data.Hours",
                  "items[].data.TypeDetails"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "items[].callerMetadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Use this value to add any properties you may need to reference in case of success and or error."
                  },
                  "items[].data.Co": {
                    "type": "number",
                    "description": "Key to pr/time_batches(Co, Mth, BatchId)."
                  },
                  "items[].data.TypeDetails.Type": {
                    "type": "string",
                    "description": "Based on the Type chosen - additional details can be specified by adding them as custom fields."
                  },
                  "postCacheChanges": {
                    "type": "boolean",
                    "description": "Set true to post cache updates as part of action processing. False if omitted.",
                    "x-mindcloud-advanced": true
                  },
                  "items[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One to 1000 timebatch entry objects. Each item should include the Vista timebatch entry `data` and optional `callerMetadata`"
                  },
                  "items[].data": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "items[].data.Mth": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Key to pr/time_batches(Co, Mth, BatchId).\n\nFormat `YYYY-MM-01`"
                  },
                  "items[].data.BatchId": {
                    "type": "number",
                    "description": "Key to pr/time_batches(Co, Mth, BatchId)."
                  },
                  "items[].data.Employee": {
                    "type": "number",
                    "description": "Key to pr/employees(PRCo, Employee)."
                  },
                  "items[].data.PostDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date you are entering time for.\n\nFormat: `YYYY-MM-DD`"
                  },
                  "items[].data.Hours": {
                    "type": "string",
                    "description": "Hours."
                  },
                  "items[].data.TypeDetails": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Provide the object based on the entry type.\n\nOptions for $.TypeDetails.Type: `J-Job`, `M-Mechanic`, `S-SM Work Order`."
                  },
                  "items[].data.PaySeq": {
                    "type": "number",
                    "description": "( Optional ) If omitted, the first Pay Sequence setup for the Pay Period associated to this batch."
                  },
                  "items[].data.PRDept": {
                    "type": "string",
                    "description": "( Optional ) Key to pr/departments(PRCo, PRDept).\nIf omitted, it will be defaulted based on Vista defaulting logic."
                  },
                  "items[].data.InsState": {
                    "type": "string",
                    "description": "Key to pr/states(PRCo, State). Key to pr/insurance_codes(PRCo, InsState, InsCode). Optional. If omitted, will be defaulted based on Vista defaulting logic. Provide null if you want to override the defaulting behavior with no value."
                  },
                  "items[].data.TaxState": {
                    "type": "string",
                    "description": "( Optional ) Key to pr/states(PRCo, State)."
                  },
                  "items[].data.LocalCode": {
                    "type": "string",
                    "description": "( Optional ) Key to pr/locals(PRCo, LocalCode).\n\nIf omitted, will be defaulted based on Vista defaulting logic.\nProvide `null` if you want to override the defaulting behavior with no value."
                  },
                  "items[].data.UnempState": {
                    "type": "string",
                    "description": "( Optional ) Key to pr/states(PRCo, State).\n\nIf omitted, will be defaulted based on Vista defaulting logic."
                  },
                  "items[].data.InsCode": {
                    "type": "string",
                    "description": "Key to pr/insurance_codes(PRCo, InsState, InsCode). Optional. If omitted, will be defaulted based on Vista defaulting logic. Provide null if you want to override the defaulting behavior with no value."
                  },
                  "items[].data.Cert": {
                    "type": "string",
                    "description": "( Optional ) Should Earnings appear on Certified PR Reports.\n\nIf omitted, N will be defaulted."
                  },
                  "items[].data.Craft": {
                    "type": "string",
                    "description": "Key to pr/crafts(PRCo, Craft). Key to pr/classes(PRCo, Craft, Class). Optional. If omitted, will be defaulted based on Vista defaulting logic. Provide null if you want to override the defaulting behavior with no value."
                  },
                  "items[].data.Class": {
                    "type": "string",
                    "description": "Key to pr/classes(PRCo, Craft, Class). Optional. If omitted, will be defaulted based on Vista defaulting logic. Provide null if you want to override the defaulting behavior with no value."
                  },
                  "items[].data.StartTime": {
                    "type": "string",
                    "description": "Format 24H:mm (13:24). Optional. If omitted, empty string will be defaulted. This value will only be stored if the StartTime and StopTime are provided. The Hours property will override any calculation based on StartTime, StopTime, and BreakHours."
                  },
                  "items[].data.StopTime": {
                    "type": "string",
                    "description": "Format 24H:mm (13:24). Optional. If omitted, empty string will be defaulted. This value will only be stored if the StartTime and StopTime are provided. The Hours property will override any calculation based on StartTime, StopTime, and BreakHours."
                  },
                  "items[].data.BreakHours": {
                    "type": "string",
                    "description": "Optional. If omitted, 0 will be defaulted. This value will only be stored if the StartTime and StopTime have also been provided. The Hours property will override any calculation based on StartTime, StopTime, and BreakHours."
                  },
                  "items[].data.EarnCode": {
                    "type": "number",
                    "description": "Key to pr/earn_codes(PRCo, EarnCode). Optional. If omitted, will be defaulted based on Vista defaulting logic."
                  },
                  "items[].data.Memo": {
                    "type": "string",
                    "description": "( Optional ) If omitted, null will be defaulted."
                  },
                  "items[].data.Shift": {
                    "type": "number",
                    "description": "( Optional ) If omitted, will be defaulted based on Vista defaulting logic."
                  },
                  "items[].data.Rate": {
                    "type": "string",
                    "description": "( Optional ) If omitted, will be defaulted based on Vista defaulting logic."
                  },
                  "items[].data.Amt": {
                    "type": "string",
                    "description": "( Optional ) Amount. If omitted, it will be defaulted based on Vista defaulting logic."
                  },
                  "items[].data.CrewTemplateID": {
                    "type": "number",
                    "description": "( Optional ) Crew Template ID related to the Vista Web Portal. If omitted, null will be defaulted."
                  },
                  "items[].data.__custom_fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Add a property for each user defined values that should be set on the header form as part of this action."
                  },
                  "items[].data.__disable_validation": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Disable Vista validations for properties listed in this field."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/add-non-contract-invoice": {
      "post": {
        "operationId": "viewpointVista.add-non-contract-invoice",
        "summary": "Add Non-Contract Invoice",
        "description": "Adds a Non-Contract based invoice.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-non-contract-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "co",
                  "mth",
                  "BatchId",
                  "CustGroup",
                  "Customer",
                  "TransDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "co": {
                    "type": "number",
                    "description": "Vista PR company."
                  },
                  "mth": {
                    "type": "string",
                    "description": "Posting month for the batch. Format: YYYY-MM-DD.",
                    "example": "2026-05-01"
                  },
                  "BatchId": {
                    "type": "number"
                  },
                  "CustGroup": {
                    "type": "number"
                  },
                  "Customer": {
                    "type": "number"
                  },
                  "RecType": {
                    "type": "number"
                  },
                  "CustRef": {
                    "type": "string"
                  },
                  "Invoice": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  },
                  "TransDate": {
                    "type": "string"
                  },
                  "DiscDate": {
                    "type": "string"
                  },
                  "ReasonCode": {
                    "type": "string"
                  },
                  "Notes": {
                    "type": "string"
                  },
                  "__custom_fields": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "MiscDistributions[]": {
                    "type": "array",
                    "items": {}
                  },
                  "LineItems[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "operation": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/add-receipt-batch": {
      "post": {
        "operationId": "viewpointVista.add-receipt-batch",
        "summary": "Add Receipt Batch",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-receipt-batch"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "co",
                  "mth"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "co": {
                    "type": "number",
                    "description": "AR company for the receipt batch."
                  },
                  "mth": {
                    "type": "string",
                    "description": "Posting month for the receipt batch. Format: YYYY-MM-01."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Optional notes for the receipt batch."
                  },
                  "BatchId": {
                    "type": "number"
                  },
                  "Customer": {
                    "type": "number"
                  },
                  "TransDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "CheckNo": {
                    "type": "string"
                  },
                  "CheckDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "CreditAmt": {
                    "type": "string"
                  },
                  "CMCo": {
                    "type": "number"
                  },
                  "CMDeposit": {
                    "type": "string"
                  },
                  "Notes": {
                    "type": "string"
                  },
                  "__custom_fields": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "LineItems[]": {
                    "type": "array",
                    "items": {}
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/add-receipt-batch-entry": {
      "post": {
        "operationId": "viewpointVista.add-receipt-batch-entry",
        "summary": "Add Receipt Batch Entry",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-receipt-batch-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "co",
                  "mth",
                  "batchId",
                  "customer",
                  "creditAmt",
                  "cmDeposit"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "co": {
                    "type": "number",
                    "description": "Key to ar/batches(Co, Mth, BatchId)."
                  },
                  "mth": {
                    "type": "string",
                    "description": "Key to ar/batches(Co, Mth, BatchId). Format: YYYY-MM-01."
                  },
                  "batchId": {
                    "type": "number",
                    "description": "Key to ar/batches(Co, Mth, BatchId)."
                  },
                  "customer": {
                    "type": "number",
                    "description": "Key to ar/customers(CustGroup, Customer). CustGroup is defaulted based on Co."
                  },
                  "transDate": {
                    "type": "string",
                    "description": "Transaction date. Format: YYYY-MM-DD. Optional; defaults to today."
                  },
                  "checkNo": {
                    "type": "string",
                    "description": "Check number. Optional."
                  },
                  "checkDate": {
                    "type": "string",
                    "description": "Check date. Format: YYYY-MM-DD. Optional."
                  },
                  "creditAmt": {
                    "type": "string",
                    "description": "Check amount."
                  },
                  "cmCo": {
                    "type": "number",
                    "description": "CM company. Optional; defaults based on AR company settings."
                  },
                  "cmAcct": {
                    "type": "number",
                    "description": "CM account. Optional; defaults based on AR company settings."
                  },
                  "cmDeposit": {
                    "type": "string",
                    "description": "Deposit number."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Optional notes."
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "User-defined values to set on the batch transaction header."
                  },
                  "miscDistributions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional misc distribution rows for the receipt."
                  },
                  "LineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional receipt application rows."
                  },
                  "miscDistributions[].miscDistCode": {
                    "type": "string",
                    "description": "Misc distribution code."
                  },
                  "miscDistributions[].distDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Distribution date. Format: YYYY-MM-DD."
                  },
                  "miscDistributions[].description": {
                    "type": "string",
                    "description": "Optional misc distribution description."
                  },
                  "miscDistributions[].amount": {
                    "type": "string",
                    "description": "Misc distribution amount."
                  },
                  "miscDistributions[].customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "User-defined values to set on the misc distribution."
                  },
                  "LineItems[].arLine": {
                    "type": "number",
                    "description": "Optional line number. If omitted, Vista defaults the next ARLine number."
                  },
                  "LineItems[].lineType": {
                    "type": "string",
                    "description": "C applies payment to an invoice line. A applies funds on account.",
                    "enum": [
                      "A",
                      "C"
                    ]
                  },
                  "LineItems[].applyMth": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Reference month for the transaction line being paid or for previously saved on-account funds. Format: YYYY-MM-01."
                  },
                  "LineItems[].applyTrans": {
                    "type": "number",
                    "description": "Reference transaction being paid or prior on-account receipt transaction."
                  },
                  "LineItems[].applyLine": {
                    "type": "number",
                    "description": "Reference transaction line being paid or prior on-account receipt line."
                  },
                  "LineItems[].amount": {
                    "type": "string",
                    "description": "Amount applied for this line item or on-account adjustment amount."
                  },
                  "LineItems[].discTaken": {
                    "type": "string",
                    "description": "Optional discount amount to take on this line item."
                  },
                  "LineItems[].taxAmount": {
                    "type": "string",
                    "description": "Optional tax amount applied to an invoice line item."
                  },
                  "LineItems[].retainage": {
                    "type": "string",
                    "description": "Optional retainage amount applied to an invoice line item."
                  },
                  "LineItems[].notes": {
                    "type": "string",
                    "description": "Optional line-item notes."
                  },
                  "LineItems[].customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "User-defined values to set on the receipt line item."
                  },
                  "LineItems[].recType": {
                    "type": "number",
                    "description": "Receivable type for on-account line items. Optional."
                  },
                  "LineItems[].description": {
                    "type": "string",
                    "description": "Optional description for on-account line items."
                  },
                  "LineItems[].tax": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional tax details for on-account line items."
                  },
                  "LineItems[].tax.taxCode": {
                    "type": "string",
                    "description": "Optional tax code for on-account line items."
                  },
                  "LineItems[].tax.taxBasis": {
                    "type": "string",
                    "description": "Optional tax basis amount for on-account line items."
                  },
                  "LineItems[].tax.taxAmount": {
                    "type": "string",
                    "description": "Optional tax amount for on-account line items."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/add-sm-customer": {
      "post": {
        "operationId": "viewpointVista.add-sm-customer",
        "summary": "Add SM Customer",
        "description": "Adds a new SM Customer Record.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-sm-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sMCo",
                  "Customer"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "sMCo": {
                    "type": "number"
                  },
                  "Customer": {
                    "type": "number",
                    "description": "Key to `ar/customer(CustGroup, Customer)`. `CustGroup` is defaulted based on the provided `SMCo`. Customer must already exist in the `ar/customers` endpoint."
                  },
                  "active": {
                    "type": "string",
                    "description": "Optional.\nIf omitted, `Y` will be defaulted."
                  },
                  "nonBillable": {
                    "type": "string",
                    "description": "Optional.\n\nIf omitted, `N` will be defaulted."
                  },
                  "rateTemplate": {
                    "type": "string",
                    "description": "Key to SM Rate Template. Optional. \n\nIf omitted, null will be defaulted."
                  },
                  "billToARCustomer": {
                    "type": "number",
                    "description": "Alternate Bill To Customer. Optional. Set the Alternate AR Customer to bill to for this SM Customer.\n\nIf omitted, null will be defaulted."
                  },
                  "CustomerPOSetting": {
                    "type": "string",
                    "description": "Optional. If omitted, `N` will be defaulted.\n\nAllowed:\n- `R` - Required\n- `N` - Not Required"
                  },
                  "PrimaryTechnician": {
                    "type": "string",
                    "description": "Key to SM Technician. Optional.\n\nIf omitted, null will be defaulted."
                  },
                  "reviewer": {
                    "type": "string",
                    "description": "Key to `hq/reviewers(Reviewer)`. Optional.\n\nIf omitted, null will be defaulted."
                  },
                  "InvoiceGrouping": {
                    "type": "string",
                    "description": "Optional.\n\nAllowed:\n- `C`-One per Customer,\n- `S`-One per service site\n- `W`-One per work order\n- `P`-One per work order scope.\n\nIf omitted, `C` will be defaulted."
                  },
                  "InvoiceGroupingPOOverride": {
                    "type": "string",
                    "description": "Optional. If omitted, `N` will be defaulted."
                  },
                  "invoiceSummaryLevel": {
                    "type": "string",
                    "description": "Optional. If omitted, `T-Transaction` will be defaulted.\n\nOptions:\n- `L-Line Type`\n- `C-Cost Type`\n- `T-Transaction`"
                  },
                  "ReportID": {
                    "type": "number"
                  },
                  "DeliveryTo": {
                    "type": "string",
                    "description": "Invoice Delivery Address Type.\n\nOptions:\n- `A` AR Customer\n- `S` Service Site\n- `O` Other\n\n\n`S` Service Site can only be provided if the `InvoiceGrouping` != `C`"
                  },
                  "DeliveryMethod": {
                    "type": "string",
                    "description": "If omitted, `P` will be defaulted."
                  },
                  "billingEmail": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingName": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingAddress1": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingAddress2": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingCity": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingState": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingPostalCode": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingCountry": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "Notes": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "operation": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/add-sm-work-order": {
      "post": {
        "operationId": "viewpointVista.add-sm-work-order",
        "summary": "Add SM Work Order",
        "description": "Adds a Service Management work order header and automatically creates default Scope 1 in SMWorkOrderScope.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/add-sm-work-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "sMCo",
                  "serviceCenter",
                  "customer",
                  "workOrderType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "sMCo": {
                    "type": "number"
                  },
                  "serviceCenter": {
                    "type": "string",
                    "description": "Enter the Service center that this request is assigned to."
                  },
                  "customer": {
                    "type": "number",
                    "description": "The SM Customer for this order.\n\n**Required when `WorkOrderType` is `C-Customer`."
                  },
                  "job": {
                    "type": "string",
                    "description": "The JC Job for this work order.\n\nRequired when `WorkOrderType` is `J-Job`."
                  },
                  "jcco": {
                    "type": "number",
                    "description": "Enter JC Company.\n\nRequired when `WorkOrderType` is `J-Job`"
                  },
                  "custGroup": {
                    "type": "number"
                  },
                  "servicesite": {
                    "type": "string",
                    "description": "Enter a Site ID."
                  },
                  "workOrderType": {
                    "type": "string"
                  },
                  "workOrderQuote": {
                    "type": "string"
                  },
                  "wostatus": {
                    "type": "number"
                  },
                  "contactname": {
                    "type": "string",
                    "description": "Enter the contact name."
                  },
                  "contactphone": {
                    "type": "string",
                    "description": "Enter the contact phone."
                  },
                  "description": {
                    "type": "string",
                    "description": "Enter a description of the request."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Enter a note about this work order."
                  },
                  "isnew": {
                    "type": "boolean"
                  },
                  "craftTemplate": {
                    "type": "number",
                    "description": "Enter a template code to identify craft/class pay rates."
                  },
                  "costingmethod": {
                    "type": "string",
                    "description": "Select a costing method."
                  },
                  "leadtechnician": {
                    "type": "string",
                    "description": "Enter the lead technician."
                  },
                  "reviewer": {
                    "type": "string",
                    "description": "Enter the Reviewer for this work."
                  },
                  "prstate": {
                    "type": "string",
                    "description": "Enter the State Code that identifies the location that work will be performed."
                  },
                  "prlocalcode": {
                    "type": "string",
                    "description": "Enter the Payroll Local Code."
                  },
                  "uniqueattchid": {
                    "type": "string"
                  },
                  "requestedby": {
                    "type": "string",
                    "description": "Enter the name of the person making this request."
                  },
                  "requestedbyphone": {
                    "type": "string",
                    "description": "Enter the phone number of the person making this request."
                  },
                  "requesteddate": {
                    "type": "string",
                    "description": "Enter the date that the request was made.\n\nFormat: `YYYY-MM-DD`"
                  },
                  "requestedtime": {
                    "type": "string",
                    "description": "Enter the time that the request was made.\n\nFormat: `HH:mm`"
                  },
                  "certified": {
                    "type": "string",
                    "description": "Certified Payroll. For customer work orders only.\n\nOptions:\n- `Y`-Yes\n- `N`-No."
                  },
                  "certifiedStartDate": {
                    "type": "string",
                    "description": "Enter the start date for certifieds.\n\nFormat: YYYY-MM-DD."
                  },
                  "enteredby": {
                    "type": "string",
                    "description": "The user that entered the work order."
                  },
                  "entereddatetime": {
                    "type": "string",
                    "description": "The date the work order was entered.\n\nFormat: `YYYY-MM-DD HH:mm`"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/change-sm-customer": {
      "post": {
        "operationId": "viewpointVista.change-sm-customer",
        "summary": "Change SM Customer",
        "description": "Changes an existing SM Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/change-sm-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "__key.KeyID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "__key": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Key id(SMCustomerID)."
                  },
                  "__key.KeyID": {
                    "type": "number"
                  },
                  "active": {
                    "type": "string",
                    "description": "Optional.\nIf omitted, `Y` will be defaulted."
                  },
                  "nonBillable": {
                    "type": "string",
                    "description": "Optional.\n\nIf omitted, `N` will be defaulted."
                  },
                  "rateTemplate": {
                    "type": "string",
                    "description": "Key to SM Rate Template. Optional. \n\nIf omitted, null will be defaulted."
                  },
                  "billToARCustomer": {
                    "type": "number",
                    "description": "Alternate Bill To Customer. Optional. Set the Alternate AR Customer to bill to for this SM Customer.\n\nIf omitted, null will be defaulted."
                  },
                  "CustomerPOSetting": {
                    "type": "string",
                    "description": "Optional. If omitted, `N` will be defaulted.\n\nAllowed:\n- `R` - Required\n- `N` - Not Required"
                  },
                  "PrimaryTechnician": {
                    "type": "string",
                    "description": "Key to SM Technician. Optional.\n\nIf omitted, null will be defaulted."
                  },
                  "reviewer": {
                    "type": "string",
                    "description": "Key to `hq/reviewers(Reviewer)`. Optional.\n\nIf omitted, null will be defaulted."
                  },
                  "InvoiceGrouping": {
                    "type": "string",
                    "description": "Optional.\n\nAllowed:\n- `C`-One per Customer,\n- `S`-One per service site\n- `W`-One per work order\n- `P`-One per work order scope.\n\nIf omitted, `C` will be defaulted."
                  },
                  "InvoiceGroupingPOOverride": {
                    "type": "string",
                    "description": "Optional. If omitted, `N` will be defaulted."
                  },
                  "invoiceSummaryLevel": {
                    "type": "string",
                    "description": "Optional. If omitted, `T-Transaction` will be defaulted.\n\nOptions:\n- `L-Line Type`\n- `C-Cost Type`\n- `T-Transaction`"
                  },
                  "ReportID": {
                    "type": "number"
                  },
                  "DeliveryTo": {
                    "type": "string",
                    "description": "Invoice Delivery Address Type.\n\nOptions:\n- `A` AR Customer\n- `S` Service Site\n- `O` Other\n\n\n`S` Service Site can only be provided if the `InvoiceGrouping` != `C`"
                  },
                  "DeliveryMethod": {
                    "type": "string",
                    "description": "If omitted, `P` will be defaulted."
                  },
                  "billingEmail": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingName": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingAddress1": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingAddress2": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingCity": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingState": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingPostalCode": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "BillingCountry": {
                    "type": "string",
                    "description": "If omitted, null will be defaulted.\n\nCan only be provided if `DeliveryTo` = 'O'.\nIf provided when `DeliveryTo` is not 'O' the input will be ignored."
                  },
                  "Notes": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "operation": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/change-sm-work-order": {
      "post": {
        "operationId": "viewpointVista.change-sm-work-order",
        "summary": "Change SM Work Order",
        "description": "Changes an existing Work Order record.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/change-sm-work-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "__key.sMWorkOrderID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "__key": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "__key.sMWorkOrderID": {
                    "type": "number",
                    "description": "Key sm/work_orders(SMWorkOrderID)."
                  },
                  "serviceCenter": {
                    "type": "string",
                    "description": "Enter the Service center that this request is assigned to."
                  },
                  "customer": {
                    "type": "number",
                    "description": "The SM Customer for this order.\n\n**Required when `WorkOrderType` is `C-Customer`."
                  },
                  "job": {
                    "type": "string",
                    "description": "The JC Job for this work order.\n\nRequired when `WorkOrderType` is `J-Job`."
                  },
                  "jcco": {
                    "type": "number",
                    "description": "Enter JC Company.\n\nRequired when `WorkOrderType` is `J-Job`"
                  },
                  "custGroup": {
                    "type": "number"
                  },
                  "servicesite": {
                    "type": "string",
                    "description": "Enter a Site ID."
                  },
                  "workOrderQuote": {
                    "type": "string"
                  },
                  "wostatus": {
                    "type": "number"
                  },
                  "contactname": {
                    "type": "string",
                    "description": "Enter the contact name."
                  },
                  "contactphone": {
                    "type": "string",
                    "description": "Enter the contact phone."
                  },
                  "description": {
                    "type": "string",
                    "description": "Enter a description of the request."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Enter a note about this work order."
                  },
                  "isnew": {
                    "type": "boolean"
                  },
                  "craftTemplate": {
                    "type": "number",
                    "description": "Enter a template code to identify craft/class pay rates."
                  },
                  "costingmethod": {
                    "type": "string",
                    "description": "Select a costing method."
                  },
                  "leadtechnician": {
                    "type": "string",
                    "description": "Enter the lead technician."
                  },
                  "reviewer": {
                    "type": "string",
                    "description": "Enter the Reviewer for this work."
                  },
                  "prstate": {
                    "type": "string",
                    "description": "Enter the State Code that identifies the location that work will be performed."
                  },
                  "prlocalcode": {
                    "type": "string",
                    "description": "Enter the Payroll Local Code."
                  },
                  "uniqueattchid": {
                    "type": "string"
                  },
                  "requestedby": {
                    "type": "string",
                    "description": "Enter the name of the person making this request."
                  },
                  "requestedbyphone": {
                    "type": "string",
                    "description": "Enter the phone number of the person making this request."
                  },
                  "requesteddate": {
                    "type": "string",
                    "description": "Enter the date that the request was made.\n\nFormat: `YYYY-MM-DD`"
                  },
                  "requestedtime": {
                    "type": "string",
                    "description": "Enter the time that the request was made.\n\nFormat: `HH:mm`"
                  },
                  "certified": {
                    "type": "string",
                    "description": "Certified Payroll. For customer work orders only.\n\nOptions:\n- `Y`-Yes\n- `N`-No."
                  },
                  "certifiedStartDate": {
                    "type": "string",
                    "description": "Enter the start date for certifieds.\n\nFormat: YYYY-MM-DD."
                  },
                  "enteredby": {
                    "type": "string",
                    "description": "The user that entered the work order."
                  },
                  "entereddatetime": {
                    "type": "string",
                    "description": "The date the work order was entered.\n\nFormat: `YYYY-MM-DD HH:mm`"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/viewpointVista/latest/actions/create-contract": {
      "post": {
        "operationId": "viewpointVista.create-contract",
        "summary": "Create Contract",
        "description": "Create a contract",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/viewpointVista/latest/actions/create-contract"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "JCCo",
                  "Contract",
                  "Department"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "CustRef": {
                    "type": "string"
                  },
                  "JCCo": {
                    "type": "number",
                    "description": "Key to jc/jobs(JCCo, Job). 1 to 255."
                  },
                  "Contract": {
                    "type": "string",
                    "description": "Key to jc/contracts(JCCo, Contract). Length <= 10."
                  },
                  "Description": {
                    "type": "string",
                    "description": "Optional. If omitted, it will be defaulted based on Vista defaulting behavior."
                  },
                  "Department": {
                    "type": "string"
                  },
                  "ContractStatus": {
                    "type": "number",
                    "description": "Allowed: 1, 2, 3"
                  },
                  "Notes": {
                    "type": "string",
                    "description": "Optional. If omitted, null will be defaulted."
                  },
                  "__custom_fields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Add a property to this object for each user defined field to be set. Property name set to the user defined field name."
                  },
                  "ContractItems[]": {
                    "type": "array",
                    "items": {}
                  },
                  "Customer": {
                    "type": "number",
                    "description": "Key to ar/customers(CustGroup, Customer). CustGroup will be determined based on JCCo. Optional. If omitted, null will be defaulted."
                  },
                  "TaxCode": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "operation": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
[...]
