{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DateX (Legacy) Universal API",
    "version": "0.0.93",
    "description": "DateX connects to Wavelength/SKU warehouse and fulfillment APIs for read-only operational data such as sales orders, shipments, inventory, materials, carriers, owners, and warehouses."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dateX/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dateX/latest/actions/create-sales-order": {
      "post": {
        "operationId": "dateX.create-sales-order",
        "summary": "Create Sales Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/create-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "order.addresses[].type": {
                    "type": "string"
                  },
                  "order.customFields[].name": {
                    "type": "string"
                  },
                  "order.instructions[].instructionId": {
                    "type": "number"
                  },
                  "order.orderLines[].childLines[].customFields[].name": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].lineNumber": {
                    "type": "number"
                  },
                  "order.orderLines[].customFields[].name": {
                    "type": "string"
                  },
                  "order.orderLines[].lineNumber": {
                    "type": "number"
                  },
                  "order.owner": {
                    "type": "string"
                  },
                  "order.shipments[].billOfLading": {
                    "type": "string"
                  },
                  "order.addresses[].name": {
                    "type": "string"
                  },
                  "order.customFields[].value": {
                    "type": "string"
                  },
                  "order.instructions[].isEnabled": {
                    "type": "boolean"
                  },
                  "order.orderLines[].childLines[].customFields[].value": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].material": {
                    "type": "string"
                  },
                  "order.orderLines[].customFields[].value": {
                    "type": "string"
                  },
                  "order.orderLines[].material": {
                    "type": "string"
                  },
                  "order.project": {
                    "type": "string"
                  },
                  "order.shipments[].bookingNumber": {
                    "type": "string"
                  },
                  "order.addresses[].reference": {
                    "type": "string"
                  },
                  "order.instructions[].entityName": {
                    "type": "string"
                  },
                  "order.orderClass": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].vendorLot": {
                    "type": "string"
                  },
                  "order.orderLines[].vendorLot": {
                    "type": "string"
                  },
                  "order.shipments[].lookup": {
                    "type": "string"
                  },
                  "order.addresses[].attentionOf": {
                    "type": "string"
                  },
                  "order.instructions[].entityKeys": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].lot": {
                    "type": "string"
                  },
                  "order.orderLines[].lot": {
                    "type": "string"
                  },
                  "order.ownerReference": {
                    "type": "string"
                  },
                  "order.shipments[].expectedWarehouse": {
                    "type": "string"
                  },
                  "order.addresses[].line1": {
                    "type": "string"
                  },
                  "order.instructions[].type": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].packaging": {
                    "type": "string"
                  },
                  "order.orderLines[].packaging": {
                    "type": "string"
                  },
                  "order.shipments[].backOrder": {
                    "type": "boolean"
                  },
                  "order.vendorReference": {
                    "type": "string"
                  },
                  "order.addresses[].line2": {
                    "type": "string"
                  },
                  "order.instructions[].createdOn": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].packagedAmount": {
                    "type": "number"
                  },
                  "order.orderLines[].packagedAmount": {
                    "type": "number"
                  },
                  "order.requestedDeliveryDate": {
                    "type": "string"
                  },
                  "order.addresses[].city": {
                    "type": "string"
                  },
                  "order.instructions[].createdBy": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].upc": {
                    "type": "string"
                  },
                  "order.orderLines[].upc": {
                    "type": "string"
                  },
                  "order.warehouse": {
                    "type": "string"
                  },
                  "order.addresses[].state": {
                    "type": "string"
                  },
                  "order.carrier": {
                    "type": "string"
                  },
                  "order.instructions[].modifiedOn": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[]": {
                    "type": "array",
                    "items": {}
                  },
                  "order.orderLines[].childLines[].customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "order.addresses[].postalCode": {
                    "type": "string"
                  },
                  "order.carrierService": {
                    "type": "string"
                  },
                  "order.instructions[].modifiedBy": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].cost": {
                    "type": "number"
                  },
                  "order.orderLines[].customFields[]": {
                    "type": "array",
                    "items": {}
                  },
                  "order.addresses[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "order.addresses[].country": {
                    "type": "string"
                  },
                  "order.instructions[].instruction": {
                    "type": "string"
                  },
                  "order.orderLines[].childLines[].price": {
                    "type": "string"
                  },
                  "order.orderLines[].orderId": {
                    "type": "number"
                  },
                  "order.addresses[].lookup": {
                    "type": "string"
                  },
                  "order.orderLines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "order.orderLines[].cost": {
                    "type": "number"
                  },
                  "order.addresses[].phone": {
                    "type": "string"
                  },
                  "order.customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "order.orderLines[].price": {
                    "type": "number"
                  },
                  "order.addresses[].email": {
                    "type": "string"
                  },
                  "order.shipments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "order.addresses[].fax": {
                    "type": "string"
                  },
                  "order.lookup": {
                    "type": "string"
                  },
                  "order.addresses[].title": {
                    "type": "string"
                  },
                  "order.instructions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "order.addresses[].greeting": {
                    "type": "string"
                  },
                  "order.currency": {
                    "type": "string"
                  },
                  "order.addresses[].firstName": {
                    "type": "string"
                  },
                  "order.notes": {
                    "type": "string"
                  },
                  "order.addresses[].middleName": {
                    "type": "string"
                  },
                  "order.projectId": {
                    "type": "string"
                  },
                  "order": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "order.addresses[].lastName": {
                    "type": "string"
                  },
                  "order.addresses[].isResidential": {
                    "type": "boolean"
                  },
                  "order.addresses[].notes": {
                    "type": "string"
                  },
                  "order.addresses[].orderId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attentionOf": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "fax": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "greeting": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "isResidential": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "line1": {
                                  "type": "string"
                                },
                                "line2": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "line3": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "line4": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lookup": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "middleName": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "name": {
                                  "type": "string"
                                },
                                "notes": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "orderAddressId": {
                                  "type": "number"
                                },
                                "orderId": {
                                  "type": "number"
                                },
                                "phone": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "reference": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "state": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "carrier": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "fulfilledOn": {
                            "type": "string"
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "modifiedOn": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderClass": {
                            "type": "string"
                          },
                          "orderId": {
                            "type": "number"
                          },
                          "orderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "childLines": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "cost": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "customFields": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "grossWeight": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "licensePlate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "lineNumber": {
                                  "type": "number"
                                },
                                "lot": {
                                  "type": "string"
                                },
                                "material": {
                                  "type": "string"
                                },
                                "netWeight": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "notes": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "orderId": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "packagedAmount": {
                                  "type": "number"
                                },
                                "packaging": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "parentLineNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "price": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "serialNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shipment": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "shippedContents": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "baseAmount": {
                                        "type": "number"
                                      },
                                      "grossWeight": {
                                        "type": "number"
                                      },
                                      "material": {
                                        "type": "string"
                                      },
                                      "netWeight": {
                                        "type": "number"
                                      },
                                      "packagedAmount": {
                                        "type": "number"
                                      },
                                      "packaging": {
                                        "type": "string"
                                      },
                                      "serialNumbers": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "weightUom": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "status": {
                                  "type": "string"
                                },
                                "upc": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "vendorLot": {
                                  "type": "string"
                                },
                                "weightUom": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "owner": {
                            "type": "string"
                          },
                          "ownerReference": {
                            "type": "string"
                          },
                          "project": {
                            "type": "string"
                          },
                          "requestedDeliveryDate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shipments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actualWarehouse": {
                                  "type": "string"
                                },
                                "availableDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "backOrder": {
                                  "type": "boolean"
                                },
                                "billOfLading": {
                                  "type": "string"
                                },
                                "carrier": {
                                  "type": "string"
                                },
                                "carrierService": {
                                  "type": "string"
                                },
                                "expectedDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "expectedWarehouse": {
                                  "type": "string"
                                },
                                "lookup": {
                                  "type": "string"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "pickupDate": {
                                  "type": "string"
                                },
                                "shipmentId": {
                                  "type": "number"
                                },
                                "trackingIdentifier": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "shippedContents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "baseAmount": {
                                  "type": "number"
                                },
                                "grossWeight": {
                                  "type": "number"
                                },
                                "material": {
                                  "type": "string"
                                },
                                "netWeight": {
                                  "type": "number"
                                },
                                "packagedAmount": {
                                  "type": "number"
                                },
                                "packaging": {
                                  "type": "string"
                                },
                                "serialNumbers": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "weightUom": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "shippingInfo": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "shipment": {
                                  "type": "object",
                                  "properties": {
                                    "lookup": {
                                      "type": "string"
                                    },
                                    "shipmentId": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "shippingContainers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "billOfLading": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "bondNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "commodityDescription": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "containerNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "customsReleaseNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "declaredValue": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "estimatedDeliveryDate": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "height": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "length": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "licensePlates": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "licensePlateId": {
                                              "type": "number"
                                            },
                                            "lookup": {
                                              "type": "string"
                                            },
                                            "serialNumbers": {
                                              "type": "object",
                                              "additionalProperties": true
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "lookup": {
                                        "type": "string"
                                      },
                                      "manifestedPackageBundleCode": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "manifestedPackageCode": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "nmfcNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "nmfcSubNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "notes": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "packagedItemCount": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "parentId": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "sailOnBoard": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "sealId": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "shippingContainerId": {
                                        "type": "number"
                                      },
                                      "shippingCost": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "shippingDate": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "trackingNumber": {
                                        "type": "string"
                                      },
                                      "trailerNumber": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "volume": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "weight": {
                                        "type": "number"
                                      },
                                      "width": {
                                        "type": "object",
                                        "additionalProperties": true
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "material": {
                                  "type": "string"
                                },
                                "notes": {
                                  "type": "string"
                                },
                                "operationCode": {
                                  "type": "string"
                                },
                                "orderLineNumber": {
                                  "type": "number"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "taskId": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "vendorReference": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/echo-test": {
      "get": {
        "operationId": "dateX.echo-test",
        "summary": "Echo Test",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/echo-test"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Optional value to echo in the response.",
            "schema": {
              "type": "string",
              "description": "Optional value to echo in the response."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "greeting": {
                            "type": "string",
                            "description": "Greeting returned by the echo endpoint."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/list-available-inventory": {
      "get": {
        "operationId": "dateX.list-available-inventory",
        "summary": "List Available Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/list-available-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging.skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": -1
            }
          },
          {
            "name": "warehouse",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging.top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "filters.material",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputWeightUOM",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.lot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paging",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.vendorLot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.uPC",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "availableBaseAmount": {
                            "type": "number"
                          },
                          "availablePackagedAmount": {
                            "type": "number"
                          },
                          "basePackaging": {
                            "type": "string"
                          },
                          "basePackagingAmount": {
                            "type": "number"
                          },
                          "inactiveBaseAmount": {
                            "type": "number"
                          },
                          "inactivePackagedAmount": {
                            "type": "number"
                          },
                          "material": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "packaging": {
                            "type": "string"
                          },
                          "project": {
                            "type": "string"
                          },
                          "softAllocatedBaseAmount": {
                            "type": "number"
                          },
                          "softAllocatedPackagedAmount": {
                            "type": "number"
                          },
                          "totalBaseAmount": {
                            "type": "number"
                          },
                          "totalPackagedAmount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/list-carriers": {
      "get": {
        "operationId": "dateX.list-carriers",
        "summary": "List Carriers",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/list-carriers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.carrierName",
            "in": "query",
            "required": false,
            "description": "Filter carriers by full carrier name.",
            "schema": {
              "type": "string",
              "description": "Filter carriers by full carrier name."
            }
          },
          {
            "name": "filters.carrierShortName",
            "in": "query",
            "required": false,
            "description": "Filter carriers by short name.",
            "schema": {
              "type": "string",
              "description": "Filter carriers by short name."
            }
          },
          {
            "name": "filters.scac",
            "in": "query",
            "required": false,
            "description": "Filter carriers by SCAC code.",
            "schema": {
              "type": "string",
              "description": "Filter carriers by SCAC code."
            }
          },
          {
            "name": "filters.carrierId",
            "in": "query",
            "required": false,
            "description": "Filter carriers by numeric carrier ID.",
            "schema": {
              "type": "number",
              "description": "Filter carriers by numeric carrier ID."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrierId": {
                            "type": "number"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "scac": {
                            "type": "string"
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shortName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/list-inventory": {
      "get": {
        "operationId": "dateX.list-inventory",
        "summary": "List Inventory",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/list-inventory"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "warehouse",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.material",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputWeightUOM",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.lot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.vendorLot",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.upc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isFixedWeight": {
                            "type": "boolean"
                          },
                          "licensePlate": {
                            "type": "string"
                          },
                          "lot": {
                            "type": "string"
                          },
                          "material": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "packagedAmount": {
                            "type": "number"
                          },
                          "packaging": {
                            "type": "string"
                          },
                          "packagingGrossWeight": {
                            "type": "number"
                          },
                          "packagingNetWeight": {
                            "type": "number"
                          },
                          "project": {
                            "type": "string"
                          },
                          "serialNumbers": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "totalGrossWeight": {
                            "type": "number"
                          },
                          "totalNetWeight": {
                            "type": "number"
                          },
                          "upc": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "vendorLot": {
                            "type": "string"
                          },
                          "weightUom": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/list-materials": {
      "get": {
        "operationId": "dateX.list-materials",
        "summary": "List Materials",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/list-materials"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.owner[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.status[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.lookup[]",
            "in": "query",
            "required": false,
            "description": "An Array of lookup fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "An Array of lookup fields"
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.globalMaterialName[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.materialName[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.materialGroup[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.materialId[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.upc[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "isFixedWeight": {
                            "type": "boolean"
                          },
                          "isLotControlled": {
                            "type": "boolean"
                          },
                          "isSerialControlled": {
                            "type": "boolean"
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "materialGroup": {
                            "type": "string"
                          },
                          "materialId": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "packagings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "project": {
                            "type": "string"
                          },
                          "shelfLife": {
                            "type": "number"
                          },
                          "standardCost": {
                            "type": "number"
                          },
                          "standardPrice": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "storageCategory": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/list-owners": {
      "get": {
        "operationId": "dateX.list-owners",
        "summary": "List Owners",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/list-owners"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.lookups[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project.lookups[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.names[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project.names[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project.statuses[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.statuses[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "lookup": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "projects": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dateX/latest/actions/list-sales-orders": {
      "get": {
        "operationId": "dateX.list-sales-orders",
        "summary": "List Sales Orders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dateX/latest/actions/list-sales-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude.userDefinedFields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.order_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "filters.created_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_export",
            "in": "query",
            "required": false,
            "description": "Set this to true to get only new data that haven't been exported before",
            "schema": {
              "type": "boolean",
              "description": "Set this to true to get only new data that haven't been exported before",
              "default": false
            }
          },
          {
            "name": "filters.owner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.warehouse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.created_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters.fulfilled_from",
[...]
