{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Unleashed Universal API",
    "version": "0.0.3",
    "description": "Manage inventory, products, customers, orders, and warehouses"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/unleashed/latest/actions/create-customer": {
      "post": {
        "operationId": "unleashed.create-customer",
        "summary": "Create Customer",
        "description": "Creates a new customer in Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/create-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerCode",
                  "customerName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerCode": {
                    "type": "string",
                    "description": "Unique code for the customer."
                  },
                  "customerName": {
                    "type": "string",
                    "description": "Display name for the customer."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "creditLimit": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerType": {
                            "type": "string"
                          },
                          "defaultWarehouse": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountRate": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "hasCreditLimit": {
                            "type": "boolean"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "obsolete": {
                            "type": "boolean"
                          },
                          "paymentTerm": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "stopCredit": {
                            "type": "boolean"
                          },
                          "taxable": {
                            "type": "boolean"
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/create-product": {
      "post": {
        "operationId": "unleashed.create-product",
        "summary": "Create Product",
        "description": "Creates a new product in Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/create-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "productCode",
                  "productDescription"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "productCode": {
                    "type": "string",
                    "description": "Unique code for the product."
                  },
                  "productDescription": {
                    "type": "string",
                    "description": "Description for the product."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternateUnitsOfMeasure": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "barcode": {
                            "type": "string"
                          },
                          "defaultPurchasePrice": {
                            "type": "number"
                          },
                          "defaultSellPrice": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "inventoryDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isBatchTracked": {
                            "type": "boolean"
                          },
                          "isPurchasable": {
                            "type": "boolean"
                          },
                          "isSellable": {
                            "type": "boolean"
                          },
                          "isSerialized": {
                            "type": "boolean"
                          },
                          "lastCost": {
                            "type": "number"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "obsolete": {
                            "type": "boolean"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "productDescription": {
                            "type": "string"
                          },
                          "productGroup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "supplier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxablePurchase": {
                            "type": "boolean"
                          },
                          "taxableSales": {
                            "type": "boolean"
                          },
                          "unitOfMeasure": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/create-purchase-order": {
      "post": {
        "operationId": "unleashed.create-purchase-order",
        "summary": "Create Purchase Order",
        "description": "Creates a new purchase order in Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/create-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "supplier.supplierCode",
                  "deliveryDate",
                  "taxCode",
                  "taxRate",
                  "orderStatus",
                  "warehouse.warehouseCode",
                  "purchaseOrderLines[].lineNumber",
                  "purchaseOrderLines[].orderQuantity",
                  "purchaseOrderLines[].lineTotal",
                  "purchaseOrderLines[].lineTax",
                  "purchaseOrderLines[].product.productCode",
                  "subTotal",
                  "taxTotal",
                  "total"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "supplier": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Supplier object for the purchase order."
                  },
                  "supplier.supplierCode": {
                    "type": "string",
                    "description": "Supplier code for the purchase order supplier."
                  },
                  "deliveryDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Requested delivery date for the purchase order."
                  },
                  "taxCode": {
                    "type": "string",
                    "description": "Tax code for the purchase order."
                  },
                  "taxRate": {
                    "type": "number",
                    "description": "Tax rate for the purchase order."
                  },
                  "discountRate": {
                    "type": "number",
                    "description": "Overall purchase order discount rate."
                  },
                  "orderStatus": {
                    "type": "string",
                    "description": "Order status for the purchase order."
                  },
                  "warehouse": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Warehouse object for the purchase order."
                  },
                  "warehouse.warehouseCode": {
                    "type": "string",
                    "description": "Warehouse code for the purchase order warehouse."
                  },
                  "purchaseOrderLines[].lineNumber": {
                    "type": "number",
                    "description": "Line number for the purchase order line."
                  },
                  "purchaseOrderLines[].orderQuantity": {
                    "type": "number",
                    "description": "Ordered quantity for the purchase order line."
                  },
                  "purchaseOrderLines[].unitPrice": {
                    "type": "number",
                    "description": "Unit price for the purchase order line."
                  },
                  "purchaseOrderLines[].lineTotal": {
                    "type": "number",
                    "description": "Line total for the purchase order line."
                  },
                  "purchaseOrderLines[].lineTax": {
                    "type": "number",
                    "description": "Line tax for the purchase order line."
                  },
                  "purchaseOrderLines[].product.productCode": {
                    "type": "string",
                    "description": "Product code for the purchase order line product."
                  },
                  "subTotal": {
                    "type": "number",
                    "description": "Purchase order subtotal."
                  },
                  "taxTotal": {
                    "type": "number",
                    "description": "Purchase order tax total."
                  },
                  "total": {
                    "type": "number",
                    "description": "Purchase order total."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string"
                          },
                          "completedDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deliveryDate": {
                            "type": "string"
                          },
                          "discountRate": {
                            "type": "number"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderStatus": {
                            "type": "string"
                          },
                          "purchaseOrderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "salesOrders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "supplier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "supplierInvoiceDate": {
                            "type": "string"
                          },
                          "supplierRef": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "taxTotal": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "warehouse": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/create-sales-order": {
      "post": {
        "operationId": "unleashed.create-sales-order",
        "summary": "Create Sales Order",
        "description": "Creates a new sales order in Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/create-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customer.customerCode",
                  "warehouse.warehouseCode",
                  "exchangeRate",
                  "orderStatus",
                  "tax.taxCode",
                  "tax.taxRate",
                  "taxRate",
                  "subTotal",
                  "taxTotal",
                  "total",
                  "salesOrderLines[].lineNumber",
                  "salesOrderLines[].product.productCode",
                  "salesOrderLines[].orderQuantity",
                  "salesOrderLines[].unitPrice",
                  "salesOrderLines[].lineTotal",
                  "salesOrderLines[].lineTax"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customer.customerCode": {
                    "type": "string",
                    "description": "Customer code for the sales order customer."
                  },
                  "warehouse.warehouseCode": {
                    "type": "string",
                    "description": "Warehouse code for the sales order warehouse."
                  },
                  "exchangeRate": {
                    "type": "number",
                    "description": "Exchange rate for the sales order."
                  },
                  "orderStatus": {
                    "type": "string",
                    "description": "Order status for the sales order."
                  },
                  "tax.taxCode": {
                    "type": "string",
                    "description": "Tax code for the sales order."
                  },
                  "tax.taxRate": {
                    "type": "number",
                    "description": "Tax rate inside the sales order tax object."
                  },
                  "taxRate": {
                    "type": "number",
                    "description": "Tax rate for the sales order."
                  },
                  "subTotal": {
                    "type": "number",
                    "description": "Sales order subtotal."
                  },
                  "taxTotal": {
                    "type": "number",
                    "description": "Sales order tax total."
                  },
                  "total": {
                    "type": "number",
                    "description": "Sales order total."
                  },
                  "salesOrderLines[].lineNumber": {
                    "type": "number",
                    "description": "Line number for the sales order line."
                  },
                  "salesOrderLines[].product.productCode": {
                    "type": "string",
                    "description": "Product code for the sales order line product."
                  },
                  "salesOrderLines[].orderQuantity": {
                    "type": "number",
                    "description": "Ordered quantity for the sales order line."
                  },
                  "salesOrderLines[].unitPrice": {
                    "type": "number",
                    "description": "Unit price for the sales order line."
                  },
                  "salesOrderLines[].lineTotal": {
                    "type": "number",
                    "description": "Line total for the sales order line."
                  },
                  "salesOrderLines[].lineTax": {
                    "type": "number",
                    "description": "Line tax for the sales order line."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allocateProduct": {
                            "type": "boolean"
                          },
                          "comments": {
                            "type": "string"
                          },
                          "completedDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerRef": {
                            "type": "string"
                          },
                          "customOrderStatus": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderStatus": {
                            "type": "string"
                          },
                          "paymentDueDate": {
                            "type": "string"
                          },
                          "requiredDate": {
                            "type": "string"
                          },
                          "salesOrderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "salesPerson": {
                            "type": "string"
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "tax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "taxTotal": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "warehouse": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/create-sales-shipment": {
      "post": {
        "operationId": "unleashed.create-sales-shipment",
        "summary": "Create Sales Shipment",
        "description": "Creates a new sales shipment in Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/create-sales-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "guid",
                  "orderNumber",
                  "shipmentStatus",
                  "salesShipmentLines[].product.productCode",
                  "salesShipmentLines[].shipmentQty",
                  "salesShipmentLines[].salesOrderLineNumber"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "guid": {
                    "type": "string",
                    "description": "Unique identifier for the sales shipment."
                  },
                  "orderNumber": {
                    "type": "string",
                    "description": "Order number for the sales shipment."
                  },
                  "shipmentStatus": {
                    "type": "string",
                    "description": "Shipment status for the sales shipment."
                  },
                  "salesShipmentLines[].product.productCode": {
                    "type": "string",
                    "description": "Product code for the sales shipment line."
                  },
                  "salesShipmentLines[].shipmentQty": {
                    "type": "number",
                    "description": "Shipment quantity for the sales shipment line."
                  },
                  "salesShipmentLines[].salesOrderLineNumber": {
                    "type": "number",
                    "description": "Sales order line number for the shipment line."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dispatchDate": {
                            "type": "string"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderGuid": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "salesShipmentLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shipmentNumber": {
                            "type": "string"
                          },
                          "shipmentStatus": {
                            "type": "string"
                          },
                          "shipmentStatusEnum": {
                            "type": "number"
                          },
                          "shippingCompany": {
                            "type": "string"
                          },
                          "totalCommercialValue": {
                            "type": "number"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/delete-purchase-order": {
      "delete": {
        "operationId": "unleashed.delete-purchase-order",
        "summary": "Delete Purchase Order",
        "description": "Deletes an existing purchase order from Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/delete-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderGuid",
            "in": "query",
            "required": true,
            "description": "The Unleashed purchase order GUID.",
            "schema": {
              "type": "string",
              "description": "The Unleashed purchase order GUID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string"
                          },
                          "completedDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deliveryDate": {
                            "type": "string"
                          },
                          "discountRate": {
                            "type": "number"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderStatus": {
                            "type": "string"
                          },
                          "purchaseOrderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "salesOrders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "supplier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "supplierInvoiceDate": {
                            "type": "string"
                          },
                          "supplierRef": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "taxTotal": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "warehouse": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/delete-sales-order": {
      "delete": {
        "operationId": "unleashed.delete-sales-order",
        "summary": "Delete Sales Order",
        "description": "Deletes an existing sales order from Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/delete-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderGuid",
            "in": "query",
            "required": true,
            "description": "The Unleashed sales order GUID.",
            "schema": {
              "type": "string",
              "description": "The Unleashed sales order GUID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "allocateProduct": {
                            "type": "boolean"
                          },
                          "comments": {
                            "type": "string"
                          },
                          "completedDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerRef": {
                            "type": "string"
                          },
                          "customOrderStatus": {
                            "type": "string"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderStatus": {
                            "type": "string"
                          },
                          "paymentDueDate": {
                            "type": "string"
                          },
                          "requiredDate": {
                            "type": "string"
                          },
                          "salesOrderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "salesPerson": {
                            "type": "string"
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "tax": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "taxTotal": {
                            "type": "number"
                          },
                          "total": {
                            "type": "number"
                          },
                          "warehouse": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/delete-sales-shipment": {
      "delete": {
        "operationId": "unleashed.delete-sales-shipment",
        "summary": "Delete Sales Shipment",
        "description": "Deletes an existing sales shipment from Unleashed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/delete-sales-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salesShipmentGuid",
            "in": "query",
            "required": true,
            "description": "The Unleashed sales shipment GUID.",
            "schema": {
              "type": "string",
              "description": "The Unleashed sales shipment GUID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "customer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "dispatchDate": {
                            "type": "string"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderGuid": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "salesShipmentLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "shipmentNumber": {
                            "type": "string"
                          },
                          "shipmentStatus": {
                            "type": "string"
                          },
                          "shipmentStatusEnum": {
                            "type": "number"
                          },
                          "shippingCompany": {
                            "type": "string"
                          },
                          "totalCommercialValue": {
                            "type": "number"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "warehouse": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/get-customer": {
      "get": {
        "operationId": "unleashed.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves a customer from your Unleashed customer directory.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerGuid",
            "in": "query",
            "required": true,
            "description": "The Unleashed customer GUID.",
            "schema": {
              "type": "string",
              "description": "The Unleashed customer GUID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "contacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "creditLimit": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "customerCode": {
                            "type": "string"
                          },
                          "customerName": {
                            "type": "string"
                          },
                          "customerType": {
                            "type": "string"
                          },
                          "defaultWarehouse": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "discountRate": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "hasCreditLimit": {
                            "type": "boolean"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "obsolete": {
                            "type": "boolean"
                          },
                          "paymentTerm": {
                            "type": "string"
                          },
                          "phoneNumber": {
                            "type": "string"
                          },
                          "stopCredit": {
                            "type": "boolean"
                          },
                          "taxable": {
                            "type": "boolean"
                          },
                          "taxCode": {
                            "type": "string"
                          },
                          "taxRate": {
                            "type": "number"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/get-product": {
      "get": {
        "operationId": "unleashed.get-product",
        "summary": "Get Product",
        "description": "Retrieves a product from your Unleashed inventory catalog.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/get-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productGuid",
            "in": "query",
            "required": true,
            "description": "The Unleashed product GUID.",
            "schema": {
              "type": "string",
              "description": "The Unleashed product GUID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alternateUnitsOfMeasure": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "barcode": {
                            "type": "string"
                          },
                          "defaultPurchasePrice": {
                            "type": "number"
                          },
                          "defaultSellPrice": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "inventoryDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "isBatchTracked": {
                            "type": "boolean"
                          },
                          "isPurchasable": {
                            "type": "boolean"
                          },
                          "isSellable": {
                            "type": "boolean"
                          },
                          "isSerialized": {
                            "type": "boolean"
                          },
                          "lastCost": {
                            "type": "number"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "obsolete": {
                            "type": "boolean"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "productDescription": {
                            "type": "string"
                          },
                          "productGroup": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "supplier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taxablePurchase": {
                            "type": "boolean"
                          },
                          "taxableSales": {
                            "type": "boolean"
                          },
                          "unitOfMeasure": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/unleashed/latest/actions/get-purchase-order": {
      "get": {
        "operationId": "unleashed.get-purchase-order",
        "summary": "Get Purchase Order",
        "description": "Retrieves a purchase order from your Unleashed account.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/unleashed/latest/actions/get-purchase-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderGuid",
            "in": "query",
            "required": true,
            "description": "The Unleashed purchase order GUID.",
            "schema": {
              "type": "string",
              "description": "The Unleashed purchase order GUID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "string"
                          },
                          "completedDate": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "deliveryDate": {
                            "type": "string"
                          },
                          "discountRate": {
                            "type": "number"
                          },
                          "exchangeRate": {
                            "type": "number"
                          },
                          "guid": {
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "orderDate": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "orderStatus": {
                            "type": "string"
                          },
                          "purchaseOrderLines": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "salesOrders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "subTotal": {
                            "type": "number"
                          },
                          "supplier": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "supplierInvoiceDate": {
                            "type": "string"
                          },
                          "supplierRef": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "object",
[...]
