{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Harvest Universal API",
    "version": "0.0.7",
    "description": "Track time, manage projects, and handle invoices in Harvest"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/harvest/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/harvest/latest/actions/create-client": {
      "post": {
        "operationId": "harvest.create-client",
        "summary": "Create Client",
        "description": "Creates a new client in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "address": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "statementKey": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-contact": {
      "post": {
        "operationId": "harvest.create-contact",
        "summary": "Create Contact",
        "description": "Creates a new contact in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "firstName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phoneOffice": {
                    "type": "string"
                  },
                  "phoneMobile": {
                    "type": "string"
                  },
                  "fax": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "email": {
                            "type": "string"
                          },
                          "fax": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "phoneMobile": {
                            "type": "string"
                          },
                          "phoneOffice": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-expense": {
      "post": {
        "operationId": "harvest.create-expense",
        "summary": "Create Expense",
        "description": "Creates a new expense in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-expense"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "expenseCategoryId",
                  "spentDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userId": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "projectId": {
                    "type": "number"
                  },
                  "expenseCategoryId": {
                    "type": "number"
                  },
                  "spentDate": {
                    "type": "string"
                  },
                  "units": {
                    "type": "number"
                  },
                  "totalCost": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "billable": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvalStatus": {
                            "type": "string"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expenseCategory": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isBilled": {
                            "type": "boolean"
                          },
                          "isClosed": {
                            "type": "boolean"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "lockedReason": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "receipt": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "spentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "totalCost": {
                            "type": "number"
                          },
                          "units": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "userAssignment": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-invoice": {
      "post": {
        "operationId": "harvest.create-invoice",
        "summary": "Create Invoice",
        "description": "Creates a new invoice in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "number"
                  },
                  "retainerId": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "estimateId": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "purchaseOrder": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "tax": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "tax2": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "discount": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "subject": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "issueDate": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "dueDate": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "paymentTerm": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "paymentOptions[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].kind": {
                    "type": "string"
                  },
                  "lineItemsImport": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "lineItems[].description": {
                    "type": "string"
                  },
                  "lineItems[].quantity": {
                    "type": "number"
                  },
                  "lineItems[].unitPrice": {
                    "type": "number"
                  },
                  "lineItems[].projectId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientKey": {
                            "type": "string"
                          },
                          "closedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currency": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "discountAmount": {
                            "type": "number"
                          },
                          "dueAmount": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "estimate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "issueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "paidAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paidDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentOptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "paymentTerm": {
                            "type": "string"
                          },
                          "periodEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "periodStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseOrder": {
                            "type": "string"
                          },
                          "recurringInvoiceId": {
                            "type": "number"
                          },
                          "retainer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "state": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "number"
                          },
                          "tax2": {
                            "type": "number"
                          },
                          "tax2Amount": {
                            "type": "number"
                          },
                          "taxAmount": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-project": {
      "post": {
        "operationId": "harvest.create-project",
        "summary": "Create Project",
        "description": "Creates a new project in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "clientId",
                  "name",
                  "isBillable",
                  "billBy",
                  "budgetBy"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "clientId": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "isBillable": {
                    "type": "boolean"
                  },
                  "isFixedFee": {
                    "type": "boolean"
                  },
                  "billBy": {
                    "type": "string"
                  },
                  "hourlyRate": {
                    "type": "number"
                  },
                  "budgetBy": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "budgetIsMonthly": {
                    "type": "boolean"
                  },
                  "costBudget": {
                    "type": "number"
                  },
                  "costBudgetIncludeExpenses": {
                    "type": "boolean"
                  },
                  "notifyWhenOverBudget": {
                    "type": "boolean"
                  },
                  "overBudgetNotificationPercentage": {
                    "type": "number"
                  },
                  "showBudgetToAll": {
                    "type": "boolean"
                  },
                  "fee": {
                    "type": "number"
                  },
                  "startsOn": {
                    "type": "string"
                  },
                  "endsOn": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billBy": {
                            "type": "string"
                          },
                          "budget": {
                            "type": "number"
                          },
                          "budgetBy": {
                            "type": "string"
                          },
                          "budgetIsMonthly": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "code": {
                            "type": "string"
                          },
                          "costBudget": {
                            "type": "number"
                          },
                          "costBudgetIncludeExpenses": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endsOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "hourlyRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isBillable": {
                            "type": "boolean"
                          },
                          "isFixedFee": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "notifyWhenOverBudget": {
                            "type": "boolean"
                          },
                          "overBudgetNotificationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "overBudgetNotificationPercentage": {
                            "type": "number"
                          },
                          "showBudgetToAll": {
                            "type": "boolean"
                          },
                          "startsOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-project-task-assignment": {
      "post": {
        "operationId": "harvest.create-project-task-assignment",
        "summary": "Create Project Task Assignment",
        "description": "Creates a task assignment for a project in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-project-task-assignment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "taskId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "projectId": {
                    "type": "number"
                  },
                  "taskId": {
                    "type": "number"
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "billable": {
                    "type": "boolean"
                  },
                  "hourlyRate": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "budget": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billable": {
                            "type": "boolean"
                          },
                          "budget": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hourlyRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "task": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-task": {
      "post": {
        "operationId": "harvest.create-task",
        "summary": "Create Task",
        "description": "Creates a new task in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "billableByDefault": {
                    "type": "boolean"
                  },
                  "defaultHourlyRate": {
                    "type": "number"
                  },
                  "isDefault": {
                    "type": "boolean"
                  },
                  "isActive": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billableByDefault": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "defaultHourlyRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isDefault": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/create-time-entry": {
      "post": {
        "operationId": "harvest.create-time-entry",
        "summary": "Create Time Entry",
        "description": "Creates a new time entry in Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/create-time-entry"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "projectId",
                  "taskId",
                  "spentDate"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "userId": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "projectId": {
                    "type": "number"
                  },
                  "taskId": {
                    "type": "number"
                  },
                  "spentDate": {
                    "type": "string"
                  },
                  "hours": {
                    "type": "number"
                  },
                  "startedTime": {
                    "type": "string"
                  },
                  "endedTime": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "externalReference": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "approvalStatus": {
                            "type": "string"
                          },
                          "billable": {
                            "type": "boolean"
                          },
                          "billableRate": {
                            "type": "number"
                          },
                          "budgeted": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "costRate": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endedTime": {
                            "type": "string"
                          },
                          "externalReference": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "hours": {
                            "type": "number"
                          },
                          "hoursWithoutTimer": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "invoice": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isBilled": {
                            "type": "boolean"
                          },
                          "isClosed": {
                            "type": "boolean"
                          },
                          "isLocked": {
                            "type": "boolean"
                          },
                          "isRunning": {
                            "type": "boolean"
                          },
                          "lockedReason": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "project": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "roundedHours": {
                            "type": "number"
                          },
                          "spentDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "startedTime": {
                            "type": "string"
                          },
                          "task": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "taskAssignment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "timerStartedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "userAssignment": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/delete-client": {
      "delete": {
        "operationId": "harvest.delete-client",
        "summary": "Delete client",
        "description": "Deletes an existing client from Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/delete-client"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "statementKey": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/delete-invoice": {
      "delete": {
        "operationId": "harvest.delete-invoice",
        "summary": "Delete invoice",
        "description": "Deletes an existing invoice from Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/delete-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "clientKey": {
                            "type": "string"
                          },
                          "closedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "creator": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "currency": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "discountAmount": {
                            "type": "number"
                          },
                          "dueAmount": {
                            "type": "number"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "estimate": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "number"
                          },
                          "issueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "notes": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "paidAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paidDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "paymentOptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "paymentTerm": {
                            "type": "string"
                          },
                          "periodEnd": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "periodStart": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "purchaseOrder": {
                            "type": "string"
                          },
                          "recurringInvoiceId": {
                            "type": "number"
                          },
                          "retainer": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sentAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "state": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "tax": {
                            "type": "number"
                          },
                          "tax2": {
                            "type": "number"
                          },
                          "tax2Amount": {
                            "type": "number"
                          },
                          "taxAmount": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/delete-project": {
      "delete": {
        "operationId": "harvest.delete-project",
        "summary": "Delete project",
        "description": "Deletes an existing project from Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/delete-project"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "billBy": {
                            "type": "string"
                          },
                          "budget": {
                            "type": "number"
                          },
                          "budgetBy": {
                            "type": "string"
                          },
                          "budgetIsMonthly": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "code": {
                            "type": "string"
                          },
                          "costBudget": {
                            "type": "number"
                          },
                          "costBudgetIncludeExpenses": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "endsOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fee": {
                            "type": "number"
                          },
                          "hourlyRate": {
                            "type": "number"
                          },
                          "id": {
                            "type": "number"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "isBillable": {
                            "type": "boolean"
                          },
                          "isFixedFee": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "notifyWhenOverBudget": {
                            "type": "boolean"
                          },
                          "overBudgetNotificationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "overBudgetNotificationPercentage": {
                            "type": "number"
                          },
                          "showBudgetToAll": {
                            "type": "boolean"
                          },
                          "startsOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvest/latest/actions/delete-task": {
      "delete": {
        "operationId": "harvest.delete-task",
        "summary": "Delete task",
        "description": "Deletes an existing task from Harvest.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvest/latest/actions/delete-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
[...]
