{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DailyMed Universal API",
    "version": "0.1.2",
    "description": "Access current DailyMed Structured Product Labeling (SPL) information, including drug labels, NDCs, RxCUIs, drug classes, application numbers, media links, packaging, and ingredient identifiers from the National Library of Medicine."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/dailyMed/latest/actions/get-spl-xml-document": {
      "get": {
        "operationId": "dailyMed.get-spl-xml-document",
        "summary": "Get SPL XML Document",
        "description": "Retrieves an SPL XML document from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/get-spl-xml-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": true,
            "description": "The DailyMed SET ID of the SPL XML document to fetch.",
            "schema": {
              "type": "string",
              "description": "The DailyMed SET ID of the SPL XML document to fetch.",
              "example": "4543e156-1deb-666e-e063-6394a90a719c",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Raw SPL XML document response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-application-numbers": {
      "get": {
        "operationId": "dailyMed.list-application-numbers",
        "summary": "List Application Numbers",
        "description": "Retrieves application numbers from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-application-numbers"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationNumber",
            "in": "query",
            "required": false,
            "description": "Application number of a drug.",
            "schema": {
              "type": "string",
              "description": "Application number of a drug."
            }
          },
          {
            "name": "marketingCategoryCode",
            "in": "query",
            "required": false,
            "description": "Marketing category code of a drug.",
            "schema": {
              "type": "string",
              "description": "Marketing category code of a drug."
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": false,
            "description": "Set ID of a label.",
            "schema": {
              "type": "string",
              "description": "Set ID of a label.",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "application_number": {
                            "type": "string",
                            "description": "Application number."
                          },
                          "marketing_category_code": {
                            "type": "string",
                            "description": "Marketing category code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-drug-classes": {
      "get": {
        "operationId": "dailyMed.list-drug-classes",
        "summary": "List Drug Classes",
        "description": "Retrieves drug classes from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-drug-classes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "className",
            "in": "query",
            "required": false,
            "description": "Name of the drug class.",
            "schema": {
              "type": "string",
              "description": "Name of the drug class."
            }
          },
          {
            "name": "drugClassCode",
            "in": "query",
            "required": false,
            "description": "Pharmacologic drug class code.",
            "schema": {
              "type": "string",
              "description": "Pharmacologic drug class code."
            }
          },
          {
            "name": "drugClassCodingSystem",
            "in": "query",
            "required": false,
            "description": "Coding system for the drug class code.",
            "schema": {
              "type": "string",
              "description": "Coding system for the drug class code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "classCodeType",
            "in": "query",
            "required": false,
            "description": "Drug class type: all, epc, moa, pe, or ci.",
            "schema": {
              "type": "string",
              "description": "Drug class type: all, epc, moa, pe, or ci.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "uniiCode",
            "in": "query",
            "required": false,
            "description": "Unique Ingredient Identifier code.",
            "schema": {
              "type": "string",
              "description": "Unique Ingredient Identifier code.",
              "default": "R16CO5Y76E"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Drug class code."
                          },
                          "codingSystem": {
                            "type": "string",
                            "description": "Coding system for the drug class code."
                          },
                          "name": {
                            "type": "string",
                            "description": "Drug class name."
                          },
                          "type": {
                            "type": "string",
                            "description": "Drug class type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-drug-names": {
      "get": {
        "operationId": "dailyMed.list-drug-names",
        "summary": "List Drug Names",
        "description": "Retrieves drug names from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-drug-names"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drugName",
            "in": "query",
            "required": false,
            "description": "Generic or brand name of the drug.",
            "schema": {
              "type": "string",
              "description": "Generic or brand name of the drug.",
              "default": "acetaminophen"
            }
          },
          {
            "name": "nameType",
            "in": "query",
            "required": false,
            "description": "Whether the drug name is generic, brand, or both.",
            "schema": {
              "type": "string",
              "description": "Whether the drug name is generic, brand, or both.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "required": false,
            "description": "Name of manufacturer for the drug.",
            "schema": {
              "type": "string",
              "description": "Name of manufacturer for the drug.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "drug_name": {
                            "type": "string",
                            "description": "Drug generic or brand name."
                          },
                          "name_type": {
                            "type": "string",
                            "description": "Name type, such as G for generic or B for brand."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-ndcs": {
      "get": {
        "operationId": "dailyMed.list-ndcs",
        "summary": "List NDCs",
        "description": "Retrieves NDCs from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-ndcs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ndc": {
                            "type": "string",
                            "description": "National Drug Code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-rxcuis": {
      "get": {
        "operationId": "dailyMed.list-rxcuis",
        "summary": "List RxCUIs",
        "description": "Retrieves RxCUIs from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-rxcuis"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rxcui",
            "in": "query",
            "required": false,
            "description": "Unique Identifier code for an RxConcept.",
            "schema": {
              "type": "string",
              "description": "Unique Identifier code for an RxConcept."
            }
          },
          {
            "name": "rxstring",
            "in": "query",
            "required": false,
            "description": "RxString value of an RxConcept.",
            "schema": {
              "type": "string",
              "description": "RxString value of an RxConcept.",
              "default": "acetaminophen"
            }
          },
          {
            "name": "rxtty",
            "in": "query",
            "required": false,
            "description": "RxNorm term type, such as PSN, SBD, SCD, BPCK, GPCK, or SY.",
            "schema": {
              "type": "string",
              "description": "RxNorm term type, such as PSN, SBD, SCD, BPCK, GPCK, or SY.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rxcui": {
                            "type": "number",
                            "description": "RxNorm Concept Unique Identifier."
                          },
                          "rxstring": {
                            "type": "string",
                            "description": "RxNorm string."
                          },
                          "rxtty": {
                            "type": "string",
                            "description": "RxNorm term type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-spl-history": {
      "get": {
        "operationId": "dailyMed.list-spl-history",
        "summary": "List SPL History",
        "description": "Retrieves SPL version history from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-spl-history"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": true,
            "description": "The DailyMed SET ID of the SPL whose version history should be returned.",
            "schema": {
              "type": "string",
              "description": "The DailyMed SET ID of the SPL whose version history should be returned.",
              "example": "4543e156-1deb-666e-e063-6394a90a719c",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "published_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Version publication date."
                          },
                          "spl_version": {
                            "type": "number",
                            "description": "SPL version number."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-spl-media": {
      "get": {
        "operationId": "dailyMed.list-spl-media",
        "summary": "List SPL Media",
        "description": "Retrieves SPL media from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-spl-media"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": true,
            "description": "The DailyMed SET ID of the SPL whose media links should be returned.",
            "schema": {
              "type": "string",
              "description": "The DailyMed SET ID of the SPL whose media links should be returned.",
              "example": "4543e156-1deb-666e-e063-6394a90a719c",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mime_type": {
                            "type": "string",
                            "description": "Media MIME type."
                          },
                          "name": {
                            "type": "string",
                            "description": "Media file name."
                          },
                          "url": {
                            "type": "string",
                            "description": "DailyMed media URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-spl-ndcs": {
      "get": {
        "operationId": "dailyMed.list-spl-ndcs",
        "summary": "List SPL NDCs",
        "description": "Retrieves NDCs for an SPL from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-spl-ndcs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": true,
            "description": "The DailyMed SET ID of the SPL whose associated NDCs should be returned.",
            "schema": {
              "type": "string",
              "description": "The DailyMed SET ID of the SPL whose associated NDCs should be returned.",
              "example": "4543e156-1deb-666e-e063-6394a90a719c",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ndc": {
                            "type": "string",
                            "description": "National Drug Code associated with the SPL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-spl-packaging": {
      "get": {
        "operationId": "dailyMed.list-spl-packaging",
        "summary": "List SPL Packaging",
        "description": "Retrieves SPL packaging details from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-spl-packaging"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": true,
            "description": "The DailyMed SET ID of the SPL whose packaging details should be returned.",
            "schema": {
              "type": "string",
              "description": "The DailyMed SET ID of the SPL whose packaging details should be returned.",
              "example": "4543e156-1deb-666e-e063-6394a90a719c",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active_ingredients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Active ingredients listed for the product."
                          },
                          "packaging": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Packaging descriptions for the product."
                          },
                          "product_code": {
                            "type": "string",
                            "description": "Product code."
                          },
                          "product_name": {
                            "type": "string",
                            "description": "Product name."
                          },
                          "product_name_generic": {
                            "type": "string",
                            "description": "Generic product name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-spls": {
      "get": {
        "operationId": "dailyMed.list-spls",
        "summary": "List SPLs",
        "description": "Retrieves SPLs from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-spls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "drugName",
            "in": "query",
            "required": false,
            "description": "Generic or brand name to search for.",
            "schema": {
              "type": "string",
              "description": "Generic or brand name to search for."
            }
          },
          {
            "name": "ndc",
            "in": "query",
            "required": false,
            "description": "National Drug Code to search for.",
            "schema": {
              "type": "string",
              "description": "National Drug Code to search for."
            }
          },
          {
            "name": "rxcui",
            "in": "query",
            "required": false,
            "description": "RxNorm Concept Unique Identifier.",
            "schema": {
              "type": "string",
              "description": "RxNorm Concept Unique Identifier."
            }
          },
          {
            "name": "setid",
            "in": "query",
            "required": false,
            "description": "Set ID of a label.",
            "schema": {
              "type": "string",
              "description": "Set ID of a label.",
              "default": "4543e156-1deb-666e-e063-6394a90a719c"
            }
          },
          {
            "name": "applicationNumber",
            "in": "query",
            "required": false,
            "description": "New Drug Application number.",
            "schema": {
              "type": "string",
              "description": "New Drug Application number."
            }
          },
          {
            "name": "publishedDate",
            "in": "query",
            "required": false,
            "description": "DailyMed published date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "DailyMed published date in YYYY-MM-DD format."
            }
          },
          {
            "name": "publishedDateComparison",
            "in": "query",
            "required": false,
            "description": "Comparison for the published date: lt, lte, gt, gte, or eq.",
            "schema": {
              "type": "string",
              "description": "Comparison for the published date: lt, lte, gt, gte, or eq."
            }
          },
          {
            "name": "nameType",
            "in": "query",
            "required": false,
            "description": "Whether the drug name is generic, brand, or both.",
            "schema": {
              "type": "string",
              "description": "Whether the drug name is generic, brand, or both.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "boxedWarning",
            "in": "query",
            "required": false,
            "description": "Whether the drug contains a boxed warning: true or false.",
            "schema": {
              "type": "boolean",
              "description": "Whether the drug contains a boxed warning: true or false.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "deaScheduleCode",
            "in": "query",
            "required": false,
            "description": "DEA schedule code, such as none, C48672, C48675, C48676, C48677, or C48679.",
            "schema": {
              "type": "string",
              "description": "DEA schedule code, such as none, C48672, C48675, C48676, C48677, or C48679.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "doctype",
            "in": "query",
            "required": false,
            "description": "FDA LOINC document/content type code for the label.",
            "schema": {
              "type": "string",
              "description": "FDA LOINC document/content type code for the label.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "drugClassCode",
            "in": "query",
            "required": false,
            "description": "Pharmacologic drug class code.",
            "schema": {
              "type": "string",
              "description": "Pharmacologic drug class code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "drugClassCodingSystem",
            "in": "query",
            "required": false,
            "description": "Coding system for the drug class code.",
            "schema": {
              "type": "string",
              "description": "Coding system for the drug class code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "labeler",
            "in": "query",
            "required": false,
            "description": "Name of the labeler for the drug.",
            "schema": {
              "type": "string",
              "description": "Name of the labeler for the drug.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "required": false,
            "description": "Name of the manufacturer for the drug.",
            "schema": {
              "type": "string",
              "description": "Name of the manufacturer for the drug.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "marketingCategoryCode",
            "in": "query",
            "required": false,
            "description": "FDA marketing category code.",
            "schema": {
              "type": "string",
              "description": "FDA marketing category code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "uniiCode",
            "in": "query",
            "required": false,
            "description": "Unique Ingredient Identifier code.",
            "schema": {
              "type": "string",
              "description": "Unique Ingredient Identifier code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "published_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date the label was published on DailyMed."
                          },
                          "setid": {
                            "type": "string",
                            "description": "SPL Set ID."
                          },
                          "spl_version": {
                            "type": "number",
                            "description": "SPL version number."
                          },
                          "title": {
                            "type": "string",
                            "description": "SPL title."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/dailyMed/latest/actions/list-uniis": {
      "get": {
        "operationId": "dailyMed.list-uniis",
        "summary": "List UNIIs",
        "description": "Retrieves UNIIs from DailyMed.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/dailyMed/latest/actions/list-uniis"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uniiCode",
            "in": "query",
            "required": false,
            "description": "Unique Ingredient Identifier code.",
            "schema": {
              "type": "string",
              "description": "Unique Ingredient Identifier code."
            }
          },
          {
            "name": "activeMoiety",
            "in": "query",
            "required": false,
            "description": "Active moiety related to a UNII code.",
            "schema": {
              "type": "string",
              "description": "Active moiety related to a UNII code.",
              "default": "ASPIRIN"
            }
          },
          {
            "name": "rxcui",
            "in": "query",
            "required": false,
            "description": "RxNorm Concept Unique Identifier code.",
            "schema": {
              "type": "string",
              "description": "RxNorm Concept Unique Identifier code."
            }
          },
          {
            "name": "drugClassCode",
            "in": "query",
            "required": false,
            "description": "Pharmacologic drug class code.",
            "schema": {
              "type": "string",
              "description": "Pharmacologic drug class code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "drugClassCodingSystem",
            "in": "query",
            "required": false,
            "description": "Coding system for the drug class code.",
            "schema": {
              "type": "string",
              "description": "Coding system for the drug class code.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active_moiety": {
                            "type": "string",
                            "description": "Active moiety related to the UNII."
                          },
                          "unii_code": {
                            "type": "string",
                            "description": "Unique Ingredient Identifier code."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
