{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TestDome Universal API",
    "version": "0.0.5",
    "description": "Connect TestDome to manage screening tests, candidates, invitations, reports, and test settings from the TestDome API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/testDome/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/testDome/latest/actions/archive-candidates": {
      "put": {
        "operationId": "testDome.archive-candidates",
        "summary": "Archive Candidates",
        "description": "Archives candidates in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/archive-candidates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "candidateIds"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "candidateIds": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "failedCandidates": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "The IDs of the candidate that couldn't be archived or unarchived."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/archive-test": {
      "put": {
        "operationId": "testDome.archive-test",
        "summary": "Archive Test",
        "description": "Archives a test in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/archive-test"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "testId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "testId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/cancel-candidate-invite": {
      "put": {
        "operationId": "testDome.cancel-candidate-invite",
        "summary": "Cancel Candidate Invite",
        "description": "Cancels a candidate invite in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/cancel-candidate-invite"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "candidateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "candidateId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/create-candidate-sharing-url": {
      "post": {
        "operationId": "testDome.create-candidate-sharing-url",
        "summary": "Create Candidate Sharing URL",
        "description": "Creates a candidate sharing URL in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/create-candidate-sharing-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "candidateId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "candidateId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shareUrl": {
                            "type": "string",
                            "description": "The full shareable URL to access the candidate report."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/create-test-candidates-share-url": {
      "post": {
        "operationId": "testDome.create-test-candidates-share-url",
        "summary": "Create Test Candidates Share URL",
        "description": "Creates a share URL for test candidates in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/create-test-candidates-share-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "testId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "testId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "shareUrl": {
                            "type": "string",
                            "description": "Shareable URL to access candidate reports on a test."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/create-test-url": {
      "post": {
        "operationId": "testDome.create-test-url",
        "summary": "Create Test URL",
        "description": "Creates a new test URL in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/create-test-url"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "testId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "testId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "candidatesCompleted": {
                            "type": "number",
                            "description": "The amount of candidates that completed the test using the test URL."
                          },
                          "disabled": {
                            "type": "boolean",
                            "description": "Determines if the test URL is disabled."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID of the test URL."
                          },
                          "key": {
                            "type": "string",
                            "description": "The unique string that composes the test URL."
                          },
                          "modified": {
                            "type": "string",
                            "description": "The time the URL was last modified."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the test URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/delete-test": {
      "delete": {
        "operationId": "testDome.delete-test",
        "summary": "Delete Test",
        "description": "Deletes an existing test from TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/delete-test"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/extend-test-candidate-deadline": {
      "put": {
        "operationId": "testDome.extend-test-candidate-deadline",
        "summary": "Extend Test Candidate Deadline",
        "description": "Extends test candidate deadlines in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/extend-test-candidate-deadline"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "testId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "candidateIds": {
                    "type": "string"
                  },
                  "newDeadline": {
                    "type": "string"
                  },
                  "testId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "failedCandidateIds": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "The list of candidates, which deadline's couldn't be extended, represented by their IDs."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/get-candidate": {
      "get": {
        "operationId": "testDome.get-candidate",
        "summary": "Get Candidate",
        "description": "Retrieves a candidate from TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/get-candidate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidateId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "activities": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The activities associated with the candidate."
                          },
                          "anonymized": {
                            "type": "string",
                            "description": "The date when the candidate was anonymized. Remarks: Can be null if the candidate was not anonymized yet."
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Determines if the candidate is archived."
                          },
                          "betterThan": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The percentage of candidates that the current candidate outperforms. Remarks: If null , the candidate didn't finish the test yet."
                          },
                          "certificate": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The certificate associated with the candidate. Remarks: This can be null if the candidate doesn't have a certificate."
                          },
                          "deadline": {
                            "type": "string",
                            "description": "The deadline for the candidate to take the test. Remarks: Can be null if the candidate does not have a set deadline."
                          },
                          "email": {
                            "type": "string",
                            "description": "The email."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID of the candidate."
                          },
                          "invitationKey": {
                            "type": "string",
                            "description": "The unique invitation key."
                          },
                          "maxScore": {
                            "type": "number",
                            "description": "The potential max score of the candidate. Remarks: It will only have a value if it's not equal CandidateModel.Score ."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the candidate."
                          },
                          "needsScoring": {
                            "type": "boolean",
                            "description": "Determines if the candidate has answers that need to be manually scored."
                          },
                          "notes": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The notes associated with the candidate."
                          },
                          "passed": {
                            "type": "boolean",
                            "description": "Determines if the candidate has passed the test. Remarks: Always false if candidate has not finished the test yet. This property depends on the cutoff score and can also be overridden per candidate. Before using this property, check CandidateModel.PassedOverride . If that is null , the value of this property prevails."
                          },
                          "passedOverride": {
                            "type": "boolean",
                            "description": "Overrides the value of CandidateModel.Passed . Remarks: If it's null , no override has been applied and that value must be considered (ignoring this one)."
                          },
                          "possibleCheating": {
                            "type": "boolean",
                            "description": "Determines if the candidate possibly cheated on its test."
                          },
                          "possibleCheatingAttempts": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The possible cheating attempts of the candidate."
                          },
                          "proctoringEnabled": {
                            "type": "boolean",
                            "description": "Determines if proctoring is enabled for the candidate."
                          },
                          "proctoringStatus": {
                            "type": "string",
                            "description": "The proctoring status of the candidate."
                          },
                          "questions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The questions and answers associated with the candidate."
                          },
                          "score": {
                            "type": "number",
                            "description": "The score of the candidate. Remarks: If null , the candidate didn't finish the test yet."
                          },
                          "shouldNotify": {
                            "type": "boolean",
                            "description": "Determines if the candidate should be notified via email about its result in the test."
                          },
                          "skillScores": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The scores per skill of the candidate."
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the candidate."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The tags associated with the candidate."
                          },
                          "test": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The test that the candidate is invited to."
                          },
                          "testUrl": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The details of the Test URL used to invite the candidate. Remarks: It will be null if the candidate was not invited via a Test URL (invited via URL)."
                          },
                          "timeTaken": {
                            "type": "number",
                            "description": "The time (in seconds) the candidate took to finish the test. Remarks: This is 0 if the candidate didn't finish the test yet."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/get-current-plan": {
      "get": {
        "operationId": "testDome.get-current-plan",
        "summary": "Get Current Plan",
        "description": "Retrieves the current plan from TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/get-current-plan"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "canCloneQuestions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "If PlanAuthorizationModel.Authorized = `true`, this account can clone questions. If PlanAuthorizationModel.Authorized = `false`, the PlanAuthorizationModel.ErrorMessage property will be filled with information of why the authorization failed."
                          },
                          "canCreateTest": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "If PlanAuthorizationModel.Authorized = `true`, the plan allows the user to create tests. If PlanAuthorizationModel.Authorized = `false`, the PlanAuthorizationModel.ErrorMessage property will be filled with information of why the authorization failed."
                          },
                          "id": {
                            "type": "number",
                            "description": "The plan ID."
                          },
                          "isPaymentSubscriptionActive": {
                            "type": "boolean",
                            "description": "Indicates if the plan has an active payment method set up."
                          },
                          "isSubscription": {
                            "type": "boolean",
                            "description": "Indicates if the plan is a recurring subscription."
                          },
                          "isTrial": {
                            "type": "boolean",
                            "description": "Indicates if the plan is a trial."
                          },
                          "name": {
                            "type": "string",
                            "description": "The plan name."
                          },
                          "questionsToCloneAvailable": {
                            "type": "number",
                            "description": "The remaining number of questions that can be cloned this month."
                          },
                          "supportsPremiumFeatures": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "If PlanAuthorizationModel.Authorized = `true`, this account supports premium features. This flag does not indicate if the plan is paid. If PlanAuthorizationModel.Authorized = `false`, the PlanAuthorizationModel.ErrorMessage property will be filled with information of why the authorization failed. For example, it can be a trial plan, which is not paid but allows users to see premium questions and take advantage of other premium features."
                          },
                          "supportsSso": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "If PlanAuthorizationModel.Authorized = `true`, this account supports SSO. If PlanAuthorizationModel.Authorized = `false`, the PlanAuthorizationModel.ErrorMessage property will be filled with information of why the authorization failed."
                          },
                          "type": {
                            "type": "string",
                            "description": "The plan type."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/get-test": {
      "get": {
        "operationId": "testDome.get-test",
        "summary": "Get Test",
        "description": "Retrieves a test from TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/get-test"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "affectedByNextDeprecation": {
                            "type": "boolean",
                            "description": "Indicates if the test is affected by the next question deprecation wave."
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "The flag to describe if the test is archived."
                          },
                          "candidatesCount": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The total of candidates in this test."
                          },
                          "created": {
                            "type": "string",
                            "description": "The date of creation."
                          },
                          "cutoffScore": {
                            "type": "number",
                            "description": "Minimum score for a candidate to be considered approved. Range is [0, 100]."
                          },
                          "daysUntilNextDeprecation": {
                            "type": "number",
                            "description": "Indicates how many days until the next question deprecation wave. Note that this test will only be affected if TestModel.AffectedByNextDeprecation is `true`."
                          },
                          "description": {
                            "type": "string",
                            "description": "The description (plain text)."
                          },
                          "expectedPassRate": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The percentage of candidates expected to pass this test considering the current questions."
                          },
                          "id": {
                            "type": "number",
                            "description": "The ID."
                          },
                          "inviteViaEmailParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The last parameters used to invite a candidate via email in this test."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name."
                          },
                          "needsScoring": {
                            "type": "number",
                            "description": "Returns the number of candidates that need scoring. If null, the test does not have manually scored questions."
                          },
                          "notifyCandidatesParameters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The last parameters used to notify candidate's passing status via email in this test."
                          },
                          "notifyTo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Defines the email addresses of those that will be notified when a candidate finishes this test."
                          },
                          "owner": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The owner (author) of this test."
                          },
                          "proctoringConsent": {
                            "type": "boolean",
                            "description": "Indicates if the consent to enable proctoring was provided. Remarks: The value can be: - true : the consent request was given and it shouldn't be requested on the next invitation. - false : the consent request wasn't given or was denied and it should be requested on the next invitation."
                          },
                          "questions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The questions that make up this test."
                          },
                          "questionsCount": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The total of questions in this test."
                          },
                          "scheduledCandidatesCount": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The total of scheduled candidates in this test."
                          },
                          "skills": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The skills of the questions of this test."
                          },
                          "testUrls": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The URLs used to share this test."
                          },
                          "testUrlStatus": {
                            "type": "string",
                            "description": "The status of the test URL(s) in this test. none: Test has no URL(s) created. on: Test has URL(s) available for candidates to take the test. off: Test has URL(s) created but none is available for candidates to take the test."
                          },
                          "timeLimit": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The time limit of all the questions in this test."
                          },
                          "urlSettings": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The URL settings of this test."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/get-test-settings": {
      "get": {
        "operationId": "testDome.get-test-settings",
        "summary": "Get Test Settings",
        "description": "Retrieves test settings from TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/get-test-settings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "databaseOptions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "If the test contains multi-sql questions, this setting defines databases that can be used by the candidate."
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the test."
                          },
                          "integrationDeadlineInDays": {
                            "type": "number",
                            "description": "Gets or sets the deadline in days for candidates invited through integration."
                          },
                          "integrationProctoring": {
                            "type": "boolean",
                            "description": "Gets or sets whether invites would have Proctoring enabled for candidates invited through integration."
                          },
                          "isAiForbidden": {
                            "type": "boolean",
                            "description": "Gets or sets whether AI tools are forbidden for candidates taking this test."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the test."
                          },
                          "notifyTo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Defines the email addresses of those that will be notified when a candidate finishes this test."
                          },
                          "showFinalScoreToCandidate": {
                            "type": "boolean",
                            "description": "Defines if candidates are able to see their score when they finish the test."
                          },
                          "timingPolicy": {
                            "type": "string",
                            "description": "Defines the timing policy of the test, to decide how strict is the time limit enforcement. strict: Candidates will have the exact amount of time defined by the question. normal: Candidates will have the amount of time with an extra 50% buffer. relaxed: Candidates will have the amount of time with an extra 200% buffer."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/testDome/latest/actions/invite-candidates-via-email": {
      "post": {
        "operationId": "testDome.invite-candidates-via-email",
        "summary": "Invite Candidates Via Email",
        "description": "Invites candidates via email in TestDome.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/testDome/latest/actions/invite-candidates-via-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "deadline",
                  "emailBody",
                  "emails",
                  "proctoringEnabled",
                  "replyTo",
                  "testId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "deadline": {
                    "type": "string"
                  },
                  "emailBody": {
                    "type": "string"
                  },
                  "emails": {
                    "type": "string"
                  },
                  "proctoringEnabled": {
                    "type": "boolean"
                  },
                  "replyTo": {
                    "type": "string"
                  },
                  "testId": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Dictionary"
                          },
                          "failedEmails": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The emails of the invitations that failed to be sent."
                          },
                          "message": {
                            "type": "string",
                            "description": "The message that describes an error, if any, in the invitation request. If everything worked as expected, this will be `null`."
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The results of the invitation request."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
[...]
