{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SignRequest Universal API",
    "version": "0.0.7",
    "description": "Send, sign, and manage documents with SignRequest"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/signRequest/latest/actions/cancel-sign-request": {
      "put": {
        "operationId": "signRequest.cancel-sign-request",
        "summary": "Cancel SignRequest",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/cancel-sign-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "uuid"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "UUID of the SignRequest to cancel",
                    "example": "38525278-876a-4f53-a69c-db39e82c753f"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cancelled": {
                            "type": "boolean"
                          },
                          "detail": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/create-document": {
      "post": {
        "operationId": "signRequest.create-document",
        "summary": "Create Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/create-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "fileFromUrl": {
                    "type": "string",
                    "description": "Publicly accessible URL of the document to download",
                    "example": "https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
                  },
                  "name": {
                    "type": "string",
                    "description": "Defaults to filename, including extension",
                    "example": "agreement.pdf"
                  },
                  "fileFromContent": {
                    "type": "string",
                    "description": "Base64 encoded document content",
                    "example": "JVBERi0xLjQKJcTl8uXr...",
                    "x-mindcloud-advanced": true
                  },
                  "fileFromContentName": {
                    "type": "string",
                    "description": "Filename, including extension, required when using file_from_content",
                    "example": "contract.pdf",
                    "x-mindcloud-advanced": true
                  },
                  "template": {
                    "type": "string",
                    "description": "Template URI to use for the document",
                    "example": "https://signrequest.com/api/v1/templates/<uuid>/",
                    "x-mindcloud-advanced": true
                  },
                  "externalId": {
                    "type": "string",
                    "description": "ID used to reference document in external system",
                    "example": "crm-doc-123",
                    "x-mindcloud-advanced": true
                  },
                  "eventsCallbackUrl": {
                    "type": "string",
                    "description": "URL that should receive document event callbacks",
                    "example": "https://example.com/signrequest-events",
                    "x-mindcloud-advanced": true
                  },
                  "autoDeleteDays": {
                    "type": "number",
                    "description": "Automatically delete finished documents after this many days",
                    "example": 30,
                    "x-mindcloud-advanced": true
                  },
                  "autoExpireDays": {
                    "type": "number",
                    "description": "Automatically expire unfinished documents after this many days",
                    "example": 14,
                    "x-mindcloud-advanced": true
                  },
                  "frontendId": {
                    "type": "string",
                    "description": "Shared secret used with the SignRequest JS client to grant document access",
                    "example": "shared-secret-123",
                    "x-mindcloud-advanced": true
                  },
                  "fileFromSf": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Salesforce file source configuration",
                    "x-mindcloud-advanced": true
                  },
                  "prefillTags[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Prefill signer input data for templates",
                    "x-mindcloud-advanced": true
                  },
                  "integrations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Integration-specific document metadata",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUsed": {
                            "type": "boolean"
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "autoDeleteAfter": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "autoDeleteDays": {
                            "type": "number"
                          },
                          "autoExpireAfter": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "autoExpireDays": {
                            "type": "number"
                          },
                          "eventsCallbackUrl": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "file": {
                            "type": "string"
                          },
                          "fileAsPdf": {
                            "type": "string"
                          },
                          "fileFromSf": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fileFromUrl": {
                            "type": "string"
                          },
                          "integrations": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "pdf": {
                            "type": "string"
                          },
                          "prefillTags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "processing": {
                            "type": "boolean"
                          },
                          "sandbox": {
                            "type": "boolean"
                          },
                          "securityHash": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "signingLog": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signrequest": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "team": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "template": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            }
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/create-document-attachment": {
      "post": {
        "operationId": "signRequest.create-document-attachment",
        "summary": "Create Document Attachment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/create-document-attachment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string"
                  },
                  "fileFromUrl": {
                    "type": "string"
                  },
                  "fileFromContent": {
                    "type": "string"
                  },
                  "fileFromContentName": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document": {
                            "type": "string"
                          },
                          "file": {
                            "type": "string"
                          },
                          "fileFromUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/create-sign-request": {
      "post": {
        "operationId": "signRequest.create-sign-request",
        "summary": "Create SignRequest",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/create-sign-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "document",
                  "signers[]",
                  "signers[].email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "document": {
                    "type": "string",
                    "description": "Document URL returned by the SignRequest documents API",
                    "example": "https://signrequest.com/api/v1/documents/<uuid>/"
                  },
                  "signers[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Signers to include on the SignRequest"
                  },
                  "signers[].email": {
                    "type": "string",
                    "description": "Signer email address",
                    "example": "signer@example.com"
                  },
                  "fromEmail": {
                    "type": "string",
                    "description": "Validated email address of the user sending the SignRequest",
                    "example": "you@example.com"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject of the SignRequest email",
                    "example": "Please sign this agreement"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message to include in the SignRequest email",
                    "example": "Please review and sign this document."
                  },
                  "who": {
                    "type": "string",
                    "description": "Who needs to sign: only me, me and others, or only others",
                    "enum": [
                      "m",
                      "mo",
                      "o"
                    ]
                  },
                  "disableEmails": {
                    "type": "boolean",
                    "description": "Disable SignRequest status emails and signed-document emails",
                    "example": true
                  },
                  "sendReminders": {
                    "type": "boolean",
                    "description": "Automatically remind signers to sign",
                    "x-mindcloud-advanced": true
                  },
                  "fromEmailName": {
                    "type": "string",
                    "description": "Name used in the From email header",
                    "example": "Alex from Legal",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].firstName": {
                    "type": "string",
                    "description": "Signer first name",
                    "example": "Taylor",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].lastName": {
                    "type": "string",
                    "description": "Signer last name",
                    "example": "Smith",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].order": {
                    "type": "number",
                    "description": "Signer order in the signing flow",
                    "example": 0,
                    "x-mindcloud-advanced": true
                  },
                  "signers[].language": {
                    "type": "string",
                    "description": "Signer language",
                    "enum": [
                      "da",
                      "de",
                      "en",
                      "en-gb",
                      "es",
                      "fi",
                      "fr",
                      "he",
                      "hu",
                      "it",
                      "ja",
                      "nl",
                      "no",
                      "pl",
                      "pt",
                      "ru",
                      "sv"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "signers[].forceLanguage": {
                    "type": "boolean",
                    "description": "Force the selected signer language",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].needsToSign": {
                    "type": "boolean",
                    "description": "Whether the signer must sign the document",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].approveOnly": {
                    "type": "boolean",
                    "description": "Require approval without adding a signature",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].notifyOnly": {
                    "type": "boolean",
                    "description": "Notify the signer without requiring action",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].inPerson": {
                    "type": "boolean",
                    "description": "Use in-person signing for this signer",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].password": {
                    "type": "string",
                    "description": "Password the signer must enter before signing",
                    "example": "s3cur3-passphrase",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].verifyPhoneNumber": {
                    "type": "string",
                    "description": "Phone number required for signer verification",
                    "example": "+15551234567",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].verifyBankAccount": {
                    "type": "string",
                    "description": "Bank account required for signer verification",
                    "example": "NL00BANK0123456789",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].redirectUrl": {
                    "type": "string",
                    "description": "Signer-specific redirect URL after signing",
                    "example": "https://example.com/signed",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].redirectUrlDeclined": {
                    "type": "string",
                    "description": "Signer-specific redirect URL after declining",
                    "example": "https://example.com/declined",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].afterDocument": {
                    "type": "string",
                    "description": "Document URL that should be signed before this signer",
                    "example": "https://signrequest.com/api/v1/documents/<uuid>/",
                    "x-mindcloud-advanced": true
                  },
                  "signers[].useStampForApproveOnly": {
                    "type": "boolean",
                    "description": "Place an approval stamp when a signer approves the document",
                    "x-mindcloud-advanced": true
                  },
                  "redirectUrl": {
                    "type": "string",
                    "description": "Redirect users here after signing",
                    "example": "https://example.com/signed",
                    "x-mindcloud-advanced": true
                  },
                  "redirectUrlDeclined": {
                    "type": "string",
                    "description": "Redirect users here after declining",
                    "example": "https://example.com/declined",
                    "x-mindcloud-advanced": true
                  },
                  "isBeingPrepared": {
                    "type": "boolean",
                    "description": "Have the sender prepare the document before sending",
                    "x-mindcloud-advanced": true
                  },
                  "requiredAttachments[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Attachments that signers are required to upload",
                    "x-mindcloud-advanced": true
                  },
                  "disableAttachments": {
                    "type": "boolean",
                    "description": "Disable uploading or adding attachments",
                    "x-mindcloud-advanced": true
                  },
                  "disableTextSignatures": {
                    "type": "boolean",
                    "description": "Disable typed text signatures",
                    "x-mindcloud-advanced": true
                  },
                  "disableText": {
                    "type": "boolean",
                    "description": "Disable adding text",
                    "x-mindcloud-advanced": true
                  },
                  "disableDate": {
                    "type": "boolean",
                    "description": "Disable adding dates",
                    "x-mindcloud-advanced": true
                  },
                  "disableUploadSignatures": {
                    "type": "boolean",
                    "description": "Disable uploaded image signatures",
                    "x-mindcloud-advanced": true
                  },
                  "forceSignatureColor": {
                    "type": "string",
                    "description": "Force a specific signature color",
                    "example": "blue",
                    "x-mindcloud-advanced": true
                  },
                  "disableBlockchainProof": {
                    "type": "boolean",
                    "description": "Disable storing timestamp proof hashes in blockchain integrations",
                    "x-mindcloud-advanced": true
                  },
                  "textMessageVerificationLocked": {
                    "type": "boolean",
                    "description": "Require text message verification before the signer can view the document",
                    "x-mindcloud-advanced": true
                  },
                  "integration": {
                    "type": "string",
                    "description": "Integration identifier for the SignRequest record",
                    "enum": [
                      "formdesk",
                      "mfiles",
                      "microsoft-flow",
                      "salesforce",
                      "zapier"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "integrationData": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Integration-specific payload for the SignRequest",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "disableAttachments": {
                            "type": "boolean"
                          },
                          "disableBlockchainProof": {
                            "type": "boolean"
                          },
                          "disableDate": {
                            "type": "boolean"
                          },
                          "disableEmails": {
                            "type": "boolean"
                          },
                          "disableText": {
                            "type": "boolean"
                          },
                          "disableTextSignatures": {
                            "type": "boolean"
                          },
                          "disableUploadSignatures": {
                            "type": "boolean"
                          },
                          "document": {
                            "type": "string"
                          },
                          "forceSignatureColor": {
                            "type": "string"
                          },
                          "fromEmail": {
                            "type": "string"
                          },
                          "fromEmailName": {
                            "type": "string"
                          },
                          "integration": {
                            "type": "string"
                          },
                          "integrationData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isBeingPrepared": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          },
                          "prepareUrl": {
                            "type": "string"
                          },
                          "redirectUrl": {
                            "type": "string"
                          },
                          "redirectUrlDeclined": {
                            "type": "string"
                          },
                          "requiredAttachments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "afterDocument": {
                                  "type": "string"
                                },
                                "approveOnly": {
                                  "type": "boolean"
                                },
                                "attachments": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "declined": {
                                  "type": "boolean"
                                },
                                "declinedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "downloaded": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "emailed": {
                                  "type": "boolean"
                                },
                                "emailViewed": {
                                  "type": "boolean"
                                },
                                "embedUrl": {
                                  "type": "string"
                                },
                                "embedUrlUserId": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "forceLanguage": {
                                  "type": "boolean"
                                },
                                "forwarded": {
                                  "type": "boolean"
                                },
                                "forwardedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "forwardedReason": {
                                  "type": "string"
                                },
                                "forwardedToEmail": {
                                  "type": "string"
                                },
                                "inPerson": {
                                  "type": "boolean"
                                },
                                "inputs": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "integrations": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "language": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "needsToSign": {
                                  "type": "boolean"
                                },
                                "notifyOnly": {
                                  "type": "boolean"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "redirectUrl": {
                                  "type": "string"
                                },
                                "redirectUrlDeclined": {
                                  "type": "string"
                                },
                                "signed": {
                                  "type": "boolean"
                                },
                                "signedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "useStampForApproveOnly": {
                                  "type": "boolean"
                                },
                                "verifyBankAccount": {
                                  "type": "string"
                                },
                                "verifyPhoneNumber": {
                                  "type": "string"
                                },
                                "viewed": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "textMessageVerificationLocked": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "who": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/create-webhook": {
      "post": {
        "operationId": "signRequest.create-webhook",
        "summary": "Create Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventType",
                  "callbackUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "example": "Contract events"
                  },
                  "eventType": {
                    "type": "string",
                    "enum": [
                      "cancelled",
                      "convert_error",
                      "converted",
                      "declined",
                      "downloaded",
                      "expired",
                      "login_failed",
                      "login_successful",
                      "password_reset_request_error",
                      "password_reset_request_sent",
                      "sending_error",
                      "sent",
                      "signed",
                      "signer_downloaded",
                      "signer_email_bounced",
                      "signer_forwarded",
                      "signer_signed",
                      "signer_viewed",
                      "signer_viewed_email",
                      "signrequest_received",
                      "viewed"
                    ],
                    "example": "signed"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "example": "https://example.com/webhooks/signrequest"
                  },
                  "integration": {
                    "type": "string",
                    "enum": [
                      "formdesk",
                      "mfiles",
                      "microsoft-flow",
                      "salesforce",
                      "zapier"
                    ],
                    "example": "zapier"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "callbackUrl": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "eventType": {
                            "type": "string"
                          },
                          "integration": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/delete-document": {
      "delete": {
        "operationId": "signRequest.delete-document",
        "summary": "Delete Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/delete-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Successful delete returns 204 No Content with an empty response body."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/delete-webhook": {
      "delete": {
        "operationId": "signRequest.delete-webhook",
        "summary": "Delete Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/delete-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2cb9cc24-7b5e-4d30-9e3f-5fbf3a9f4dc9"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Successful delete returns 204 No Content with an empty response body."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/forward-sign-request": {
      "put": {
        "operationId": "signRequest.forward-sign-request",
        "summary": "Forward SignRequest",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/forward-sign-request"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "uuid",
                  "signerEmailToForward",
                  "signerEmailToForwardTo"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "uuid": {
                    "type": "string",
                    "description": "UUID of the SignRequest to forward",
                    "example": "38525278-876a-4f53-a69c-db39e82c753f"
                  },
                  "signerEmailToForward": {
                    "type": "string",
                    "description": "Email address of the signer that forwards the SignRequest",
                    "example": "stage3-signer@example.com"
                  },
                  "signerEmailToForwardTo": {
                    "type": "string",
                    "description": "Email address of the new signer",
                    "example": "stage3-forwarded@example.com"
                  },
                  "forwardedReason": {
                    "type": "string",
                    "description": "Reason why the SignRequest is being forwarded",
                    "example": "Out of office this week",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "disableAttachments": {
                            "type": "boolean"
                          },
                          "disableBlockchainProof": {
                            "type": "boolean"
                          },
                          "disableDate": {
                            "type": "boolean"
                          },
                          "disableEmails": {
                            "type": "boolean"
                          },
                          "disableText": {
                            "type": "boolean"
                          },
                          "disableTextSignatures": {
                            "type": "boolean"
                          },
                          "disableUploadSignatures": {
                            "type": "boolean"
                          },
                          "document": {
                            "type": "string"
                          },
                          "forceSignatureColor": {
                            "type": "string"
                          },
                          "fromEmail": {
                            "type": "string"
                          },
                          "fromEmailName": {
                            "type": "string"
                          },
                          "integration": {
                            "type": "string"
                          },
                          "integrationData": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "isBeingPrepared": {
                            "type": "boolean"
                          },
                          "message": {
                            "type": "string"
                          },
                          "prepareUrl": {
                            "type": "string"
                          },
                          "redirectUrl": {
                            "type": "string"
                          },
                          "redirectUrlDeclined": {
                            "type": "string"
                          },
                          "requiredAttachments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "sendReminders": {
                            "type": "boolean"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "afterDocument": {
                                  "type": "string"
                                },
                                "approveOnly": {
                                  "type": "boolean"
                                },
                                "attachments": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "declined": {
                                  "type": "boolean"
                                },
                                "declinedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "downloaded": {
                                  "type": "boolean"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "emailed": {
                                  "type": "boolean"
                                },
                                "emailViewed": {
                                  "type": "boolean"
                                },
                                "embedUrl": {
                                  "type": "string"
                                },
                                "embedUrlUserId": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "type": "string"
                                },
                                "forceLanguage": {
                                  "type": "boolean"
                                },
                                "forwarded": {
                                  "type": "boolean"
                                },
                                "forwardedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "forwardedReason": {
                                  "type": "string"
                                },
                                "forwardedToEmail": {
                                  "type": "string"
                                },
                                "inPerson": {
                                  "type": "boolean"
                                },
                                "inputs": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "integrations": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  }
                                },
                                "language": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "needsToSign": {
                                  "type": "boolean"
                                },
                                "notifyOnly": {
                                  "type": "boolean"
                                },
                                "order": {
                                  "type": "number"
                                },
                                "redirectUrl": {
                                  "type": "string"
                                },
                                "redirectUrlDeclined": {
                                  "type": "string"
                                },
                                "signed": {
                                  "type": "boolean"
                                },
                                "signedOn": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "useStampForApproveOnly": {
                                  "type": "boolean"
                                },
                                "verifyBankAccount": {
                                  "type": "string"
                                },
                                "verifyPhoneNumber": {
                                  "type": "string"
                                },
                                "viewed": {
                                  "type": "boolean"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "subject": {
                            "type": "string"
                          },
                          "textMessageVerificationLocked": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string"
                          },
                          "uuid": {
                            "type": "string"
                          },
                          "who": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/signRequest/latest/actions/get-document": {
      "get": {
        "operationId": "signRequest.get-document",
        "summary": "Get Document",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/signRequest/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiUsed": {
                            "type": "boolean"
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "autoDeleteAfter": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "autoDeleteDays": {
                            "type": "number"
                          },
                          "autoExpireAfter": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "autoExpireDays": {
                            "type": "number"
                          },
                          "eventsCallbackUrl": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "file": {
                            "type": "string"
                          },
                          "fileAsPdf": {
                            "type": "string"
                          },
                          "fileFromSf": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fileFromUrl": {
                            "type": "string"
                          },
                          "integrations": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "pdf": {
                            "type": "string"
                          },
                          "prefillTags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            }
                          },
                          "processing": {
                            "type": "boolean"
                          },
                          "sandbox": {
                            "type": "boolean"
                          },
                          "securityHash": {
                            "type": "string"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "signingLog": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "signrequest": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "team": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "template": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "user": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            }
                          },
                          "uuid": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
[...]
