{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "LiveChat Universal API",
    "version": "0.0.7",
    "description": "Manage LiveChat chats, customers, routing, and messaging operations"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/liveChat/latest/actions/add-user-to-chat": {
      "put": {
        "operationId": "liveChat.add-user-to-chat",
        "summary": "Add User To Chat",
        "description": "Updates a chat by adding a user in LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/add-user-to-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "chatId",
                  "userId",
                  "userType",
                  "visibility"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "chatId": {
                    "type": "string",
                    "description": "The target chat ID."
                  },
                  "userId": {
                    "type": "string",
                    "description": "The user ID to add."
                  },
                  "userType": {
                    "type": "string",
                    "description": "Possible values: agent or customer."
                  },
                  "visibility": {
                    "type": "string",
                    "description": "Possible values: all or agents."
                  },
                  "ignoreRequesterPresence": {
                    "type": "boolean",
                    "description": "Allow the action even if the requester is not on the chat user list.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Official Text Platform Agent Chat API docs specify this mutation returns no response payload (200 OK)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/deactivate-chat": {
      "put": {
        "operationId": "liveChat.deactivate-chat",
        "summary": "Deactivate Chat",
        "description": "Updates a chat by deactivating it in LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/deactivate-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The chat ID."
                  },
                  "ignoreRequesterPresence": {
                    "type": "boolean",
                    "description": "Allow the action even if the requester is not on the chat user list.",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Official Text Platform Agent Chat API docs specify this mutation returns no response payload (200 OK)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/follow-chat": {
      "put": {
        "operationId": "liveChat.follow-chat",
        "summary": "Follow Chat",
        "description": "Updates a chat by following it in LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/follow-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "The chat ID."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Official Text Platform Agent Chat API docs specify this mutation returns no response payload (200 OK)."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/get-chat": {
      "get": {
        "operationId": "liveChat.get-chat",
        "summary": "Get Chat",
        "description": "Retrieves a chat with thread details from LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/get-chat"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "query",
            "required": true,
            "description": "The ID of the chat to fetch.",
            "schema": {
              "type": "string",
              "description": "The ID of the chat to fetch."
            }
          },
          {
            "name": "threadId",
            "in": "query",
            "required": false,
            "description": "The thread ID to fetch. Defaults to the latest thread if omitted.",
            "schema": {
              "type": "string",
              "description": "The thread ID to fetch. Defaults to the latest thread if omitted."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Access settings for the chat.",
                            "properties": {
                              "groupIds": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Group IDs that can access the chat."
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Chat identifier."
                          },
                          "isFollowed": {
                            "type": "boolean",
                            "description": "Whether the chat is followed by the requester."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Properties assigned to the chat."
                          },
                          "thread": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Requested thread details.",
                            "properties": {
                              "access": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Access settings for the thread.",
                                "properties": {
                                  "groupIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Group IDs that can access the thread."
                                  }
                                }
                              },
                              "active": {
                                "type": "boolean",
                                "description": "Whether the thread is active."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the thread was created."
                              },
                              "customerVisit": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Customer visit details associated with the thread.",
                                "properties": {
                                  "geolocation": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Visit geolocation details.",
                                    "properties": {
                                      "city": {
                                        "type": "string",
                                        "description": "Visitor city."
                                      },
                                      "country": {
                                        "type": "string",
                                        "description": "Visitor country."
                                      },
                                      "countryCode": {
                                        "type": "string",
                                        "description": "Visitor country code."
                                      },
                                      "latitude": {
                                        "type": "string",
                                        "description": "Visitor latitude."
                                      },
                                      "longitude": {
                                        "type": "string",
                                        "description": "Visitor longitude."
                                      },
                                      "region": {
                                        "type": "string",
                                        "description": "Visitor region."
                                      },
                                      "timezone": {
                                        "type": "string",
                                        "description": "Visitor timezone."
                                      }
                                    }
                                  },
                                  "ip": {
                                    "type": "string",
                                    "description": "Visitor IP address."
                                  },
                                  "userAgent": {
                                    "type": "string",
                                    "description": "Visitor user agent."
                                  }
                                }
                              },
                              "events": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "authorId": {
                                      "type": "string",
                                      "description": "Author identifier for the event."
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Time when the event was created."
                                    },
                                    "customId": {
                                      "type": "string",
                                      "description": "Custom event identifier, when provided."
                                    },
                                    "deleted": {
                                      "type": "boolean",
                                      "description": "Whether the event represents a deleted event."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "Event identifier."
                                    },
                                    "properties": {
                                      "type": "object",
                                      "additionalProperties": true,
                                      "description": "Properties assigned to the event."
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "Event text."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Event type."
                                    },
                                    "visibility": {
                                      "type": "string",
                                      "description": "Event visibility."
                                    }
                                  }
                                },
                                "description": "Events in the thread."
                              },
                              "id": {
                                "type": "string",
                                "description": "Thread identifier."
                              },
                              "nextThreadId": {
                                "type": "string",
                                "description": "Identifier of the next thread."
                              },
                              "previousThreadId": {
                                "type": "string",
                                "description": "Identifier of the previous thread."
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Properties assigned to the thread."
                              },
                              "queue": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Queue details for the thread, when queued.",
                                "properties": {
                                  "position": {
                                    "type": "number",
                                    "description": "Current queue position."
                                  },
                                  "queuedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Time when the thread entered the queue."
                                  },
                                  "waitTime": {
                                    "type": "number",
                                    "description": "Approximate wait time in seconds."
                                  }
                                }
                              },
                              "restrictedAccess": {
                                "type": "string",
                                "description": "Reason why thread access is restricted, when present."
                              },
                              "summary": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "AI-generated summary of the thread, when available.",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "description": "Status of the summary generation."
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Summary text."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Time when the summary was updated."
                                  }
                                }
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Tags assigned to the thread."
                              },
                              "userIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Identifiers of users in the thread."
                              }
                            }
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "agentLastEventCreatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp of the latest agent event for the user."
                                },
                                "avatar": {
                                  "type": "string",
                                  "description": "Avatar URL for the user."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the user identity was created."
                                },
                                "customerLastEventCreatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp of the latest customer event for the user."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "User email address, when available."
                                },
                                "eventsSeenUpTo": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Latest event timestamp seen by the user."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "User identifier."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "User name."
                                },
                                "present": {
                                  "type": "boolean",
                                  "description": "Whether the user is currently present in the chat."
                                },
                                "statistics": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Customer activity counters.",
                                  "properties": {
                                    "chatsCount": {
                                      "type": "number",
                                      "description": "Number of chats for the user."
                                    },
                                    "greetingsAcceptedCount": {
                                      "type": "number",
                                      "description": "Number of greetings accepted by the user."
                                    },
                                    "greetingsShownCount": {
                                      "type": "number",
                                      "description": "Number of greetings shown to the user."
                                    },
                                    "pageViewsCount": {
                                      "type": "number",
                                      "description": "Number of page views for the user."
                                    },
                                    "threadsCount": {
                                      "type": "number",
                                      "description": "Number of threads for the user."
                                    },
                                    "ticketsCount": {
                                      "type": "number",
                                      "description": "Number of tickets related to the user."
                                    },
                                    "visitsCount": {
                                      "type": "number",
                                      "description": "Number of visits for the user."
                                    }
                                  }
                                },
                                "tickets": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Time when the ticket was created."
                                      },
                                      "ticketId": {
                                        "type": "string",
                                        "description": "Ticket identifier."
                                      }
                                    }
                                  },
                                  "description": "Tickets related to the user."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "User type."
                                },
                                "visit": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "description": "Most recent visit details for a customer user.",
                                  "properties": {
                                    "endedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Time when the visit ended."
                                    },
                                    "geolocation": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "description": "Visit geolocation details.",
                                      "properties": {
                                        "city": {
                                          "type": "string",
                                          "description": "Visitor city."
                                        },
                                        "country": {
                                          "type": "string",
                                          "description": "Visitor country."
                                        },
                                        "countryCode": {
                                          "type": "string",
                                          "description": "Visitor country code."
                                        },
                                        "latitude": {
                                          "type": "string",
                                          "description": "Visitor latitude."
                                        },
                                        "longitude": {
                                          "type": "string",
                                          "description": "Visitor longitude."
                                        },
                                        "region": {
                                          "type": "string",
                                          "description": "Visitor region."
                                        },
                                        "timezone": {
                                          "type": "string",
                                          "description": "Visitor timezone."
                                        }
                                      }
                                    },
                                    "ip": {
                                      "type": "string",
                                      "description": "Visitor IP address."
                                    },
                                    "lastPages": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "openedAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Time when the page was opened."
                                          },
                                          "title": {
                                            "type": "string",
                                            "description": "Visited page title."
                                          },
                                          "url": {
                                            "type": "string",
                                            "description": "Visited page URL."
                                          }
                                        }
                                      },
                                      "description": "Most recent pages visited by the user."
                                    },
                                    "startedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Time when the visit started."
                                    },
                                    "userAgent": {
                                      "type": "string",
                                      "description": "Visitor user agent."
                                    }
                                  }
                                }
                              }
                            },
                            "description": "Users participating in the chat."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/get-customer": {
      "get": {
        "operationId": "liveChat.get-customer",
        "summary": "Get Customer",
        "description": "Retrieves detailed customer information from LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/get-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The customer ID.",
            "schema": {
              "type": "string",
              "description": "The customer ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentLastEventCreatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the latest agent event for the customer."
                          },
                          "avatar": {
                            "type": "string",
                            "description": "Avatar URL for the customer."
                          },
                          "chatIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Identifiers of chats related to the customer."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Time when the customer identity was created."
                          },
                          "customerLastEventCreatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the latest customer event for the customer."
                          },
                          "email": {
                            "type": "string",
                            "description": "Customer email address, when available."
                          },
                          "emailVerified": {
                            "type": "boolean",
                            "description": "Whether the customer's email is verified."
                          },
                          "eventsSeenUpTo": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Latest event timestamp seen by the customer."
                          },
                          "id": {
                            "type": "string",
                            "description": "Customer identifier."
                          },
                          "name": {
                            "type": "string",
                            "description": "Customer name, when available."
                          },
                          "omnichannel": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Omnichannel data for connected channels."
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Customer phone number."
                          },
                          "present": {
                            "type": "boolean",
                            "description": "Whether the customer is currently present."
                          },
                          "sessionFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom session fields for the customer."
                          },
                          "state": {
                            "type": "string",
                            "description": "Current customer state."
                          },
                          "statistics": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Customer activity counters.",
                            "properties": {
                              "chatsCount": {
                                "type": "number",
                                "description": "Number of chats for the customer."
                              },
                              "greetingsAcceptedCount": {
                                "type": "number",
                                "description": "Number of greetings accepted by the customer."
                              },
                              "greetingsShownCount": {
                                "type": "number",
                                "description": "Number of greetings shown to the customer."
                              },
                              "pageViewsCount": {
                                "type": "number",
                                "description": "Number of page views for the customer."
                              },
                              "threadsCount": {
                                "type": "number",
                                "description": "Number of threads for the customer."
                              },
                              "ticketsCount": {
                                "type": "number",
                                "description": "Number of tickets related to the customer."
                              },
                              "visitsCount": {
                                "type": "number",
                                "description": "Number of visits for the customer."
                              }
                            }
                          },
                          "tickets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Time when the ticket was created."
                                },
                                "ticketId": {
                                  "type": "string",
                                  "description": "Ticket identifier."
                                }
                              }
                            },
                            "description": "Tickets related to the customer."
                          },
                          "type": {
                            "type": "string",
                            "description": "Resource type."
                          },
                          "visit": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Most recent online visit details.",
                            "properties": {
                              "endedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the visit ended."
                              },
                              "geolocation": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Visit geolocation details.",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "description": "Visitor city."
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "Visitor country."
                                  },
                                  "countryCode": {
                                    "type": "string",
                                    "description": "Visitor country code."
                                  },
                                  "latitude": {
                                    "type": "string",
                                    "description": "Visitor latitude."
                                  },
                                  "longitude": {
                                    "type": "string",
                                    "description": "Visitor longitude."
                                  },
                                  "region": {
                                    "type": "string",
                                    "description": "Visitor region."
                                  },
                                  "timezone": {
                                    "type": "string",
                                    "description": "Visitor timezone."
                                  }
                                }
                              },
                              "ip": {
                                "type": "string",
                                "description": "Visitor IP address."
                              },
                              "lastPages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "openedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Time when the page was opened."
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "Visited page title."
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "Visited page URL."
                                    }
                                  }
                                },
                                "description": "Most recent pages visited by the customer."
                              },
                              "referrer": {
                                "type": "string",
                                "description": "Visit referrer URL."
                              },
                              "startedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the visit started."
                              },
                              "userAgent": {
                                "type": "string",
                                "description": "Visitor user agent."
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/list-agents-for-transfer": {
      "get": {
        "operationId": "liveChat.list-agents-for-transfer",
        "summary": "List Agents For Transfer",
        "description": "Retrieves agents available for chat transfer in LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/list-agents-for-transfer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "query",
            "required": true,
            "description": "The chat ID to inspect for transfer targets.",
            "schema": {
              "type": "string",
              "description": "The chat ID to inspect for transfer targets."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentId": {
                            "type": "string",
                            "description": "Agent identifier."
                          },
                          "totalActiveChats": {
                            "type": "number",
                            "description": "Number of active customer chats assigned to the agent."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/list-archives": {
      "get": {
        "operationId": "liveChat.list-archives",
        "summary": "List Archives",
        "description": "Retrieves archived chats and thread events from LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/list-archives"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Archive search filters.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Archive search filters."
            }
          },
          {
            "name": "filters.query",
            "in": "query",
            "required": false,
            "description": "Free-text archive query.",
            "schema": {
              "type": "string",
              "description": "Free-text archive query."
            }
          },
          {
            "name": "filters.from",
            "in": "query",
            "required": false,
            "description": "Lower RFC3339 timestamp bound for archives.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Lower RFC3339 timestamp bound for archives."
            }
          },
          {
            "name": "filters.to",
            "in": "query",
            "required": false,
            "description": "Upper RFC3339 timestamp bound for archives.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Upper RFC3339 timestamp bound for archives."
            }
          },
          {
            "name": "filters.chatIds[]",
            "in": "query",
            "required": false,
            "description": "Filter by chat IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter by chat IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.threadIds[]",
            "in": "query",
            "required": false,
            "description": "Filter by thread IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter by thread IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.groupIds[]",
            "in": "query",
            "required": false,
            "description": "Filter by group IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Filter by group IDs."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filters.customerId",
            "in": "query",
            "required": false,
            "description": "Filter by customer ID.",
            "schema": {
              "type": "string",
              "description": "Filter by customer ID."
            }
          },
          {
            "name": "filters.customerEmail",
            "in": "query",
            "required": false,
            "description": "Filter by customer email.",
            "schema": {
              "type": "string",
              "description": "Filter by customer email."
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Default desc.",
            "schema": {
              "type": "string",
              "description": "Default desc.",
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Access settings for the chat.",
                            "properties": {
                              "groupIds": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Group IDs that can access the chat."
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Chat identifier."
                          },
                          "isFollowed": {
                            "type": "boolean",
                            "description": "Whether the chat is followed by the requester."
                          },
                          "properties": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Properties assigned to the chat."
                          },
                          "thread": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Archived thread details.",
                            "properties": {
                              "access": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Access settings for the thread.",
                                "properties": {
                                  "groupIds": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    },
                                    "description": "Group IDs that can access the thread."
                                  }
                                }
                              },
                              "active": {
                                "type": "boolean",
                                "description": "Whether the thread is active."
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Time when the thread was created."
                              },
                              "customerVisit": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "Customer visit details associated with the thread.",
                                "properties": {
                                  "geolocation": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "description": "Visit geolocation details.",
                                    "properties": {
                                      "city": {
                                        "type": "string",
                                        "description": "Visitor city."
                                      },
                                      "country": {
                                        "type": "string",
                                        "description": "Visitor country."
                                      },
                                      "countryCode": {
                                        "type": "string",
                                        "description": "Visitor country code."
                                      },
                                      "latitude": {
                                        "type": "string",
                                        "description": "Visitor latitude."
                                      },
                                      "longitude": {
                                        "type": "string",
                                        "description": "Visitor longitude."
                                      },
                                      "region": {
                                        "type": "string",
                                        "description": "Visitor region."
                                      },
                                      "timezone": {
                                        "type": "string",
                                        "description": "Visitor timezone."
                                      }
                                    }
                                  },
                                  "ip": {
                                    "type": "string",
                                    "description": "Visitor IP address."
                                  },
                                  "userAgent": {
                                    "type": "string",
                                    "description": "Visitor user agent."
                                  }
                                }
                              },
                              "events": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "authorId": {
                                      "type": "string",
                                      "description": "Author identifier for the event."
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "Time when the event was created."
                                    },
                                    "customId": {
                                      "type": "string",
                                      "description": "Custom event identifier, when provided."
                                    },
                                    "deleted": {
                                      "type": "boolean",
                                      "description": "Whether the event represents a deleted event."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "Event identifier."
                                    },
                                    "properties": {
                                      "type": "object",
                                      "additionalProperties": true,
                                      "description": "Properties assigned to the event."
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "Event text."
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Event type."
                                    },
                                    "visibility": {
                                      "type": "string",
                                      "description": "Event visibility."
                                    }
                                  }
                                },
                                "description": "Events in the archived thread."
                              },
                              "id": {
                                "type": "string",
                                "description": "Thread identifier."
                              },
                              "nextAccessibleThreadId": {
                                "type": "string",
                                "description": "Identifier of the next accessible thread."
                              },
                              "nextThreadId": {
                                "type": "string",
                                "description": "Identifier of the next thread."
                              },
                              "previousAccessibleThreadId": {
                                "type": "string",
                                "description": "Identifier of the previous accessible thread."
                              },
                              "previousThreadId": {
                                "type": "string",
                                "description": "Identifier of the previous thread."
                              },
                              "properties": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Properties assigned to the thread."
                              },
                              "summary": {
                                "type": "object",
                                "additionalProperties": false,
                                "description": "AI-generated summary of the thread, when available.",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "description": "Status of the summary generation."
                                  },
                                  "text": {
                                    "type": "string",
                                    "description": "Summary text."
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Time when the summary was updated."
                                  }
                                }
                              },
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Tags assigned to the thread."
                              },
                              "userIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Identifiers of users in the thread."
                              }
                            }
                          },
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "avatar": {
                                  "type": "string",
                                  "description": "Avatar URL for the user."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "User email address, when available."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "User identifier."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "User name."
                                },
                                "present": {
                                  "type": "boolean",
                                  "description": "Whether the user is currently present in the chat."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "User type."
                                },
                                "visibility": {
                                  "type": "string",
                                  "description": "Visibility of the user in the chat."
                                }
                              }
                            },
                            "description": "Users participating in the archived chat."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/liveChat/latest/actions/list-chats": {
      "get": {
        "operationId": "liveChat.list-chats",
        "summary": "List Chats",
        "description": "Retrieves accessible chat summaries from LiveChat.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/liveChat/latest/actions/list-chats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "description": "Filter options remembered across paginated requests.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Filter options remembered across paginated requests."
            }
          },
          {
            "name": "filters.active",
            "in": "query",
            "required": false,
            "description": "Return active chats only when true, inactive chats only when false.",
            "schema": {
              "type": "boolean",
              "description": "Return active chats only when true, inactive chats only when false."
            }
          },
          {
            "name": "filters.includeChatsWithoutThreads",
            "in": "query",
            "required": false,
            "description": "Include chats without any threads in the returned summary. Default true.",
            "schema": {
              "type": "boolean",
              "description": "Include chats without any threads in the returned summary. Default true."
            }
          },
          {
            "name": "filters.groupIds[]",
            "in": "query",
            "required": false,
            "description": "Filter by group IDs. Maximum 200 values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "Filter by group IDs. Maximum 200 values."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "Return oldest chats first with asc or newest chats first with desc. Default desc.",
            "schema": {
              "type": "string",
              "description": "Return oldest chats first with asc or newest chats first with desc. Default desc.",
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "access": {
                            "type": "object",
                            "additionalProperties": false,
                            "description": "Access settings for the chat.",
                            "properties": {
                              "groupIds": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                },
                                "description": "Group IDs that can access the chat."
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Chat identifier."
                          },
                          "isFollowed": {
                            "type": "boolean",
                            "description": "Whether the chat is followed by the requester."
                          },
                          "lastEventPerType": {
                            "type": "object",
[...]
