{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Linkly Universal API",
    "version": "0.0.5",
    "description": "Create, manage, and track branded short links with click analytics, redirects, and QR codes."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/linkly/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/linkly/latest/actions/create-link": {
      "post": {
        "operationId": "linkly.create-link",
        "summary": "Create Link",
        "description": "Creates a new link in Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/create-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL. Required to create a new link.",
                    "example": "https://example.com"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional display name for the link.",
                    "example": "Campaign landing page"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Optional custom short-code slug. Linkly's current runtime rejects custom slug values in this workspace with `slug must be empty`.",
                    "example": "spring-launch",
                    "x-mindcloud-advanced": true
                  },
                  "note": {
                    "type": "string",
                    "description": "Optional internal note for the link.",
                    "x-mindcloud-advanced": true
                  },
                  "domain": {
                    "type": "string",
                    "description": "Optional domain for the link.",
                    "x-mindcloud-advanced": true
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the link is enabled.",
                    "x-mindcloud-advanced": true
                  },
                  "forward_params": {
                    "type": "boolean",
                    "description": "Whether to forward query parameters to the destination URL.",
                    "x-mindcloud-advanced": true
                  },
                  "hide_referrer": {
                    "type": "boolean",
                    "description": "Whether to hide the referrer.",
                    "x-mindcloud-advanced": true
                  },
                  "cloaking": {
                    "type": "boolean",
                    "description": "Whether to enable cloaking.",
                    "x-mindcloud-advanced": true
                  },
                  "block_bots": {
                    "type": "boolean",
                    "description": "Whether to block bots.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_source": {
                    "type": "string",
                    "description": "Optional UTM source parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_medium": {
                    "type": "string",
                    "description": "Optional UTM medium parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_campaign": {
                    "type": "string",
                    "description": "Optional UTM campaign parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_term": {
                    "type": "string",
                    "description": "Optional UTM term parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_content": {
                    "type": "string",
                    "description": "Optional UTM content parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "body_tags": {
                    "type": "string",
                    "description": "Optional custom body tags.",
                    "x-mindcloud-advanced": true
                  },
                  "deleted": {
                    "type": "boolean",
                    "description": "Whether the link should be marked deleted.",
                    "x-mindcloud-advanced": true
                  },
                  "fb_pixel_id": {
                    "type": "string",
                    "description": "Optional Facebook Pixel ID.",
                    "x-mindcloud-advanced": true
                  },
                  "ga4_tag_id": {
                    "type": "string",
                    "description": "Optional Google Analytics 4 tag ID.",
                    "x-mindcloud-advanced": true
                  },
                  "gtm_id": {
                    "type": "string",
                    "description": "Optional Google Tag Manager ID.",
                    "x-mindcloud-advanced": true
                  },
                  "head_tags": {
                    "type": "string",
                    "description": "Optional custom head tags.",
                    "x-mindcloud-advanced": true
                  },
                  "linkify_words": {
                    "type": "string",
                    "description": "Optional linkify words configuration.",
                    "x-mindcloud-advanced": true
                  },
                  "og_description": {
                    "type": "string",
                    "description": "Optional Open Graph description.",
                    "x-mindcloud-advanced": true
                  },
                  "og_image": {
                    "type": "string",
                    "description": "Optional Open Graph image URL.",
                    "x-mindcloud-advanced": true
                  },
                  "og_title": {
                    "type": "string",
                    "description": "Optional Open Graph title.",
                    "x-mindcloud-advanced": true
                  },
                  "replacements": {
                    "type": "string",
                    "description": "Optional replacement rules string.",
                    "x-mindcloud-advanced": true
                  },
                  "spam": {
                    "type": "boolean",
                    "description": "Whether the link should be marked as spam.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional array of redirect rule objects. Use the nested Rules fields below to define each rule.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].what": {
                    "type": "string",
                    "description": "What the redirect rule matches against.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].url": {
                    "type": "string",
                    "description": "Destination URL to use when the rule matches.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].rule_url": {
                    "type": "string",
                    "description": "Source URL or pattern evaluated by the rule when applicable.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].percentage": {
                    "type": "string",
                    "description": "Traffic percentage for percentage-based rules.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].matches": {
                    "type": "string",
                    "description": "Match expression for the redirect rule.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockBots": {
                            "type": "boolean",
                            "description": "Whether bots are blocked."
                          },
                          "bodyTags": {
                            "type": "string",
                            "description": "Custom body tags."
                          },
                          "cloaking": {
                            "type": "boolean",
                            "description": "Whether cloaking is enabled."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the link is deleted."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain used by the short link."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the link is enabled."
                          },
                          "expiryClicks": {
                            "type": "number",
                            "description": "Expiry click threshold when configured."
                          },
                          "expiryDatetime": {
                            "type": "string",
                            "description": "Expiry timestamp when configured."
                          },
                          "expiryDestination": {
                            "type": "string",
                            "description": "Destination used after expiry when configured."
                          },
                          "fbPixelId": {
                            "type": "string",
                            "description": "Facebook Pixel ID when configured."
                          },
                          "forwardParams": {
                            "type": "boolean",
                            "description": "Whether query parameters are forwarded."
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "Shortened Linkly URL."
                          },
                          "ga4TagId": {
                            "type": "string",
                            "description": "GA4 tag ID when configured."
                          },
                          "gtmId": {
                            "type": "string",
                            "description": "Google Tag Manager ID when configured."
                          },
                          "headTags": {
                            "type": "string",
                            "description": "Custom head tags."
                          },
                          "hideReferrer": {
                            "type": "boolean",
                            "description": "Whether referrer hiding is enabled."
                          },
                          "id": {
                            "type": "number",
                            "description": "Link ID."
                          },
                          "insertedAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "linkifyWords": {
                            "type": "string",
                            "description": "Linkify words configuration."
                          },
                          "name": {
                            "type": "string",
                            "description": "Optional link name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Optional internal note."
                          },
                          "ogDescription": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "ogImage": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "ogTitle": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "publicAnalytics": {
                            "type": "boolean",
                            "description": "Whether public analytics is enabled."
                          },
                          "replacements": {
                            "type": "string",
                            "description": "Replacement rules summary."
                          },
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Redirect rule definitions."
                          },
                          "skipSocialCrawlerTracking": {
                            "type": "boolean",
                            "description": "Whether social crawler tracking is skipped."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Optional slug value when available."
                          },
                          "spam": {
                            "type": "boolean",
                            "description": "Whether the link is marked as spam."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL."
                          },
                          "utmCampaign": {
                            "type": "string",
                            "description": "UTM campaign value."
                          },
                          "utmContent": {
                            "type": "string",
                            "description": "UTM content value."
                          },
                          "utmMedium": {
                            "type": "string",
                            "description": "UTM medium value."
                          },
                          "utmSource": {
                            "type": "string",
                            "description": "UTM source value."
                          },
                          "utmTerm": {
                            "type": "string",
                            "description": "UTM term value."
                          },
                          "workspaceId": {
                            "type": "number",
                            "description": "Workspace ID that owns the link."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/delete-link": {
      "delete": {
        "operationId": "linkly.delete-link",
        "summary": "Delete Link",
        "description": "Deletes an existing link from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/delete-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The id of the Link.",
            "schema": {
              "type": "number",
              "description": "The id of the Link."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response": {
                            "type": "string",
                            "description": "Delete confirmation message."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/export-links": {
      "get": {
        "operationId": "linkly.export-links",
        "summary": "Export Links",
        "description": "Retrieves a link export from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/export-links"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search query to filter links.",
            "schema": {
              "type": "string",
              "description": "Search query to filter links."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockBots": {
                            "type": "boolean",
                            "description": "Whether bots are blocked."
                          },
                          "clicksCount": {
                            "type": "number",
                            "description": "Total click count in the export payload."
                          },
                          "clicksThirtyDays": {
                            "type": "number",
                            "description": "Thirty-day click count."
                          },
                          "clicksToday": {
                            "type": "number",
                            "description": "Today's click count."
                          },
                          "cloaking": {
                            "type": "boolean",
                            "description": "Whether cloaking is enabled."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the link is deleted."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain used by the short link."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the link is enabled."
                          },
                          "forwardParams": {
                            "type": "boolean",
                            "description": "Whether query parameters are forwarded."
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "Shortened Linkly URL."
                          },
                          "id": {
                            "type": "number",
                            "description": "Link ID."
                          },
                          "insertedAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "name": {
                            "type": "string",
                            "description": "Optional link name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Optional internal note."
                          },
                          "publicAnalytics": {
                            "type": "boolean",
                            "description": "Whether public analytics is enabled."
                          },
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Redirect rule definitions."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Optional slug value when available."
                          },
                          "spam": {
                            "type": "boolean",
                            "description": "Whether the link is marked as spam."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL."
                          },
                          "workspaceId": {
                            "type": "number",
                            "description": "Workspace ID that owns the link."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/get-click-analytics": {
      "get": {
        "operationId": "linkly.get-click-analytics",
        "summary": "Get Click Analytics",
        "description": "Retrieves click analytics from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/get-click-analytics"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link_id",
            "in": "query",
            "required": false,
            "description": "The id of a single Link.",
            "schema": {
              "type": "number",
              "description": "The id of a single Link."
            }
          },
          {
            "name": "link_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of Link IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of Link IDs.",
              "example": "39187500,39187501",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start date for the date range.",
            "schema": {
              "type": "string",
              "description": "The start date for the date range.",
              "example": "2026-03-24"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end date for the date range.",
            "schema": {
              "type": "string",
              "description": "The end date for the date range.",
              "example": "2026-03-24"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter clicks by country using ISO 3166-1 alpha-2 country code.",
            "schema": {
              "type": "string",
              "description": "Filter clicks by country using ISO 3166-1 alpha-2 country code.",
              "example": "US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "Filter clicks by browser name.",
            "schema": {
              "type": "string",
              "description": "Filter clicks by browser name.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "description": "Filter clicks by platform or operating system.",
            "schema": {
              "type": "string",
              "description": "Filter clicks by platform or operating system.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "referer",
            "in": "query",
            "required": false,
            "description": "Filter clicks by referrer domain.",
            "schema": {
              "type": "string",
              "description": "Filter clicks by referrer domain.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "isp",
            "in": "query",
            "required": false,
            "description": "Filter clicks by Internet Service Provider name.",
            "schema": {
              "type": "string",
              "description": "Filter clicks by Internet Service Provider name.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bots",
            "in": "query",
            "required": false,
            "description": "Set to false to exclude bot clicks from the results.",
            "schema": {
              "type": "boolean",
              "description": "Set to false to exclude bot clicks from the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "unique",
            "in": "query",
            "required": false,
            "description": "Set to true to only include unique clicks in the results.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to only include unique clicks in the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Timezone to use for date or time calculations.",
            "schema": {
              "type": "string",
              "description": "Timezone to use for date or time calculations.",
              "example": "America/New_York",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "required": false,
            "description": "Frequency of data points in the response.",
            "schema": {
              "type": "string",
              "description": "Frequency of data points in the response.",
              "enum": [
                "day",
                "hour"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "traffic": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Time-series traffic rows with date and click count values."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/get-click-counts-grouped-by-dimension": {
      "get": {
        "operationId": "linkly.get-click-counts-grouped-by-dimension",
        "summary": "Get Click Counts Grouped By Dimension",
        "description": "Retrieves click counts by dimension from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/get-click-counts-grouped-by-dimension"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "counter",
            "in": "query",
            "required": true,
            "description": "The dimension to group clicks by.",
            "schema": {
              "type": "string",
              "description": "The dimension to group clicks by.",
              "enum": [
                "country",
                "isp",
                "link_id",
                "platform",
                "referer",
                "top_params"
              ]
            }
          },
          {
            "name": "link_id",
            "in": "query",
            "required": false,
            "description": "The id of a single Link.",
            "schema": {
              "type": "number",
              "description": "The id of a single Link."
            }
          },
          {
            "name": "link_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of Link IDs.",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of Link IDs.",
              "example": "39187500,39187501",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start date for the date range.",
            "schema": {
              "type": "string",
              "description": "The start date for the date range.",
              "example": "2026-03-24"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end date for the date range.",
            "schema": {
              "type": "string",
              "description": "The end date for the date range.",
              "example": "2026-03-24"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by country using ISO 3166-1 alpha-2 country code.",
            "schema": {
              "type": "string",
              "description": "Filter by country using ISO 3166-1 alpha-2 country code.",
              "example": "US",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bots",
            "in": "query",
            "required": false,
            "description": "Set to false to exclude bot clicks from the results.",
            "schema": {
              "type": "boolean",
              "description": "Set to false to exclude bot clicks from the results.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "unique",
            "in": "query",
            "required": false,
            "description": "Set to true to only count unique clicks.",
            "schema": {
              "type": "boolean",
              "description": "Set to true to only count unique clicks.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "total": {
                            "type": "number",
                            "description": "Total click count across the selected grouping."
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Grouped counter rows with value and count."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/get-link": {
      "get": {
        "operationId": "linkly.get-link",
        "summary": "Get Link",
        "description": "Retrieves a link from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/get-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The id of the Link.",
            "schema": {
              "type": "number",
              "description": "The id of the Link."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockBots": {
                            "type": "boolean",
                            "description": "Whether bots are blocked."
                          },
                          "bodyTags": {
                            "type": "string",
                            "description": "Custom body tags."
                          },
                          "cloaking": {
                            "type": "boolean",
                            "description": "Whether cloaking is enabled."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the link is deleted."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain used by the short link."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the link is enabled."
                          },
                          "expiryClicks": {
                            "type": "number",
                            "description": "Expiry click threshold when configured."
                          },
                          "expiryDatetime": {
                            "type": "string",
                            "description": "Expiry timestamp when configured."
                          },
                          "expiryDestination": {
                            "type": "string",
                            "description": "Destination used after expiry when configured."
                          },
                          "fbPixelId": {
                            "type": "string",
                            "description": "Facebook Pixel ID when configured."
                          },
                          "forwardParams": {
                            "type": "boolean",
                            "description": "Whether query parameters are forwarded."
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "Shortened Linkly URL."
                          },
                          "ga4TagId": {
                            "type": "string",
                            "description": "GA4 tag ID when configured."
                          },
                          "gtmId": {
                            "type": "string",
                            "description": "Google Tag Manager ID when configured."
                          },
                          "headTags": {
                            "type": "string",
                            "description": "Custom head tags."
                          },
                          "hideReferrer": {
                            "type": "boolean",
                            "description": "Whether referrer hiding is enabled."
                          },
                          "id": {
                            "type": "number",
                            "description": "Link ID."
                          },
                          "insertedAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "linkifyWords": {
                            "type": "string",
                            "description": "Linkify words configuration."
                          },
                          "name": {
                            "type": "string",
                            "description": "Optional link name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Optional internal note."
                          },
                          "ogDescription": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "ogImage": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "ogTitle": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "publicAnalytics": {
                            "type": "boolean",
                            "description": "Whether public analytics is enabled."
                          },
                          "replacements": {
                            "type": "string",
                            "description": "Replacement rules summary."
                          },
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Redirect rule definitions."
                          },
                          "skipSocialCrawlerTracking": {
                            "type": "boolean",
                            "description": "Whether social crawler tracking is skipped."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Optional slug value when available."
                          },
                          "spam": {
                            "type": "boolean",
                            "description": "Whether the link is marked as spam."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL."
                          },
                          "utmCampaign": {
                            "type": "string",
                            "description": "UTM campaign value."
                          },
                          "utmContent": {
                            "type": "string",
                            "description": "UTM content value."
                          },
                          "utmMedium": {
                            "type": "string",
                            "description": "UTM medium value."
                          },
                          "utmSource": {
                            "type": "string",
                            "description": "UTM source value."
                          },
                          "utmTerm": {
                            "type": "string",
                            "description": "UTM term value."
                          },
                          "workspaceId": {
                            "type": "number",
                            "description": "Workspace ID that owns the link."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/list-links": {
      "get": {
        "operationId": "linkly.list-links",
        "summary": "List Links",
        "description": "Retrieves links from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/list-links"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search query to filter links.",
            "schema": {
              "type": "string",
              "description": "Search query to filter links."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Links returned for the current page."
                          },
                          "pageNumber": {
                            "type": "number",
                            "description": "Current page number."
                          },
                          "pageSize": {
                            "type": "number",
                            "description": "Number of rows requested per page."
                          },
                          "totalEntries": {
                            "type": "number",
                            "description": "Total matching entries."
                          },
                          "totalPages": {
                            "type": "number",
                            "description": "Total number of pages."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total rows in the response set."
                          },
                          "workspaceLinkCount": {
                            "type": "number",
                            "description": "Total link count for the workspace."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/list-workspaces": {
      "get": {
        "operationId": "linkly.list-workspaces",
        "summary": "List Workspaces",
        "description": "Retrieves workspaces from Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/list-workspaces"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Workspace ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "Workspace name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/linkly/latest/actions/update-link": {
      "put": {
        "operationId": "linkly.update-link",
        "summary": "Update Link",
        "description": "Updates an existing link in Linkly.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/linkly/latest/actions/update-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "number",
                    "description": "Link ID. Required to update an existing link."
                  },
                  "url": {
                    "type": "string",
                    "description": "Optional destination URL."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional display name for the link."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Optional custom short-code slug. Linkly's current runtime rejects custom slug values in this workspace with `slug must be empty`.",
                    "x-mindcloud-advanced": true
                  },
                  "note": {
                    "type": "string",
                    "description": "Optional internal note for the link.",
                    "x-mindcloud-advanced": true
                  },
                  "domain": {
                    "type": "string",
                    "description": "Optional domain for the link.",
                    "x-mindcloud-advanced": true
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the link is enabled.",
                    "x-mindcloud-advanced": true
                  },
                  "forward_params": {
                    "type": "boolean",
                    "description": "Whether to forward query parameters to the destination URL.",
                    "x-mindcloud-advanced": true
                  },
                  "hide_referrer": {
                    "type": "boolean",
                    "description": "Whether to hide the referrer.",
                    "x-mindcloud-advanced": true
                  },
                  "cloaking": {
                    "type": "boolean",
                    "description": "Whether to enable cloaking.",
                    "x-mindcloud-advanced": true
                  },
                  "block_bots": {
                    "type": "boolean",
                    "description": "Whether to block bots.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_source": {
                    "type": "string",
                    "description": "Optional UTM source parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_medium": {
                    "type": "string",
                    "description": "Optional UTM medium parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_campaign": {
                    "type": "string",
                    "description": "Optional UTM campaign parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_term": {
                    "type": "string",
                    "description": "Optional UTM term parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "utm_content": {
                    "type": "string",
                    "description": "Optional UTM content parameter.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional array of redirect rule objects. Use the nested Rules fields below to define each rule.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].what": {
                    "type": "string",
                    "description": "What the redirect rule matches against.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].url": {
                    "type": "string",
                    "description": "Destination URL to use when the rule matches.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].rule_url": {
                    "type": "string",
                    "description": "Source URL or pattern evaluated by the rule when applicable.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].percentage": {
                    "type": "string",
                    "description": "Traffic percentage for percentage-based rules.",
                    "x-mindcloud-advanced": true
                  },
                  "rules[].matches": {
                    "type": "string",
                    "description": "Match expression for the redirect rule.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockBots": {
                            "type": "boolean",
                            "description": "Whether bots are blocked."
                          },
                          "bodyTags": {
                            "type": "string",
                            "description": "Custom body tags."
                          },
                          "cloaking": {
                            "type": "boolean",
                            "description": "Whether cloaking is enabled."
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Whether the link is deleted."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Domain used by the short link."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the link is enabled."
                          },
                          "expiryClicks": {
                            "type": "number",
                            "description": "Expiry click threshold when configured."
                          },
                          "expiryDatetime": {
                            "type": "string",
                            "description": "Expiry timestamp when configured."
                          },
                          "expiryDestination": {
                            "type": "string",
                            "description": "Destination used after expiry when configured."
                          },
                          "fbPixelId": {
                            "type": "string",
                            "description": "Facebook Pixel ID when configured."
                          },
                          "forwardParams": {
                            "type": "boolean",
                            "description": "Whether query parameters are forwarded."
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "Shortened Linkly URL."
                          },
                          "ga4TagId": {
                            "type": "string",
                            "description": "GA4 tag ID when configured."
                          },
                          "gtmId": {
                            "type": "string",
                            "description": "Google Tag Manager ID when configured."
                          },
                          "headTags": {
                            "type": "string",
                            "description": "Custom head tags."
                          },
                          "hideReferrer": {
                            "type": "boolean",
                            "description": "Whether referrer hiding is enabled."
                          },
                          "id": {
                            "type": "number",
                            "description": "Link ID."
                          },
                          "insertedAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "linkifyWords": {
                            "type": "string",
                            "description": "Linkify words configuration."
                          },
                          "name": {
                            "type": "string",
                            "description": "Optional link name."
                          },
                          "note": {
                            "type": "string",
                            "description": "Optional internal note."
                          },
                          "ogDescription": {
                            "type": "string",
                            "description": "Open Graph description."
                          },
                          "ogImage": {
                            "type": "string",
                            "description": "Open Graph image URL."
                          },
                          "ogTitle": {
                            "type": "string",
                            "description": "Open Graph title."
                          },
                          "publicAnalytics": {
                            "type": "boolean",
                            "description": "Whether public analytics is enabled."
                          },
                          "replacements": {
                            "type": "string",
                            "description": "Replacement rules summary."
                          },
                          "rules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Redirect rule definitions."
                          },
                          "skipSocialCrawlerTracking": {
                            "type": "boolean",
                            "description": "Whether social crawler tracking is skipped."
                          },
                          "slug": {
                            "type": "string",
                            "description": "Optional slug value when available."
                          },
                          "spam": {
                            "type": "boolean",
                            "description": "Whether the link is marked as spam."
                          },
                          "url": {
                            "type": "string",
                            "description": "Destination URL."
                          },
                          "utmCampaign": {
                            "type": "string",
                            "description": "UTM campaign value."
                          },
                          "utmContent": {
                            "type": "string",
                            "description": "UTM content value."
                          },
                          "utmMedium": {
                            "type": "string",
                            "description": "UTM medium value."
                          },
                          "utmSource": {
                            "type": "string",
                            "description": "UTM source value."
                          },
                          "utmTerm": {
                            "type": "string",
                            "description": "UTM term value."
                          },
                          "workspaceId": {
                            "type": "number",
                            "description": "Workspace ID that owns the link."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
[...]
