{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "UProc Universal API",
    "version": "0.0.13",
    "description": "Run uProc data processors to validate, enrich, transform, and retrieve data across personal, company, communication, finance, product, text, internet, image, and utility categories."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/uProc/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/uProc/latest/actions/check-age-is-adult": {
      "get": {
        "operationId": "uProc.check-age-is-adult",
        "summary": "Check Age Is Adult",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-adult"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1950-05-20"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-between": {
      "get": {
        "operationId": "uProc.check-age-is-between",
        "summary": "Check Age Is Between",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-between"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "years1",
            "in": "query",
            "required": true,
            "description": "Lower age bound.",
            "schema": {
              "type": "string",
              "description": "Lower age bound.",
              "default": "35"
            }
          },
          {
            "name": "years2",
            "in": "query",
            "required": true,
            "description": "Upper age bound.",
            "schema": {
              "type": "string",
              "description": "Upper age bound.",
              "default": "50"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-greater": {
      "get": {
        "operationId": "uProc.check-age-is-greater",
        "summary": "Check Age Is Greater",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-greater"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": true,
            "description": "Age value to compare against.",
            "schema": {
              "type": "string",
              "description": "Age value to compare against.",
              "default": "40"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-greater-or-equal": {
      "get": {
        "operationId": "uProc.check-age-is-greater-or-equal",
        "summary": "Check Age Is Greater or Equal",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-greater-or-equal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": true,
            "description": "Age value to compare against.",
            "schema": {
              "type": "string",
              "description": "Age value to compare against.",
              "default": "43"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-in-the-forties": {
      "get": {
        "operationId": "uProc.check-age-is-in-the-forties",
        "summary": "Check Age Is in the Forties",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-in-the-forties"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-in-the-twenties": {
      "get": {
        "operationId": "uProc.check-age-is-in-the-twenties",
        "summary": "Check Age Is in the Twenties",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-in-the-twenties"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "2000-05-20"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-lower": {
      "get": {
        "operationId": "uProc.check-age-is-lower",
        "summary": "Check Age Is Lower",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-lower"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": true,
            "description": "Age value to compare against.",
            "schema": {
              "type": "string",
              "description": "Age value to compare against.",
              "default": "53"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-lower-or-equal": {
      "get": {
        "operationId": "uProc.check-age-is-lower-or-equal",
        "summary": "Check Age Is Lower or Equal",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-lower-or-equal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": true,
            "description": "Age value to compare against.",
            "schema": {
              "type": "string",
              "description": "Age value to compare against.",
              "default": "53"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-age-is-retired": {
      "get": {
        "operationId": "uProc.check-age-is-retired",
        "summary": "Check Age Is Retired",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-age-is-retired"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1954-05-20"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-ages-are-equal": {
      "get": {
        "operationId": "uProc.check-ages-are-equal",
        "summary": "Check Ages Are Equal",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-ages-are-equal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Birth date to evaluate.",
            "schema": {
              "type": "string",
              "description": "Birth date to evaluate.",
              "default": "1975-05-20"
            }
          },
          {
            "name": "years",
            "in": "query",
            "required": true,
            "description": "Age value to compare against.",
            "schema": {
              "type": "string",
              "description": "Age value to compare against.",
              "default": "47"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-asin-exists": {
      "get": {
        "operationId": "uProc.check-asin-exists",
        "summary": "Check ASIN Exists",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-asin-exists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "description": "ASIN value to check.",
            "schema": {
              "type": "string",
              "description": "ASIN value to check.",
              "default": "B00005N5PF"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uProc/latest/actions/check-asin-is-valid": {
      "get": {
        "operationId": "uProc.check-asin-is-valid",
        "summary": "Check ASIN Is Valid",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uProc/latest/actions/check-asin-is-valid"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "description": "ASIN value to validate.",
            "schema": {
              "type": "string",
              "description": "ASIN value to validate.",
              "default": "B00005N5PF"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "type": "number",
                            "description": "Remaining account balance when returned."
                          },
                          "criteria": {
                            "type": "string",
                            "description": "Applied matching criteria when returned."
                          },
                          "error": {
                            "type": "boolean",
                            "description": "Provider error flag when returned."
                          },
                          "message": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Processor response payload."
                          },
                          "normalized": {
                            "type": "boolean",
                            "description": "Normalization flag when returned."
                          },
                          "params": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Normalized processor input parameters."
                          },
                          "price": {
                            "type": "number",
                            "description": "Request price when returned."
                          },
                          "processor": {
                            "type": "string",
                            "description": "Executed uProc processor key."
                          },
                          "realPrice": {
                            "type": "number",
                            "description": "Effective request price when returned."
                          },
                          "result": {
                            "type": "boolean",
                            "description": "Processor result flag."
                          },
                          "time": {
                            "type": "number",
                            "description": "Execution time when returned."
                          },
                          "totalRows": {
                            "type": "number",
                            "description": "Total processed rows when returned."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
[...]
