{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "lemlist Universal API",
    "version": "0.0.11",
    "description": "Find leads and automate multichannel outreach with lemlist"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/lemlist/latest/actions/add-webhook": {
      "post": {
        "operationId": "lemlist.add-webhook",
        "summary": "Add Webhook",
        "description": "Creates a new webhook in lemlist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/add-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "targetUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "targetUrl": {
                    "type": "string",
                    "description": "The URL that will receive webhook POST requests.",
                    "example": "https://webhook.site/1d50ac35-2755-42cc-964c-9acbb4ebca30"
                  },
                  "type": {
                    "type": "string",
                    "description": "Optional event type to subscribe to.",
                    "enum": [
                      "aircallCreated",
                      "aircallDone",
                      "aircallEnded",
                      "aircallInterested",
                      "aircallNotInterested",
                      "annotated",
                      "apiDone",
                      "apiFailed",
                      "apiInterested",
                      "apiNotInterested",
                      "attracted",
                      "callRecordingDone",
                      "callTranscriptDone",
                      "campaignComplete",
                      "connectionIssue",
                      "contacted",
                      "customDomainErrors",
                      "emailsBounced",
                      "emailsClicked",
                      "emailsFailed",
                      "emailsInterested",
                      "emailsNotInterested",
                      "emailsOpened",
                      "emailsReplied",
                      "emailsSendFailed",
                      "emailsSent",
                      "emailsUnsubscribed",
                      "enrichmentDone",
                      "enrichmentError",
                      "hooked",
                      "interested",
                      "lemwarmPaused",
                      "linkedinInterested",
                      "linkedinInviteAccepted",
                      "linkedinInviteDone",
                      "linkedinInviteFailed",
                      "linkedinNotInterested",
                      "linkedinReplied",
                      "linkedinSendFailed",
                      "linkedinSent",
                      "linkedinVisitDone",
                      "linkedinVisitFailed",
                      "linkedinVoiceNoteDone",
                      "linkedinVoiceNoteFailed",
                      "manualInterested",
                      "manualNotInterested",
                      "notInterested",
                      "opportunitiesDone",
                      "paused",
                      "resumed",
                      "sendLimitReached",
                      "skipped",
                      "warmed"
                    ]
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "Webhook for a specific campaign.",
                    "example": "cam_A1B2C3D4E5F6G7H8I9"
                  },
                  "isFirst": {
                    "type": "boolean",
                    "description": "Webhook for first activity only."
                  },
                  "zapId": {
                    "type": "string",
                    "description": "Zapier ID.",
                    "example": "123456789"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "targetUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/create-campaign": {
      "post": {
        "operationId": "lemlist.create-campaign",
        "summary": "Create Campaign",
        "description": "Creates a new campaign in lemlist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/create-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the campaign to create.",
                    "example": "MindCloud Stage 3 Test Campaign"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "displayedVariableKeys": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "emoji": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inSequenceLeadCount": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "reviewedCount": {
                            "type": "number"
                          },
                          "scannedCount": {
                            "type": "number"
                          },
                          "scheduleIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sequenceId": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "stopOnEmailReplied": {
                            "type": "boolean"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "unsubscribe": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/create-lead-in-campaign": {
      "post": {
        "operationId": "lemlist.create-lead-in-campaign",
        "summary": "Create Lead in Campaign",
        "description": "Creates a new lead in a lemlist campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/create-lead-in-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "campaignId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "campaignId": {
                    "type": "string",
                    "description": "The ID of the campaign to add the lead to.",
                    "example": "campaign_123"
                  },
                  "email": {
                    "type": "string",
                    "description": "The lead's email address.",
                    "example": "jane.doe@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "The lead's first name.",
                    "example": "Jane"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "The lead's last name.",
                    "example": "Doe"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "The lead's company name.",
                    "example": "Acme"
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "The lead's job title.",
                    "example": "Growth Lead"
                  },
                  "linkedinUrl": {
                    "type": "string",
                    "description": "The lead's LinkedIn profile URL.",
                    "example": "https://linkedin.com/in/jane-doe"
                  },
                  "picture": {
                    "type": "string",
                    "description": "The lead's profile picture URL.",
                    "example": "https://example.com/avatar.jpg"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The lead's phone number.",
                    "example": "+15555550123"
                  },
                  "companyDomain": {
                    "type": "string",
                    "description": "The lead's company domain.",
                    "example": "example.com"
                  },
                  "icebreaker": {
                    "type": "string",
                    "description": "A custom icebreaker to personalize outreach.",
                    "example": "Congrats on the product launch"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The lead's timezone.",
                    "example": "Europe/Paris"
                  },
                  "contactOwner": {
                    "type": "string",
                    "description": "The lead owner's email address.",
                    "example": "owner@example.com"
                  },
                  "deduplicate": {
                    "type": "boolean",
                    "description": "Prevents duplicate leads from being added when enabled.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "linkedinEnrichment": {
                    "type": "boolean",
                    "description": "Enrich the lead with LinkedIn data if available.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "findEmail": {
                    "type": "boolean",
                    "description": "Find an email address for the lead when one is not provided.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "verifyEmail": {
                    "type": "boolean",
                    "description": "Verify the provided or found email address.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  },
                  "findPhone": {
                    "type": "boolean",
                    "description": "Find a phone number for the lead if available.",
                    "example": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignId": {
                            "type": "string"
                          },
                          "campaignName": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPaused": {
                            "type": "boolean"
                          },
                          "lastName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/get-campaign": {
      "get": {
        "operationId": "lemlist.get-campaign",
        "summary": "Get Campaign",
        "description": "Retrieves a specific campaign from lemlist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/get-campaign"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign to retrieve.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign to retrieve.",
              "example": "67618ad126d28d06429eb1c4"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string"
                          },
                          "creator": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "userEmail": {
                                "type": "string"
                              },
                              "userId": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "senders": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/get-campaign-stats": {
      "get": {
        "operationId": "lemlist.get-campaign-stats",
        "summary": "Get Campaign Stats",
        "description": "Retrieves statistics for a lemlist campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/get-campaign-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign to inspect.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign to inspect.",
              "example": "67618ad126d28d06429eb1c4"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "The start of the reporting range in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "The start of the reporting range in ISO 8601 format.",
              "example": "2025-01-01T00:00:00.000Z"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "description": "The end of the reporting range in ISO 8601 format.",
            "schema": {
              "type": "string",
              "description": "The end of the reporting range in ISO 8601 format.",
              "example": "2025-01-31T23:59:59.999Z"
            }
          },
          {
            "name": "sendUser",
            "in": "query",
            "required": false,
            "description": "Filter statistics to a specific sending user.",
            "schema": {
              "type": "string",
              "description": "Filter statistics to a specific sending user.",
              "example": "usr_123",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "abSelected",
            "in": "query",
            "required": false,
            "description": "Return statistics for only the A or B branch.",
            "schema": {
              "type": "string",
              "description": "Return statistics for only the A or B branch.",
              "enum": [
                "A",
                "B"
              ],
              "example": "A",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "channels",
            "in": "query",
            "required": false,
            "description": "A JSON array string of channels to include.",
            "schema": {
              "type": "string",
              "description": "A JSON array string of channels to include.",
              "example": "email,linkedin",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clicked": {
                            "type": "number",
                            "description": "Clicked messages."
                          },
                          "delivered": {
                            "type": "number",
                            "description": "Delivered messages."
                          },
                          "invitationAccepted": {
                            "type": "number",
                            "description": "Accepted invitations."
                          },
                          "meetingBooked": {
                            "type": "number",
                            "description": "Meetings booked."
                          },
                          "messagesBounced": {
                            "type": "number",
                            "description": "Messages that bounced."
                          },
                          "messagesNotSent": {
                            "type": "number",
                            "description": "Messages that were not sent."
                          },
                          "messagesSent": {
                            "type": "number",
                            "description": "Messages sent."
                          },
                          "nbLeads": {
                            "type": "number",
                            "description": "Total leads in the campaign during the selected range."
                          },
                          "nbLeadsAnswered": {
                            "type": "number",
                            "description": "Leads who answered the campaign."
                          },
                          "nbLeadsInteracted": {
                            "type": "number",
                            "description": "Leads who interacted with the campaign."
                          },
                          "nbLeadsInterested": {
                            "type": "number",
                            "description": "Leads marked interested."
                          },
                          "nbLeadsInterrupted": {
                            "type": "number",
                            "description": "Leads interrupted from the campaign."
                          },
                          "nbLeadsLaunched": {
                            "type": "number",
                            "description": "Leads launched during the selected range."
                          },
                          "nbLeadsNotInterested": {
                            "type": "number",
                            "description": "Leads marked not interested."
                          },
                          "nbLeadsOpened": {
                            "type": "number",
                            "description": "Leads who opened at least one message."
                          },
                          "nbLeadsReached": {
                            "type": "number",
                            "description": "Leads reached during the selected range."
                          },
                          "nbLeadsUnsubscribed": {
                            "type": "number",
                            "description": "Leads who unsubscribed."
                          },
                          "opened": {
                            "type": "number",
                            "description": "Opened messages."
                          },
                          "replied": {
                            "type": "number",
                            "description": "Replies received."
                          },
                          "steps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Step-level statistics."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/get-lead-by-email": {
      "get": {
        "operationId": "lemlist.get-lead-by-email",
        "summary": "Get Lead by Email",
        "description": "Finds a lead in lemlist by email address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/get-lead-by-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "The email address of the lead to retrieve.",
            "schema": {
              "type": "string",
              "description": "The email address of the lead to retrieve.",
              "example": "jane.doe@example.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "enrichment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "isPaused": {
                            "type": "boolean"
                          },
                          "personalized": {
                            "type": "boolean"
                          },
                          "sendingUser": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "source": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "variables": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "companyName": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "jobTitle": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "preferredContactMethod": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/get-team-credits": {
      "get": {
        "operationId": "lemlist.get-team-credits",
        "summary": "Get Team Credits",
        "description": "Retrieves your team credits from lemlist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/get-team-credits"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits": {
                            "type": "number",
                            "description": "Remaining team credits."
                          },
                          "details": {
                            "type": "object",
                            "properties": {
                              "remaining": {
                                "type": "object",
                                "properties": {
                                  "freemium": {
                                    "type": "number",
                                    "description": "Remaining freemium credits."
                                  },
                                  "gifted": {
                                    "type": "number",
                                    "description": "Remaining gifted credits."
                                  },
                                  "paid": {
                                    "type": "number",
                                    "description": "Remaining paid credits."
                                  },
                                  "subscription": {
                                    "type": "number",
                                    "description": "Remaining subscription credits."
                                  },
                                  "total": {
                                    "type": "number",
                                    "description": "Total remaining credits."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/list-activities": {
      "get": {
        "operationId": "lemlist.list-activities",
        "summary": "List Activities",
        "description": "Retrieves your activity records from lemlist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/list-activities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by activity type.",
            "schema": {
              "type": "string",
              "description": "Filter by activity type.",
              "example": "paused"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": false,
            "description": "Filter by campaign ID.",
            "schema": {
              "type": "string",
              "description": "Filter by campaign ID.",
              "example": "cam_123"
            }
          },
          {
            "name": "isFirst",
            "in": "query",
            "required": false,
            "description": "Filter for first activity only.",
            "schema": {
              "type": "boolean",
              "description": "Filter for first activity only."
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": false,
            "description": "Filter by lead ID.",
            "schema": {
              "type": "string",
              "description": "Filter by lead ID.",
              "example": "lea_123"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aiLeadInterestScore": {
                            "type": "number"
                          },
                          "bot": {
                            "type": "boolean"
                          },
                          "bouncedId": {
                            "type": "string"
                          },
                          "campaignId": {
                            "type": "string"
                          },
                          "campaignName": {
                            "type": "string"
                          },
                          "cc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "contactId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "emailId": {
                            "type": "string"
                          },
                          "fromEmail": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isFirst": {
                            "type": "boolean"
                          },
                          "lead": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "contactId": {
                                "type": "string"
                              },
                              "enrichment": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "isPaused": {
                                "type": "boolean"
                              },
                              "personalized": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "variables": {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "companyDomain": {
                                    "type": "string"
                                  },
                                  "companyLinkedinUrl": {
                                    "type": "string"
                                  },
                                  "companyName": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "jobTitle": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  },
                                  "linkedinUrl": {
                                    "type": "string"
                                  },
                                  "phone": {
                                    "type": "string"
                                  },
                                  "preferredContactMethod": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "leadCompanyName": {
                            "type": "string"
                          },
                          "leadEmail": {
                            "type": "string"
                          },
                          "leadFirstName": {
                            "type": "string"
                          },
                          "leadId": {
                            "type": "string"
                          },
                          "leadLastName": {
                            "type": "string"
                          },
                          "leadPhone": {
                            "type": "string"
                          },
                          "messageId": {
                            "type": "string"
                          },
                          "messagePreview": {
                            "type": "string"
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "campaignId": {
                                "type": "string"
                              },
                              "createdBy": {
                                "type": "string"
                              },
                              "leadId": {
                                "type": "string"
                              },
                              "s3ready": {
                                "type": "boolean"
                              },
                              "taskId": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "sendUserEmail": {
                            "type": "string"
                          },
                          "sendUserId": {
                            "type": "string"
                          },
                          "sendUserLoginEmail": {
                            "type": "string"
                          },
                          "sendUserMailboxId": {
                            "type": "string"
                          },
                          "sendUserName": {
                            "type": "string"
                          },
                          "sequenceTested": {
                            "type": "string"
                          },
                          "stopped": {
                            "type": "boolean"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "unsubscribedSource": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/list-campaign-leads": {
      "get": {
        "operationId": "lemlist.list-campaign-leads",
        "summary": "List Campaign Leads",
        "description": "Retrieves leads from a lemlist campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/list-campaign-leads"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign to retrieve leads from.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign to retrieve leads from.",
              "example": "campaign_123"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Filter leads by their current state.",
            "schema": {
              "type": "string",
              "description": "Filter leads by their current state.",
              "example": "scanned"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/list-campaign-sequences": {
      "get": {
        "operationId": "lemlist.list-campaign-sequences",
        "summary": "List Campaign Sequences",
        "description": "Retrieves sequences from a lemlist campaign.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/list-campaign-sequences"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "required": true,
            "description": "The ID of the campaign whose sequences should be retrieved.",
            "schema": {
              "type": "string",
              "description": "The ID of the campaign whose sequences should be retrieved.",
              "example": "67618ad126d28d06429eb1c4"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/lemlist/latest/actions/list-campaigns": {
      "get": {
        "operationId": "lemlist.list-campaigns",
        "summary": "List Campaigns",
        "description": "Retrieves your campaign list from lemlist.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/lemlist/latest/actions/list-campaigns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter campaigns by status.",
            "schema": {
              "type": "string",
              "description": "Filter campaigns by status.",
              "enum": [
                "archived",
                "draft",
                "out_of_credits",
                "paused",
                "running"
              ],
              "example": "running"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaigns": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "createdAt": {
                                  "type": "string"
                                },
                                "createdBy": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "sequenceId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "pagination": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "currentPage": {
                                "type": "number"
                              },
                              "nextPage": {
                                "type": "number"
                              },
                              "totalPage": {
                                "type": "number"
                              },
                              "totalRecords": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
[...]
