{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Gift Up Universal API",
    "version": "0.0.4",
    "description": "Sell, manage, and redeem digital gift cards and vouchers through Gift Up."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/giftUp/latest/actions/create-item": {
      "post": {
        "operationId": "giftUp.create-item",
        "summary": "Create Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name",
                  "price",
                  "value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "backingType": {
                    "type": "string",
                    "default": "Currency"
                  },
                  "priceType": {
                    "type": "string",
                    "default": "Specified"
                  },
                  "price": {
                    "type": "number"
                  },
                  "value": {
                    "type": "number"
                  },
                  "groupId": {
                    "type": "string"
                  },
                  "detailsURL": {
                    "type": "string"
                  },
                  "stockLevel": {
                    "type": "number"
                  },
                  "perOrderLimit": {
                    "type": "number"
                  },
                  "additionalTerms": {
                    "type": "string"
                  },
                  "sku": {
                    "type": "string"
                  },
                  "codes[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalTerms": {
                            "type": "string"
                          },
                          "artworkUrl": {
                            "type": "string"
                          },
                          "availableFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "availableUntil": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "backingType": {
                            "type": "string"
                          },
                          "codes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "detailsURL": {
                            "type": "string"
                          },
                          "equivalentValuePerUnit": {
                            "type": "number"
                          },
                          "expiresInDays": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresInMonths": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "group": {
                            "type": "string"
                          },
                          "groupId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "maximumPrice": {
                            "type": "number"
                          },
                          "minimumPrice": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overrideExpiry": {
                            "type": "boolean"
                          },
                          "overrideValidFrom": {
                            "type": "boolean"
                          },
                          "perOrderLimit": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "price": {
                            "type": "number"
                          },
                          "priceType": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "stockLevel": {
                            "type": "number"
                          },
                          "units": {
                            "type": "number"
                          },
                          "validFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validFromInDays": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validOnDays": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/create-item-group": {
      "post": {
        "operationId": "giftUp.create-item-group",
        "summary": "Create Item Group",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/create-item-group"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "sortOrder": {
                    "type": "number",
                    "default": 0
                  },
                  "autoExpand": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoExpand": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/create-order": {
      "post": {
        "operationId": "giftUp.create-order",
        "summary": "Create Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/create-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "purchaserName",
                  "itemDetails[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "purchaserName": {
                    "type": "string"
                  },
                  "purchaserEmail": {
                    "type": "string"
                  },
                  "disableAllEmails": {
                    "type": "boolean",
                    "default": false
                  },
                  "orderDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "referrer": {
                    "type": "string"
                  },
                  "revenue": {
                    "type": "number"
                  },
                  "tip": {
                    "type": "number"
                  },
                  "serviceFee": {
                    "type": "number"
                  },
                  "discount": {
                    "type": "number"
                  },
                  "itemDetails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "recipientDetails": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "salesTaxes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "discount": {
                            "type": "number"
                          },
                          "downloadLinks": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "fulfilments": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "giftCards": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "payment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "promotions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "purchaserEmail": {
                            "type": "string"
                          },
                          "purchaserName": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "revenue": {
                            "type": "number"
                          },
                          "salesTaxes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectedRecipient": {
                            "type": "string"
                          },
                          "serviceFee": {
                            "type": "number"
                          },
                          "shippingFee": {
                            "type": "number"
                          },
                          "tip": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/get-company": {
      "get": {
        "operationId": "giftUp.get-company",
        "summary": "Get Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/get-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "canShowCheckout": {
                            "type": "boolean"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isCheckoutLive": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "onboardingCompleted": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/get-gift-card-by-code": {
      "get": {
        "operationId": "giftUp.get-gift-card-by-code",
        "summary": "Get Gift Card by Code",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/get-gift-card-by-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backingType": {
                            "type": "string"
                          },
                          "canBeRedeemed": {
                            "type": "boolean"
                          },
                          "cancelledOn": {
                            "type": "boolean"
                          },
                          "code": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "downloadLinks": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailFulfilment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "equivalentValuePerUnit": {
                            "type": "number"
                          },
                          "expiresOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fulfilledBy": {
                            "type": "string"
                          },
                          "fulfilledOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasExpired": {
                            "type": "boolean"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "initialUnits": {
                            "type": "number"
                          },
                          "initialValue": {
                            "type": "number"
                          },
                          "isProvisional": {
                            "type": "boolean"
                          },
                          "isVoided": {
                            "type": "boolean"
                          },
                          "ledger": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "notYetValid": {
                            "type": "boolean"
                          },
                          "order": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "postalFulfilment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "purchaserName": {
                            "type": "string"
                          },
                          "recipientEmail": {
                            "type": "string"
                          },
                          "recipientName": {
                            "type": "string"
                          },
                          "remainingUnits": {
                            "type": "number"
                          },
                          "remainingValue": {
                            "type": "number"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "subTitle": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "validFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validOnDays": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "voidedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/get-item-by-id": {
      "get": {
        "operationId": "giftUp.get-item-by-id",
        "summary": "Get Item by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/get-item-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalTerms": {
                            "type": "string"
                          },
                          "artworkUrl": {
                            "type": "string"
                          },
                          "availableFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "availableUntil": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "backingType": {
                            "type": "string"
                          },
                          "codes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "detailsURL": {
                            "type": "string"
                          },
                          "equivalentValuePerUnit": {
                            "type": "number"
                          },
                          "expiresInDays": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresInMonths": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "group": {
                            "type": "string"
                          },
                          "groupId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "maximumPrice": {
                            "type": "number"
                          },
                          "minimumPrice": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overrideExpiry": {
                            "type": "boolean"
                          },
                          "overrideValidFrom": {
                            "type": "boolean"
                          },
                          "perOrderLimit": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "priceType": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "stockLevel": {
                            "type": "number"
                          },
                          "units": {
                            "type": "number"
                          },
                          "validFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validFromInDays": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validOnDays": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/get-item-group-by-id": {
      "get": {
        "operationId": "giftUp.get-item-group-by-id",
        "summary": "Get Item Group by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/get-item-group-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoExpand": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/get-order-by-id": {
      "get": {
        "operationId": "giftUp.get-order-by-id",
        "summary": "Get Order by ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/get-order-by-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "discount": {
                            "type": "number"
                          },
                          "downloadLinks": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "notes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "orderNumber": {
                            "type": "string"
                          },
                          "payment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "promotions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "purchaserEmail": {
                            "type": "string"
                          },
                          "purchaserName": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "revenue": {
                            "type": "number"
                          },
                          "salesTaxes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectedRecipient": {
                            "type": "string"
                          },
                          "serviceFee": {
                            "type": "number"
                          },
                          "shippingFee": {
                            "type": "number"
                          },
                          "tip": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/get-report-transaction": {
      "get": {
        "operationId": "giftUp.get-report-transaction",
        "summary": "Get Report Transaction",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/get-report-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "eventOccuredAtLocationId": {
                            "type": "string"
                          },
                          "eventOccuredOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "eventType": {
                            "type": "string"
                          },
                          "giftCard": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "giftUpFee": {
                            "type": "number"
                          },
                          "id": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderDetails": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "referrer": {
                            "type": "string"
                          },
                          "whoEmail": {
                            "type": "string"
                          },
                          "whoName": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/list-gift-cards": {
      "get": {
        "operationId": "giftUp.list-gift-cards",
        "summary": "List Gift Cards",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/list-gift-cards"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backingType": {
                            "type": "string"
                          },
                          "canBeRedeemed": {
                            "type": "boolean"
                          },
                          "cancelledOn": {
                            "type": "boolean"
                          },
                          "code": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
                          },
                          "downloadLinks": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "emailFulfilment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "equivalentValuePerUnit": {
                            "type": "number"
                          },
                          "expiresOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "fulfilledBy": {
                            "type": "string"
                          },
                          "fulfilledOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasExpired": {
                            "type": "boolean"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "initialUnits": {
                            "type": "number"
                          },
                          "initialValue": {
                            "type": "number"
                          },
                          "isProvisional": {
                            "type": "boolean"
                          },
                          "isVoided": {
                            "type": "boolean"
                          },
                          "ledger": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "message": {
                            "type": "string"
                          },
                          "notYetValid": {
                            "type": "boolean"
                          },
                          "order": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "orderId": {
                            "type": "string"
                          },
                          "postalFulfilment": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "purchaserName": {
                            "type": "string"
                          },
                          "recipientEmail": {
                            "type": "string"
                          },
                          "recipientName": {
                            "type": "string"
                          },
                          "remainingUnits": {
                            "type": "number"
                          },
                          "remainingValue": {
                            "type": "number"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "subTitle": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "validFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validOnDays": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "voidedOn": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/list-item-groups": {
      "get": {
        "operationId": "giftUp.list-item-groups",
        "summary": "List Item Groups",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/list-item-groups"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "autoExpand": {
                            "type": "boolean"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "sortOrder": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/giftUp/latest/actions/list-items": {
      "get": {
        "operationId": "giftUp.list-items",
        "summary": "List Items",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/giftUp/latest/actions/list-items"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalTerms": {
                            "type": "string"
                          },
                          "artworkUrl": {
                            "type": "string"
                          },
                          "availableFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "availableUntil": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "backingType": {
                            "type": "string"
                          },
                          "codes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "string"
                          },
                          "detailsURL": {
                            "type": "string"
                          },
                          "equivalentValuePerUnit": {
                            "type": "number"
                          },
                          "expiresInDays": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresInMonths": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "expiresOn": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "group": {
                            "type": "string"
                          },
                          "groupId": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "maximumPrice": {
                            "type": "number"
                          },
                          "minimumPrice": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overrideExpiry": {
                            "type": "boolean"
                          },
                          "overrideValidFrom": {
                            "type": "boolean"
                          },
                          "perOrderLimit": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "priceType": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string"
                          },
                          "stockLevel": {
                            "type": "number"
                          },
                          "units": {
                            "type": "number"
                          },
                          "validFrom": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validFromInDays": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "validOnDays": {
                            "type": "array",
                            "items": {
[...]
