{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Instasent Universal API",
    "version": "0.0.5",
    "description": "Instasent is an SMS marketing and audience engagement platform for managing projects, audiences, data sources, and direct SMS delivery."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/instasent/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/instasent/latest/actions/aggregate-audience": {
      "get": {
        "operationId": "instasent.aggregate-audience",
        "summary": "Aggregate Audience",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/aggregate-audience"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "root",
            "in": "query",
            "required": false,
            "description": "Audience filter tree to aggregate.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Audience filter tree to aggregate."
            }
          },
          {
            "name": "aggregations",
            "in": "query",
            "required": true,
            "description": "Aggregation definition object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Aggregation definition object."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entities": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Aggregation result object keyed by the requested aggregation names"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "totalHits": {
                                "type": "number",
                                "description": "Total number of audience contacts that matched the filter"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/create-datasource": {
      "post": {
        "operationId": "instasent.create-datasource",
        "summary": "Create Datasource",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/create-datasource"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "project",
                  "name",
                  "audienceTags[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "project": {
                    "type": "string",
                    "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
                  },
                  "name": {
                    "type": "string",
                    "description": "Datasource name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Datasource description."
                  },
                  "audienceTags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Audience tags to assign to the datasource."
                  },
                  "tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Datasource tags."
                  },
                  "defaultCountry": {
                    "type": "string",
                    "description": "Default country code for contacts."
                  },
                  "locale": {
                    "type": "string",
                    "description": "Datasource locale."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Datasource timezone."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "audienceTags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "defaultCountry": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "integration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactCreatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactEventSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactExtraSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactGarbageCollectorSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactIntegratedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactReceivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventCreatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventReceivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastExtraImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastGarbageCollectorImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "priority": {
                                "type": "number"
                              },
                              "projectAttributeMappings": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedContacts": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedEvents": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrations": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsCreations": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsMerges": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsUpdates": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sequence": {
                                "type": "number"
                              },
                              "sequenceDate": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "callbackUrl": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "projects": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "testMode": {
                                    "type": "boolean"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "token": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "uniqueDsfield": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/delete-stream-record": {
      "delete": {
        "operationId": "instasent.delete-stream-record",
        "summary": "Delete Stream Record",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/delete-stream-record"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "datasource",
            "in": "query",
            "required": true,
            "description": "Datasource identifier.",
            "schema": {
              "type": "string",
              "description": "Datasource identifier."
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "Stream action name.",
            "schema": {
              "type": "string",
              "description": "Stream action name."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "Audience user identifier.",
            "schema": {
              "type": "string",
              "description": "Audience user identifier."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "accepted": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "item": {
                                  "type": "string"
                                },
                                "position": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "apiSpeedTier": {
                            "type": "number"
                          },
                          "datasourceId": {
                            "type": "string"
                          },
                          "datasourceUid": {
                            "type": "string"
                          },
                          "dryRun": {
                            "type": "boolean"
                          },
                          "entitiesFailures": {
                            "type": "number"
                          },
                          "entitiesLimit": {
                            "type": "number"
                          },
                          "entitiesSuccess": {
                            "type": "number"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "projectUid": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "callsFailures": {
                                "type": "number"
                              },
                              "callsSuccess": {
                                "type": "number"
                              },
                              "callsTotal": {
                                "type": "number"
                              },
                              "entitiesFailures": {
                                "type": "number"
                              },
                              "entitiesSuccess": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "number"
                          },
                          "streamId": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/get-audience-contact": {
      "get": {
        "operationId": "instasent.get-audience-contact",
        "summary": "Get Audience Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/get-audience-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "audienceId",
            "in": "query",
            "required": true,
            "description": "Audience identifier.",
            "schema": {
              "type": "string",
              "description": "Audience identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "attributesData": {
                                "type": "object",
                                "properties": {
                                  "_accepts_marketing_email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_accepts_marketing_sms": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_accepts_marketing_whatsapp": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_client_lists": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_client_tags": {
                                    "type": "string"
                                  },
                                  "_date_imported": {
                                    "type": "string"
                                  },
                                  "_date_registered": {
                                    "type": "string"
                                  },
                                  "_date_seen": {
                                    "type": "string"
                                  },
                                  "_date_updated": {
                                    "type": "string"
                                  },
                                  "_email": {
                                    "type": "string"
                                  },
                                  "_first_name": {
                                    "type": "string"
                                  },
                                  "_full_name": {
                                    "type": "string"
                                  },
                                  "_is_subscribed_email": {
                                    "type": "boolean"
                                  },
                                  "_is_subscribed_sms": {
                                    "type": "boolean"
                                  },
                                  "_is_subscribed_whatsapp": {
                                    "type": "boolean"
                                  },
                                  "_last_name": {
                                    "type": "string"
                                  },
                                  "_phone_mobile": {
                                    "type": "string"
                                  },
                                  "_user_id": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "audienceIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dsContactIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "dsIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "indexedAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/get-audience-contact-by-user-id": {
      "get": {
        "operationId": "instasent.get-audience-contact-by-user-id",
        "summary": "Get Audience Contact by User ID",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/get-audience-contact-by-user-id"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "Audience user identifier.",
            "schema": {
              "type": "string",
              "description": "Audience user identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "attributesData": {
                                "type": "object",
                                "properties": {
                                  "_accepts_marketing_email": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_accepts_marketing_sms": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_accepts_marketing_whatsapp": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_client_lists": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "_client_tags": {
                                    "type": "string"
                                  },
                                  "_date_imported": {
                                    "type": "string"
                                  },
                                  "_date_registered": {
                                    "type": "string"
                                  },
                                  "_date_seen": {
                                    "type": "string"
                                  },
                                  "_date_updated": {
                                    "type": "string"
                                  },
                                  "_email": {
                                    "type": "string"
                                  },
                                  "_first_name": {
                                    "type": "string"
                                  },
                                  "_full_name": {
                                    "type": "string"
                                  },
                                  "_is_subscribed_email": {
                                    "type": "boolean"
                                  },
                                  "_is_subscribed_sms": {
                                    "type": "boolean"
                                  },
                                  "_is_subscribed_whatsapp": {
                                    "type": "boolean"
                                  },
                                  "_last_name": {
                                    "type": "string"
                                  },
                                  "_phone_mobile": {
                                    "type": "string"
                                  },
                                  "_user_id": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "audienceIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "deletedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "dsContactIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "dsIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "indexedAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/get-datasource": {
      "get": {
        "operationId": "instasent.get-datasource",
        "summary": "Get Datasource",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/get-datasource"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Datasource identifier.",
            "schema": {
              "type": "string",
              "description": "Datasource identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entity": {
                            "type": "object",
                            "properties": {
                              "audienceTags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "defaultCountry": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "integration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactCreatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactEventSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactExtraSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactGarbageCollectorSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactIntegratedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactReceivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventCreatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventReceivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastExtraImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastGarbageCollectorImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "priority": {
                                "type": "number"
                              },
                              "receivedContacts": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedEvents": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrations": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsCreations": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsMerges": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsUpdates": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sequence": {
                                "type": "number"
                              },
                              "sequenceDate": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "callbackUrl": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "createdAt": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "projects": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "additionalProperties": true
                                    }
                                  },
                                  "testMode": {
                                    "type": "boolean"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "token": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "type": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "uniqueDsfield": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/get-datasource-stats": {
      "get": {
        "operationId": "instasent.get-datasource-stats",
        "summary": "Get Datasource Stats",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/get-datasource-stats"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "datasource",
            "in": "query",
            "required": true,
            "description": "Datasource identifier.",
            "schema": {
              "type": "string",
              "description": "Datasource identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contacts": {
                            "type": "object",
                            "properties": {
                              "errored": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "datasource": {
                            "type": "object",
                            "properties": {
                              "audienceTags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "defaultCountry": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "integration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactCreatedAt": {
                                "type": "string"
                              },
                              "lastContactEventSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactExtraSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactGarbageCollectorSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactIntegratedAt": {
                                "type": "string"
                              },
                              "lastContactReceivedAt": {
                                "type": "string"
                              },
                              "lastContactSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventCreatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventReceivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastExtraImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastGarbageCollectorImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "priority": {
                                "type": "number"
                              },
                              "receivedContacts": {
                                "type": "number"
                              },
                              "receivedEvents": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrations": {
                                "type": "number"
                              },
                              "receivedIntegrationsCreations": {
                                "type": "number"
                              },
                              "receivedIntegrationsMerges": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsUpdates": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sequence": {
                                "type": "number"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/get-datasource-stream": {
      "get": {
        "operationId": "instasent.get-datasource-stream",
        "summary": "Get Datasource Stream",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/get-datasource-stream"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id.",
            "schema": {
              "type": "string",
              "description": "Instasent project uid. Use the uid value from List Projects, not the internal project id."
            }
          },
          {
            "name": "datasource",
            "in": "query",
            "required": true,
            "description": "Datasource identifier.",
            "schema": {
              "type": "string",
              "description": "Datasource identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datasource": {
                            "type": "object",
                            "properties": {
                              "audienceTags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "defaultCountry": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "integration": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactCreatedAt": {
                                "type": "string"
                              },
                              "lastContactEventSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactExtraSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactGarbageCollectorSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastContactIntegratedAt": {
                                "type": "string"
                              },
                              "lastContactReceivedAt": {
                                "type": "string"
                              },
                              "lastContactSyncAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventCreatedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastEventReceivedAt": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastExtraImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastGarbageCollectorImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastImport": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "priority": {
                                "type": "number"
                              },
                              "receivedContacts": {
                                "type": "number"
                              },
                              "receivedEvents": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrations": {
                                "type": "number"
                              },
                              "receivedIntegrationsCreations": {
                                "type": "number"
                              },
                              "receivedIntegrationsMerges": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "receivedIntegrationsUpdates": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "sequence": {
                                "type": "number"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "account": {
                                "type": "object",
                                "properties": {
                                  "credit": {
                                    "type": "object",
                                    "properties": {
                                      "currency": {
                                        "type": "string"
                                      },
                                      "resetAt": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "resetTo": {
                                        "type": "number"
                                      },
                                      "value": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "funds": {
                                    "type": "object",
                                    "properties": {
                                      "currency": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              },
                              "api": {
                                "type": "object",
                                "properties": {
                                  "tier": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "plan": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string"
                                  },
                                  "quality": {
                                    "type": "number"
                                  },
                                  "status": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "stream": {
                            "type": "object",
                            "properties": {
                              "callsFailures": {
                                "type": "number"
                              },
                              "callsSuccess": {
                                "type": "number"
                              },
                              "callsTotal": {
                                "type": "number"
                              },
                              "exposed": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastCallTime": {
                                "type": "string"
                              },
                              "lastFailureTime": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "lastSuccessTime": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "processedEntitiesFailures": {
                                "type": "number"
                              },
                              "processedEntitiesSuccess": {
                                "type": "number"
                              },
                              "purpose": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "scopes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/instasent/latest/actions/get-datasource-stream-specs": {
      "get": {
        "operationId": "instasent.get-datasource-stream-specs",
        "summary": "Get Datasource Stream Specs",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/instasent/latest/actions/get-datasource-stream-specs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
[...]
