{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Automate Sales CRM Universal API",
    "version": "0.0.4",
    "description": "Automate Sales CRM is a CRM platform from Automate Business with a public API-key lead capture surface and a documented Pabbly integration catalog."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/automateSalesCRM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/automateSalesCRM/latest/actions/create-new-lead-v2": {
      "post": {
        "operationId": "automateSalesCRM.create-new-lead-v2",
        "summary": "Create New Lead V2",
        "description": "Creates a new lead in Automate Sales CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/automateSalesCRM/latest/actions/create-new-lead-v2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "Lead or contact name sent to the public lead webhook.",
                    "example": "Jane Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead email address.",
                    "example": "jane@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead phone number.",
                    "example": "+15551234567"
                  },
                  "leadTitle": {
                    "type": "string",
                    "description": "Lead title from the provider's lead-creation UI.",
                    "example": "Website Inquiry"
                  },
                  "source": {
                    "type": "string",
                    "description": "Lead source label.",
                    "example": "MindCloud"
                  },
                  "pipeline": {
                    "type": "string",
                    "description": "Optional pipeline label when workspace defaults are not sufficient.",
                    "example": "Default",
                    "x-mindcloud-advanced": true
                  },
                  "stage": {
                    "type": "string",
                    "description": "Optional stage label when workspace defaults are not sufficient.",
                    "example": "New",
                    "x-mindcloud-advanced": true
                  },
                  "salesPerson": {
                    "type": "string",
                    "description": "Optional sales person or assignee label from the provider UI.",
                    "example": "Default Sales Rep",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Raw provider response text from the public lead webhook."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
