{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TypeCast Universal API",
    "version": "0.0.3",
    "description": "Generate speech, stream audio, and inspect TypeCast voices"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/typeCast/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/typeCast/latest/actions/get-subscription": {
      "get": {
        "operationId": "typeCast.get-subscription",
        "summary": "Get Subscription",
        "description": "Retrieves current subscription details from TypeCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeCast/latest/actions/get-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credits": {
                            "type": "object",
                            "properties": {
                              "planCredits": {
                                "type": "number",
                                "description": "Total monthly credits provided by the plan."
                              },
                              "usedCredits": {
                                "type": "number",
                                "description": "Number of credits used."
                              }
                            },
                            "additionalProperties": false
                          },
                          "limits": {
                            "type": "object",
                            "properties": {
                              "concurrencyLimit": {
                                "type": "number",
                                "description": "Maximum number of concurrent requests allowed."
                              }
                            },
                            "additionalProperties": false
                          },
                          "plan": {
                            "type": "string",
                            "description": "Current subscription plan."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeCast/latest/actions/get-voice-details": {
      "get": {
        "operationId": "typeCast.get-voice-details",
        "summary": "Get Voice Details",
        "description": "Retrieves details for a specific voice from TypeCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeCast/latest/actions/get-voice-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voiceId",
            "in": "query",
            "required": true,
            "description": "Unique TypeCast voice identifier.",
            "schema": {
              "type": "string",
              "description": "Unique TypeCast voice identifier."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "string",
                            "description": "Voice age group classification when available."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Voice gender classification when available."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "emotions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Emotion presets supported by the model."
                                },
                                "version": {
                                  "type": "string",
                                  "description": "Supported TTS model version."
                                }
                              }
                            },
                            "description": "Supported TTS models for the voice."
                          },
                          "useCases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Voice use case categories."
                          },
                          "voiceId": {
                            "type": "string",
                            "description": "Unique TypeCast voice identifier."
                          },
                          "voiceName": {
                            "type": "string",
                            "description": "Human-readable voice name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeCast/latest/actions/list-voices": {
      "get": {
        "operationId": "typeCast.list-voices",
        "summary": "List Voices",
        "description": "Retrieves available voices from TypeCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeCast/latest/actions/list-voices"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "description": "Filter voices by supported TTS model.",
            "schema": {
              "type": "string",
              "description": "Filter voices by supported TTS model.",
              "enum": [
                "ssfm-v21",
                "ssfm-v30"
              ]
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter voices by gender.",
            "schema": {
              "type": "string",
              "description": "Filter voices by gender.",
              "enum": [
                "female",
                "male"
              ]
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "description": "Filter voices by age group.",
            "schema": {
              "type": "string",
              "description": "Filter voices by age group.",
              "enum": [
                "child",
                "elder",
                "middle_age",
                "teenager",
                "young_adult"
              ]
            }
          },
          {
            "name": "useCases",
            "in": "query",
            "required": false,
            "description": "Filter voices by use case category.",
            "schema": {
              "type": "string",
              "description": "Filter voices by use case category.",
              "enum": [
                "Ads",
                "Anime",
                "Announcer",
                "Audiobook",
                "Conversational",
                "Documentary",
                "E-learning",
                "Game",
                "News",
                "Podcast",
                "Rapper",
                "Tiktok/Reels",
                "Voicemail"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "age": {
                            "type": "string",
                            "description": "Voice age group classification when available."
                          },
                          "gender": {
                            "type": "string",
                            "description": "Voice gender classification when available."
                          },
                          "models": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "emotions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Emotion presets supported by the model."
                                },
                                "version": {
                                  "type": "string",
                                  "description": "Supported TTS model version."
                                }
                              }
                            },
                            "description": "Supported TTS models for the voice."
                          },
                          "useCases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Voice use case categories."
                          },
                          "voiceId": {
                            "type": "string",
                            "description": "Unique TypeCast voice identifier."
                          },
                          "voiceName": {
                            "type": "string",
                            "description": "Human-readable voice name."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeCast/latest/actions/streaming-text-to-speech": {
      "post": {
        "operationId": "typeCast.streaming-text-to-speech",
        "summary": "Streaming Text To Speech",
        "description": "Creates streaming speech audio in TypeCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeCast/latest/actions/streaming-text-to-speech"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "voiceId",
                  "text",
                  "model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "voiceId": {
                    "type": "string",
                    "description": "TypeCast voice identifier to synthesize with."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text to convert to speech."
                  },
                  "model": {
                    "type": "string",
                    "description": "TTS model version to use.",
                    "enum": [
                      "ssfm-v21",
                      "ssfm-v30"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO 639-3 language code for synthesis."
                  },
                  "prompt": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Emotion and style settings for the generated speech."
                  },
                  "prompt.emotionType": {
                    "type": "string",
                    "description": "Prompt mode for emotion control.",
                    "enum": [
                      "preset",
                      "smart"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "prompt.emotionPreset": {
                    "type": "string",
                    "description": "Emotion preset to apply.",
                    "enum": [
                      "angry",
                      "happy",
                      "normal",
                      "sad",
                      "tonedown",
                      "toneup",
                      "whisper"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "prompt.emotionIntensity": {
                    "type": "number",
                    "description": "Strength of the emotional expression.",
                    "x-mindcloud-advanced": true
                  },
                  "prompt.previousText": {
                    "type": "string",
                    "description": "Text that comes before the generated text for smart emotion inference.",
                    "x-mindcloud-advanced": true
                  },
                  "prompt.nextText": {
                    "type": "string",
                    "description": "Text that comes after the generated text for smart emotion inference.",
                    "x-mindcloud-advanced": true
                  },
                  "output": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Audio output settings for the generated speech."
                  },
                  "output.audioPitch": {
                    "type": "number",
                    "description": "Pitch shift in semitones.",
                    "x-mindcloud-advanced": true
                  },
                  "output.audioTempo": {
                    "type": "number",
                    "description": "Speech speed multiplier.",
                    "x-mindcloud-advanced": true
                  },
                  "output.audioFormat": {
                    "type": "string",
                    "description": "Output audio format.",
                    "enum": [
                      "mp3",
                      "wav"
                    ],
                    "default": "wav",
                    "x-mindcloud-advanced": true
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for speech variation.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/typeCast/latest/actions/text-to-speech": {
      "post": {
        "operationId": "typeCast.text-to-speech",
        "summary": "Text To Speech",
        "description": "Creates a speech audio file in TypeCast.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/typeCast/latest/actions/text-to-speech"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "voiceId",
                  "text",
                  "model"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "voiceId": {
                    "type": "string",
                    "description": "TypeCast voice identifier to synthesize with."
                  },
                  "text": {
                    "type": "string",
                    "description": "Text to convert to speech."
                  },
                  "model": {
                    "type": "string",
                    "description": "TTS model version to use.",
                    "enum": [
                      "ssfm-v21",
                      "ssfm-v30"
                    ]
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO 639-3 language code for synthesis."
                  },
                  "prompt": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Emotion and style settings for the generated speech."
                  },
                  "prompt.emotionType": {
                    "type": "string",
                    "description": "Prompt mode for emotion control.",
                    "enum": [
                      "preset",
                      "smart"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "prompt.emotionPreset": {
                    "type": "string",
                    "description": "Emotion preset to apply.",
                    "enum": [
                      "angry",
                      "happy",
                      "normal",
                      "sad",
                      "tonedown",
                      "toneup",
                      "whisper"
                    ],
                    "x-mindcloud-advanced": true
                  },
                  "prompt.emotionIntensity": {
                    "type": "number",
                    "description": "Strength of the emotional expression.",
                    "x-mindcloud-advanced": true
                  },
                  "prompt.previousText": {
                    "type": "string",
                    "description": "Text that comes before the generated text for smart emotion inference.",
                    "x-mindcloud-advanced": true
                  },
                  "prompt.nextText": {
                    "type": "string",
                    "description": "Text that comes after the generated text for smart emotion inference.",
                    "x-mindcloud-advanced": true
                  },
                  "output": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Audio output settings for the generated speech."
                  },
                  "output.targetLufs": {
                    "type": "number",
                    "description": "Target loudness for normalized audio output.",
                    "x-mindcloud-advanced": true
                  },
                  "output.volume": {
                    "type": "number",
                    "description": "Relative output volume from 0 to 200.",
                    "x-mindcloud-advanced": true
                  },
                  "output.audioPitch": {
                    "type": "number",
                    "description": "Pitch shift in semitones.",
                    "x-mindcloud-advanced": true
                  },
                  "output.audioTempo": {
                    "type": "number",
                    "description": "Speech speed multiplier.",
                    "x-mindcloud-advanced": true
                  },
                  "output.audioFormat": {
                    "type": "string",
                    "description": "Output audio format.",
                    "enum": [
                      "mp3",
                      "wav"
                    ],
                    "default": "wav",
                    "x-mindcloud-advanced": true
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed for speech variation.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
