{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Zoho Meeting Universal API",
    "version": "0.0.5",
    "description": "Zoho Meeting is Zoho's meetings and webinars platform. This wrapper covers Zoho Meeting's OAuth 2.0 API for managing organization context, license details, meetings, and webinars."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/zohoMeeting/latest/actions/create-meeting": {
      "post": {
        "operationId": "zohoMeeting.create-meeting",
        "summary": "Create Meeting",
        "description": "Creates a new meeting in Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/create-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "topic",
                  "startTime",
                  "presenter"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Organization ID (zsoid) from Get Current User Details.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "topic": {
                    "type": "string",
                    "description": "Meeting topic."
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Meeting start time in Zoho's expected format."
                  },
                  "presenter": {
                    "type": "string",
                    "description": "Presenter user ID."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Meeting duration."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Meeting timezone."
                  },
                  "agenda": {
                    "type": "string",
                    "description": "Meeting agenda or description."
                  },
                  "participants[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional array of participant objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session": {
                            "type": "object",
                            "properties": {
                              "accessCode": {
                                "type": "string"
                              },
                              "creator": {
                                "type": "string"
                              },
                              "departmentId": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "dialinUrl": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "number"
                              },
                              "endTime": {
                                "type": "string"
                              },
                              "isRecurring": {
                                "type": "boolean"
                              },
                              "joinLink": {
                                "type": "string"
                              },
                              "meeting": {
                                "type": "object",
                                "properties": {
                                  "zsoid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "meetingKey": {
                                "type": "string"
                              },
                              "presenter": {
                                "type": "number"
                              },
                              "presenterEmail": {
                                "type": "string"
                              },
                              "registrationLink": {
                                "type": "string"
                              },
                              "startLink": {
                                "type": "string"
                              },
                              "startTime": {
                                "type": "string"
                              },
                              "sys_id": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "topic": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/create-webinar": {
      "post": {
        "operationId": "zohoMeeting.create-webinar",
        "summary": "Create Webinar",
        "description": "Creates a new webinar in Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/create-webinar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "topic",
                  "startTime"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Organization ID (zsoid) from Get Current User Details.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "topic": {
                    "type": "string",
                    "description": "Webinar topic."
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Webinar start time in Zoho's expected format."
                  },
                  "duration": {
                    "type": "number",
                    "description": "Webinar duration."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Webinar timezone."
                  },
                  "agenda": {
                    "type": "string",
                    "description": "Webinar agenda or description."
                  },
                  "presenter": {
                    "type": "string",
                    "description": "Presenter user ID."
                  },
                  "participants[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Optional array of participant objects."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session": {
                            "type": "object",
                            "properties": {
                              "creatorZuid": {
                                "type": "string"
                              },
                              "departmentId": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "number"
                              },
                              "endTime": {
                                "type": "string"
                              },
                              "endTimeMillisec": {
                                "type": "number"
                              },
                              "isDepartmentAdmin": {
                                "type": "boolean"
                              },
                              "meeting": {
                                "type": "object",
                                "properties": {
                                  "zsoid": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "meetingKey": {
                                "type": "string"
                              },
                              "offset": {
                                "type": "string"
                              },
                              "presenter": {
                                "type": "number"
                              },
                              "presenterEmail": {
                                "type": "string"
                              },
                              "recurringType": {
                                "type": "number"
                              },
                              "regEmbedURL": {
                                "type": "string"
                              },
                              "registrationLink": {
                                "type": "string"
                              },
                              "sessionType": {
                                "type": "string"
                              },
                              "startLink": {
                                "type": "string"
                              },
                              "startTime": {
                                "type": "string"
                              },
                              "startTimeMillisec": {
                                "type": "number"
                              },
                              "sys_id": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "topic": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/create-webinar-registrations": {
      "post": {
        "operationId": "zohoMeeting.create-webinar-registrations",
        "summary": "Create Webinar Registrations",
        "description": "Creates webinar registrations in bulk in Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/create-webinar-registrations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "organizationId",
                  "webinarKey",
                  "registrant[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "Organization ID (zsoid) from Get Current User Details.",
                    "default": "{{credentials.organizationId}}"
                  },
                  "webinarKey": {
                    "type": "string",
                    "description": "Webinar key returned by List Webinars or Create Webinar."
                  },
                  "sendMail": {
                    "type": "boolean",
                    "description": "Whether to send webinar registration emails."
                  },
                  "instanceId": {
                    "type": "string",
                    "description": "Event instance ID when required by Zoho."
                  },
                  "registrant[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of registrant objects with email, firstName, and lastName."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "failedCount": {
                            "type": "number"
                          },
                          "registeredCount": {
                            "type": "number"
                          },
                          "registrant": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                },
                                "joinLink": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sessionDetails": {
                            "type": "object",
                            "properties": {
                              "pendingCount": {
                                "type": "number"
                              },
                              "totalSessionCount": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "successCount": {
                            "type": "number"
                          },
                          "totalCount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/delete-meeting": {
      "delete": {
        "operationId": "zohoMeeting.delete-meeting",
        "summary": "Delete Meeting",
        "description": "Deletes an existing meeting from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/delete-meeting"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "meetingKey",
            "in": "query",
            "required": true,
            "description": "Meeting key returned by List Meetings or Create Meeting.",
            "schema": {
              "type": "string",
              "description": "Meeting key returned by List Meetings or Create Meeting."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/delete-webinar": {
      "delete": {
        "operationId": "zohoMeeting.delete-webinar",
        "summary": "Delete Webinar",
        "description": "Deletes an existing webinar from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/delete-webinar"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "webinarKey",
            "in": "query",
            "required": true,
            "description": "Webinar key returned by List Webinars or Create Webinar.",
            "schema": {
              "type": "string",
              "description": "Webinar key returned by List Webinars or Create Webinar."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/get-current-license-details": {
      "get": {
        "operationId": "zohoMeeting.get-current-license-details",
        "summary": "Get Current License Details",
        "description": "Retrieves current license details from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/get-current-license-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "addonEligibility": {
                            "type": "boolean"
                          },
                          "isBundleUser": {
                            "type": "boolean"
                          },
                          "licenseType": {
                            "type": "string"
                          },
                          "meetingAddon": {
                            "type": "object",
                            "properties": {
                              "edition": {
                                "type": "string"
                              },
                              "licenseType": {
                                "type": "string"
                              },
                              "noOfLicenseEnabled": {
                                "type": "string"
                              },
                              "noOfLicenseLeft": {
                                "type": "string"
                              },
                              "noOfUsers": {
                                "type": "string"
                              },
                              "participantCount": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "recordingAddon": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resourceType": {
                            "type": "string"
                          },
                          "tollFreeAddon": {
                            "type": "object",
                            "properties": {
                              "countryCount": {
                                "type": "number"
                              },
                              "enabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "trialExpiryTime": {
                            "type": "string"
                          },
                          "webinarAddon": {
                            "type": "object",
                            "properties": {
                              "attendeeCount": {
                                "type": "string"
                              },
                              "edition": {
                                "type": "string"
                              },
                              "licenseType": {
                                "type": "string"
                              },
                              "noOfLicenseEnabled": {
                                "type": "string"
                              },
                              "noOfLicenseLeft": {
                                "type": "string"
                              },
                              "noOfUsers": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "webinarTrialExpiryTime": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/get-current-user-details": {
      "get": {
        "operationId": "zohoMeeting.get-current-user-details",
        "summary": "Get Current User Details",
        "description": "Retrieves current user details from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/get-current-user-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "daysLeft": {
                            "type": "number"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "edition": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "isAdmin": {
                            "type": "boolean"
                          },
                          "isCRMMeetingUser": {
                            "type": "boolean"
                          },
                          "isfreeUser": {
                            "type": "boolean"
                          },
                          "isMeetingFreeUser": {
                            "type": "boolean"
                          },
                          "isMeetingPaidUser": {
                            "type": "boolean"
                          },
                          "isMeetingTrialUser": {
                            "type": "boolean"
                          },
                          "isPaidUser": {
                            "type": "boolean"
                          },
                          "isPrivilegedUser": {
                            "type": "boolean"
                          },
                          "isRecordingAddonUser": {
                            "type": "boolean"
                          },
                          "isTollfreeUser": {
                            "type": "boolean"
                          },
                          "isTrialUser": {
                            "type": "boolean"
                          },
                          "isWebinarFreeUser": {
                            "type": "boolean"
                          },
                          "isWebinarPaidUser": {
                            "type": "boolean"
                          },
                          "isWebinarTrialUser": {
                            "type": "boolean"
                          },
                          "isZVPMeeting": {
                            "type": "boolean"
                          },
                          "meetingRedirectionServer": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": "string"
                          },
                          "participantCount": {
                            "type": "number"
                          },
                          "portalName": {
                            "type": "string"
                          },
                          "primaryEmail": {
                            "type": "string"
                          },
                          "redirectionServer": {
                            "type": "string"
                          },
                          "superAdminZuid": {
                            "type": "number"
                          },
                          "userCount": {
                            "type": "number"
                          },
                          "zsoid": {
                            "type": "number"
                          },
                          "zuid": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/get-meeting-details": {
      "get": {
        "operationId": "zohoMeeting.get-meeting-details",
        "summary": "Get Meeting Details",
        "description": "Retrieves meeting details from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/get-meeting-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "meetingKey",
            "in": "query",
            "required": true,
            "description": "Meeting key returned by List Meetings or Create Meeting.",
            "schema": {
              "type": "string",
              "description": "Meeting key returned by List Meetings or Create Meeting."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agenda": {
                            "type": "string"
                          },
                          "audioConference": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "departmentId": {
                            "type": "string"
                          },
                          "departmentName": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "string"
                          },
                          "durationInHours": {
                            "type": "string"
                          },
                          "encryptPwd": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string"
                          },
                          "eTime": {
                            "type": "string"
                          },
                          "eventId": {
                            "type": "string"
                          },
                          "isCreatorUser": {
                            "type": "boolean"
                          },
                          "isDepartmentAdmin": {
                            "type": "boolean"
                          },
                          "isE2E": {
                            "type": "boolean"
                          },
                          "isJoinBeforeHostAllowed": {
                            "type": "boolean"
                          },
                          "isOtherOrg": {
                            "type": "boolean"
                          },
                          "isPastSession": {
                            "type": "boolean"
                          },
                          "isStaticMeeting": {
                            "type": "boolean"
                          },
                          "isVideoMeeting": {
                            "type": "boolean"
                          },
                          "joinLink": {
                            "type": "string"
                          },
                          "meetingEmbedUrl": {
                            "type": "string"
                          },
                          "meetingKey": {
                            "type": "string"
                          },
                          "presenter": {
                            "type": "string"
                          },
                          "presenterEmail": {
                            "type": "string"
                          },
                          "presenterName": {
                            "type": "string"
                          },
                          "pwd": {
                            "type": "string"
                          },
                          "reminderDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "reminderDateTime": {
                                  "type": "string"
                                },
                                "reminderTime": {
                                  "type": "number"
                                },
                                "timeFormat": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sDate": {
                            "type": "string"
                          },
                          "shortenJoinUrl": {
                            "type": "string"
                          },
                          "startLink": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "startTimeMillisec": {
                            "type": "number"
                          },
                          "status": {
                            "type": "number"
                          },
                          "sTime": {
                            "type": "string"
                          },
                          "timeFormat": {
                            "type": "string"
                          },
                          "timePeriod": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "timeZoneOriginal": {
                            "type": "string"
                          },
                          "topic": {
                            "type": "string"
                          },
                          "transcriptionLanguageCode": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/get-user-details": {
      "get": {
        "operationId": "zohoMeeting.get-user-details",
        "summary": "Get User Details",
        "description": "Retrieves user details from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/get-user-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "User ID returned by List Users.",
            "schema": {
              "type": "string",
              "description": "User ID returned by List Users."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailId": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "meetingLicense": {
                            "type": "object",
                            "properties": {
                              "edition": {
                                "type": "string"
                              },
                              "enabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "isDefault": {
                                "type": "boolean"
                              },
                              "link": {
                                "type": "string"
                              },
                              "orgId": {
                                "type": "string"
                              },
                              "orgName": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "resourceType": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "webinarLicense": {
                            "type": "object",
                            "properties": {
                              "edition": {
                                "type": "string"
                              },
                              "enabled": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "zuid": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/get-webinar-details": {
      "get": {
        "operationId": "zohoMeeting.get-webinar-details",
        "summary": "Get Webinar Details",
        "description": "Retrieves webinar details from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/get-webinar-details"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "webinarKey",
            "in": "query",
            "required": true,
            "description": "Webinar key returned by List Webinars or Create Webinar.",
            "schema": {
              "type": "string",
              "description": "Webinar key returned by List Webinars or Create Webinar."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "session": {
                            "type": "object",
                            "properties": {
                              "agenda": {
                                "type": "string"
                              },
                              "attendeesCount": {
                                "type": "number"
                              },
                              "contactEmail": {
                                "type": "string"
                              },
                              "creatorZuid": {
                                "type": "string"
                              },
                              "departmentId": {
                                "type": "string"
                              },
                              "departmentName": {
                                "type": "string"
                              },
                              "digest": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "duration": {
                                "type": "number"
                              },
                              "endTime": {
                                "type": "string"
                              },
                              "endtimeFormat": {
                                "type": "string"
                              },
                              "endTimeMillisec": {
                                "type": "number"
                              },
                              "instanceId": {
                                "type": "string"
                              },
                              "isDepartmentAdmin": {
                                "type": "boolean"
                              },
                              "isPastSession": {
                                "type": "boolean"
                              },
                              "isSessionStarted": {
                                "type": "boolean"
                              },
                              "meetingKey": {
                                "type": "string"
                              },
                              "offset": {
                                "type": "string"
                              },
                              "presenter": {
                                "type": "string"
                              },
                              "presenterEmail": {
                                "type": "string"
                              },
                              "regEmbedURL": {
                                "type": "string"
                              },
                              "registrationCount": {
                                "type": "number"
                              },
                              "registrationLink": {
                                "type": "string"
                              },
                              "registrationRequired": {
                                "type": "boolean"
                              },
                              "service": {
                                "type": "number"
                              },
                              "startLink": {
                                "type": "string"
                              },
                              "startTime": {
                                "type": "string"
                              },
                              "startTimeMillisec": {
                                "type": "number"
                              },
                              "timeFormat": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              },
                              "topic": {
                                "type": "string"
                              },
                              "webinarType": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/list-meetings": {
      "get": {
        "operationId": "zohoMeeting.list-meetings",
        "summary": "List Meetings",
        "description": "Retrieves meetings from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/list-meetings"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
            "description": "Organization ID (zsoid) from Get Current User Details.",
            "schema": {
              "type": "string",
              "description": "Organization ID (zsoid) from Get Current User Details.",
              "default": "{{credentials.organizationId}}"
            }
          },
          {
            "name": "listType",
            "in": "query",
            "required": true,
            "description": "Meeting list type: all, past, today, or upcoming.",
            "schema": {
              "type": "string",
              "description": "Meeting list type: all, past, today, or upcoming."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number"
                          },
                          "isMettingSessionAvailable": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/zohoMeeting/latest/actions/list-users": {
      "get": {
        "operationId": "zohoMeeting.list-users",
        "summary": "List Users",
        "description": "Retrieves users from Zoho Meeting.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/zohoMeeting/latest/actions/list-users"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": true,
[...]
