{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ConvertAPI Universal API",
    "version": "0.0.14",
    "description": "ConvertAPI: Convert, extract, compare, watermark, and optimize files"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/convertAPI/latest/actions/add-image-watermark-to-pdf": {
      "post": {
        "operationId": "convertAPI.add-image-watermark-to-pdf",
        "summary": "Add Image Watermark to PDF",
        "description": "Adds an image watermark to a PDF with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/add-image-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "imageFile"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected documents.",
                    "x-mindcloud-advanced": true
                  },
                  "imageFile": {
                    "type": "string",
                    "description": "Specifies the image file to use as watermark. Value can be URL or file content.",
                    "x-mindcloud-advanced": true
                  },
                  "pageRange": {
                    "type": "string",
                    "description": "Set page range. Example 1-10 or 1,2,5.",
                    "default": "1-2000",
                    "x-mindcloud-advanced": true
                  },
                  "opacity": {
                    "type": "number",
                    "description": "Specifies watermark opacity level.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  },
                  "style": {
                    "type": "string",
                    "description": "Specifies watermark style, stamp or watermark. The stamp is placed over page content and watermark under page content.",
                    "enum": [
                      "stamp",
                      "watermark"
                    ],
                    "default": "watermark",
                    "x-mindcloud-advanced": true
                  },
                  "goToLink": {
                    "type": "string",
                    "description": "Specifies the web address to go when the watermark is clicked.",
                    "x-mindcloud-advanced": true
                  },
                  "goToPage": {
                    "type": "string",
                    "description": "Specifies the page number to go when the watermark is clicked.",
                    "x-mindcloud-advanced": true
                  },
                  "pageRotation": {
                    "type": "boolean",
                    "description": "Specifies whether the watermark should respect the PDF page rotation. When enabled, the watermark is rotated together with the page. When disabled, the watermark is placed ignoring page rotation.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "pageBox": {
                    "type": "string",
                    "description": "Specifies the PDF page box used as the reference area for applying the watermark.",
                    "enum": [
                      "bleedbox",
                      "cropbox",
                      "mediabox",
                      "trimbox"
                    ],
                    "default": "mediabox",
                    "x-mindcloud-advanced": true
                  },
                  "horizontalAlignment": {
                    "type": "string",
                    "description": "Specifies the horizontal watermark alignment.",
                    "enum": [
                      "center",
                      "left",
                      "right"
                    ],
                    "default": "center",
                    "x-mindcloud-advanced": true
                  },
                  "verticalAlignment": {
                    "type": "string",
                    "description": "Specifies the vertical watermark alignment.",
                    "enum": [
                      "bottom",
                      "center",
                      "top"
                    ],
                    "default": "center",
                    "x-mindcloud-advanced": true
                  },
                  "measurementUnit": {
                    "type": "string",
                    "description": "Measurement unit for position and size parameters.",
                    "enum": [
                      "cm",
                      "in",
                      "mm",
                      "pt"
                    ],
                    "default": "pt",
                    "x-mindcloud-advanced": true
                  },
                  "offsetX": {
                    "type": "number",
                    "description": "Specifies the watermark offset along the X-axis. Positive values move the watermark to the right, while negative values move it to the left, using the selected `MeasurementUnit`.",
                    "x-mindcloud-advanced": true
                  },
                  "offsetY": {
                    "type": "number",
                    "description": "Specifies the watermark offset along the Y-axis. Positive values move the watermark downward, while negative values move it upward, using the selected `MeasurementUnit`.",
                    "x-mindcloud-advanced": true
                  },
                  "scale": {
                    "type": "number",
                    "description": "Specifies the watermark scale in percent.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/add-pdf-watermark-to-pdf": {
      "post": {
        "operationId": "convertAPI.add-pdf-watermark-to-pdf",
        "summary": "Add PDF Watermark to PDF",
        "description": "Adds a PDF watermark to a PDF with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/add-pdf-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "overlayFile"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected documents.",
                    "x-mindcloud-advanced": true
                  },
                  "overlayFile": {
                    "type": "string",
                    "description": "Specifies the PDF file to use as overlay. Value can be URL or file content.",
                    "x-mindcloud-advanced": true
                  },
                  "overlayPage": {
                    "type": "number",
                    "description": "Specifies the page to use as overlay from the OverlayFile file.",
                    "default": 1,
                    "x-mindcloud-advanced": true
                  },
                  "scale": {
                    "type": "number",
                    "description": "Specifies the watermark scale in percent.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  },
                  "pageRange": {
                    "type": "string",
                    "description": "Set page range. Example 1-10 or 1,2,5.",
                    "default": "1-2000",
                    "x-mindcloud-advanced": true
                  },
                  "opacity": {
                    "type": "number",
                    "description": "Specifies watermark opacity level.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  },
                  "style": {
                    "type": "string",
                    "description": "Specifies watermark style, stamp or watermark. The stamp is placed over page content and watermark under page content.",
                    "enum": [
                      "stamp",
                      "watermark"
                    ],
                    "default": "watermark",
                    "x-mindcloud-advanced": true
                  },
                  "goToLink": {
                    "type": "string",
                    "description": "Specifies the web address to go when the watermark is clicked.",
                    "x-mindcloud-advanced": true
                  },
                  "goToPage": {
                    "type": "string",
                    "description": "Specifies the page number to go when the watermark is clicked.",
                    "x-mindcloud-advanced": true
                  },
                  "pageRotation": {
                    "type": "boolean",
                    "description": "Specifies whether the watermark should respect the PDF page rotation. When enabled, the watermark is rotated together with the page. When disabled, the watermark is placed ignoring page rotation.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "pageBox": {
                    "type": "string",
                    "description": "Specifies the PDF page box used as the reference area for applying the watermark.",
                    "enum": [
                      "bleedbox",
                      "cropbox",
                      "mediabox",
                      "trimbox"
                    ],
                    "default": "mediabox",
                    "x-mindcloud-advanced": true
                  },
                  "measurementUnit": {
                    "type": "string",
                    "description": "Measurement unit for position and size parameters.",
                    "enum": [
                      "cm",
                      "in",
                      "mm",
                      "pt"
                    ],
                    "default": "pt",
                    "x-mindcloud-advanced": true
                  },
                  "offsetX": {
                    "type": "number",
                    "description": "Specifies the watermark offset along the X-axis. Positive values move the watermark to the right, while negative values move it to the left, using the selected `MeasurementUnit`.",
                    "x-mindcloud-advanced": true
                  },
                  "offsetY": {
                    "type": "number",
                    "description": "Specifies the watermark offset along the Y-axis. Positive values move the watermark downward, while negative values move it upward, using the selected `MeasurementUnit`.",
                    "x-mindcloud-advanced": true
                  },
                  "horizontalAlignment": {
                    "type": "string",
                    "description": "Specifies the horizontal watermark alignment.",
                    "enum": [
                      "center",
                      "left",
                      "right"
                    ],
                    "default": "center",
                    "x-mindcloud-advanced": true
                  },
                  "verticalAlignment": {
                    "type": "string",
                    "description": "Specifies the vertical watermark alignment.",
                    "enum": [
                      "bottom",
                      "center",
                      "top"
                    ],
                    "default": "center",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/add-text-watermark-to-pdf": {
      "post": {
        "operationId": "convertAPI.add-text-watermark-to-pdf",
        "summary": "Add Text Watermark to PDF",
        "description": "Adds a text watermark to a PDF with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/add-text-watermark-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "text"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected documents.",
                    "x-mindcloud-advanced": true
                  },
                  "text": {
                    "type": "string",
                    "description": "Specifies the text to use as watermark. The list of supported variables: * ```%PAGE%``` - current page number * ```%PAGES%``` - total number of pages * ```%FILENAME%``` - name of the file * ```%WEEKDAY%``` - full weekday name * ```%WEEKDAY_SHORT%``` - abbreviated weekday name * ```%MONTH%``` - month number (1-12) * ```%MONTHNAME%``` - full month name * ```%MONTHNAME_SHORT%``` - abbreviated month name * ```%YEAR%``` - year with century (YYYY) * ```%YEAR_SHORT%``` - year without century (YY) * ```%DAY%``` - day of month * ```%DAY_YEAR%``` - day of the year (1 -366) * ```%HOUR%``` - hour (01- 12) * ```%HOURS%``` - hour (00-23) * ```%MINUTES%``` - minutes (00-59) * ```%SECONDS%``` - seconds (00-59) * ```%AMPM%``` - AM PM * ```%DATE%``` - local date representation * ```%TIME%``` - local time representation * ```%DATETIME%``` - local date and time * ```%AUTHOR%``` - document Author * ```%TITLE%``` - document Title * ```%SUBJECT%``` - document Subject * ```%KEYWORDS%``` - document Keywords * ```%N%``` - new line",
                    "x-mindcloud-advanced": true
                  },
                  "style": {
                    "type": "string",
                    "description": "Specifies watermark style, stamp or watermark. The stamp is placed over page content and watermark under page content.",
                    "enum": [
                      "stamp",
                      "watermark"
                    ],
                    "default": "stamp",
                    "x-mindcloud-advanced": true
                  },
                  "fontSize": {
                    "type": "number",
                    "description": "Specifies the watermark font size.",
                    "default": 40,
                    "x-mindcloud-advanced": true
                  },
                  "textRenderingMode": {
                    "type": "string",
                    "description": "Specifies the text rendering mode.",
                    "enum": [
                      "fillstroke",
                      "filltext",
                      "invisible",
                      "stroketext"
                    ],
                    "default": "fillstroke",
                    "x-mindcloud-advanced": true
                  },
                  "fontColor": {
                    "type": "string",
                    "description": "Specifies the watermark font color.",
                    "x-mindcloud-advanced": true
                  },
                  "strokeColor": {
                    "type": "string",
                    "description": "Specifies font stroke color.",
                    "x-mindcloud-advanced": true
                  },
                  "strokeWidth": {
                    "type": "number",
                    "description": "Specifies the stroke width.",
                    "default": 1,
                    "x-mindcloud-advanced": true
                  },
                  "fontName": {
                    "type": "string",
                    "description": "Specifies the watermark font name. Contact us if you are looking for a specific font for a watermark that is missing from the list.",
                    "enum": [
                      "arial",
                      "bahnschrift",
                      "calibri",
                      "cambria",
                      "consolas",
                      "constantia",
                      "courierNew",
                      "georgia",
                      "tahoma",
                      "timesNewRoman",
                      "verdana"
                    ],
                    "default": "arial",
                    "x-mindcloud-advanced": true
                  },
                  "rotate": {
                    "type": "number",
                    "description": "Specifies the watermark rotation angle in degrees.",
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "opacity": {
                    "type": "number",
                    "description": "Specifies watermark opacity level.",
                    "default": 100,
                    "x-mindcloud-advanced": true
                  },
                  "goToLink": {
                    "type": "string",
                    "description": "Specifies the web address to go when the watermark is clicked.",
                    "x-mindcloud-advanced": true
                  },
                  "goToPage": {
                    "type": "string",
                    "description": "Specifies the page number to go when the watermark is clicked.",
                    "x-mindcloud-advanced": true
                  },
                  "pageBox": {
                    "type": "string",
                    "description": "Specifies the PDF page box used as the reference area for applying the watermark.",
                    "enum": [
                      "bleedbox",
                      "cropbox",
                      "mediabox",
                      "trimbox"
                    ],
                    "default": "mediabox",
                    "x-mindcloud-advanced": true
                  },
                  "horizontalAlignment": {
                    "type": "string",
                    "description": "Specifies the horizontal watermark alignment.",
                    "enum": [
                      "center",
                      "left",
                      "right"
                    ],
                    "default": "center",
                    "x-mindcloud-advanced": true
                  },
                  "verticalAlignment": {
                    "type": "string",
                    "description": "Specifies the vertical watermark alignment.",
                    "enum": [
                      "bottom",
                      "center",
                      "top"
                    ],
                    "default": "center",
                    "x-mindcloud-advanced": true
                  },
                  "measurementUnit": {
                    "type": "string",
                    "description": "Measurement unit for position and size parameters.",
                    "enum": [
                      "cm",
                      "in",
                      "mm",
                      "pt"
                    ],
                    "default": "pt",
                    "x-mindcloud-advanced": true
                  },
                  "offsetX": {
                    "type": "number",
                    "description": "Specifies the watermark offset along the X-axis. Positive values move the watermark to the right, while negative values move it to the left, using the selected `MeasurementUnit`.",
                    "x-mindcloud-advanced": true
                  },
                  "offsetY": {
                    "type": "number",
                    "description": "Specifies the watermark offset along the Y-axis. Positive values move the watermark downward, while negative values move it upward, using the selected `MeasurementUnit`.",
                    "x-mindcloud-advanced": true
                  },
                  "width": {
                    "type": "number",
                    "description": "Specifies the width of the watermark text box in the selected `MeasurementUnit`. A value of `0` means the width is unspecified.",
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "height": {
                    "type": "number",
                    "description": "Specifies the height of the watermark text box in the selected `MeasurementUnit`. A value of `0` means the height is unspecified.",
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "lineSpacing": {
                    "type": "number",
                    "description": "Specifies the watermark text line spacing.",
                    "default": 0,
                    "x-mindcloud-advanced": true
                  },
                  "pageRange": {
                    "type": "string",
                    "description": "Set page range. Example 1-10 or 1,2,5.",
                    "default": "1-2000",
                    "x-mindcloud-advanced": true
                  },
                  "fontEmbed": {
                    "type": "boolean",
                    "description": "Specifies whether fonts should be embedded.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "fontSubset": {
                    "type": "boolean",
                    "description": "Specifies whether fonts should be subset.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/compare-docx-files": {
      "post": {
        "operationId": "convertAPI.compare-docx-files",
        "summary": "Compare DOCX Files",
        "description": "Compares DOCX files and highlights differences in ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/compare-docx-files"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "compareFile"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "compareFile": {
                    "type": "string",
                    "description": "Specifies the Word document with which the specified document is compared."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected documents.",
                    "x-mindcloud-advanced": true
                  },
                  "compareLevel": {
                    "type": "string",
                    "description": "The property defines the granularity of comparisons between documents or text segments. It determines the precision of the comparison process, allowing users to specify whether differences are identified based on larger text blocks, such as words or sentences, or at a more detailed level, such as characters or formatting.",
                    "enum": [
                      "Character",
                      "Word"
                    ],
                    "default": "Word",
                    "x-mindcloud-advanced": true
                  },
                  "compareFormatting": {
                    "type": "boolean",
                    "description": "Determines whether to indicate variations in formatting between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareCaseChanges": {
                    "type": "boolean",
                    "description": "Determines whether to highlight discrepancies in capitalization between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareWhitespace": {
                    "type": "boolean",
                    "description": "Determines whether to identify dissimilarities in whitespace, such as gaps or paragraphs, between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareTables": {
                    "type": "boolean",
                    "description": "Determines whether to evaluate variations in the information presented within tables between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareHeaders": {
                    "type": "boolean",
                    "description": "Determines whether to contrast divergences in headers and footers between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareFootnotes": {
                    "type": "boolean",
                    "description": "Determines whether to compare differences in footnotes and endnotes between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareTextboxes": {
                    "type": "boolean",
                    "description": "Determines whether to assess differences in the information presented within text boxes between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareFields": {
                    "type": "boolean",
                    "description": "Determines whether to detect disparities in fields between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareComments": {
                    "type": "boolean",
                    "description": "Determines whether to evaluate distinctions in comments between the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "compareMoves": {
                    "type": "boolean",
                    "description": "Indicates the name of the individual to credit for modifications when comparing the two documents.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "acceptRevisions": {
                    "type": "boolean",
                    "description": "Specifies whether to accept revisions before document comparison.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "revisionAuthor": {
                    "type": "string",
                    "description": "Author name who made revision.",
                    "default": "Compared using ConvertAPI",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/compress-pdf": {
      "post": {
        "operationId": "convertAPI.compress-pdf",
        "summary": "Compress PDF",
        "description": "Compresses a PDF to reduce file size in ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/compress-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected PDF.",
                    "x-mindcloud-advanced": true
                  },
                  "preset": {
                    "type": "string",
                    "description": "Choose a compression level from the available presets. If a preset is selected, all other compression options will be ignored. These presets are optimized for various use cases, such as balancing file size and quality.",
                    "enum": [
                      "archive",
                      "ebook",
                      "lossless",
                      "none",
                      "printer",
                      "text",
                      "web"
                    ],
                    "default": "none",
                    "x-mindcloud-advanced": true
                  },
                  "imageResolution": {
                    "type": "number",
                    "description": "Set the maximum image resolution in DPI.",
                    "default": 150,
                    "x-mindcloud-advanced": true
                  },
                  "imageQuality": {
                    "type": "number",
                    "description": "Set image quality in percentage.",
                    "default": 80,
                    "x-mindcloud-advanced": true
                  },
                  "unembedBaseFonts": {
                    "type": "boolean",
                    "description": "Specifies whether to remove the base fonts from the PDF file.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "subsetEmbeddedFonts": {
                    "type": "boolean",
                    "description": "Output PDF should only contain font characters utilized in the original document, and any unused glyphs from all fonts in the document should be removed.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "removeForms": {
                    "type": "boolean",
                    "description": "Remove PDF forms from the PDF file.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "removeDuplicates": {
                    "type": "boolean",
                    "description": "Remove duplicate fonts and color profiles from the PDF file.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "optimize": {
                    "type": "boolean",
                    "description": "Optimize page content streams in the PDF file.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "removePieceInformation": {
                    "type": "boolean",
                    "description": "Remove piece information dictionaries like Adobe Illustrator or Photoshop private data.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "removeEmbeddedFiles": {
                    "type": "boolean",
                    "description": "Remove embedded/attachments files from the PDF file.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "removeStructureInformation": {
                    "type": "boolean",
                    "description": "Remove all structure information from the PDF document.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "removeMetadata": {
                    "type": "boolean",
                    "description": "Detach the XMP metadata embedded in the document from its catalog, clear all properties in all schemas, and remove metadata from marked content.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "removeUnusedResources": {
                    "type": "boolean",
                    "description": "Remove references to resources such as fonts, images, patterns.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "linearize": {
                    "type": "boolean",
                    "description": "Linearize PDF file and optimize for fast Web View.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "preservePdfa": {
                    "type": "boolean",
                    "description": "Preserve the PDF/A standard in the PDF file.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/convert-csv-to-xlsx": {
      "post": {
        "operationId": "convertAPI.convert-csv-to-xlsx",
        "summary": "Convert CSV to XLSX",
        "description": "Converts a CSV file to XLSX with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/convert-csv-to-xlsx"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file",
                  "delimiter"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "delimiter": {
                    "type": "string",
                    "description": "Set fields separator.",
                    "default": ","
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "cellType": {
                    "type": "string",
                    "description": "Set Excel cell type, if set as text the date and number format will be the same as in CSV file.",
                    "enum": [
                      "general",
                      "text"
                    ],
                    "default": "text",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/convert-doc-to-docx": {
      "post": {
        "operationId": "convertAPI.convert-doc-to-docx",
        "summary": "Convert Doc to DOCX",
        "description": "Converts a DOC file to DOCX with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/convert-doc-to-docx"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected documents.",
                    "x-mindcloud-advanced": true
                  },
                  "updateToc": {
                    "type": "boolean",
                    "description": "Update all tables of content in the document.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "updateReferences": {
                    "type": "boolean",
                    "description": "Update all reference fields in the document.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/convert-docx-to-html": {
      "post": {
        "operationId": "convertAPI.convert-docx-to-html",
        "summary": "Convert DOCX to HTML",
        "description": "Converts a DOCX file to HTML with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/convert-docx-to-html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "inlineImages": {
                    "type": "boolean",
                    "description": "Inline images to html.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/convertAPI/latest/actions/convert-docx-to-pdf": {
      "post": {
        "operationId": "convertAPI.convert-docx-to-pdf",
        "summary": "Convert DOCX to PDF",
        "description": "Converts a DOCX file to PDF with ConvertAPI.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/convertAPI/latest/actions/convert-docx-to-pdf"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "file"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "file": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content."
                  },
                  "timeout": {
                    "type": "number",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "fileName": {
                    "type": "string",
                    "description": "The `FileName` property defines the name of the output file(s) generated by the file conversion API, ensuring safe and unique file naming. It sanitizes input filenames to remove potentially harmful characters, automatically appends the correct file extension based on the target format, and includes an indexing feature to distinguish multiple output files from a single input. For example, converting `report.docx` to PDF format might result in `report.pdf` for a single file, or `report_0.pdf`, `report_1.pdf` for multiple files, ensuring each output file is uniquely identifiable."
                  },
                  "password": {
                    "type": "string",
                    "description": "Sets the password to open protected documents.",
                    "x-mindcloud-advanced": true
                  },
                  "pageRange": {
                    "type": "string",
                    "description": "Set page range. Example 1-10.",
                    "default": "1-6000",
                    "x-mindcloud-advanced": true
                  },
                  "convertMarkups": {
                    "type": "boolean",
                    "description": "Convert document markups like revisions and comments.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "convertTags": {
                    "type": "boolean",
                    "description": "Convert document structure tags for accessibility.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "convertMetadata": {
                    "type": "boolean",
                    "description": "Convert document metadata like Title, Author, Keywords to PDF metadata.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "convertHeadings": {
                    "type": "boolean",
                    "description": "Convert Word headings to PDF bookmarks.",
                    "default": true,
                    "x-mindcloud-advanced": true
                  },
                  "convertBookmarks": {
                    "type": "boolean",
                    "description": "Convert Word bookmarks to PDF bookmarks.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "updateToc": {
                    "type": "boolean",
                    "description": "Update all tables of content in the document.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  },
                  "pdfa": {
                    "type": "boolean",
                    "description": "Create PDF/A-3a compliant document.",
                    "default": false,
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileExt": {
                            "type": "string",
                            "description": "Generated output file extension."
                          },
                          "fileId": {
                            "type": "string",
                            "description": "ConvertAPI file identifier for the generated output."
                          },
                          "fileName": {
                            "type": "string",
                            "description": "Generated output file name."
                          },
                          "fileSize": {
                            "type": "number",
                            "description": "Generated output file size in bytes."
                          },
                          "url": {
                            "type": "string",
                            "description": "Temporary secure download URL for the generated output file."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
[...]
