{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ContactDrive Universal API",
    "version": "0.0.4",
    "description": "Manage contacts, segment audiences, and track relationships in ContactDrive"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/contactDrive/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/contactDrive/latest/actions/create-or-update-contact": {
      "put": {
        "operationId": "contactDrive.create-or-update-contact",
        "summary": "Create Or Update Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contactDrive/latest/actions/create-or-update-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Contact payload envelope described by the ContactDrive legacy API article"
                  },
                  "data.addresses[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact address objects with type, street, city, state, zip, and country fields"
                  },
                  "data.customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Object of custom field slug keys mapped to contact-specific values"
                  },
                  "data.emails[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact email objects with type, address, and isPrimary fields"
                  },
                  "data.firstName": {
                    "type": "string",
                    "description": "Contact first name"
                  },
                  "data.fullname": {
                    "type": "string",
                    "description": "Contact full or mailing name"
                  },
                  "data.gender": {
                    "type": "string",
                    "description": "Contact gender value; docs say Male or Female"
                  },
                  "data.id": {
                    "type": "string",
                    "description": "ContactDrive system ID for updating an existing contact"
                  },
                  "data.lastName": {
                    "type": "string",
                    "description": "Contact last name"
                  },
                  "data.middleName": {
                    "type": "string",
                    "description": "Contact middle name"
                  },
                  "data.nickname": {
                    "type": "string",
                    "description": "Contact nickname"
                  },
                  "data.organizations[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact organization objects with name, jobTitle, and isCurrent fields"
                  },
                  "data.phones[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact phone objects with type, number, and isPrimary fields"
                  },
                  "data.prefix": {
                    "type": "string",
                    "description": "Contact name prefix"
                  },
                  "data.suffix": {
                    "type": "string",
                    "description": "Contact name suffix"
                  },
                  "data.tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of tags associated with the contact"
                  },
                  "data.transactionTotal": {
                    "type": "number",
                    "description": "Sum of contributions, sales, or other transactions for the contact"
                  },
                  "data.websites[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of contact website objects with name and URL fields"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Primary city"
                          },
                          "company": {
                            "type": "string",
                            "description": "Contact company or employer"
                          },
                          "contactedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last contacted timestamp"
                          },
                          "country": {
                            "type": "string",
                            "description": "Primary country"
                          },
                          "county": {
                            "type": "string",
                            "description": "Primary county"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact created timestamp"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values"
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "Primary email address"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Contact first name"
                          },
                          "fullname": {
                            "type": "string",
                            "description": "Contact full or mailing name"
                          },
                          "gender": {
                            "type": "string",
                            "description": "Contact gender"
                          },
                          "id": {
                            "type": "string",
                            "description": "ContactDrive contact ID"
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "Contact job title or occupation"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Contact middle name"
                          },
                          "nickname": {
                            "type": "string",
                            "description": "Contact nickname"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Primary phone number"
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Contact name prefix"
                          },
                          "state": {
                            "type": "string",
                            "description": "Primary state or province"
                          },
                          "street": {
                            "type": "string",
                            "description": "Primary street address"
                          },
                          "suffix": {
                            "type": "string",
                            "description": "Contact name suffix"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Contact tags"
                            }
                          },
                          "transactionTotal": {
                            "type": "number",
                            "description": "Total transaction value"
                          },
                          "zip": {
                            "type": "string",
                            "description": "Primary ZIP or postal code"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contactDrive/latest/actions/delete-contact": {
      "delete": {
        "operationId": "contactDrive.delete-contact",
        "summary": "Delete Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contactDrive/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique ID for the contact you would like to delete",
            "schema": {
              "type": "string",
              "description": "The unique ID for the contact you would like to delete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Provider success or error message returned by the delete endpoint"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contactDrive/latest/actions/list-contacts": {
      "get": {
        "operationId": "contactDrive.list-contacts",
        "summary": "List Contacts",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contactDrive/latest/actions/list-contacts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Primary city"
                          },
                          "company": {
                            "type": "string",
                            "description": "Contact company or employer"
                          },
                          "contactedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last contacted timestamp"
                          },
                          "country": {
                            "type": "string",
                            "description": "Primary country"
                          },
                          "county": {
                            "type": "string",
                            "description": "Primary county"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact created timestamp"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values"
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "Primary email address"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Contact first name"
                          },
                          "fullname": {
                            "type": "string",
                            "description": "Contact full or mailing name"
                          },
                          "gender": {
                            "type": "string",
                            "description": "Contact gender"
                          },
                          "id": {
                            "type": "string",
                            "description": "ContactDrive contact ID"
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "Contact job title or occupation"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Contact middle name"
                          },
                          "nickname": {
                            "type": "string",
                            "description": "Contact nickname"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Primary phone number"
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Contact name prefix"
                          },
                          "state": {
                            "type": "string",
                            "description": "Primary state or province"
                          },
                          "street": {
                            "type": "string",
                            "description": "Primary street address"
                          },
                          "suffix": {
                            "type": "string",
                            "description": "Contact name suffix"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Contact tags"
                            }
                          },
                          "transactionTotal": {
                            "type": "number",
                            "description": "Total transaction value"
                          },
                          "zip": {
                            "type": "string",
                            "description": "Primary ZIP or postal code"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/contactDrive/latest/actions/retrieve-contact": {
      "get": {
        "operationId": "contactDrive.retrieve-contact",
        "summary": "Retrieve Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/contactDrive/latest/actions/retrieve-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The unique ID for the contact you would like to retrieve",
            "schema": {
              "type": "string",
              "description": "The unique ID for the contact you would like to retrieve"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "Primary city"
                          },
                          "company": {
                            "type": "string",
                            "description": "Contact company or employer"
                          },
                          "contactedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last contacted timestamp"
                          },
                          "country": {
                            "type": "string",
                            "description": "Primary country"
                          },
                          "county": {
                            "type": "string",
                            "description": "Primary county"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Contact created timestamp"
                          },
                          "customFields": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values"
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "Primary email address"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Contact first name"
                          },
                          "fullname": {
                            "type": "string",
                            "description": "Contact full or mailing name"
                          },
                          "gender": {
                            "type": "string",
                            "description": "Contact gender"
                          },
                          "id": {
                            "type": "string",
                            "description": "ContactDrive contact ID"
                          },
                          "jobTitle": {
                            "type": "string",
                            "description": "Contact job title or occupation"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Contact middle name"
                          },
                          "nickname": {
                            "type": "string",
                            "description": "Contact nickname"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Primary phone number"
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Contact name prefix"
                          },
                          "state": {
                            "type": "string",
                            "description": "Primary state or province"
                          },
                          "street": {
                            "type": "string",
                            "description": "Primary street address"
                          },
                          "suffix": {
                            "type": "string",
                            "description": "Contact name suffix"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Contact tags"
                            }
                          },
                          "transactionTotal": {
                            "type": "number",
                            "description": "Total transaction value"
                          },
                          "zip": {
                            "type": "string",
                            "description": "Primary ZIP or postal code"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
