{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Geoapify Geocode Universal API",
    "version": "0.0.13",
    "description": "Search addresses, geocode locations, validate entries, and plan routes."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/geoapify/latest/actions/address-autocomplete": {
      "get": {
        "operationId": "geoapify.address-autocomplete",
        "summary": "Address Autocomplete",
        "description": "Finds address and place suggestions in Geoapify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest/actions/address-autocomplete"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Free-form address or place text to autocomplete.",
            "schema": {
              "type": "string",
              "description": "Free-form address or place text to autocomplete.",
              "example": "1600 Pennsylvania Ave NW"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Restrict suggestions to specific location types.",
            "schema": {
              "type": "string",
              "description": "Restrict suggestions to specific location types.",
              "enum": [
                "amenity",
                "city",
                "country",
                "locality",
                "postcode",
                "state",
                "street"
              ],
              "example": "city"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Restrict search area using rectangle, circle, place, or countrycode syntax.",
            "schema": {
              "type": "string",
              "description": "Restrict search area using rectangle, circle, place, or countrycode syntax.",
              "example": "countrycode:us",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bias",
            "in": "query",
            "required": false,
            "description": "Prioritize results near a region or point.",
            "schema": {
              "type": "string",
              "description": "Prioritize results near a region or point.",
              "example": "proximity:-77.0365,38.8977",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Result language using ISO 639-1 code.",
            "schema": {
              "type": "string",
              "description": "Result language using ISO 639-1 code.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "enum": [
                "geojson",
                "json",
                "xml"
              ],
              "example": "geojson",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bbox": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "geometry": {
                                  "type": "object",
                                  "properties": {
                                    "coordinates": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "addressLine1": {
                                      "type": "string"
                                    },
                                    "addressLine2": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "countryCode": {
                                      "type": "string"
                                    },
                                    "datasource": {
                                      "type": "object",
                                      "properties": {
                                        "attribution": {
                                          "type": "string"
                                        },
                                        "license": {
                                          "type": "string"
                                        },
                                        "sourcename": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "district": {
                                      "type": "string"
                                    },
                                    "formatted": {
                                      "type": "string"
                                    },
                                    "housenumber": {
                                      "type": "string"
                                    },
                                    "iso31662": {
                                      "type": "string"
                                    },
                                    "lat": {
                                      "type": "number"
                                    },
                                    "lon": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "placeId": {
                                      "type": "string"
                                    },
                                    "plusCode": {
                                      "type": "string"
                                    },
                                    "postcode": {
                                      "type": "string"
                                    },
                                    "rank": {
                                      "type": "object",
                                      "properties": {
                                        "confidence": {
                                          "type": "number"
                                        },
                                        "confidenceBuildingLevel": {
                                          "type": "number"
                                        },
                                        "confidenceStreetLevel": {
                                          "type": "number"
                                        },
                                        "importance": {
                                          "type": "number"
                                        },
                                        "matchType": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "resultType": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "stateCode": {
                                      "type": "string"
                                    },
                                    "street": {
                                      "type": "string"
                                    },
                                    "suburb": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "properties": {
                                        "abbreviationDST": {
                                          "type": "string"
                                        },
                                        "abbreviationSTD": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "offsetDST": {
                                          "type": "string"
                                        },
                                        "offsetDSTSeconds": {
                                          "type": "number"
                                        },
                                        "offsetSTD": {
                                          "type": "string"
                                        },
                                        "offsetSTDSeconds": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "query": {
                            "type": "object",
                            "properties": {
                              "parsed": {
                                "type": "object",
                                "properties": {
                                  "expectedType": {
                                    "type": "string"
                                  },
                                  "housenumber": {
                                    "type": "string"
                                  },
                                  "street": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "text": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/geoapify/latest/actions/forward-geocoding": {
      "get": {
        "operationId": "geoapify.forward-geocoding",
        "summary": "Forward Geocoding",
        "description": "Finds locations in Geoapify by address.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest/actions/forward-geocoding"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Amenity or place name",
            "schema": {
              "type": "string",
              "description": "Amenity or place name",
              "example": "Starbucks"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "description": "Free-form address or place name to geocode",
            "schema": {
              "type": "string",
              "description": "Free-form address or place name to geocode",
              "example": "1600 Pennsylvania Ave NW, Washington, DC"
            }
          },
          {
            "name": "houseNumber",
            "in": "query",
            "required": false,
            "description": "Structured address house number",
            "schema": {
              "type": "string",
              "description": "Structured address house number",
              "example": "1600"
            }
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "Structured address street name",
            "schema": {
              "type": "string",
              "description": "Structured address street name",
              "example": "Pennsylvania Ave NW"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Structured address postcode or ZIP code",
            "schema": {
              "type": "string",
              "description": "Structured address postcode or ZIP code",
              "example": "20500"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Structured address city name",
            "schema": {
              "type": "string",
              "description": "Structured address city name",
              "example": "Washington"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Structured address state or region name",
            "schema": {
              "type": "string",
              "description": "Structured address state or region name",
              "example": "District of Columbia"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Structured address country name",
            "schema": {
              "type": "string",
              "description": "Structured address country name",
              "example": "United States"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Limit results to a location type such as country, state, city, postcode, street, or amenity",
            "schema": {
              "type": "string",
              "description": "Limit results to a location type such as country, state, city, postcode, street, or amenity",
              "enum": [
                "amenity",
                "city",
                "country",
                "locality",
                "postcode",
                "state",
                "street"
              ],
              "example": "city"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Result language using ISO 639-1 code",
            "schema": {
              "type": "string",
              "description": "Result language using ISO 639-1 code",
              "example": "en"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Restrict search area using circle, rectangle, countrycode, or place filter syntax",
            "schema": {
              "type": "string",
              "description": "Restrict search area using circle, rectangle, countrycode, or place filter syntax",
              "example": "countrycode:us"
            }
          },
          {
            "name": "bias",
            "in": "query",
            "required": false,
            "description": "Prioritize results near a region or point without strict filtering",
            "schema": {
              "type": "string",
              "description": "Prioritize results near a region or point without strict filtering",
              "example": "proximity:-77.0365,38.8977"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format: geojson (default), json, or xml",
            "schema": {
              "type": "string",
              "description": "Response format: geojson (default), json, or xml",
              "enum": [
                "geojson",
                "json",
                "xml"
              ],
              "example": "geojson"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bbox": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countryCode": {
                                "type": "string"
                              },
                              "datasource": {
                                "type": "object",
                                "properties": {
                                  "attribution": {
                                    "type": "string"
                                  },
                                  "license": {
                                    "type": "string"
                                  },
                                  "sourcename": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "district": {
                                "type": "string"
                              },
                              "formatted": {
                                "type": "string"
                              },
                              "housenumber": {
                                "type": "string"
                              },
                              "iso31662": {
                                "type": "string"
                              },
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "placeId": {
                                "type": "string"
                              },
                              "plusCode": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "object",
                                "properties": {
                                  "confidence": {
                                    "type": "number"
                                  },
                                  "confidenceBuildingLevel": {
                                    "type": "number"
                                  },
                                  "confidenceCityLevel": {
                                    "type": "number"
                                  },
                                  "confidenceStreetLevel": {
                                    "type": "number"
                                  },
                                  "importance": {
                                    "type": "number"
                                  },
                                  "matchType": {
                                    "type": "string"
                                  },
                                  "popularity": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "resultType": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "stateCode": {
                                "type": "string"
                              },
                              "street": {
                                "type": "string"
                              },
                              "suburb": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "object",
                                "properties": {
                                  "abbreviationDST": {
                                    "type": "string"
                                  },
                                  "abbreviationSTD": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "offsetDST": {
                                    "type": "string"
                                  },
                                  "offsetDSTSeconds": {
                                    "type": "number"
                                  },
                                  "offsetSTD": {
                                    "type": "string"
                                  },
                                  "offsetSTDSeconds": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/geoapify/latest/actions/ip-geolocation": {
      "get": {
        "operationId": "geoapify.ip-geolocation",
        "summary": "IP Geolocation",
        "description": "Retrieves IP geolocation data from Geoapify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest/actions/ip-geolocation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6 address. If omitted, Geoapify uses the caller IP.",
            "schema": {
              "type": "string",
              "description": "IPv4 or IPv6 address. If omitted, Geoapify uses the caller IP.",
              "example": "8.8.8.8"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "names": {
                                "type": "object",
                                "properties": {
                                  "en": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "continent": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "geonameId": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              },
                              "names": {
                                "type": "object",
                                "properties": {
                                  "en": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "country": {
                            "type": "object",
                            "properties": {
                              "capital": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "flag": {
                                "type": "string"
                              },
                              "geonameId": {
                                "type": "number"
                              },
                              "isoCode": {
                                "type": "string"
                              },
                              "languages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "isoCode": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "nameNative": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "nameNative": {
                                "type": "string"
                              },
                              "names": {
                                "type": "object",
                                "properties": {
                                  "en": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "phoneCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "datasource": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attribution": {
                                  "type": "string"
                                },
                                "license": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "ip": {
                            "type": "string"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "latitude": {
                                "type": "number"
                              },
                              "longitude": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "state": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "subdivisions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "names": {
                                  "type": "object",
                                  "properties": {
                                    "en": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/geoapify/latest/actions/postcode-list": {
      "get": {
        "operationId": "geoapify.postcode-list",
        "summary": "Postcode List",
        "description": "Retrieves a filtered list of postcodes from Geoapify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest/actions/postcode-list"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Autocomplete text for postcode and locality names.",
            "schema": {
              "type": "string",
              "description": "Autocomplete text for postcode and locality names.",
              "example": "OX"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Restrict search area using rectangle, circle, place, or countrycode syntax.",
            "schema": {
              "type": "string",
              "description": "Restrict search area using rectangle, circle, place, or countrycode syntax.",
              "example": "countrycode:gb",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "bias",
            "in": "query",
            "required": false,
            "description": "Prioritize results near a region or point.",
            "schema": {
              "type": "string",
              "description": "Prioritize results near a region or point.",
              "example": "proximity:-1.2616996,51.750242",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 country code.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code.",
              "example": "gb"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "required": false,
            "description": "Geometry output style.",
            "schema": {
              "type": "string",
              "description": "Geometry output style.",
              "enum": [
                "original",
                "point"
              ],
              "example": "point"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Result language using ISO 639-1 code.",
            "schema": {
              "type": "string",
              "description": "Result language using ISO 639-1 code.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "enum": [
                "geojson",
                "json",
                "xml"
              ],
              "example": "geojson",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bbox": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "geometry": {
                                  "type": "object",
                                  "properties": {
                                    "coordinates": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "addressLine1": {
                                      "type": "string"
                                    },
                                    "addressLine2": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "countryCode": {
                                      "type": "string"
                                    },
                                    "county": {
                                      "type": "string"
                                    },
                                    "datasource": {
                                      "type": "object",
                                      "properties": {
                                        "attribution": {
                                          "type": "string"
                                        },
                                        "license": {
                                          "type": "string"
                                        },
                                        "sourcename": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "formatted": {
                                      "type": "string"
                                    },
                                    "iso31662": {
                                      "type": "string"
                                    },
                                    "iso31662Sublevel": {
                                      "type": "string"
                                    },
                                    "lat": {
                                      "type": "number"
                                    },
                                    "lon": {
                                      "type": "number"
                                    },
                                    "municipality": {
                                      "type": "string"
                                    },
                                    "parentAsPlaceId": {
                                      "type": "boolean"
                                    },
                                    "placeId": {
                                      "type": "string"
                                    },
                                    "plusCode": {
                                      "type": "string"
                                    },
                                    "postcode": {
                                      "type": "string"
                                    },
                                    "resultType": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "stateCode": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "properties": {
                                        "abbreviationDST": {
                                          "type": "string"
                                        },
                                        "abbreviationSTD": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "offsetDST": {
                                          "type": "string"
                                        },
                                        "offsetDSTSeconds": {
                                          "type": "number"
                                        },
                                        "offsetSTD": {
                                          "type": "string"
                                        },
                                        "offsetSTDSeconds": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "town": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/geoapify/latest/actions/postcode-search": {
      "get": {
        "operationId": "geoapify.postcode-search",
        "summary": "Postcode Search",
        "description": "Finds postcodes in Geoapify by location or value.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest/actions/postcode-search"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Postcode to look up.",
            "schema": {
              "type": "string",
              "description": "Postcode to look up.",
              "example": "SW1A 1AA"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "Latitude for nearest postcode search.",
            "schema": {
              "type": "number",
              "description": "Latitude for nearest postcode search.",
              "example": 51.523767
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "Longitude for nearest postcode search.",
            "schema": {
              "type": "number",
              "description": "Longitude for nearest postcode search.",
              "example": -0.1585557
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 country code.",
            "schema": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code.",
              "example": "gb"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "required": false,
            "description": "Geometry output style.",
            "schema": {
              "type": "string",
              "description": "Geometry output style.",
              "enum": [
                "original",
                "point"
              ],
              "example": "point"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Result language using ISO 639-1 code.",
            "schema": {
              "type": "string",
              "description": "Result language using ISO 639-1 code.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "enum": [
                "geojson",
                "json",
                "xml"
              ],
              "example": "geojson",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "geometry": {
                                  "type": "object",
                                  "properties": {
                                    "coordinates": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "addressLine1": {
                                      "type": "string"
                                    },
                                    "addressLine2": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "countryCode": {
                                      "type": "string"
                                    },
                                    "county": {
                                      "type": "string"
                                    },
                                    "datasource": {
                                      "type": "object",
                                      "properties": {
                                        "attribution": {
                                          "type": "string"
                                        },
                                        "license": {
                                          "type": "string"
                                        },
                                        "sourcename": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "formatted": {
                                      "type": "string"
                                    },
                                    "iso31662": {
                                      "type": "string"
                                    },
                                    "iso31662Sublevel": {
                                      "type": "string"
                                    },
                                    "lat": {
                                      "type": "number"
                                    },
                                    "lon": {
                                      "type": "number"
                                    },
                                    "placeId": {
                                      "type": "string"
                                    },
                                    "plusCode": {
                                      "type": "string"
                                    },
                                    "plusCodeShort": {
                                      "type": "string"
                                    },
                                    "postcode": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "stateCode": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "properties": {
                                        "abbreviationDST": {
                                          "type": "string"
                                        },
                                        "abbreviationSTD": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "offsetDST": {
                                          "type": "string"
                                        },
                                        "offsetDSTSeconds": {
                                          "type": "number"
                                        },
                                        "offsetSTD": {
                                          "type": "string"
                                        },
                                        "offsetSTDSeconds": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/geoapify/latest/actions/reverse-geocoding": {
      "get": {
        "operationId": "geoapify.reverse-geocoding",
        "summary": "Reverse Geocoding",
        "description": "Finds addresses in Geoapify by coordinates.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/geoapify/latest/actions/reverse-geocoding"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate of the target location.",
            "schema": {
              "type": "number",
              "description": "Latitude coordinate of the target location.",
              "example": 52.47944744483806
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate of the target location.",
            "schema": {
              "type": "number",
              "description": "Longitude coordinate of the target location.",
              "example": -1.908554017329216
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Restrict reverse results to a specific feature type.",
            "schema": {
              "type": "string",
              "description": "Restrict reverse results to a specific feature type.",
              "enum": [
                "amenity",
                "city",
                "country",
                "postcode",
                "state",
                "street"
              ],
              "example": "city"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Result language using ISO 639-1 code.",
            "schema": {
              "type": "string",
              "description": "Result language using ISO 639-1 code.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "description": "Response format.",
              "enum": [
                "geojson",
                "json",
                "xml"
              ],
              "example": "geojson",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bbox": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                "geometry": {
                                  "type": "object",
                                  "properties": {
                                    "coordinates": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "addressLine1": {
                                      "type": "string"
                                    },
                                    "addressLine2": {
                                      "type": "string"
                                    },
                                    "category": {
                                      "type": "string"
                                    },
                                    "city": {
                                      "type": "string"
                                    },
                                    "country": {
                                      "type": "string"
                                    },
                                    "countryCode": {
                                      "type": "string"
                                    },
                                    "county": {
                                      "type": "string"
                                    },
                                    "countyCode": {
                                      "type": "string"
                                    },
                                    "datasource": {
                                      "type": "object",
                                      "properties": {
                                        "attribution": {
                                          "type": "string"
                                        },
                                        "license": {
                                          "type": "string"
                                        },
                                        "sourcename": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "distance": {
                                      "type": "number"
                                    },
                                    "formatted": {
                                      "type": "string"
                                    },
                                    "iso31662": {
                                      "type": "string"
                                    },
                                    "iso31662Sublevel": {
                                      "type": "string"
                                    },
                                    "lat": {
                                      "type": "number"
                                    },
                                    "lon": {
                                      "type": "number"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "placeId": {
                                      "type": "string"
                                    },
                                    "plusCode": {
                                      "type": "string"
                                    },
                                    "plusCodeShort": {
                                      "type": "string"
                                    },
                                    "postcode": {
                                      "type": "string"
                                    },
                                    "rank": {
                                      "type": "object",
                                      "properties": {
                                        "importance": {
                                          "type": "number"
                                        },
                                        "popularity": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "resultType": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "stateCode": {
                                      "type": "string"
                                    },
                                    "street": {
                                      "type": "string"
                                    },
                                    "suburb": {
                                      "type": "string"
                                    },
                                    "timezone": {
                                      "type": "object",
                                      "properties": {
                                        "abbreviationDST": {
                                          "type": "string"
                                        },
                                        "abbreviationSTD": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "offsetDST": {
                                          "type": "string"
                                        },
                                        "offsetDSTSeconds": {
                                          "type": "number"
                                        },
                                        "offsetSTD": {
                                          "type": "string"
                                        },
                                        "offsetSTDSeconds": {
                                          "type": "number"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "query": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "number"
                              },
                              "lon": {
                                "type": "number"
                              },
                              "plusCode": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
