{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "BodyGraph Universal API",
    "version": "0.0.8",
    "description": "Generate Human Design and astrology chart data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/bodyGraph/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/bodyGraph/latest/actions/generate-astrology-data": {
      "get": {
        "operationId": "bodyGraph.generate-astrology-data",
        "summary": "Generate Astrology Data",
        "description": "Retrieves astrology chart data from BodyGraph.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bodyGraph/latest/actions/generate-astrology-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Local date of birth. Format: Y-M-D H:I",
            "schema": {
              "type": "string",
              "description": "Local date of birth. Format: Y-M-D H:I",
              "example": "2019-05-05 10:10"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": true,
            "description": "Timezone of place of birth.",
            "schema": {
              "type": "string",
              "description": "Timezone of place of birth.",
              "example": "Europe/London"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude of place of birth.",
            "schema": {
              "type": "string",
              "description": "Latitude of place of birth.",
              "example": "51.509865"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude of place of birth.",
            "schema": {
              "type": "string",
              "description": "Longitude of place of birth.",
              "example": "-0.118092"
            }
          },
          {
            "name": "houseSystem",
            "in": "query",
            "required": true,
            "description": "House system code, for example W for whole sign or P for Placidus.",
            "schema": {
              "type": "string",
              "description": "House system code, for example W for whole sign or P for Placidus.",
              "example": "W"
            }
          },
          {
            "name": "design",
            "in": "query",
            "required": false,
            "description": "Exact chart design title from your Chart Designs dashboard. Adds SVG output when provided.",
            "schema": {
              "type": "string",
              "description": "Exact chart design title from your Chart Designs dashboard. Adds SVG output when provided.",
              "example": "My Default Design",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Exact language title from your Chart Content tool for localized output.",
            "schema": {
              "type": "string",
              "description": "Exact language title from your Chart Content tool for localized output.",
              "example": "English",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ASCMC": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "Aspects": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Houses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Planets": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Properties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Zodiacs": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bodyGraph/latest/actions/generate-hd-data": {
      "get": {
        "operationId": "bodyGraph.generate-hd-data",
        "summary": "Generate HD Data",
        "description": "Retrieves Human Design chart data from BodyGraph.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bodyGraph/latest/actions/generate-hd-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Local date of birth. Format: Y-M-D H:I",
            "schema": {
              "type": "string",
              "description": "Local date of birth. Format: Y-M-D H:I",
              "example": "2019-05-05 10:10"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "required": true,
            "description": "Timezone of place of birth.",
            "schema": {
              "type": "string",
              "description": "Timezone of place of birth.",
              "example": "Europe/London"
            }
          },
          {
            "name": "design",
            "in": "query",
            "required": false,
            "description": "Exact chart design title from your Chart Designs dashboard. Adds SVG output when provided.",
            "schema": {
              "type": "string",
              "description": "Exact chart design title from your Chart Designs dashboard. Adds SVG output when provided.",
              "example": "My Default Design",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Exact language title from your Chart Content tool for localized output.",
            "schema": {
              "type": "string",
              "description": "Exact language title from your Chart Content tool for localized output.",
              "example": "English",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Channels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ChartUrl": {
                            "type": "string"
                          },
                          "ConsciousCenters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "DefinedCenters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Design": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Gates": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "OpenCenters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "Personality": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "Planets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "Properties": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "UnconsciousCenters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/bodyGraph/latest/actions/search-locations": {
      "get": {
        "operationId": "bodyGraph.search-locations",
        "summary": "Search Locations",
        "description": "Finds locations in BodyGraph by search term.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/bodyGraph/latest/actions/search-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "A search word to find locations.",
            "schema": {
              "type": "string",
              "description": "A search word to find locations."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "admin1": {
                            "type": "string"
                          },
                          "asciiname": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "geo": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "tokens": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
