{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Harvestr.io Universal API",
    "version": "0.0.7",
    "description": "Harvestr is product management software for high-growth B2B SaaS teams, with APIs for users, companies, discoveries, feedback, messages, attributes, and related resources."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/harvestr/latest/actions/create-company": {
      "post": {
        "operationId": "harvestr.create-company",
        "summary": "Create Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the company"
                  },
                  "externalUid": {
                    "type": "string",
                    "description": "External unique identifier for the company from an external system",
                    "x-mindcloud-advanced": true
                  },
                  "segments[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of segment names the company belongs to",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the company"
                          },
                          "externalUid": {
                            "type": "string",
                            "description": "Only defined when external uid has been setup in Harvestr and when the entity has an external uid in source"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the company"
                          },
                          "importId": {
                            "type": "string",
                            "description": "Only defined when the company was created from XLSX import, equal to its defined ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the company"
                          },
                          "segments": {
                            "type": "object",
                            "properties": {
                              "clientId": {
                                "type": "string",
                                "description": "Client identifier"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation date of the segment"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the segment"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the segment"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update date of the segment"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Segments associated with this company"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the company"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/create-feedback": {
      "post": {
        "operationId": "harvestr.create-feedback",
        "summary": "Create Feedback",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/create-feedback"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "messageId",
                  "discoveryId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "The message ID to link the feedback to"
                  },
                  "discoveryId": {
                    "type": "string",
                    "description": "The discovery ID to link the feedback to"
                  },
                  "score": {
                    "type": "number",
                    "description": "The feedback score (minimum 0)",
                    "x-mindcloud-advanced": true
                  },
                  "processMessage": {
                    "type": "boolean",
                    "description": "Mark the message as processed after creating the feedback",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the feedback"
                          },
                          "discoveryId": {
                            "type": "string",
                            "description": "Identifier of the associated discovery"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the feedback"
                          },
                          "messageId": {
                            "type": "string",
                            "description": "Identifier of the associated message"
                          },
                          "score": {
                            "type": "number",
                            "description": "Score associated with the feedback"
                          },
                          "selections": {
                            "type": "object",
                            "properties": {
                              "clientId": {
                                "type": "string",
                                "description": "Client identifier"
                              },
                              "content": {
                                "type": "string",
                                "description": "Text content of the selection"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation date of the selection"
                              },
                              "fullSelection": {
                                "type": "boolean",
                                "description": "Whether this selection covers the full feedback content"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the selection"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update date of the selection"
                              }
                            },
                            "additionalProperties": false,
                            "description": "List of selections within the feedback"
                          },
                          "starred": {
                            "type": "boolean",
                            "description": "Whether the feedback is starred"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the feedback"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/create-message": {
      "post": {
        "operationId": "harvestr.create-message",
        "summary": "Create Message",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/create-message"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "title",
                  "content",
                  "requester",
                  "requester.type",
                  "requester.externalUid",
                  "requester.email",
                  "requester.name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID",
                    "x-mindcloud-advanced": true
                  },
                  "integrationUrl": {
                    "type": "string",
                    "description": "Integration URL",
                    "x-mindcloud-advanced": true
                  },
                  "channel": {
                    "type": "string",
                    "description": "Message channel",
                    "x-mindcloud-advanced": true
                  },
                  "title": {
                    "type": "string",
                    "description": "Message title"
                  },
                  "content": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "labels[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Message labels",
                    "x-mindcloud-advanced": true
                  },
                  "requester": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Requester to be upserted"
                  },
                  "requester.type": {
                    "type": "string",
                    "description": "Customer type (USER or COMPANY)"
                  },
                  "requester.externalUid": {
                    "type": "string",
                    "description": "External unique identifier for the customer"
                  },
                  "requester.email": {
                    "type": "string",
                    "description": "Email identifier (only for type: USER)"
                  },
                  "requester.name": {
                    "type": "string",
                    "description": "Customer name (always required)"
                  },
                  "submitter": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Submitter to be upserted (optional)"
                  },
                  "submitter.externalUid": {
                    "type": "string",
                    "description": "External unique identifier for the company"
                  },
                  "submitter.email": {
                    "type": "string",
                    "description": "Company email"
                  },
                  "submitter.name": {
                    "type": "string",
                    "description": "Company name (always required)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "archived": {
                            "type": "boolean",
                            "description": "Whether the message is archived"
                          },
                          "assigneeId": {
                            "type": "string",
                            "description": "Identifier of the assignee"
                          },
                          "bin": {
                            "type": "boolean",
                            "description": "Whether the message is in the bin"
                          },
                          "channel": {
                            "type": "string",
                            "description": "Channel through which the message was received"
                          },
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "content": {
                            "type": "string",
                            "description": "Content of the message"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the message"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the message"
                          },
                          "integrationId": {
                            "type": "string",
                            "description": "When you import messages from an external source (e.g.: Intercom) into Harvestr, this is the message ID in the source tool"
                          },
                          "integrationUrl": {
                            "type": "string",
                            "description": "When you import messages from an external source (e.g.: Intercom) into Harvestr, this is the URL of the message in the source tool"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Labels associated with this message"
                          },
                          "read": {
                            "type": "boolean",
                            "description": "Whether the message has been read"
                          },
                          "receivedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Date when the message was received"
                          },
                          "requesterId": {
                            "type": "string",
                            "description": "Identifier of the requester"
                          },
                          "submitterId": {
                            "type": "string",
                            "description": "Identifier of the submitter"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the message"
                          },
                          "updated": {
                            "type": "boolean",
                            "description": "Whether the message has been updated"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the message"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/create-user": {
      "post": {
        "operationId": "harvestr.create-user",
        "summary": "Create User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/create-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the user"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address of the user",
                    "x-mindcloud-advanced": true
                  },
                  "externalUid": {
                    "type": "string",
                    "description": "External unique identifier for the user from an external system",
                    "x-mindcloud-advanced": true
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number of the user",
                    "x-mindcloud-advanced": true
                  },
                  "segments[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of segment names the user belongs to",
                    "x-mindcloud-advanced": true
                  },
                  "companyId": {
                    "type": "string",
                    "description": "ID of the company the user belongs to",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "companyId": {
                            "type": "string",
                            "description": "Identifier of the company the user belongs to"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the user"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address of the user (can be empty)"
                          },
                          "externalUid": {
                            "type": "string",
                            "description": "Only defined when external uid has been setup in Harvestr and when the entity has an external uid in source"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the user"
                          },
                          "importId": {
                            "type": "string",
                            "description": "Only defined when the user was created from XLSX import, equal to its defined ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the user"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number of the user"
                          },
                          "segments": {
                            "type": "object",
                            "properties": {
                              "clientId": {
                                "type": "string",
                                "description": "Client identifier"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation date of the segment"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the segment"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the segment"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update date of the segment"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Segments associated with this user"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the user"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the user"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/get-discovery-state": {
      "get": {
        "operationId": "harvestr.get-discovery-state",
        "summary": "Get Discovery State",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/get-discovery-state"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique identifier (id or clientId)",
            "schema": {
              "type": "string",
              "description": "Unique identifier (id or clientId)"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the discovery state"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the discovery state"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the discovery state"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the discovery state"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/list-companies": {
      "get": {
        "operationId": "harvestr.list-companies",
        "summary": "List Companies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/list-companies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Filter items created before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Filter items created after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Filter items updated before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Filter items updated after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "externalUid",
            "in": "query",
            "required": false,
            "description": "Filter companies by external unique identifier",
            "schema": {
              "type": "string",
              "description": "Filter companies by external unique identifier",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the company"
                          },
                          "externalUid": {
                            "type": "string",
                            "description": "Only defined when external uid has been setup in Harvestr and when the entity has an external uid in source"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the company"
                          },
                          "importId": {
                            "type": "string",
                            "description": "Only defined when the company was created from XLSX import, equal to its defined ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the company"
                          },
                          "segments": {
                            "type": "object",
                            "properties": {
                              "clientId": {
                                "type": "string",
                                "description": "Client identifier"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Creation date of the segment"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier of the segment"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the segment"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Last update date of the segment"
                              }
                            },
                            "additionalProperties": false,
                            "description": "Segments associated with this company"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the company"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/list-company-attribute-values": {
      "get": {
        "operationId": "harvestr.list-company-attribute-values",
        "summary": "List Company Attribute Values",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/list-company-attribute-values"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Unique identifier (id or clientId)",
            "schema": {
              "type": "string",
              "description": "Unique identifier (id or clientId)"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Filter items created before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Filter items created after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Filter items updated before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Filter items updated after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributeId": {
                            "type": "string",
                            "description": "Identifier of the associated attribute"
                          },
                          "booleanValue": {
                            "type": "boolean",
                            "description": "Boolean value (for BOOLEAN type attributes)"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the attribute value"
                          },
                          "dateValue": {
                            "type": "string",
                            "description": "Date value (for DATE type attributes)"
                          },
                          "numericValue": {
                            "type": "number",
                            "description": "Numeric value (for NUMERIC type attributes)"
                          },
                          "ratingValue": {
                            "type": "number",
                            "description": "Rating value (for RATING type attributes)"
                          },
                          "textValue": {
                            "type": "string",
                            "description": "Text value (for TEXT type attributes)"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the attribute value"
                          },
                          "urlValue": {
                            "type": "string",
                            "description": "URL value (for URL type attributes)"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/list-company-attributes": {
      "get": {
        "operationId": "harvestr.list-company-attributes",
        "summary": "List Company Attributes",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/list-company-attributes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Filter items created before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Filter items created after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Filter items updated before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Filter items updated after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the attribute"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the attribute"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the attribute"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the attribute"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the attribute"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/list-components": {
      "get": {
        "operationId": "harvestr.list-components",
        "summary": "List Components",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/list-components"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Filter items created before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Filter items created after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Filter items updated before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Filter items updated after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "description": "Filter components by parent component ID",
            "schema": {
              "type": "string",
              "description": "Filter components by parent component ID",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation date of the component"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the component"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the component"
                          },
                          "parentId": {
                            "type": "string",
                            "description": "Parent component identifier for hierarchical structure"
                          },
                          "title": {
                            "type": "string",
                            "description": "Title of the component"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Last update date of the component"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/list-custom-inboxes": {
      "get": {
        "operationId": "harvestr.list-custom-inboxes",
        "summary": "List Custom Inboxes",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/list-custom-inboxes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Filter items created before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Filter items created after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Filter items updated before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Filter items updated after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "clientId": {
                            "type": "string",
                            "description": "Client identifier"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the custom inbox"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the custom inbox"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/harvestr/latest/actions/list-discoveries": {
      "get": {
        "operationId": "harvestr.list-discoveries",
        "summary": "List Discoveries",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/harvestr/latest/actions/list-discoveries"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Filter items created before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Filter items created after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items created after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Filter items updated before this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated before this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Filter items updated after this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Filter items updated after this date (ISO 8601 format)",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "description": "Filter discoveries by parent discovery ID",
            "schema": {
              "type": "string",
              "description": "Filter discoveries by parent discovery ID",
[...]
