{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "GSA Per Diem Universal API",
    "version": "0.0.2",
    "description": "Retrieve official GSA continental U.S. per diem lodging and meals and incidental expense rates by city, state, ZIP code, or fiscal year."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/gSAPerDiem/latest/actions/get-per-diem-rates-by-city": {
      "get": {
        "operationId": "gSAPerDiem.get-per-diem-rates-by-city",
        "summary": "Get Per Diem Rates by City",
        "description": "Retrieves per diem rates from GSA Per Diem by city.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest/actions/get-per-diem-rates-by-city"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "Destination city. GSA says city and state names are case-insensitive.",
            "schema": {
              "type": "string",
              "description": "Destination city. GSA says city and state names are case-insensitive.",
              "example": "Fairfax"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Two-letter destination state abbreviation.",
            "schema": {
              "type": "string",
              "description": "Two-letter destination state abbreviation.",
              "example": "VA"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of travel. GSA documents up to three years available.",
            "schema": {
              "type": "string",
              "description": "Fiscal year of travel. GSA documents up to three years available.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Error details returned by the API; observed as null in successful responses."
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per diem rate results grouped by state and fiscal year."
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata returned by the API; observed as null in successful responses."
                          },
                          "version": {
                            "type": "string",
                            "description": "API version field; observed as null in successful responses."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPerDiem/latest/actions/get-per-diem-rates-by-zip-code": {
      "get": {
        "operationId": "gSAPerDiem.get-per-diem-rates-by-zip-code",
        "summary": "Get Per Diem Rates by ZIP Code",
        "description": "Retrieves per diem rates from GSA Per Diem by ZIP code.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest/actions/get-per-diem-rates-by-zip-code"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "description": "Destination ZIP code.",
            "schema": {
              "type": "string",
              "description": "Destination ZIP code.",
              "example": "20171"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of travel. GSA documents up to three years available.",
            "schema": {
              "type": "string",
              "description": "Fiscal year of travel. GSA documents up to three years available.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Error details returned by the API; observed as null in successful responses."
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per diem rate results for the requested ZIP code and fiscal year."
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata returned by the API; observed as null in successful responses."
                          },
                          "version": {
                            "type": "string",
                            "description": "API version field; observed as null in successful responses."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPerDiem/latest/actions/list-conus-lodging-rates": {
      "get": {
        "operationId": "gSAPerDiem.list-conus-lodging-rates",
        "summary": "List CONUS Lodging Rates",
        "description": "Retrieves CONUS lodging rates from GSA Per Diem.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest/actions/list-conus-lodging-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of travel. GSA documents up to three years available.",
            "schema": {
              "type": "string",
              "description": "Fiscal year of travel. GSA documents up to three years available.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Apr": {
                            "type": "string",
                            "description": "April lodging rate per day."
                          },
                          "Aug": {
                            "type": "string",
                            "description": "August lodging rate per day."
                          },
                          "City": {
                            "type": "string",
                            "description": "Destination city or Standard Rate."
                          },
                          "County": {
                            "type": "string",
                            "description": "Destination county or counties."
                          },
                          "Dec": {
                            "type": "string",
                            "description": "December lodging rate per day."
                          },
                          "DID": {
                            "type": "string",
                            "description": "Destination ID for the city/state pair."
                          },
                          "Feb": {
                            "type": "string",
                            "description": "February lodging rate per day."
                          },
                          "Jan": {
                            "type": "string",
                            "description": "January lodging rate per day."
                          },
                          "Jul": {
                            "type": "string",
                            "description": "July lodging rate per day."
                          },
                          "Jun": {
                            "type": "string",
                            "description": "June lodging rate per day."
                          },
                          "Mar": {
                            "type": "string",
                            "description": "March lodging rate per day."
                          },
                          "May": {
                            "type": "string",
                            "description": "May lodging rate per day."
                          },
                          "Meals": {
                            "type": "string",
                            "description": "Meal rate per day."
                          },
                          "Nov": {
                            "type": "string",
                            "description": "November lodging rate per day."
                          },
                          "Oct": {
                            "type": "string",
                            "description": "October lodging rate per day."
                          },
                          "Sep": {
                            "type": "string",
                            "description": "September lodging rate per day."
                          },
                          "State": {
                            "type": "string",
                            "description": "Destination state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPerDiem/latest/actions/list-conus-mie-breakdown-rates": {
      "get": {
        "operationId": "gSAPerDiem.list-conus-mie-breakdown-rates",
        "summary": "List CONUS M&IE Breakdown Rates",
        "description": "Retrieves CONUS M&IE breakdown rates from GSA Per Diem.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest/actions/list-conus-mie-breakdown-rates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of travel. GSA documents up to three years available.",
            "schema": {
              "type": "string",
              "description": "Fiscal year of travel. GSA documents up to three years available.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "breakfast": {
                            "type": "number",
                            "description": "Daily breakfast meal rate."
                          },
                          "dinner": {
                            "type": "number",
                            "description": "Daily dinner meal rate."
                          },
                          "FirstLastDay": {
                            "type": "number",
                            "description": "First and last travel day total."
                          },
                          "incidental": {
                            "type": "number",
                            "description": "Daily incidental expense rate."
                          },
                          "lunch": {
                            "type": "number",
                            "description": "Daily lunch meal rate."
                          },
                          "total": {
                            "type": "number",
                            "description": "Total meals and incidental expense per diem."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPerDiem/latest/actions/list-conus-zip-code-destination-ids": {
      "get": {
        "operationId": "gSAPerDiem.list-conus-zip-code-destination-ids",
        "summary": "List CONUS ZIP Code Destination IDs",
        "description": "Retrieves CONUS ZIP code destination IDs from GSA Per Diem.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest/actions/list-conus-zip-code-destination-ids"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of travel. GSA documents up to three years available.",
            "schema": {
              "type": "string",
              "description": "Fiscal year of travel. GSA documents up to three years available.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DID": {
                            "type": "string",
                            "description": "Destination ID for the ZIP/state pair."
                          },
                          "ST": {
                            "type": "string",
                            "description": "State abbreviation associated with the destination ID."
                          },
                          "Zip": {
                            "type": "string",
                            "description": "ZIP code associated with the destination ID."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/gSAPerDiem/latest/actions/list-per-diem-rates-by-state": {
      "get": {
        "operationId": "gSAPerDiem.list-per-diem-rates-by-state",
        "summary": "List Per Diem Rates by State",
        "description": "Retrieves per diem rates from GSA Per Diem by state.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/gSAPerDiem/latest/actions/list-per-diem-rates-by-state"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Two-letter destination state abbreviation.",
            "schema": {
              "type": "string",
              "description": "Two-letter destination state abbreviation.",
              "example": "VA"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of travel. GSA documents up to three years available.",
            "schema": {
              "type": "string",
              "description": "Fiscal year of travel. GSA documents up to three years available.",
              "example": "2026"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "errors": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Error details returned by the API; observed as null in successful responses."
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Per diem rate results for the requested state and fiscal year."
                          },
                          "request": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Request metadata returned by the API; observed as null in successful responses."
                          },
                          "version": {
                            "type": "string",
                            "description": "API version field; observed as null in successful responses."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
