{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Acumatica Universal API",
    "version": "0.0.152",
    "description": "An intuitive Cloud ERP system to power your whole business."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/acumatica/latest/actions/confirm-shipment": {
      "put": {
        "operationId": "acumatica.confirm-shipment",
        "summary": "Confirm Shipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/confirm-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ShipmentNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShipmentNbr.value": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-payment-link": {
      "post": {
        "operationId": "acumatica.create-payment-link",
        "summary": "Create Payment Link",
        "description": "Creates a Payment Link for an Sales Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-payment-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "wse",
                  "endpointVersion"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "entity": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "entity.OrderNbr.value": {
                    "type": "string"
                  },
                  "entity.OrderType": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "entity.OrderType.value": {
                    "type": "string"
                  },
                  "entity.OrderNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "wse": {
                    "type": "string"
                  },
                  "endpointVersion": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-project-task": {
      "post": {
        "operationId": "acumatica.create-project-task",
        "summary": "Create Project Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-project-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "wse",
                  "endpointVersion",
                  "projectId.value",
                  "projectTaskId.value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "wse": {
                    "type": "string",
                    "example": "Default"
                  },
                  "endpointVersion": {
                    "type": "string",
                    "example": "25.200.001"
                  },
                  "projectId": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "projectId.value": {
                    "type": "string",
                    "example": "PR00000019"
                  },
                  "projectTaskId": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "projectTaskId.value": {
                    "type": "string",
                    "description": "Acumatica community evidence shows this value can fail when it contains a hyphen.",
                    "example": "L726483"
                  },
                  "description": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description.value": {
                    "type": "string",
                    "example": "Implementation phase 1"
                  },
                  "visibilitySettings": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.gl": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.gl.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.ap": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.ap.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.crm": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.crm.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.expenses": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.expenses.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.in": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.in.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.po": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.po.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.so": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.so.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.timeEntries": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.timeEntries.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.ar": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.ar.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.ca": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "visibilitySettings.ca.value": {
                    "type": "boolean",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-update-sales-orders": {
      "put": {
        "operationId": "acumatica.create-update-sales-orders",
        "summary": "Create/Update Sales Orders",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-update-sales-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "OrderNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "OrderType": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "CustomerID.value": {
                    "type": "string"
                  },
                  "customerOrder.value": {
                    "type": "string"
                  },
                  "Description.value": {
                    "type": "string"
                  },
                  "ExternalRef": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ExternalRef.value": {
                    "type": "string"
                  },
                  "Hold.value": {
                    "type": "string"
                  },
                  "lastModified.value": {
                    "type": "string"
                  },
                  "OrderNbr.value": {
                    "type": "string"
                  },
                  "OrderType.value": {
                    "type": "string"
                  },
                  "preferredWarehouseID.value": {
                    "type": "string"
                  },
                  "requestedOn.value": {
                    "type": "string"
                  },
                  "Status.value": {
                    "type": "string"
                  },
                  "UsrLogShipID.value": {
                    "type": "string"
                  },
                  "UsrLogSyncDateTime.value": {
                    "type": "string"
                  },
                  "CustomerID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Status": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Description": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Hold": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "requestedOn": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrLogShipID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "preferredWarehouseID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customerOrder": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrLogSyncDateTime": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "lastModified": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-update-shipment": {
      "put": {
        "operationId": "acumatica.create-update-shipment",
        "summary": "Create/Update Shipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-update-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "CustomerID.value": {
                    "type": "string"
                  },
                  "Description.value": {
                    "type": "string"
                  },
                  "Details[].Allocations[].InventoryID.value": {
                    "type": "string"
                  },
                  "Details[].Allocations[].LocationID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].Allocations[].LocationID.value": {
                    "type": "string"
                  },
                  "Details[].Allocations[].LotSerialNbr.value": {
                    "type": "string"
                  },
                  "Details[].Allocations[].Qty.value": {
                    "type": "number"
                  },
                  "Details[].Allocations[].UsrLPNbr.value": {
                    "type": "string"
                  },
                  "Details[].LocationID.value": {
                    "type": "string"
                  },
                  "Details[].LotSerialNbr.value": {
                    "type": "string"
                  },
                  "Details[].OrderLineNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].OrderLineNbr.value": {
                    "type": "number"
                  },
                  "Details[].OrderNbr.value": {
                    "type": "string"
                  },
                  "Details[].OrderType.value": {
                    "type": "string"
                  },
                  "Details[].ShippedQty.value": {
                    "type": "number"
                  },
                  "Details[].UsrLPNbr.value": {
                    "type": "string"
                  },
                  "expand": {
                    "type": "string"
                  },
                  "FreightCost.value": {
                    "type": "string"
                  },
                  "FreightPrice.value": {
                    "type": "string"
                  },
                  "Hold.value": {
                    "type": "boolean"
                  },
                  "LocationID.value": {
                    "type": "string"
                  },
                  "Note.value": {
                    "type": "string"
                  },
                  "Operation.value": {
                    "type": "string"
                  },
                  "Packages[].BoxID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].BoxID.value": {
                    "type": "string"
                  },
                  "Packages[].Description.value": {
                    "type": "string"
                  },
                  "Packages[].Height.value": {
                    "type": "number"
                  },
                  "Packages[].Length.value": {
                    "type": "number"
                  },
                  "Packages[].TrackingNbr.value": {
                    "type": "string"
                  },
                  "Packages[].Type.value": {
                    "type": "string"
                  },
                  "Packages[].Weight.value": {
                    "type": "number"
                  },
                  "Packages[].Width.value": {
                    "type": "number"
                  },
                  "ResidentialDelivery.value": {
                    "type": "boolean"
                  },
                  "ShipmentDate.value": {
                    "type": "string"
                  },
                  "ShippedVolume.value": {
                    "type": "number"
                  },
                  "ShippedWeight.value": {
                    "type": "number"
                  },
                  "ShippingSettings.AddressLine1.value": {
                    "type": "string"
                  },
                  "ShippingSettings.AddressLine2.value": {
                    "type": "string"
                  },
                  "ShippingSettings.Attention.value": {
                    "type": "string"
                  },
                  "ShippingSettings.BusinessName.value": {
                    "type": "string"
                  },
                  "ShippingSettings.City.value": {
                    "type": "string"
                  },
                  "ShippingSettings.Country.value": {
                    "type": "string"
                  },
                  "ShippingSettings.Email.value": {
                    "type": "string"
                  },
                  "ShippingSettings.Phone1.value": {
                    "type": "string"
                  },
                  "ShippingSettings.PostalCode.value": {
                    "type": "string"
                  },
                  "ShippingSettings.ShipToAddressOverride.value": {
                    "type": "boolean"
                  },
                  "ShippingSettings.ShipToContactOverride": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.ShipToContactOverride.value": {
                    "type": "boolean"
                  },
                  "ShippingSettings.State.value": {
                    "type": "string"
                  },
                  "ShipVia.value": {
                    "type": "string"
                  },
                  "Type.value": {
                    "type": "string"
                  },
                  "UsrCarrier.value": {
                    "type": "string"
                  },
                  "UsrDriverName.value": {
                    "type": "string"
                  },
                  "UsrLogiwaConf.value": {
                    "type": "boolean"
                  },
                  "UsrServiceLevel.value": {
                    "type": "string"
                  },
                  "UsrServiceLvl.value": {
                    "type": "string"
                  },
                  "UsrStop.value": {
                    "type": "number"
                  },
                  "WarehouseID.value": {
                    "type": "string"
                  },
                  "Details[].Allocations[].LotSerialNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].ShippedQty": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].Description": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.BusinessName": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Type": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].Allocations[].Qty": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].OrderNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Hold": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].TrackingNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.Attention": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].Allocations[].UsrLPNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].OrderType": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Operation": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].Type": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.Phone1": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "CustomerID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].Allocations[].InventoryID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].LotSerialNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].Weight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.Email": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].LocationID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "LocationID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].Length": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.ShipToAddressOverride": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].UsrLPNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Packages[].Width": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShipmentDate": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.AddressLine1": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].Allocations[]": {
                    "type": "array",
                    "items": {}
                  },
                  "Packages[].Height": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.AddressLine2": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "WarehouseID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.City": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrDriverName": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.State": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrStop": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.PostalCode": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrLogiwaConf": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Description": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings.Country": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "FreightCost": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "FreightPrice": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ResidentialDelivery": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShipVia": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippedWeight": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippedVolume": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Note": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrCarrier": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "UsrServiceLevel": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShippingSettings": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[]": {
                    "type": "array",
                    "items": {}
                  },
                  "Packages[]": {
                    "type": "array",
                    "items": {}
                  },
                  "UsrServiceLvl": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/entity-schema": {
      "get": {
        "operationId": "acumatica.entity-schema",
        "summary": "Get Entity Schema",
        "description": "Get a specific Entity schema from the 'Default' Acumatica Endpoint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/entity-schema"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "description": "The top-level entity to retrieve. Example: \"Project\" or \"User\"",
            "schema": {
              "type": "string",
              "description": "The top-level entity to retrieve. Example: \"Project\" or \"User\"",
              "enum": [
                "ProFormaInvoice",
                "Project",
                "ProjectBudget",
                "ProjectTask",
                "SalesOrder"
              ]
            }
          },
          {
            "name": "endpointVersion",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assets": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attributeDescription": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "attributeID": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string"
                                },
                                "note": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "refNoteID": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "rowNumber": {
                                  "type": "number"
                                },
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "valueDescription": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "expenses": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hold": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "income": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastModifiedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "liabilities": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "note": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "projectTemplateID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rowNumber": {
                            "type": "number"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/get-acumatica-erp-endpoints": {
      "get": {
        "operationId": "acumatica.get-acumatica-erp-endpoints",
        "summary": "List Acumatica Endpoints",
        "description": "Retrieve the Acumatica ERP Endpoints and the build version.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/get-acumatica-erp-endpoints"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unusedParam",
            "in": "query",
            "required": false,
            "description": "Choose what data to retrieve in the response. Accepted values are 'version' (to retrieve the Acumatica ERP version) and 'endpoints' to retrieve the endpoints.",
            "schema": {
              "type": "string",
              "description": "Choose what data to retrieve in the response. Accepted values are 'version' (to retrieve the Acumatica ERP version) and 'endpoints' to retrieve the endpoints."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoints": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "version": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "version": {
                            "type": "object",
                            "properties": {
                              "acumaticaBuildVersion": {
                                "type": "string"
                              },
                              "databaseVersion": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/get-file": {
      "get": {
        "operationId": "acumatica.get-file",
        "summary": "Get File",
        "description": "Retrieve a base64 encoded file content using Acumatica the '/files/{id}' Endpoint.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/get-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "description": "The top-level entity to retrieve. Example: \"Project\" or \"User\"",
            "schema": {
              "type": "string",
              "description": "The top-level entity to retrieve. Example: \"Project\" or \"User\"",
              "enum": [
                "Contacts",
                "Customer",
                "ProFormaInvoice",
                "Project",
                "ProjectActivity",
                "ProjectBudget",
                "ProjectEmployee",
                "ProjectEquipment",
                "ProjectRetainage",
                "ProjectTask",
                "ProjectTransaction",
                "SalesOrder"
              ]
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Use the expand parameter to specify linked and detail entities that should be expanded. By default, no linked or detail entities are expanded; that is, only fields of the top-level entity are returned. You need to explicitly specify each linked or detail entity to be expanded. (Example: to expand the Project Attributes use $expand=Attributes).",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Use the expand parameter to specify linked and detail entities that should be expanded. By default, no linked or detail entities are expanded; that is, only fields of the top-level entity are returned. You need to explicitly specify each linked or detail entity to be expanded. (Example: to expand the Project Attributes use $expand=Attributes)."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "description": "When you retrieve records from Acumatica ERP you use the $select parameter to specify the fields of the entity to be returned. By default, ALL fields of the entity are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "When you retrieve records from Acumatica ERP you use the $select parameter to specify the fields of the entity to be returned. By default, ALL fields of the entity are returned."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Use the $filter parameter to specify conditions that determine which records should be returned from Acumatica ERP.",
            "schema": {
              "type": "string",
              "description": "Use the $filter parameter to specify conditions that determine which records should be returned from Acumatica ERP."
            }
          },
          {
            "name": "custom",
            "in": "query",
            "required": false,
            "description": "Specify the fields that are not defined in the contract to be returned. For details, see $custom Parameter.",
            "schema": {
              "type": "string",
              "description": "Specify the fields that are not defined in the contract to be returned. For details, see $custom Parameter."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/get-inventory-quantity-available": {
      "put": {
        "operationId": "acumatica.get-inventory-quantity-available",
        "summary": "Get Inventory Quantity Available",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/get-inventory-quantity-available"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "expand": {
                    "type": "string"
                  },
                  "inventoryID.value": {
                    "type": "string"
                  },
                  "lastModifiedDateTime.value": {
                    "type": "string"
                  },
                  "inventoryID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "lastModifiedDateTime": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "InventoryID": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            }
                          },
                          "LastModifiedDateTime": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            }
                          },
                          "QtyAvailable": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/get-project-balance": {
      "get": {
        "operationId": "acumatica.get-project-balance",
        "summary": "Get Project Balance",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/get-project-balance"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "description": "The ID of a project to retrieve. Provided when you list Projects. Use the links.self property. Example: /entity/Default/23.200.001/Project/e7d81cfc-f596-ef11-8361-0646c1159ab3",
            "schema": {
              "type": "string",
              "description": "The ID of a project to retrieve. Provided when you list Projects. Use the links.self property. Example: /entity/Default/23.200.001/Project/e7d81cfc-f596-ef11-8361-0646c1159ab3"
            }
          },
          {
            "name": "projectAction",
            "in": "query",
            "required": false,
            "description": "Choose from the list or enter an action path to match the schema definition for this entity.",
            "schema": {
              "type": "string",
              "description": "Choose from the list or enter an action path to match the schema definition for this entity.",
              "default": "ProjectBalance"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assets": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "attributeDescription": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "attributeID": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "id": {
                                  "type": "string"
                                },
                                "Links": {
                                  "type": "object",
                                  "properties": {
                                    "files:put": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "note": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "refNoteID": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "required": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "rowNumber": {
                                  "type": "number"
                                },
                                "value": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "valueDescription": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "expenses": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "hold": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "income": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "lastModifiedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "liabilities": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "note": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
[...]
