{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Acumatica Universal API",
    "version": "0.0.158",
    "description": "An intuitive Cloud ERP system to power your whole business."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/acumatica/latest/actions/confirm-shipment": {
      "put": {
        "operationId": "acumatica.confirm-shipment",
        "summary": "Confirm Shipment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/confirm-shipment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ShipmentNbr": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ShipmentNbr.value": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-or-update-contact": {
      "put": {
        "operationId": "acumatica.create-or-update-contact",
        "summary": "Create or Update Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-or-update-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "LastName.value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "ContactID": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "ContactID.value": {
                    "type": "number",
                    "description": "Existing numeric Contact ID when updating; leave blank to create.",
                    "x-mindcloud-advanced": true
                  },
                  "FirstName": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "FirstName.value": {
                    "type": "string",
                    "example": "Jamie"
                  },
                  "LastName": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "LastName.value": {
                    "type": "string",
                    "example": "Test Contact"
                  },
                  "Email": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Email.value": {
                    "type": "string",
                    "example": "test@example.com"
                  },
                  "BusinessAccount": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "BusinessAccount.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "Type": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "Type.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Active": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ContactClass": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ContactID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ContactMethod": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DisplayName": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DoNotCall": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DoNotEmail": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DoNotFax": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DoNotMail": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Duplicate": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DuplicateFound": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Email": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "FaxType": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "FirstName": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "LastModifiedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "LastName": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "NoMarketing": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "NoMassMail": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "NoteID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OverrideAccountAddress": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Phone1Type": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Phone2Type": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Phone3Type": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rowNumber": {
                            "type": "number"
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Synchronize": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Type": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-or-update-customer": {
      "put": {
        "operationId": "acumatica.create-or-update-customer",
        "summary": "Create or Update Customer",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-or-update-customer"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "CustomerID.value",
                  "CustomerName.value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "CustomerID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "CustomerID.value": {
                    "type": "string",
                    "description": "Unique Acumatica customer identifier.",
                    "example": "MCTEST001"
                  },
                  "CustomerName": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "CustomerName.value": {
                    "type": "string",
                    "example": "MindCloud Test Customer"
                  },
                  "CustomerClass": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "CustomerClass.value": {
                    "type": "string",
                    "example": "DEFAULT"
                  },
                  "Status": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Status.value": {
                    "type": "string",
                    "example": "Active"
                  },
                  "AccountRef": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "AccountRef.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Email": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Email.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Phone1": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Phone1.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.AddressLine1": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.AddressLine1.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.AddressLine2": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.AddressLine2.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.City": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.City.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.State": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.State.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.PostalCode": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.PostalCode.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.Country": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "MainContact.Address.Country.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ApplyOverdueCharges": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "AutoApplyPayments": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "BillingAddressOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "BillingContactOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CreatedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CustomerClass": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CustomerID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CustomerName": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "EnableCurrencyOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "EnableRateOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "EnableWriteOffs": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "LastModifiedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "LocationName": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "MultiCurrencyStatements": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "note": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OrderPriority": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "PrintDunningLetters": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "PrintInvoices": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "PrintStatements": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ResidentialDelivery": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rowNumber": {
                            "type": "number"
                          },
                          "SaturdayDelivery": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "SendDunningLettersbyEmail": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "SendInvoicesbyEmail": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "SendStatementsbyEmail": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ShippingAddressOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ShippingContactOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ShippingRule": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "StatementCycleID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "StatementType": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Terms": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "WriteOffLimit": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-or-update-opportunity": {
      "put": {
        "operationId": "acumatica.create-or-update-opportunity",
        "summary": "Create or Update Opportunity",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-or-update-opportunity"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "Subject.value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "OpportunityID": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "OpportunityID.value": {
                    "type": "string",
                    "description": "Existing Opportunity ID when updating; leave blank to create.",
                    "x-mindcloud-advanced": true
                  },
                  "Subject": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Subject.value": {
                    "type": "string",
                    "example": "MindCloud test opportunity"
                  },
                  "ClassID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "ClassID.value": {
                    "type": "string"
                  },
                  "BusinessAccount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "BusinessAccount.value": {
                    "type": "string"
                  },
                  "ContactID": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "ContactID.value": {
                    "type": "number",
                    "x-mindcloud-advanced": true
                  },
                  "Stage": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "Stage.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Amount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Branch": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "BusinessAccount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ClassID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ContactDisplayName": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ContactID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyViewState": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Discount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Estimation": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "LastModifiedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Location": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ManualAmount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "NoteID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OpportunityID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Override": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Project": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Reason": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rowNumber": {
                            "type": "number"
                          },
                          "Source": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Stage": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Subject": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Total": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "WeightTotal": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-or-update-sales-order": {
      "put": {
        "operationId": "acumatica.create-or-update-sales-order",
        "summary": "Create or Update Sales Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-or-update-sales-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "OrderType.value",
                  "CustomerID.value",
                  "Details[]",
                  "Details[].InventoryID.value",
                  "Details[].OrderQty.value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "id": {
                    "type": "string",
                    "description": "Existing Acumatica entity GUID when updating; leave blank to create.",
                    "example": "00000000-0000-0000-0000-000000000000",
                    "x-mindcloud-advanced": true
                  },
                  "OrderType": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "OrderType.value": {
                    "type": "string",
                    "example": "SO"
                  },
                  "OrderNbr": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "OrderNbr.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "CustomerID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "CustomerID.value": {
                    "type": "string",
                    "example": "AACUSTOMER"
                  },
                  "Date": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "Date.value": {
                    "type": "string",
                    "format": "date-time",
                    "x-mindcloud-advanced": true
                  },
                  "Description": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Description.value": {
                    "type": "string",
                    "example": "MindCloud sandbox test order"
                  },
                  "Hold": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Hold.value": {
                    "type": "boolean",
                    "default": true
                  },
                  "Details[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "Details[].InventoryID": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].InventoryID.value": {
                    "type": "string"
                  },
                  "Details[].OrderQty": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "Details[].OrderQty.value": {
                    "type": "number"
                  },
                  "Details[].UOM": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "Details[].UOM.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  },
                  "Details[].WarehouseID": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "Details[].WarehouseID.value": {
                    "type": "string",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Approved": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "BaseCurrencyID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "BillToAddressOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "BillToContactOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CashAccount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ContactID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ControlTotal": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CreditHold": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyRate": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyRateTypeID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CustomerID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Date": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Description": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "DisableAutomaticDiscountUpdate": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "EffectiveDate": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Hold": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "IsTaxValid": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "LastModified": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "LocationID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "note": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OrderedQty": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OrderNbr": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OrderTotal": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "OrderType": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "PaymentMethod": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Project": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ReciprocalRate": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "RequestedOn": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "rowNumber": {
                            "type": "number"
                          },
                          "ShipToAddressOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ShipToContactOverride": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "TaxTotal": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "VATExemptTotal": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "VATTaxableTotal": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/acumatica/latest/actions/create-payment": {
      "post": {
        "operationId": "acumatica.create-payment",
        "summary": "Create Payment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/acumatica/latest/actions/create-payment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "customerId.value",
                  "cashAccount.value",
                  "paymentAmount.value",
                  "paymentMethod.value"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "customerId.value": {
                    "type": "string",
                    "example": "FRUITICO"
                  },
                  "cashAccount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "cashAccount.value": {
                    "type": "string",
                    "example": "10250ST"
                  },
                  "paymentAmount": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "paymentAmount.value": {
                    "type": "number",
                    "example": 235.27
                  },
                  "paymentMethod": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "paymentMethod.value": {
                    "type": "string",
                    "example": "CHECK"
                  },
                  "hold": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "hold.value": {
                    "type": "boolean",
                    "example": false
                  },
                  "description": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description.value": {
                    "type": "string",
                    "example": "Customer payment"
                  },
                  "branch": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "branch.value": {
                    "type": "string",
                    "example": "HEADOFFICE",
                    "x-mindcloud-advanced": true
                  },
                  "currencyId": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "currencyId.value": {
                    "type": "string",
                    "example": "USD",
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[].docType": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[].docType.value": {
                    "type": "string",
                    "example": "INV",
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[].docLineNbr": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[].docLineNbr.value": {
                    "type": "string",
                    "example": "1",
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[].referenceNbr": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "documentsToApply[].referenceNbr.value": {
                    "type": "string",
                    "example": "000002",
                    "x-mindcloud-advanced": true
                  },
                  "ordersToApply[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "x-mindcloud-advanced": true
                  },
                  "ordersToApply[].orderType": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "ordersToApply[].orderType.value": {
                    "type": "string",
                    "example": "SO",
                    "x-mindcloud-advanced": true
                  },
                  "ordersToApply[].orderNbr": {
                    "type": "object",
                    "additionalProperties": true,
                    "x-mindcloud-advanced": true
                  },
                  "ordersToApply[].orderNbr.value": {
                    "type": "string",
                    "example": "000036",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_links": {
                            "type": "object",
                            "properties": {
                              "files:put": {
                                "type": "string"
                              },
                              "self": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "ApplicationDate": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "AppliedToDocuments": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Branch": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CashAccount": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CurrencyID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "CustomerID": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Description": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "Hold": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": false
                          },
                          "id": {
                            "type": "string"
                          },
                          "LastModifiedDateTime": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "note": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "PaymentAmount": {
                            "type": "object",
                            "properties": {
                              "value": {
[...]
