{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Vectara Universal API",
    "version": "0.0.2",
    "description": "Index knowledge, search data, and run grounded AI agents"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/vectara/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/vectara/latest/actions/add-document": {
      "post": {
        "operationId": "vectara.add-document",
        "summary": "Add Document",
        "description": "Adds a document to a Vectara corpus for indexing.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/add-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "corpusKey",
                  "type",
                  "id"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "corpusKey": {
                    "type": "string",
                    "description": "Unique key of the corpus."
                  },
                  "waitFor": {
                    "type": "string",
                    "description": "Wait until the document is searchable or fully indexed before returning.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "description": "Document payload type.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique document ID within the corpus."
                  },
                  "title": {
                    "type": "string",
                    "description": "Document title for structured documents."
                  },
                  "description": {
                    "type": "string",
                    "description": "Document description for structured documents."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Document-level metadata object."
                  },
                  "sections[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Structured document sections array."
                  },
                  "documentParts[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Core document parts array.",
                    "x-mindcloud-advanced": true
                  },
                  "customDimensions": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Document-level custom dimensions.",
                    "x-mindcloud-advanced": true
                  },
                  "chunkingStrategy": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional chunking strategy for structured documents.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "extraction_usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extraction usage consumed by the document."
                          },
                          "id": {
                            "type": "string",
                            "description": "The document ID."
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Images extracted from the document."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The document metadata."
                          },
                          "parts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Parts of the document."
                          },
                          "storage_usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Storage usage consumed by the document."
                          },
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tables extracted from the document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/advanced-single-corpus-query": {
      "get": {
        "operationId": "vectara.advanced-single-corpus-query",
        "summary": "Advanced Single Corpus Query",
        "description": "Retrieves advanced query results from a specific Vectara corpus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/advanced-single-corpus-query"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpusKey",
            "in": "query",
            "required": true,
            "description": "Unique key of the corpus.",
            "schema": {
              "type": "string",
              "description": "Unique key of the corpus."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Question or search text to run against the corpus.",
            "schema": {
              "type": "string",
              "description": "Question or search text to run against the corpus."
            }
          },
          {
            "name": "search.metadataFilter",
            "in": "query",
            "required": false,
            "description": "Metadata filter expression for corpus search results.",
            "schema": {
              "type": "string",
              "description": "Metadata filter expression for corpus search results."
            }
          },
          {
            "name": "search.lexicalInterpolation",
            "in": "query",
            "required": false,
            "description": "Blend factor between semantic and lexical retrieval.",
            "schema": {
              "type": "number",
              "description": "Blend factor between semantic and lexical retrieval.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "search.limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to retrieve before reranking.",
            "schema": {
              "type": "number",
              "description": "Maximum number of results to retrieve before reranking."
            }
          },
          {
            "name": "search.offset",
            "in": "query",
            "required": false,
            "description": "Number of search results to skip.",
            "schema": {
              "type": "number",
              "description": "Number of search results to skip."
            }
          },
          {
            "name": "search.contextConfiguration",
            "in": "query",
            "required": false,
            "description": "Context window configuration for each search result.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Context window configuration for each search result.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "search.reranker",
            "in": "query",
            "required": false,
            "description": "Reranker configuration object.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Reranker configuration object.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "generation.generationPresetName",
            "in": "query",
            "required": false,
            "description": "Generation preset to use for grounded generation.",
            "schema": {
              "type": "string",
              "description": "Generation preset to use for grounded generation."
            }
          },
          {
            "name": "generation.promptTemplate",
            "in": "query",
            "required": false,
            "description": "Optional custom prompt template for generation.",
            "schema": {
              "type": "string",
              "description": "Optional custom prompt template for generation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "generation.maxUsedSearchResults",
            "in": "query",
            "required": false,
            "description": "Maximum number of top search results sent to generation.",
            "schema": {
              "type": "number",
              "description": "Maximum number of top search results sent to generation."
            }
          },
          {
            "name": "generation.responseLanguage",
            "in": "query",
            "required": false,
            "description": "Language code for the generated response.",
            "schema": {
              "type": "string",
              "description": "Language code for the generated response."
            }
          },
          {
            "name": "generation.modelParameters",
            "in": "query",
            "required": false,
            "description": "Optional model parameter overrides for generation.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional model parameter overrides for generation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "generation.citations",
            "in": "query",
            "required": false,
            "description": "Citation formatting configuration.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Citation formatting configuration.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "generation.enableFactualConsistencyScore",
            "in": "query",
            "required": false,
            "description": "Whether to include a factual consistency score.",
            "schema": {
              "type": "boolean",
              "description": "Whether to include a factual consistency score.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "streamResponse",
            "in": "query",
            "required": false,
            "description": "Whether to stream the query response.",
            "schema": {
              "type": "boolean",
              "description": "Whether to stream the query response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "saveHistory",
            "in": "query",
            "required": false,
            "description": "Whether to save this query in history.",
            "schema": {
              "type": "boolean",
              "description": "Whether to save this query in history.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "intelligentQueryRewriting",
            "in": "query",
            "required": false,
            "description": "Enable query rewriting and metadata filter extraction.",
            "schema": {
              "type": "boolean",
              "description": "Enable query rewriting and metadata filter extraction.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "factual_consistency_score": {
                            "type": "number",
                            "description": "Factual consistency score for the summary."
                          },
                          "rendered_prompt": {
                            "type": "string",
                            "description": "Rendered prompt sent to the LLM."
                          },
                          "response_language": {
                            "type": "string",
                            "description": "Response language."
                          },
                          "rewritten_queries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Rewritten queries generated for the request."
                          },
                          "search_results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Ranked search results."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Summary of the query results."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Non-fatal warnings from request processing."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/correct-hallucinations": {
      "get": {
        "operationId": "vectara.correct-hallucinations",
        "summary": "Correct Hallucinations",
        "description": "Corrects hallucinations in generated text with Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/correct-hallucinations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generatedText",
            "in": "query",
            "required": true,
            "description": "Generated text to check and correct for hallucinations.",
            "schema": {
              "type": "string",
              "description": "Generated text to check and correct for hallucinations."
            }
          },
          {
            "name": "documents[]",
            "in": "query",
            "required": true,
            "description": "Source document objects used for hallucination correction.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Source document objects used for hallucination correction."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "modelName",
            "in": "query",
            "required": true,
            "description": "Hallucination correction model name.",
            "schema": {
              "type": "string",
              "description": "Hallucination correction model name."
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Optional query context for correction.",
            "schema": {
              "type": "string",
              "description": "Optional query context for correction.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "corrected_text": {
                            "type": "string",
                            "description": "Corrected version of the input text."
                          },
                          "corrections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Corrections applied to the generated text."
                          },
                          "model": {
                            "type": "string",
                            "description": "Model used for hallucination correction."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/create-chat-completion": {
      "get": {
        "operationId": "vectara.create-chat-completion",
        "summary": "Create Chat Completion",
        "description": "Creates a chat completion in Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/create-chat-completion"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": true,
            "description": "Model ID to use for the chat completion.",
            "schema": {
              "type": "string",
              "description": "Model ID to use for the chat completion."
            }
          },
          {
            "name": "messages[]",
            "in": "query",
            "required": true,
            "description": "Conversation messages array in OpenAI-compatible format.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              },
              "description": "Conversation messages array in OpenAI-compatible format."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "stream",
            "in": "query",
            "required": false,
            "description": "Whether to stream partial chat completion chunks.",
            "schema": {
              "type": "boolean",
              "description": "Whether to stream partial chat completion chunks.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "responseFormat",
            "in": "query",
            "required": false,
            "description": "Requested output format for the response.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Requested output format for the response.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "choices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Completion choices returned by the model."
                          },
                          "object": {
                            "type": "string",
                            "description": "The object type for the chat completion response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/create-corpus": {
      "post": {
        "operationId": "vectara.create-corpus",
        "summary": "Create Corpus",
        "description": "Creates a new corpus in Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/create-corpus"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "key"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "key": {
                    "type": "string",
                    "description": "Unique key for the new corpus."
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name for the corpus."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the corpus."
                  },
                  "saveHistory": {
                    "type": "boolean",
                    "description": "Whether queries to this corpus should be saved by default."
                  },
                  "queriesAreAnswers": {
                    "type": "boolean",
                    "description": "Treat queries as answers instead of questions.",
                    "x-mindcloud-advanced": true
                  },
                  "documentsAreQuestions": {
                    "type": "boolean",
                    "description": "Treat indexed documents as questions instead of answers.",
                    "x-mindcloud-advanced": true
                  },
                  "encoderName": {
                    "type": "string",
                    "description": "Encoder name to use for the corpus.",
                    "x-mindcloud-advanced": true
                  },
                  "filterAttributes[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Filter attribute definitions for the corpus.",
                    "x-mindcloud-advanced": true
                  },
                  "customDimensions[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Custom dimension definitions for the corpus.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_history_corpus": {
                            "type": "boolean",
                            "description": "Whether this corpus stores chats instead of documents."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the corpus was created."
                          },
                          "custom_dimensions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom dimensions configured on the corpus."
                          },
                          "description": {
                            "type": "string",
                            "description": "Corpus description."
                          },
                          "documents_are_questions": {
                            "type": "boolean",
                            "description": "Whether documents in this corpus are treated as questions."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the corpus is enabled."
                          },
                          "encoder_id": {
                            "type": "string",
                            "description": "Deprecated encoder ID."
                          },
                          "encoder_name": {
                            "type": "string",
                            "description": "Encoder used by the corpus."
                          },
                          "filter_attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Filter attributes configured on the corpus."
                          },
                          "id": {
                            "type": "string",
                            "description": "Vectara ID of the corpus."
                          },
                          "key": {
                            "type": "string",
                            "description": "A user-provided key for a corpus."
                          },
                          "limits": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Usage and limit information for the corpus."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name for the corpus."
                          },
                          "queries_are_answers": {
                            "type": "boolean",
                            "description": "Whether queries to this corpus are treated as answers."
                          },
                          "save_history": {
                            "type": "boolean",
                            "description": "Whether queries are saved to history by default."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/delete-corpus": {
      "delete": {
        "operationId": "vectara.delete-corpus",
        "summary": "Delete Corpus",
        "description": "Deletes an existing corpus from Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/delete-corpus"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpusKey",
            "in": "query",
            "required": true,
            "description": "Unique key of the corpus.",
            "schema": {
              "type": "string",
              "description": "Unique key of the corpus."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/delete-document": {
      "delete": {
        "operationId": "vectara.delete-document",
        "summary": "Delete Document",
        "description": "Deletes a document from a specific Vectara corpus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/delete-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpusKey",
            "in": "query",
            "required": true,
            "description": "Unique key of the corpus.",
            "schema": {
              "type": "string",
              "description": "Unique key of the corpus."
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the document.",
            "schema": {
              "type": "string",
              "description": "Unique ID of the document."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/evaluate-factual-consistency": {
      "get": {
        "operationId": "vectara.evaluate-factual-consistency",
        "summary": "Evaluate Factual Consistency",
        "description": "Evaluates generated text for factual consistency in Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/evaluate-factual-consistency"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "generatedText",
            "in": "query",
            "required": true,
            "description": "Generated text to evaluate for factual consistency.",
            "schema": {
              "type": "string",
              "description": "Generated text to evaluate for factual consistency."
            }
          },
          {
            "name": "sourceTexts[]",
            "in": "query",
            "required": true,
            "description": "Source passages used to verify the generated text.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Source passages used to verify the generated text."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "modelParameters",
            "in": "query",
            "required": false,
            "description": "Optional model parameters for factual consistency evaluation.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Optional model parameters for factual consistency evaluation.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "score": {
                            "type": "number",
                            "description": "Predicted hallucination likelihood score."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/get-corpus": {
      "get": {
        "operationId": "vectara.get-corpus",
        "summary": "Get Corpus",
        "description": "Retrieves metadata for a specific corpus from Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/get-corpus"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpusKey",
            "in": "query",
            "required": true,
            "description": "Unique key of the corpus.",
            "schema": {
              "type": "string",
              "description": "Unique key of the corpus."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chat_history_corpus": {
                            "type": "boolean",
                            "description": "Whether this corpus stores chats instead of documents."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the corpus was created."
                          },
                          "custom_dimensions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Custom dimensions configured on the corpus."
                          },
                          "description": {
                            "type": "string",
                            "description": "Corpus description."
                          },
                          "documents_are_questions": {
                            "type": "boolean",
                            "description": "Whether documents in this corpus are treated as questions."
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether the corpus is enabled."
                          },
                          "encoder_id": {
                            "type": "string",
                            "description": "Deprecated encoder ID."
                          },
                          "encoder_name": {
                            "type": "string",
                            "description": "Encoder used by the corpus."
                          },
                          "filter_attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Filter attributes configured on the corpus."
                          },
                          "id": {
                            "type": "string",
                            "description": "Vectara ID of the corpus."
                          },
                          "key": {
                            "type": "string",
                            "description": "A user-provided key for a corpus."
                          },
                          "limits": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Usage and limit information for the corpus."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name for the corpus."
                          },
                          "queries_are_answers": {
                            "type": "boolean",
                            "description": "Whether queries to this corpus are treated as answers."
                          },
                          "save_history": {
                            "type": "boolean",
                            "description": "Whether queries are saved to history by default."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/get-document": {
      "get": {
        "operationId": "vectara.get-document",
        "summary": "Get Document",
        "description": "Retrieves a document from a specific Vectara corpus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/get-document"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpusKey",
            "in": "query",
            "required": true,
            "description": "Unique key of the corpus.",
            "schema": {
              "type": "string",
              "description": "Unique key of the corpus."
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "description": "Unique ID of the document.",
            "schema": {
              "type": "string",
              "description": "Unique ID of the document."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "extraction_usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Extraction usage consumed by the document."
                          },
                          "id": {
                            "type": "string",
                            "description": "The document ID."
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Images extracted from the document."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "The document metadata."
                          },
                          "parts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Parts of the document."
                          },
                          "storage_usage": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Storage usage consumed by the document."
                          },
                          "tables": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Tables extracted from the document."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/list-corpora": {
      "get": {
        "operationId": "vectara.list-corpora",
        "summary": "List Corpora",
        "description": "Retrieves a list of corpora from Vectara.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/list-corpora"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Filter corpora by name or summary.",
            "schema": {
              "type": "string",
              "description": "Filter corpora by name or summary."
            }
          },
          {
            "name": "corpusId",
            "in": "query",
            "required": false,
            "description": "Limit results to the specified corpus IDs.",
            "schema": {
              "type": "string",
              "description": "Limit results to the specified corpus IDs.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "required": false,
            "description": "Return the next page of corpora.",
            "schema": {
              "type": "string",
              "description": "Return the next page of corpora.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "corpora": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of corpora."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Pagination metadata for the list response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/vectara/latest/actions/list-documents": {
      "get": {
        "operationId": "vectara.list-documents",
        "summary": "List Documents",
        "description": "Retrieves documents from a specific Vectara corpus.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/vectara/latest/actions/list-documents"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corpusKey",
            "in": "query",
            "required": true,
            "description": "Unique key of the corpus.",
            "schema": {
              "type": "string",
              "description": "Unique key of the corpus."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of documents to return.",
            "schema": {
              "type": "number",
              "description": "Maximum number of documents to return."
            }
          },
          {
            "name": "metadataFilter",
            "in": "query",
            "required": false,
            "description": "Metadata filter expression used to narrow listed documents.",
            "schema": {
              "type": "string",
              "description": "Metadata filter expression used to narrow listed documents."
            }
          },
          {
            "name": "pageKey",
            "in": "query",
            "required": false,
            "description": "Cursor for the next page of documents.",
            "schema": {
              "type": "string",
              "description": "Cursor for the next page of documents."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "List of documents."
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Pagination metadata for the list response."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
[...]
