{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ProPublica Nonprofit Explorer Universal API",
    "version": "0.1.6",
    "description": "Search and inspect nonprofit tax-return records"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/proPublicaNonprofitExplorer/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/proPublicaNonprofitExplorer/latest/actions/get-organization": {
      "get": {
        "operationId": "proPublicaNonprofitExplorer.get-organization",
        "summary": "Get Organization",
        "description": "Retrieves an organization from ProPublica Nonprofit Explorer by EIN.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/proPublicaNonprofitExplorer/latest/actions/get-organization"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ein",
            "in": "query",
            "required": true,
            "description": "Integer employer identification number for the organization, without a dash. Leading zeroes are trimmed by the API.",
            "schema": {
              "type": "string",
              "description": "Integer employer identification number for the organization, without a dash. Leading zeroes are trimmed by the API.",
              "example": "142007220"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_version": {
                            "type": "number",
                            "description": "Nonprofit Explorer API version."
                          },
                          "data_source": {
                            "type": "string",
                            "description": "Source citation returned by the API."
                          },
                          "filings_with_data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Form 990 filings with extracted data."
                          },
                          "filings_without_data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Filing records that only include tax period, PDF URL, and form type."
                          },
                          "organization": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Profile data for the nonprofit organization."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/proPublicaNonprofitExplorer/latest/actions/search-organizations": {
      "get": {
        "operationId": "proPublicaNonprofitExplorer.search-organizations",
        "summary": "Search Organizations",
        "description": "Finds organizations in ProPublica Nonprofit Explorer.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/proPublicaNonprofitExplorer/latest/actions/search-organizations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Keyword search string. Searches organization name, alternate name, and city. Supports quoted phrases, +required terms, and -excluded terms per the official API docs.",
            "schema": {
              "type": "string",
              "description": "Keyword search string. Searches organization name, alternate name, and city. Supports quoted phrases, +required terms, and -excluded terms per the official API docs.",
              "example": "propublica"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Zero-indexed page number. The API defaults to 0 and returns 25 results per page.",
            "schema": {
              "type": "number",
              "description": "Zero-indexed page number. The API defaults to 0 and returns 25 results per page.",
              "default": 0,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "stateId",
            "in": "query",
            "required": false,
            "description": "Two-letter U.S. Postal Service state or territory abbreviation. Use ZZ for entities based outside the United States.",
            "schema": {
              "type": "string",
              "description": "Two-letter U.S. Postal Service state or territory abbreviation. Use ZZ for entities based outside the United States.",
              "example": "NY",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "nteeId",
            "in": "query",
            "required": false,
            "description": "National Taxonomy of Exempt Entities major group integer from 1 through 10.",
            "schema": {
              "type": "number",
              "description": "National Taxonomy of Exempt Entities major group integer from 1 through 10.",
              "example": 2,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "taxSectionCode",
            "in": "query",
            "required": false,
            "description": "Subsection code under section 501(c), or 92 for 4947(a)(1). For example, 3 means 501(c)(3).",
            "schema": {
              "type": "number",
              "description": "Subsection code under section 501(c), or 92 for 4947(a)(1). For example, 3 means 501(c)(3).",
              "example": 3,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "An RSQL expression used to filter the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_version": {
                            "type": "number",
                            "description": "Nonprofit Explorer API version."
                          },
                          "cur_page": {
                            "type": "number",
                            "description": "Zero-indexed current page."
                          },
                          "data_source": {
                            "type": "string",
                            "description": "Source citation returned by the API."
                          },
                          "num_pages": {
                            "type": "number",
                            "description": "Number of pages in the result set."
                          },
                          "organizations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Organizations matching the search criteria."
                          },
                          "page_offset": {
                            "type": "number",
                            "description": "Number of results before the current page."
                          },
                          "per_page": {
                            "type": "number",
                            "description": "Results returned per page."
                          },
                          "search_query": {
                            "type": "string",
                            "description": "Search query used by the API."
                          },
                          "selected_code": {
                            "type": "string",
                            "description": "Selected tax subsection code filter, if any."
                          },
                          "selected_ntee": {
                            "type": "string",
                            "description": "Selected NTEE major group filter, if any."
                          },
                          "selected_state": {
                            "type": "string",
                            "description": "Selected state filter, if any."
                          },
                          "total_results": {
                            "type": "number",
                            "description": "Total number of matching organizations."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
