{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "CheckFlow Universal API",
    "version": "0.0.10",
    "description": "Create recurring checklists, workflows, and standard operating procedures"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/checkFlow/latest/actions/add-task-assignees-by-name": {
      "put": {
        "operationId": "checkFlow.add-task-assignees-by-name",
        "summary": "Add Task Assignees by Name",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/add-task-assignees-by-name"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "assigneeNames[]",
                  "isAssignedExclusively",
                  "deleteExistingAssignees"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The ID of the task to update assignees for.",
                    "example": 5678
                  },
                  "assigneeNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The member or group names to assign to the task."
                  },
                  "isAssignedExclusively": {
                    "type": "boolean",
                    "description": "Whether the named assignees should replace any other candidates for assignment selection.",
                    "example": false
                  },
                  "deleteExistingAssignees": {
                    "type": "boolean",
                    "description": "Whether existing assignees should be removed before adding the new names.",
                    "example": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taskCompletedByEmail": {
                            "type": "string"
                          },
                          "taskCompletedByName": {
                            "type": "string"
                          },
                          "taskCompletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taskDueDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "taskIsComplete": {
                            "type": "boolean"
                          },
                          "taskIsCurrentlyHalted": {
                            "type": "boolean"
                          },
                          "taskIsCurrentlyHidden": {
                            "type": "boolean"
                          },
                          "taskIsHeading": {
                            "type": "boolean"
                          },
                          "taskIsNotApplicable": {
                            "type": "boolean"
                          },
                          "taskKey": {
                            "type": "string"
                          },
                          "taskName": {
                            "type": "string"
                          },
                          "taskNotApplicableByEmail": {
                            "type": "string"
                          },
                          "taskNotApplicableByName": {
                            "type": "string"
                          },
                          "taskNotApplicableDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taskUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/assign-tag-to-checklist-or-task": {
      "post": {
        "operationId": "checkFlow.assign-tag-to-checklist-or-task",
        "summary": "Assign Tag To Checklist Or Task",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/assign-tag-to-checklist-or-task"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "tagKey",
                  "assignmentKey",
                  "assignmentType"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "tagKey": {
                    "type": "string",
                    "description": "The key of the tag to assign.",
                    "example": "835bf84f-2068-4c20-9c27-4bfac6efccfc"
                  },
                  "assignmentKey": {
                    "type": "string",
                    "description": "The key of the checklist or task the tag is being assigned to.",
                    "example": "27217bc9-1f00-460e-bf41-3821cd37beaf"
                  },
                  "assignmentType": {
                    "type": "number",
                    "description": "1 for checklist, 3 for task.",
                    "example": 1
                  },
                  "parentKey": {
                    "type": "string",
                    "description": "Required when assigning a tag to a task. The checklist key that contains the task.",
                    "example": "27217bc9-1f00-460e-bf41-3821cd37beaf"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignmentKey": {
                            "type": "string",
                            "description": "The checklist or task key that received the tag."
                          },
                          "assignmentType": {
                            "type": "number",
                            "description": "1 for checklist assignments, 3 for task assignments."
                          },
                          "isNew": {
                            "type": "boolean",
                            "description": "Whether the returned assignment record was newly created."
                          },
                          "parentKey": {
                            "type": "string",
                            "description": "The checklist key when the assignment targets a task; null for checklist assignments."
                          },
                          "tagKey": {
                            "type": "string",
                            "description": "The key of the assigned tag."
                          },
                          "tagName": {
                            "type": "string",
                            "description": "The display name of the assigned tag."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "The numeric team ID that owns the assignment."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/create-checklist": {
      "post": {
        "operationId": "checkFlow.create-checklist",
        "summary": "Create Checklist",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/create-checklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateKey",
                  "checklistName"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateKey": {
                    "type": "string",
                    "description": "The key of the template the checklist is derived from.",
                    "example": "0e7ad584-7788-4ab1-95a6-ca0a5b444cbb"
                  },
                  "checklistName": {
                    "type": "string",
                    "description": "The name for the new checklist.",
                    "example": "MindCloud API Smoke Test"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checklistCreatedByEmail": {
                            "type": "string"
                          },
                          "checklistCreatedByName": {
                            "type": "string"
                          },
                          "checklistEndDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "checklistIsArchived": {
                            "type": "boolean"
                          },
                          "checklistIsShared": {
                            "type": "boolean"
                          },
                          "checklistKey": {
                            "type": "string"
                          },
                          "checklistName": {
                            "type": "string"
                          },
                          "checklistScheduledDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistSharedUrl": {
                            "type": "string"
                          },
                          "checklistStartDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistUrl": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "template": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/create-checklist-with-parameters": {
      "post": {
        "operationId": "checkFlow.create-checklist-with-parameters",
        "summary": "Create Checklist With Parameters",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/create-checklist-with-parameters"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateKey",
                  "checklistName",
                  "parameters[].parameterName",
                  "parameters[].parameterValue"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateKey": {
                    "type": "string",
                    "description": "The key of the template to create the checklist from.",
                    "example": "0e7ad584-7788-4ab1-95a6-ca0a5b444cbb"
                  },
                  "checklistName": {
                    "type": "string",
                    "description": "The name for the new checklist.",
                    "example": "MindCloud Parameterized Smoke Test"
                  },
                  "parameters[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "A list of parameter name and value pairs to set on creation."
                  },
                  "parameters[].parameterName": {
                    "type": "string",
                    "description": "The name of the template parameter.",
                    "example": "Invoice Number"
                  },
                  "parameters[].parameterValue": {
                    "type": "string",
                    "description": "The value to assign to the template parameter.",
                    "example": "INV-00123"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checklistCreatedByEmail": {
                            "type": "string"
                          },
                          "checklistCreatedByName": {
                            "type": "string"
                          },
                          "checklistEndDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "checklistIsArchived": {
                            "type": "boolean"
                          },
                          "checklistIsShared": {
                            "type": "boolean"
                          },
                          "checklistKey": {
                            "type": "string"
                          },
                          "checklistName": {
                            "type": "string"
                          },
                          "checklistScheduledDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistSharedUrl": {
                            "type": "string"
                          },
                          "checklistStartDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistUrl": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "template": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/create-many-checklists": {
      "post": {
        "operationId": "checkFlow.create-many-checklists",
        "summary": "Create Many Checklists",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/create-many-checklists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "templateKey",
                  "checklistNames[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "templateKey": {
                    "type": "string",
                    "description": "The key of the template to create checklists from.",
                    "example": "0e7ad584-7788-4ab1-95a6-ca0a5b444cbb"
                  },
                  "checklistNames[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The names of the new checklists to create."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checklistCreatedByEmail": {
                            "type": "string"
                          },
                          "checklistCreatedByName": {
                            "type": "string"
                          },
                          "checklistEndDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistId": {
                            "type": "number"
                          },
                          "checklistIsArchived": {
                            "type": "boolean"
                          },
                          "checklistIsShared": {
                            "type": "boolean"
                          },
                          "checklistKey": {
                            "type": "string"
                          },
                          "checklistName": {
                            "type": "string"
                          },
                          "checklistScheduledDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistSharedUrl": {
                            "type": "string"
                          },
                          "checklistStartDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "checklistUrl": {
                            "type": "string"
                          },
                          "tasks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "template": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/create-tag": {
      "post": {
        "operationId": "checkFlow.create-tag",
        "summary": "Create Tag",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/create-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the tag to create",
                    "example": "Quarterly Audit"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "isNew": {
                            "type": "boolean",
                            "description": "Whether the tag was newly created."
                          },
                          "key": {
                            "type": "string",
                            "description": "The GUID key of the newly created tag."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the newly created tag."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/create-task-comment": {
      "post": {
        "operationId": "checkFlow.create-task-comment",
        "summary": "Create Task Comment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/create-task-comment"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "taskId",
                  "commentHtml",
                  "createdByUserId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "taskId": {
                    "type": "number",
                    "description": "The ID of the task to comment on.",
                    "example": 5678
                  },
                  "commentHtml": {
                    "type": "string",
                    "description": "The comment content as an HTML string.",
                    "example": "<p>MindCloud smoke test comment</p>"
                  },
                  "createdByUserId": {
                    "type": "number",
                    "description": "The ID of the user creating the comment. Use 0 for anonymous.",
                    "example": 0
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/create-webhook-subscription": {
      "post": {
        "operationId": "checkFlow.create-webhook-subscription",
        "summary": "Create Webhook Subscription",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/create-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "source",
                  "eventType",
                  "targetUrl"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "source": {
                    "type": "string",
                    "description": "A label identifying the source of this subscription, such as custom or zapier.",
                    "example": "custom"
                  },
                  "eventType": {
                    "type": "string",
                    "description": "The event that triggers the webhook.",
                    "example": "task_completed"
                  },
                  "targetUrl": {
                    "type": "string",
                    "description": "The URL that CheckFlow will POST event data to.",
                    "example": "https://example.com/hooks/task-done"
                  },
                  "templateKey": {
                    "type": "string",
                    "description": "Required when eventType is new_checklist.",
                    "example": "b90dd809-eefc-447e-8c17-5f0ca96df701"
                  },
                  "taskKey": {
                    "type": "string",
                    "description": "Required when eventType is task_completed.",
                    "example": "07072bc4-f1eb-4536-819a-1ddb7dc109a1"
                  },
                  "taskContentKey": {
                    "type": "string",
                    "description": "Required when eventType is file_uploaded.",
                    "example": "50d58518-e049-4474-84c7-036236e52923"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdDateTime": {
                            "type": "string",
                            "description": "The ISO timestamp when the subscription was created."
                          },
                          "eventType": {
                            "type": "string",
                            "description": "The event that triggers the subscription."
                          },
                          "id": {
                            "type": "string",
                            "description": "The subscription ID."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the subscription is currently active."
                          },
                          "source": {
                            "type": "string",
                            "description": "The source label for the subscription."
                          },
                          "targetURL": {
                            "type": "string",
                            "description": "The destination URL that receives webhook events."
                          },
                          "taskContentKey": {
                            "type": "string",
                            "description": "The targeted task content key, or the zero GUID when not applicable."
                          },
                          "taskKey": {
                            "type": "string",
                            "description": "The targeted task key, or the zero GUID when not applicable."
                          },
                          "teamID": {
                            "type": "number",
                            "description": "The numeric team ID that owns the subscription."
                          },
                          "templateKey": {
                            "type": "string",
                            "description": "The targeted template key, or the zero GUID when not applicable."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/delete-checklist": {
      "delete": {
        "operationId": "checkFlow.delete-checklist",
        "summary": "Delete Checklist",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/delete-checklist"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistId",
            "in": "query",
            "required": true,
            "description": "The ID of the checklist to delete.",
            "schema": {
              "type": "number",
              "description": "The ID of the checklist to delete.",
              "example": 1234
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/delete-many-checklists": {
      "delete": {
        "operationId": "checkFlow.delete-many-checklists",
        "summary": "Delete Many Checklists",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/delete-many-checklists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checklistIds[]",
            "in": "query",
            "required": false,
            "description": "A list of specific checklist IDs to delete.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "A list of specific checklist IDs to delete."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "templateKeys[]",
            "in": "query",
            "required": false,
            "description": "Template keys whose matching checklists should be deleted.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Template keys whose matching checklists should be deleted."
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "checklistStatus",
            "in": "query",
            "required": false,
            "description": "Status filter used when deleting by template keys.",
            "schema": {
              "type": "string",
              "description": "Status filter used when deleting by template keys.",
              "example": "ALL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/delete-tag": {
      "delete": {
        "operationId": "checkFlow.delete-tag",
        "summary": "Delete Tag",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/delete-tag"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagKey",
            "in": "query",
            "required": true,
            "description": "The key of the tag to delete.",
            "schema": {
              "type": "string",
              "description": "The key of the tag to delete.",
              "example": "835bf84f-2068-4c20-9c27-4bfac6efccfc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/delete-task-assignments": {
      "delete": {
        "operationId": "checkFlow.delete-task-assignments",
        "summary": "Delete Task Assignments",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/delete-task-assignments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "The ID of the task.",
            "schema": {
              "type": "number",
              "description": "The ID of the task.",
              "example": 5678
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            }
                          },
                          "taskCompletedByEmail": {
                            "type": "string"
                          },
                          "taskCompletedByName": {
                            "type": "string"
                          },
                          "taskCompletedDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taskDueDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taskId": {
                            "type": "number"
                          },
                          "taskIsComplete": {
                            "type": "boolean"
                          },
                          "taskIsCurrentlyHalted": {
                            "type": "boolean"
                          },
                          "taskIsCurrentlyHidden": {
                            "type": "boolean"
                          },
                          "taskIsHeading": {
                            "type": "boolean"
                          },
                          "taskIsNotApplicable": {
                            "type": "boolean"
                          },
                          "taskKey": {
                            "type": "string"
                          },
                          "taskName": {
                            "type": "string"
                          },
                          "taskNotApplicableByEmail": {
                            "type": "string"
                          },
                          "taskNotApplicableByName": {
                            "type": "string"
                          },
                          "taskNotApplicableDateTime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "taskUrl": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/delete-webhook-subscription": {
      "delete": {
        "operationId": "checkFlow.delete-webhook-subscription",
        "summary": "Delete Webhook Subscription",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/delete-webhook-subscription"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "query",
            "required": true,
            "description": "The id of the web hook subscription you want to delete.",
            "schema": {
              "type": "string",
              "description": "The id of the web hook subscription you want to delete.",
              "example": "5756c4ba-7fec-4280-9011-94a2b5bbdb12"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/checkFlow/latest/actions/find-checklists": {
      "get": {
        "operationId": "checkFlow.find-checklists",
        "summary": "Find Checklists",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/checkFlow/latest/actions/find-checklists"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateKey",
            "in": "query",
            "required": true,
            "description": "The key of the template the checklist is derived from.",
            "schema": {
              "type": "string",
              "description": "The key of the template the checklist is derived from.",
              "example": "0e7ad584-7788-4ab1-95a6-ca0a5b444cbb"
            }
          },
          {
            "name": "checklistName",
            "in": "query",
            "required": false,
            "description": "Full or partial checklist name to search for.",
            "schema": {
              "type": "string",
              "description": "Full or partial checklist name to search for.",
              "example": "MindCloud"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Full or partial tag name to filter by.",
            "schema": {
              "type": "string",
              "description": "Full or partial tag name to filter by.",
              "example": "urgent"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Checklist status filter. Values include ALL, SCHEDULED, INPROGRESS, and COMPLETE.",
            "schema": {
              "type": "string",
              "description": "Checklist status filter. Values include ALL, SCHEDULED, INPROGRESS, and COMPLETE.",
              "example": "ALL"
            }
          },
          {
            "name": "createIfNotExists",
            "in": "query",
            "required": false,
            "description": "Whether to create a checklist if no existing checklist matches the search.",
            "schema": {
              "type": "boolean",
              "description": "Whether to create a checklist if no existing checklist matches the search.",
              "example": false
            }
          },
          {
            "name": "limit",
[...]
