{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Shadify Universal API",
    "version": "0.1.3",
    "description": "Generate and validate puzzle data using the open-source Shadify public REST API, including Sudoku, Takuzu, Set, math, Schulte tables, Minesweeper, word search, anagrams, countries quizzes, Camp, Kuromasu, and memory grids."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shadify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shadify/latest/actions/generate-addition-expression": {
      "get": {
        "operationId": "shadify.generate-addition-expression",
        "summary": "Generate Addition Expression",
        "description": "Retrieves a random addition expression from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-addition-expression"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minFirst",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the first number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the first number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxFirst",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the first number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the first number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "minSecond",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the second number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the second number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxSecond",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the second number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the second number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "number",
                            "description": "Correct answer."
                          },
                          "expression": {
                            "type": "string",
                            "description": "Expression text."
                          },
                          "first": {
                            "type": "number",
                            "description": "First operand."
                          },
                          "operation": {
                            "type": "string",
                            "description": "Math operator."
                          },
                          "second": {
                            "type": "number",
                            "description": "Second operand."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-anagram": {
      "get": {
        "operationId": "shadify.generate-anagram",
        "summary": "Generate Anagram",
        "description": "Retrieves a random anagram from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-anagram"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "task": {
                            "type": "string",
                            "description": "Source word for the anagram."
                          },
                          "words": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Possible words from the task word."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-camp-puzzle": {
      "get": {
        "operationId": "shadify.generate-camp-puzzle",
        "summary": "Generate Camp Puzzle",
        "description": "Retrieves a random Camp puzzle from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-camp-puzzle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Optional puzzle width from 5 to 15. Default is 7.",
            "schema": {
              "type": "number",
              "description": "Optional puzzle width from 5 to 15. Default is 7.",
              "default": 7
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Optional puzzle height from 5 to 15. Default is 7.",
            "schema": {
              "type": "number",
              "description": "Optional puzzle height from 5 to 15. Default is 7.",
              "default": 7
            }
          },
          {
            "name": "solution",
            "in": "query",
            "required": false,
            "description": "Optional true or false value that includes the solution. Default is true.",
            "schema": {
              "type": "boolean",
              "description": "Optional true or false value that includes the solution. Default is true.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "columnTents": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Tent counts per column."
                          },
                          "height": {
                            "type": "number",
                            "description": "Puzzle height."
                          },
                          "rowTents": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Tent counts per row."
                          },
                          "solution": {
                            "type": "array",
                            "items": {},
                            "description": "Solved puzzle grid."
                          },
                          "task": {
                            "type": "array",
                            "items": {},
                            "description": "Puzzle task grid."
                          },
                          "trees": {
                            "type": "number",
                            "description": "Tree count."
                          },
                          "width": {
                            "type": "number",
                            "description": "Puzzle width."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-capital-quiz": {
      "get": {
        "operationId": "shadify.generate-capital-quiz",
        "summary": "Generate Capital Quiz",
        "description": "Retrieves a capital quiz from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-capital-quiz"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variants",
            "in": "query",
            "required": false,
            "description": "Optional number of answer variants from 2 to 6. Default is 4.",
            "schema": {
              "type": "number",
              "description": "Optional number of answer variants from 2 to 6. Default is 4.",
              "default": 4
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Optional number of unique quizzes from 1 to 20. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional number of unique quizzes from 1 to 20. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "Correct capital answer."
                          },
                          "country": {
                            "type": "string",
                            "description": "Country to guess the capital for."
                          },
                          "flag": {
                            "type": "string",
                            "description": "Flag image URL."
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Answer variants."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-country-quiz": {
      "get": {
        "operationId": "shadify.generate-country-quiz",
        "summary": "Generate Country Quiz",
        "description": "Retrieves a country quiz from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-country-quiz"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variants",
            "in": "query",
            "required": false,
            "description": "Optional number of answer variants from 2 to 6. Default is 4.",
            "schema": {
              "type": "number",
              "description": "Optional number of answer variants from 2 to 6. Default is 4.",
              "default": 4
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Optional number of unique quizzes from 1 to 20. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional number of unique quizzes from 1 to 20. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "string",
                            "description": "Correct country answer."
                          },
                          "flag": {
                            "type": "string",
                            "description": "Flag image URL."
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Answer variants."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-division-expression": {
      "get": {
        "operationId": "shadify.generate-division-expression",
        "summary": "Generate Division Expression",
        "description": "Retrieves a random division expression from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-division-expression"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minFirst",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the first number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the first number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxFirst",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the first number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the first number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "number",
                            "description": "Correct answer."
                          },
                          "expression": {
                            "type": "string",
                            "description": "Expression text."
                          },
                          "first": {
                            "type": "number",
                            "description": "First operand."
                          },
                          "operation": {
                            "type": "string",
                            "description": "Math operator."
                          },
                          "second": {
                            "type": "number",
                            "description": "Second operand."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-kuromasu-puzzle": {
      "get": {
        "operationId": "shadify.generate-kuromasu-puzzle",
        "summary": "Generate Kuromasu Puzzle",
        "description": "Retrieves a random Kuromasu puzzle from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-kuromasu-puzzle"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Optional grid width from 4 to 15. Default is 5.",
            "schema": {
              "type": "number",
              "description": "Optional grid width from 4 to 15. Default is 5.",
              "default": 5
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Optional grid height from 4 to 15. Default is 5.",
            "schema": {
              "type": "number",
              "description": "Optional grid height from 4 to 15. Default is 5.",
              "default": 5
            }
          },
          {
            "name": "fill",
            "in": "query",
            "required": false,
            "description": "Optional ready-cell fill level from 10 to 50 percent. Default is 30.",
            "schema": {
              "type": "number",
              "description": "Optional ready-cell fill level from 10 to 50 percent. Default is 30.",
              "default": 30
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "height": {
                            "type": "number",
                            "description": "Grid height."
                          },
                          "solution": {
                            "type": "array",
                            "items": {},
                            "description": "Solved grid."
                          },
                          "task": {
                            "type": "array",
                            "items": {},
                            "description": "Kuromasu task grid."
                          },
                          "width": {
                            "type": "number",
                            "description": "Grid width."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-memory-grid": {
      "get": {
        "operationId": "shadify.generate-memory-grid",
        "summary": "Generate Memory Grid",
        "description": "Retrieves a random memory grid from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-memory-grid"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Optional grid width. Default is 6.",
            "schema": {
              "type": "number",
              "description": "Optional grid width. Default is 6.",
              "default": 6
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Optional grid height. Default is 4.",
            "schema": {
              "type": "number",
              "description": "Optional grid height. Default is 4.",
              "default": 4
            }
          },
          {
            "name": "pairSize",
            "in": "query",
            "required": false,
            "description": "Optional matching group size. Available values are 2, 3, and 4. Default is 3.",
            "schema": {
              "type": "number",
              "description": "Optional matching group size. Available values are 2, 3, and 4. Default is 3.",
              "default": 3
            }
          },
          {
            "name": "showPositions",
            "in": "query",
            "required": false,
            "description": "Optional true or false value that includes positions for each pair. Default is true.",
            "schema": {
              "type": "boolean",
              "description": "Optional true or false value that includes positions for each pair. Default is true.",
              "default": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grid": {
                            "type": "array",
                            "items": {},
                            "description": "Memory grid."
                          },
                          "height": {
                            "type": "number",
                            "description": "Grid height."
                          },
                          "pairPositions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Positions for each value."
                          },
                          "pairSize": {
                            "type": "number",
                            "description": "Pair size."
                          },
                          "totalPairs": {
                            "type": "number",
                            "description": "Total number of pairs."
                          },
                          "width": {
                            "type": "number",
                            "description": "Grid width."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-minesweeper-field": {
      "get": {
        "operationId": "shadify.generate-minesweeper-field",
        "summary": "Generate Minesweeper Field",
        "description": "Retrieves a random Minesweeper field from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-minesweeper-field"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Required starting position as x-y. Mines are excluded around this position.",
            "schema": {
              "type": "string",
              "description": "Required starting position as x-y. Mines are excluded around this position.",
              "default": "1-1"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Optional field width. Width times height must not exceed 1000. Default is 9.",
            "schema": {
              "type": "number",
              "description": "Optional field width. Width times height must not exceed 1000. Default is 9.",
              "default": 9
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Optional field height. Width times height must not exceed 1000. Default is 9.",
            "schema": {
              "type": "number",
              "description": "Optional field height. Width times height must not exceed 1000. Default is 9.",
              "default": 9
            }
          },
          {
            "name": "mines",
            "in": "query",
            "required": false,
            "description": "Optional mine count, up to 25 percent of cells. Default is 12.",
            "schema": {
              "type": "number",
              "description": "Optional mine count, up to 25 percent of cells. Default is 12.",
              "default": 12
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "board": {
                            "type": "array",
                            "items": {},
                            "description": "Generated minesweeper board."
                          },
                          "height": {
                            "type": "number",
                            "description": "Field height."
                          },
                          "mines": {
                            "type": "number",
                            "description": "Mine count."
                          },
                          "start": {
                            "type": "string",
                            "description": "Safe starting position."
                          },
                          "width": {
                            "type": "number",
                            "description": "Field width."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-multiplication-expression": {
      "get": {
        "operationId": "shadify.generate-multiplication-expression",
        "summary": "Generate Multiplication Expression",
        "description": "Retrieves a random multiplication expression from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-multiplication-expression"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minFirst",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the first number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the first number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxFirst",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the first number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the first number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "minSecond",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the second number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the second number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxSecond",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the second number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the second number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "number",
                            "description": "Correct answer."
                          },
                          "expression": {
                            "type": "string",
                            "description": "Expression text."
                          },
                          "first": {
                            "type": "number",
                            "description": "First operand."
                          },
                          "operation": {
                            "type": "string",
                            "description": "Math operator."
                          },
                          "second": {
                            "type": "number",
                            "description": "Second operand."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-quadratic-equation": {
      "get": {
        "operationId": "shadify.generate-quadratic-equation",
        "summary": "Generate Quadratic Equation",
        "description": "Retrieves a random quadratic equation from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-quadratic-equation"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minA",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for coefficient A. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for coefficient A. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxA",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for coefficient A. Default is 20.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for coefficient A. Default is 20.",
              "default": 20
            }
          },
          {
            "name": "minB",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for coefficient B. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for coefficient B. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxB",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for coefficient B. Default is 40.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for coefficient B. Default is 40.",
              "default": 40
            }
          },
          {
            "name": "minC",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for coefficient C. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for coefficient C. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxC",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for coefficient C. Default is 20.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for coefficient C. Default is 20.",
              "default": 20
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "a": {
                            "type": "number",
                            "description": "Coefficient a."
                          },
                          "b": {
                            "type": "number",
                            "description": "Coefficient b."
                          },
                          "c": {
                            "type": "number",
                            "description": "Coefficient c."
                          },
                          "discriminant": {
                            "type": "number",
                            "description": "Discriminant value."
                          },
                          "equation": {
                            "type": "string",
                            "description": "Quadratic equation text."
                          },
                          "x1": {
                            "type": "string",
                            "description": "First root."
                          },
                          "x2": {
                            "type": "string",
                            "description": "Second root."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-schulte-table": {
      "get": {
        "operationId": "shadify.generate-schulte-table",
        "summary": "Generate Schulte Table",
        "description": "Retrieves a random Schulte table from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-schulte-table"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Optional table size from 1 to 15. Default is 5.",
            "schema": {
              "type": "number",
              "description": "Optional table size from 1 to 15. Default is 5.",
              "default": 5
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Optional number or alphabet mode. Default is number.",
            "schema": {
              "type": "string",
              "description": "Optional number or alphabet mode. Default is number.",
              "enum": [
                "0",
                "1"
              ],
              "default": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grid": {
                            "type": "array",
                            "items": {},
                            "description": "Generated Schulte table grid."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shadify/latest/actions/generate-subtraction-expression": {
      "get": {
        "operationId": "shadify.generate-subtraction-expression",
        "summary": "Generate Subtraction Expression",
        "description": "Retrieves a random subtraction expression from Shadify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shadify/latest/actions/generate-subtraction-expression"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minFirst",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the first number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the first number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxFirst",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the first number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the first number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "minSecond",
            "in": "query",
            "required": false,
            "description": "Optional minimum value for the second number. Default is 1.",
            "schema": {
              "type": "number",
              "description": "Optional minimum value for the second number. Default is 1.",
              "default": 1
            }
          },
          {
            "name": "maxSecond",
            "in": "query",
            "required": false,
            "description": "Optional maximum value for the second number. Default is 99.",
            "schema": {
              "type": "number",
              "description": "Optional maximum value for the second number. Default is 99.",
              "default": 99
            }
          },
          {
            "name": "negative",
            "in": "query",
            "required": false,
            "description": "Optional 0 or 1 value that allows negative subtraction results. Default is 0.",
            "schema": {
              "type": "number",
              "description": "Optional 0 or 1 value that allows negative subtraction results. Default is 0.",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "answer": {
                            "type": "number",
                            "description": "Correct answer."
                          },
                          "expression": {
                            "type": "string",
                            "description": "Expression text."
                          },
                          "first": {
                            "type": "number",
                            "description": "First operand."
                          },
                          "operation": {
                            "type": "string",
                            "description": "Math operator."
                          },
                          "second": {
                            "type": "number",
                            "description": "Second operand."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
[...]
