{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Smsmobileapi Universal API",
    "version": "0.0.4",
    "description": "SMSMobileAPI turns connected mobile phones into SMS, call, notification, and messaging gateways that you can automate through a dashboard and REST API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/smsmobileapi/latest/actions/list-api-sent-sms": {
      "get": {
        "operationId": "smsmobileapi.list-api-sent-sms",
        "summary": "List API Sent SMS",
        "description": "Retrieves SMS messages sent through Smsmobileapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest/actions/list-api-sent-sms"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guid_message",
            "in": "query",
            "required": false,
            "description": "Filter the log to one exact SMS GUID.",
            "schema": {
              "type": "string",
              "description": "Filter the log to one exact SMS GUID."
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Filter by recipient number or message content.",
            "schema": {
              "type": "string",
              "description": "Filter by recipient number or message content."
            }
          },
          {
            "name": "error_api",
            "in": "query",
            "required": false,
            "description": "Only return SMS entries that have an API request error.",
            "schema": {
              "type": "string",
              "description": "Only return SMS entries that have an API request error.",
              "enum": [
                "1"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "error_mobile",
            "in": "query",
            "required": false,
            "description": "Only return SMS entries that have a mobile processing error.",
            "schema": {
              "type": "string",
              "description": "Only return SMS entries that have a mobile processing error.",
              "enum": [
                "1"
              ],
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Provider envelope containing the API SMS log result, including the error code and SMS entries array."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smsmobileapi/latest/actions/list-connected-mobiles": {
      "get": {
        "operationId": "smsmobileapi.list-connected-mobiles",
        "summary": "List Connected Mobiles",
        "description": "Retrieves connected gateway mobiles from Smsmobileapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest/actions/list-connected-mobiles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sid",
            "in": "query",
            "required": false,
            "description": "Filter the result to one exact connected mobile SID.",
            "schema": {
              "type": "string",
              "description": "Filter the result to one exact connected mobile SID."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search connected mobile fields such as SID, date, battery, version, or label.",
            "schema": {
              "type": "string",
              "description": "Search connected mobile fields such as SID, date, battery, version, or label."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "connected_available": {
                            "type": "number",
                            "description": "Remaining mobile connection slots available."
                          },
                          "connected_limit": {
                            "type": "number",
                            "description": "Maximum number of connected mobiles allowed for the account."
                          },
                          "connected_now": {
                            "type": "number",
                            "description": "Number of mobiles currently connected."
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Echoed filter values applied to the request."
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Connected mobile records returned by the gateway."
                          },
                          "note": {
                            "type": "string",
                            "description": "Provider note about gateway-mobile statistics availability."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the gateway-mobile lookup succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smsmobileapi/latest/actions/list-missed-calls": {
      "get": {
        "operationId": "smsmobileapi.list-missed-calls",
        "summary": "List Missed Calls",
        "description": "Retrieves missed calls from Smsmobileapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest/actions/list-missed-calls"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. The provider defaults this to 0.",
            "schema": {
              "type": "number",
              "description": "Pagination offset. The provider defaults this to 0."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of rows to return. The provider defaults to 100 and caps at 500.",
            "schema": {
              "type": "number",
              "description": "Maximum number of rows to return. The provider defaults to 100 and caps at 500."
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search by caller number or cached contact name.",
            "schema": {
              "type": "string",
              "description": "Search by caller number or cached contact name."
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "required": false,
            "description": "Only include calls from this day onward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include calls from this day onward."
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "required": false,
            "description": "Only include calls up to this day.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include calls up to this day."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Number of rows returned in data."
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Missed call rows returned by the provider."
                          },
                          "limit": {
                            "type": "number",
                            "description": "Pagination limit applied by the provider."
                          },
                          "offset": {
                            "type": "number",
                            "description": "Pagination offset applied by the provider."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the missed-calls lookup succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smsmobileapi/latest/actions/list-notifications": {
      "get": {
        "operationId": "smsmobileapi.list-notifications",
        "summary": "List Notifications",
        "description": "Retrieves notifications from Smsmobileapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest/actions/list-notifications"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sidentifiant",
            "in": "query",
            "required": false,
            "description": "Filter notifications by the target mobile identifier.",
            "schema": {
              "type": "string",
              "description": "Filter notifications by the target mobile identifier."
            }
          },
          {
            "name": "distribued",
            "in": "query",
            "required": false,
            "description": "Limit results to distributed or not-distributed notifications.",
            "schema": {
              "type": "string",
              "description": "Limit results to distributed or not-distributed notifications.",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "description": "Only include notifications sent from this date forward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include notifications sent from this date forward."
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "description": "Only include notifications sent up to this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include notifications sent up to this date."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "number",
                            "description": "Number of rows returned in data."
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Notification rows returned by the provider."
                          },
                          "filters": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Echoed filter values applied to the request."
                          },
                          "message": {
                            "type": "string",
                            "description": "Provider status message for the request."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the notification lookup succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smsmobileapi/latest/actions/list-sms-conversations": {
      "get": {
        "operationId": "smsmobileapi.list-sms-conversations",
        "summary": "List SMS Conversations",
        "description": "Retrieves SMS conversations from Smsmobileapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest/actions/list-sms-conversations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origineConversation",
            "in": "query",
            "required": true,
            "description": "Choose whether the conversation list is seeded from received or sent SMS logs.",
            "schema": {
              "type": "string",
              "description": "Choose whether the conversation list is seeded from received or sent SMS logs.",
              "enum": [
                "received",
                "sent"
              ]
            }
          },
          {
            "name": "numero",
            "in": "query",
            "required": false,
            "description": "Filter to one specific phone number.",
            "schema": {
              "type": "string",
              "description": "Filter to one specific phone number."
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "description": "Only include conversations and messages from this date forward.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include conversations and messages from this date forward."
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "description": "Only include conversations and messages up to this date.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Only include conversations and messages up to this date."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort the conversation list ascending or descending.",
            "schema": {
              "type": "string",
              "description": "Sort the conversation list ascending or descending.",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of conversations to return when a phone number is not provided.",
            "schema": {
              "type": "number",
              "description": "Maximum number of conversations to return when a phone number is not provided."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Conversation rows grouped by phone number."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the conversation lookup succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/smsmobileapi/latest/actions/set-whatsapp-retrieval-status": {
      "put": {
        "operationId": "smsmobileapi.set-whatsapp-retrieval-status",
        "summary": "Set WhatsApp Retrieval Status",
        "description": "Updates WhatsApp retrieval status in Smsmobileapi.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/smsmobileapi/latest/actions/set-whatsapp-retrieval-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "statut"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "statut": {
                    "type": "string",
                    "description": "Set WhatsApp retrieval to activated or deactivated explicitly.",
                    "enum": [
                      "0",
                      "1"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "read_message_active": {
                            "type": "number",
                            "description": "Current WhatsApp retrieval state returned by the provider (1 active, 0 inactive)."
                          },
                          "status_note": {
                            "type": "string",
                            "description": "Provider status label for the current retrieval state."
                          },
                          "success": {
                            "type": "boolean",
                            "description": "Whether the WhatsApp retrieval status update succeeded."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
