{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Shopify Universal API",
    "version": "0.2.301",
    "description": "Manage products, orders, customers, and inventory levels"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shopify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shopify/latest/actions/activate-inventory-item": {
      "post": {
        "operationId": "shopify.activate-inventory-item",
        "summary": "Activate Inventory Item",
        "description": "Activates an inventory item in Shopify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/activate-inventory-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "variables.inventoryItemId",
                  "variables.locationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "apiVersion": {
                    "type": "string",
                    "description": "e.g. `2026-01`\n\nAs of version 2026-01, this mutation supports an optional idempotency key using the @idempotent directive. As of version 2026-04, the idempotency key is required and must be provided using the @idempotent directive. For more information, see the idempotency documentation.",
                    "default": "2026-01",
                    "x-mindcloud-advanced": true
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "variables.inventoryItemId": {
                    "type": "string",
                    "description": "The ID of the location of the inventory item being activated."
                  },
                  "query": {
                    "type": "string",
                    "description": "This mutation __Activates an inventory item at a location with idempotency enabled__\n\nTo see all available examples [see the documentation](https://shopify.dev/docs/api/admin-graphql/latest/mutations/inventoryActivate?example=activate-an-inventory-item-at-a-location-with-idempotency-enabled-2026-01-onwards)",
                    "default": "mutation InventoryActivate(   $inventoryItemId: ID!,    $locationId: ID! ) {   inventoryActivate(     inventoryItemId: $inventoryItemId,      locationId: $locationId   ) {     inventoryLevel {       id       canDeactivate       createdAt       item {         id       }       location {         id       }       quantities(names: [\"available\"]) {         name         quantity       }       updatedAt     }   } }",
                    "x-mindcloud-advanced": true
                  },
                  "variables.locationId": {
                    "type": "string",
                    "description": "The ID of the location of the inventory item being activated."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/create-webhook-subscription-http": {
      "post": {
        "operationId": "shopify.create-webhook-subscription-http",
        "summary": "Create Webhook Subscription (HTTP)",
        "description": "Creates an HTTP webhook subscription in Shopify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/create-webhook-subscription-http"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "variables.webhookSubscription.callbackUrl",
                  "variables.topic"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "query": {
                    "type": "string"
                  },
                  "variables.webhookSubscription.callbackUrl": {
                    "type": "string",
                    "description": "URL where the webhook subscription should send the POST request when the event occurs."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "variables.topic": {
                    "type": "string"
                  },
                  "variables.webhookSubscription.filter": {
                    "type": "string"
                  },
                  "variables.webhookSubscription.metafieldNamespaces": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "variables.webhookSubscription": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/get-product-variant-by-sku": {
      "get": {
        "operationId": "shopify.get-product-variant-by-sku",
        "summary": "Get Product Variant by SKU",
        "description": "Finds product variants in Shopify by SKU.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/get-product-variant-by-sku"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "A GraphQL query to find a product by it's SKU.",
            "schema": {
              "type": "string",
              "description": "A GraphQL query to find a product by it's SKU.",
              "default": "query VariantBySku($first: Int!, $query: String!) {   productVariants(first: $first, query: $query) {     edges {       node {         id           legacyResourceId           sku         title         price         inventoryQuantity         product {           id           legacyResourceId           title           handle         }         inventoryItem {           id           legacyResourceId           inventoryLevels(first: 10) {             edges {               node {                 location {                   id                   name                 }                 quantities(names: [\"available\"]) {                   name                   quantity                 }               }             }           }         }       }     }   } }",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "variables.query",
            "in": "query",
            "required": true,
            "description": "Exact Shopify SKU. The action automatically applies Shopify's sku: search filter.",
            "schema": {
              "type": "string",
              "description": "Exact Shopify SKU. The action automatically applies Shopify's sku: search filter.",
              "example": "SKU-1-EXAMPLE"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "barcode": {
                            "type": "string",
                            "description": "Variant barcode."
                          },
                          "compareAtPrice": {
                            "type": "string",
                            "description": "Original variant price before discount."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Variant creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Shopify product variant GID."
                          },
                          "inventoryItem": {
                            "type": "object",
                            "properties": {
                              "countryCodeOfOrigin": {
                                "type": "string",
                                "description": "Country of origin for the inventory item."
                              },
                              "harmonizedSystemCode": {
                                "type": "string",
                                "description": "Harmonized system code for the inventory item."
                              },
                              "id": {
                                "type": "string",
                                "description": "Shopify inventory item GID."
                              },
                              "tracked": {
                                "type": "boolean",
                                "description": "Whether the inventory item is tracked."
                              },
                              "unitCost": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "description": "Inventory unit cost amount."
                                  },
                                  "currencyCode": {
                                    "type": "string",
                                    "description": "Inventory unit cost currency."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "inventoryPolicy": {
                            "type": "string",
                            "description": "Out-of-stock behavior for the variant."
                          },
                          "inventoryQuantity": {
                            "type": "number",
                            "description": "Sellable inventory quantity."
                          },
                          "price": {
                            "type": "string",
                            "description": "Variant price."
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "handle": {
                                "type": "string",
                                "description": "Parent product handle."
                              },
                              "id": {
                                "type": "string",
                                "description": "Parent product GID."
                              },
                              "status": {
                                "type": "string",
                                "description": "Parent product status."
                              },
                              "title": {
                                "type": "string",
                                "description": "Parent product title."
                              },
                              "vendor": {
                                "type": "string",
                                "description": "Parent product vendor."
                              }
                            },
                            "additionalProperties": false
                          },
                          "selectedOptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Variant selected option name."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Variant selected option value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sku": {
                            "type": "string",
                            "description": "Variant SKU."
                          },
                          "taxable": {
                            "type": "boolean",
                            "description": "Whether the variant is taxable."
                          },
                          "title": {
                            "type": "string",
                            "description": "Variant title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Variant last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/graphql-get-records-paginated": {
      "get": {
        "operationId": "shopify.graphql-get-records-paginated",
        "summary": "GraphQL - Get Records (Paginated)",
        "description": "Retrieves records from Shopify with paginated GraphQL queries.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/graphql-get-records-paginated"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "2024-04"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "orders": {
                                "type": "object",
                                "properties": {
                                  "edges": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "node": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "pageInfo": {
                                    "type": "object",
                                    "properties": {
                                      "endCursor": {
                                        "type": "string"
                                      },
                                      "hasNextPage": {
                                        "type": "boolean"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/graphql-get-records-unwrapped-edges": {
      "get": {
        "operationId": "shopify.graphql-get-records-unwrapped-edges",
        "summary": "GraphQL - Get Records (Unwrapped Edges)",
        "description": "Retrieves records from Shopify from nested GraphQL edges.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/graphql-get-records-unwrapped-edges"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Internal GraphQL query template.",
            "schema": {
              "type": "string",
              "description": "Internal GraphQL query template."
            }
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/list-all-orders-graphql": {
      "get": {
        "operationId": "shopify.list-all-orders-graphql",
        "summary": "List All Orders",
        "description": "Retrieves orders from Shopify with GraphQL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/list-all-orders-graphql"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderQuery",
            "in": "query",
            "required": false,
            "description": "Optional Shopify order search query string. Leave blank to list orders.",
            "schema": {
              "type": "string",
              "description": "Optional Shopify order search query string. Leave blank to list orders.",
              "example": "status:open"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Optional lower bound for Shopify created_at order search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional lower bound for Shopify created_at order search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
              "example": "2026-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Optional upper bound for Shopify created_at order search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional upper bound for Shopify created_at order search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
              "example": "2026-04-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Optional lower bound for Shopify updated_at order search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional lower bound for Shopify updated_at order search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
              "example": "2026-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Optional upper bound for Shopify updated_at order search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional upper bound for Shopify updated_at order search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
              "example": "2026-04-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "financialStatus",
            "in": "query",
            "required": false,
            "description": "Optional Shopify financial_status filter, for example paid, pending, authorized, partially_paid, refunded, or voided.",
            "schema": {
              "type": "string",
              "description": "Optional Shopify financial_status filter, for example paid, pending, authorized, partially_paid, refunded, or voided.",
              "example": "paid",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "names[]",
            "in": "query",
            "required": false,
            "description": "Optional list of Shopify order names to match, for example #1001 or 1001.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional list of Shopify order names to match, for example #1001 or 1001.",
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "reverse",
            "in": "query",
            "required": false,
            "description": "Reverse the sort order of the results.",
            "schema": {
              "type": "boolean",
              "description": "Reverse the sort order of the results.",
              "default": false,
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "afterCursor",
            "in": "query",
            "required": false,
            "description": "Optional cursor for manually continuing from a previous page. Standard pagination controls handle this automatically in most workflows.",
            "schema": {
              "type": "string",
              "description": "Optional cursor for manually continuing from a previous page. Standard pagination controls handle this automatically in most workflows.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/list-companies-graphql": {
      "get": {
        "operationId": "shopify.list-companies-graphql",
        "summary": "List Companies",
        "description": "Retrieves companies from Shopify with GraphQL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/list-companies-graphql"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyQuery",
            "in": "query",
            "required": false,
            "description": "Optional Shopify company search query string. Leave blank to list companies.",
            "schema": {
              "type": "string",
              "description": "Optional Shopify company search query string. Leave blank to list companies.",
              "example": "name:Acme"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Optional lower bound for Shopify created_at company search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional lower bound for Shopify created_at company search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
              "example": "2026-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Optional upper bound for Shopify created_at company search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional upper bound for Shopify created_at company search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
              "example": "2026-04-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Optional lower bound for Shopify updated_at company search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional lower bound for Shopify updated_at company search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
              "example": "2026-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Optional upper bound for Shopify updated_at company search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional upper bound for Shopify updated_at company search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
              "example": "2026-04-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "afterCursor",
            "in": "query",
            "required": false,
            "description": "Optional cursor for manually continuing from a previous page. Standard pagination controls handle this automatically in most workflows.",
            "schema": {
              "type": "string",
              "description": "Optional cursor for manually continuing from a previous page. Standard pagination controls handle this automatically in most workflows.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/list-customers-graphql": {
      "get": {
        "operationId": "shopify.list-customers-graphql",
        "summary": "List Customers",
        "description": "Retrieves customers from Shopify with GraphQL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/list-customers-graphql"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerQuery",
            "in": "query",
            "required": false,
            "description": "Optional Shopify customer search query string. Leave blank to list customers.",
            "schema": {
              "type": "string",
              "description": "Optional Shopify customer search query string. Leave blank to list customers.",
              "example": "state:ENABLED"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "required": false,
            "description": "Optional lower bound for Shopify customer_date search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional lower bound for Shopify customer_date search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
              "example": "2026-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "required": false,
            "description": "Optional upper bound for Shopify customer_date search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional upper bound for Shopify customer_date search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
              "example": "2026-04-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "required": false,
            "description": "Optional lower bound for Shopify updated_at search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional lower bound for Shopify updated_at search, for example 2026-03-01 or 2026-03-01T00:00:00Z.",
              "example": "2026-03-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "description": "Optional upper bound for Shopify updated_at search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
            "schema": {
              "type": "string",
              "description": "Optional upper bound for Shopify updated_at search, for example 2026-04-01 or 2026-04-01T00:00:00Z.",
              "example": "2026-04-01",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "afterCursor",
            "in": "query",
            "required": false,
            "description": "Optional cursor for manually continuing from a previous page. Standard pagination controls handle this automatically in most workflows.",
            "schema": {
              "type": "string",
              "description": "Optional cursor for manually continuing from a previous page. Standard pagination controls handle this automatically in most workflows.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amountSpent": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string",
                                "description": "Total amount the customer has spent."
                              },
                              "currencyCode": {
                                "type": "string",
                                "description": "Currency for the total amount spent."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "When the customer was created."
                          },
                          "defaultAddress": {
                            "type": "object",
                            "properties": {
                              "address1": {
                                "type": "string",
                                "description": "Default address line 1."
                              },
                              "address2": {
                                "type": "string",
                                "description": "Default address line 2."
                              },
                              "city": {
                                "type": "string",
                                "description": "Default address city."
                              },
                              "country": {
                                "type": "string",
                                "description": "Default address country."
                              },
                              "province": {
                                "type": "string",
                                "description": "Default address province or state."
                              },
                              "zip": {
                                "type": "string",
                                "description": "Default address postal code."
                              }
                            },
                            "additionalProperties": false
                          },
                          "defaultEmailAddress": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string",
                                "description": "Customer default email address."
                              }
                            },
                            "additionalProperties": false
                          },
                          "defaultPhoneNumber": {
                            "type": "object",
                            "properties": {
                              "phoneNumber": {
                                "type": "string",
                                "description": "Customer default phone number."
                              }
                            },
                            "additionalProperties": false
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Customer first name."
                          },
                          "hasNextCursor": {
                            "type": "boolean",
                            "description": "Whether another page is available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Shopify customer GID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Customer last name."
                          },
                          "nextCursor": {
                            "type": "string",
                            "description": "Cursor to pass into After Cursor for next page."
                          },
                          "numberOfOrders": {
                            "type": "number",
                            "description": "How many orders the customer has placed."
                          },
                          "state": {
                            "type": "string",
                            "description": "Customer account state."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "Customer tags."
                            }
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "When the customer was last updated."
                          },
                          "verifiedEmail": {
                            "type": "boolean",
                            "description": "Whether the customer's email address is verified."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/list-deleted-product-events": {
      "get": {
        "operationId": "shopify.list-deleted-product-events",
        "summary": "List Deleted Product Events",
        "description": "Retrieves deleted product events from Shopify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/list-deleted-product-events"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Shopify event search query. Defaults to deleted product events only and can be narrowed with created_at filters.",
            "schema": {
              "type": "string",
              "description": "Shopify event search query. Defaults to deleted product events only and can be narrowed with created_at filters.",
              "example": "action:'destroy' AND subject_type:'PRODUCT' AND created_at:>='2026-04-01'",
              "default": "action:'destroy' AND subject_type:'PRODUCT'"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "Shopify event action. For deleted products this is destroy."
                          },
                          "arguments": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "description": "Additional event arguments returned by Shopify when present."
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When Shopify recorded the product deletion event."
                          },
                          "hasNextCursor": {
                            "type": "boolean",
                            "description": "Whether another page of deleted product events is available."
                          },
                          "id": {
                            "type": "string",
                            "description": "Shopify event GID for the deleted product event."
                          },
                          "message": {
                            "type": "string",
                            "description": "Event message returned by Shopify."
                          },
                          "nextCursor": {
                            "type": "string",
                            "description": "Cursor to pass into After Cursor for the next page of deleted product events."
                          },
                          "subjectId": {
                            "type": "string",
                            "description": "Deleted product GraphQL product ID."
                          },
                          "subjectType": {
                            "type": "string",
                            "description": "Shopify subject type for the deleted resource."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/list-locations": {
      "get": {
        "operationId": "shopify.list-locations",
        "summary": "List Locations",
        "description": "Retrieves locations from Shopify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/list-locations"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationQuery",
            "in": "query",
            "required": false,
            "description": "Optional raw Shopify locations query string, such as `name:Online` or `id:>=69379358899`.",
            "schema": {
              "type": "string",
              "description": "Optional raw Shopify locations query string, such as `name:Online` or `id:>=69379358899`."
            }
          },
          {
            "name": "afterCursor",
            "in": "query",
            "required": false,
            "description": "Optional cursor from the previous page to fetch the next page of locations.",
            "schema": {
              "type": "string",
              "description": "Optional cursor from the previous page to fetch the next page of locations.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "When the location was created in Shopify."
                          },
                          "fulfillsOnlineOrders": {
                            "type": "boolean",
                            "description": "Whether the location can fulfill online orders."
                          },
                          "id": {
                            "type": "string",
                            "description": "Shopify location GID."
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the location is active."
                          },
                          "legacyResourceId": {
                            "type": "string",
                            "description": "Numeric Shopify location ID for later search steps."
                          },
                          "name": {
                            "type": "string",
                            "description": "Shopify location name."
                          },
                          "nextCursor": {
                            "type": "string",
                            "description": "Cursor to pass into After Cursor for the next page."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "When the location was last updated in Shopify."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/list-orders": {
      "get": {
        "operationId": "shopify.list-orders",
        "summary": "List Orders",
        "description": "Retrieves orders from Shopify with GraphQL.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/list-orders"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "required": false,
            "description": "Date created after",
            "schema": {
              "type": "string",
              "description": "Date created after"
            }
          },
          {
            "name": "updatedAt",
            "in": "query",
            "required": false,
            "description": "Date updated after",
            "schema": {
              "type": "string",
              "description": "Date updated after"
            }
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "financialStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fulfillmentStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "names[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-mindcloud-advanced": true
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "customQuery",
            "in": "query",
            "required": false,
            "description": "Optional Shopify order search query to combine with the built-in filters.",
            "schema": {
              "type": "string",
              "description": "Optional Shopify order search query to combine with the built-in filters.",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "required": false,
            "description": "Reverse the sort order of the results",
            "schema": {
              "type": "boolean",
              "description": "Reverse the sort order of the results",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "simple",
            "in": "query",
            "required": false,
            "description": "Return a lighter order payload when you only need core order fields.\nLeave OFF if you need only specific advanced fields",
            "schema": {
              "type": "boolean",
              "description": "Return a lighter order payload when you only need core order fields.\nLeave OFF if you need only specific advanced fields",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "purchasingEntity",
            "in": "query",
            "required": false,
            "description": "Adds field: purchasingEntity",
            "schema": {
              "type": "boolean",
              "description": "Adds field: purchasingEntity",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "totalPriceSet",
            "in": "query",
            "required": false,
            "description": "Adds field: totalPriceSet",
            "schema": {
              "type": "boolean",
              "description": "Adds field: totalPriceSet",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "currentCartDiscountAmountSet",
            "in": "query",
            "required": false,
[...]
