{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Shopify Universal API",
    "version": "0.2.319",
    "description": "Manage products, orders, customers, and inventory levels"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/shopify/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/shopify/latest/actions/activate-inventory-item": {
      "post": {
        "operationId": "shopify.activate-inventory-item",
        "summary": "Activate Inventory Item",
        "description": "Activates an inventory item in Shopify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/activate-inventory-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "variables.inventoryItemId",
                  "variables.locationId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "apiVersion": {
                    "type": "string",
                    "description": "e.g. `2026-01`\n\nAs of version 2026-01, this mutation supports an optional idempotency key using the @idempotent directive. As of version 2026-04, the idempotency key is required and must be provided using the @idempotent directive. For more information, see the idempotency documentation.",
                    "default": "2026-01",
                    "x-mindcloud-advanced": true
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "variables.inventoryItemId": {
                    "type": "string",
                    "description": "The ID of the location of the inventory item being activated."
                  },
                  "query": {
                    "type": "string",
                    "description": "This mutation __Activates an inventory item at a location with idempotency enabled__\n\nTo see all available examples [see the documentation](https://shopify.dev/docs/api/admin-graphql/latest/mutations/inventoryActivate?example=activate-an-inventory-item-at-a-location-with-idempotency-enabled-2026-01-onwards)",
                    "default": "mutation InventoryActivate(   $inventoryItemId: ID!,    $locationId: ID! ) {   inventoryActivate(     inventoryItemId: $inventoryItemId,      locationId: $locationId   ) {     inventoryLevel {       id       canDeactivate       createdAt       item {         id       }       location {         id       }       quantities(names: [\"available\"]) {         name         quantity       }       updatedAt     }   } }",
                    "x-mindcloud-advanced": true
                  },
                  "variables.locationId": {
                    "type": "string",
                    "description": "The ID of the location of the inventory item being activated."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/add-tags-to-order": {
      "put": {
        "operationId": "shopify.add-tags-to-order",
        "summary": "Add Tags to Order",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/add-tags-to-order"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "variables.id",
                  "variables.tags[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "variables.id": {
                    "type": "string",
                    "description": "Shopify Order GID, for example gid://shopify/Order/7151139979451.",
                    "example": "gid://shopify/Order/7151139979451"
                  },
                  "variables.tags[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One or more tags to add. Existing order tags are preserved."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/assign-customer-to-company": {
      "put": {
        "operationId": "shopify.assign-customer-to-company",
        "summary": "Assign Customer to Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/assign-customer-to-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "customerId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Shopify Company GID to receive the existing customer.",
                    "example": "gid://shopify/Company/123456789"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "Shopify Customer GID to assign as a company contact.",
                    "example": "gid://shopify/Customer/123456789"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "companyAssignCustomerAsContact": {
                                "type": "object",
                                "properties": {
                                  "companyContact": {
                                    "type": "object",
                                    "properties": {
                                      "company": {
                                        "type": "object",
                                        "properties": {
                                          "externalId": {
                                            "type": "string",
                                            "description": "External source-system company ID"
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "Shopify Company GID"
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "Shopify company name"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "customer": {
                                        "type": "object",
                                        "properties": {
                                          "email": {
                                            "type": "string",
                                            "description": "Customer email"
                                          },
                                          "firstName": {
                                            "type": "string",
                                            "description": "Customer first name"
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "Assigned Shopify Customer GID"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "Customer last name"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Shopify CompanyContact GID"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "userErrors": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string",
                                          "description": "Shopify validation error code"
                                        },
                                        "field": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Input path associated with an error"
                                        },
                                        "message": {
                                          "type": "string",
                                          "description": "Shopify validation error message"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/create-company": {
      "post": {
        "operationId": "shopify.create-company",
        "summary": "Create Company",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/create-company"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyName",
                  "externalId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyName": {
                    "type": "string",
                    "description": "The Shopify B2B company name.",
                    "example": "Acme Corporation"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "The external source-system ID stored in Shopify Company.externalId.",
                    "example": "External company ID"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "companyCreate": {
                                "type": "object",
                                "properties": {
                                  "company": {
                                    "type": "object",
                                    "properties": {
                                      "externalId": {
                                        "type": "string",
                                        "description": "External source-system company ID"
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Shopify Company GID"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "Shopify company name"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "userErrors": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string",
                                          "description": "Shopify validation error code"
                                        },
                                        "field": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Input path associated with an error"
                                        },
                                        "message": {
                                          "type": "string",
                                          "description": "Shopify validation error message"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/create-company-contact": {
      "post": {
        "operationId": "shopify.create-company-contact",
        "summary": "Create Company Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/create-company-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "companyId",
                  "email"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "companyId": {
                    "type": "string",
                    "description": "Shopify Company GID that the contact belongs to.",
                    "example": "gid://shopify/Company/123456789"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address for the new company contact and associated customer.",
                    "example": "person@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name for the company contact.",
                    "example": "Avery"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name for the company contact.",
                    "example": "Brown"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "companyContactCreate": {
                                "type": "object",
                                "properties": {
                                  "companyContact": {
                                    "type": "object",
                                    "properties": {
                                      "company": {
                                        "type": "object",
                                        "properties": {
                                          "externalId": {
                                            "type": "string",
                                            "description": "External source-system company ID"
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "Shopify Company GID"
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "Shopify company name"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "customer": {
                                        "type": "object",
                                        "properties": {
                                          "email": {
                                            "type": "string",
                                            "description": "Customer email"
                                          },
                                          "firstName": {
                                            "type": "string",
                                            "description": "Customer first name"
                                          },
                                          "id": {
                                            "type": "string",
                                            "description": "Created Shopify Customer GID"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "Customer last name"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "Shopify CompanyContact GID"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "userErrors": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string",
                                          "description": "Shopify validation error code"
                                        },
                                        "field": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "Input path associated with an error"
                                        },
                                        "message": {
                                          "type": "string",
                                          "description": "Shopify validation error message"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/create-or-update-product": {
      "put": {
        "operationId": "shopify.create-or-update-product",
        "summary": "Create or Update Product",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/create-or-update-product"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "handle",
                  "title",
                  "sku",
                  "price",
                  "tracked",
                  "requiresShipping",
                  "inventoryPolicy",
                  "locationId",
                  "quantity"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "handle": {
                    "type": "string",
                    "description": "Product handle used as the create-or-update identifier.",
                    "example": "abc-123"
                  },
                  "title": {
                    "type": "string",
                    "description": "Product title. Required so the same action can create a missing product.",
                    "example": "Apple iPhone 14"
                  },
                  "sku": {
                    "type": "string",
                    "description": "SKU for the product's single default variant.",
                    "example": "ABC-123"
                  },
                  "price": {
                    "type": "number",
                    "description": "Base price for the product's single default variant.",
                    "example": 799
                  },
                  "tracked": {
                    "type": "boolean",
                    "description": "Whether Shopify tracks inventory for the variant.",
                    "default": true
                  },
                  "requiresShipping": {
                    "type": "boolean",
                    "description": "Whether the variant requires shipping.",
                    "default": true
                  },
                  "inventoryPolicy": {
                    "type": "string",
                    "description": "Behavior when inventory reaches zero.",
                    "enum": [
                      "CONTINUE",
                      "DENY"
                    ],
                    "default": "DENY"
                  },
                  "locationId": {
                    "type": "string",
                    "description": "Shopify location GID where available inventory is set.",
                    "example": "gid://shopify/Location/80529227963"
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Available inventory quantity at the selected location.",
                    "example": 9999
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "productSet": {
                                "type": "object",
                                "properties": {
                                  "product": {
                                    "type": "object",
                                    "properties": {
                                      "handle": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "variants": {
                                        "type": "object",
                                        "properties": {
                                          "nodes": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "compareAtPrice": {
                                                  "type": "string"
                                                },
                                                "id": {
                                                  "type": "string"
                                                },
                                                "inventoryItem": {
                                                  "type": "object",
                                                  "properties": {
                                                    "id": {
                                                      "type": "string"
                                                    },
                                                    "requiresShipping": {
                                                      "type": "boolean"
                                                    },
                                                    "tracked": {
                                                      "type": "boolean"
                                                    }
                                                  },
                                                  "additionalProperties": false
                                                },
                                                "inventoryPolicy": {
                                                  "type": "string"
                                                },
                                                "inventoryQuantity": {
                                                  "type": "number"
                                                },
                                                "price": {
                                                  "type": "string"
                                                },
                                                "sku": {
                                                  "type": "string"
                                                }
                                              },
                                              "additionalProperties": false
                                            }
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "userErrors": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "field": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "message": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "extensions": {
                            "type": "object",
                            "properties": {
                              "cost": {
                                "type": "object",
                                "properties": {
                                  "actualQueryCost": {
                                    "type": "number"
                                  },
                                  "requestedQueryCost": {
                                    "type": "number"
                                  },
                                  "throttleStatus": {
                                    "type": "object",
                                    "properties": {
                                      "currentlyAvailable": {
                                        "type": "number"
                                      },
                                      "maximumAvailable": {
                                        "type": "number"
                                      },
                                      "restoreRate": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/create-order-fulfillment-graph-ql": {
      "post": {
        "operationId": "shopify.create-order-fulfillment-graph-ql",
        "summary": "Create Order Fulfillment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/create-order-fulfillment-graph-ql"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "variables.fulfillment.lineItemsByFulfillmentOrder[]",
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderId",
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderLineItems[]",
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderLineItems[].id",
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderLineItems[].quantity",
                  "variables.fulfillment.trackingInfo.number"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "GraphQL variables for the fulfillment."
                  },
                  "variables.fulfillment": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The fulfillment details sent to Shopify."
                  },
                  "variables.fulfillment.lineItemsByFulfillmentOrder[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "One or more fulfillment orders assigned to the same Shopify order and location."
                  },
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderId": {
                    "type": "string",
                    "description": "Shopify Fulfillment Order GID.",
                    "example": "gid://shopify/FulfillmentOrder/10079785100"
                  },
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderLineItems[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Add each confirmed Fulfillment Order line item and quantity to ship."
                  },
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderLineItems[].id": {
                    "type": "string",
                    "description": "Shopify Fulfillment Order Line Item GID, not the ordinary Order Line Item GID.",
                    "example": "gid://shopify/FulfillmentOrderLineItem/123456789"
                  },
                  "variables.fulfillment.lineItemsByFulfillmentOrder[].fulfillmentOrderLineItems[].quantity": {
                    "type": "number",
                    "description": "Quantity of this fulfillment-order line item to fulfill.",
                    "example": 1
                  },
                  "variables.fulfillment.trackingInfo": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tracking information for the shipment."
                  },
                  "variables.fulfillment.trackingInfo.company": {
                    "type": "string",
                    "description": "Carrier name. A Shopify-supported carrier can enable automatic tracking URLs.",
                    "example": "UPS"
                  },
                  "variables.fulfillment.trackingInfo.number": {
                    "type": "string",
                    "example": "1Z999AA10123456784"
                  },
                  "variables.fulfillment.trackingInfo.url": {
                    "type": "string",
                    "description": "Optional complete tracking URL.",
                    "example": "https://www.ups.com/track?tracknum=...",
                    "x-mindcloud-advanced": true
                  },
                  "variables.fulfillment.notifyCustomer": {
                    "type": "boolean",
                    "description": "Whether Shopify should email the customer about the fulfillment. Defaults to false.",
                    "default": false
                  },
                  "variables.message": {
                    "type": "string",
                    "description": "Optional message associated with the fulfillment.",
                    "x-mindcloud-advanced": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/create-webhook-subscription-http": {
      "post": {
        "operationId": "shopify.create-webhook-subscription-http",
        "summary": "Create Webhook Subscription (HTTP)",
        "description": "Creates an HTTP webhook subscription in Shopify.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/create-webhook-subscription-http"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "variables.webhookSubscription.callbackUrl",
                  "variables.topic"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "query": {
                    "type": "string"
                  },
                  "variables.webhookSubscription.callbackUrl": {
                    "type": "string",
                    "description": "URL where the webhook subscription should send the POST request when the event occurs."
                  },
                  "variables": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "variables.topic": {
                    "type": "string"
                  },
                  "variables.webhookSubscription.filter": {
                    "type": "string"
                  },
                  "variables.webhookSubscription.metafieldNamespaces": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "variables.webhookSubscription": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/get-inventory-bulk-export-status": {
      "get": {
        "operationId": "shopify.get-inventory-bulk-export-status",
        "summary": "Get Inventory Bulk Export Status",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/get-inventory-bulk-export-status"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "variables.id",
            "in": "query",
            "required": true,
            "description": "The bulk operation ID returned by Start Inventory Bulk Export, for example gid://shopify/BulkOperation/720918.",
            "schema": {
              "type": "string",
              "description": "The bulk operation ID returned by Start Inventory Bulk Export, for example gid://shopify/BulkOperation/720918.",
              "example": "gid://shopify/BulkOperation/…"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/get-order-transactions-graph-ql": {
      "get": {
        "operationId": "shopify.get-order-transactions-graph-ql",
        "summary": "List Order Payment Transactions",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/get-order-transactions-graph-ql"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "description": "Order selection inputs.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Order selection inputs."
            }
          },
          {
            "name": "variables.orderId",
            "in": "query",
            "required": true,
            "description": "The Shopify GraphQL Order ID to retrieve payment transactions for.",
            "schema": {
              "type": "string",
              "description": "The Shopify GraphQL Order ID to retrieve payment transactions for.",
              "example": "gid://shopify/Order/1234567890"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/shopify/latest/actions/get-product-variant-by-sku": {
      "get": {
        "operationId": "shopify.get-product-variant-by-sku",
        "summary": "Get Product Variant by SKU",
        "description": "Finds product variants in Shopify by SKU.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/shopify/latest/actions/get-product-variant-by-sku"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "A GraphQL query to find a product by it's SKU.",
            "schema": {
              "type": "string",
              "description": "A GraphQL query to find a product by it's SKU.",
              "default": "query VariantBySku($first: Int!, $query: String!) {   productVariants(first: $first, query: $query) {     edges {       node {         id           legacyResourceId           sku         title         price         inventoryQuantity         product {           id           legacyResourceId           title           handle         }         inventoryItem {           id           legacyResourceId           inventoryLevels(first: 10) {             edges {               node {                 location {                   id                   name                 }                 quantities(names: [\"available\"]) {                   name                   quantity                 }               }             }           }         }       }     }   } }",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "variables.query",
            "in": "query",
            "required": true,
            "description": "Exact Shopify SKU. The action automatically applies Shopify's sku: search filter.",
            "schema": {
              "type": "string",
              "description": "Exact Shopify SKU. The action automatically applies Shopify's sku: search filter.",
              "example": "SKU-1-EXAMPLE"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "barcode": {
                            "type": "string",
                            "description": "Variant barcode."
                          },
                          "compareAtPrice": {
                            "type": "string",
                            "description": "Original variant price before discount."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Variant creation timestamp."
                          },
                          "id": {
                            "type": "string",
                            "description": "Shopify product variant GID."
                          },
                          "inventoryItem": {
                            "type": "object",
                            "properties": {
                              "countryCodeOfOrigin": {
                                "type": "string",
                                "description": "Country of origin for the inventory item."
                              },
                              "harmonizedSystemCode": {
                                "type": "string",
                                "description": "Harmonized system code for the inventory item."
                              },
                              "id": {
                                "type": "string",
                                "description": "Shopify inventory item GID."
                              },
                              "tracked": {
                                "type": "boolean",
                                "description": "Whether the inventory item is tracked."
                              },
                              "unitCost": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "description": "Inventory unit cost amount."
                                  },
                                  "currencyCode": {
                                    "type": "string",
                                    "description": "Inventory unit cost currency."
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "inventoryPolicy": {
                            "type": "string",
                            "description": "Out-of-stock behavior for the variant."
                          },
                          "inventoryQuantity": {
                            "type": "number",
                            "description": "Sellable inventory quantity."
                          },
                          "price": {
                            "type": "string",
                            "description": "Variant price."
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "handle": {
                                "type": "string",
                                "description": "Parent product handle."
                              },
                              "id": {
                                "type": "string",
                                "description": "Parent product GID."
                              },
                              "status": {
                                "type": "string",
                                "description": "Parent product status."
                              },
                              "title": {
                                "type": "string",
                                "description": "Parent product title."
                              },
                              "vendor": {
                                "type": "string",
                                "description": "Parent product vendor."
                              }
                            },
                            "additionalProperties": false
                          },
                          "selectedOptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Variant selected option name."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Variant selected option value."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "sku": {
                            "type": "string",
                            "description": "Variant SKU."
                          },
                          "taxable": {
                            "type": "boolean",
                            "description": "Whether the variant is taxable."
                          },
                          "title": {
                            "type": "string",
                            "description": "Variant title."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Variant last update timestamp."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
[...]
