{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "USAC Universal API",
    "version": "0.0.30",
    "description": "USAC Open Data"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/uSAC/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/uSAC/latest/actions/get-data": {
      "get": {
        "operationId": "uSAC.get-data",
        "summary": "Get Data",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uSAC/latest/actions/get-data"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "This is the ID of the dataset, use the List Datasets action to retrieve this.",
            "schema": {
              "type": "string",
              "description": "This is the ID of the dataset, use the List Datasets action to retrieve this."
            }
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "description": "Used similar to SQL where. Docs: https://dev.socrata.com/docs/queries/where",
            "schema": {
              "type": "string",
              "description": "Used similar to SQL where. Docs: https://dev.socrata.com/docs/queries/where"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "applicationNumber": {
                            "type": "string"
                          },
                          "autAddress1": {
                            "type": "string"
                          },
                          "autCity": {
                            "type": "string"
                          },
                          "autEmail": {
                            "type": "string"
                          },
                          "autEmployer": {
                            "type": "string"
                          },
                          "autFirstName": {
                            "type": "string"
                          },
                          "autLastName": {
                            "type": "string"
                          },
                          "autPhone": {
                            "type": "string"
                          },
                          "autState": {
                            "type": "string"
                          },
                          "autTitle": {
                            "type": "string"
                          },
                          "autZipcode": {
                            "type": "string"
                          },
                          "c1Discount": {
                            "type": "string"
                          },
                          "c1VoiceDiscount": {
                            "type": "string"
                          },
                          "c2Discount": {
                            "type": "string"
                          },
                          "certifiedDatetime": {
                            "type": "string"
                          },
                          "chosenCategoryOfService": {
                            "type": "string"
                          },
                          "cnctEmail": {
                            "type": "string"
                          },
                          "cnctFirstName": {
                            "type": "string"
                          },
                          "cnctLastName": {
                            "type": "string"
                          },
                          "cnctPhone": {
                            "type": "string"
                          },
                          "congressionalDistrict": {
                            "type": "string"
                          },
                          "epcOrganizationId": {
                            "type": "string"
                          },
                          "fccRegistrationNumber": {
                            "type": "string"
                          },
                          "form471StatusName": {
                            "type": "string"
                          },
                          "formVersion": {
                            "type": "string"
                          },
                          "fullTimeStudents": {
                            "type": "string"
                          },
                          "fundingRequestAmount": {
                            "type": "string"
                          },
                          "fundingYear": {
                            "type": "string"
                          },
                          "hasServiceProviderListed": {
                            "type": "string"
                          },
                          "isCertifiedInWindow": {
                            "type": "string"
                          },
                          "isUrban": {
                            "type": "string"
                          },
                          "lastModifiedTimestamp": {
                            "type": "string"
                          },
                          "latitude": {
                            "type": "string"
                          },
                          "longitude": {
                            "type": "string"
                          },
                          "nickname": {
                            "type": "string"
                          },
                          "nonDiscountShare": {
                            "type": "string"
                          },
                          "nslpPercentage": {
                            "type": "string"
                          },
                          "orgAddress1": {
                            "type": "string"
                          },
                          "organizationEntityTypeName": {
                            "type": "string"
                          },
                          "organizationName": {
                            "type": "string"
                          },
                          "orgCity": {
                            "type": "string"
                          },
                          "orgEmail": {
                            "type": "string"
                          },
                          "orgPhone": {
                            "type": "string"
                          },
                          "orgState": {
                            "type": "string"
                          },
                          "orgZipcode": {
                            "type": "string"
                          },
                          "preDiscountEligibleAmount": {
                            "type": "string"
                          },
                          "receivingFundsDirectly": {
                            "type": "string"
                          },
                          "totalEligibleNslpStudents": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uSAC/latest/actions/get-data-count": {
      "get": {
        "operationId": "uSAC.get-data-count",
        "summary": "Get Data Count",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uSAC/latest/actions/get-data-count"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceId",
            "in": "query",
            "required": true,
            "description": "This is the ID of the dataset, use the List Datasets action to retrieve this.",
            "schema": {
              "type": "string",
              "description": "This is the ID of the dataset, use the List Datasets action to retrieve this."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "description": "Used similar to SQL where. Docs: https://dev.socrata.com/docs/queries/select",
            "schema": {
              "type": "string",
              "description": "Used similar to SQL where. Docs: https://dev.socrata.com/docs/queries/select",
              "default": "count(*)"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uSAC/latest/actions/list-dataset-categories": {
      "get": {
        "operationId": "uSAC.list-dataset-categories",
        "summary": "List Dataset Categories",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uSAC/latest/actions/list-dataset-categories"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "param": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/uSAC/latest/actions/list-datasets": {
      "get": {
        "operationId": "uSAC.list-datasets",
        "summary": "List Datasets",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/uSAC/latest/actions/list-datasets"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "classification": {
                            "type": "object",
                            "properties": {
                              "categories": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "domainCategory": {
                                "type": "string"
                              },
                              "domainMetadata": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "domainTags": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "additionalProperties": false
                          },
                          "creator": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "userType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "link": {
                            "type": "string"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "license": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "userType": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "permalink": {
                            "type": "string"
                          },
                          "resource": {
                            "type": "object",
                            "properties": {
                              "attribution": {
                                "type": "string"
                              },
                              "attributionLink": {
                                "type": "string"
                              },
                              "blobMimeType": {
                                "type": "string"
                              },
                              "columnsDatatype": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "columnsDescription": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "columnsFieldName": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "columnsFormat": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "precision": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "columnsName": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "contactEmail": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dataUpdatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "description": {
                                "type": "string"
                              },
                              "downloadCount": {
                                "type": "number"
                              },
                              "hideFromDataJson": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lensDisplayType": {
                                "type": "string"
                              },
                              "lensViewType": {
                                "type": "string"
                              },
                              "locked": {
                                "type": "boolean"
                              },
                              "metadataUpdatedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "name": {
                                "type": "string"
                              },
                              "pageViews": {
                                "type": "object",
                                "properties": {
                                  "pageViewsLastMonth": {
                                    "type": "number"
                                  },
                                  "pageViewsLastMonthLog": {
                                    "type": "number"
                                  },
                                  "pageViewsLastWeek": {
                                    "type": "number"
                                  },
                                  "pageViewsLastWeekLog": {
                                    "type": "number"
                                  },
                                  "pageViewsTotal": {
                                    "type": "number"
                                  },
                                  "pageViewsTotalLog": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": false
                              },
                              "provenance": {
                                "type": "string"
                              },
                              "publicationDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "resourceName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
