{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "OpenCage Universal API",
    "version": "0.0.4",
    "description": "OpenCage Geocoding API for forward and reverse geocoding using worldwide open data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/openCage/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/openCage/latest/actions/forward-geocode": {
      "get": {
        "operationId": "openCage.forward-geocode",
        "summary": "Forward Geocode",
        "description": "Finds location details in OpenCage by address or place name.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openCage/latest/actions/forward-geocode"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Address, place name, or LOCODE query to geocode. Must be at least two characters.",
            "schema": {
              "type": "string",
              "description": "Address, place name, or LOCODE query to geocode. Must be at least two characters.",
              "example": "Frauenplan 1, 99423 Weimar, Germany"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return for forward geocoding. Defaults to 10 and can be up to 100.",
            "schema": {
              "type": "number",
              "description": "Maximum number of results to return for forward geocoding. Defaults to 10 and can be up to 100.",
              "example": 10
            }
          },
          {
            "name": "countrycode",
            "in": "query",
            "required": false,
            "description": "Optional ISO 3166-1 alpha-2 country code, or comma-separated country codes, to restrict forward geocoding results.",
            "schema": {
              "type": "string",
              "description": "Optional ISO 3166-1 alpha-2 country code, or comma-separated country codes, to restrict forward geocoding results.",
              "example": "de"
            }
          },
          {
            "name": "bounds",
            "in": "query",
            "required": false,
            "description": "Optional bounding box for forward geocoding in min longitude, min latitude, max longitude, max latitude order.",
            "schema": {
              "type": "string",
              "description": "Optional bounding box for forward geocoding in min longitude, min latitude, max longitude, max latitude order.",
              "example": "-0.563160,51.280430,0.278970,51.683979",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Optional language code to favor in returned results, such as `de`, `pt-BR`, or `native`.",
            "schema": {
              "type": "string",
              "description": "Optional language code to favor in returned results, such as `de`, `pt-BR`, or `native`.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "proximity",
            "in": "query",
            "required": false,
            "description": "Optional latitude,longitude hint to bias forward geocoding results toward a location.",
            "schema": {
              "type": "string",
              "description": "Optional latitude,longitude hint to bias forward geocoding results toward a location.",
              "example": "52.5432379,13.4142133",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentation": {
                            "type": "string",
                            "description": "OpenCage API documentation URL returned with the response."
                          },
                          "licenses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Attribution and license metadata for returned geocoding data."
                          },
                          "rate": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Rate-limit details returned for accounts with hard limits."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Forward geocoding result objects, including formatted address, components, bounds, and geometry."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Response status code and message."
                          },
                          "thanks": {
                            "type": "string",
                            "description": "OpenCage thank-you message."
                          },
                          "timestamp": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Response creation timestamp."
                          },
                          "total_results": {
                            "type": "number",
                            "description": "Total number of forward geocoding results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/openCage/latest/actions/reverse-geocode": {
      "get": {
        "operationId": "openCage.reverse-geocode",
        "summary": "Reverse Geocode",
        "description": "Retrieves location details from OpenCage by coordinates.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/openCage/latest/actions/reverse-geocode"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Latitude and longitude in decimal format, in latitude,longitude order.",
            "schema": {
              "type": "string",
              "description": "Latitude and longitude in decimal format, in latitude,longitude order.",
              "example": "52.5432379,13.4142133"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Optional language code to favor in returned results, such as `de`, `pt-BR`, or `native`.",
            "schema": {
              "type": "string",
              "description": "Optional language code to favor in returned results, such as `de`, `pt-BR`, or `native`.",
              "example": "en",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "addressOnly",
            "in": "query",
            "required": false,
            "description": "Optional flag. Set to `1` to include only the address in the formatted string when possible.",
            "schema": {
              "type": "string",
              "description": "Optional flag. Set to `1` to include only the address in the formatted string when possible.",
              "example": "1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "roadinfo",
            "in": "query",
            "required": false,
            "description": "Optional flag. Set to `1` to match the nearest road and include road information when possible.",
            "schema": {
              "type": "string",
              "description": "Optional flag. Set to `1` to match the nearest road and include road information when possible.",
              "example": "1",
              "x-mindcloud-advanced": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "documentation": {
                            "type": "string",
                            "description": "OpenCage API documentation URL returned with the response."
                          },
                          "licenses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Attribution and license metadata for returned geocoding data."
                          },
                          "rate": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Rate-limit details returned for accounts with hard limits."
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "description": "Reverse geocoding result object array. Reverse requests return at most one result and may include distance_from_q."
                          },
                          "status": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Response status code and message."
                          },
                          "thanks": {
                            "type": "string",
                            "description": "OpenCage thank-you message."
                          },
                          "timestamp": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Response creation timestamp."
                          },
                          "total_results": {
                            "type": "number",
                            "description": "Total number of reverse geocoding results."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
