{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "HigherGov Universal API",
    "version": "0.1.5",
    "description": "Access HigherGov government market intelligence data, including opportunities, contract and grant awards, awardees, agencies, documents, people, pursuits, and reference data."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/higherGov/latest/actions/list-agencies": {
      "get": {
        "operationId": "higherGov.list-agencies",
        "summary": "List Agencies",
        "description": "Retrieves agencies from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-agencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Agency key"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agency_abbreviation": {
                            "type": "string",
                            "description": "Agency abbreviation"
                          },
                          "agency_key": {
                            "type": "number",
                            "description": "HigherGov Agency key"
                          },
                          "agency_name": {
                            "type": "string",
                            "description": "Agency name"
                          },
                          "agency_type": {
                            "type": "string",
                            "description": "Agency type"
                          },
                          "defense_flag": {
                            "type": "boolean",
                            "description": "Whether the agency is defense-related"
                          },
                          "path": {
                            "type": "string",
                            "description": "HigherGov path"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-awardee-partnerships": {
      "get": {
        "operationId": "higherGov.list-awardee-partnerships",
        "summary": "List Awardee Partnerships",
        "description": "Retrieves awardee partnerships from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-awardee-partnerships"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awardeeKeyPrime",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the prime recipient",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the prime recipient"
            }
          },
          {
            "name": "awardeeKeyPrimeParent",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the prime recipient parent",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the prime recipient parent"
            }
          },
          {
            "name": "awardeeKeySub",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the subawardee",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the subawardee"
            }
          },
          {
            "name": "awardeeKeySubParent",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the subawardee parent",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the subawardee parent"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "awardee_key_prime": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awardee_key_sub": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "most_recent_date": {
                            "type": "string"
                          },
                          "number_of_awards": {
                            "type": "number"
                          },
                          "relationship_type": {
                            "type": "string"
                          },
                          "total_awards": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-awardees": {
      "get": {
        "operationId": "higherGov.list-awardees",
        "summary": "List Awardees",
        "description": "Retrieves awardees from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-awardees"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awardeeKeyParent",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key at parent level",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key at parent level"
            }
          },
          {
            "name": "cageCode",
            "in": "query",
            "required": false,
            "description": "CAGE code",
            "schema": {
              "type": "string",
              "description": "CAGE code"
            }
          },
          {
            "name": "primaryNaics",
            "in": "query",
            "required": false,
            "description": "Primary registered NAICS code",
            "schema": {
              "type": "string",
              "description": "Primary registered NAICS code"
            }
          },
          {
            "name": "registrationLastUpdateDate",
            "in": "query",
            "required": false,
            "description": "Date the awardee last updated its SAM registration",
            "schema": {
              "type": "string",
              "description": "Date the awardee last updated its SAM registration"
            }
          },
          {
            "name": "uei",
            "in": "query",
            "required": false,
            "description": "Unique Entity ID",
            "schema": {
              "type": "string",
              "description": "Unique Entity ID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "awardee_key": {
                            "type": "number"
                          },
                          "cage_code": {
                            "type": "string"
                          },
                          "clean_name": {
                            "type": "string"
                          },
                          "legal_business_name": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "primary_naics": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "uei": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-contract-vehicles": {
      "get": {
        "operationId": "higherGov.list-contract-vehicles",
        "summary": "List Contract Vehicles",
        "description": "Retrieves contract vehicles from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-contract-vehicles"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Vehicle key",
            "schema": {
              "type": "string",
              "description": "HigherGov Vehicle key"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "award_date": {
                            "type": "string"
                          },
                          "last_date_to_order": {
                            "type": "string"
                          },
                          "naics_code": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "path": {
                            "type": "string"
                          },
                          "psc_code": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "shared_ceiling": {
                            "type": "number"
                          },
                          "vehicle_description": {
                            "type": "string"
                          },
                          "vehicle_key": {
                            "type": "number"
                          },
                          "vehicle_name": {
                            "type": "string"
                          },
                          "vehicle_type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-federal-contracts": {
      "get": {
        "operationId": "higherGov.list-federal-contracts",
        "summary": "List Federal Contracts",
        "description": "Retrieves federal contract awards from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-federal-contracts"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awardeeKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key"
            }
          },
          {
            "name": "awardeeUei",
            "in": "query",
            "required": false,
            "description": "Awardee UEI",
            "schema": {
              "type": "string",
              "description": "Awardee UEI"
            }
          },
          {
            "name": "awardId",
            "in": "query",
            "required": false,
            "description": "Government Award ID",
            "schema": {
              "type": "string",
              "description": "Government Award ID"
            }
          },
          {
            "name": "awardingAgencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Awarding Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Awarding Agency key"
            }
          },
          {
            "name": "fundingAgencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Funding Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Funding Agency key"
            }
          },
          {
            "name": "lastModifiedDate",
            "in": "query",
            "required": false,
            "description": "Last modified date filter in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "description": "Last modified date filter in YYYY-MM-DD format"
            }
          },
          {
            "name": "naicsCode",
            "in": "query",
            "required": false,
            "description": "Award NAICS code",
            "schema": {
              "type": "string",
              "description": "Award NAICS code"
            }
          },
          {
            "name": "pscCode",
            "in": "query",
            "required": false,
            "description": "Product Service Code",
            "schema": {
              "type": "string",
              "description": "Product Service Code"
            }
          },
          {
            "name": "searchId",
            "in": "query",
            "required": false,
            "description": "HigherGov SearchID",
            "schema": {
              "type": "string",
              "description": "HigherGov SearchID"
            }
          },
          {
            "name": "vehicleKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Vehicle key",
            "schema": {
              "type": "string",
              "description": "HigherGov Vehicle key"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "award_description_original": {
                            "type": "string"
                          },
                          "award_id": {
                            "type": "string"
                          },
                          "awardee": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awarding_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "current_total_value_of_award": {
                            "type": "number"
                          },
                          "funding_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "last_modified_date": {
                            "type": "string"
                          },
                          "latest_action_date": {
                            "type": "string"
                          },
                          "parent_award_id": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "total_dollars_obligated": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-federal-grants": {
      "get": {
        "operationId": "higherGov.list-federal-grants",
        "summary": "List Federal Grants",
        "description": "Retrieves federal grant awards from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-federal-grants"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awardeeKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key"
            }
          },
          {
            "name": "awardeeUei",
            "in": "query",
            "required": false,
            "description": "Awardee UEI",
            "schema": {
              "type": "string",
              "description": "Awardee UEI"
            }
          },
          {
            "name": "awardId",
            "in": "query",
            "required": false,
            "description": "Government Award ID",
            "schema": {
              "type": "string",
              "description": "Government Award ID"
            }
          },
          {
            "name": "awardingAgencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Awarding Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Awarding Agency key"
            }
          },
          {
            "name": "cfdaProgramNumber",
            "in": "query",
            "required": false,
            "description": "Grant Program Number (CFDA)",
            "schema": {
              "type": "string",
              "description": "Grant Program Number (CFDA)"
            }
          },
          {
            "name": "fundingAgencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Funding Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Funding Agency key"
            }
          },
          {
            "name": "lastModifiedDate",
            "in": "query",
            "required": false,
            "description": "Last modified date filter in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "description": "Last modified date filter in YYYY-MM-DD format"
            }
          },
          {
            "name": "searchId",
            "in": "query",
            "required": false,
            "description": "HigherGov SearchID",
            "schema": {
              "type": "string",
              "description": "HigherGov SearchID"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "award_description_original": {
                            "type": "string"
                          },
                          "award_id": {
                            "type": "string"
                          },
                          "awardee_key": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awarding_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "federal_action_obligation": {
                            "type": "number"
                          },
                          "funding_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "grant_program": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "last_modified_date": {
                            "type": "string"
                          },
                          "latest_action_date": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "total_obligated_amount": {
                            "type": "number"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-grant-programs": {
      "get": {
        "operationId": "higherGov.list-grant-programs",
        "summary": "List Grant Programs",
        "description": "Retrieves grant programs from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-grant-programs"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Agency key"
            }
          },
          {
            "name": "cfdaProgramNumber",
            "in": "query",
            "required": false,
            "description": "CFDA program number for the grant program",
            "schema": {
              "type": "string",
              "description": "CFDA program number for the grant program"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "cfda_objective": {
                            "type": "string"
                          },
                          "cfda_program_number": {
                            "type": "string"
                          },
                          "date_modified": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "popular_program_title": {
                            "type": "string"
                          },
                          "primary_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "program_title": {
                            "type": "string"
                          },
                          "type_of_assistance": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-idv-awards": {
      "get": {
        "operationId": "higherGov.list-idv-awards",
        "summary": "List IDV Awards",
        "description": "Retrieves federal IDV awards from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-idv-awards"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awardeeKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key"
            }
          },
          {
            "name": "awardeeUei",
            "in": "query",
            "required": false,
            "description": "Awardee UEI",
            "schema": {
              "type": "string",
              "description": "Awardee UEI"
            }
          },
          {
            "name": "awardId",
            "in": "query",
            "required": false,
            "description": "Government Award ID",
            "schema": {
              "type": "string",
              "description": "Government Award ID"
            }
          },
          {
            "name": "awardingAgencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Awarding Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Awarding Agency key"
            }
          },
          {
            "name": "fundingAgencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Funding Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Funding Agency key"
            }
          },
          {
            "name": "lastModifiedDate",
            "in": "query",
            "required": false,
            "description": "Last modified date filter in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "description": "Last modified date filter in YYYY-MM-DD format"
            }
          },
          {
            "name": "naicsCode",
            "in": "query",
            "required": false,
            "description": "Award NAICS code",
            "schema": {
              "type": "string",
              "description": "Award NAICS code"
            }
          },
          {
            "name": "pscCode",
            "in": "query",
            "required": false,
            "description": "Product Service Code",
            "schema": {
              "type": "string",
              "description": "Product Service Code"
            }
          },
          {
            "name": "vehicleKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Vehicle key",
            "schema": {
              "type": "string",
              "description": "HigherGov Vehicle key"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "award_description_original": {
                            "type": "string"
                          },
                          "award_id": {
                            "type": "string"
                          },
                          "awardee_key": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awarding_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "funding_agency": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "last_modified_date": {
                            "type": "string"
                          },
                          "latest_action_date": {
                            "type": "string"
                          },
                          "parent_award_id": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "potential_total_value_of_award": {
                            "type": "number"
                          },
                          "vehicle": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-mentor-protege-relationships": {
      "get": {
        "operationId": "higherGov.list-mentor-protege-relationships",
        "summary": "List Mentor Protege Relationships",
        "description": "Retrieves mentor-protege relationships from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-mentor-protege-relationships"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awardeeKeyMentor",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the mentor",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the mentor"
            }
          },
          {
            "name": "awardeeKeyMentorParent",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the mentor parent",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the mentor parent"
            }
          },
          {
            "name": "awardeeKeyProtege",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the protege",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the protege"
            }
          },
          {
            "name": "awardeeKeyProtegeParent",
            "in": "query",
            "required": false,
            "description": "HigherGov Awardee Key of the protege parent",
            "schema": {
              "type": "string",
              "description": "HigherGov Awardee Key of the protege parent"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active_flag": {
                            "type": "boolean"
                          },
                          "awardee_key_mentor": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awardee_key_mentor_parent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awardee_key_protege": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "awardee_key_protege_parent": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "primary_naics": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-naics-codes": {
      "get": {
        "operationId": "higherGov.list-naics-codes",
        "summary": "List NAICS Codes",
        "description": "Retrieves NAICS codes from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-naics-codes"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "naicsCode",
            "in": "query",
            "required": false,
            "description": "Awards NAICS code",
            "schema": {
              "type": "string",
              "description": "Awards NAICS code"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "naics_code": {
                            "type": "string"
                          },
                          "naics_description": {
                            "type": "string"
                          },
                          "naics_description_long": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-nsns": {
      "get": {
        "operationId": "higherGov.list-nsns",
        "summary": "List NSNs",
        "description": "Retrieves national stock numbers from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-nsns"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cageCode",
            "in": "query",
            "required": false,
            "description": "Supplier CAGE",
            "schema": {
              "type": "string",
              "description": "Supplier CAGE"
            }
          },
          {
            "name": "nsn",
            "in": "query",
            "required": false,
            "description": "National Stock Number",
            "schema": {
              "type": "string",
              "description": "National Stock Number"
            }
          },
          {
            "name": "partNumber",
            "in": "query",
            "required": false,
            "description": "Part number",
            "schema": {
              "type": "string",
              "description": "Part number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of records to skip before returning results.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Fields to sort by, with an optional direction for each field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "awards": {
                            "type": "string"
                          },
                          "fsc": {
                            "type": "string"
                          },
                          "niin": {
                            "type": "string"
                          },
                          "nomenclature": {
                            "type": "string"
                          },
                          "nsn": {
                            "type": "string"
                          },
                          "opp_count": {
                            "type": "number"
                          },
                          "part_numbers": {
                            "type": "string"
                          },
                          "suppliers": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/higherGov/latest/actions/list-opportunities": {
      "get": {
        "operationId": "higherGov.list-opportunities",
        "summary": "List Opportunities",
        "description": "Retrieves government opportunities from HigherGov.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/higherGov/latest/actions/list-opportunities"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agencyKey",
            "in": "query",
            "required": false,
            "description": "HigherGov Agency key",
            "schema": {
              "type": "string",
              "description": "HigherGov Agency key"
            }
          },
          {
            "name": "capturedDate",
            "in": "query",
            "required": false,
            "description": "Date the opportunity was added to HigherGov",
            "schema": {
              "type": "string",
              "description": "Date the opportunity was added to HigherGov"
            }
          },
          {
            "name": "oppKey",
            "in": "query",
            "required": false,
            "description": "HigherGov opportunity key",
            "schema": {
              "type": "string",
              "description": "HigherGov opportunity key"
            }
          },
          {
            "name": "postedDate",
            "in": "query",
            "required": false,
            "description": "Date the opportunity was posted in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "description": "Date the opportunity was posted in YYYY-MM-DD format"
            }
          },
          {
            "name": "searchId",
            "in": "query",
            "required": false,
            "description": "HigherGov SearchID",
            "schema": {
              "type": "string",
              "description": "HigherGov SearchID"
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "required": false,
            "description": "Source opportunity ID",
            "schema": {
              "type": "string",
              "description": "Source opportunity ID"
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "required": false,
            "description": "Opportunity source type (sam, dibbs, sbir, grant, sled)",
            "schema": {
              "type": "string",
              "description": "Opportunity source type (sam, dibbs, sbir, grant, sled)"
            }
          },
          {
            "name": "versionKey",
            "in": "query",
            "required": false,
            "description": "HigherGov opportunity version key",
            "schema": {
              "type": "string",
              "description": "HigherGov opportunity version key"
            }
          },
          {
            "name": "limit",
[...]
