{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Sage Intacct Universal API",
    "version": "1.0.140",
    "description": "Call Sage Intacct actions through MindCloud's Universal API."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/intacct/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/intacct/latest/actions/check-glbatch-duplicate": {
      "get": {
        "operationId": "intacct.check-glbatch-duplicate",
        "summary": "Check GLBATCH Duplicate",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/check-glbatch-duplicate"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payoutId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batchTitleContains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-budget": {
      "post": {
        "operationId": "intacct.create-budget",
        "summary": "Create Budget",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-budget"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "budgetId",
                  "description",
                  "periodName",
                  "budgetItems[]",
                  "budgetItems[].accountNo",
                  "budgetItems[].amount"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "budgetId": {
                    "type": "string",
                    "example": "2019 Annual Plan"
                  },
                  "description": {
                    "type": "string"
                  },
                  "defaultBudget": {
                    "type": "boolean"
                  },
                  "periodName": {
                    "type": "string",
                    "example": "Month Ended January 2019"
                  },
                  "locationNo": {
                    "type": "string"
                  },
                  "departmentNo": {
                    "type": "string"
                  },
                  "budgetItems[]": {
                    "type": "array",
                    "items": {}
                  },
                  "budgetItems[].accountNo": {
                    "type": "string"
                  },
                  "budgetItems[].amount": {
                    "type": "number"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "budgetId": {
                            "type": "string"
                          },
                          "response": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "sageRecordNo": {
                            "type": "number"
                          },
                          "success": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-file": {
      "post": {
        "operationId": "intacct.create-file",
        "summary": "Create File",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-file"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "object",
                  "fields"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "newfields[].fieldName": {
                    "type": "string"
                  },
                  "newfields[].internalFields[].fieldValue": {
                    "type": "string"
                  },
                  "object": {
                    "type": "string",
                    "default": "PROJECT"
                  },
                  "fields": {
                    "type": "string"
                  },
                  "newfields[].fieldValue": {
                    "type": "string"
                  },
                  "newfields[].internalFields[].fieldName": {
                    "type": "string"
                  },
                  "entityID": {
                    "type": "string"
                  },
                  "newfields[].fieldIterator": {
                    "type": "string"
                  },
                  "newfields[].internalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-invoice": {
      "post": {
        "operationId": "intacct.create-invoice",
        "summary": "Create Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "invoiceItems[].amount": {
                    "type": "number"
                  },
                  "invoiceItems[].glAccountNo": {
                    "type": "string"
                  },
                  "dateCreated": {
                    "type": "string",
                    "description": "MM/DD/YYYY"
                  },
                  "invoiceItems[]": {
                    "type": "array",
                    "items": {}
                  },
                  "invoiceItems[].locationId": {
                    "type": "number"
                  },
                  "invoiceItems[].divisionId": {
                    "type": "number"
                  },
                  "invoiceNumber": {
                    "type": "string"
                  },
                  "invoiceItems[].accountLabel": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "string"
                  },
                  "divisionId": {
                    "type": "string"
                  },
                  "invoiceItems[].memo": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "dateDue": {
                    "type": "string",
                    "description": "MM/DD/YYYY"
                  },
                  "description": {
                    "type": "string"
                  },
                  "datePosted": {
                    "type": "string"
                  },
                  "poNumber": {
                    "type": "string"
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {},
                    "description": "[{\ncustomfieldname:\"...\"\ncustomfieldvalue:\"testing\"\n}]"
                  },
                  "supdocId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-item": {
      "post": {
        "operationId": "intacct.create-item",
        "summary": "Create Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-item"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "object",
                  "fieldsjson[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "object": {
                    "type": "string",
                    "default": "APBILL"
                  },
                  "fieldsjson[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-item-2": {
      "post": {
        "operationId": "intacct.create-item-2",
        "summary": "Create Item New",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-item-2"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "object",
                  "fields"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "newfields[].fieldName": {
                    "type": "string"
                  },
                  "newfields[].internalFields[].fieldValue": {
                    "type": "string"
                  },
                  "object": {
                    "type": "string",
                    "default": "PROJECT"
                  },
                  "fields": {
                    "type": "string"
                  },
                  "newfields[].fieldValue": {
                    "type": "string"
                  },
                  "newfields[].internalFields[].fieldName": {
                    "type": "string"
                  },
                  "entityID": {
                    "type": "string"
                  },
                  "newfields[].fieldIterator": {
                    "type": "string"
                  },
                  "newfields[].internalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-sales-invoice": {
      "post": {
        "operationId": "intacct.create-sales-invoice",
        "summary": "Create Sales Invoice",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-sales-invoice"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "customerId": {
                    "type": "string"
                  },
                  "customFields[].name": {
                    "type": "string"
                  },
                  "invoiceItems[].itemId": {
                    "type": "string"
                  },
                  "customFields[].value": {
                    "type": "string"
                  },
                  "dateCreated": {
                    "type": "string"
                  },
                  "invoiceItems[].price": {
                    "type": "number"
                  },
                  "invoiceItems[]": {
                    "type": "array",
                    "items": {}
                  },
                  "documentNumber": {
                    "type": "string"
                  },
                  "invoiceItems[].locationId": {
                    "type": "string"
                  },
                  "invoiceItems[].divisionId": {
                    "type": "string"
                  },
                  "invoiceItems[].quantity": {
                    "type": "number",
                    "default": 1
                  },
                  "message": {
                    "type": "string"
                  },
                  "entityID": {
                    "type": "string"
                  },
                  "invoiceItems[].description": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string",
                    "description": "Draft | Pending | Closed",
                    "default": "Draft"
                  },
                  "referenceNumber": {
                    "type": "string"
                  },
                  "customFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "customerPONumber": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/create-so-transaction": {
      "post": {
        "operationId": "intacct.create-so-transaction",
        "summary": "Create So Transaction",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/create-so-transaction"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "transactiontype",
                  "fields"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "newfields[].fieldName": {
                    "type": "string"
                  },
                  "newfields[].internalFields[].fieldValue": {
                    "type": "string"
                  },
                  "transactiontype": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "string"
                  },
                  "newfields[].fieldValue": {
                    "type": "string"
                  },
                  "newfields[].internalFields[].fieldName": {
                    "type": "string"
                  },
                  "entityID": {
                    "type": "string"
                  },
                  "newfields[].fieldIterator": {
                    "type": "string"
                  },
                  "newfields[].internalFields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "controlid": {
                            "type": "string"
                          },
                          "function": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/createbillitem": {
      "post": {
        "operationId": "intacct.createbillitem",
        "summary": "Create Bill Item",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/createbillitem"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "apbillitems[].accountNo": {
                    "type": "string"
                  },
                  "apbillitems[].taxEntries[].detailId": {
                    "type": "string"
                  },
                  "whenCreated": {
                    "type": "string"
                  },
                  "apbillitems[].accountLabel": {
                    "type": "string"
                  },
                  "apbillitems[].taxEntries[].trx_tax": {
                    "type": "string"
                  },
                  "whenPosted": {
                    "type": "string"
                  },
                  "apbillitems[].offsetGlaAccountNo": {
                    "type": "string"
                  },
                  "vendorId": {
                    "type": "string"
                  },
                  "apbillitems[].trxAmount": {
                    "type": "string"
                  },
                  "recordId": {
                    "type": "string"
                  },
                  "apbillitems[].totalTrxAmount": {
                    "type": "string"
                  },
                  "docNumber": {
                    "type": "string"
                  },
                  "apbillitems[].entryDescription": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "apbillitems[].form1099": {
                    "type": "boolean"
                  },
                  "termName": {
                    "type": "string"
                  },
                  "apbillitems[].form1099Type": {
                    "type": "string"
                  },
                  "recPaymentDate": {
                    "type": "string"
                  },
                  "apbillitems[].form1099Box": {
                    "type": "string"
                  },
                  "supdocid": {
                    "type": "string"
                  },
                  "apbillitems[].billable": {
                    "type": "boolean"
                  },
                  "whenDue": {
                    "type": "string"
                  },
                  "apbillitems[].allocationId": {
                    "type": "string"
                  },
                  "paymentPriority": {
                    "type": "string"
                  },
                  "apbillitems[].departmentId": {
                    "type": "string"
                  },
                  "onHold": {
                    "type": "boolean"
                  },
                  "apbillitems[].projectId": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "apbillitems[].taskId": {
                    "type": "string"
                  },
                  "baseCurr": {
                    "type": "string"
                  },
                  "apbillitems[]": {
                    "type": "array",
                    "items": {}
                  },
                  "apbillitems[].costTypeId": {
                    "type": "string"
                  },
                  "apbillitems[].customerId": {
                    "type": "string"
                  },
                  "apbillitems[].vendorId": {
                    "type": "string"
                  },
                  "apbillitems[].employeeId": {
                    "type": "string"
                  },
                  "apbillitems[].itemId": {
                    "type": "string"
                  },
                  "apbillitems[].classId": {
                    "type": "string"
                  },
                  "apbillitems[].contractId": {
                    "type": "string"
                  },
                  "apbillitems[].warehouseId": {
                    "type": "string"
                  },
                  "apbillitems[].gldim*": {
                    "type": "number"
                  },
                  "apbillitems[].partialExempt": {
                    "type": "boolean"
                  },
                  "apbillitems[].taxEntries[]": {
                    "type": "array",
                    "items": {}
                  },
                  "apbillitems[].locationId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/createjournal": {
      "post": {
        "operationId": "intacct.createjournal",
        "summary": "Create Journal",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/createjournal"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "journal",
                  "batchDate",
                  "batchTitle",
                  "entries[]"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "entries[].department": {
                    "type": "string"
                  },
                  "journal": {
                    "type": "string"
                  },
                  "batchDate": {
                    "type": "string"
                  },
                  "entries[].glaccount": {
                    "type": "string"
                  },
                  "batchTitle": {
                    "type": "string"
                  },
                  "entries[].trType": {
                    "type": "string"
                  },
                  "entries[]": {
                    "type": "array",
                    "items": {}
                  },
                  "entries[].amount": {
                    "type": "number"
                  },
                  "entries[].classID": {
                    "type": "string"
                  },
                  "entries[].location": {
                    "type": "string"
                  },
                  "entries[].itemID": {
                    "type": "string"
                  },
                  "entries[].description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/get-custom-object": {
      "get": {
        "operationId": "intacct.get-custom-object",
        "summary": "Get Custom Object",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/get-custom-object"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "CUSTOMER"
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ACTUALAMOUNT": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ACTUALCOMPLETIONDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ACTUALQTY": {
                            "type": "string"
                          },
                          "ACTUALSTARTDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "APPROVEDQTY": {
                            "type": "string"
                          },
                          "BEGINDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BILLABLEAPPODEFAULT": {
                            "type": "string"
                          },
                          "BILLABLEEXPDEFAULT": {
                            "type": "string"
                          },
                          "BILLINGOVERMAX": {
                            "type": "string"
                          },
                          "BILLINGPRICING": {
                            "type": "string"
                          },
                          "BILLINGRATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BILLINGTYPE": {
                            "type": "string"
                          },
                          "BILLTO": {
                            "type": "object",
                            "properties": {
                              "CONTACTNAME": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "BILLTOKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BUDGETAMOUNT": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BUDGETEDCOST": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BUDGETID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BUDGETKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "BUDGETQTY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CLASSID": {
                            "type": "string"
                          },
                          "CLASSKEY": {
                            "type": "string"
                          },
                          "CLASSNAME": {
                            "type": "string"
                          },
                          "CONTACTINFO": {
                            "type": "object",
                            "properties": {
                              "CONTACTNAME": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "CONTACTKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CONTRACTAMOUNT": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CONTRACTID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CONTRACTKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CREATEDBY": {
                            "type": "string"
                          },
                          "CURRENCY": {
                            "type": "string"
                          },
                          "CUSTOMERID": {
                            "type": "string"
                          },
                          "CUSTOMERKEY": {
                            "type": "string"
                          },
                          "CUSTOMERNAME": {
                            "type": "string"
                          },
                          "CUSTUSERID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "CUSTUSERKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "DEPARTMENTID": {
                            "type": "string"
                          },
                          "DEPARTMENTNAME": {
                            "type": "string"
                          },
                          "DESCRIPTION": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "DOCNUMBER": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ENDDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ESTQTY": {
                            "type": "string"
                          },
                          "EXCLUDEEXPENSES": {
                            "type": "string"
                          },
                          "EXCLUSIONS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "EXECUTEDON": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "EXPENSEPRICING": {
                            "type": "string"
                          },
                          "EXPENSERATE": {
                            "type": "string"
                          },
                          "INCLUSIONS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "INVOICECURRENCY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "INVOICEMESSAGE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "INVOICEWITHPARENT": {
                            "type": "string"
                          },
                          "LOCATIONID": {
                            "type": "string"
                          },
                          "LOCATIONNAME": {
                            "type": "string"
                          },
                          "MANAGERCONTACTNAME": {
                            "type": "string"
                          },
                          "MANAGERID": {
                            "type": "string"
                          },
                          "MANAGERKEY": {
                            "type": "string"
                          },
                          "MAVENLINK_ID": {
                            "type": "string"
                          },
                          "MEGAENTITYID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "MEGAENTITYKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "MEGAENTITYNAME": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "MELOCATIONID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "MELOCATIONKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "MELOCATIONNAME": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "MODIFIEDBY": {
                            "type": "string"
                          },
                          "NAME": {
                            "type": "string"
                          },
                          "NOTICETOPROCEED": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "OAKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "OBSPERCENTCOMPLETE": {
                            "type": "string"
                          },
                          "PARENTID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PARENTKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PARENTNAME": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PERCENTCOMPLETE": {
                            "type": "string"
                          },
                          "PO_NUMBER": {
                            "type": "string"
                          },
                          "POAMOUNT": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "POAPPRICING": {
                            "type": "string"
                          },
                          "POAPRATE": {
                            "type": "string"
                          },
                          "PONUMBER": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "POTAXSCHEDULEID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "POTAXSCHEDULEKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PQNUMBER": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PREVENTAPPO": {
                            "type": "string"
                          },
                          "PREVENTEXPENSE": {
                            "type": "string"
                          },
                          "PREVENTGENINVOICE": {
                            "type": "string"
                          },
                          "PREVENTTIMESHEET": {
                            "type": "string"
                          },
                          "PRODUCT_GROUP": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PRODUCT_TYPE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PROJECT_MANAGER_INITIALS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PROJECTCATEGORY": {
                            "type": "string"
                          },
                          "PROJECTDEPTKEY": {
                            "type": "string"
                          },
                          "PROJECTID": {
                            "type": "string"
                          },
                          "PROJECTLOCATIONKEY": {
                            "type": "string"
                          },
                          "PROJECTSTATUS": {
                            "type": "string"
                          },
                          "PROJECTSTATUSKEY": {
                            "type": "string"
                          },
                          "PROJECTTYPE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "PROJECTTYPEKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "QARROWKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "RECORDNO": {
                            "type": "string"
                          },
                          "RED_NUCLEUS_PROJECT_ID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "REMAININGQTY": {
                            "type": "string"
                          },
                          "REPRESENTATIVE_INITIALS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "RESPONSEDUE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "REVISEDCOMPLETIONDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ROLLUP_PROJ_KEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ROLLUPPROJECTID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ROLLUPPROJECTNAME": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "ROOTPARENTID": {
                            "type": "string"
                          },
                          "ROOTPARENTKEY": {
                            "type": "string"
                          },
                          "ROOTPARENTNAME": {
                            "type": "string"
                          },
                          "SALESCONTACTID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SALESCONTACTKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SALESCONTACTNAME": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SCHEDULEDCOMPLETIONDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SCHEDULEIMPACT": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SCHEDULESTARTDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SCOPE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SECONDARY_THERAPEUTIC_AREA": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SFDCKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SHIPTO": {
                            "type": "object",
                            "properties": {
                              "CONTACTNAME": {
                                "type": "object",
                                "additionalProperties": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "SHIPTOKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SONUMBER": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "STATUS": {
                            "type": "string"
                          },
                          "SUBSTANTIALCOMPLETIONDATE": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SUPDOCID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "SUPDOCKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "TAXSOLUTIONID": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "TERMNAME": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "TERMS": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "TERMSKEY": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "THERAPEUTIC_AREA": {
                            "type": "string"
                          },
                          "USERRESTRICTIONS": {
                            "type": "string"
                          },
                          "WHENCREATED": {
                            "type": "string"
                          },
                          "WHENMODIFIED": {
                            "type": "string"
                          },
                          "WIPEXCLUDE": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/intacct/latest/actions/get-fields": {
      "get": {
        "operationId": "intacct.get-fields",
        "summary": "Get Fields for Object",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/intacct/latest/actions/get-fields"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "{   \"readByQuery\": {     \"object\": \"PROJECT\",     \"fields\": \"*\",     \"query\": \"RECORDNO > 0\",     \"pagesize\": 10   } }"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
[...]
