{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "SavvyCal Universal API",
    "version": "0.0.6",
    "description": "Schedule meetings, manage booking links, webhooks, and workflows"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/savvyCal/latest/actions/cancel-event": {
      "put": {
        "operationId": "savvyCal.cancel-event",
        "summary": "Cancel Event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/cancel-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "eventId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "eventId": {
                    "type": "string"
                  },
                  "cancelReason": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string",
                            "description": "Additional event information."
                          },
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string",
                                  "description": "Attendee display name."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Attendee email address."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Attendee identifier."
                                },
                                "isOrganizer": {
                                  "type": "boolean",
                                  "description": "Whether the attendee is the organizer."
                                },
                                "responseStatus": {
                                  "type": "string",
                                  "description": "Attendee response status."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bufferAfter": {
                            "type": "number",
                            "description": "Buffer time after the event."
                          },
                          "bufferBefore": {
                            "type": "number",
                            "description": "Buffer time before the event."
                          },
                          "conferencing": {
                            "type": "object",
                            "properties": {
                              "joinUrl": {
                                "type": "string",
                                "description": "Conferencing join URL."
                              },
                              "meetingId": {
                                "type": "string",
                                "description": "Conferencing meeting identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Conferencing provider type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the event was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Event description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Event duration in minutes."
                          },
                          "endAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event end time."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique event identifier."
                          },
                          "isGroupSession": {
                            "type": "boolean",
                            "description": "Whether the event is a group session."
                          },
                          "link": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated link identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated link name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated link slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "location": {
                            "type": "string",
                            "description": "Location description."
                          },
                          "maximumGroupSize": {
                            "type": "number",
                            "description": "Maximum group size."
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Organizer display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Organizer email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Organizer identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "amountTotal": {
                                "type": "number",
                                "description": "Total payment amount."
                              },
                              "state": {
                                "type": "string",
                                "description": "Payment state."
                              }
                            },
                            "additionalProperties": false
                          },
                          "scheduler": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Scheduler display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Scheduler email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Scheduler identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "startAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event start time."
                          },
                          "state": {
                            "type": "string",
                            "description": "Current event state."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Event title or summary."
                          },
                          "url": {
                            "type": "string",
                            "description": "Public event URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/create-event": {
      "post": {
        "operationId": "savvyCal.create-event",
        "summary": "Create Event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/create-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "linkId",
                  "displayName",
                  "email",
                  "startAt",
                  "endAt",
                  "timeZone"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "linkId": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "startAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "timeZone": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "fields[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string",
                            "description": "Additional event information."
                          },
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string",
                                  "description": "Attendee display name."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Attendee email address."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Attendee identifier."
                                },
                                "isOrganizer": {
                                  "type": "boolean",
                                  "description": "Whether the attendee is the organizer."
                                },
                                "responseStatus": {
                                  "type": "string",
                                  "description": "Attendee response status."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bufferAfter": {
                            "type": "number",
                            "description": "Buffer time after the event."
                          },
                          "bufferBefore": {
                            "type": "number",
                            "description": "Buffer time before the event."
                          },
                          "conferencing": {
                            "type": "object",
                            "properties": {
                              "joinUrl": {
                                "type": "string",
                                "description": "Conferencing join URL."
                              },
                              "meetingId": {
                                "type": "string",
                                "description": "Conferencing meeting identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Conferencing provider type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the event was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Event description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Event duration in minutes."
                          },
                          "endAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event end time."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique event identifier."
                          },
                          "isGroupSession": {
                            "type": "boolean",
                            "description": "Whether the event is a group session."
                          },
                          "link": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated link identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated link name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated link slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "location": {
                            "type": "string",
                            "description": "Location description."
                          },
                          "maximumGroupSize": {
                            "type": "number",
                            "description": "Maximum group size."
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Organizer display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Organizer email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Organizer identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "amountTotal": {
                                "type": "number",
                                "description": "Total payment amount."
                              },
                              "state": {
                                "type": "string",
                                "description": "Payment state."
                              }
                            },
                            "additionalProperties": false
                          },
                          "scheduler": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Scheduler display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Scheduler email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Scheduler identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "startAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event start time."
                          },
                          "state": {
                            "type": "string",
                            "description": "Current event state."
                          },
                          "summary": {
                            "type": "string",
                            "description": "Event title or summary."
                          },
                          "url": {
                            "type": "string",
                            "description": "Public event URL."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/create-personal-scheduling-link": {
      "post": {
        "operationId": "savvyCal.create-personal-scheduling-link",
        "summary": "Create Personal Scheduling Link",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/create-personal-scheduling-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "privateName": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defaultDuration": {
                            "type": "number",
                            "description": "Default meeting duration in minutes."
                          },
                          "description": {
                            "type": "string",
                            "description": "Link description."
                          },
                          "durations": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "description": "Available meeting durations in minutes."
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Custom field identifier."
                                },
                                "isRequired": {
                                  "type": "boolean",
                                  "description": "Whether the custom field is required."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Custom field label."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Custom field type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique scheduling link identifier."
                          },
                          "increment": {
                            "type": "number",
                            "description": "Scheduling increment in minutes."
                          },
                          "name": {
                            "type": "string",
                            "description": "Public link name."
                          },
                          "privateName": {
                            "type": "string",
                            "description": "Private link name."
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "slug": {
                            "type": "string",
                            "description": "Scheduling link slug."
                          },
                          "state": {
                            "type": "string",
                            "description": "Scheduling link state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/create-scope-scheduling-link": {
      "post": {
        "operationId": "savvyCal.create-scope-scheduling-link",
        "summary": "Create Scope Scheduling Link",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/create-scope-scheduling-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "scopeSlug",
                  "name"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "scopeSlug": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "privateName": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defaultDuration": {
                            "type": "number",
                            "description": "Default meeting duration in minutes."
                          },
                          "description": {
                            "type": "string",
                            "description": "Link description."
                          },
                          "durations": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "description": "Available meeting durations in minutes."
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Custom field identifier."
                                },
                                "isRequired": {
                                  "type": "boolean",
                                  "description": "Whether the custom field is required."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Custom field label."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Custom field type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique scheduling link identifier."
                          },
                          "increment": {
                            "type": "number",
                            "description": "Scheduling increment in minutes."
                          },
                          "name": {
                            "type": "string",
                            "description": "Public link name."
                          },
                          "privateName": {
                            "type": "string",
                            "description": "Private link name."
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "slug": {
                            "type": "string",
                            "description": "Scheduling link slug."
                          },
                          "state": {
                            "type": "string",
                            "description": "Scheduling link state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/create-webhook": {
      "post": {
        "operationId": "savvyCal.create-webhook",
        "summary": "Create Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/create-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "url"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the webhook was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique webhook identifier."
                          },
                          "secret": {
                            "type": "string",
                            "description": "Webhook signing secret."
                          },
                          "state": {
                            "type": "string",
                            "description": "Webhook state."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook endpoint URL."
                          },
                          "version": {
                            "type": "string",
                            "description": "Webhook payload version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/delete-scheduling-link": {
      "delete": {
        "operationId": "savvyCal.delete-scheduling-link",
        "summary": "Delete Scheduling Link",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/delete-scheduling-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defaultDuration": {
                            "type": "number",
                            "description": "Default meeting duration in minutes."
                          },
                          "description": {
                            "type": "string",
                            "description": "Link description."
                          },
                          "durations": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "description": "Available meeting durations in minutes."
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Custom field identifier."
                                },
                                "isRequired": {
                                  "type": "boolean",
                                  "description": "Whether the custom field is required."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Custom field label."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Custom field type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique scheduling link identifier."
                          },
                          "increment": {
                            "type": "number",
                            "description": "Scheduling increment in minutes."
                          },
                          "name": {
                            "type": "string",
                            "description": "Public link name."
                          },
                          "privateName": {
                            "type": "string",
                            "description": "Private link name."
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "slug": {
                            "type": "string",
                            "description": "Scheduling link slug."
                          },
                          "state": {
                            "type": "string",
                            "description": "Scheduling link state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/delete-webhook": {
      "delete": {
        "operationId": "savvyCal.delete-webhook",
        "summary": "Delete Webhook",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/delete-webhook"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the webhook was created."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique webhook identifier."
                          },
                          "secret": {
                            "type": "string",
                            "description": "Webhook signing secret."
                          },
                          "state": {
                            "type": "string",
                            "description": "Webhook state."
                          },
                          "url": {
                            "type": "string",
                            "description": "Webhook endpoint URL."
                          },
                          "version": {
                            "type": "string",
                            "description": "Webhook payload version."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/duplicate-scheduling-link": {
      "post": {
        "operationId": "savvyCal.duplicate-scheduling-link",
        "summary": "Duplicate Scheduling Link",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/duplicate-scheduling-link"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "linkId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "linkId": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defaultDuration": {
                            "type": "number",
                            "description": "Default meeting duration in minutes."
                          },
                          "description": {
                            "type": "string",
                            "description": "Link description."
                          },
                          "durations": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "description": "Available meeting durations in minutes."
                            }
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Custom field identifier."
                                },
                                "isRequired": {
                                  "type": "boolean",
                                  "description": "Whether the custom field is required."
                                },
                                "label": {
                                  "type": "string",
                                  "description": "Custom field label."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Custom field type."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique scheduling link identifier."
                          },
                          "increment": {
                            "type": "number",
                            "description": "Scheduling increment in minutes."
                          },
                          "name": {
                            "type": "string",
                            "description": "Public link name."
                          },
                          "privateName": {
                            "type": "string",
                            "description": "Private link name."
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "slug": {
                            "type": "string",
                            "description": "Scheduling link slug."
                          },
                          "state": {
                            "type": "string",
                            "description": "Scheduling link state."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/get-current-user": {
      "get": {
        "operationId": "savvyCal.get-current-user",
        "summary": "Get Current User",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/get-current-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatarUrl": {
                            "type": "string",
                            "description": "Avatar image URL."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "User display name."
                          },
                          "email": {
                            "type": "string",
                            "description": "User email address."
                          },
                          "firstDayOfWeek": {
                            "type": "number",
                            "description": "Index of the user's first day of the week."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "User first name."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique SavvyCal user identifier."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "User last name."
                          },
                          "plan": {
                            "type": "string",
                            "description": "Subscription plan."
                          },
                          "timeFormat": {
                            "type": "string",
                            "description": "Preferred time format."
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "User time zone identifier."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/savvyCal/latest/actions/get-event": {
      "get": {
        "operationId": "savvyCal.get-event",
        "summary": "Get Event",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/savvyCal/latest/actions/get-event"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalInfo": {
                            "type": "string",
                            "description": "Additional event information."
                          },
                          "attendees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string",
                                  "description": "Attendee display name."
                                },
                                "email": {
                                  "type": "string",
                                  "description": "Attendee email address."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Attendee identifier."
                                },
                                "isOrganizer": {
                                  "type": "boolean",
                                  "description": "Whether the attendee is the organizer."
                                },
                                "responseStatus": {
                                  "type": "string",
                                  "description": "Attendee response status."
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "bufferAfter": {
                            "type": "number",
                            "description": "Buffer time after the event."
                          },
                          "bufferBefore": {
                            "type": "number",
                            "description": "Buffer time before the event."
                          },
                          "conferencing": {
                            "type": "object",
                            "properties": {
                              "joinUrl": {
                                "type": "string",
                                "description": "Conferencing join URL."
                              },
                              "meetingId": {
                                "type": "string",
                                "description": "Conferencing meeting identifier."
                              },
                              "type": {
                                "type": "string",
                                "description": "Conferencing provider type."
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the event was created."
                          },
                          "description": {
                            "type": "string",
                            "description": "Event description."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Event duration in minutes."
                          },
                          "endAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Event end time."
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique event identifier."
                          },
                          "isGroupSession": {
                            "type": "boolean",
                            "description": "Whether the event is a group session."
                          },
                          "link": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated link identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated link name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated link slug."
                              }
                            },
                            "additionalProperties": false
                          },
                          "location": {
                            "type": "string",
                            "description": "Location description."
                          },
                          "maximumGroupSize": {
                            "type": "number",
                            "description": "Maximum group size."
                          },
                          "organizer": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Organizer display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Organizer email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Organizer identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "amountTotal": {
                                "type": "number",
                                "description": "Total payment amount."
                              },
                              "state": {
                                "type": "string",
                                "description": "Payment state."
                              }
                            },
                            "additionalProperties": false
                          },
                          "scheduler": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string",
                                "description": "Scheduler display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Scheduler email address."
                              },
                              "id": {
                                "type": "string",
                                "description": "Scheduler identifier."
                              }
                            },
                            "additionalProperties": false
                          },
                          "scope": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Associated scope identifier."
                              },
                              "name": {
                                "type": "string",
                                "description": "Associated scope name."
                              },
                              "slug": {
                                "type": "string",
                                "description": "Associated scope slug."
[...]
