{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Kylas CRM Universal API",
    "version": "0.0.5",
    "description": "Manage contacts, tasks, meetings, users, notes, pipelines, and CRM configuration in Kylas."
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/kylasCRM/latest/actions/add-currencies": {
      "post": {
        "operationId": "kylasCRM.add-currencies",
        "summary": "Add Currencies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/add-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the currency is active."
                          },
                          "baseCurrency": {
                            "type": "boolean",
                            "description": "Whether this is the tenant base currency."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "UTC timestamp when the currency was created."
                          },
                          "currencyValueId": {
                            "type": "number",
                            "description": "Kylas master currency value ID."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Human-readable currency name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kylas currency record ID."
                          },
                          "name": {
                            "type": "string",
                            "description": "ISO currency code."
                          },
                          "tenantId": {
                            "type": "number",
                            "description": "Tenant ID that owns the currency record."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "UTC timestamp when the currency was last updated."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/check-lead-duplicates": {
      "get": {
        "operationId": "kylasCRM.check-lead-duplicates",
        "summary": "Check Lead Duplicates",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/check-lead-duplicates"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": false,
            "description": "The Kylas lead ID.",
            "schema": {
              "type": "string",
              "description": "The Kylas lead ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hasDuplicate": {
                            "type": "boolean",
                            "description": "Whether the lead has duplicates."
                          },
                          "message": {
                            "type": "string",
                            "description": "Optional message from Kylas about duplicate evaluation."
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional metadata for duplicate records."
                          },
                          "records": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Duplicate lead records payload, when duplicates are present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/create-contact": {
      "post": {
        "operationId": "kylasCRM.create-contact",
        "summary": "Create Contact",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/create-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "UTC timestamp when the contact was created."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "User ID that created the contact."
                          },
                          "createdViaId": {
                            "type": "string",
                            "description": "Identifier for the source that created the contact."
                          },
                          "createdViaName": {
                            "type": "string",
                            "description": "Display name of the source that created the contact."
                          },
                          "createdViaType": {
                            "type": "string",
                            "description": "Type of the source that created the contact."
                          },
                          "dnd": {
                            "type": "boolean",
                            "description": "Whether the contact is marked do-not-disturb."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kylas contact ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name."
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional Kylas metadata for related display names."
                          },
                          "ownerId": {
                            "type": "number",
                            "description": "Owner user ID for the contact."
                          },
                          "recordActions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Action permissions available on this contact record."
                          },
                          "score": {
                            "type": "number",
                            "description": "Kylas contact score."
                          },
                          "stakeholder": {
                            "type": "boolean",
                            "description": "Whether the contact is marked as a stakeholder."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "UTC timestamp when the contact was last updated."
                          },
                          "updatedBy": {
                            "type": "number",
                            "description": "User ID that last updated the contact."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/create-lead": {
      "post": {
        "operationId": "kylasCRM.create-lead",
        "summary": "Create Lead",
        "description": "Creates a new lead in Kylas CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/create-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aging": {
                            "type": "number",
                            "description": "Lead aging value reported by Kylas."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "UTC timestamp when the lead was created."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "User ID that created the lead."
                          },
                          "createdViaId": {
                            "type": "string",
                            "description": "Identifier for the source that created the lead."
                          },
                          "createdViaName": {
                            "type": "string",
                            "description": "Display name of the source that created the lead."
                          },
                          "createdViaType": {
                            "type": "string",
                            "description": "Type of the source that created the lead."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kylas lead ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Lead last name."
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional Kylas metadata for related display names."
                          },
                          "ownerId": {
                            "type": "number",
                            "description": "Owner user ID for the lead."
                          },
                          "recordActions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Action permissions available on this lead record."
                          },
                          "score": {
                            "type": "number",
                            "description": "Kylas lead score."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "UTC timestamp when the lead was last updated."
                          },
                          "updatedBy": {
                            "type": "number",
                            "description": "User ID that last updated the lead."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/delete-contact": {
      "delete": {
        "operationId": "kylasCRM.delete-contact",
        "summary": "Delete Contact",
        "description": "Deletes an existing contact from Kylas CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/delete-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": false,
            "description": "The Kylas contact ID.",
            "schema": {
              "type": "string",
              "description": "The Kylas contact ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseBody": {
                            "type": "string",
                            "description": "Kylas returns an empty response body on successful contact deletion."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/delete-lead": {
      "delete": {
        "operationId": "kylasCRM.delete-lead",
        "summary": "Delete Lead",
        "description": "Deletes an existing lead from Kylas CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/delete-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": false,
            "description": "The Kylas lead ID.",
            "schema": {
              "type": "string",
              "description": "The Kylas lead ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseBody": {
                            "type": "string",
                            "description": "Kylas returns an empty response body on successful lead deletion."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/get-contact": {
      "get": {
        "operationId": "kylasCRM.get-contact",
        "summary": "Get Contact",
        "description": "Retrieves a contact from Kylas CRM by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/get-contact"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "required": false,
            "description": "The Kylas contact ID.",
            "schema": {
              "type": "string",
              "description": "The Kylas contact ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "description": "UTC timestamp when the contact was created."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "User ID that created the contact."
                          },
                          "createdViaId": {
                            "type": "string",
                            "description": "Identifier for the source that created the contact."
                          },
                          "createdViaName": {
                            "type": "string",
                            "description": "Display name of the source that created the contact."
                          },
                          "createdViaType": {
                            "type": "string",
                            "description": "Type of the source that created the contact."
                          },
                          "dnd": {
                            "type": "boolean",
                            "description": "Whether the contact is marked do-not-disturb."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kylas contact ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Contact last name."
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional Kylas metadata for related display names."
                          },
                          "ownerId": {
                            "type": "number",
                            "description": "Owner user ID for the contact."
                          },
                          "recordActions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Action permissions available on this contact record."
                          },
                          "score": {
                            "type": "number",
                            "description": "Kylas contact score."
                          },
                          "stakeholder": {
                            "type": "boolean",
                            "description": "Whether the contact is marked as a stakeholder."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "UTC timestamp when the contact was last updated."
                          },
                          "updatedBy": {
                            "type": "number",
                            "description": "User ID that last updated the contact."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/get-contact-layout": {
      "get": {
        "operationId": "kylasCRM.get-contact-layout",
        "summary": "Get Contact Layout",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/get-contact-layout"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the layout is active."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the layout is the default layout."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Human-readable layout name."
                          },
                          "entity": {
                            "type": "string",
                            "description": "Kylas entity type for this layout."
                          },
                          "id": {
                            "type": "number",
                            "description": "Layout ID."
                          },
                          "layoutActions": {
                            "type": "array",
                            "items": {},
                            "description": "Available layout actions."
                          },
                          "layoutHeader": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Header configuration for the layout."
                          },
                          "layoutItems": {
                            "type": "array",
                            "items": {},
                            "description": "Layout sections and field definitions for the contact editor."
                          },
                          "mode": {
                            "type": "string",
                            "description": "Layout mode, such as EDIT."
                          },
                          "name": {
                            "type": "string",
                            "description": "Internal layout name."
                          },
                          "showOnlyImportantField": {
                            "type": "boolean",
                            "description": "Whether only important fields should be shown."
                          },
                          "systemDefault": {
                            "type": "boolean",
                            "description": "Whether the layout is the system default."
                          },
                          "tenantId": {
                            "type": "number",
                            "description": "Tenant ID that owns the layout."
                          },
                          "userId": {
                            "type": "number",
                            "description": "User ID used to resolve the layout."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/get-lead": {
      "get": {
        "operationId": "kylasCRM.get-lead",
        "summary": "Get Lead",
        "description": "Retrieves a lead from Kylas CRM by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/get-lead"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": false,
            "description": "The Kylas lead ID.",
            "schema": {
              "type": "string",
              "description": "The Kylas lead ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aging": {
                            "type": "number",
                            "description": "Lead aging value reported by Kylas."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "UTC timestamp when the lead was created."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "User ID that created the lead."
                          },
                          "createdViaId": {
                            "type": "string",
                            "description": "Identifier for the source that created the lead."
                          },
                          "createdViaName": {
                            "type": "string",
                            "description": "Display name of the source that created the lead."
                          },
                          "createdViaType": {
                            "type": "string",
                            "description": "Type of the source that created the lead."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kylas lead ID."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Lead last name."
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional Kylas metadata for related display names."
                          },
                          "ownerId": {
                            "type": "number",
                            "description": "Owner user ID for the lead."
                          },
                          "recordActions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Action permissions available on this lead record."
                          },
                          "score": {
                            "type": "number",
                            "description": "Kylas lead score."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "UTC timestamp when the lead was last updated."
                          },
                          "updatedBy": {
                            "type": "number",
                            "description": "User ID that last updated the lead."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/get-lead-layout": {
      "get": {
        "operationId": "kylasCRM.get-lead-layout",
        "summary": "Get Lead Layout",
        "description": "Retrieves lead form fields from Kylas CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/get-lead-layout"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the layout is active."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the layout is the default layout."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Human-readable layout name."
                          },
                          "entity": {
                            "type": "string",
                            "description": "Kylas entity type for this layout."
                          },
                          "id": {
                            "type": "number",
                            "description": "Layout ID."
                          },
                          "layoutActions": {
                            "type": "array",
                            "items": {},
                            "description": "Available layout actions."
                          },
                          "layoutHeader": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Header configuration for the layout."
                          },
                          "layoutItems": {
                            "type": "array",
                            "items": {},
                            "description": "Layout sections and field definitions for lead creation."
                          },
                          "mode": {
                            "type": "string",
                            "description": "Layout mode, such as CREATE."
                          },
                          "name": {
                            "type": "string",
                            "description": "Internal layout name."
                          },
                          "showOnlyImportantField": {
                            "type": "boolean",
                            "description": "Whether only important fields should be shown."
                          },
                          "systemDefault": {
                            "type": "boolean",
                            "description": "Whether the layout is the system default."
                          },
                          "tenantId": {
                            "type": "number",
                            "description": "Tenant ID that owns the layout."
                          },
                          "userId": {
                            "type": "number",
                            "description": "User ID used to resolve the layout."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/get-task-create-layout": {
      "get": {
        "operationId": "kylasCRM.get-task-create-layout",
        "summary": "Get Task Create Layout",
        "description": "Retrieves task form fields from Kylas CRM.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/get-task-create-layout"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the layout is active."
                          },
                          "default": {
                            "type": "boolean",
                            "description": "Whether the layout is the default layout."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Human-readable layout name."
                          },
                          "entity": {
                            "type": "string",
                            "description": "Kylas entity type for this layout."
                          },
                          "id": {
                            "type": "number",
                            "description": "Layout ID."
                          },
                          "layoutActions": {
                            "type": "array",
                            "items": {},
                            "description": "Available layout actions."
                          },
                          "layoutHeader": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Header configuration for the layout."
                          },
                          "layoutItems": {
                            "type": "array",
                            "items": {},
                            "description": "Layout sections and field definitions for task creation."
                          },
                          "mode": {
                            "type": "string",
                            "description": "Layout mode, such as CREATE."
                          },
                          "name": {
                            "type": "string",
                            "description": "Internal layout name."
                          },
                          "showOnlyImportantField": {
                            "type": "boolean",
                            "description": "Whether only important fields should be shown."
                          },
                          "systemDefault": {
                            "type": "boolean",
                            "description": "Whether the layout is the system default."
                          },
                          "tenantId": {
                            "type": "number",
                            "description": "Tenant ID that owns the layout."
                          },
                          "userId": {
                            "type": "number",
                            "description": "User ID used to resolve the layout."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/get-user": {
      "get": {
        "operationId": "kylasCRM.get-user",
        "summary": "Get User",
        "description": "Retrieves a user from Kylas CRM by ID.",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/get-user"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "The Kylas user ID.",
            "schema": {
              "type": "string",
              "description": "The Kylas user ID."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "boolean",
                            "description": "Whether the user is active."
                          },
                          "confirmationTokenSentAt": {
                            "type": "string",
                            "description": "Timestamp when the confirmation token was sent."
                          },
                          "confirmedAt": {
                            "type": "string",
                            "description": "Timestamp when the user was confirmed."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "UTC timestamp when the user was created."
                          },
                          "createdBy": {
                            "type": "number",
                            "description": "User ID that created the user."
                          },
                          "currency": {
                            "type": "string",
                            "description": "Preferred currency code."
                          },
                          "customFieldValues": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Custom field values for the user."
                          },
                          "dateFormat": {
                            "type": "string",
                            "description": "Preferred date format."
                          },
                          "deactivatedReason": {
                            "type": "string",
                            "description": "Reason the user was deactivated."
                          },
                          "department": {
                            "type": "string",
                            "description": "Department name."
                          },
                          "designation": {
                            "type": "string",
                            "description": "User designation."
                          },
                          "email": {
                            "type": "string",
                            "description": "Primary email address."
                          },
                          "emailVerified": {
                            "type": "boolean",
                            "description": "Whether the user's email is verified."
                          },
                          "failedAttempts": {
                            "type": "number",
                            "description": "Failed login attempt count."
                          },
                          "firstName": {
                            "type": "string",
                            "description": "User first name."
                          },
                          "id": {
                            "type": "number",
                            "description": "Kylas user ID."
                          },
                          "language": {
                            "type": "string",
                            "description": "Configured language code."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "User last name."
                          },
                          "locked": {
                            "type": "boolean",
                            "description": "Whether the user is locked."
                          },
                          "lockedAt": {
                            "type": "string",
                            "description": "Timestamp when the user was locked."
                          },
                          "metaData": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Additional Kylas metadata for related display names."
                          },
                          "name": {
                            "type": "string",
                            "description": "Full display name."
                          },
                          "ownerId": {
                            "type": "number",
                            "description": "Owner user ID for the user."
                          },
                          "permissions": {
                            "type": "array",
                            "items": {},
                            "description": "Permissions assigned to the user."
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {},
                            "description": "Phone numbers associated with the user."
                          },
                          "profileId": {
                            "type": "number",
                            "description": "Kylas profile ID."
                          },
                          "recordActions": {
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Action permissions available on this user record."
                          },
                          "resetPasswordTokenSentAt": {
                            "type": "string",
                            "description": "Timestamp when the reset password token was sent."
                          },
                          "salutation": {
                            "type": "string",
                            "description": "User salutation."
                          },
                          "signature": {
                            "type": "string",
                            "description": "Email signature or profile signature text."
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Configured timezone."
                          },
                          "title": {
                            "type": "string",
                            "description": "User title."
                          },
                          "unlockTokenSentAt": {
                            "type": "string",
                            "description": "Timestamp when the unlock token was sent."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "UTC timestamp when the user was last updated."
                          },
                          "updatedBy": {
                            "type": "number",
                            "description": "User ID that last updated the user."
                          },
                          "updatedEmail": {
                            "type": "string",
                            "description": "Pending updated email, if present."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/kylasCRM/latest/actions/list-active-currencies": {
      "get": {
        "operationId": "kylasCRM.list-active-currencies",
        "summary": "List Active Currencies",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/kylasCRM/latest/actions/list-active-currencies"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
[...]
