{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Pabbly Email Verification Universal API",
    "version": "0.0.2",
    "description": "Verify email addresses and inspect deliverability signals"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/pabblyEmailVerification/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/pabblyEmailVerification/latest/actions/verify-single-email": {
      "get": {
        "operationId": "pabblyEmailVerification.verify-single-email",
        "summary": "Verify Single Email",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/pabblyEmailVerification/latest/actions/verify-single-email"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to verify.",
            "schema": {
              "type": "string",
              "description": "Email address to verify.",
              "example": "johnfabric@example.com"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "object",
                            "properties": {
                              "accept_all": {
                                "type": "number",
                                "description": "Whether the domain accepts all mail, returned as 0 or 1."
                              },
                              "disposable": {
                                "type": "number",
                                "description": "Whether the email is disposable, returned as 0 or 1."
                              },
                              "domain": {
                                "type": "string",
                                "description": "Domain part of the email address."
                              },
                              "email": {
                                "type": "string",
                                "description": "Email address that was verified."
                              },
                              "free_email": {
                                "type": "number",
                                "description": "Whether the address is a free email provider address, returned as 0 or 1."
                              },
                              "message": {
                                "type": "string",
                                "description": "Detailed result message."
                              },
                              "result": {
                                "type": "string",
                                "description": "Verification result for the email address."
                              },
                              "role": {
                                "type": "number",
                                "description": "Whether the email is role-based, returned as 0 or 1."
                              },
                              "spamtrap": {
                                "type": "number",
                                "description": "Whether the email is detected as a spam trap, returned as 0 or 1."
                              },
                              "success": {
                                "type": "boolean",
                                "description": "Whether validation succeeded."
                              },
                              "user": {
                                "type": "string",
                                "description": "Mailbox/user part of the email address."
                              }
                            },
                            "additionalProperties": false
                          },
                          "message": {
                            "type": "string",
                            "description": "Top-level response message."
                          },
                          "status": {
                            "type": "string",
                            "description": "Top-level request status."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A MindCloud API key."
      }
    }
  }
}
