{
  "openapi": "3.1.2",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Cin7 Core Universal API",
    "version": "0.0.17",
    "description": "Cin7 Core Inventory API is part of Cin7 Core Inventory web application at https://inventory.dearsystems.com"
  },
  "servers": [
    {
      "url": "https://connect.mindcloud.co"
    }
  ],
  "externalDocs": {
    "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/universal/cin7core/latest/actions/create-carrier": {
      "post": {
        "operationId": "cin7core.create-carrier",
        "summary": "Create Carrier",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest/actions/create-carrier"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "Description"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "Description": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cin7core/latest/actions/create-sale-fulfillment-pack": {
      "post": {
        "operationId": "cin7core.create-sale-fulfillment-pack",
        "summary": "Create Sale Fulfillment Pack",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest/actions/create-sale-fulfillment-pack"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "status",
                  "taskID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "lines[].productID": {
                    "type": "string"
                  },
                  "lines[].sKU": {
                    "type": "string"
                  },
                  "lines[].name": {
                    "type": "string"
                  },
                  "lines[].location": {
                    "type": "string"
                  },
                  "lines[].locationID": {
                    "type": "string"
                  },
                  "lines[].box": {
                    "type": "string"
                  },
                  "lines[].quantity": {
                    "type": "number"
                  },
                  "lines[].batchSN": {
                    "type": "string"
                  },
                  "lines[].expiryDate": {
                    "type": "string"
                  },
                  "lines[].warrantyRegistrationNumber": {
                    "type": "string"
                  },
                  "lines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "status": {
                    "type": "string"
                  },
                  "taskID": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cin7core/latest/actions/create-sale-fulfillment-pick": {
      "post": {
        "operationId": "cin7core.create-sale-fulfillment-pick",
        "summary": "Create Sale Fulfillment Pick",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest/actions/create-sale-fulfillment-pick"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "status",
                  "taskID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "lines[].productID": {
                    "type": "string"
                  },
                  "lines[].sKU": {
                    "type": "string"
                  },
                  "lines[].name": {
                    "type": "string"
                  },
                  "lines[].location": {
                    "type": "string"
                  },
                  "lines[].locationID": {
                    "type": "string"
                  },
                  "lines[].quantity": {
                    "type": "number"
                  },
                  "lines[].batchSN": {
                    "type": "string"
                  },
                  "lines[].expiryDate": {
                    "type": "string"
                  },
                  "lines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "status": {
                    "type": "string"
                  },
                  "taskID": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cin7core/latest/actions/create-sale-fulfillment-ship": {
      "post": {
        "operationId": "cin7core.create-sale-fulfillment-ship",
        "summary": "Create Sale Fulfillment Ship",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest/actions/create-sale-fulfillment-ship"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectionId",
                  "status",
                  "taskID"
                ],
                "properties": {
                  "connectionId": {
                    "type": "string",
                    "description": "The MindCloud connection ID for this app."
                  },
                  "lines[].ShipmentDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "shippingAddress.DisplayAddressLine1": {
                    "type": "string"
                  },
                  "lines[].Carrier": {
                    "type": "string"
                  },
                  "shippingAddress.DisplayAddressLine2": {
                    "type": "string"
                  },
                  "lines[].Box": {
                    "type": "string"
                  },
                  "shippingAddress.Line1": {
                    "type": "string"
                  },
                  "lines[].TrackingNumber": {
                    "type": "string"
                  },
                  "shippingAddress.Line2": {
                    "type": "string"
                  },
                  "lines[].TrackingURL": {
                    "type": "string"
                  },
                  "shippingAddress.City": {
                    "type": "string"
                  },
                  "lines[].IsShipped": {
                    "type": "boolean"
                  },
                  "shippingAddress.State": {
                    "type": "string"
                  },
                  "shippingAddress.Postcode": {
                    "type": "string"
                  },
                  "shippingAddress.Country": {
                    "type": "string"
                  },
                  "shippingAddress.Company": {
                    "type": "string"
                  },
                  "shippingAddress.Contact": {
                    "type": "string"
                  },
                  "shippingAddress.ShipToOther": {
                    "type": "boolean"
                  },
                  "lines[]": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "requireBy": {
                    "type": "string"
                  },
                  "shippingAddress": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "shippingNotes": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "taskID": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cin7core/latest/actions/get-sale": {
      "get": {
        "operationId": "cin7core.get-sale",
        "summary": "Get Sale",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest/actions/get-sale"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CombineAdditionalCharges",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "HideInventoryMovements",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeTransactions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "CountryFormat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalAttributes": {
                            "type": "object",
                            "properties": {
                              "additionalAttribute1": {
                                "type": "string"
                              },
                              "additionalAttribute10": {
                                "type": "string"
                              },
                              "additionalAttribute2": {
                                "type": "string"
                              },
                              "additionalAttribute3": {
                                "type": "string"
                              },
                              "additionalAttribute4": {
                                "type": "string"
                              },
                              "additionalAttribute5": {
                                "type": "string"
                              },
                              "additionalAttribute6": {
                                "type": "string"
                              },
                              "additionalAttribute7": {
                                "type": "string"
                              },
                              "additionalAttribute8": {
                                "type": "string"
                              },
                              "additionalAttribute9": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "baseCurrency": {
                            "type": "string"
                          },
                          "billingAddress": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "displayAddressLine1": {
                                "type": "string"
                              },
                              "displayAddressLine2": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "carrier": {
                            "type": "string"
                          },
                          "cOGSAmount": {
                            "type": "number"
                          },
                          "combinedInvoiceStatus": {
                            "type": "string"
                          },
                          "combinedPackingStatus": {
                            "type": "string"
                          },
                          "combinedPaymentStatus": {
                            "type": "string"
                          },
                          "combinedPickingStatus": {
                            "type": "string"
                          },
                          "combinedShippingStatus": {
                            "type": "string"
                          },
                          "combinedTrackingNumbers": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "creditNotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "creditNoteConversionRate": {
                                  "type": "number"
                                },
                                "creditNoteDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "creditNoteInvoiceNumber": {
                                  "type": "string"
                                },
                                "creditNoteNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "memo": {
                                  "type": "string"
                                },
                                "restockStatus": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "taskID": {
                                  "type": "string"
                                },
                                "tax": {
                                  "type": "number"
                                },
                                "total": {
                                  "type": "number"
                                },
                                "totalBeforeTax": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "currencyRate": {
                            "type": "number"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "customerCurrency": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "customerReference": {
                            "type": "string"
                          },
                          "defaultAccount": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalID": {
                            "type": "string"
                          },
                          "fulfilments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fulfillmentNumber": {
                                  "type": "number"
                                },
                                "fulFilmentStatus": {
                                  "type": "string"
                                },
                                "linkedInvoiceNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "pack": {
                                  "type": "object",
                                  "properties": {
                                    "lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "batchSN": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "box": {
                                            "type": "string"
                                          },
                                          "dimensionsUnits": {
                                            "type": "string"
                                          },
                                          "expiryDate": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "location": {
                                            "type": "string"
                                          },
                                          "locationID": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "nonInventory": {
                                            "type": "boolean"
                                          },
                                          "productCustomField1": {
                                            "type": "string"
                                          },
                                          "productCustomField10": {
                                            "type": "string"
                                          },
                                          "productCustomField2": {
                                            "type": "string"
                                          },
                                          "productCustomField3": {
                                            "type": "string"
                                          },
                                          "productCustomField4": {
                                            "type": "string"
                                          },
                                          "productCustomField5": {
                                            "type": "string"
                                          },
                                          "productCustomField6": {
                                            "type": "string"
                                          },
                                          "productCustomField7": {
                                            "type": "string"
                                          },
                                          "productCustomField8": {
                                            "type": "string"
                                          },
                                          "productCustomField9": {
                                            "type": "string"
                                          },
                                          "productHeight": {
                                            "type": "number"
                                          },
                                          "productID": {
                                            "type": "string"
                                          },
                                          "productLength": {
                                            "type": "number"
                                          },
                                          "productWeight": {
                                            "type": "number"
                                          },
                                          "productWidth": {
                                            "type": "number"
                                          },
                                          "quantity": {
                                            "type": "number"
                                          },
                                          "sku": {
                                            "type": "string"
                                          },
                                          "weightUnits": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "pick": {
                                  "type": "object",
                                  "properties": {
                                    "lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "batchSN": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "dimensionsUnits": {
                                            "type": "string"
                                          },
                                          "expiryDate": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "location": {
                                            "type": "string"
                                          },
                                          "locationID": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "nonInventory": {
                                            "type": "boolean"
                                          },
                                          "productCustomField1": {
                                            "type": "string"
                                          },
                                          "productCustomField10": {
                                            "type": "string"
                                          },
                                          "productCustomField2": {
                                            "type": "string"
                                          },
                                          "productCustomField3": {
                                            "type": "string"
                                          },
                                          "productCustomField4": {
                                            "type": "string"
                                          },
                                          "productCustomField5": {
                                            "type": "string"
                                          },
                                          "productCustomField6": {
                                            "type": "string"
                                          },
                                          "productCustomField7": {
                                            "type": "string"
                                          },
                                          "productCustomField8": {
                                            "type": "string"
                                          },
                                          "productCustomField9": {
                                            "type": "string"
                                          },
                                          "productHeight": {
                                            "type": "number"
                                          },
                                          "productID": {
                                            "type": "string"
                                          },
                                          "productLength": {
                                            "type": "number"
                                          },
                                          "productWeight": {
                                            "type": "number"
                                          },
                                          "productWidth": {
                                            "type": "number"
                                          },
                                          "quantity": {
                                            "type": "number"
                                          },
                                          "restockDate": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "restockLocationID": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "sku": {
                                            "type": "string"
                                          },
                                          "weightUnits": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "ship": {
                                  "type": "object",
                                  "properties": {
                                    "lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "boxes": {
                                            "type": "string"
                                          },
                                          "carrier": {
                                            "type": "string"
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "isShipped": {
                                            "type": "boolean"
                                          },
                                          "shipmentDate": {
                                            "type": "string"
                                          },
                                          "trackingNumber": {
                                            "type": "string"
                                          },
                                          "trackingURL": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "requireBy": {
                                      "type": "string"
                                    },
                                    "shippingAddress": {
                                      "type": "object",
                                      "properties": {
                                        "city": {
                                          "type": "string"
                                        },
                                        "company": {
                                          "type": "string"
                                        },
                                        "contact": {
                                          "type": "string"
                                        },
                                        "country": {
                                          "type": "string"
                                        },
                                        "displayAddressLine1": {
                                          "type": "string"
                                        },
                                        "displayAddressLine2": {
                                          "type": "string"
                                        },
                                        "line1": {
                                          "type": "string"
                                        },
                                        "line2": {
                                          "type": "string"
                                        },
                                        "postcode": {
                                          "type": "string"
                                        },
                                        "shipToOther": {
                                          "type": "boolean"
                                        },
                                        "state": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "shippingNotes": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "taskID": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "fulFilmentStatus": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inventoryMovements": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "cogs": {
                                  "type": "number"
                                },
                                "date": {
                                  "type": "string"
                                },
                                "dimensionsUnits": {
                                  "type": "string"
                                },
                                "productCustomField1": {
                                  "type": "string"
                                },
                                "productCustomField10": {
                                  "type": "string"
                                },
                                "productCustomField2": {
                                  "type": "string"
                                },
                                "productCustomField3": {
                                  "type": "string"
                                },
                                "productCustomField4": {
                                  "type": "string"
                                },
                                "productCustomField5": {
                                  "type": "string"
                                },
                                "productCustomField6": {
                                  "type": "string"
                                },
                                "productCustomField7": {
                                  "type": "string"
                                },
                                "productCustomField8": {
                                  "type": "string"
                                },
                                "productCustomField9": {
                                  "type": "string"
                                },
                                "productHeight": {
                                  "type": "number"
                                },
                                "productID": {
                                  "type": "string"
                                },
                                "productLength": {
                                  "type": "number"
                                },
                                "productWeight": {
                                  "type": "number"
                                },
                                "productWidth": {
                                  "type": "number"
                                },
                                "taskID": {
                                  "type": "string"
                                },
                                "weightUnits": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "invoices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "additionalCharges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "account": {
                                        "type": "string"
                                      },
                                      "comment": {
                                        "type": "object",
                                        "additionalProperties": true
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "discount": {
                                        "type": "number"
                                      },
                                      "price": {
                                        "type": "number"
                                      },
                                      "quantity": {
                                        "type": "number"
                                      },
                                      "tax": {
                                        "type": "number"
                                      },
                                      "taxRule": {
                                        "type": "string"
                                      },
                                      "total": {
                                        "type": "number"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "billingAddressLine1": {
                                  "type": "string"
                                },
                                "billingAddressLine2": {
                                  "type": "string"
                                },
                                "currencyConversionRate": {
                                  "type": "number"
                                },
                                "invoiceDate": {
                                  "type": "string"
                                },
                                "invoiceDueDate": {
                                  "type": "string"
                                },
                                "invoiceNumber": {
                                  "type": "string"
                                },
                                "lines": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "account": {
                                        "type": "string"
                                      },
                                      "averageCost": {
                                        "type": "number"
                                      },
                                      "comment": {
                                        "type": "string"
                                      },
                                      "dimensionsUnits": {
                                        "type": "string"
                                      },
                                      "discount": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "price": {
                                        "type": "number"
                                      },
                                      "productCustomField1": {
                                        "type": "string"
                                      },
                                      "productCustomField10": {
                                        "type": "string"
                                      },
                                      "productCustomField2": {
                                        "type": "string"
                                      },
                                      "productCustomField3": {
                                        "type": "string"
                                      },
                                      "productCustomField4": {
                                        "type": "string"
                                      },
                                      "productCustomField5": {
                                        "type": "string"
                                      },
                                      "productCustomField6": {
                                        "type": "string"
                                      },
                                      "productCustomField7": {
                                        "type": "string"
                                      },
                                      "productCustomField8": {
                                        "type": "string"
                                      },
                                      "productCustomField9": {
                                        "type": "string"
                                      },
                                      "productHeight": {
                                        "type": "number"
                                      },
                                      "productID": {
                                        "type": "string"
                                      },
                                      "productLength": {
                                        "type": "number"
                                      },
                                      "productWeight": {
                                        "type": "number"
                                      },
                                      "productWidth": {
                                        "type": "number"
                                      },
                                      "quantity": {
                                        "type": "number"
                                      },
                                      "sku": {
                                        "type": "string"
                                      },
                                      "tax": {
                                        "type": "number"
                                      },
                                      "taxRule": {
                                        "type": "string"
                                      },
                                      "total": {
                                        "type": "number"
                                      },
                                      "weightUnits": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "linkedFulfillmentNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "memo": {
                                  "type": "string"
                                },
                                "paid": {
                                  "type": "number"
                                },
                                "payments": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "account": {
                                        "type": "string"
                                      },
                                      "amount": {
                                        "type": "number"
                                      },
                                      "currencyRate": {
                                        "type": "number"
                                      },
                                      "dateCreated": {
                                        "type": "string"
                                      },
                                      "datePaid": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "reference": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "status": {
                                  "type": "string"
                                },
                                "taskID": {
                                  "type": "string"
                                },
                                "tax": {
                                  "type": "number"
                                },
                                "total": {
                                  "type": "number"
                                },
                                "totalBeforeTax": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "lastModifiedOn": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "manualJournals": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "note": {
                            "type": "string"
                          },
                          "order": {
                            "type": "object",
                            "properties": {
                              "additionalCharges": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "comment": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "discount": {
                                      "type": "number"
                                    },
                                    "price": {
                                      "type": "number"
                                    },
                                    "quantity": {
                                      "type": "number"
                                    },
                                    "tax": {
                                      "type": "number"
                                    },
                                    "taxRule": {
                                      "type": "string"
                                    },
                                    "total": {
                                      "type": "number"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "lines": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "averageCost": {
                                      "type": "number"
                                    },
                                    "backorderQuantity": {
                                      "type": "number"
                                    },
                                    "comment": {
                                      "type": "object",
                                      "additionalProperties": true
                                    },
                                    "dimensionsUnits": {
                                      "type": "string"
                                    },
                                    "discount": {
                                      "type": "number"
                                    },
                                    "dropShip": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "number"
                                    },
                                    "productCustomField1": {
                                      "type": "string"
                                    },
                                    "productCustomField10": {
                                      "type": "string"
                                    },
                                    "productCustomField2": {
                                      "type": "string"
                                    },
                                    "productCustomField3": {
                                      "type": "string"
                                    },
                                    "productCustomField4": {
                                      "type": "string"
                                    },
                                    "productCustomField5": {
                                      "type": "string"
                                    },
                                    "productCustomField6": {
                                      "type": "string"
                                    },
                                    "productCustomField7": {
                                      "type": "string"
                                    },
                                    "productCustomField8": {
                                      "type": "string"
                                    },
                                    "productCustomField9": {
                                      "type": "string"
                                    },
                                    "productHeight": {
                                      "type": "number"
                                    },
                                    "productID": {
                                      "type": "string"
                                    },
                                    "productLength": {
                                      "type": "number"
                                    },
                                    "productWeight": {
                                      "type": "number"
                                    },
                                    "productWidth": {
                                      "type": "number"
                                    },
                                    "quantity": {
                                      "type": "number"
                                    },
                                    "sku": {
                                      "type": "string"
                                    },
                                    "tax": {
                                      "type": "number"
                                    },
                                    "taxRule": {
                                      "type": "string"
                                    },
                                    "total": {
                                      "type": "number"
                                    },
                                    "weightUnits": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "memo": {
                                "type": "string"
                              },
                              "saleOrderNumber": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              },
                              "totalBeforeTax": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "phone": {
                            "type": "string"
                          },
                          "priceTier": {
                            "type": "string"
                          },
                          "quote": {
                            "type": "object",
                            "properties": {
                              "memo": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "total": {
                                "type": "number"
                              },
                              "totalBeforeTax": {
                                "type": "number"
                              }
                            },
                            "additionalProperties": false
                          },
                          "saleOrderDate": {
                            "type": "string"
                          },
                          "salesRepresentative": {
                            "type": "string"
                          },
                          "serviceOnly": {
                            "type": "boolean"
                          },
                          "shipBy": {
                            "type": "string"
                          },
                          "shippingAddress": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "contact": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "displayAddressLine1": {
                                "type": "string"
                              },
                              "displayAddressLine2": {
                                "type": "string"
                              },
                              "id": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "shipToOther": {
                                "type": "boolean"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "shippingNotes": {
                            "type": "string"
                          },
                          "skipQuote": {
                            "type": "boolean"
                          },
                          "sourceChannel": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "taxCalculation": {
                            "type": "string"
                          },
                          "taxRule": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "The MindCloud API key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "The API key or connection cannot access this action.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "The action failed unexpectedly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "code",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/universal/cin7core/latest/actions/get-sale-attachments": {
      "get": {
        "operationId": "cin7core.get-sale-attachments",
        "summary": "Get Sale Attachment",
        "externalDocs": {
          "url": "https://mindcloud.co/docs/universal/rest/cin7core/latest/actions/get-sale-attachments"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "query",
            "required": true,
            "description": "The MindCloud connection ID for this app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SaleID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated response fields to include.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "additionalAttributes": {
                            "type": "object",
                            "properties": {
                              "additionalAttribute1": {
                                "type": "string"
                              },
                              "additionalAttribute10": {
                                "type": "string"
                              },
                              "additionalAttribute2": {
                                "type": "string"
                              },
                              "additionalAttribute3": {
                                "type": "string"
                              },
                              "additionalAttribute4": {
                                "type": "string"
                              },
                              "additionalAttribute5": {
                                "type": "string"
                              },
                              "additionalAttribute6": {
                                "type": "string"
                              },
                              "additionalAttribute7": {
                                "type": "string"
                              },
                              "additionalAttribute8": {
                                "type": "string"
                              },
                              "additionalAttribute9": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "baseCurrency": {
                            "type": "string"
                          },
                          "billingAddress": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "displayAddressLine1": {
                                "type": "string"
                              },
                              "displayAddressLine2": {
                                "type": "string"
                              },
                              "line1": {
                                "type": "string"
                              },
                              "line2": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "additionalProperties": false
                          },
                          "carrier": {
                            "type": "string"
                          },
                          "cOGSAmount": {
                            "type": "number"
                          },
                          "combinedInvoiceStatus": {
                            "type": "string"
                          },
                          "combinedPackingStatus": {
                            "type": "string"
                          },
                          "combinedPaymentStatus": {
                            "type": "string"
                          },
                          "combinedPickingStatus": {
                            "type": "string"
                          },
                          "combinedShippingStatus": {
                            "type": "string"
                          },
                          "combinedTrackingNumbers": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "string"
                          },
                          "creditNotes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "creditNoteConversionRate": {
                                  "type": "number"
                                },
                                "creditNoteDate": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "creditNoteInvoiceNumber": {
                                  "type": "string"
                                },
                                "creditNoteNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "memo": {
                                  "type": "string"
                                },
                                "restockStatus": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "taskID": {
                                  "type": "string"
                                },
                                "tax": {
                                  "type": "number"
                                },
                                "total": {
                                  "type": "number"
                                },
                                "totalBeforeTax": {
                                  "type": "number"
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "currencyRate": {
                            "type": "number"
                          },
                          "customer": {
                            "type": "string"
                          },
                          "customerCurrency": {
                            "type": "string"
                          },
                          "customerID": {
                            "type": "string"
                          },
                          "customerReference": {
                            "type": "string"
                          },
                          "defaultAccount": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "externalID": {
                            "type": "string"
                          },
                          "fulfilments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fulfillmentNumber": {
                                  "type": "number"
                                },
                                "fulFilmentStatus": {
                                  "type": "string"
                                },
                                "linkedInvoiceNumber": {
                                  "type": "object",
                                  "additionalProperties": true
                                },
                                "pack": {
                                  "type": "object",
                                  "properties": {
                                    "lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "batchSN": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "box": {
                                            "type": "string"
                                          },
                                          "dimensionsUnits": {
                                            "type": "string"
                                          },
                                          "expiryDate": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "location": {
                                            "type": "string"
                                          },
                                          "locationID": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "nonInventory": {
                                            "type": "boolean"
                                          },
                                          "productCustomField1": {
                                            "type": "string"
                                          },
                                          "productCustomField10": {
                                            "type": "string"
                                          },
                                          "productCustomField2": {
                                            "type": "string"
                                          },
                                          "productCustomField3": {
                                            "type": "string"
                                          },
                                          "productCustomField4": {
                                            "type": "string"
                                          },
                                          "productCustomField5": {
                                            "type": "string"
                                          },
                                          "productCustomField6": {
                                            "type": "string"
                                          },
                                          "productCustomField7": {
                                            "type": "string"
                                          },
                                          "productCustomField8": {
                                            "type": "string"
                                          },
                                          "productCustomField9": {
                                            "type": "string"
                                          },
                                          "productHeight": {
                                            "type": "number"
                                          },
                                          "productID": {
                                            "type": "string"
                                          },
                                          "productLength": {
                                            "type": "number"
                                          },
                                          "productWeight": {
                                            "type": "number"
                                          },
                                          "productWidth": {
                                            "type": "number"
                                          },
                                          "quantity": {
                                            "type": "number"
                                          },
                                          "sku": {
                                            "type": "string"
                                          },
                                          "weightUnits": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "status": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "pick": {
                                  "type": "object",
                                  "properties": {
                                    "lines": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "batchSN": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "dimensionsUnits": {
                                            "type": "string"
                                          },
                                          "expiryDate": {
                                            "type": "object",
                                            "additionalProperties": true
                                          },
                                          "location": {
                                            "type": "string"
                                          },
                                          "locationID": {
[...]
